<?xml version="1.0" encoding="iso-8859-1" standalone="yes"?>
<MENU>
    <CONFIG>
        <NAME>08ces</NAME>
        <AVAILURL></AVAILURL>
        <UNITS>feet</UNITS>
        <EXHIBCONTACT>1</EXHIBCONTACT>
        <EXHIBPRODUCT>1</EXHIBPRODUCT>
        <BOOTHCOUNT>4009            </BOOTHCOUNT>
    </CONFIG>
</MENU>
