@charset "UTF-8";
/* contents-infomation layout setting ===================================================== */

#contents-infomation{
	width:202px;
	float:left;
	padding:0 0 1em 0;
	background:#1c378a;
}

/* contents-infomation div layout setting ===================================================== */

#contents-infomation div div{
	margin:1em 5px 1em;
	padding:3px 0 0;
	background:url("contents-infomation/bg_div.gif") no-repeat center top #FFF;
}

#contents-infomation div div h3{
	padding:0 2px;
}


#contents-infomation div div p,
#contents-infomation div div ul{
	padding:0 4px 3px;
	background:url("contents-infomation/bg_bg.gif") no-repeat center bottom;
	font-size:x-small;
	_font-size:xx-small;
	line-height:1.2em;
}



#contents-infomation div div ul li{
	padding:0.3em 0 0.3em 0.4em;
	margin:0 0 0 0.2em;
	text-indent:0;
	background:url("contents-infomation/mark_li.gif") no-repeat left 0.75em;
}
	

#contents-infomation div div ul li a{
	font-size:x-small;
	_font-size:xx-small;
}