@charset "UTF-8";


.list1 table .business{
	padding: 5px;
	color:#fff;
	font-weight:bold;
	background:#8AB510;
	display: block;
	margin: 0 0 5px;
	line-height: 1;
}

.list1 table .customer{
	padding: 5px;
	color:#fff;
	font-weight:bold;
	background: #F96400;
	display: block;
	margin: 0 0 5px;
	line-height: 1;
}

.section ul{
	list-style-type:disc;
	margin:0 0 10px 30px;
}

.section ul.mini{
	list-style-type:none;
	margin:0;
}

.cornerArea{
	padding: 0 0 35px;
}

.cornerArea .cornerTitle{
	line-height: 28px;
	color: #FFF;
	font-size: 14px;
	padding: 0 0 0 25px;
	background: url(img/cornertitle_bg.gif) 0 0 no-repeat;
	font-weight: bold;
}

.cornerArea .cornerTxt{
	background: url(img/cornertxt_bg.gif) 0 bottom no-repeat;
	padding: 10px;
}

.cornerArea .cornerTitle span.new{
	display:inline-block;
	position:relative;
	top: 4px;
}

.bold{
font-weight:bold;
}

.center{
text-align:center;
}

/*ロールオーバー*/
a.ticket1:hover {
background:url(img/ticket1.jpg) 0 -33px no-repeat;
text-decoration:none;
}
a.ticket1 {
display: block;
width: 339px;
height: 33px;
background: url(img/ticket1.jpg)  0 0 no-repeat;
overflow:hidden;
}
a.ticket2:hover {
background:url(img/ticket2.jpg) 0 -33px no-repeat;
text-decoration:none;
}
a.ticket2 {
display: block;
width: 273px;
height: 33px;
background: url(img/ticket2.jpg)  0 0 no-repeat;
overflow:hidden;
}
a.access:hover {
background:url(img/access1.jpg) 0 -33px no-repeat;
}
a.access {
display: block;
margin-left:208px;
width: 273px;
height: 33px;
background: url(img/access1.jpg)  0 0 no-repeat;
}
.ticket1 span,
.ticket2 span {
position:relative;
top: -3000px;
left: -3000px;
}
.access{
text-indent:-3000px;
}

.title{
margin-bottom:20px;
}

#mainL p.subTitle_list{
	margin:0 0 10px 0;
	padding:12px 5px;
	font-size:14px;
	line-height:1.5em;
	border-left:6px solid #d1d1d1;
	font-weight:bold;
}

.right{
float:right;
}

.list1 .subHead{
	display:block;
	float:left;
	width:7em;
}

.list1 .subText{
	display:block;
	float:left;
}

.list1 .option{
	display:block;
	clear:both;
}

.update{
	font-style:italic;
}

.scAttention{
	margin:0 0 5px 0;
	padding:3px 3px 3px 10px;
	color:#F00;
	border: #F00 1px solid;
	}
	
/* コスプレ */

.subArea{
	margin:0 15px 25px 15px;
	width:690px;
}

.section ul.sectionList{
	list-style-type:disc;
	margin:0 0 10px 20px;
}

.section ul.sectionList li{
	padding:0 0 8px 0;
}

.attentionArea{
	margin:0 0 10px 0;
	}
	
.cosnoteArea{
	margin:3px 0 0 0;
	padding:10px 20px 10px 20px;
	background-color:#f1f1f1;
	}
	
.coscomentTxt{
	padding:0 0 0 0;
	}	
	
.cosnoteTxt{
	padding:5px 0 0 0;
	font-size:10px;
	}	
	

/* お願い */
.moneyArea{
	margin:3px 0 0 0;
	padding:3px 3px 3px 10px;
	border:1px solid #BA0000;
	color:#BA0000;
	}
	
.subArea ul.attToparea{
	margin:0 0 0 0;
	padding:12px 15px 4px 28px;
	list-style-type:disc;
	border:1px solid #B80000;
	color: #B80000;
}

.subArea ul.attToparea li{
	padding:0 0 8px 0;
}

.smalFind{
	margin:0 0 10px 0;
	border-bottom:solid 1px;
	font-weight:bold;
	}

/* 整理券の配布について */

.section ul.sectionList2{
	list-style-type:disc;
	margin:0 0 10px 20px;
}

.section ul.sectionList2 li{
	padding:0 0 3px 0;
}

.list1 table.ticket th{
	width:180px;
}

.listHead{
	padding-bottom:5px;
}

.listHead .sub{
	float:left;
	font-weight:bold;
}

.listHead .link a{
	float:right;
	display:inline-block;
	padding:0 0 0 22px;
	background:url(../common/img/pdficon_small.gif) 0 0 no-repeat;
}

/* 公式グッズ */

.hall{
	margin:0 0 10px 0;
}

.sectionL{
	margin:0 5px 25px 5px;
}

.sectionImg{
	margin:0 0 25px 0;
}

/* ゲームで日本を元気に */

.charityHead{
	margin:0 0 10px 0;
}

a.stageLink{
	margin:0 auto;
	display:block;
	width:314px;
	height:33px;
	overflow:hidden;
	background:url(img/btn_event_stage.html) 0 0 no-repeat;
}

a:hover.stageLink{
	background:url(img/btn_event_stage.html) 0 -33px no-repeat;
}

.charityBooth{
	padding:10px 10px 0 10px;
}

.charityBooth table tr td{
	font-size:12px;
}

/* オフィシャルツアー */

.tourSection{
	margin:0 0 11px 0;
	border-bottom:1px dotted #ccc;
}

.tourTtl{
	float:left;
	margin:0 0 3px 0;
	width:150px;
	font-size:16px;
	font-weight:bold;
	}
	
.tourTtl_2w{
	float:left;
	margin:0 0 3px 0;
	width:150px;
	height: 70px;
	font-size:16px;
	font-weight:bold;
	}
	
.tourStay a{
	display:inline-block;
	padding:3px 10px 3px 20px;
	margin:0 10px 12px 0;
	font-weight:bold;
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background:#01a7d9 url(img/tour_arrow.gif) 5px 6px no-repeat;
}

.tourStay a:hover{
	color:#fff;
	text-decoration:none;	
	background:#2fcdfd url(img/tour_arrow.gif) 5px 6px no-repeat;
}

.tourStayOff{
	display:inline-block;
	margin:0 15px 12px 0;
	font-weight:bold;
	color:#01a7d9;
}

/* 飲食&ドリンクコーナー */

h3.food{
	margin:0 0 15px 0;
}

table.foodMenu{
	margin:0 0 8px 0;
}

table.foodMenu .th{
	padding:3px;
	font-size:12px;
	font-weight:bold;
	color:#ca7700;
	text-align:center;
	background:#fff9c7;
}

table.foodMenu .fTxt{
	padding:3px;
	font-size:10px;
	text-align:left;
	line-height:1.3em;
	background:#fff9c7;
}

table.foodMenu .mid{
	background:#fff17e;
}

.recom{
	display:inline-block;
	padding:1px 5px;
	margin-bottom:2px;
	background:#ffcc01;
}

.asia{
	display:inline-block;
	padding:1px 5px;
	margin-bottom:2px;
	background:#ff8a01;
}



/* 追加 */
.chPhotocopy_1{
	margin:0 0 5px 0;
	}
	
.chPhotocopy_2{
	margin:0 0 7px 0;
	font-size:14px;
	line-height:1.65em;
	text-align:center;
	}	

.chPhoto{
	margin:0 10px 10px 0;
	float:left;
	}
	
.chPhoto_end{
	margin:0 0 10px 0;
	float:left;
	}
		
.chPhotocopy_link{
	padding:10px 0 10px 0;
	text-align:center;
	}
	
a.artLink{
	margin:0 auto;
	display:block;
	width:390px;
	height:41px;
	overflow:hidden;
	background:url(img/btn_art.html) 0 0 no-repeat;
}

a:hover.artLink{
	background:url(img/btn_art.html) 0 -41px no-repeat;
}

.group_receptions {
	width: 264px;
	margin: 0 auto;
}
	
	
	
	
	
	
	
	
	
	
	
