/********************************Side Menu**********************************/


#side_menu{
	float: left;
	width: 243px;
}


#side_title{

	background-image:url(../images/side_top_s.gif);
	width: 243px;
	height: 88px;
	display: block;
	text-decoration: none;
}


.bts_t{

	background-image:url(../images/s_bt_top.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}

.bts_t a:hover{

	background-image:url(../images/s_bt_top_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}



.bts_t_1{

	background-image:url(../images/s_bt_top.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
	border: none;

}




.bts_t_1 a:hover{
	background-image:url(../images/s_bt_top_on.gif); 
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
}

.bts_t_1_on{
	background-image:url(../images/s_bt_top_on.gif); 
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
}


.bts_1{

	background-image: url(../images/s_bt_1.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_1_1{

	background-image: url(../images/s_bt1.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


.bts_1 a:hover{
	background-image: url(../images/s_bt_1_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_1_on {
	background-image: url(../images/s_bt_1_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


.bts_2{

	background-image: url(../images/s_bt_2_1.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_2_1{

	background-image: url(../images/s_bt_2_on_1.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_2 a:hover{

	background-image: url(../images/s_bt_2_on_1.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_3{

	background-image: url(../images/s_bt_3.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_3_on{

	background-image: url(../images/s_bt_3_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_3 a:hover{

	background-image: url(../images/s_bt_3_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


#side_bottom{

	background-image: url(../images/side_bottom_en.gif);
	width: 243px;
	height: 88px;
	display: block;
	text-decoration: none;
}

#side_bottom_bg{

	background-image: url(../images/side_bottom_bg.gif);
	width: 243px;
	height: 244px;
	display: block;
	text-decoration: none;
}
#side_info{
	margin: 10px 0px 0px 55px;
	width: 148px;
	height: 44px;
}

#side_b_mail a:link a:visited a:hover a:active{

	text-decoration: none;
	color: #000000;
	border: none;

}

.bts_t a:link,a:visited,a:active,.bts_1 a:link,.bts_2 a:link,a:visited,a:active,.bts_3 a:link,.bts_4 a:link,.bts_5 a:link,.bts_6 a:link{	

	text-decoration: none;
	border: none;
}


#contents_footer{
	background-image:url(../../images/page_footer.gif);
	width: 637px;
	height: 49px;
}

#top_bt{
	float: right;
	
	margin: 26px 0px 0px 0px;

}

/******************** overview **********************/


#contents_area{
	
	float: right;
	width: 657px;
	height: auto;
	
}

#contents_overview{

	background-image:  url(../images/page_bg.gif);
	width: 637px;
	height: auto;
	min-height: 500px;
	padding: 20px 0px 100px 0px;

}

#title_2{
	background-image: url(../images/page_title_2.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}

#title_3{
	background-image: url(../images/page_title_3.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}

#midashi_1{
	background-image: url(../images/en_title.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	width: 319px;
	height: 40px;


}

#midashi_2{
	background-image: url(../images/en_title_2.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	width: 319px;
	height: 40px;


}

#midashi_3{
	background-image: url(../images/en_title_3.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	width: 319px;
	height: 40px;


}

#midashi_4{
	background-image: url(../images/en_title_4.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	width: 319px;
	height: 40px;


}

.hyou_1{
	margin: 0px 0px 0px 30px;
	


}

.t{
	
	color:#009900;
	font-size: 14px;
	padding: 2px;
	font-weight: bolder;
}

.tp{

	font-size:12px;
	padding: 2px;

}

.naiyou{

	margin: 20px 0px 10px 30px;

}

.cap{
	margin: 0px 5px 0px 0px;
}

.ten{
	width: 10px;
}

/********************08/15ExtraNews***********************/


#contents_news{
	background-image:  url(../images/page_bg.gif);
	width: 637px;
	height: auto;
	min-height: 300px;
	padding-top: 10px;
}

#contents_news #text{

	font-size: 12px;
	padding: 0 28px 20px 44px;
}

#contents_news iframe{
	margin: 0 0 0 30px ;
	border: solid 1px #666666;
}

#title_news{
	background-image: url(../images/title_news.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}


/********************blog***********************/


#contents_blog{
	background-image:  url(../images/page_bg.gif);
	width: 637px;
	height: auto;
	min-height: 300px;
	padding-top: 10px;
}




.cap{
	margin: 0px 5px 0px 0px;
}


.NewsItem{
	margin: 0px 0px 0px 50px;
	padding: 10px 0px 0px 0px;
}


.day{
	float: left;
	font-size: 12px;
	width: 120px;
	text-align: left;
	background: url(../../images/cap.gif) no-repeat 1px;
	padding: 0 0 0 10px;
}

.Outline{
	clear: both;
	margin-left: 85px;
	
}

dd{
	font-size: 12px;
}

.title a:link,.title a:visited {
	font-weight: bold;
	 text-decoration: underline;
	 font-size: 14px;
	 
}


.title a:hover {

	 text-decoration: underline;
	 color: #666666;

}




dt{
	font-size: 12px;
	float: left;
	

}
.DotLine{
	background-image: url(../../images/line.gif);
	background-repeat: no-repeat;
	margin:10px 0px 0px 50px;
	width: 500px;
	height: 1px;

}



/******************************** Mail **********************************/


.mail_title{
	font-size:16px;
	font-weight: bold;
	color:#FFFFFF;
}

.mail{
	font-size: 8px;
	color: #FFFFFF;
	margin: 0px 0px 0px 0px;

}

.mail a:link{
	color: #fff;

}

.mail a:visited{
	color: #fff;

}

.mail a:hover{
	color: #ccc;

}

.mail_p{

color: #00CCFF;
}



/********************************  NEWS  **********************************/


#n_title{

	margin: 20px 0px 0px 90px;
}

.news_top{

	text-align: right;
	float: right;
	font-size: 12px;
	margin: 20px 15px 0px 0px;
}

.n_midashi{
	clear: both;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0px 0px 0px;

}

.n_t{
	margin: 20px 0px 0px 30px;

}

.n_p{
	text-align: left;
	font-size: 12px;
	width: 580px;
}
.n_note{
	color: #333333;
	font-size: 12px;
	margin: 5px 0px 0px 10px;
}
.box{
	margin: 20px 0px 0px 30px;
	text-align: left;
	width: 560px;
	padding: 10px;
}

.box_t{
	
	font-size: 14px;
	margin: 10px 0px 0px 0px;
}

.box_p{
	margin: 0px 0px 0px 15px;
	font-size: 12px;
	
}
.box td{
	
	text-align: left;
	font-size: 12px;
	vertical-align: top;
}

.td{
	width: 20px;
	text-align: center;
	
}
.n_td{

	width: 120px;
}





/******************** Regist **********************/

#contents_regist{
	background-image:  url(../images/page_bg.gif);
	width: 637px;
	height: auto;
	min-height: 300px;
	padding-top: 10px;
}


#contents_regist ol li{
	color:#666;
}

#title{
	background-image: url(../images/page_title.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}

#title_regist{
	background-image: url(../images/page_title_regist.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}

#m_title{
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0px 0px 0px;
}

.cap{
	margin: 0px 10px 0px 30px;
}

.contents_line{
	margin: 0px 0px 0px 30px;

}


#contents_list{
	background-image:  url(../images/page_bg.gif);
	width: 637px;
	height: auto;
	padding-top: 10px;
	min-height: 600px;
}

#contents_regist ul{
	margin: 0 0 0 50px;
}

#contents_regist ul ul{
	margin: 0 0 20px 20px;
}

#contents_regist ul ul{
	color: #666666;
}

#contents_regist li{
	font-size: 12px;
}

#contents_regist .text{
	margin: 10px 0 0 40px;
	font-size: 12px;
	padding: 0 50px 0 0;
}

#contents_regist .text span{
	font-size: 10px;
	color: #999999;
	background: url(../../images/kome.html) no-repeat 0px 3px;
	display: block;
	padding: 0 0 0 10px;
	
}

#contents_regist tr{
	border-bottom: dotted 1px #666666;
}

#contents_regist td{
	vertical-align: top;
	line-height: 1.6;
	
}

#contents_regist table{
	margin: 20px 0 0 0;
}


.text .note{
	color: #666666;
	font-size: 10px;
	display: block;
	margin: 10px 0 10px 0;
}

.text table{
	border: 1px dotted #CCCCCC;
	
}

.text td{
	border-bottom: 1px dotted #CCCCCC;
	padding: 10px;

}

.text strong{
	margin: 10px 0 10px 0;
	display: block;
}

#Last{
	
	border-collapse: collapse;
	font-size: 12px;
	border: solid 1px #333333;
	width:580px;
	margin: 20px 0 0 31px;
	text-align: center;
}
#Last .Title{
	background: #333333;
	color: #CCCCCC;
	border: #CCCCCC 1px solid;
}

#Last td{
		border: solid 1px #333333;
			height: 50px;
}