/* header --------------------------------------- */
#all-header {
	background:url(all-header/header_bg.gif) repeat-x;
	width:100%;
	height:60px;
	padding:0;
	margin:0;
	_text-align:center;
	overflow:hidden;
}
* html #all-header{	/* IE6 GIF */
	behavior: expression(IEPNGFIX.fix(this));

} 
#all-header ul {
	width:800px;
	margin:0 auto;
	_margin:0;
}
#all-header ul li {
	float:left;
	display:block;
}
#sega {
width:97px;
	padding:14px 0 0 0px;
}
#st {
width:81px;
	padding:19px 0 0 520px;
}
#sc {
width:87px;
	padding:20px 0 0 6px;
}
