@charset "utf-8";

/* -----------------------------------------------------------
CSS Information
File name:      style.css
----------------------------------------------------------- */

/* -----------------------------------------------------------
Overview 
attendee-info/index.html
----------------------------------------------------------- */

#overView{
	margin-top: 20px;
}



#overView th{

	text-align: center;
	padding: 10px 0 10px 2px;
	background: #fff;
	color: #666;
	vertical-align: text-top;
	font-weight: bold;

}

#overView td{

	vertical-align: text-top;
	padding: 0 0 0 6px;

}

#overView td strong{
	border: solid #666666 1px;
	color: #666;
	padding: 5px;
}


#details td .note,
#details td ul .note,
#details td ol .note{
	background: url(../common/note_cap.gif) no-repeat 0 0;
	padding: 0 0 0 12px;
}



/* -----------------------------------------------------------
Floor Plans
attendee-info/map.html
----------------------------------------------------------- */

#map{
	margin: 40px 0 0 0;
}


#map h3{
	 
	 font-size: 14px;
	 border-top: solid 1px #666;
	 border-bottom: solid 1px #666;
	 color: #333333;
	 padding:5px 0;
	 margin: 10px 0;
	 
}

#map p{
	color: #666;
	padding: 0 0 0 5px;
}



/*080929追加*/

#map #thum{
	padding: 0 0 20px 0;
	margin: 0px;
}


/* -----------------------------------------------------------
Exhibitors
attendee-info/list.html
----------------------------------------------------------- */

#list{
	margin: 40px 0 0 0;
}

#list iframe{
	border: #CCCCCC 1px solid;
}

#list h3{
	 font-size: 14px;
	 border-top: solid 1px #666;
	 border-bottom: solid 1px #666;
	 color: #333333;
	 padding:5px 0;
	 margin: 10px 0;
}

#list ul{
	color: #333333;
}

#list ul ul li{
	color:#666;
}

#day{
	text-align: right;
}

/* -----------------------------------------------------------
Events
attendee-info/events.html
----------------------------------------------------------- */



#events{
	
	margin-top: 40px;

}

#events h3{
	/* /////////////////////////////////////////////////08/08/07
	
	border-bottom: 1px #CCCCCC solid;
	border-top: 1px #CCCCCC solid;
	*/
	margin-top: 40px;
	margin-bottom: 10px;
	color: #666;
	
}

#events .logo{
 float:right;
}

#events dl{
	background: #f1f1f1;
	margin: 10px 0;
	padding: 10px;
	clear: both;
}

#events dt{
	font-weight: bold;
	color: #666666;
	border-bottom: 1px #CCCCCC dotted;
	font-size: 14px;
}

#events #photo_1{
	display: block;
	margin: 10px 0; 
}

#events table.artist{
    width:100%;
	border:1px #CCCCCC dotted;
	text-align:center;
}


#events table.artist td{
	border:1px #CCCCCC dotted;
	line-height:130%;
	text-align:center;
	pading:0px;
	margin:0px;
}

#events table.artist img{
	text-align:center;
}

/* -----------------------------------------------------------
Admission
attendee-info/ticket.html
----------------------------------------------------------- */

#ticket{
	margin: 40px 0 0 0;
	
	}

#ticket h3{
	  font-size: 14px;
	
	 color: #666;
	 padding:5px 0;
	 margin: 10px 0;
	 
}


#ticket h4{
	 font-size: 14px;
	 color: #666;
	 padding: 0 0 0 22px;
	 margin: 10px 0;
	 background: url(../common/yajirushi.gif) no-repeat 0 5px;
	 
}


#ticket th{

	vertical-align: text-top;
	padding: 10px 0 10px 2px;
	background: #fff;
	color: #666;
	text-align: center;

}

#ticket td{

	vertical-align: text-top;
	padding: 0 0 0 6px;

}

#ticket ol ul{

	margin-left: 0;
}

#ticket ol ul li{
	list-style: none;



}

#ticket ol{
color:#666666;
}

#ticket ol li{
	border-bottom: #eee 1px solid;
}


#ticket dl{
margin-bottom: 20px;
}

#ticket dt{
	font-weight: bold;
	color: #fff;
	background: #666;
	padding: 0 0 0 5px;
	margin-top: 10px;
	
}

#details #ticket table {
	width: 735px;
	text-align: left;
	border-top: #ccc 1px solid;
	border-bottom: #ccc 1px solid;
	margin: 5px 0 0 0;
}

/* -----------------------------------------------------------
Travel
attendee-info/travel.html
----------------------------------------------------------- */

#access{
	margin: 40px 0 0 0;
	
	}

#access h3{
	 font-size: 14px;
	
	 color: #333333;
	 padding:5px 0;
	 margin: 20px 0;
	 display: block;
	 
}


#access h4{
	 font-size: 12px;
	 color: #666;
	 padding: 5px 0 5px 5px;
	 border-bottom: solid 1px #ccc;
	 margin: 10px 0;
	 
}


#access th{

	text-align: center;
	padding: 10px 0 10px 2px;
	background: #fff;
	color: #666;
	vertical-align: middle;

}

#access td{

	vertical-align: middle;
	padding: 0 0 0 6px;

}

#access #flashcontent{
	margin: 20px 0;
	width:734px;
	height: 350px;
	margin: 10px 0;
	border: #999999 3px solid;
	background: #f1f1f1;
	
	}


/* -----------------------------------------------------------
TGS Forum
attendee_info/forum.html
----------------------------------------------------------- */


#forum{
	
	display: block;
	margin: 40px 0 20px 0;
	clear: both;

}

#forum h3{
 clear: both;
 font-size: 14px;
}

#forum h4{
	background: #999999;
	color:#FFFFFF;
	padding:  0 0 0 5px;
}

#forum .floatR{
	margin: 10px 0;
}

#forum .note{
	background: url(../common/note_cap.gif) no-repeat 0 6px;
}

#details #forum table{
	margin-top: 20px;
	border: #ccc solid 1px;
	clear:both;
}

#forum .name{
	font-weight: bold;
	color: #666666;
	padding: 0 0 0 0;
}


#details #forum #timeTable table{
	margin-top: 10px;
	margin-bottom: 5px;
	border-color: #ccc;
	border-right: #ccc solid 1px;
	
}

#details #forum h4{
	margin-top: 10px;
}

/*////////////

	Work Shop

////////////*/

#details #forum #workShop h4{
	
}

#details #forum #workShop h4 span{
	font-size: 12px;
	display: block;

}

#details #forum #workShop th{
	text-align: center;
	background: #EBF0F3;
	color:#666;
	vertical-align: middle;
	border: #ccc solid 1px;
	width: 60px;
}

#details #forum td{
	width:86%;
	padding: 5px;
}

/*////////////

	TimeTable

////////////*/

#details #forum #timeTable td{

	padding: 5px 6px;
	border-color: #ccc;
}

#details #forum #timeTable th{
	text-align: center;
	background: #fdedea;
	color:#666;
	vertical-align: middle;
	border: #ccc solid 1px;

}


#details #forum .tTitle{
	width:14%;
	background: #eee;
	text-align: center;
}

#contact{
	background: #fffff1;
}

#details #forum #timeTable .Category{
	width: 320px;
	border-right: #ccc solid 1px;
}

#details #forum #timeTable .btn{
	float:right;
}

#details #forum #timeTable .Category img,
#details #forum #timeTable .CategoryT img{
	margin-right: 5px;
}

#details #forum #timeTable .Category h5,
#details #forum #timeTable .CategoryT h5{
 font-weight: bold;
 font-size: 14px;
 color:#666;
	float: left;
	margin-top: 5px;
}

.free{
	background: url(images/free.gif) no-repeat right;
	padding: 10px 50px 0 0;
	height: 40px;
	vertical-align: middle;
}


/*////////////

	Forum詳細

////////////*/

#details #forum #detailInfo{
	margin-top: -20px;
}

#details #forum #detailInfo table{
	clear: both;
}

#details #forum #detailInfo th{
	text-align: left;
	font-size: 14px;
	height: 20px;
	width:60px;
	}

#details #forum #detailInfo h5{
	float: left;
	font-weight: bold;
	color: #333;
	font-size: 18px;
	margin-top: 60px;
	display:block;
}


#details #forum #detailInfo .backNavi{
	float: right;
	margin-top: 96px;
	display: block;
}

#details #forum #detailInfo h5 img{
	vertical-align: middle;
		margin: 0 10px 5px 0px;
}

#details #forum #detailInfo h5 .backTonavi{
text-align: right;
}

#details #forum #detailInfo th img{
	float: right;
	margin-left: 20px;
}

#details #forum #detailInfo .Price{
	text-align: right;
}


#details #forum #detailInfo .Time{
	color: #666666;
	font-weight: bold;
}

#details #forum #detailInfo strong{
	font-size: 14px;
	color:#666;
	display: block;
	padding: 0 0 0 0;
}

#details #forum #detailInfo strong span{
	color:#666;
	font-weight: normal;
	background: #eee;
	display: block;
	padding: 5px;
}

#details #forum #detailInfo .register{

}

#details #forum #detailInfo .tlanslate{
	float: right;
}

#details #forum #detailInfo .photo{
	float: right;
	margin: 5px 5px 5px 15px;
}

#details #forum #detailInfo .speaker .profile{
	text-align: left;
	font-size: 10px;
	background: #eee;
	display:block;
	padding: 5px;
	clear: both;
}

#details #forum #detailInfo .speaker .note{
	text-align: left;
}

#details #forum #detailInfo .DotLine{
	border-bottom: #CCCCCC dotted 1px;
	width: 100%;
	display: block;
	height: 1px;
	margin: 20px 0;
}

#details #forum #detailInfo .speaker{
	text-align: center;
	width:25%;
	border: dotted 1px #CCCCCC;
}


#details #forum #detailInfo .speaker .company{
	font-weight: bold;
	line-height: 1.2;
	display: block;
	margin: 10px 0;
	color: #666666;
}


#details #forum #detailInfo #ceo p{
	text-align: center;
	display: block;
	margin: 0 0 0 0;
	line-height: 1.4;
}

#details #forum #detailInfo #ceo .profile{
	float: right;
}

#details #forum #detailInfo #ceo img{


	margin-bottom: 10px;
}


/* -----------------------------------------------------------
Match up
attendee_info/matchup.html
----------------------------------------------------------- */


#matchUp iframe{
	border: #CCCCCC 1px solid;
	margin: 30px 0;
}
