@charset "UTF-8";


.dtlBox{
	padding:0;
}

#newsArea dt{
	float:left;
	display:block;
	width:90px;
	padding:15px 0;
	font-weight:bold;
}

#newsArea dd{
	display:block;
	padding:15px 0 15px 112px;
	border-bottom:1px dotted #ccc;
}


ul.downloadList{
	margin:0;
	padding:0 0 25px 0;
	list-style:none;
}

ul.downloadList li{
	font-size:12px;
	padding:15px 0;
	font-weight:bold;
	overflow:hidden;
	_zoom:1;
	border-bottom:1px dotted #ccc;
}

ul.downloadList li span.date{
	float:left;
	display:block;
	width:90px;
}

ul.downloadList li span.content{
	float:left;
	display:block;
	width:578px;
	padding:0 0 0 22px;
	background:url(../common/img/pdficon_small.gif) 0 0 no-repeat;
	font-weight:normal;
}






ul.accLists{
	list-style-type:disc;
	margin:0 0 10px 15px;
}

ul.accLists li{
	margin:0 0 5px 0;
}

.accHead{
	overflow:hidden;
	_zoom:1;
	padding:0 0 10px 0;
}

.stay{
	float:left;
	margin:0 15px 5px 0;
	width:560px;
}

.staylogo{
	float:left;
	margin:0 0 20px 0px;
	width:115px;
}

.staytitle{
	font-size:14px;
	font-weight:bold;
}

.accLink{
	text-align:center;
	margin-bottom:10px;
}

a.reservation {
	display: block;
	margin:0 auto;
	width: 194px;
	height: 33px;
	background: url(img/Reservations_btn.gif)  0 0 no-repeat;
}

a.reservation:hover {
	background:url(img/Reservations_btn.gif) 0 -33px no-repeat;
}

.address{
	padding:10px 0 15px 0;
}

.address a{
	font-style:oblique;
}










.dlBox{
padding:0px;
margin:0px;
text-align:center;
vertical-align:bottom;
}
.dlBox p{
font-size:12px;
font-weight:bold;
padding:0px;
margin:0px;
line-height:150%;
}
.dlBox p span{
padding:0 0 0 10px;
margin:0;
vertical-align:middle;
}

.dlBox p span a{
text-decoration:none;
padding:0;
}

.dlBox p span a img{
position:relative;
top:5px;
}

.contactBox{
background:#f2ede9;
margin:15px;
padding:10px 15px;
}

.contactBoxTtl{
font-size:14px;
font-weight:bold;
padding-bottom:5px;
}

.contactBoxTxt{
font-size:16px;
}
.contactBoxTxt span{
font-size:12px;
}

/* メディア登録について */
.mediatopArea{
	margin:0 15px 25px 15px;
	width:690px;
}

.pressArea{
	margin:3px 0 0 0;
	padding:10px 20px 10px 20px;
	background-color:#f1f1f1;
	}
	
.pressTxt{
	padding:0 0 0 0;
	}	
	
.prenoteTxt{
	padding:5px 0 0 0;
	font-size:10px;
	}	
	
.pressMessage{
	color:#cc086b;
	}