@charset "utf-8";

/* ----------------------------------------
	タイトル部分（カテゴリ毎で指定する）
---------------------------------------- */

#pankuzu {
	width: 180px;
	background: url(../img/banner/pankuzu_bg.png);
}

h2 {
	background: url(../img/banner/title_bg.png);
}

#contents_inner a {
	color: #918282;
}

#contents_inner h3 {
	color: #918282;
}



/* ----------------------------------------
	banner.html 
---------------------------------------- */


