@charset "utf-8";

/* ----------------------------------------
	タイトル部分（カテゴリ毎で指定する）
---------------------------------------- */

#pankuzu {
	width: 180px;
	background: url(../img/banner/pankuzu_bg.png);
}

h2 {
	background: url(../img/banner/title_bg.png);
}


/* ----------------------------------------
	sitemap.html 
---------------------------------------- */

#sitemap_directry {
	margin: 20px 50px;	
} 

#sitemap_directry table {
	width: 100%;
	border-top: 1px solid #C8D2D2;
}

#sitemap_directry table th, #sitemap_directry table td  {
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

#sitemap_directry table th, #sitemap_directry table td  {
	border-bottom: 1px solid #C8D2D2;
}

#sitemap_directry table a {
	font-weight: bold;	
	text-decoration: none;
}

#sitemap_directry table a:hover {	
	text-decoration: underline;
}

.link_index {
	color: #918282;
}

.link_outline {
	color: #14A0BE;
}

.link_public {
	color: #E11E5A;
}

.link_buyer {
	color: #641E82;
}

.link_press {
	color: #3C8278;
}

.link_kidslife {
	color: #FA781E;
}

.link_banner {
	color: #918282;
}

.link_sitemap {
	color: #918282;
}



