/********************************Side Menu**********************************/


#side_menu a {
text-decoration: none;
}


#side_menu{
	float: left;
	width: 243px;
}


#side_title{

	background-image:url(../images/side_top.gif);
	width: 243px;
	height: 88px;
	display: block;
	text-decoration: none;
}


.bts_t{

	background-image:url(../images/s_bt_top.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}

.bts_t_regist{

	background-image:url(../images/s_bt_regist.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}

.bts_t_regist a:hover{
	background-image:url(../images/s_bt_regist_on.gif); 
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

#side_menu .bts_t_regist_on{

	background-image:url(../images/s_bt_regist_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}



.bts_t_tgs{

	background-image:url(../images/s_bt_tgs.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}


.bts_t_tgs a:hover{
	background-image:url(../images/s_bt_tgs_on.gif); 
	width: 243px;
	height: 46px;
	display: block;
}

.bts_1{

	background-image: url(../images/s_bt_b2b.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_1 a:hover{

	background-image: url(../images/s_bt_b2b_on.gif);
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}



.bts_match{
	background-image: url(../images/s_bt_match.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
	
}

.bts_match a:hover{

	background-image: url(../images/s_bt_match_on.gif);
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_match_on{
	background-image: url(../images/s_bt_match_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
	
}

#side_bottom{

	background-image: url(../../images/side_bottom.gif);
	width: 243px;
	height: 88px;
	display: block;
	text-decoration: none;
}

#side_bottom_bg{

	background-image: url(../images/side_bottom_bg.gif);
	width: 243px;
	height: 244px;
	display: block;
	text-decoration: none;
}
#side_info{
	margin: 10px 0px 0px 56px;
	width: 148px;
	height: 44px;
}

#side_b_mail a:link a:visited a:hover a:active{

	text-decoration: none;
	color: #000000;
	border: none;

}

.bts_t a:link,a:visited,a:active,.bts_1 a:link,.bts_2 a:link,a:visited,a:active,.bts_3 a:link,.bts_4 a:link,.bts_5 a:link,.bts_6 a:link{	

	text-decoration: none;
	border: none;
}


/********************************Forum**********************************/

#contents{
	width: 900px;

}

#contents_area{
	
	 float: right;
	 width: 657px;
	 height: auto;
	
}

#contents_area .p1{
	font-size: 12px;
	margin: 10px 0 10px 40px;
	padding: 0 60px 0 0;
}

#title{
	background-image: url(../images/page_title_register.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}

#title_cosp{
	background-image: url(../images/page_title_cosp.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}



#contents_s{
	background-image:  url(../images/page_bg.gif);
	width: 637px;
	height: auto;
	min-height: 200px;
	padding: 20px 0px 100px 0px;

	
	
}
.midashi{
	float: left;
	font-size: 12px;
	text-align: center;
}

.p{
	font-size: 12px;
	margin: 10px 0px 0px 30px;
	_margin: 20px 0px 0px 20px;
	text-align: left;
	float: left;
	width: 350px;
	
}

.photo{
	float: right;
	margin: 10px 60px 0px 0px;
	_margin: 10px 30px 0px 0px;

}

#contents_footer{
	background-image:url(../images/page_footer.gif);
	width: 637px;
	height: 49px;
}

.p_sozai{
	margin: 0px 5px;

}

.naiyou{
	margin: 0px 0px 0px 40px;
	
}
tr{
	font-size: 12px;
	border: 15px;
	margin-top: 10px;
}

td{
	height: 20px;
	padding: 10px 0px 0px 10px; 
}


#top_bt{
	float: right;
	
	margin: 26px 0px 0px 0px;

}

.contents_line{
	margin: 0px 0px 0px 30px;

}


.kouen{
	font-size: 12px;
	margin: 10px 0px 0px 40px;
}

.kouen_2{
	font-size: 12px;
	margin: 10px 0px 0px 50px;
}



.cap{
	margin: 0px 10px 0px 30px;
}




/*/////////////regist///////////////////*/

#regist{

	margin: 0 0 0 40px;
	padding: 0 60px 0 0;
}

#contents_s h2{

	background: url(../../images/cap.gif) no-repeat 5px;
	font-size: 14px;
	padding: 0 0 0 14px;
	margin: 10px 0 0 0;
	font-weight: bold;
}

#regist strong{
	text-align: left;
	font-size: 12px;
	color: #666666;
}

#regist p{
	text-align: left;
	font-size: 12px;
	margin: 10px 0 0 0;
}

#regist ul{
	margin: 20px 0 0 0;

}


#regist strong{
	margin: 10px 0 10px 0;
}


#regist ul,li{
	font-size: 12px;
	list-style: circle;
}

#regist li{
	margin: 10px 0 0 15px;
}