@charset "utf-8";
/* CSS Document */
.title_logo_img h3{
	color: #100055 !important;
display: block;
	xxxbackground-color: #100055 !important;
	font-size: 2em;
	padding: 0%;
	font-weight: bold;
	margin-top: 2%;
;

}
.cyu{
width: 90%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	
}
.contents_main_title,.contents_main_title2{
width:100%;
			padding-bottom: 3%;
	
}
.contents_main_title h3,.contents_main_title2 h3{
color: #fff !important;
display: block;
	background-color: #00ABFF;
	font-size: 15pt;
	padding: 2%;


}

.icon,.icon2{

	width: 10% !important;
	display: inline-block;
	margin-left: 2%;
}
.icon img,.icon2 img{width: 100%;
letter-spacing: 0;
}

	.icons,.icons2{
		margin-top: 2%;
	width: 100% !important;
		text-align:left;
		display: inline-block;
}
	.icons_s{
	width: 21% !important;
		text-align: right;
		display: inline-block;
}
	

.contents_main_title h4{
	width: 50%;
	font-size: 15pt;
	padding: 2% 0 2% 0;
	display: block;
}
#title_info{
	background-color:#00ABFF ;
	color: #fff;
	
}
.table1{
	border-top: 1px #fff solid!important;
		margin: 0px;
	padding: 0px;
		border-bottom: 1px #fff solid!important;

}
.tables{

	list-style: none;
	margin: 0px;
	padding: 0px;
}

.tb_l{
width: 100%;
	padding: 2%;

		margin: 0px;

}
.tb_r{
width: 100%;
	padding: 2%;
		background-color:#155BBB;
		margin: 0px;
}
.title_info_right_img{border: solid 1px #fff;}
.youtube2 {
border: solid 1px #fff;
	position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.youtube2 iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.main_vj{
	width:92% !important;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	
	}
.main_vj img{
width:100%; 	
}
.main_vj h4{
font-weight: bold;
	font-size: 1.8em;
	color:#00ABFF;
	margin: 2% 0 1% 2%;
	width: 100%;
	line-height: 130%;
	display: inline;

}


#title_info_right{
padding-top: 2%!important;
	width: 92%;
	margin-left: auto;
	margin-right: auto;
}
#title_info_right img{
	width: 100%;
}


#title_copy{
padding-left: 2%;
padding-right: 2%;
	padding-bottom: 2%;
	line-height: 150%;
}

	#info_etc{

		padding-top: 2% !important;
		padding-bottom: 2% !important;
	}	
	.info_etc_r{
display: inline-block;	
		width: 18%;
					vertical-align: top;
	}
	.info_etc_l{
		display: inline-block;
				width:80%;
		vertical-align: top;
	}

.platform{
		width: 100px !important;
		display: inline-block;
	
		
	}

#title_novelty{
		margin-top: 2%;
		width:100% !important;
		margin-left: auto;
	margin-right: auto;
						background-color: #CB8586;
	}
	#title_novelty_main{

		
	}
#title_novelty_main h4{
	display: block;
	background-color: #AC0404;
	color: #fff;
	padding: 2%;
	margin: 0;
	font-size: 1.1em;
	height: auto;
			margin: 0 0 2% 0 ;
}
#title_novelty_main img{
width: 100%;
	
}

.title_novelty_text{
width: 96%;
	margin-left: auto;
	margin-right: auto;
	
}



/* ▼キャプション付き画像全体を囲むボックスの装飾 */

#title_novelty figure {
    display: inline-block;   /* インラインブロック化 */
    margin: 0px 3px 7px 0px; /* 外側に余白を追加(※右に3px・下に7px) */
	vertical-align: top;
	

		width: 32.5%;/* 背景色 */
}
#title_novelty  figure:first-child {
   margin: 0px 3px 7px 3px; /* 外側に余白を追加(※右に3px・下に7px) */

}


/* ▼画像に対する装飾 */
#title_novelty  figure img {
    display: block;          /* 余計な余白が出ないようにする */
	border: 1px #666666 solid;
    margin: 0px 0px 3px 0px; /* 下側にだけ3pxの余白を追加 */

}

/* ▼キャプションに対する装飾 */
#title_novelty  figcaption {
    font-size: 0.9em;        /* 文字サイズを90%に */
    text-align: center;      /* 中身をセンタリング */
}
.map_area{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 1px #000 solid;
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px ) {}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) {
	
.contents_main_title,.contents_main_title2{
width:92%;
	margin-left: auto;
	margin-right: auto;
		background-color: #00ABFF !important;

	border-bottom: solid 1px #fff;
	padding-bottom: 8px;



}
.main_vj{
		width:92% !important;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
		padding-top: -5px;
	
	}
	#title_info{
			width:92% !important;
		margin-left: auto;
	margin-right: auto;
				background-color: #00ABFF !important;
			float: none;
clear: both;

	}
	#title_info_left{
		width: 48% !important;
		display: inline-block;
		float: left;
		margin-left: 1% !important;
		margin-top: 1.5% !important;
	}

	#title_info_right{
		width: 48% !important;
		display: inline-block;
		margin-left: 1.5% !important;
		margin-top: 0% !important;

	
	}

	.cl{
		float: none;
clear: both;
	}
	.contents_main_title h3{
width: 60%;
	color: #fff !important;
display: inline-block;
	vertical-align:top;

	font-size: 1.5em !important;
	padding: 0%;
	padding-left: 1%;
		padding-top: 22px;
}
	
	
		.contents_main_title2 h3{
width: 80%;
	color: #fff !important;
display: inline-block;
	vertical-align:top;

	font-size: 1.5em !important;
	padding: 0%;
	padding-left: 1%;
		padding-top: 22px;
}
	
	.contents_main_title h3.ss{
width: 78%;
	color: #fff !important;
display: inline-block;

	font-size: 15pt;
	padding: 0%;
	padding-left: 1%;
}

	
	
	.icons{
	width: 38% !important;
		text-align: right;
		display: inline-block;
		margin: 0 !important;
		padding: 0;
		padding-top: 10px;
}
	.icons2 img{width: 43px !important;
	}
	
	.icons2{

	width: 16% !important;
		text-align: right;
		display: inline-block;
		margin: 0 !important;
		padding: 0;
		padding-top: 10px;


}
	
	.icons_s{
	width: 21% !important;
		text-align: right;
		display: inline-block;
}
	
.icon,.icon2{
width:50px !important;
	display: inline-block;
}
	.icon,.icon2{letter-spacing: 0;}
.contents_main_title h4{
	font-size: 15pt;
	padding: 0 !important;
}
	.main_vj h4{
			padding: 0 !important;
			font-size: 1.8em;
		line-height: 120%;
		margin-left: 0px;
		display: block;
		margin: 0 !important;
		padding-top: 12px !important;
		padding-bottom: 5px !important;		
		height: auto;

	}	
	
#title_info{


	color: #fff;
	
}
.table1{
	border-top: 1px #fff solid!important;
		margin: 0px;
	padding: 0px;
		border-bottom: 0px #fff solid!important;

}
.tables{
	border-bottom: 1px #fff solid;
	list-style: none;
	margin: 0px;
	padding: 0px;

}

	
	
.tb_l{
width: 30%;
	padding: 2%;
	margin: 0px;
	display: inline-block;
	vertical-align:middle;


}
.tb_r{
width: 69%;
	padding: 2%;
margin-left: -5px;
		display: inline-block;

	background-color: transparent;
		display: inline-block;
	vertical-align:middle;
}	
	#info_etc{

		padding-top: 2% !important;
		padding-bottom: 2% !important;
	}	
	.info_etc_r{
display: inline-block;	
		width: 18%;
					vertical-align: top;
	}
	.info_etc_l{
		display: inline-block;
				width:80%;
		vertical-align: top;
	}
	.platform{
		width: 65px !important;
		display: inline-block;
	
		
	}
	.cero{
		width: 82px !important;
		display: inline-block;
		

	}
	
#title_novelty{
		margin-top: 2%;
		width:92% !important;
		margin-left: auto;
	margin-right: auto;
						background-color: #CB8586;
	}
	#title_novelty_main{
		padding: 0%;
	}
#title_novelty_main h4{
	display: block;
	background-color: #AC0404;
	color: #fff;
	padding: 10px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.title_novelty_text{
padding: 10px;	
		margin-top: -20px;}

}

/* Large devices (large desktops, 1300px and up) */
@media (min-width: 1300px ) {
	
	.main_vj{
	width:92% !important;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1%;
	
	}
}