@charset "utf-8";
/* ****************************************************************** 

	@This stylesheet Information{
		ファイル：forum.css
		最終更新：2010年07月26日
		主な内容：TGS Forum 2010 用
	}

****************************************************************** */

.alertbox {
	border: 3px solid #eee;
	background: url(../img/common/alert_icon_s.png) no-repeat 20px 20px;
	padding: 28px 20px 20px 70px;
	font-size: 16px;
	color: #555;
}

div#main .topnotice {
	width: 940px;
	height: 60px;
	margin: 0 0 0 20px;
	background: #036 ;	
} 

div#main .topnotice p.btn  {
	width: 200px;
	padding:10px 0 0 95px;
	float: left;
	text-align: left;
	font-size: 12px;
} 

div#main .topnotice p {
width: 570px;
	padding: 10px 20px;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	float: left;	
} 


div#main .topimg {
	width: 960px;
	height: 240px;
	margin: 0 0 0 20px;
	background: url(../img/business/forum2010_head2.jpg) no-repeat left;
} 



div#main .topimg p {
	padding: 65px 40px 0 230px;
	text-align: left;
	font-size: 12px;
	line-height: 1.2;
} 

div#main .topimg p.btn {
	padding: 15px 45px 0 250px;
	text-align: right;
} 

div#main .topimg-agbs {
	width: 960px;
	height: 240px;
	margin: 0 0 0 20px;
	background: url(../img/business/agbs_head2.jpg) no-repeat left;
} 

div#main .topimg-agbs p {
	width: 480px;
	padding: 135px 40px 0 190px;
	float: left;
	text-align: left;
	font-size: 12px;
} 
div#main .topimg-agbs p.btn {
	width: 200px;
	padding:140px 0 0 0;
	float: left;
	text-align: left;
	font-size: 12px;
} 

div.article th {
	background-color: #f7f8fa;
	color: #333 !important;
}

div.sessions {
	margin-top: 30px;
}

div.article td.time {
	width: 3em;
	text-align: center;
	vertical-align: top;
	border-right: 1px dotted #666;
	background-color: #f7f8fa;
}

div.article td.time,
div.article td.leftcell {
	border-right: 1px dotted #666;
}

div.article img.free {
	vertical-align: -0.4em;
	margin-left: 0.5em;
}

div.sessions h3 div.free {
	background: url(../img/business/free.png) no-repeat 0 13px;
	padding-left: 50px;
}

div.article h3, div.cmcontent h5 {
	position: relative;
}

div.article a.right {
float: right;
	width: 62px;
	display: block;
}

div.article img.right {
float: right;
	width: 62px;
	display: block;
}



div.sessions a.right {
position: relative;
	width: 190px;
	right: 12px;
	top: 8px;
}


div.sessions img.right {
	width: 140px;
	right: 12px;
	top: 8px;
}

div.sessions ul {
	list-style: none;

}

div.sessions ul li {
	margin: 0 0 10px 0;
}

div.sessions ul li.bold{
	margin: 0 0 10px 0;
	font-weight: bold;
}

div.sessions ul li ul {
	font-size: 93%;
	margin: 5px 0 0 12px;
	font-weight: normal;
	
}
div.sessions ul li ul li {
	font-weight: normal;
	line-height: 1.2;
}

div.cmcontent td ul {
	margin-left: 20px;
	font-size: 93%;
}

div.cmcontent td p {
	text-indent: 0;
	font-size: 93%;
	margin-bottom: 0.5em;
	line-height: 1.5;
}


div.cmcontent h1 {
	color: #0d5a9c;
}

h2#programlist {
	font-size: 18px;
	margin-top: 30px;
	line-height: 2.5em;
	background: #346 url(../img/business/h2bg.png) repeat-x;
	color: #fff;
	padding-left: 15px;
}

div.cmcontent h2 {
	color: #346;
	margin-top: 15px;
	padding-left: 15px;
}

div.sessions h3 {
	font-size: 128.57%;
	margin-bottom: 0 !important;
	border-top: 2px solid #aaa;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 0 0 1px 15px;
	line-height: 65px; height:65px;
	overflow: hidden;
	background: #e0dfe0 url(../img/business/h3bg.png) repeat-x;
	clear: both;
}

div.sessions h5 { /* date */
	margin-top: 0 !important;
	padding: 1px 0 0 15px;
	border-right: 1px solid #369;
	border-left: 1px solid #369;
	border-bottom: 1px solid #369;
	background: #369;
	font-weight: normal;
	line-height: 35px; height: 35px;
	color: #fff;
}

div.sessions h5 span.right { /* date */
	position:relative;
	float: right;
	text-align: center;
	margin-top: 0 !important;
	padding: 0 15px;
	font-weight: normal;
	line-height: 35px;
	height: 35px;
	color: #333;
	background: #F8F8FF;
}
.charges {
	background: #369;
	color: #FFF;
	padding: 2px;
	margin-left: 8px;
	font-size: 12px;
}

.senmon {
	background: #F90;
	color: #FFF;
	padding: 2px;
	margin-left: 8px;
	font-size: 12px;
}

div.sessions h4 {
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 15px;
	
	line-height: 2.5em;
	border-left: 5px solid #b7bfcd;
	padding-left: 10px;
}

div.sessions h4.subtitle {
	border-left: 5px solid #fff;
	line-height: 1.5;
}

div.sessions p {
	text-indent: 0;
	margin: 0 30px;
}

div.sessions .box {
	margin: 10px 20px;
	font-size: 12px;
	line-height: 1.5;
	border: #EEE solid 1px;
	padding: 0;
}


div.sessions .box p {
	margin: 5px;
	padding: 5px;
	background: url(../img/dot.gif) repeat-x bottom;
}

div.sessions p.up {
	text-align: right;
	font-size: 93%;
	text-indent: 0;
	margin-bottom: 30px;
	margin-right: 15px;
}

div.sessions p.up a {
	background: url(../img/business/up.png) no-repeat 0 0;
	padding-left: 14px;
}


div.sessions ul {
	margin: 20px 30px 0 30px;
}

div.sessions li {
	line-height: 1.35;
	margin-bottom: 0.5em;
}

div.sessions li ul {
margin: 0px 0px 0 30px;
}

div.sessions li ul li {
list-style-type: none;
}

div.register {
	width: 800px;
	text-align: center;
	margin: 10px auto;
	display: inline-block;
	clear: both;
}

div.register img{

}

div.register ul{
	width: 470px;
	list-style:none;
	font-size: 90%;
	margin: 0 auto;
	text-align: left;
}
div.register ul li{
	padding: 5px 0 0 0px;
	list-style: circle;
	line-height: 1.3;
	color: #CC3300;
	
}


#main table td dl.agbs {
	width: 350px;
	padding: 0;
	margin: 10px 5px 5px 10px;
	text-align: left;
	float:left;
	clear: none;
	line-height:1.2;
	background:#EFEFEF;
	border-right: #CCC solid 1px;
	border-bottom: #CCC solid 1px;
}

#main table td dl.agbs dt {
	text-align: center;
	padding: 2px;
	margin: 5px;
	color:#fff;
	font-size: 12px;
	font-weight: bold;
	text-indent: 0;
	width: 3em;
	background:#000;
	display: inline-block;
	float:left;
}

#main table td dl.agbs dt.blue {
	background:#0099FF;
}

#main table td dl.agbs dt.green {
	background: #0C3;
}

#main table td dt.grass {
	background: #CF0;
	color: #000;
}

#main table td dl.agbs dd {
	width: 200px;
	background: none;
	display: inline-block;
	float:left;
	padding: 0 0 5px 5px;
	clear: none;
	font-size: 12px;
}

#main table td dl.agbs dd.pht {
	width: 75px;
	background: none;
	display: inline-block;
	float:left;
	margin: 5px;
	padding: 0;
	clear: none;
}


