@charset "utf-8";

@import "../../../files/css/layout.css";

/*-------------------------------------------------------------------------
	共通
/*-----------------------------------------------------------------------*/

.ttl {
	text-align: center;
}
		.olympic ul > *,
		#battle ul > * {
			position: absolute;
		}
		.olympic .thumbs,
		#battle .thumbs {
			position: relative;
			z-index: 1;
		}
		.olympic .chara,
		#battle .chara {
			z-index: -1;
		}
			.olympic .thumbs li,
			#battle .thumbs li {
				background-color: #fff;
			}
				.olympic ul li a:hover,
				#battle ul li a:hover {
					opacity: 0.6;
				}
				.olympic .thumbs li,
				#battle .thumbs li {
					border: 6px solid #fff;
				}


/*-------------------------------------------------------------------------
	Title
/*-----------------------------------------------------------------------*/

#title {
	height: 500px;
	width: 100%;
	background: url(../img/index/title/ttl_bg.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
	position: relative;
	z-index: -101;
}
	#title video {
		min-height: 100%;
		min-width: 100%;
		width: auto;
		height: auto;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -100;
	}
	#title .wrap p {
		position: absolute;
		top: 363px;
		left: -80px;
		z-index: 100;
	}

/* Wii U */
.wiiu #title video {
	display: none;
}

/*-------------------------------------------------------------------------
	Olympic
/*-----------------------------------------------------------------------*/

.olympic {
	width: 100%;
	padding-bottom: 70px;
	background: url(../img/index/olympic/bg.png);
	background-size: cover;
	background-attachment: fixed;
}
	.olympic .ttl {
		height: 120px;
		background-color: #fff;
		overflow: hidden;
	}
		.olympic h2 {
			margin-top: 40px;
		}
			.olympic .ttl #events {
				width: 166px;
				position: absolute;
				top: -50px;
				right: 30px;
			}
	.olympic .thumbs {
		height: 3130px;
	}
		.olympic .thumbs a {
			display: block;
		}
		.olympic ul .thumbs01 {
			top: -5px;
			right: -3px;
		}
		
		.olympic ul .thumbs02 {
			top: 475px;
			left: 237px;
		}
		.olympic ul .thumbs03 {
			top: 475px;
			right: -3px;
		}
		.olympic ul .thumbs04 {
			top: 715px;
			left: -3px;
		}
		.olympic ul .thumbs05 {
			top: 955px;
			left: -3px;
		}
		.olympic ul .thumbs06 {
			top: 955px;
			right: -3px;
		}
		.olympic ul .thumbs07 {
			top: 1195px;
			left: 477px;
		}
		.olympic ul .thumbs08 {
			top: 1436px;
			left: 237px;
		}
		.olympic ul .thumbs09 {
			top: 1916px;
			right: -3px;
		}
		.olympic ul .thumbs10 {
			top:  2156px;
			left: -3px;
		}
		.olympic ul .thumbs11 {
			top: 2156px;
			right: -3px;
		}
		.olympic ul .thumbs12 {
			top: 2396px;
			left: -3px;
		}
		.olympic ul .thumbs13 {
			top: 2396px;
			left: 477px;
		}
		.olympic ul .thumbs14 {
			top: 2636px;
			left: -3px;
		}
		.olympic ul .thumbs01_ttl,
		.olympic ul .thumbs03_ttl,
		.olympic ul .thumbs04_ttl,
		.olympic ul .thumbs05_ttl {
			top: 424px;
			right: 3px;
			background:none;
			position:absolute;
		}
		
		.olympic ul .thumbs02_ttl {
			top: 193px;
			right: 1px;
			background:none;
			position:absolute;
		}
			.olympic ul span.thumbs01_ttl img,
			.olympic ul span.thumbs02_ttl img,
			.olympic ul span.thumbs03_ttl img,
			.olympic ul span.thumbs04_ttl img,
			.olympic ul span.thumbs05_ttl img {
				border:none;
			}

		.olympic ul .cr01 {
			top: 45px;
			left: -3px;
		}
		.olympic ul .cr02 {
			top: 450px;
			left: 0px;
		}
		.olympic ul .cr03 {
			top: 488px;
			left: 430px;
		}
		.olympic ul .cr04 {
			top: 733px;
			left: 743px;
		}
		.olympic ul .cr05 {
			top: 970px;
			left: 433px;
		}
		.olympic ul .cr06 {
			top: 1222px;
			right: -56px;
		}
		.olympic ul .cr07 {
			top: 1492px;
			left: 10px;
		}
		.olympic ul .cr08 {
			top: 1631px;
			right: -44px;
		}
		.olympic ul .cr09 {
			top: 1879px;
			left: 20px;
		}
		.olympic ul .cr10 {
			top:  2171px;
			left: 498px;
		}
		.olympic ul .cr11 {
			top: 2423px;
			left: 225px;
		}
		.olympic ul .cr12 {
			top: 2435px;
			right: -99px;
		}
		.olympic ul .cr13 {
			top: 2681px;
			left: 524px;
		}

/* Wii U */
.wiiu .olympic .thumbs video,
.tablet .olympic .thumbs video {
	display: none;
}
	.wiiu .olympic ul .thumbs01,
	.wiiu .olympic ul .thumbs05,
	.wiiu .olympic ul .thumbs08,
	.wiiu .olympic ul .thumbs14,
	.tablet .olympic ul .thumbs01,
	.tablet .olympic ul .thumbs05,
	.tablet .olympic ul .thumbs08,
	.tablet .olympic ul .thumbs14 {
		height: 474px;
		width: 474px;
	}
	
	.wiiu .olympic ul .thumbs06,
	.tablet .olympic ul .thumbs06 {
		height: 234px;
		width: 234px;
	}

	.wiiu .olympic ul .thumbs01,
	.tablet .olympic ul .thumbs01 {
		background: url(../../../files/img/movie/rugby_pc.gif) no-repeat center;
	}
	.wiiu .olympic ul .thumbs05,
	.tablet .olympic ul .thumbs05 {
		background: url(../../../files/img/movie/soccer_pc.gif) no-repeat center;
	}
	.wiiu .olympic ul .thumbs06,
	.tablet .olympic ul .thumbs06 {
		background: url(../../../files/img/movie/boxing_pc.gif) no-repeat center;
	}
	.wiiu .olympic ul .thumbs08,
	.tablet .olympic ul .thumbs08 {
		background: url(../../../files/img/movie/beachvolleyball_pc.gif) no-repeat center;
	}
	.wiiu .olympic ul .thumbs14,
	.tablet .olympic ul .thumbs14 {
		background: url(../../../files/img/movie/rhythmic_pc.gif) no-repeat center;
	}


/*-------------------------------------------------------------------------
	Battle
/*-----------------------------------------------------------------------*/

#battle {
	width: 100%;
	height: 1170px;
	background: url(../img/index/battle/bg.png);
	background-size: cover;
	background-attachment: fixed;
}
	#battle .ttl {
		padding-bottom: 40px;
		background-color: #fff;
	}
		#battle ul .thumbs01 {
			top: -5px;
			left: -3px;
		}
		#battle ul .thumbs02 {
			top: 256px;
			left: 317px;
		}
		#battle ul .thumbs03 {
			top: -5px;
			right: -3px;
		}

		#battle ul .cr01 {
			top: 8px;
			left: 397px;
		}
		#battle ul .cr02 {
			top: 349px;
			left: 34px;
		}
		#battle ul .cr03 {
			top: 344px;
			left: 680px;
		}
		#battle .btn {
			position: relative;
			top: 665px;
			text-align: center;
		}


/*-------------------------------------------------------------------------
	Navi
/*-----------------------------------------------------------------------*/

#navi {
	background-color: #61ba46;
}
