/* CSS Document */

/* ƒRƒ“ƒeƒ“ƒc */

.outline td{
	font-size:12px;
	padding: 5px 3px;
	border-bottom: 1px solid #CCC;
}

/*/////////////////////////////////
’Ç‰Á
////////////////////////////////*/

.title{
	padding-bottom:5px;
}

.title2{
	margin-top:20px;
	padding-bottom:5px;
}

.subtitle{
	font-size:12px;
	font-weight:bold;
	color:#3A93BC;
	text-align:left;
	margin:0px;
	padding-bottom:0px;
	padding-left:3px;
}

.arrow{
	background-image:url(images/arrow.gif);
	background-position:0 0;
	background-repeat:no-repeat;
	padding-left:12px;
}

.eachstep td{
	margin-top:5px;
	font-size:12px;
	padding: 5px 3px;
	border-bottom: 1px solid #CCC;

}

.l_padding{
	padding-left:24px;
}

/* +++++++++++admission.html+++++++++++ */

/* PDF AREA */
.PdfDown {
	margin:0px;
	padding:0px;
	font-size:10px;
	color:#333333;
	text-align:center;
}


.PdfDown img {
	margin:10px 15px;
	padding:0px;
}


