/* text in secondary side navigation*/
a.footerLink {
	line-height: 17px;
	text-decoration: underline;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:9px; 
	font-weight:normal;  
	color:#666666;
}

/* text in secondary side navigation*/
a.sidenavigationSecondary:link {
	line-height: 17px;
	text-decoration: none;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	font-weight:normal;  
	color:#333333;
}
a.sidenavigationSecondary:visited {
	line-height: 17px;
	text-decoration: none;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	font-weight:normal;  
	color:#333333;
}
a.sidenavigationSecondary:hover {
	line-height: 17px;
	text-decoration: none;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	font-weight:normal; 
	color:#0B2ABB;
}

li {  
	line-height: 17px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal; 
	list-style: disc outside; 
	color:#666666;   
	margin-left: 20px;	
  }

td.tableRow1Cell {
	text-align: center;
	border-collapse: collapse;
	border: .05em solid #FFFFFF; 
	text-decoration: none;
	padding: 4px;
}

ul {  
	line-height: 17px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal; 
	list-style: circle outside; 
	color:#666666;
	margin: 0;      
	margin-left: 20px;		
  }
  
sup {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	color:#666666;	
	font-size:11px; 
	line-height: 0.5em;
	font-weight:normal;
	} 	
	
/* text in breadcrumb for the primary section*/
.breadcrumbPrimary {
	text-decoration: none;
	line-height: 17px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#333333;
}

/* main body text */
.bodyErrorText {
	line-height: 17px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal; 
	color:#FE000C
}

/* main body text */
.bodyText {
	line-height: 17px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal; 
	color:#666666;
}
/* main body text bold*/
.bodyText b{
	line-height: 17px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:bold; 
	color:#666666;
}

/* main body text bold*/
.bodyText strong{
	line-height: 17px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:bold; 
	color:#666666;
}

.bodyTextHeader {
	line-height: 15px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal; 
	color:#666666;
	text-transform: uppercase;
}
/* links in main body text */
.bodyText a{
	line-height: 15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#0B2ABB;
	text-decoration: underline;
}
.bodyText a:link{
	line-height: 15px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal;
	color:#0B2ABB;	
	text-decoration: underline;
}
.bodyText a:visited{
	line-height: 15px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal;
	color:#0B2ABB;
	text-decoration: underline;
}
.bodyText a:hover{
	line-height: 15px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal;
	color:#0B2ABB;
	text-decoration: underline;
}

/* header in main body text */
.bodyTextHeader {
	line-height: 60px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:14px; 
	font-weight:bold; 
	color:#000000
}
.bodyTextLink{
	line-height: 15px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal;
	color:#0B2ABB;	
	text-decoration: underline;
}

/* text in breadcrumb for pages other than the primary section*/
.breadcrumbSecondary {
	text-decoration: none;
	line-height: 17px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	color:#333333;
}	
	
/* text in footer*/
.footer {
	line-height: 17px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	font-weight:normal;
	color:#666666;
}	  

.formButton {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px; 	
	color:#FFFFFF; 
	background: #0B29BB; 
	font-weight: bold;
   cursor: pointer;
   cursor: hand;
}  
  
/* main body text */
.formTextBox {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal; 
	color:#666666;
	color:#000000;
	width: 200px; 
	height: 20px; 
	padding-top: 0px;		
}

.formTextBoxAdmin {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal; 
	color:#666666;
	color:#000000;
	width: 300px; 
	height: 20px; 
	padding-top: 0px;		
}

/* main body text */
.formTextBoxState {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal; 
	color:#666666;
	color:#000000;
	width: 50px; 
	height: 20px; 
	padding-top: 0px;		
}

/* main body text */
.formTextBoxZip {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal; 
	color:#666666;
	color:#000000;
	width: 100px; 
	height: 20px; 
	padding-top: 0px;		
}

/* main body text */
.formTextArea {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal; 
	color:#666666;
	color:#000000;
	width: 400px; 
	height: 80px; 
	padding-top: 0px;		
}

.homeDynamicBody {  
	line-height: 17px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal; 
	color:#666666;
	padding: 0px;
	padding-top: 4px;
	padding-bottom: 12px;	
	padding-left: 12px;
	padding-right: 12px;		
  }

.homeDynamicHeader {  
	line-height: 17px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:13px; 
	font-weight:bold; 
	color:#666666;
	margin: 0;      
	margin-left: 0px;
	padding: 0px;
  }
.homeDynamicSubHeader {  
	line-height: 17px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:bold; 
	color:#666666;
	padding: 0px;
	padding-top: 4px;
	padding-bottom: 12px;	
	padding-left: 12px;
	padding-right: 12px;	
  }  


/* text in search box*/
.search {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	font-weight:normal;
	color:#000000;
	width: 100px; 
	height: 17px; 
	padding-top: 0px;	
}

/* text in shortcuts*/
.shortcuts {
	margin-left: 10;
	line-height: 17px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#666666;
	text-decoration: underline;
}
	
/* text in side navigation*/
.sidenavigation {
	line-height: 17px;
    text-decoration: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	color:#333333;
}

/* text in primary side navigation*/
.sidenavigationPrimary {
	line-height: 17px;
    text-decoration: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#333333;
}
.sidenavigationSecondarySelected {
	line-height: 17px;
	text-decoration: none;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	font-weight:normal; 
	color:#0B2ABB;
}

/* table styles */
.tableFloating{
	line-height: 15px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal; 
	color:#666666;
	border-collapse: collapse;
	border: .05em solid #D4D4D4; 
	background-color: #ffffff;
	padding: 2px;
}
.tableRow1 {
	line-height: 15px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:bold; 
	color:#0828B8;
	text-align: center;
	margin: 0px;
	padding: 0px;

	text-decoration: none;	
}
.tableRowEven {
	line-height: 15px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal; 
	color:#666666;
	border-collapse: collapse;
	border: .05em solid #FFFFFF; 
	background-color: #F4F4F4;
		padding: 2px;
}
.tableRowOdd {
	line-height: 15px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal; 
	color:#666666;
	border-collapse: collapse;
	border: .05em solid #F4F4F4; 
	background-color: #FFFFFF;
	padding: 2px;
}

