/*
/////////////////////////////////////
kids/

■index.html------------------Line.42
■クーポン--------------------Line.85
■アクセス-------------------Line.107
■stage.html-----------------Line.129
■booth.html-----------------Line.178
■floor.html-----------------Line.191
/////////////////////////////////////
*/

#MainContents #Contents {
	width:740px;
	margin:0px 30px;
	padding:0px;
	background:#FFFFFF url(common/frame_top.gif) left top no-repeat;
	text-align:left;
}

#Contents .ContentsArea {
	width:680px;
	margin:0px 30px 0px;
	padding:12px 0px 0px;
	text-align:left;
}

.ContentsArea p {
	margin:0px;
	padding:0px;
	color:#000000;
	font-size:12px;
	line-height:140%;
}

p.Attention {
	margin:5px 0px 0px;
	color:#736357;
}

/* +++++++++++index.html+++++++++++ */

h2.Outline {
	background:url(images/h2_outline.gif) left top no-repeat;
}

h2.Access {
	background:url(images/h2_access.gif) left top no-repeat;
}

h2.KidsMap {
	background:url(images/h2_map.gif) left top no-repeat;
}

.ContentsArea p.Lead {
	margin:0px 0px 25px 0px;
	padding:0px;
}

.ContentsArea p.OutlineImage {
	margin:0px 0px 50px;
	padding:0px;
	text-align:center;
}

.ContentsArea p.Map {
	margin:0px 10px 0px 0px;
	padding:0px;
	float:left;
}

.ContentsArea p.AccessImage {
	margin:0px 0px 40px;
	_margin:0px;
	padding:0px;
	float:left;
}

.ContentsArea p.MapFlash {
	margin:0px;
	padding:0px;
}

/* +++++++++++クーポン+++++++++++ */

#WrapperCoupon {
	width:400px;
	margin:0px auto;
	padding:0px;
	text-align:center;
}

#WrapperCoupon p.CouponImage {
	margin:10px auto 0px;
	padding:0px;
	text-align:center;
}

#WrapperCoupon p.Close {
	width:380px;
	margin:5px auto 0px;
	padding:0px;
	text-align:right;
}

/* +++++++++++アクセス+++++++++++ */

#WrapperAccess {
	width:625px;
	margin:0px auto;
	padding:0px;
	text-align:center;
}

#WrapperAccess p.AccessImage {
	margin:10px auto 0px;
	padding:0px;
	text-align:center;
}

#WrapperAccess p.Close {
	width:605px;
	margin:5px auto 0px;
	padding:0px;
	text-align:right;
}

/* +++++++++++stage.html+++++++++++ */

h2.Stage {
	background:url(images/h2_stage.gif) left top no-repeat;
}

.ContentsArea table.Schedule {
	width:100%;
	margin:0px;
	padding:0px;
	border:3px solid #FFCC66;
	border-collapse:collapse;
	font-size:12px;
	text-align:left;
}

table.Schedule th {
	margin:0px;
	padding:5px 8px;
	background:#F7941D;
	border:3px solid #FFCC66;
	color:#FFFFFF;
	font-weight:bold;
	line-height:140%;
	text-align:center;
}

table.Schedule th.Day {
	width:40%;
}

table.Schedule td {
	margin:0px;
	padding:5px 8px;
	background:#FFFFFF;
	border:3px solid #FFCC66;
	color:#9B4E00;
	font-weight:bold;
	line-height:140%;
	text-align:center;
	vertical-align:top;
}

table.Schedule td.Space {
	background:#FFFFFF;
	border-top:3px solid #FFFFFF;
	border-left:3px solid #FFFFFF;
}

/* +++++++++++booth.html+++++++++++ */

h2.Booth {
	margin:0px 0px 24px;
	background:url(images/h2_booth.gif) left top no-repeat;
}

.ContentsArea p.BoothImage {
	margin:0px;
	padding:0px;
	text-align:center;
}

/* +++++++++++floor.html+++++++++++ */

h2.Fair {
	margin:0px 0px 24px;
	background:url(images/h2_fair.gif) left top no-repeat;
}

h2.Toy {
	margin:0px 0px 24px;
	background:url(images/h2_toy.gif) left top no-repeat;
}

h2.Sell {
	margin:0px 0px 24px;
	background:url(images/h2_sell.gif) left top no-repeat;
}

.ContentsArea p.FairImage {
	margin:0px;
	padding:0px;
	text-align:center;
}

.ContentsArea p.ToyImage {
	margin:0px 0px 20px;
	padding:0px;
	text-align:center;
}

.ContentsArea p.SellImage {
	margin:0px 0px 20px;
	padding:0px;
	text-align:center;
}



