@charset "UTF-8";

/* Slider */
.slick-loading .slick-list {
	background: #ffffff url("../images/ajax-loader.gif") center center no-repeat;
}

/* Icons */

/* Arrows */
.slick-prev,
.slick-next {
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	border: none;
	background: transparent;
	color: transparent;
	font-size: 0;
	line-height: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	outline: none;
	cursor: pointer;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	background: transparent;
	color: transparent;
	outline: none;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
	color: white;
	font-family: "slick";
	font-size: 20px;
	line-height: 1;
	opacity: 0.75;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: -25px;
}

[dir="rtl"] .slick-prev {
	left: auto;
	right: -25px;
}

.slick-prev:before {
	content: "←";
}

[dir="rtl"] .slick-prev:before {
	content: "→";
}

.slick-next {
	right: -25px;
}

[dir="rtl"] .slick-next {
	left: -25px;
	right: auto;
}

.slick-next:before {
	content: "→";
}

[dir="rtl"] .slick-next:before {
	content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
	margin-bottom: 40px;
}

.slick-dots {
	position: absolute;
	bottom: -25px;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	display: block;
	width: 24px;
	height: 24px;
	padding: 5px;
	border: 0;
	background: transparent;
	color: transparent;
	font-size: 0;
	line-height: 0;
	outline: none;
	cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button:before {
	content: "■";
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	color: #818181;
	font-family: "slick";
	font-size: 24px;
	text-align: center;
	line-height: 20px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	color: #ffffff;
}