@charset "UTF-8";

/* ===================================

	File Name   : sense.css

====================================== */


/*========== Style Contents ==========

	1. Individual Redefinition
	2. Top
	3. SponcerLimitation
	4. SponcerLimitationLight
	5. SponcerGeneral
	
====================================== */






/*===== ■1. Individual Redefinition =====*/

/*----- Global Navigation -----*/

#HeaderNavi #GlobalNavi li.BtnExhibit a span,
#HeaderNavi #GlobalNavi li.BtnExhibit a:hover span {
	background-position: 1px -50px;
}
.ie8 #HeaderNavi #GlobalNavi li.BtnExhibit a:hover span {
	background-position: 1px 0px;
}


/*----- SenseHead -----*/

.SenseHead {
	margin-top: -10px;
	margin-bottom: 5px;
	background: url(../img/sense/head_bg.png) center top no-repeat;
}
.SenseHead h1 {
	width: 280px;
	height: 280px;
	margin: 0px auto 0px;
	padding: 55px 0px 59px;
	text-align: center;
}
.SenseHead .SenseNav {
	width: 676px;
	margin: 0px auto;
}
.SenseHead .SenseNav ul {
	overflow: hidden;
	padding-bottom: 22px;
}
.SenseHead .SenseNav ul li a {
	display: block;
	float: left;
	width: 169px;
	height: 64px;
	overflow: hidden;
	text-indent: 169px;
	white-space: nowrap;
	background: url(../img/sense/head_lnav.png) left top no-repeat;
}
.SenseHead .SenseNav ul li.nav01 a { margin-left: 254px; background-position: -254px top;}
.SenseHead .SenseNav ul li.nav02 a { clear: both; margin-left: 169px; background-position: -169px -64px;}
.SenseHead .SenseNav ul li.nav03 a { background-position: -338px -64px;}
.SenseHead .SenseNav ul li.nav04 a { clear: both; background-position: 0px -128px;}
.SenseHead .SenseNav ul li.nav05 a { background-position: -169px -128px;}
.SenseHead .SenseNav ul li.nav06 a { background-position: -338px -128px;}
.SenseHead .SenseNav ul li.nav07 a { background-position: -507px -128px;}

.SenseHead .SenseNav ul li.nav01 a:hover { background-position: -254px -192px;}
.SenseHead .SenseNav ul li.nav02 a:hover { background-position: -169px -256px;}
.SenseHead .SenseNav ul li.nav03 a:hover { background-position: -338px -256px;}
.SenseHead .SenseNav ul li.nav04 a:hover { background-position:    0px -320px;}
.SenseHead .SenseNav ul li.nav05 a:hover { background-position: -169px -320px;}
.SenseHead .SenseNav ul li.nav06 a:hover { background-position: -338px -320px;}
.SenseHead .SenseNav ul li.nav07 a:hover { background-position: -507px -320px;}

.SenseHead .SenseNav ul li.nav01 a.active { background-position: -254px -192px;}
.SenseHead .SenseNav ul li.nav02 a.active { background-position: -169px -256px;}
.SenseHead .SenseNav ul li.nav03 a.active { background-position: -338px -256px;}
.SenseHead .SenseNav ul li.nav04 a.active { background-position:    0px -320px;}
.SenseHead .SenseNav ul li.nav05 a.active { background-position: -169px -320px;}
.SenseHead .SenseNav ul li.nav06 a.active { background-position: -338px -320px;}
.SenseHead .SenseNav ul li.nav07 a.active { background-position: -507px -320px;}

.SenseHead p {
	width: 900px;
	margin: 5px auto;
	text-align: right;
	font-size: 85%;
}


/*----- SenseContents -----*/

.SenseContents {
	width: 800px;
	padding: 0px 100px 30px;
	margin: 0px auto;
	word-wrap: break-word;
}
.SenseContents {
	background: url(../img/sense/bg01.png);
}
.SenseContents .Section {
	padding-top: 60px;
	padding-bottom: 30px;
}
.SenseInner {
	padding-left: 30px;
	padding-right: 30px;
}


/*----- title -----*/

.TtlSense {
	width: 800px;
	padding-top: 24px;
	padding-bottom: 40px;
	margin-bottom: 25px;
	background-image: url(../img/sense/ttl_sense_top.png), url(../img/sense/ttl_sense_btm.png);
	background-position: left top, left bottom;
	background-repeat: no-repeat, no-repeat;
}
.TtlSense .TtlSenseBox {
	padding-top: 4px;
	font-size: 172%;
	font-size: 24px;
	line-height: 1.4;
	color: #df6954;
	background-image: url(../img/sense/ttl_sense.png);
	background-position: left top;
	background-repeat: repeat;
}
.TtlSense .TtlSenseBox h1,
.TtlSense .TtlSenseBox h2,
.TtlSense .TtlSenseBox h3,
.TtlSense .TtlSenseBox h4 {
	position: relative;
	left: 0px;
	bottom: -5px;
	padding: 0px 30px;
	margin-top: -20px;
	font-weight: bold;
}
.TtlSense .TtlSenseBox span.Not {
	border-bottom: 2px solid #383838;
	color: #383838;
}

.TtlSense02 {
	padding: 3px 20px 3px 27px;
	border: 2px solid #fff;
	box-shadow: 4px 4px 0px 0px #c1c1c1;
	font-size: 143%;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.4;
	color: #44a0eb;
	background: url(../img/sense/icon02.png) 3px 3px no-repeat #fff;
}


/*----- balloon -----*/

/* Bln01 */
.Bln01 {
	width: 800px;
	padding-top: 48px;
	padding-bottom: 96px;
	background-image: url(../img/sense/bln01_top.png), url(../img/sense/bln01_btm.png);
	background-position: left top, left bottom;
	background-repeat: no-repeat, no-repeat;
}
.Bln01Box {
	padding-top: 32px;
	background-image: url(../img/sense/bln01.png);
	background-position: left top;
	background-repeat: repeat;
}
.Bln01In {
	position: relative;
	left: 0px;
	bottom: -32px;
	padding: 0px 40px;
	margin-top: -104px;/* 32*3+8 */
}

/* Bln02 */
.Bln02 {
	width: 480px;
	padding-top: 30px;
	padding-bottom: 66px;
	background-image: url(../img/sense/bln02_top.png), url(../img/sense/bln02_btm.png);
	background-position: left top, left bottom;
	background-repeat: no-repeat, no-repeat;
}
.Bln02Box {
	padding-top: 6px;
	background-color: #dca330;
}
.Bln02In {
	position: relative;
	left: 0px;
	bottom: -10px;
	min-height: 30px;
	padding: 0px 40px 0px 40px;
	margin-top: -25px;
	color: #fff;
}

/* Bln03 */
.Bln03 {
	/*width: 630px;*/
	width: 654px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(../img/sense/bln03_top.png), url(../img/sense/bln03_btm.png), url(../img/sense/bln03_mdl.png);
	background-position: right top, right bottom, left 170px;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
.Bln03Box {
	/*min-height: 170px;*/
	min-height: 153px;
	padding-top: 17px;
	margin-left: 24px;
	background-color: #fff;
}
.Bln03In {
	position: relative;
	left: 0px;
	bottom: -15px;
	padding: 0px 40px;
	margin-top: -45px;
}

/* Pic + Bln03 */
.PicBln03Box {
	overflow: hidden;
}
.PicBln03Box .Pic {
	float: left;
	position: relative;
	width: 154px;
	height: 154px;
}
.PicBln03Box .Pic a,
.PicBln03Box .Pic span {
	display: block;
	position: relative;
	width: 154px;
	height: 154px;
}
.PicBln03Box .Pic a:before,
.PicBln03Box .Pic span:before {
	display: block;
	content: "";
	position: absolute;
	left: 4px;
	bottom: 0px;
	width: 146px;
	height: 154px;
	border-bottom: 4px solid #e26850;
}
.PicBln03Box .Pic a:after,
.PicBln03Box .Pic span:after {
	display: block;
	content: "";
	position: absolute;
	right: 0px;
	top: 4px;
	width: 154px;
	height: 146px;
	border-right: 4px solid #e26850;
}
.PicBln03Box .Pic a img,
.PicBln03Box .Pic span img {
	width: 150px;
	height: 150px;
}
.PicBln03Box .Bln03 {
	float: left;
	margin-left: -8px;
}


/*-----  Frame -----*/

/* Frame01 */
.Frame01 {
	width: 800px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(../img/sense/frame01_top.png), url(../img/sense/frame01_btm.png);
	background-position: left top, left bottom;
	background-repeat: no-repeat, no-repeat;
}
.Frame01Box {
	padding-left: 40px;
	padding-right: 40px;
	background-color: #fff;
}





/*===== ■2. Top =====*/

/*----- News -----*/

#TopNews {
}
#TopNews dl {
	clear: left;
	margin: 20px 0px 0px;
	overflow: hidden;
	font-size: 115%;
}
#TopNews dl dt {
	float: left;
	width: 120px;
	padding-right: 10px;
	font-weight: bold;
}
#TopNews dl dd {
	margin-left: 130px;
}

#TopNews dl dd a{
	color: #e26850;
	text-decoration: none;
}

#TopNews dl dd a:hover{
	color: #ff4c29;
	text-decoration: underline;
}


/*----- About -----*/

#TopAbout {
	line-height: 2.2;
}
#TopAbout p {
	margin-top: 30px;
}


/*----- Purpose -----*/

#TopPurpose {
	line-height: 1.8;
}
#TopPurpose ul {
	/height: 174px;
	min-height: 174px;
	padding-left: 130px;
	margin-right: 30px;
	margin-top: 30px;
	list-style: disc;
	font-size: 115%;
	font-weight: bold;
	color: #e16c48;
	background: url(../img/sense/top_img02.png) left top no-repeat;
}
#TopPurpose ul li {
	margin: 12px;
}
#TopPurpose .BlkDescription {
	margin-top: 30px;
}
#TopPurpose .BlkDescription dl {
	margin-top: 50px;
}
#TopPurpose .BlkDescription dd {
	margin-top: 15px;
	line-height: 2.0;
}





/*===== ■3. Form =====*/

.FormArea {
}

.FormArea .Section dl {
	clear: left;
	margin-top: 20px;
	margin-bottom: 10px;
	overflow: hidden;
}
.FormArea .Section dl dt {
	clear: left;
	float: left;
	width: 170px;
	padding-right: 10px;
	font-weight: bold;
	color:#e16c48;
}
.FormArea .Section dl dd {
	margin-left: 180px;
}
.FormArea .Section dl dt,
.FormArea .Section dl dd {
	margin-bottom: 30px;
	line-height: 1.8;
}

.FormArea .Section ul li {
	margin-left: 18px;
	margin-bottom: 8px;
	list-style: disc;
	line-height: 1.7;
}

.FormArea .Section .BtnEntry a {
	display: block;
	width: 455px;
	height: 82px;
	margin: 40px auto 20px;
	background: url(../img/sense/btn_entry.png) left top no-repeat;
}
.FormArea .Section .BtnEntry a:hover {
	opacity: 0.60;
	-moz-opacity: 0.60;
	-khtml-opacity: 0.60;
	filter: alpha(opacity=60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
}
.FormArea .Section .BtnEntryClosed {
	display: block;
	width: 455px;
	height: 82px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	margin: 40px auto 20px;
	background: url(../img/sense/btn_entry_closed.png) left top no-repeat;
}

.FormArea .Section .Deadline {
	font-size: 172%;
	font-weight: bold;
	text-align: center;
}

.FormArea .Section ol li {
	margin-left: 25px;
	margin-top: 25px;
	list-style: decimal;
	font-size: 129%;
	font-weight: bold;
	line-height: 2.0;
	color: #e16c48;
}
.FormArea .Section ol li p {
	font-size: 77%;
	font-weight: normal;
	line-height: 1.7;
	color: #2b2b2b;
}





/*===== ■4. Selection =====*/

.SelectionArea .Section {
	line-height: 1.8;
}

.SelectionArea .PicBln03Box {
	margin-top: 35px;
}
.SelectionArea .PicBln03Box dl dt {
	padding-bottom: 10px;
	font-size: 143%;
	font-weight: bold;
	line-height: 1.2;
	color: #e16c48;
}
.SelectionArea .PicBln03Box dl dd {
	padding-bottom: 15px;
}
.SelectionArea .PicBln03Box dl dd span {
	font-size: 86%;
	line-height: 1.4;
}
.SelectionArea .PicBln03Box dl dd.Profile {
	padding-bottom: 0px;
	line-height: 1.6;
}





/*===== ■5. Presen =====*/

/*----- PresenAnchor -----*/

.PresenArea #PresenAnchor {
}
.PresenArea .PresenAnchorList {
	width: 800px;
	margin-top: -10px;
	overflow: hidden;
}
.PresenArea .PresenAnchorList ul {
	display: table;
	width: 820px;
	margin-top: 10px;
	margin-left: -10px;
	border-collapse: separate;
	border-spacing: 10px 0px;
}
.PresenArea .PresenAnchorList li {
	display: table-cell;
	width: 387px;
	border: 4px solid #535353;
	font-size: 16px;
	line-height: 1.4;
	background: url(../img/sense/icon03.png) 365px center no-repeat #fff;
}
.PresenArea .PresenAnchorList li a {
	display: block;
	text-decoration: none;
	color: #555;/*2b2b2b*/
	transition: opacity .3s ease;
	border-collapse: collapse;
	border-spacing: 0px;
}
.PresenArea .PresenAnchorList li a:hover {
	text-decoration: underline;
	opacity: 0.60;
	-moz-opacity: 0.60;
	-khtml-opacity: 0.60;
	filter: alpha(opacity=60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
}
.PresenArea .PresenAnchorList li span {
	/* common.css reset */
	position: static;
	width: auto;
	height: auto;
	overflow: auto;
}
.PresenArea .PresenAnchorList li span.Img {
	display: table-cell;
	width: 144px;
}
.PresenArea .PresenAnchorList li span.Img img {
	width: 144px;
	height: 92px;
}
.PresenArea .PresenAnchorList li span.Text {
	display: table-cell;
	/*width: 210px;*/
	padding: 3px 23px 5px 10px;
	vertical-align: middle;
}
.PresenArea .PresenAnchorList li span.Text img {
	display: inline-block;
	float: none;
	width: 32px;
	height: 32px;
	padding-right: 3px;
	padding-top: 3px;
}


/*----- PresenAbout -----*/

.PresenArea #PresenAbout {
}

.PresenArea #PresenAbout div.PresenMovie {
	width: 654px;
	margin: 30px auto 0 auto;
}

.PresenArea #PresenAbout div.Img {
	display: none;
	margin-bottom: 30px;
}

.PresenArea #PresenAbout dl {
	margin-bottom: 10px;
	overflow: hidden;
}
.PresenArea #PresenAbout dt,
.PresenArea #PresenAbout dd {
	padding: 3px 10px;
	margin-bottom: 10px;
	line-height: 1.8;
}
.PresenArea #PresenAbout dl dt {
	clear: left;
	float: left;
	width: 130px;
	color: #fff;
	background-color: #44a0eb;
}
.PresenArea #PresenAbout dl dd {
	margin-left: 160px;
}

.PresenArea #PresenAbout ul {
	margin-top: 10px;
}


/*----- Selected Works -----*/

.PresenArea #SelectedWorks {
}

.PresenArea #SelectedWorks .Frame01 {
	margin-top: 30px;
}
.PresenArea #SelectedWorks .Ttl {
	margin-bottom: 5px;
	font-size: 158%;
	font-weight: bold;
	line-height: 1.4;
	color: #e16c48;
}
.PresenArea #SelectedWorks .Name {
	font-size: 129%;
}
.PresenArea #SelectedWorks .Country {
	padding-left: 15px;
	font-size: 72%;
}
.PresenArea #SelectedWorks .Box {
	clear: both;
	padding-top: 20px;
	margin-top: 20px;
	border-top: 2px dotted #44a0eb;
	overflow: hidden;
}
.PresenArea #SelectedWorks .Box .Award {
	margin-bottom: 20px;
}
.PresenArea #SelectedWorks .Box .Award img {
	margin-right: 1em;
}
.PresenArea #SelectedWorks .Box .Pic {
	float: right;
	width: 250px;
	margin-left: 20px;
	margin-top: 2.5em;
	margin-bottom: 10px;
}
.PresenArea #SelectedWorks .Box .Txt dd {
	margin-top: 10px;
	line-height: 1.7;
}
.PresenArea #SelectedWorks ul.Disc li {
	list-style: disc outside !important;
	margin-left: 1.5em;
}

.PresenArea #SelectedWorks .LinkBtn {
	margin: 30px auto 0px;
}
.PresenArea #SelectedWorks .LinkBtn a {
	display: block;
	width: 250px;
	padding: 15px;
	margin: 0px auto;
	box-shadow: 5px 5px 0px 0px rgba(221,221,221,1);
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background: #dba32f;
	transition: opacity .3s ease;
}
.PresenArea #SelectedWorks .LinkBtn a:hover {
	background: #e26850;
}





/*===== ■6. Sown =====*/

.SownArea {
}

.SownArea dl {
	margin: 0px auto 0px;
	overflow: hidden;
	font-size: 115%;
}
.SownArea dl dt {
	float: left;
	width: 120px;
	padding-right: 10px;
	font-weight: bold;
	color: #0068b4;
}
.SownArea dl dd {
	margin-left: 130px;
}
.SownArea dl dt,
.SownArea dl dd {
	line-height: 1.8;
}

.SownArea .Pics {
	margin-top: 30px;
	overflow: hidden;
}
.SownArea .Pics li {
	float: left;
}

.SownArea .Links {
	margin: 40px auto 0px;
	font-size: 172%;
	font-weight: bold;
	text-align:center;
}
.SownArea .Links li{
	margin: 10px 0px;
}
.SownArea .Links li a:hover {
	opacity: 0.60;
	-moz-opacity: 0.60;
	-khtml-opacity: 0.60;
	filter: alpha(opacity=60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
}

.SownArea .BtnPresenMovie{
	text-align: center;
}

.SownArea .BtnPresenMovie a {
	display: block;
	width: 535px;
	height: 82px;
	margin: 40px auto 0px auto;
	background: url(../img/sense/btn_presenmovie.png) left top no-repeat;
}
.SownArea .BtnPresenMovie a:hover {
	opacity: 0.60;
	-moz-opacity: 0.60;
	-khtml-opacity: 0.60;
	filter: alpha(opacity=60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
}





/*===== ■7. Game =====*/

.GameArea {
}

.GameArea .Section ol li {
	margin-left: 25px;
	margin-top: 30px;
	list-style: decimal;
	font-size: 129%;
	font-weight: bold;
	line-height: 1.4;
	color: #e16c48;
}
.GameArea .Section ol li p {
	margin-top: 10px;
	font-size: 77%;
	font-weight: normal;
	line-height: 1.7;
	color: #2b2b2b;
}

.GameArea .Section ul li {
	margin-top: 30px;
	font-size: 129%;
	font-weight: bold;
	line-height: 1.4;
	color: #e16c48;
}
.GameArea .Section ul li p {
	/*margin-left: 25px;*/
	margin-top: 10px;
	font-size: 77%;
	font-weight: normal;
	line-height: 1.7;
	color: #2b2b2b;
}

.GameArea .Section #GameSummary {
	margin-top: 30px;
}
.GameArea .Section #GameSummary p {
	padding-top: 20px;
	line-height: 1.7;
}
.GameArea .Section #GameSummary p span.Point {
	font-weight: bold;
	border-bottom: 1px solid;
}





/*===== ■xx.  =====*/

/*#BtnDownload_top {
	height: 138px;
	width: 480px;
	margin: 30px auto;
	display: block;
}

#BtnDownload_top li a {
	background-image: url(../../common/img/img_btn.jpg);
	height: 130px;
	width: 440px;
	display: block;
	background-position: 0px -360px;
}

#BtnDownload_top li a:hover {
	background-position: 0px -505px;
}*/
