/* all-substance   ===================================================== */
#all-substance{
	width:490px;
	padding:9px 30px 26px;
}


/* entry  --------------------------------------------------------------*/
#all-substance .entry{
	margin:0 0 15px;
	padding:0;
}


/* entry header ------------------------------------------------------*/
#all-substance .entry-header{
	padding:9px;
	background:url(all-substance/entry-header_h2_bg.jpg) no-repeat center center #000;
}

#all-substance .entry-header h2,
#all-substance .entry-header h2 a{
	font-size:medium;
	_font-size:small;
	font-weight:bold;
	line-height:1.1em;
	text-decoration:none;
	border-bottom:#b20000 solid 1px;
}


#all-substance .entry-header p{
	display:block;
	font-size:x-medium;
	_font-size:xx-small;
	margin:0;
	padding:2px 0 0 0;
	line-height:1.1em;
}



/* entry body  ------------------------------------------------------*/
#all-substance .entry-body{
	width:470px;
	padding:10px 10px 0;
	background:url(all-substance/div_bg.png) repeat;
	border-bottom:#b20000 solid 1px; 
}

/* clear fix */
#all-substance .entry-body{
    zoom:1;/*for IE 5.5-7*/
}
#all-substance .entry-body:after{/*for modern browser*/
    content:".";
    display: block;
    height:0px;
    clear:both;
		line-height:0; 
    visibility:hidden;
}

* html #all-substance .entry-body{ /* IE6 PNG ALPHA */
	behavior: expression(IEPNGFIX.fix(this));
}

#all-substance .entry-body .entry-date{
	padding:2em 0 0 0;
	text-align:right;	
}

#all-substance .entry-body .entry-more-link{
	padding:1em 0 0 0;
}

#all-substance .entry-body p img{
	padding:0 0 1em 0;
	float:left;
}
#all-substance .entry-body p img.floatLeft{
	padding:0 10px 5px 0;
	float:left;
}

#all-substance .entry-body p img.floatRight{
	padding:0 0 5px 10px;
	float:right;
}


/* entry footer  ------------------------------------------------------*/ 
#all-substance .entry-footer{
	width:470px;
	padding:10px;
	background:url(all-substance/div_bg.png) repeat;
}

* html #all-substance .entry-footer{ /* IE6 PNG ALPHA */
	behavior: expression(IEPNGFIX.fix(this));
}

#all-substance .entry-footer .entry-nav{
	display:block;
	padding:0;
	text-align:center;
}

/* entry archive  ------------------------------------------------------*/ 
#all-substance .entry-archive dl{
	width:470px;
	padding:10px;
	background:url(all-substance/div_bg.png) repeat;
	border-bottom:#b20000 solid 1px; 
}
* html #all-substance .entry-archive dl{ /* IE6 PNG ALPHA */
	behavior: expression(IEPNGFIX.fix(this));
}
/* clear fix */
#all-substance .entry-archive dl{
    zoom:1;/*for IE 5.5-7*/
}
#all-substance .entry-archive dl:after{/*for modern browser*/
    content:".";
    display: block;
    height:0px;
    clear:both;
		line-height:0; 
    visibility:hidden;
}

#all-substance .entry-archive dt{
	line-height:1.2em;
	display:block; 
	width:100px;
	float:left; 
	margin:0 0 0.7em 0;
	clear:both;
}

#all-substance .entry-archive dd{
	line-height:1.2em;
	display:block;
	width:370px;
	float:left;
	margin:0 0 0.7em 0;
}

#all-substance .entry-archive dd,
#all-substance .entry-archive dd a{
	line-height:1.2em;
}