/* topバナーの削除 */
.header__wrap.event__header {
    display: none;
}
#app > div > section > section.widget__wrap.event__layout > div:nth-child(1) > p {
    display: none;
}
/* TOPページのバナー上部の余白調節 */
.banner__wrap {
    margin-top: 0px!important;
}
.html__wrap {
    margin-top: 0px!important;
}
/* topページのヘッダー色の変更 */
.header-tab__active__event {
    color: #2CA7E1 !important;
    border-bottom: 2px solid #2CA7E1 !important;
}
/* Topページの下部　「ポータルトップに戻る」ボタンの削除 */
/*ブース内タイトルの下線*/
#app > div > section > section.widget__wrap.event__layout > div.portal-top-button {
    display: none;
}
.base-background-color {
    background-color: #2CA7E1 !important;
}
/* TOPページ下部のpadding削除 */
.widget__wrap {
    padding: 0 !important;
}
/* 【TOPページ】右下の画面最上部に戻るボタンの削除 */
.top-button__wrap {
    display: none;
}

/* ブースのタイトルのボーダー色変更 */
.booth-list-title__text {
    border-left: 8px solid #2CA7E1 !important;
}

/** ブースのリセットCSS **/
section.contents__wrap.detail__contents >.booth__wrap {
    padding: 0 !important;
    max-width: none !important;
    width: 100%;
}
section.detail-title__wrap.detail__title {
    display: none;
}
p.portal-event-top {
    display: none !important;
}
/* .detail__wrap {
    padding: 0 !important;
} */

/*受付中のテキスト色変更*/
.card-status__selling {
    color: #2CA7E1 !important;
}

/*チケット内*/
/*チケット選択画面・マイチケット画面選択時の下線*/
.page-selector__border {
    border-color: #2CA7E1 !important;
}

/*チケットポップアップ内無料のテキスト色変更*/
.ticket-price__value {
    color: #2CA7E1 !important;
}

/*チケットポップアップ内の+-ボタン色変更*/
.breadcrumbs {
    background-color: #2CA7E1 !important;
}

/* アンケートの送信ボタン色変更 */
.questionnaire-form__submit-button.v-btn.v-btn--contained.theme--light.v-size--default {
    background-color: #2CA7E1 !important;
}

/* 絞り込みボタンの色変更 */
.booth-cross-search-bar__button.v-btn.v-btn--contained.theme--dark.v-size--default {
    background-color: rgb(44, 167, 225) !important;
    border-color: rgb(44, 167, 225) !important;
}

.booth-cross-search-bar__button.v-btn.v-btn--depressed.v-btn--flat.v-btn--outlined.theme--light.v-size--default {
    color: #2CA7E1 !important;
    caret-color: #2CA7E1 !important;
}

/* 絞込みボタンの右上のアイコン２つの色変更 */
.v-icon.notranslate.mdi.mdi-format-list-bulleted.theme--light {
    color: rgb(44, 167, 225) !important;
    caret-color: rgb(44, 167, 225) !important;
}
.v-icon.notranslate.mdi.mdi-view-grid.theme--light{
    color: rgb(44, 167, 225) !important;
    caret-color: rgb(44, 167, 225) !important;
}

/* ページ数の表示アイコンの色変更 */
.v-pagination__item.v-pagination__item--active {
    background-color: #2CA7E1 !important;
}
/** WebページのリセットCSS **/
.web-page__title {
    display: none;
}
section.detail-title__wrap.detail__title {
    display: none;
}
p.portal-event-top {
    display: none !important;
}
/* .detail__wrap {
    padding: 0 !important;
} */
/**#__layout, #__nuxt, body, html {
    height: auto;
}**/
section.contents__wrap.detail__contents >.web-page__wrap {
    padding: 0 !important;
    max-width: none !important;
    width: 100%;
}
.web-page__html {
    max-width: none !important;
    width: 100%;
}
.html__wrap .container {
    max-width: none !important;
}
.v-btn--round .v-btn__content .v-icon {
    color: #f4f2f2;
  }
/* .theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background:#2CA7E1 !important;
}
button.widget__header.v-btn.v-btn--flat.v-btn--text.v-btn--tile.theme--light.v-size--default.widget__header__event {
    color:#2CA7E1 !important;
}
.widget-header__border {
    border-color:#2CA7E1 !important;
}
.widget-title__border {
    background-color:#2CA7E1 !important;
}
span.information-date__text.base-color {
    color: #2CA7E1!important;
}
.header-tab__name {
    color: #2CA7E1;
}
.header-tab__v-tab.v-tab.v-tab--active.header-tab__active__event {
    border-color: #2CA7E1;
}
.detail-title__border {
    background-color: #2CA7E1!important;
} */

/* フロートボタンのimg調整 */
.pc_click img {
	margin-bottom: 0;
}

@media screen and (max-width:768px) {
    .sp_click img {
        margin-bottom: 0;
    }
}


/* 会員登録フォーム */
#form_8682 {
	display: block;
}


/** マイチケット　キャンセルボタン **/
/* button.payment-button.px-8.mb-4.v-btn.v-btn--contained.theme--dark.v-size--default {
	background-color: transparent !important;
}
#app > div.v-dialog__content.v-dialog__content--active > div > div > div.ticket-card-detail.v-card.v-sheet.theme--light > div.v-card__actions > button > span {
	color: #000;
}
#app > div.v-dialog__content.v-dialog__content--active > div > div > div.ticket-card-detail.v-card.v-sheet.theme--light > div.v-card__actions > button > span:hover {
	text-decoration: underline;
} */
/** マイチケット　キャンセルボタン **/
button.payment-button.px-8.mb-4.v-btn.v-btn--contained.theme--dark.v-size--default {
    background: transparent !important;
    padding: 0 !important;
    height: 0 !important;
}

/* キャンセルボタンの影を消す */
#app>div.v-dialog__content.v-dialog__content--active>div>div>div.ticket-card-detail.v-card.v-sheet.theme--light>div.v-card__actions>button.payment-button.px-8.mb-4.v-btn.v-btn--contained.theme--dark.v-size--default {
    box-shadow: none;
}

/* 「このチケットをキャンセルする」文字色変更 */
#app>div.v-dialog__content.v-dialog__content--active>div>div>div.ticket-card-detail.v-card.v-sheet.theme--light>div.v-card__actions>button.payment-button.px-8.mb-4.v-btn.v-btn--contained.theme--dark.v-size--default > span {
    color: rgba(0, 0, 0, .4);
    margin-bottom: 1em;
    text-decoration: underline;
}

/* 「このチケットをキャンセルする」のhover */
#app>div.v-dialog__content.v-dialog__content--active>div>div>div.ticket-card-detail.v-card.v-sheet.theme--light>div.v-card__actions>button.payment-button.px-8.mb-4.v-btn.v-btn--contained.theme--dark.v-size--default > span:hover {
    color: red !important;
    text-decoration: underline;
}

/** チケット **/
/* @media screen and (max-width: 600px) {
	p.page-selector__ticket__text.active {
			background-color: #2CA7E1 !important;
	}
	p.page-selector__my-ticket__text.active {
			background-color: #2CA7E1 !important;
	}
} */

/* マイチケットのヘッダー削除 */
.header__wrap.my-ticket__header {
    display: none;
}

/* マイページの退会文言変更 */
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div.flex.mypage-contents__contents > section > section > div.unsubscribe-contents__card.v-card.v-card--flat.v-sheet.theme--light > p.unsubscribe-contents__caution-details {
    font-size: 0;
}
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div.flex.mypage-contents__contents > section > section > div.unsubscribe-contents__card.v-card.v-card--flat.v-sheet.theme--light > p.unsubscribe-contents__caution-details::before{
    font-size: 16px;
    content: "入場チケットや物販チケットをお持ちの方はキャンセルを先にお済ませになってから退会を行ってください。\Aチケットをキャンセルされないまま退会された場合、お問合せいただきましてもチケットの返金処理を行うことは出来かねますのでご了承ください。\Aまた、退会されると全ての情報が削除されます。データの復旧はできませんのでご注意ください。\Aなお、メール配信システムの都合上、退会後も一定期間はメールが配信される場合がございます。ご了承ください。";
    white-space: pre-wrap; /* テキストの折り返しを許可する */
    overflow-wrap: break-word; /* 長い単語やURLを折り返す */
    word-break: break-word; /* 長い単語を折り返す */
    max-width: 100%; /* 要素が親要素の幅を超えないようにする */
    display: block; /* ブロック要素として表示し、折り返す */
}

div.ticket__contents__container.container  {
    padding: 0px !important;
}


/* 有効期限の削除 */
#app > div.v-dialog__content.v-dialog__content--active > div > div > div.ticket-card-detail.v-card.v-sheet.theme--light > div.v-card__text.mt-4 > div.container.ticket-card-detail__contents > div:nth-child(3) {
    display: none;
}
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div.flex.mypage-contents__contents > section > div:nth-child(3) > section > div > section > div.my-ticket-layout__card.v-card.v-sheet.theme--light > div > div > table > thead > tr > th:nth-child(2) {
    display: none;
}
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div.flex.mypage-contents__contents > section > div:nth-child(3) > section > div > section > div.my-ticket-layout__card.v-card.v-sheet.theme--light > div > div > table > tbody > tr > td:nth-child(2) {
    display: none;
}
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div.flex.mypage-contents__contents > section > div > section > div > section > div.my-ticket-layout__card.v-card.v-sheet.theme--light > div > div > table > thead > tr > th:nth-child(2) {
    display: none;
}
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div.flex.mypage-contents__contents > section > div:nth-child(2) > section > div > section > div.my-ticket-layout__card.v-card.v-sheet.theme--light > div > div > table > tbody > tr > td:nth-child(2) {
    display: none;
}
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div > section > div > section > div > div > div.container.my-ticket-layout__wrap > div > div > div > div.v-card__text > div > div:nth-child(2) {
    display: none;
}

/* 領収書に関するものの削除 */
/* クレジットカード */
#app > div.v-application--wrap > div > div:nth-child(4) > div:nth-child(6) > div > section > div.stripe-layout > section.form-receipt-addressee__credit {
    display: none;
}
/* コンビニ */
#app > div.v-application--wrap > div > div:nth-child(4) > div:nth-child(6) > div > section > div.stripe-layout > section.item__wrap.form-receipt-addressee {
    display: none;
}

/* 全体CSS */
.header_opacity {
    pointer-events: none;
    background-color: rgba(109, 109, 109, 0.4) !important;
    filter: brightness(0.7);
}

img.banner__carousel-item {
    display: none;
}

footer {
    margin-bottom: 100px;
}

@media screen and (min-width:769px) {
    header {
        padding-top: 10px !important;
    }
}

@media screen and (max-width:768px) {
    .inner_header__logo_img {
        width: 90%;
    }
}

/* 終了に伴ったcssの修正 */
.dateInner_img_link {
    display: none;
}

.pc_click,
.sp_click {
    display: none;
}

.dateImg_up {
    padding: 20px 0 !important;
}

.dateInner {
    padding-bottom: 0;
}

@media only screen and (min-width: 769px) {
    .dateImg_buyer {
        padding-left: 0 !important;
        margin-left: 20px !important;
    }

    .dateImg_public {
        padding-right: 0 !important;
        margin-right: 20px !important;
    }
}

@media only screen and (max-width: 768px) {
    #datePc {
        padding: 20px !important;
    }

    .dateImg {
        width: 100% !important;
    }

    .dateImg_up {
        padding: 0 !important;
    }

    .datePc {
        max-width: 760px;
        display: flex !important;
        flex-direction: column;
        gap: 20px !important;
    }

    .dateInner {
        width: 100% !important;
    }
}