/* CSS Document */

/* ƒRƒ“ƒeƒ“ƒc */
.PdfDown {
	margin:0px;
	padding:0px;
	font-size:10px;
	color:#333333;
	text-align:center;
}


.PdfDown img {
	margin:10px 15px;
	padding:0px;
}


.BoxL {
	margin:0px;
	padding:0px;
	float:left;
}

.BoxR {
	margin:0px;
	padding:0px;
	float:right;
}

table {
	margin:0px 0px 30px;
	font-size:12px;
	color:#333333;
	line-height:140%;
	text-align:left;
}

.outline td{
	font-size:12px;
	padding: 5px 3px;
	border-bottom: 1px solid #CCC;
}