@charset "utf-8";


/*
===========================================================================

	Title : bese.css

===========================================================================
*/


#ie {
	background-color:#FFF; /* IE8 comment */
	text-align: center;
	padding: 10px 0;
}

.pcBlc {
		display: block;
}
.spBlc {
	display: none;
}

.clear{
	overflow:hidden;
	_zoom:1;
}

/* 共通項目 */
.txt10 { font-size: 10px;}

.txt11 { font-size: 11px;}

.txt12 { font-size: 12px;}

.cTxt { text-align: center; }

.rTxt { color: #e9659b;}

.ulTxt {
	text-decoration: underline;
}


h3 span {
	font-size: 12px;
	font-weight: normal;
	margin-left: 20px;
}

#wrapper .cntBox .boxInner p {
	margin-bottom: 20px;
}

/* 区切り線 */
#wrapper .cntBox .boxInner hr{
	background: url(../images/inner_line.gif) repeat-x !important;
	border: 0px none;
	height: 2px;
	margin: 0;
}


#wrapper .cntBox .boxInner span a {
	background: url(../images/link_arrow.gif) no-repeat center left;
	background-size: 13px;
	padding-left: 16px;
	font-weight: normal;
	margin-right: 0px;
}

#wrapper .cntBox .boxInner .attention {
	border: 1px solid #cc0613;
	color: #cc0613;
	padding: 10px 15px 10px 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.pcml20 { margin-left: 20px; }

.linkBtn  {
	margin-top:10px;
	margin-bottom: 20px;
	text-align: center;
	width: 730px;
}



/* リスト関係 */
#wrapper .cntBox .boxInner .number li {
	list-style-type: decimal;
	margin-left: 50px;
}

#wrapper .cntBox .boxInner .dotli li {
	text-indent: -14px;
	margin-left: 15px;
	margin-bottom: 15px;
	line-height: 1.5;

}

.pcml20 { margin-left: 20px; }



/* *************************************************************
*
*	PC view
*	
************************************************************ */

	

body {
	background-image: url(../images/pc_background-footer.png);
	background-repeat: repeat-x;
	background-color: #e4dada;
	background-position: bottom;
	background-position: center bottom;
	background-attachment: fixed; 
}

#wrapper {
	background: url(../images/pc_background-character.png) no-repeat top center;
	z-index: 1;	/* キャラクターの設置 */
}


/* PC_header
---------------------------------------------------------------- */
#wrapper #header {
	background-color: rgba(161, 85, 157, 0.85);
	margin-bottom: 22px;
	height: 40px;
}

	#wrapper #header .headerInner {
		width: 1020px;
		margin: 0 auto;
	}

/* #headerInnerL #headerInnerR　共通
--------------------------------------------------- */

#wrapper #header .headerInner #headerInnerL,
#wrapper #header .headerInner #headerInnerR {
	display: block;
}

#wrapper #header .headerInner #headerInnerL {
	width: 439px;
	float: left;	
}

#wrapper #header .headerInner #headerInnerR {
	width: 581px;
	float: right;	
}
	
/* .headerBtn設定
--------------------------------------------------- */
.headerBtn { position: relative; display: block; }

.headerBtn { display: block; }

.headerBtn ul li {
	display: block;
	float: left;
}

.headerBtn ul li a,
.headerBtn ul li span {
	display: block;
	overflow: hidden;
	text-indent: -99999px;
	font-size: 1.4em; color: #FFF;
	white-space: nowrap;
}

/* header_logo
--------------------------------------------------- */
#wrapper #header .headerInner #headerInnerL #headLogo { 
	display: block; 
	float: left;
	margin-top: 7px;
}
	#wrapper #header .headerInner #headerInnerL #headLogo a,
	#wrapper #header .headerInner #headerInnerL #headLogo span {
		display: block;
		width: 122px;
		height: 26px;
		overflow: hidden;
		text-indent: -99999px;
		background: url(../images/pc_logo.png) no-repeat center center;
	}
	
	
/* 言語ボタン
--------------------------------------------------- */
.headerBtn ul li a,
.headerBtn ul li span,
.headerBtn ul li span.not {
	display: block;
	overflow: hidden;
	text-indent: -99999px;
	font-size: 1.4em; color: #FFF; white-space: nowrap;
}

.headerBtn ul li span,
.headerBtn ul li a:hover { background-color: #FFF; color: #000; }

.head-toolbar-sp-btn { display: none; border-left: 1px solid #000; width: 40px; float: right; }
.head-toolbar-sp-btn a { display: block; border-left: 1px solid #34495E; }
.head-toolbar-sp-btn a:hover { background: #2E3F51; }


#wrapper #header .headerInner #headerInnerR #lngBtn {
	width: 460px;
	float: left;
	display: block;
}

	#wrapper #header .headerInner #headerInnerR #lngBtn ul {
		padding: 10px 0 0 0;
	}
	
		#wrapper #header .headerInner #headerInnerR #lngBtn ul li {
			/*height: 21px;*/
			width: 82px;
			margin: 0 10px 0 0 ;
		}
	#lngBtn ul li span,
	#lngBtn ul li a {
		background: url(../images/lngBtn_bg.png) no-repeat;
	}
		
	#headerInnerR #lngBtn #lngBtn-jp a { background-position: 0px 0px; }
	#headerInnerR #lngBtn #lngBtn-en a { background-position: -87px 0px; }
	#headerInnerR #lngBtn #lngBtn-ko a { background-position: -174px 0px; }
	#headerInnerR #lngBtn #lngBtn-zh-cn a { background-position: -262px 0px; }
	#headerInnerR #lngBtn #lngBtn-zh-tw a { background-position: -350px 0px; }
	
	#headerInnerR #lngBtn #lngBtn-jp span,
	#headerInnerR #lngBtn #lngBtn-jp a:hover { background-position: 0px -23px; }
	#headerInnerR #lngBtn #lngBtn-en span,
	#headerInnerR #lngBtn #lngBtn-en a:hover { background-position: -87px -23px; }
	#headerInnerR #lngBtn #lngBtn-ko span,
	#headerInnerR #lngBtn #lngBtn-ko a:hover { background-position: -174px -23px; }
	#headerInnerR #lngBtn #lngBtn-zh-cn span,
	#headerInnerR #lngBtn #lngBtn-zh-cn a:hover { background-position: -262px -23px; }
	#headerInnerR #lngBtn #lngBtn-zh-tw span,
	#headerInnerR #lngBtn #lngBtn-zh-tw a:hover { background-position: -350px -23px; }


/* SNSボタン
--------------------------------------------------- */
#headerInnerR #snsArea {
	width: 111px;
	float: right;
}

	#headerInnerR #snsArea ul li {
		margin-top: 7px;
	}
	
	#headerInnerR #snsArea ul li a,
	#headerInnerR #snsArea ul #snsArea_tw a,
	#headerInnerR #snsArea ul #snsArea_fb a,
	#headerInnerR #snsArea ul #snsArea_li a {
		width: 27px; height: 27px;
		background-color: transparent;
		text-indent: -9999px;
	}
	
	#headerInnerR #snsArea ul li a:hover { 
		color: #000; 
		background-color: transparent;
		opacity: 0.7;
	}
	
	#headerInnerR #snsArea ul li {
		margin-right: 10px;
	}
	
	#headerInnerR #snsArea ul li a,
	#headerInnerR #snsArea ul #snsArea_tw a,
	#headerInnerR #snsArea ul #snsArea_fb a,
	#headerInnerR #snsArea ul #snsArea_li a {
		background-image: url(../images/sns_btn_bg.png); background-repeat: no-repeat;
	}
	
	#headerInnerR #snsArea ul #snsArea_tw a {	background-position: 0px 0px;}
	#headerInnerR #snsArea ul #snsArea_fb a {	background-position: -31px 0px;}
	#headerInnerR #snsArea ul #snsArea_li a {	background-position: -63px 0px;}

		
		
/* PC mainArea
---------------------------------------------------------------- */
#wrapper .mainArea {
	width: 1020px;
	margin: 0 auto;
}

	#wrapper .mainArea .spBanner {
		display: block;
		height: 90px;
		width: 728px;
		margin-bottom: 20px;	
	}
	
	#wrapper .mainArea h1 {
		margin-bottom: 20px;
	}
	
	#wrapper .mainArea .date {
		margin-bottom: 4px;
	}
	
	/*#wrapper .mainArea #nav ul li {
		float: left;
	}*/
	
	
/* PC Global navi
---------------------------------------------------------------- */
#wrapper .mainArea #globalmenu .gm {
	height: 50px;
	clear: both;
	display: block;
	width: 1020px;	
}

#wrapper .mainArea #globalmenu .gm #gmHome .pr-btn,
#wrapper .mainArea #globalmenu .gm #gmVisitor .pr-btn,
#wrapper .mainArea #globalmenu .gm #gmBusiness .pr-btn,
#wrapper .mainArea #globalmenu .gm #gmEvent .pr-btn,
#wrapper .mainArea #globalmenu .gm #gmFamily .pr-btn,
#wrapper .mainArea #globalmenu .gm #gmPress .pr-btn,
#wrapper .mainArea #globalmenu .gm #gmBeginner .pr-btn,
#wrapper .mainArea #globalmenu .gm #gmExhibition .pr-btn,
#wrapper .mainArea #globalmenu .gm #gmPast .pr-btn {
	background: url(../images/pc_nav_ko.png) no-repeat;
}


#wrapper .mainArea #globalmenu .gm #gmExhibition {
	width: 117px;
}

#wrapper .mainArea #globalmenu .gm #gmPast {
	width: 111px;
}


/* ボタン全体の指定 */
#wrapper .mainArea #globalmenu .gm li.pr {
	float: left;
	display: block;
	height: 50px;
	position: relative;
}



/* HOME */
#wrapper .mainArea #globalmenu .gm #gmHome {
	width: 60px;
}
	#wrapper .mainArea #globalmenu .gm #gmHome .pr-btn {
		background-position: 0 0;
		width: 60px;
		/*display: block;
		height: 60px;*/
	}
		#wrapper .mainArea #globalmenu .gm #gmHome .pr-btn:hover {
			background-position: 0 -50px;
		}

/* 一般公開日にご来場の方へ */
#wrapper .mainArea #globalmenu .gm #gmVisitor {
	width: 150px;
}
	#wrapper .mainArea #globalmenu .gm #gmVisitor .pr-btn {
		background-position: -60px 0px;
		width: 150px;
	}
		#wrapper .mainArea #globalmenu .gm #gmVisitor .pr-btn:hover {
			background-position: -60px -50px;
		}

/* ビジネスデイにご来場の方へ */
#wrapper .mainArea #globalmenu .gm #gmBusiness {
	width: 150px;
}
	#wrapper .mainArea #globalmenu .gm #gmBusiness .pr-btn {
		background-position: -210px 0px;
		width: 150px;
	}
		#wrapper .mainArea #globalmenu .gm #gmBusiness .pr-btn:hover {
			background-position: -210px -50px;
		}

/* 注目イベント */
#wrapper .mainArea #globalmenu .gm #gmEvent {
	width: 160px;
}
	#wrapper .mainArea #globalmenu .gm #gmEvent .pr-btn {
		background-position: -360px 0px;
		width: 160px;
	}
		#wrapper .mainArea #globalmenu .gm #gmEvent .pr-btn:hover {
			background-position: -360px -50px;
		}

/* キッズのみんなへ */
#wrapper .mainArea #globalmenu .gm #gmFamily {
	width: 122px;
}
	#wrapper .mainArea #globalmenu .gm #gmFamily .pr-btn {
		background-position: -426px 0px;
		width: 122px;
	}
		#wrapper .mainArea #globalmenu .gm #gmFamily .pr-btn:hover {
			background-position: -426px -50px;
		}
		
/* プレスの方へ */
#wrapper .mainArea #globalmenu .gm #gmPress {
	width: 130px;
}
	#wrapper .mainArea #globalmenu .gm #gmPress .pr-btn {
		background-position: -520px 0px;
		width: 130px;
	}
		#wrapper .mainArea #globalmenu .gm #gmPress .pr-btn:hover {
			background-position: -520px -50px;
		}

/* 初めてのかたへ／お問い合わせ */
#wrapper .mainArea #globalmenu .gm #gmBeginner {
	width: 141px;
}
	#wrapper .mainArea #globalmenu .gm #gmBeginner .pr-btn {
		background-position: -650px 0px;
		width: 141px;
	}
		#wrapper .mainArea #globalmenu .gm #gmBeginner .pr-btn:hover {
			background-position: -650px -50px;
		}

/* 出展のご案内 */
#wrapper .mainArea #globalmenu .gm #gmExhibition {
	width: 118px;
}
	#wrapper .mainArea #globalmenu .gm #gmExhibition .pr-btn {
		background-position: -791px 0px;
		width: 118px;
	}
		#wrapper .mainArea #globalmenu .gm #gmExhibition .pr-btn:hover {
			background-position: -791px -50px;
		}
		
/* 前回の様子 */
#wrapper .mainArea #globalmenu .gm #gmPast {
	width: 111px;
}
	#wrapper .mainArea #globalmenu .gm #gmPast .pr-btn {
		background-position: -909px 0px;
		width: 111px;
	}
		#wrapper .mainArea #globalmenu .gm #gmPast .pr-btn:hover {
			background-position: -909px -50px;
		}


/* ボタン全体のa指定 */
#wrapper .mainArea  #globalmenu .gm .pr .pr-btn {
	display: block;
	height: 50px;
	overflow: hidden;
	text-indent: -9999px;
	margin: 0;
}


/* -------------------------
	ドロップダウン
 ------------------------- */
#globalmenu ul.gm li.pr {
	margin: 0px; padding: 0px; float: left; display: block;
	height: 50px; position: relative;
	z-index: 1100;
}

#globalmenu ul.gm li.pr .pr-btn {
	margin: 0px; display: block;
	height: 50px; overflow: hidden; text-indent: -99999px;
	z-index: 1200;
}
#globalmenu .pr ul a.current-link,
#globalmenu .pr ul a.current-link:hover,
#globalmenu .pr ul a.parents-link,
#globalmenu .pr ul a.parents-link:hover { cursor: default; }

#globalmenu ul.gm li.pr ul {
	width: 240px; margin: 0px; padding: 0px;
	display: block;
	font-size: 1.2em;
	line-height: 1.4;
	z-index: 1500;
}
.no-rgba #globalmenu ul.gm li.pr ul { }

#globalmenu ul.gm li.pr ul li {
	background-color: rgba(40,49,84,0.85);
	display: block;
}
.no-rgba #globalmenu ul.gm li.pr ul li { background-color: #535A76; }

#globalmenu ul.gm li.pr ul li a {
	color: #FFF;
	padding: 7px 5px 7px 20px;
	display: block;
	font-size: 14px;
	background-color: rgba(8, 55, 83, 0.4);
	background: url(../images/pd_arrow.png) no-repeat left center;
	border-bottom: 1px solid #8e94ac ;
}

/*#globalmenu ul.gm li.pr ul li a:last-child {
	border-bottom: none;
}*/


#globalmenu ul.gm li.pr ul li a:hover {
	display: block;
}

#globalmenu ul.gm li.pr ul li a.current-link,
#globalmenu ul.gm li.pr ul li a.current-link:hover,
#globalmenu ul.gm li.pr ul li a.parents-link,
#globalmenu ul.gm li.pr ul li a.parents-link:hover { background-color: #7E8398 }

	
	
/* PC .mainCont
---------------------------------------------------------------- */
#wrapper .mainCont {
	width: 984px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.75); /* 背景色のみ透過 */
	padding: 16px 18px 20px 18px;
	position: relative;
}

#wrapper .mainCont h2 {
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	background: url(../images/pc_title_icon.png) no-repeat center left #5ab7ac;
	/*height: 32px;*/
	padding: 14px 0 10px 72px;
	line-height: 1.0;
	border-radius: 5px 5px 0px 0px; /* 角丸 */
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}

#wrapper .mainCont h4 {
	font-size: 18px;
	font-weight: bold;
	color: #5ab7ac;
	line-height: 1.2;
	margin-bottom: 6px;
}

#wrapper .mainCont .cttl {
	background: url(../images/st_icon.png) no-repeat center left;
	padding-left: 34px;
	padding-top: 5px;
	height: 25px;
}

#wrapper .mainCont h4 span {
	padding-left: 20px;
	font-size: 85%;
}




/* PC .mainCont .subArea
---------------------------------------------------------------- */
#wrapper .mainCont .subArea {
	width: 206px;
	float: right;
	display: block;
	position: relative;
}


#wrapper .mainCont .subArea #submenu {
	width: 206px;
	float: right;
	display: block;
	background-color:#93d1ca;
	border-radius: 5px 5px 5px 5px; /* radius */
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2); /* boxShadow */
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	padding-top: 11px;
}

.fixed {
	position: fixed !important;
	top: 0;
	/*margin-left:793px;*/
}


#wrapper .mainCont .subArea #submenu h1 {
	margin: 0;
	padding: 0;
	display: block;
	font-weight: bold;
	/*font-size: 1.4em;*/
	height: 20px;
	text-indent: -99999em;
	overflow: hidden;
	margin: 0 0 2px 0;
}

#wrapper .mainCont .subArea #submenu ul {
	padding:6px 9px;
}

	#wrapper .mainCont .subArea #submenu ul li {
		font-size: 12px;
		font-weight: bold;
		color: #5ab7ac;
		background-color:#FFF;
		margin-bottom: 1px;
		text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);　/* テキストシャドー */
		width: 188px;
		height: 44px;
		background: url(../images/submenu_bg.png) no-repeat 0 -44px;
	}

	#wrapper .mainCont .subArea #submenu ul li a {
		height: 17px;
		font-size: 12px;
		font-weight: bold;
		color: #5ab7ac;
		text-decoration: none;
		display: block;
		padding: 13px 10px;	d
	}
	
	#wrapper .mainCont .subArea #submenu ul li a:hover {
		background: url(../images/submenu_bg.png) no-repeat 0 0px;
		
	}
	
	#wrapper .mainCont .subArea #submenu ul .act {
		background: url(../images/submenu_bg.png) no-repeat 0 0px;
		height: 32px;
		padding: 12px 0 0 13px;
	}
	
	#wrapper .mainCont .subArea #submenu ul .tl a {
		padding-top: 7px;
		line-height: 1.4;
		padding-bottom: 20px;
	}
	
	#wrapper .mainCont .subArea #submenu ul .tl2 a {
		padding-top: 10px;
		line-height: 1.4;
		font-size: 85%;
	}
	
	#wrapper .mainCont .subArea #submenu ul .act2 {
		background: url(../images/submenu_bg.png) no-repeat 0 0px;
		height: 37px !important;
		padding: 7px 0 0 10px !important;
		line-height: 1.4 !important;
	}
	



/* PC .cntBox
---------------------------------------------------------------- */

#wrapper .cntBox {
	width: 770px;
	float: left;
	margin-right: 0px;	
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	margin-bottom: 20px;
	border-radius: 5px 5px 5px 5px; /* radius */
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#wrapper .cntBox .boxInner {
	padding: 20px 20px 10px 20px;
	background: rgba(255, 255, 255, 0.8); /* 背景色のみ透過 */
	/*position: relative;*/
	border-radius: 0px 0px 5px 5px; /* radius */
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
}


#wrapper .cntBox .boxInner h3 {
	border-left: solid 12px #5ab7ac;
	border-bottom: solid 1px #5ab7ac;
	padding: 7px 0 0 11px;
	height: 23px;
	line-height: 1.0;
	margin-bottom: 16px;
	font-size: 16px;
}

#wrapper .cntBox .boxInner p.pagetop {
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	padding: 0 18px 0 0px;
	margin-right: 5px;
	margin-bottom: 10px !important;
	background: url(../images/pagetop.gif) no-repeat right 3px;
}


/* PC .cntBox table
---------------------------------------------------------------- */
#wrapper .cntBox .boxInner table {
	width: 697px;
	margin: 0 auto 20px;
}


#wrapper .cntBox .boxInner table,
#wrapper .cntBox .boxInner table th,
#wrapper .cntBox .boxInner table td  {
	border: 1px solid #dddddd;
}

#wrapper .cntBox .boxInner table th {
	padding:  16px;
	background: #efefef;
	text-align: left;
	font-weight: normal;
	width: 25%;
}

	#wrapper .cntBox .boxInner table th span {
		padding: 0px 5px;
		background: #5ab7ac;
		color: #FFF;
		font-weight: normal;
		display: block;
		/*width: 40px;*/
		text-align: center;
		margin-bottom: 6px;
		display: table-cell;
	}


#wrapper .cntBox .boxInner table td {
	padding:  16px;
}

#wrapper .cntBox .boxInner table td a {
	font-weight: bold;
	margin-right: 3px;
}




/* PC .cntFooter
---------------------------------------------------------------- */
#wrapper .cntFooter {
	width: 1020px;
	margin: 0 auto;
	padding-top: 16px;
	padding-bottom: 13px;
	background: #555555;
	background: rgba(85, 85, 85, 0.75); /* 背景色のみ透過 */
	margin-bottom: 20px;
}

#wrapper .cntFooter ul {
	margin: 0 auto;
	text-align: center;
}

#wrapper .cntFooter ul li {
	display: inline-block;
	margin-right: 24px;
	padding-right: 24px;
	text-align: center;
	color: #FFF;
	border-right: 1px solid #FFF;
	line-height: 1.1;
	
}

#wrapper .cntFooter ul li:last-child {
	border-right: none;
}

	#wrapper .cntFooter ul li a,
	#wrapper .cntFooter ul li a:hover {
		color: #FFF;
	}


/* PC footer
---------------------------------------------------------------- */
#wrapper .footer .pagetop {
	width: 1020px;
	text-align: right;
	margin: 0 auto;
}

#wrapper .footer .fbox {
	padding: 13px 0;
	background: #a1559d;
	width: 100%;
}

	#wrapper .footer .fi {
		width: 1020px;
		margin: 0 auto;
		color: #FFF;
	}
		#wrapper .footer .fi p {
			margin-top: 11px;
		}
		
		#wrapper .footer .fi p {
			float: left;
		}
		
		#wrapper .footer .fi ul {
			float: right;
			background: #FFF;
			padding: 7px 10px;
			border-radius: 5px; /* 角丸 */
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			text-align: center;
		}
		
			#wrapper .footer .fi ul li {
				display: inline-block;
				margin: 0 7px;
			}

/* *************************************************************
*
*	SP view
*	
************************************************************ */

@media screen and (max-width:769px){
.pcBlc {
		display: none;
}
.spBlc {
	display: block;
}


body {
	background-image: url(../images/sp_background-footer.png) repeat-x #e4dada;　/* フッターにイラスト設置 */
	background-position: center bottom;
	background-attachment: fixed;
	background-size: 320px 280px;
}


#wrapper {
	background: url(../images/sp_background-character.png) no-repeat top right; /* キャラクターの設置 */
	background-position: top right;	
	background-size: 320px 426px;
}


.pcml20 { margin-left: 0px; }


.linkBtn  {
	width: auto;
}





/* リスト関係 */
#wrapper .cntBox .boxInner .number {
	margin: 5px;
	font-size: 12px;
	border: 1px solid #ccc;
	padding: 10px;
}

#wrapper .cntBox .boxInner .number li {
	margin-left: 20px;
	margin-bottom: 8px;
}




/* SP #header
--------------------------------------------------- */
#wrapper #header {
	height: auto;
	position: static;
	padding: 0 5px;
	height: 44px;
	background-color: rgba(161, 85, 157, 1);
}

#wrapper #header .headerInner {
	width: 100%;
}


/* SP #headerInnerL #headerInnerR　共通
--------------------------------------------------- */
#wrapper #header .headerInner #headerInnerL {
	width: 128px;
}

#wrapper #header .headerInner #headerInnerR {
	width: 135px;
}


/* SP header_logo
--------------------------------------------------- */
#wrapper #header .headerInner #headerInnerL #headLogo {
	display: block;
	width: 40px;
}

#wrapper #header .headerInner #headerInnerL #headLogo { 
	padding: 10px 0 0 10px;
}

#wrapper #header .headerInner #headerInnerL #headLogo a,
#wrapper #header .headerInner #headerInnerL #headLogo span {
	width: 76px; height: 20px;
	background-size: 76px 20px;
}

#wrapper #header .headerInner #headerInnerL #headLogo { 
	display: block; 
	width: 40px; 
}
	
#wrapper #header .headerInner #headerInnerL #headLogo { 
	padding: 13px 0 0 8px;
	margin: 0;
}
#wrapper #header .headerInner #headerInnerL #headLogo a {
	width: 100px;
	height: 18px;
	background: url(../images/sp_logo.png) no-repeat center center;
	background-size: 89px 18px;
}

/* SP 言語ボタン
--------------------------------------------------- */
#wrapper #header .headerInner #headerInnerR #lngBtn {
	display: none;
}

/* spmenuBtn
--------------------------------------------------- */
#wrapper #header .headerInner #headerInnerR .spmenuBtn li {
	float: right;
}


/* SP .mainArea
---------------------------------------------------------------- */
#wrapper .mainArea {
	width: 100%;
	margin: 0 auto;
}

#wrapper .mainArea .spBanner {
	display: none;
}
	
	#wrapper .mainArea h1 {
		margin-bottom: 18px;
		padding: 0 75px 0 8px
	}
	
	#wrapper .mainArea .date {
		margin-bottom: 0px;
		background:rgba(241, 108, 150, 0.8);
		padding: 5px 7px;
	}
	
	#wrapper .mainArea #nav ul li {
		float: left;
	}
	
	
/* SP .mainCont
---------------------------------------------------------------- */
#wrapper .mainCont {
	width: 100%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.6); /* 背景色のみ透過 */
	padding: 0;
}

#wrapper .mainCont h2 {
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	background: url(../images/sp_title_icon.png) no-repeat 8px 50% #5ab7ac;
	background-size: 30px 18px;
	padding: 10px 0 8px 46px;
	line-height: 1.2;
	border-radius: 0px; /* 角丸0px指定 */
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	
}


/* SP .mainCont .subArea
---------------------------------------------------------------- */
#wrapper .mainCont .subArea {
	width: 100%;
	float: none;
	display: block;
	padding: 5px 0px;
	position: static !important;
}

#wrapper .mainCont .subArea #submenu {
	width: auto;
	float: none;
	display: block;
	background-color:#93d1ca;
	border-radius: 5px 5px 5px 5px; /* radius */
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2); /* boxShadow */
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	margin: 5px;
}

#wrapper .mainCont .subArea #submenu h1 {
	display: block;
	text-indent: 0;
	text-align: left;
	background: none !important;
	font-size: 1.4em;
	padding-left: 11px;
	line-height: 1.2;
}

#wrapper .mainCont .subArea #submenu ul {
	padding: 6px;
}

	#wrapper .mainCont .subArea #submenu ul li {
		color: #5ab7ac;
		margin-bottom: 0px;
		text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);　/* テキストシャドー */
		width: auto;
		height: 44px;
		background-color: #ffffff;
		border-radius: 3px; /* radius */
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		margin-bottom: 1px;
		background-image: url(../images/subnav_arrow.png) !important;
		background-repeat: no-repeat;
		background-position: 98% 50% !important;
	}

	#wrapper .mainCont .subArea #submenu ul li a {
		color: #5ab7ac;
		text-decoration: none;
	}
	
		
	#wrapper .mainCont .subArea #submenu ul li a:hover {
		background: none;
		
	}
	
	
	#wrapper .mainCont .subArea #submenu ul .act {
		background: #ddf4f1;
		/*color: #fff;*/		
		background-image: url(../images/subnav_arrow.png);
		background-repeat: no-repeat;
		background-position: 98% 50% !important;
	}
	
	#wrapper .mainCont .subArea #submenu ul .act2 {
		background: #ddf4f1;
		/*color: #fff;*/		
		background-image: url(../images/subnav_arrow.png);
		background-repeat: no-repeat;
		background-position: 98% 50% !important;
	}




/* SP .cntBox
---------------------------------------------------------------- */

#wrapper .cntBox {
	float: none;
	margin: 0px;
	width: 100%;
	position: relative;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0); /* boxshadow */
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
	border-radius: 0px; /* radius */
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

#wrapper .cntBox .boxInner {
	padding: 20px 25px 10px 25px;
	background: rgba(255, 255, 255, 0.8); /* 背景色のみ透過 */
	position: static;
	height: auto;
	display: block;
	border-radius: 0px; /* radius */
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

#wrapper .cntBox .boxInner h3 {
	border-left: solid 12px #5ab7ac;
	border-bottom: solid 1px #5ab7ac;
	padding: 7px 0 7px 11px;
	height: auto;
	font-size: 16px;
}


/* table */
#wrapper .cntBox .boxInner table {
	width: 100%;
}

#wrapper .cntBox .boxInner table,
#wrapper .cntBox .boxInner table th,
#wrapper .cntBox .boxInner table td  {
	border: none;
}


#wrapper .cntBox .boxInner table th {
	display: block;
	padding: 10px 0px 10px 10px;
	font-size: 14px;
	width: auto;
}

	#wrapper .cntBox .boxInner table th span {
		padding: 0px 5px;
		background: #5ab7ac;
		color: #FFF;
		font-weight: normal;
		display: inline-block;
		width: 40px;
		text-align: center;
		margin:  0px 6px 0;
	}

#wrapper .cntBox .boxInner table td {
	padding:  10px 16px 16px 16px;
	font-size: 14px;
	line-height: 20px;
	display: block;
}




/* SP .cntFooter
---------------------------------------------------------------- */
#wrapper .cntFooter {
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
	background: #555555;
	background: rgba(85, 85, 85, 0.75); /* 背景色のみ透過 */
	margin-bottom: 0px;
}

#wrapper .cntFooter ul {
	margin: 0 auto;
	text-align: center;
}

#wrapper .cntFooter ul li {
	margin-right: 8px;
	padding-right: 8px;
	text-align: center;
	color: #FFF;
	border-right: 1px solid #FFF;
	line-height: 1.1;
}

/* SP footer
---------------------------------------------------------------- */
#wrapper .footer {
	padding: 16px;
	background: #a1559d;
}

#wrapper .footer .fbox {
	padding: 0px;
	/*width: 100%;*/
}

	#wrapper .footer .fi {
		width:100%;
		color: #FFF;
	}
		
		#wrapper .footer .fi p {
			float: none;
			font-size: 8px;
			text-align: center;
		}
		
		#wrapper .footer .fi ul {
			float: none;
			background: #FFF;
			padding: 8px 14px;
			border-radius: 5px; /* 角丸 */
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
		
			#wrapper .footer .fi ul li {
				display: inline-block;
				text-align: center;
				margin: 0 9px;
			}
}