/* CSS Document */

#menu {
	height:650px;
}

#MenuLine {
	height:650px;
}

/* コンテンツ */
.TopImage {
	width:633px;
	margin:0px;
	padding:0px;
	/*background:url(images/top_image.gif) no-repeat;*/
}

/* キービジュアル */
.Visual {
	margin:0px auto 10px;
	padding:20px 0px 0px;
	text-align:center;
}

/* トピックス */
#MainFrame {
	margin:0px 26px;
	padding:0px;
}
/* macIEから隠す \*/
#MainFrame {
	margin:0px 26px 50px;
	padding:0px;
}
/* */

#MainFrame .contents .TopAttention {
	padding:5px;
	border:#FF3366 1px solid;
	color:#000000;
	font-size:12px;
	text-align:left;
	line-height:140%;
}

#MainFrame .contents {
	line-height:200%;
}
