/*
/////////////////////////////////////
index.html
/////////////////////////////////////
*/

/* 言語選択 */
#Header .Language {
	list-style:none;
	height:10px;
	margin:0px 9px 0px 0px;
	padding:0px;
}

#Header .Language p {
	display:block;
	margin:0px 0px 10px 18px;
	_margin:0px 0px 2px 18px;
	padding:0px;
	text-indent:-9999px;
	float:right;
}

.Language p a {
	display:block;
	text-decoration:none;
}

.Language p.Japanese,
.Language p.Japanese a {
	width:41px;
	height:10px;
	background:url(common/images/japanese.gif) no-repeat;
}

.Language p.English,
.Language p.English a {
	width:57px;
	height:10px;
	background:url(common/images/english.gif) no-repeat;
}

/* ロゴエリア */
#Header #LogoArea {
	height:60px;
	margin:0px 0px 9px;
	padding:0px;
	clear:both;
}

/* メインメニュー */
#flashcontent .MainMenu {
	list-style:none;
	width:750px;
	height:41px;
	margin:0px auto;
	padding:0px;
	clear:both;
}

.MainMenu p {
	display:block;
	width:150px;
	height:41px;
	margin:0px;
	padding:0px;
	text-indent:-9999px;
	float:left;
}

.MainMenu p a {
	display:block;
	width:150px;
	height:41px;
	background-position:0px 0px;
	text-decoration:none;
}

/* 01 */
.MainMenu p.Menu01 {
	background:url(common/images/menu_01.gif) 0px -41px no-repeat;
}

.MainMenu p.Menu01 a {
	background:url(common/images/menu_01.gif) no-repeat;
}

/* 02 */
.MainMenu p.Menu02 {
	background:url(common/images/menu_02.gif) 0px -41px no-repeat;
}

.MainMenu p.Menu02 a {
	background:url(common/images/menu_02.gif) no-repeat;
}

/* 03 */
.MainMenu p.Menu03 {
	background:url(common/images/menu_03.gif) 0px -41px no-repeat;
}

.MainMenu p.Menu03 a {
	background:url(common/images/menu_03.gif) no-repeat;
}

/* 04 */
.MainMenu p.Menu04 {
	background:url(common/images/menu_04.gif) 0px -41px no-repeat;
}

.MainMenu p.Menu04 a {
	background:url(common/images/menu_04.gif) no-repeat;
}

/* 05 */
.MainMenu p.Menu05 {
	background:url(common/images/menu_05.gif) 0px -41px no-repeat;
}

.MainMenu p.Menu05 a {
	background:url(common/images/menu_05.gif) no-repeat;
}

.MainMenu p.Menu01 a:hover,
.MainMenu p.Menu01 a:active,
.MainMenu p.Menu02 a:hover,
.MainMenu p.Menu02 a:active,
.MainMenu p.Menu03 a:hover,
.MainMenu p.Menu03 a:active,
.MainMenu p.Menu04 a:hover,
.MainMenu p.Menu04 a:active,
.MainMenu p.Menu05 a:hover,
.MainMenu p.Menu05 a:active {
	background-position:0px -41px;
}

/* その他のメニュー */
#flashcontent .HeaderMenu {
	list-style:none;
	height:12px;
	margin:0px 35px 10px 0px;
	padding:0px;
	clear:both;
}

#flashcontent .HeaderMenu p {
	display:block;
	margin:0px 0px 10px 14px;
	padding:0px;
	text-indent:-9999px;
	float:right;
}

.HeaderMenu p a {
	display:block;
	text-decoration:none;
}

.HeaderMenu p.Previous,
.HeaderMenu p.Previous a {
	width:72px;
	height:12px;
	background:url(common/images/submenu_01.gif) no-repeat;
}

.HeaderMenu p.Exhibition,
.HeaderMenu p.Exhibition a {
	width:82px;
	height:12px;
	background:url(common/images/submenu_02.gif) no-repeat;
}

/* +++++++++++contents+++++++++++ */

/* FLASH */
#FlashArea {
	width:800px;
	margin:0px 0px 18px;
	_margin:0px 0px 13px;
	padding:0px;
}
*+html #FlashArea {
	margin:0px 0px 13px;
}

#FlashArea p {
	margin:30px 0px;
	padding:0px;
	font-size:12px;
	color:#FF6600;
	line-height:180%;
}

/* MAIN CONTENTS */
#MainContents {
	width:456px;
	margin:0px 16px 0px 55px;
	_margin:0px 16px 0px 23px;
	padding:0px;
	float:left;
}


/* TOPICS */
#MainContents #Topics {
	margin:0px 0px 15px;
	padding:0px;
	background:url(images/back_topics.gif) repeat-y;
}

#Topics h2 {
	width:456px;
	height:29px;
	margin:0px 0px 14px;
	padding:0px;
	background:url(images/h2_topics.gif) no-repeat;
}

#Topics ul.Item {
	list-style:none;
	margin:10px 10px 0px;
	padding:0px;
}

#Topics ul.Item li {
	margin:0px 0px 10px;
	_margin:0px 0px 8px;
	padding:0px 0px 0px 12px;
	background:url(common/images/arrow.gif) no-repeat 0px 3px;
	color:#000000;
	font-size:12px;
	text-align:left;
}
*+html #Topics ul.Item li {
	margin:0px 0px 8px;
}

#Topics dl.Item {
	list-style:none;
	margin:10px 10px 0px;
	_margin:5px 10px 0px;
	padding:0px;
	color:#000000;
	font-size:12px;
	text-align:left;
}
*+html #Topics dl.Item {
	margin:5px 10px 0px;
}

#Topics dl.Item dt {
	width:80px;
	margin:0px 10px 0px 0px;
	padding:0px 0px 0px 12px;
	background:url(common/images/arrow.gif) no-repeat 0px 3px;
	float:left;
}

#Topics dl.Item dd {
	width:330px;
	margin:0px;
	float:left;
}

#Topics .TopAttention {
	margin:30px 60px;
	padding:10px 0px;
	border:#FF3366 1px solid;
}

#Topics p.Bottom {
	display:block;
	width:456px;
	height:4px;
	margin:0px;
	padding:0px;
	background:url(images/bottom_topics.gif) no-repeat left bottom;
}

/* AD */
#MainContents ul.Ad {
	list-style:none;
	width:456px;
	margin:0px 0px 20px;
	padding:0px;
	text-align:left;
}

ul.Ad li {
	display:block;
	width:160px;
	margin:0px 20px 20px 0px;
	padding:0px 0px 0px 31px;
	background:url(images/ad.gif) no-repeat left center;
	color:#000000;
	font-size:12px;
	float:left;
}

/* ATTENTION */
#MainContents ul.Attention {
	list-style:none;
	margin:0px;
	padding:0px;
	clear:both;
}

ul.Attention li,
ul.Attention li a {
	display:block;
	height:18px;
	padding:0px;
	text-decoration:none;
	text-indent:-9999px;
	float:left;
}

ul.Attention li.Menu01,
ul.Attention li.Menu01 a {
	width:132px;
	margin:0px 0px 11px 0px;
	_margin:0px 5px 0px 0px;
	background:url(images/attention_01.gif) no-repeat;
}
*+html ul.Attention li.Menu01,
*+html ul.Attention li.Menu01 a {
	margin:0px 5px 0px 0px;
}

ul.Attention li.Menu02,
ul.Attention li.Menu02 a {
	width:208px;
	margin:0px 13px 11px 0px;
	_margin:0px;
	background:url(images/attention_02.gif) no-repeat;
}
*+html ul.Attention li.Menu02,
*+html ul.Attention li.Menu02 a {
	margin:0px;
}

/* BANNER */
#MainContents ul.Banner {
	list-style:none;
	margin:0px;
	padding:0px;
	clear:both;
}

ul.Banner li {
	display:block;
	margin:0px 10px 0px 0px;
	padding:0px;
	float:left;
}

/* OTHER CONTENTS */
#OtherContents {
	width:200px;
	margin:0px 55px 0px 0px;
	padding:0px;
	float:right;
}

/* MAIL */
#OtherContents #Mail {
	margin:0px 0px 17px;
	padding:0px;
	background:url(images/back_mail.gif) repeat-y;
}

#OtherContents #Mail h2 {
	width:200px;
	height:28px;
	margin:0px 0px 8px;
	padding:0px;
	background:url(images/h2_mail.gif) no-repeat;
}

#OtherContents #Mail p.Button {
	margin:auto 7px auto 9px;
	_margin:0px auto;
	padding:0px;
}
*+html #OtherContents #Mail p.Button {
	margin:0px auto;
}

#OtherContents #Mail p.Bottom {
	display:block;
	width:200px;
	height:5px;
	margin:0px;
	padding:5px 0px 0px;
	_padding:0px;
	background:url(images/bottom_mail.gif) no-repeat left bottom;
}
*+html #OtherContents #Mail p.Bottom {
	padding:0px;
}

/* BANNER */
#OtherContents ul.BannerArea {
	list-style:none;
	margin:0px;
	padding:0px;
}

ul.BannerArea li {
	margin:0px 0px 6px;
	padding:0px;
	text-align:right;
}












