body { 
	background-image: url(../../common/img/bg_off01.jpg); 
	background-repeat: no-repeat; 
	background-position: center top; 
	background-attachment: fixed; 
}

#wrapper #contents #bodyBox {
	/*loat: left;*/
	width: 960px;
	height:1740px;
	position:relative;
	padding:0 0 20px 0;
	margin:0 auto;
}
/*img {
	vertical-align: baseline;
	display: block;
}*/
#wrapper #contents #bodyBox h1 {
	margin: 0px;
	padding: 52px 0 60px 63px;
}
#wrapper #contents #bodyBox .team-mario-title {
	position:absolute;
	left:63px;
	top:194px;
	width:409px;
}
#wrapper #contents #bodyBox .team-sonic-title {
	position:absolute;
	right:68px;
	top:194px;
	width:409px;
}
#wrapper #contents #bodyBox .mario {
	position:absolute;
	left:54px;
	top:232px;
	width:268px;
}
#wrapper #contents #bodyBox .sonic {
	position:absolute;
	right:241px;
	top:267px;
	width:258px;
}
#wrapper #contents #bodyBox .luigi {
	position:absolute;
	left:245px;
	top:417px;
	width:250px;
}
#wrapper #contents #bodyBox .tails {
	position:absolute;
	right:49px;
	top:450px;
	width:268px;
}
#wrapper #contents #bodyBox .peach {
	position:absolute;
	left:54px;
	top:498px;
	width:268px;
}
#wrapper #contents #bodyBox .knuckles {
	position:absolute;
	right:231px;
	top:554px;
	width:258px;
}
#wrapper #contents #bodyBox .daisy {
	position:absolute;
	left:245px;
	top:701px;
	width:250px;
}
#wrapper #contents #bodyBox .amy {
	position:absolute;
	right:54px;
	top:668px;
	width:268px;
}
#wrapper #contents #bodyBox .yoshi {
	position:absolute;
	left:58px;
	top:805px;
	width:268px;
}
#wrapper #contents #bodyBox .shadows {
	position:absolute;
	right:236px;
	top:805px;
	width:258px;
}
#wrapper #contents #bodyBox .waluigi {
	position:absolute;
	left:245px;
	top:903px;
	width:250px;
}
#wrapper #contents #bodyBox .blaze {
	position:absolute;
	right:54px;
	top:917px;
	width:268px;
}
#wrapper #contents #bodyBox .wario {
	position:absolute;
	left:57px;
	top:1070px;
	width:268px;
}
#wrapper #contents #bodyBox .vector {
	position:absolute;
	right:231px;
	top:1041px;
	width:258px;
}
#wrapper #contents #bodyBox .donkey {
	position:absolute;
	left:245px;
	top:1212px;
	width:250px;
}
#wrapper #contents #bodyBox .silver {
	position:absolute;
	right:53px;
	top:1198px;
	width:268px;
}
#wrapper #contents #bodyBox .koopa {
	position:absolute;
	left:57px;
	top:1366px;
	width:268px;
}
#wrapper #contents #bodyBox .metals {
	position:absolute;
	right:235px;
	top:1304px;
	width:258px;
}
#wrapper #contents #bodyBox .koopa2 {
	position:absolute;
	left:245px;
	top:1503px;
	width:250px;
}
#wrapper #contents #bodyBox .egg {
	position:absolute;
	right:57px;
	top:1424px;
	width:268px;
}

/*---è¨ëã---*/

#komado {
	position:relative;
	width: 784px;
	height:578px;
	padding:0;
	margin:0 auto;
	text-align:center;
}
#komado .close {
	position:absolute;
	right:39px;
	top:3px;
	width: 89px;
}
#komado .back {
	position:absolute;
	left:0;
	bottom:47px;
	width: 95px;
}
#komado .next {
	position:absolute;
	right:0;
	bottom:47px;
	width: 96px;
}
