/*!
*  - v1.2.2
* Homepage: http://bqworks.com/slider-pro/
* Author: bqworks
* Author URL: http://bqworks.com/
*/
/* Core
--------------------------------------------------*/
/* line 9, ../../sass/slider-pro.scss */
.slider-pro {
  position: relative;
  margin: 0 auto;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 16, ../../sass/slider-pro.scss */
.sp-slides-container {
  position: relative;
}

/* line 20, ../../sass/slider-pro.scss */
.sp-mask {
  position: relative;
  overflow: hidden;
}

/* line 25, ../../sass/slider-pro.scss */
.sp-slides {
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;

}

/* line 31, ../../sass/slider-pro.scss */
.sp-slide {
  position: absolute;

border:1px solid #666666;}

/* line 35, ../../sass/slider-pro.scss */
.sp-image-container {
  overflow: hidden;
}

/* line 39, ../../sass/slider-pro.scss */
.sp-image {
  position: relative;
  display: block;
  border: none;
}

/* line 45, ../../sass/slider-pro.scss */
.sp-no-js {
  overflow: hidden;
  max-width: 100%;
}

/* Thumbnails
--------------------------------------------------*/
/* line 52, ../../sass/slider-pro.scss */
.sp-thumbnails-container {
  position: relative;
  overflow: hidden;
}

/* line 58, ../../sass/slider-pro.scss */
.sp-top-thumbnails,
.sp-bottom-thumbnails {
  left: 0;
  margin: 0 auto;
}

/* line 63, ../../sass/slider-pro.scss */
.sp-top-thumbnails {
  position: absolute;
  top: 0;
  margin-bottom: 4px;
}

/* line 69, ../../sass/slider-pro.scss */
.sp-bottom-thumbnails {
  margin-top: 4px;
}

/* line 74, ../../sass/slider-pro.scss */
.sp-left-thumbnails,
.sp-right-thumbnails {
  position: absolute;
  top: 0;
}

/* line 79, ../../sass/slider-pro.scss */
.sp-right-thumbnails {
  right: 0;
  margin-left: 4px;
}

/* line 84, ../../sass/slider-pro.scss */
.sp-left-thumbnails {
  left: 0;
  margin-right: 4px;
}

/* line 89, ../../sass/slider-pro.scss */
.sp-thumbnails {
  position: relative;
}

/* line 93, ../../sass/slider-pro.scss */
.sp-thumbnail {
  border: none;
}

/* line 97, ../../sass/slider-pro.scss */
.sp-thumbnail-container {
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Horizontal thumbnails
------------------------*/
/* line 109, ../../sass/slider-pro.scss */
.sp-top-thumbnails .sp-thumbnail-container,
.sp-bottom-thumbnails .sp-thumbnail-container {
  margin-left: 2px;
  margin-right: 2px;
}

/* line 115, ../../sass/slider-pro.scss */
.sp-top-thumbnails .sp-thumbnail-container:first-child,
.sp-bottom-thumbnails .sp-thumbnail-container:first-child {
  margin-left: 0;
}

/* line 120, ../../sass/slider-pro.scss */
.sp-top-thumbnails .sp-thumbnail-container:last-child,
.sp-bottom-thumbnails .sp-thumbnail-container:last-child {
  margin-right: 0;
}

/* Vertical thumbnails 
----------------------*/
/* line 127, ../../sass/slider-pro.scss */
.sp-left-thumbnails .sp-thumbnail-container,
.sp-right-thumbnails .sp-thumbnail-container {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* line 133, ../../sass/slider-pro.scss */
.sp-left-thumbnails .sp-thumbnail-container:first-child,
.sp-right-thumbnails .sp-thumbnail-container:first-child {
  margin-top: 0;
}

/* line 138, ../../sass/slider-pro.scss */
.sp-left-thumbnails .sp-thumbnail-container:last-child,
.sp-right-thumbnails .sp-thumbnail-container:last-child {
  margin-bottom: 0;
}

/* Right thumbnails with pointer
--------------------------------*/
/* line 144, ../../sass/slider-pro.scss */
.sp-right-thumbnails.sp-has-pointer {
  margin-left: -13px;
}

/* line 148, ../../sass/slider-pro.scss */
.sp-right-thumbnails.sp-has-pointer .sp-thumbnail {
  position: absolute;
  left: 18px;
  margin-left: 0 !important;
}

/* line 154, ../../sass/slider-pro.scss */
.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
  content: '';
  position: absolute;
  height: 100%;
  border-left: 5px solid #F00;
  left: 0;
  top: 0;
  margin-left: 13px;
}

/* line 164, ../../sass/slider-pro.scss */
.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 50%;
  margin-top: -8px;
  border-right: 13px solid #F00;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

/* Left thumbnails with pointer
-------------------------------*/
/* line 179, ../../sass/slider-pro.scss */
.sp-left-thumbnails.sp-has-pointer {
  margin-right: -13px;
}

/* line 183, ../../sass/slider-pro.scss */
.sp-left-thumbnails.sp-has-pointer .sp-thumbnail {
  position: absolute;
  right: 18px;
}

/* line 188, ../../sass/slider-pro.scss */
.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
  content: '';
  position: absolute;
  height: 100%;
  border-left: 5px solid #F00;
  right: 0;
  top: 0;
  margin-right: 13px;
}

/* line 198, ../../sass/slider-pro.scss */
.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  top: 50%;
  margin-top: -8px;
  border-left: 13px solid #F00;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

/* Bottom thumbnails with pointer
---------------------------------*/
/* line 213, ../../sass/slider-pro.scss */
.sp-bottom-thumbnails.sp-has-pointer {
  margin-top: -13px;
}

/* line 217, ../../sass/slider-pro.scss */
.sp-bottom-thumbnails.sp-has-pointer .sp-thumbnail {
  position: absolute;
  top: 18px;
  margin-top: 0 !important;
}

/* line 223, ../../sass/slider-pro.scss */
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 5px solid #F00;
  top: 0;
  margin-top: 13px;
}

/* line 232, ../../sass/slider-pro.scss */
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 0;
  margin-left: -8px;
  border-bottom: 13px solid #F00;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

/* Top thumbnails with pointer
------------------------------*/
/* line 247, ../../sass/slider-pro.scss */
.sp-top-thumbnails.sp-has-pointer {
  margin-bottom: -13px;
}

/* line 251, ../../sass/slider-pro.scss */
.sp-top-thumbnails.sp-has-pointer .sp-thumbnail {
  position: absolute;
  bottom: 18px;
}

/* line 256, ../../sass/slider-pro.scss */
.sp-top-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 5px solid #F00;
  bottom: 0;
  margin-bottom: 13px;
}

/* line 265, ../../sass/slider-pro.scss */
.sp-top-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 0;
  margin-left: -8px;
  border-top: 13px solid #F00;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

/* Layers
--------------------------------------------------*/
/* line 280, ../../sass/slider-pro.scss */
.sp-layer {
  position: absolute;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
}

/* line 290, ../../sass/slider-pro.scss */
.sp-black {
  color: #FFF;
  background: black;
  background: rgba(0, 0, 0, 0.7);
}

/* line 296, ../../sass/slider-pro.scss */
.sp-white {
  color: #000;
  background: white;
  background: rgba(255, 255, 255, 0.7);
}

/* line 302, ../../sass/slider-pro.scss */
.sp-rounded {
  border-radius: 10px;
}

/* line 306, ../../sass/slider-pro.scss */
.sp-padding {
  padding: 10px;
}

/* Touch Swipe
--------------------------------------------------*/
/* line 312, ../../sass/slider-pro.scss */
.sp-grab {
  cursor: url(../../assets/img/openhand.html), move;
}

/* line 316, ../../sass/slider-pro.scss */
.sp-grabbing {
  cursor: url(../../assets/img/closedhand.html), move;
}

/* line 320, ../../sass/slider-pro.scss */
.sp-selectable {
  cursor: default;
}

/* Caption
--------------------------------------------------*/
/* line 326, ../../sass/slider-pro.scss */
.sp-caption-container {
  text-align: center;
  margin-top: 10px;
}

/* Full Screen
--------------------------------------------------*/
/* line 333, ../../sass/slider-pro.scss */
.sp-full-screen {
  margin: 0 !important;
  background-color: #000;
  background-color: #fff;
}

/* line 338, ../../sass/slider-pro.scss */
.sp-full-screen-button {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  line-height: 1;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 350, ../../sass/slider-pro.scss */
.sp-full-screen-button:before {
  content: '\2195';
}

/* line 354, ../../sass/slider-pro.scss */
.sp-fade-full-screen {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 360, ../../sass/slider-pro.scss */
.slider-pro:hover .sp-fade-full-screen {
  opacity: 1;
}

/* Buttons
--------------------------------------------------*/
/* line 366, ../../sass/slider-pro.scss */
.sp-buttons {
  position: relative;
  width: 100%;
  text-align: center;
  top: 0px;
}

/* line 374, ../../sass/slider-pro.scss */
.sp-button {
  width: 10px;
  height: 10px;
  background-color: #f7f8f8;
  border-radius: 50%;
  margin: 4px;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

/* line 388, ../../sass/slider-pro.scss */
.sp-selected-button {
  background-color: #1d2088;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 393, ../../sass/slider-pro.scss */
  .sp-button {
    width: 14px;
    height: 14px;
  }
}
@media only screen and (min-width: 568px) and (max-width: 768px) {
  /* line 400, ../../sass/slider-pro.scss */
  .sp-button {
    width: 16px;
    height: 16px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
  /* line 407, ../../sass/slider-pro.scss */
  .sp-button {
    width: 18px;
    height: 18px;
  }
}
/* Arrows
--------------------------------------------------*/
/* line 415, ../../sass/slider-pro.scss */
.sp-arrows {
  position: absolute;
}

/* line 419, ../../sass/slider-pro.scss */
.sp-fade-arrows {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 425, ../../sass/slider-pro.scss */
.sp-slides-container:hover .sp-fade-arrows {
  opacity: 1;
}

/* line 429, ../../sass/slider-pro.scss */
.sp-horizontal .sp-arrows {
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -15px;
}

/* line 436, ../../sass/slider-pro.scss */
.sp-vertical .sp-arrows {
  height: 100%;
  left: 50%;
  top: 0;
  margin-left: -10px;
}

/* line 443, ../../sass/slider-pro.scss */
.sp-arrow {
  position: absolute;
  display: block;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

/* line 451, ../../sass/slider-pro.scss */
.sp-vertical .sp-arrow {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 457, ../../sass/slider-pro.scss */
.sp-horizontal .sp-previous-arrow {
  left: 20px;
}

/* line 461, ../../sass/slider-pro.scss */
.sp-horizontal .sp-next-arrow {
  right: 20px;
}

/* line 465, ../../sass/slider-pro.scss */
.sp-vertical .sp-previous-arrow {
  top: 20px;
}

/* line 469, ../../sass/slider-pro.scss */
.sp-vertical .sp-next-arrow {
  bottom: 20px;
}

/* line 476, ../../sass/slider-pro.scss */
.sp-previous-arrow:before,
.sp-previous-arrow:after,
.sp-next-arrow:before,
.sp-next-arrow:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #FFF;
}

/* line 484, ../../sass/slider-pro.scss */
.sp-previous-arrow:before {
  left: 30%;
  top: 0;
  -webkit-transform: skew(145deg, 0deg);
  -ms-transform: skew(145deg, 0deg);
  transform: skew(145deg, 0deg);
}

/* line 492, ../../sass/slider-pro.scss */
.sp-previous-arrow:after {
  left: 30%;
  top: 50%;
  -webkit-transform: skew(-145deg, 0deg);
  -ms-transform: skew(-145deg, 0deg);
  transform: skew(-145deg, 0deg);
}

/* line 500, ../../sass/slider-pro.scss */
.sp-next-arrow:before {
  right: 30%;
  top: 0;
  -webkit-transform: skew(35deg, 0deg);
  -ms-transform: skew(35deg, 0deg);
  transform: skew(35deg, 0deg);
}

/* line 508, ../../sass/slider-pro.scss */
.sp-next-arrow:after {
  right: 30%;
  top: 50%;
  -webkit-transform: skew(-35deg, 0deg);
  -ms-transform: skew(-35deg, 0deg);
  transform: skew(-35deg, 0deg);
}

/* line 517, ../../sass/slider-pro.scss */
.ie8 .sp-arrow,
.ie7 .sp-arrow {
  width: 0;
  height: 0;
}

/* line 525, ../../sass/slider-pro.scss */
.ie8 .sp-arrow:before,
.ie8 .sp-arrow:after,
.ie7 .sp-arrow:before,
.ie7 .sp-arrow:after {
  content: none;
}

/* line 530, ../../sass/slider-pro.scss */
.ie8.sp-horizontal .sp-previous-arrow,
.ie7.sp-horizontal .sp-previous-arrow {
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

/* line 537, ../../sass/slider-pro.scss */
.ie8.sp-horizontal .sp-next-arrow,
.ie7.sp-horizontal .sp-next-arrow {
  border-left: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

/* line 544, ../../sass/slider-pro.scss */
.ie8.sp-vertical .sp-previous-arrow,
.ie7.sp-vertical .sp-previous-arrow {
  border-bottom: 20px solid #FFF;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

/* line 551, ../../sass/slider-pro.scss */
.ie8.sp-vertical .sp-next-arrow,
.ie7.sp-vertical .sp-next-arrow {
  border-top: 20px solid #FFF;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

/* Thumbnail Arrows
--------------------------------------------------*/
/* line 559, ../../sass/slider-pro.scss */
.sp-thumbnail-arrows {
  position: absolute;
}

/* line 563, ../../sass/slider-pro.scss */
.sp-fade-thumbnail-arrows {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 569, ../../sass/slider-pro.scss */
.sp-thumbnails-container:hover .sp-fade-thumbnail-arrows {
  opacity: 1;
}

/* line 574, ../../sass/slider-pro.scss */
.sp-top-thumbnails .sp-thumbnail-arrows,
.sp-bottom-thumbnails .sp-thumbnail-arrows {
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -12px;
}

/* line 582, ../../sass/slider-pro.scss */
.sp-left-thumbnails .sp-thumbnail-arrows,
.sp-right-thumbnails .sp-thumbnail-arrows {
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -7px;
}

/* line 589, ../../sass/slider-pro.scss */
.sp-thumbnail-arrow {
  position: absolute;
  display: block;
  width: 15px;
  height: 25px;
  cursor: pointer;
}

/* line 598, ../../sass/slider-pro.scss */
.sp-left-thumbnails .sp-thumbnail-arrows .sp-thumbnail-arrow,
.sp-right-thumbnails .sp-thumbnail-arrows .sp-thumbnail-arrow {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 605, ../../sass/slider-pro.scss */
.sp-top-thumbnails .sp-previous-thumbnail-arrow,
.sp-bottom-thumbnails .sp-previous-thumbnail-arrow {
  left: 0px;
}

/* line 610, ../../sass/slider-pro.scss */
.sp-top-thumbnails .sp-next-thumbnail-arrow,
.sp-bottom-thumbnails .sp-next-thumbnail-arrow {
  right: 0px;
}

/* line 615, ../../sass/slider-pro.scss */
.sp-left-thumbnails .sp-previous-thumbnail-arrow,
.sp-right-thumbnails .sp-previous-thumbnail-arrow {
  top: 0px;
}

/* line 620, ../../sass/slider-pro.scss */
.sp-left-thumbnails .sp-next-thumbnail-arrow,
.sp-right-thumbnails .sp-next-thumbnail-arrow {
  bottom: 0px;
}

/* line 627, ../../sass/slider-pro.scss */
.sp-previous-thumbnail-arrow:before,
.sp-previous-thumbnail-arrow:after,
.sp-next-thumbnail-arrow:before,
.sp-next-thumbnail-arrow:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #FFF;
}

/* line 635, ../../sass/slider-pro.scss */
.sp-previous-thumbnail-arrow:before {
  left: 30%;
  top: 0;
  -webkit-transform: skew(145deg, 0deg);
  -ms-transform: skew(145deg, 0deg);
  transform: skew(145deg, 0deg);
}

/* line 643, ../../sass/slider-pro.scss */
.sp-previous-thumbnail-arrow:after {
  left: 30%;
  top: 50%;
  -webkit-transform: skew(-145deg, 0deg);
  -ms-transform: skew(-145deg, 0deg);
  transform: skew(-145deg, 0deg);
}

/* line 651, ../../sass/slider-pro.scss */
.sp-next-thumbnail-arrow:before {
  right: 30%;
  top: 0;
  -webkit-transform: skew(35deg, 0deg);
  -ms-transform: skew(35deg, 0deg);
  transform: skew(35deg, 0deg);
}

/* line 659, ../../sass/slider-pro.scss */
.sp-next-thumbnail-arrow:after {
  right: 30%;
  top: 50%;
  -webkit-transform: skew(-35deg, 0deg);
  -ms-transform: skew(-35deg, 0deg);
  transform: skew(-35deg, 0deg);
}

/* line 668, ../../sass/slider-pro.scss */
.ie8 .sp-thumbnail-arrow,
.ie7 .sp-thumbnail-arrow {
  width: 0;
  height: 0;
}

/* line 676, ../../sass/slider-pro.scss */
.ie8 .sp-thumbnail-arrow:before,
.ie8 .sp-thumbnail-arrow:after,
.ie7 .sp-thumbnail-arrow:before,
.ie7 .sp-thumbnail-arrow:after {
  content: none;
}

/* line 683, ../../sass/slider-pro.scss */
.ie8 .sp-top-thumbnails .sp-previous-thumbnail-arrow,
.ie8 .sp-bottom-thumbnails .sp-previous-thumbnail-arrow,
.ie7 .sp-top-thumbnails .sp-previous-thumbnail-arrow,
.ie7 .sp-bottom-thumbnails .sp-previous-thumbnail-arrow {
  border-right: 12px solid #FFF;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

/* line 692, ../../sass/slider-pro.scss */
.ie8 .sp-top-thumbnails .sp-next-thumbnail-arrow,
.ie8 .sp-bottom-thumbnails .sp-next-thumbnail-arrow,
.ie7 .sp-top-thumbnails .sp-next-thumbnail-arrow,
.ie7 .sp-bottom-thumbnails .sp-next-thumbnail-arrow {
  border-left: 12px solid #FFF;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

/* line 701, ../../sass/slider-pro.scss */
.ie8 .sp-left-thumbnails .sp-previous-thumbnail-arrow,
.ie8 .sp-right-thumbnails .sp-previous-thumbnail-arrow,
.ie7 .sp-left-thumbnails .sp-previous-thumbnail-arrow,
.ie7 .sp-right-thumbnails .sp-previous-thumbnail-arrow {
  border-bottom: 12px solid #FFF;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

/* line 710, ../../sass/slider-pro.scss */
.ie8 .sp-left-thumbnails .sp-next-thumbnail-arrow,
.ie8 .sp-right-thumbnails .sp-next-thumbnail-arrow,
.ie7 .sp-left-thumbnails .sp-next-thumbnail-arrow,
.ie7 .sp-right-thumbnails .sp-next-thumbnail-arrow {
  border-top: 12px solid #FFF;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

/* Video
--------------------------------------------------*/
/* line 718, ../../sass/slider-pro.scss */
a.sp-video {
  text-decoration: none;
}

/* line 722, ../../sass/slider-pro.scss */
a.sp-video img {
  -webkit-backface-visibility: hidden;
  border: none;
}

/* line 727, ../../sass/slider-pro.scss */
a.sp-video:after {
  content: '\25B6';
  position: absolute;
  width: 45px;
  padding-left: 5px;
  height: 50px;
  border: 2px solid #FFF;
  text-align: center;
  font-size: 30px;
  border-radius: 30px;
  top: 0;
  color: #FFF;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  margin: auto;
  line-height: 52px;
}

/* CSS for preventing styling issues in WordPress
--------------------------------------------------*/
/* line 750, ../../sass/slider-pro.scss */
.slider-pro img.sp-image,
.slider-pro img.sp-thumbnail {
  max-width: none;
  max-height: none;
  border: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  -webkit-box-shadow: none !important;
  -mox-box-shadow: none !important;
  box-shadow: none !important;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}

/* line 765, ../../sass/slider-pro.scss */
.slider-pro a {
  position: static;
  transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
}

/* line 777, ../../sass/slider-pro.scss */
.slider-pro iframe,
.slider-pro object,
.slider-pro video,
.slider-pro embed,
.slider-pro canvas {
  max-width: none;
  max-height: none;
}

/* line 782, ../../sass/slider-pro.scss */
.slider-pro p.sp-layer {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

/* line 788, ../../sass/slider-pro.scss */
.slider-pro h1.sp-layer {
  font-size: 32px;
  line-height: 1.4;
  margin: 0;
}

/* line 794, ../../sass/slider-pro.scss */
.slider-pro h2.sp-layer {
  font-size: 24px;
  line-height: 1.4;
  margin: 0;
}

/* line 800, ../../sass/slider-pro.scss */
.slider-pro h3.sp-layer {
  font-size: 19px;
  line-height: 1.4;
  margin: 0;
}

/* line 806, ../../sass/slider-pro.scss */
.slider-pro h4.sp-layer {
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}

/* line 812, ../../sass/slider-pro.scss */
.slider-pro h5.sp-layer {
  font-size: 13px;
  line-height: 1.4;
  margin: 0;
}

/* line 818, ../../sass/slider-pro.scss */
.slider-pro h6.sp-layer {
  font-size: 11px;
  line-height: 1.4;
  margin: 0;
}

/* line 824, ../../sass/slider-pro.scss */
.slider-pro img.sp-layer {
  border: none;
}
