/* 
http://www.studiobrain.net/
*/

html{
   margin: 0;
   padding: 0;
}
body{
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: medium;
/*	line-height: 150%; */
	background-color: #dbf7fe;
/*	background-image: url(images/header_bk.gif);
	background-repeat: no-repeat; */
	background-position:center
}
.h1_title{
	margin-left: 90px;
	line-height: normal;
	margin-top: 35px;
	margin-bottom: 0px;
}
.h1_title a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	color: #FFFFFF;
	text-decoration: none;
}
.h1_title a:hover{
	color: #FFF7B9;
}
.h2_title {
	font-size: 12px;
	margin-left: 94px;
	line-height: normal;
	color: #FFFFFF;
	margin-top: 5px;
	margin-bottom: 0px;
}
a { text-decoration: underline;
	color: #0033CC;
}
a:hover {
	color: #0066FF;
}
a img {
	border: 0;
	text-align: center;
}
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
#container {
	width: 780px;
	text-align: left;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	background-color: #fff;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	border-top-color: #000000;
}
#header {
	height: 200px;
	background-color: #CCCCCC;
	height: 250px;
	background-image: url(images/header.gif);
	background-repeat: no-repeat;
}
#pagebody {
	
}
#alpha{
	float: right;
	width: 530px;
	height:auto
	
}
#beta{
	float: left;
	width: 200px;
	margin-top: 10px;
}


#footer {
	text-align: center;
	padding: 15px;
	background-color: #eee;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}

#alpha .top_copy {
	padding: 10px;
	margin-top: 15px;
	height: 180px;
	background-color: #3366CC;
	background-image: url(images/topimg.jpg);
	background-repeat: no-repeat;
	filter: Alpha(opacity=100);
	color: #FFFFFF;
}
#alpha .page_copy {
	padding: 15px;
	margin-top: 10px;
	height: 70px;
	background-color: #3366CC;
	background-image: url(images/cateimg.jpg);
	background-repeat: no-repeat;
	color: #FFFFFF;
	font-size: large;
	font-weight: bold;
}
.topic {
	margin-left: 30px;
}
.banner {
	margin-bottom: 10px;
	text-align: left;
}
#page {
	margin-top: 20px;
	margin-right: 25px;
	margin-bottom: 20px;
	margin-left: 15px;
}


.rollover-image{
 width:200px;
 height:50px;
 background-image:url(images/rollover-image.jpg);
 border:none;
 }
 .rollover-image:hover{
 width:200px;
 height:50px;
 background-position:bottom;
 }

.rollover-image2{
 width:200px;
 height:50px;
 background-image:url(images/rollover-image2.jpg);
 border:none;
 }
 .rollover-image2:hover{
 width:200px;
 height:50px;
 background-position:bottom;
 }

.rollover-image3{
 width:200px;
 height:50px;
 background-image:url(images/rollover-image3.jpg);
 border:none;
 }
 .rollover-image3:hover{
 width:200px;
 height:50px;
 background-position:bottom;
 }
 
 .rollover-image4{
 width:200px;
 height:50px;
 background-image:url(images/rollover-image4.jpg);
 border:none;
 }
 .rollover-image4:hover{
 width:200px;
 height:50px;
 background-position:bottom;
 }
 
 .rollover-image5{
 width:200px;
 height:50px;
 background-image:url(images/rollover-image5.jpg);
 border:none;
 }
 .rollover-image5:hover{
 width:200px;
 height:50px;
 background-position:bottom;
 }
 
  .rollover-image6{
 width:200px;
 height:50px;
 background-image:url(images/rollover-image6.jpg);
 border:none;
 }
 .rollover-image6:hover{
 width:200px;
 height:50px;
 background-position:bottom;
 }
 
   .rollover-2011image{
 width:200px;
 height:50px;
 background-image:url(images/rollover-2011image.jpg);
 border:none;
 }
 .rollover-2011image:hover{
 width:200px;
 height:50px;
 background-position:bottom;
 }
 
   .rollover-2012image{
 width:200px;
 height:50px;
 background-image:url(images/rollover-2012image.jpg);
 border:none;
 }
 .rollover-2012image:hover{
 width:200px;
 height:50px;
 background-position:bottom;
 }
 
    .rollover-2013image{
 width:200px;
 height:50px;
 background-image:url(images/rollover-2013image.jpg);
 border:none;
 }
 .rollover-2013image:hover{
 width:200px;
 height:50px;
 background-position:bottom;
 }
 
 .rollover-image_s1{
 width:120px;
 height:60px;
 background-image:url(images/rollover-image_s1.jpg);
 border:none;
 }
 .rollover-image_s1:hover{
 width:120px;
 height:60px;
 background-position:bottom;
 }
 
  
 .rollover-image_s2{
 width:120px;
 height:60px;
 background-image:url(images/rollover-image_s2.jpg);
 border:none;
 }
 .rollover-image_s2:hover{
 width:120px;
 height:60px;
 background-position:bottom;
 }
 
  .rollover-image_s3{
 width:120px;
 height:60px;
 background-image:url(images/rollover-image_s3.jpg);
 border:none;
 }
 .rollover-image_s3:hover{
 width:120px;
 height:60px;
 background-position:bottom;
 }
 
  .rollover-image_s4{
 width:120px;
 height:60px;
 background-image:url(images/rollover-image_s4.jpg);
 border:none;
 }
 .rollover-image_s4:hover{
 width:120px;
 height:60px;
 background-position:bottom;
 }
 
 .m-rollover-image1{
 width:160px;
 height:60px;
 background-image:url(images/m-rollover-image1.jpg);
 border:none;
 }
 .m-rollover-image1:hover{
 width:160px;
 height:60px;
 background-position:bottom;
 }

 
 .m-rollover-image2{
 width:160px;
 height:60px;
 background-image:url(images/m-rollover-image2.jpg);
 border:none;
 }
 .m-rollover-image2:hover{
 width:160px;
 height:60px;
 background-position:bottom;
 }

  .m-rollover-image3{
 width:160px;
 height:60px;
 background-image:url(images/m-rollover-image3.jpg);
 border:none;
 }
 .m-rollover-image3:hover{
 width:160px;
 height:60px;
 background-position:bottom;
 }
 
メニュー　１枚画像を切り分けて使用する例　ロールオーバー
#globalnavi {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 200px;
  
 
}

#globalnavi li {
  width: 200px;
  height: 40px;
  margin: 0;
  padding: 0px;
  display: inline;
  
}

#globalnavi a {
  text-indent: -9999px;
  text-decoration: none;
  display: block;
  width: 200px;
  height: 40px;
  background-image: url(images/bg-globalnavi-1.gif);
  background-repeat: no-repeat;

}

#menu1 a { background-position: 0 0;}
#menu2 a { background-position: 0 -40px; }
#menu3 a { background-position: 0 -80px;}
#menu4 a { background-position: 0 -120px; }
#menu5 a { background-position: 0 -160px; }

#globalnavi a:hover {
  text-decoration: none;
  background-image: url(images/bg-globalnavi-1.gif);
  background-repeat: no-repeat;
}

#menu1 a:hover { background-position: -200px 0; }
#menu2 a:hover { background-position: -200px -40px;}
#menu3 a:hover { background-position: -200px -80px;}
#menu4 a:hover{ background-position: -200px -120px;}
#menu5 a:hover{ background-position: -200px -160px;}

/* font */
.bd10	{	font-size:10px;	color:#333333; line-height:16px; }
.bd		{	font-size:12px;	color:#333333; line-height:18px; }
.bd12	{	font-size:12px;	color:#333333; line-height:16px; }
.bd14	{	font-size:14px;	color:#333333; line-height:20px; }

.news_box{ width:475px; height:130px; overflow:auto; }
.news_line { border-bottom:1px solid #E3E3D9;}
.news a{color:#003366; text-decoration:none;}
.news a:hover{color:#003366; text-decoration:underline}
.news a:link{color:#003366;}

/* bg */
.bg_lg{background-color:#E5F5E5;}
.bg_lgray{ background-color:#F7F7F2;}
.bg_white{ background-color:#FFFFFF;}
.bg_lgreen{ background-color:#CCE3C2;}

/* space */
.mar_t20{ margin-top:20px;}
.mar_tb20{ margin:20px 0;}
.sp_menu{margin-bottom:7px;}
.sp_navi{ margin:1px;}
.pad_8{padding:8px;}
.mar_t5{ margin-top:5px;}
.mar_l16{ margin-left:16px;}

/* link */
.link_style {text-decoration:none ! important;color:#000080 ! important;}

.moji {
	color: #0099CC;
	font-weight: bold;
	font-size: 24px;
}

.moji2 {
	color: #0099CC;
	font-size: 12px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sa;
	text-align: left;
	font-weight: bold;
}
.moji3 {
	color: #FF3300;
	font-size: 14px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sa;
	font-weight: bold;
	text-align: left;
}

.moji4 {
	color: #000;
	font-size: 16px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: normal;
}

.moji5 {
	color: #0099CC;
	font-size: 14px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sa;
	text-align: left;
	font-weight: bold;
}

.mojishow {
	color: #F00;
	font-size: 12px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: normal;
}
.mojishow2 {
	color: #06F;
	font-size: 18px;
}
