TD.row_label
{
    COLOR: #78a5ab;
    FONT-FAMILY: Arial, Sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bolder
}
TD.row_data
{
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Arial, Sans-serif;
    FONT-SIZE: 9pt
}
TD.column_label
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bolder
}
