@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    
---------------------------------------- */

article {
	margin-bottom: 6%;
}
article:last-child {
	margin-bottom: 0;
}
section a {
	color: #ff5064;
}

section .aomi {
    background: #ff5064;
}
section .frame3 {
    color: #ff5064;
    border: solid 1px #ff5064;
	margin-bottom: 3%;
}

section h4 {
    color: #ff5064;
    font-weight: bold;
}

/* #public_attention
---------------------------------------- */

.sub_nav .link_area {
    margin: 3% auto 0;
    padding: 3% 0;
	border-top: 1px solid #ff5064;
	border-bottom: 1px solid #ff5064;
}
.sub_nav .link_area li {
    float: none;
}
.link_area li {
    float: left;
}

#public_attention h2.outline {
    color: #fff;
}

.buyer_link{
	margin: 0;
	border: none;
	padding-bottom: 0;
}
.buyer_link a {
	color: #00b4cc;
}
.notice{
	margin: 0;
	padding: 0;
	border: none;
	text-align: left;
	color: #969696;
}

.notice p{
	margin-bottom: 6.2%;
}

.check{
	margin-bottom: 2%;
}

#public_menu {
    background-color: #fff;
    margin: 6% auto;
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
}
#public_menu li {
    margin-bottom: 1%;
}
#public_menu li:last-child {
    margin-bottom: 0;
}

/* #event_check
---------------------------------------- */

#event_check dt{
	margin-bottom: 1.5%;
}

#event_check dd{
	margin-bottom: 7.8%;
}

#event_check img{
	margin-bottom: 3.12%;
}

#event_check .info_event{
	margin-top: -8%;
}
#event_check dd:last-child {
	margin-bottom: 1%;
}
.info_event {
	margin-bottom: 0;
}

/* #attendance
---------------------------------------- */

#attendance {
	border-bottom: none;
}
#attendance dl{
	margin-top: 3%;
}
#attendance dt{
	color: #ff5064;
    font-weight: bold;
}
#attendance dd{
	margin-bottom: 5%;
}
#attendance dd:last-child {
	margin-bottom: 0;
}
#attendance dd span {
    color: #ff5064;
}

#attendance .other_list li{
	padding-left: 1em;
	text-indent: -1em;
}
