header {
  border-bottom: 5px solid #8bb8c1; }

.faq {
  margin: 25px auto; }
  .faq dt p {
    font-size: 17px;
    color: #00557F; }
    .faq dt p::before {
      content: "Q.";
      background: #5FBAC0;
      display: inline-block;
      color: #fff;
      padding: 0px 3px 2px 5px;
      margin-right: 10px; }
  .faq dd {
    border-top: #5FBAC0 1px solid;
    margin-top: 5px;
    padding-top: 7px; }
    .faq ddp {
      font-size: 13px; }
  .faq a {
    background: url("../images/g_arrow.svg") no-repeat scroll 5px center/auto 70%;
    padding-left: 22px;
    color: #e74388; }
    .faq a.b_link {
      background: url("../images/blank_b.svg") no-repeat scroll 5px center/auto 70%; }

#news_list dl {
  overflow: hidden; }
  #news_list dl dt {
    float: left; }
    #news_list dl dt img {
      margin-right: 15px; }

#notice_list, #news_list {
  overflow: hidden; }
  #notice_list.text, #news_list.text {
    margin-top: 0 !important; }
  #notice_list > dl, #news_list > dl {
    margin-top: 15px; }
  #notice_list dt .day_new, #news_list dt .day_new {
    background: rgba(255, 255, 255, 0.7);
    padding: 4px; }
  #notice_list dd, #news_list dd {
    margin-top: 10px; }
    #notice_list dd:nth-of-type(2), #news_list dd:nth-of-type(2) {
      border-top: 1px #fff dotted; }
    #notice_list dd .url, #news_list dd .url {
      font-size: 12px;
      padding: 4px 4px 2px 22px;
      background: url(../images/g_arrow.svg) no-repeat 5px center;
      background-size: auto 70%;
      margin-top: 2px;
      margin-right: 15px; }
  #notice_list .pic, #news_list .pic {
    width: 150px;
    float: left; }
    #notice_list .pic img, #news_list .pic img {
      width: 100%;
      padding-right: 10px; }
  #notice_list .newstext, #news_list .newstext {
    margin-left: 170px; }
