header {
  border-bottom: 5px solid #5fc1c7; }

#buttons {
  margin-bottom: 15px;
  overflow: hidden; }
  #buttons li {
    width: 207px;
    float: left;
    margin-right: 14px; }
    #buttons li:last-child {
      margin-right: 0; }
      @media only screen and (max-width: 640px) {
        #buttons li:last-child {
          margin-bottom: 0px; } }
    @media only screen and (max-width: 640px) {
      #buttons li {
        width: 100%;
        margin-bottom: 5px; } }
  #buttons li a {
    width: auto;
    display: block;
    background-color: #5fbac0;
    border-bottom: 5px #488e94 solid;
    color: #fff;
    font-size: 12px;
    background-image: url(../../visitor/images/mark01.png);
    background-repeat: no-repeat;
    background-position: center left 7px;
    height: 54px;
    line-height: 50px;
    padding-left: 25px; }
    #buttons li a:hover {
      text-decoration: none; }
  #buttons li:last-child a {
    line-height: 1.4;
    padding-top: 8px; }

.gray-box .title {
  margin-top: 20px;
  font-size: 24px;
  color: #00557f;
  line-height: 1.4;
  border-bottom: 3px solid #5fbac0;
  display: inline-block; }

.gray-box .text {
  margin-top: 15px; }

.gray-box .map {
  margin-top: 30px;
  margin-bottom: 30px; }
  @media only screen and (max-width: 640px) {
    .gray-box .map img {
      width: 100%; } }

.gray-box .small {
  font-size: 12px; }

.gray-box .fleft {
  float: left;
  width: 260px;
  display: inline-block;
  margin-right: 10px; }

.gray-box .white-box {
  width: auto;
  padding: 10px;
  background-color: #fff;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 30px; }
  .gray-box .white-box a {
    background-image: none;
    color: #00557f !important;
    border-bottom: 0; }

.gray-box table.ticket {
  margin-top: 20px;
  font-size: 12px; }
  .gray-box table.ticket th {
    text-align: center;
    padding: 10px;
    background-color: #5fbac0;
    color: #fff;
    border: 1px solid #becdd3; }
  .gray-box table.ticket td {
    border-bottom: 1px solid #becdd3;
    background-color: #fff;
    padding: 10px; }
    .gray-box table.ticket td p.line {
      padding-top: 5px;
      border-top: 1px solid #becdd3; }
  .gray-box table.ticket td.clm {
    border-right: 1px solid #becdd3;
    background-color: #f3ffff; }

.gray-box.greeting.g01 .image {
  background-image: url(../../visitor/images/greeting01.jpg); }

.gray-box.greeting.g02 {
  margin-top: 30px; }
  .gray-box.greeting.g02 .image {
    background-image: url(../../visitor/images/greeting02.jpg); }
    .gray-box.greeting.g02 .image p {
      padding-top: 70px; }

.gray-box.greeting .image {
  margin-top: 36px;
  width: 590px;
  height: 209px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 15px; }
  @media only screen and (max-width: 640px) {
    .gray-box.greeting .image {
      width: 100%; } }
  .gray-box.greeting .image p {
    padding-top: 56px;
    padding-left: 180px; }
    @media only screen and (max-width: 640px) {
      .gray-box.greeting .image p {
        padding-left: 0; } }
  .gray-box.greeting .image .name {
    padding-left: 180px; }
    @media only screen and (max-width: 640px) {
      .gray-box.greeting .image .name {
        padding-left: 0; } }
    .gray-box.greeting .image .name span {
      font-size: 20px;
      display: inline-block;
      padding-left: 10px; }

.gray-box dl.white-box dt {
  border-bottom: #e2e8eb solid 1px;
  font-weight: bold; }

.gray-box dl.white-box dd {
  margin-bottom: 20px; }

.gray-box .red-box {
  border: 5px solid #ff0000;
  display: block;
  width: 300px;
  background-color: #fff;
  padding: 20px 0;
  text-align: center;
  color: #ff0000;
  margin-top: 20px;
  margin-bottom: 20px; }

.gray-box .dot li {
  text-indent: -1em;
  padding-left: 1em;
  margin-bottom: 10px;
  line-height: 1.4; }

.gbox-title {
  font-size: 12px; }
