@charset "UTF-8";

/* sc_all_header */

#all-header{
	width:800px;
	height:52px;
	margin-bottom:24px;
}

#all-header img{
	margin:0px;
	padding:0px;
	width:1px;
	height:1px;
	position:absolute;
	top:0px;
	left: -999px;
	display:run-in;
	border-style:none;
	overflow:hidden;
}

#all-header ul{
	width:800px;
	background:url(all-header/ul_15th_bg.jpg) no-repeat 200px top;
}

/* SONIC CHANNEL Link */
#all-header #linkChannel{
	width:200px;
	height:52px;
	background:url(all-header/logo_sc.jpg) no-repeat;
}
#all-header #linkChannel a{
	display:block;
	width:200px;
	height:52px;
}

/* SEGA Link */
#all-header #linkSega{
	position:absolute;
	top:0;
	left:620px;
	width:87px;
	height:52px;
	background:url(all-header/logo_sega.jpg) no-repeat;
}
#all-header #linkSega a{
	display:block;
	width:86px;
	height:52px;
}

/* SONICTEAM Link */
#all-header #linkSonicteam{
	position:absolute;
	top:0;
	left:707px;
	width:95px;
	height:52px;
	background:url(all-header/logo_st.jpg) no-repeat;
}
#all-header #linkSonicteam a{
	display:block;
	width:94px;
	height:52px;
}
