@charset "UTF-8";

#all-topicpath{
	clear:both;
	width:800px;
	height:24px;
	background:url("all-topicpath/div_bg.gif") no-repeat top left;
	overflow:hidden;
}

#all-topicpath p{
	display:block;
	padding:6px 0 6px 5px;
	margin:0 0 0 35px;
	font-size:10px;
}


#all-topicpath p a{
	font-size:10px;
}
