@charset 'utf-8';

/*-----------------------------------------------------
Common
-------------------------------------------------------*/
#Content {
	width: 100%;
	line-height: 1;
	text-align: center;
}
#Content h2 {
	padding: 30px 0;
	background: #fff;
}
#Content ul li {
	display: inline-block;
	margin: 0 20px;
}
#Content ul.large {
	padding: 0 20px;
	text-align: left;
}

/*-----------------------------------------------------
Intro
-------------------------------------------------------*/
div.intro {
	height: 1511px;
	position: relative;
	background-image: url('../images/intro_bg01.jpg'),url('../images/intro_bg02.jpg');
	background-repeat: no-repeat, no-repeat;
	background-position: center top, center bottom;
}
div.intro h1 {
	margin: 0 0 42px;
	padding: 70px 0 0;
}
div.intro p.img {margin: 0 0 40px;}
div.intro p.lead { margin: 0 0 40px; }
#Content div.intro ul li {
	margin-bottom: 7px;
}
div.intro p.chara {
	position: absolute;
	bottom: -3px;
	right: 27px;
}

/*-----------------------------------------------------
Level
-------------------------------------------------------*/
div.level div.inside {
	height: 594px;
	background: url('../images/level_bg.jpg') center top no-repeat;
}
div.level p.lead {
	margin: 0 0 40px;
	padding: 55px 0 0;
}

/*-----------------------------------------------------
Gear
-------------------------------------------------------*/
div.gear div.inside {
	height: 901px;
	position: relative;
	background-image: url('../images/gear_bg01.jpg'), url('../images/gear_bg02.jpg');
	background-repeat: no-repeat, no-repeat;
	background-position: center top, center bottom;
}
div.gear p.lead {
	margin: 0 0 30px;
	padding: 60px 0 0;
}
#Content div.gear ul li {margin-bottom: 40px;}
div.gear p.chara {
	position: absolute;
	bottom: 62px;
	right: 45px;
}

/*-----------------------------------------------------
Get
-------------------------------------------------------*/
div.get div.inside {
	height: 2002px;
	background-image: url('../images/get_bg01.jpg'), url('../images/get_bg02.jpg'), url('../images/get_bg03.jpg');
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center top, center 652px,center bottom;
}
div.get div.inside > p.lead {
	margin: 0 0 40px;
	padding: 55px 0 0;
}
div.get div.marathon {
	width: 584px;
	margin: 80px auto 0;
	padding: 0 8px 8px 8px;
	border-radius: 12px;
	background: #008d37;
}
div.get div.marathon h3 { padding: 28px 0; }
div.get div.marathon div.box {
	height: 1012px;
	padding: 40px 0;
	border-radius: 10px;
	background: #ffe100;
	background: url('../images/marathon_box_bg01.png') center top no-repeat;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
div.get div.marathon div.box p.lead { margin: 0 0 40px; }
div.get div.marathon div.box p.txt01 { margin: 40px 0; }
div.get div.marathon div.box p.txt02 { margin: 35px 0; }
#Content div.get div.marathon div.box ul li {margin: 0 10px;}