body { 
	background-image: url(../../common/img/bg_off02.jpg); 
	background-repeat: no-repeat; 
	background-position: center top; 
	background-attachment: fixed; 
}

#wrapper #contents #bodyBox {
	/*loat: left;*/
	width: 960px;
	position:relative;
	padding:0 0 35px 0;
}
#wrapper #contents #bodyBox h1 {
	padding:0 0 0 53px;
	float:left;
	display:block;
	width:457px;
}
#wrapper #contents #bodyBox .m01 {
	position:absolute;
	left:71px;
	top:284px;
	width: 288px;
	height:409px;
}
#wrapper #contents #bodyBox .m02 {
	position:absolute;
	left:348px;
	top:284px;
	width: 280px;
}
#wrapper #contents #bodyBox .m03 {
	position:absolute;
	right:65px;
	top:287px;
	width: 281px;
}
#wrapper #contents #bodyBox .mii {
	padding:452px 0 0 53px;
	width: 854px;
	float:left;
}
#wrapper #contents #bodyBox #imgBox {
	width: 390px;
	padding-top: 59px;
	padding-right:30px;
	float: right;
}
#wrapper #contents #bodyBox #markBox {
	position: absolute;
	left: 806px;
	top: 143px;
	z-index: 10;
}

#contents #bodyBox:before,
#contents #bodyBox:after {
	content: ".";
	clear: both;
	display: block;
	height: 0px;
	visibility: hidden;
}
