.normal {
	margin:0px;
	padding:0px;
	font-size:12px;
	color:#333333;
	line-height:140%;
	text-align:left;
}

.attention {
	margin:3px 0px 5px 0px;
	padding:0px;
	font-size:10px;
	color:#736357;
	line-height:120%;
	text-align:left;
}

.right {
	text-align:right;
}

.center {
	text-align:center;
}
