@charset "utf-8";
/* CSS Document */


/* -+-+-+-+-+-+-+-+-+-+-+-+- Global Navi Style */
#g_navi {
	margin:0;
	width:1000px;
	height:39px;
	background:url(../img/gnav_ko.png) no-repeat;
	margin:0;
	padding: 0;
	position: relative;
	z-index: 100;
}
#g_navi ul {
	padding:0;
	margin: 0;

}
#g_navi li {
	float:left;  
	position:relative;  
	list-style-type:none;
}

#g_navi li.g_navi11 {
	width: 40px;
	float: right;  
	position: relative;  
	list-style-type: none;
	margin-right: 15px;
}

#g_navi li.g_navi12 {
	width: 40px;
	float:right;  
	position:relative;  
	list-style-type:none;
	margin-right: 0;
}

#g_navi li a {
	height:39px;
	display:block;
	float:left;
	text-indent:-9877em;
	text-decoration:none;
	overflow:hidden;
}

#g_navi li img {
	float:left;  
	position:absolute;  
	list-style-type:none;
    width: 32px;
    left: 0px;
    padding: 4px 0 0 0;
    margin: 0 0 0 2px;
    border: none;
    overflow: hidden;
	text-indent: 0;
}









#g_navi li.g_navi01 ul,#g_navi li.g_navi02 ul,#g_navi li.g_navi03 ul,#g_navi li.g_navi04 ul,#g_navi li.g_navi05 ul,#g_navi li.g_navi06 ul,#g_navi li.g_navi07 ul,#g_navi li.g_navi08 ul,#g_navi li.g_navi01_on ul,#g_navi li.g_navi02_on ul,#g_navi li.g_navi03_on ul,#g_navi li.g_navi04_on ul,#g_navi li.g_navi05_on ul,#g_navi li.g_navi06_on ul,#g_navi li.g_navi07_on ul,#g_navi li.g_navi08_on ul {
	width: 200px;
	position: absolute;
	top: 39px;
	left: -1px;
	display: none;
	font-family: 'Gulim', 'Apple Gothic', 'Arial', sans-serif;
}

#g_navi li.g_navi01 ul li a,#g_navi li.g_navi02 ul li a,#g_navi li.g_navi03 ul li a,#g_navi li.g_navi04 ul li a,#g_navi li.g_navi05 ul li a,#g_navi li.g_navi06 ul li a,#g_navi li.g_navi07 ul li a,#g_navi li.g_navi08 ul li a,#g_navi li.g_navi01_on ul li a,#g_navi li.g_navi02_on ul li a,#g_navi li.g_navi03_on ul li a,#g_navi li.g_navi04_on ul li a,#g_navi li.g_navi05_on ul li a,#g_navi li.g_navi06_on ul li a,#g_navi li.g_navi07_on ul li a,#g_navi li.g_navi08_on ul li a
	{
	width: 200px;
	height: auto;
	display: block;
	background: #000 url(../../common/img/icon.png) no-repeat 1px 9px;
	_background: #000 url(../../common/img/icon.gif) no-repeat 1px 8px;
	filter:alpha(opacity=90);
	opacity:0.80;
	-moz-opacity:0.80;
	margin :0;
	padding: 8px 5px 8px 15px;
	border-bottom: 1px solid #333;
	color: #FFF;
	text-decoration: none;
	text-indent: 0;
	text-align: left;
}

#g_navi li.g_navi01 ul li a:hover,#g_navi li.g_navi02 ul li a:hover,#g_navi li.g_navi03 ul li a:hover,#g_navi li.g_navi04 ul li a:hover,#g_navi li.g_navi05 ul li a:hover,#g_navi li.g_navi06 ul li a:hover,#g_navi li.g_navi07 ul li a:hover,#g_navi li.g_navi08 ul li a:hover,
#g_navi li.g_navi01_on ul li a:hover,#g_navi li.g_navi02_on ul li a:hover,#g_navi li.g_navi03_on ul li a:hover,#g_navi li.g_navi04_on ul li a:hover,#g_navi li.g_navi05_on ul li a:hover,#g_navi li.g_navi06_on ul li a:hover,#g_navi li.g_navi07_on ul li a:hover,#g_navi li.g_navi08_on ul li a:hover {
	background: #000 url(../../common/img/icon_on.png) no-repeat 1px 9px;
	_background: #000 url(../../common/img/icon_on.gif) no-repeat 1px 8px;
	filter:alpha(opacity=90);
	opacity:0.90;
	-moz-opacity:0.90;
	color: #f0fc37;
}

#g_navi li.g_navi01 ul li.first a,#g_navi li.g_navi02 ul li.first a,#g_navi li.g_navi03 ul li.first a,#g_navi li.g_navi04 ul li.first a,#g_navi li.g_navi05 ul li.first a,#g_navi li.g_navi06 ul li.first a,#g_navi li.g_navi07 ul li.first a,#g_navi li.g_navi08 ul li.first a	{
	background: #000 url(../../common/img/bg_navi.gif) no-repeat;
	padding: 5px 5px 3px 15px;
}

#g_navi li.g_navi01 ul li.first a:hover,#g_navi li.g_navi02 ul li.first a:hover,#g_navi li.g_navi03 ul li.first a:hover,#g_navi li.g_navi04 ul li.first a:hover,#g_navi li.g_navi05 ul li.first a:hover,#g_navi li.g_navi06 ul li.first a:hover,#g_navi li.g_navi07 ul li.first a:hover,#g_navi li.g_navi08 ul li.first a:hover {
	background: #000 url(../../common/img/bg_navi_on.gif) no-repeat;
}


/* 追加項目
----------------------------------------------------------- */
#g_navi ul li ul {
	top: 0px;
	left: 175px;
}
#g_navi ul ul{
display:none;
}



















/*------off*/
#g_navi li.g_navi01 a {
	background:url(../img/gnav_ko.png) no-repeat 0px -39px;
	width:70px;
}
#g_navi li.g_navi02 a {
	background:url(../img/gnav_ko.png) no-repeat -70px -39px;
	width:140px;
}
#g_navi li.g_navi03 a {
	background:url(../img/gnav_ko.png) no-repeat -210px -39px;
	width:160px;
}
#g_navi li.g_navi04 a {
	background:url(../img/gnav_ko.png) no-repeat -370px -39px;
	width:90px;
}
#g_navi li.g_navi05 a {
	background:url(../img/gnav_ko.png) no-repeat -460px -39px;
	width:75px;
}
#g_navi li.g_navi06 a {
	background:url(../img/gnav_ko.png) no-repeat -535px -39px;
	width:105px;
}
#g_navi li.g_navi07 a {
	background:url(../img/gnav_ko.png) no-repeat -640px -39px;
	width:115px;
}



#g_navi li.g_navi11 a {
	float:right;  
	width:40px;
	text-indent:0;
	overflow:visible;
}

#g_navi li.g_navi12 a {
	float:right;  
	width:40px;
	text-indent:0;
	overflow:visible;
}



/*------hover*/
#g_navi li.g_navi01 a:hover {
	background:url(../img/gnav_ko.png) no-repeat 0px -78px;
}
#g_navi li.g_navi02 a:hover {
	background:url(../img/gnav_ko.png) no-repeat -70px -78px;
}
#g_navi li.g_navi03 a:hover {
	background:url(../img/gnav_ko.png) no-repeat -210px -78px;
}
#g_navi li.g_navi04 a:hover {
	background:url(../img/gnav_ko.png) no-repeat -370px -78px;
}
#g_navi li.g_navi05 a:hover {
	background:url(../img/gnav_ko.png) no-repeat -460px -78px;
}
#g_navi li.g_navi06 a:hover {
	background:url(../img/gnav_ko.png) no-repeat -535px -78px;
}
#g_navi li.g_navi07 a:hover {
	background:url(../img/gnav_ko.png) no-repeat -640px -78px;
}



/*------on*/
#g_navi li.g_navi01_on a {
	background:url(../img/gnav_ko.png) no-repeat 0px -78px;
	width:70px;
}
#g_navi li.g_navi02_on a {
	background:url(../img/gnav_ko.png) no-repeat -70px -78px;
	width:140px;
}
#g_navi li.g_navi03_on a {
	background:url(../img/gnav_ko.png) no-repeat -210px -78px;
	width:160px;
}
#g_navi li.g_navi04_on a {
	background:url(../img/gnav_ko.png) no-repeat -370px -78px;
	width:90px;
}
#g_navi li.g_navi05_on a {
	background:url(../img/gnav_ko.png) no-repeat -460px -78px;
	width:60px;
}
#g_navi li.g_navi06_on a {
	background:url(../img/gnav_ko.png) no-repeat -520px -78px;
	width:100px;
}
#g_navi li.g_navi07_on a {
	background:url(../img/gnav_ko.png) no-repeat -680px -78px;
	width:120px;
}

#g_navi li.g_navi08_on a {
	background:url(../img/gnav_ko.png) no-repeat -800px -78px;
	width:100px;
}

/*------hover*/
#g_navi li.g_navi01_on a:hover {
	background:url(../img/gnav_ko.png) no-repeat 0px -78px;
}
#g_navi li.g_navi02_on a:hover {
	background:url(../img/gnav_ko.png) no-repeat -70px -78px;
}
#g_navi li.g_navi03_on a:hover {
	background:url(../img/gnav_ko.png) no-repeat -210px -78px;
}
#g_navi li.g_navi04_on a:hover {
	background:url(../img/gnav_ko.png) no-repeat -370px -78px;
}
#g_navi li.g_navi05_on a:hover {
	background:url(../img/gnav_ko.png) no-repeat -460px -78px;
}
#g_navi li.g_navi06_on a:hover {
	background:url(../img/gnav_ko.png) no-repeat -535px -78px;
}
#g_navi li.g_navi07_on a:hover {
	background:url(../img/gnav_ko.png) no-repeat -640px -78px;
}





