@charset "utf-8";

/* ----------------------------------------------------
作成日: 2015.01.22
最終更新日: 2015.03.12
mobile.css： 共通設定(スマートフォン版)
---------------------------------------------------- */
html{
	height:100%;
	position: relative;
}

body{
	height:100%; 
	font-size:10px!important;
	font-family:"メイリオ", "ＭＳ Ｐゴシック", sans-serif;
	-webkit-text-size-adjust: 100%;
	line-height:1.6;
	color:#ffffff;
	background:#0093ff;
}

header{
	background:#003399;
	width:100%;
	height:21px;
	border-bottom: 2px solid #0093ff;
}

#header_inner{
	width:320px;
	margin: 0 auto;
}

#header_inner p{
	padding:6px 0 0 5px;
	line-height: 1;
	letter-spacing:-1px;
	display:block;
	float:left;
}

.en #header_inner p{
	padding:6px 0 0 15px;
	letter-spacing: 0
}

#header_inner ul{
	width:146px;
	padding-top:1px;
	float:right;
}

#header_inner li a{
	float:left;
	display:block;
	margin-right:4px;
}
/*
#header_inner li:first-child a{
	margin-right:16px;
}
*/
article{
	position: static;
}

.bg{
	background:url(../images/common/bg_sp.jpg) no-repeat top center;
	background-size: 100%;
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:50%;
	margin-left:-50%;
	z-index:-1;
}

.wrapper,
#about .intro,
#player .intro,
#companion .intro,
#item .intro{
	background:rgba(255,255,255,0.5);
	width:320px;
	margin:0 auto;
}

.top_vid{
	background:url(../images/jp/img_video_sp.jpg) no-repeat;
	background-size: contain;
	position: relative;
	width:320px;
	height:160px;
	margin-bottom:5px;
}

.en .top_vid{
	background:url(../images/en/img_video_sp.jpg) no-repeat;
	background-size: contain;
}

.top_vid a img{
	position: absolute;
	top:89px;
	left:249px;
	left:9px;
	display: block;
}

.top_vid a img{
	width:59px;
	height:65px;
}

.top_vid a.vid01 img{
	width:100px;
	height:37px;
	top:123px;
	left:200px;
}


.en .top_vid a{
	top:88px;
	left:224px;
}

.en .top_vid a img{
	width:89px;
	height:65px;
}

.en .top_vid a.vid01 img{
	width:100px;
	height:37px;
	top:123px;
	left:200px;
}

h1{
	line-height:0;
}

h1,h2,h3{
	text-indent:-99999px;
	overflow:hidden;
}

/*スライダー共通設定*/

.bx-wrapper{
	margin:0 auto;
	width:320px;
}
.bx-pager-item{
	display:none;
}

.bx-controls-direction{
	width:320px;
	margin:0 auto;
	position: relative;
}
.bx-controls-direction a{
	width:60px;
	height:59px;
}

/*sns*/

.social {
	margin:0 auto;
	padding-top:10px;
	padding-bottom:10px;
	width:300px;
	height:25px;
}

.social li{
	float:left;
	padding-bottom: 5px;
	height:20px;
	width:100px;
}

.social li.facebook,.social li.twitter{
	width:105px;
}

.social li.line{
	width:90px;
}

/*メンテナンス表示*/
/*
.information{
	background:#ffffff;
	border-radius: 10px;
	border:#0093ff solid 2px;
	width:198px;
	padding:5px;
	margin:0 auto 12px;
	color:#333;
}

.information span{
	font-weight: bold;
}
*/

/*MT*/

.information{
	background:#ffffff;
}

.information .title{
	background:url(../images/common/bg_info.gif) repeat-x top left;
	background-size:4px;
	padding-top:2px;
	height:29px;
}

.information .title h2{
	background:url(../images/jp/title_info.png) no-repeat;
	background-size: contain;
	width:193px;
	height:27px;
	display:block;
	margin:0 auto;
}

.en .information .title h2{
	background:url(../images/en/title_info.png) no-repeat;
	background-size: contain;
	width:150px;
	height:26px;
}

.information iframe{
	width:320px;
	height:186px;
	vertical-align: bottom;
}

/*

.information dt{
	display:block; 
	width:73px;
	height:22px;
	margin-left:10px;
	margin-top:8px;
	float:left;
}

.information .maintenance dt{
	background:url(../images/jp/img_maintenance_sp.png) no-repeat;
	background-size:58px;
}

.information .important dt{
	background:url(../images/jp/img_important_sp.png) no-repeat;
	background-size:53px;
}

.information .notices dt{
	background:url(../images/jp/img_notices_sp.png) no-repeat;
	background-size:51px;

}

.information .status dt{
	background:url(../images/jp/img_status_sp.png) no-repeat;
	background-size:54px;
}

.en .information .maintenance dt{
	background:url(../images/en/img_maintenance_sp.png) no-repeat;
	background-size:64px;
}

.en .information .important dt{
	background:url(../images/en/img_important_sp.png) no-repeat;
	background-size:61px;
}

.en .information .notices dt{
	background:url(../images/en/img_notices_sp.png) no-repeat;
	background-size:50px;

}

.en .information .status dt{
	background:url(../images/en/img_status_sp.png) no-repeat;
	background-size:46px;
}

.information dd{
	padding-left:83px;
	display:block;
	width:237px;
	height:auto;
}

.information a span{
	font-size:9px;
	color:#666666;
	margin-bottom:6px;
	line-height:1.1;
}

.information a p{
	font-size:12px;
	color:#000000;
	line-height:1.1;
	width:237px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;
}

.information dl a{
	text-decoration:none;
	border-bottom:1px solid #cccccc;
	display:block;
}

.information dl a:last-child{
	border-bottom:1px solid #000000;
}

.information a:hover span,.information a:hover p{
	text-decoration: underline;
}

.information .page{
	border-top:1px solid #000000;
}

.information .page li{
	margin-top:6px;
	margin-left:3px;
	display:inline-block;
}
.information .page li:last-child{
	margin-left:175px;
}
*/


.catch span{
	display:block;
	background:url(../images/jp/txt_catch_sp.png) no-repeat;
	background-size: contain;
	text-indent:-9999px;
	width:310px;
	height:63px;
	margin:0 auto 5px;
}

.en .catch span{
	background:url(../images/en/txt_catch_sp.png) no-repeat;
	background-size: contain;
	width:320px;
	height:35px;
	margin:0 auto;
}

/*
.pre_register{
	position: relative;
	background:url(../images/common/bg_pre_register_sp.png) no-repeat;
	background-size:contain;
	width:310px;
	height:310px;
	margin:0 auto;
	padding-bottom:10px;
}

.pre_register h2{
	position: absolute;
	background:url(../images/jp/title_pre_register_sp_01.png) no-repeat;
	background-size:contain;
	width:223px;
	height:85px;
	top:2px;
	left:49px;
}
.pre_register h3{
	position: absolute;
	background:url(../images/jp/title_pre_register_sp_02.png) no-repeat;
	background-size:contain;
	width:236px;
	height:46px;
	top:87px;
	left:36px;
	z-index:1;
}

.pre_register .item img{
	position: absolute;
	width:199px;
	height:199px;
	top:90px;
	left:53px;

}

.pre_register .item .badge{
	width:87px;
	height:87px;
	top:138px;
	left:211px;
	z-index:1;
}

.pre_register .btn_pre img{
	position: absolute;
	display:block;
	width:150px;
	height:46px;
	top:241px;
	left:77px;
}

.pre_register .caution p{
	position: absolute;
	background:url(../images/jp/txt_caution_sp.png) no-repeat;
	background-size:contain;
	display: block;
	text-indent: -9999px;
	width:207px;
	height:11px;
	top:290px;
	left:49px;
}
*/

/*ランニングキャンペーン*/

#campaign{
	padding-top:20px;/*MTを設置後*/
	padding-bottom:6px;
}

#campaign h2{
	background:url(../images/jp/title_campaign_sp.png) no-repeat;
	background-size:contain;
	margin:0 auto;
	width:267px;
	height:71px;
	z-index:3;
	position: relative;
}

#campaign .item{
	position: relative;
	width:310px;
	height:171px;
	margin:-23px auto 0;
}

#campaign .item img{
	position: absolute;
	top:0;
	left:77px;
	width:152px;
	height:171px;
	z-index:1;
}

#campaign .item .badge{
	top:38px;
	left:198px;
	width:88px;
	height:88px;
	z-index:2;
}

#campaign .item .catch{
	top:102px;
	left:10px;
	width:97px;
	height:42px;
}


#campaign .sonic{
	margin-bottom:12px;
	z-index:2;
	position: relative;
}

#campaign .sonic img{
	margin-left: 5px;
	width:311px;
	height:167px;
}

#campaign ul{
	margin-left:50px;
	margin-bottom:5px;
}

#campaign li a{
	display:block;
	text-indent:-9999px;
}

#campaign li a.run_01{
	background:url(../images/jp/btn_running_01_sp_off.png) no-repeat;
	background-size: contain;
	width:199px;
	height:83px;
}

#campaign li a:hover.run_01{
	background:url(../images/jp/btn_running_01_sp_on.png) no-repeat;
	background-size: contain;
}

#campaign li a.run_02{
	background:url(../images/jp/btn_running_02_sp_off.png) no-repeat;
	background-size: contain;
	width:199px;
	height:83px;
}

#campaign li a:hover.run_02{
	background:url(../images/jp/btn_running_02_sp_on.png) no-repeat;
	background-size: contain;
}

#campaign li a.run_03{
	background:url(../images/jp/btn_running_03_sp_off.png) no-repeat;
	background-size: contain;
	width:199px;
	height:83px;
}

#campaign li a:hover.run_03{
	background:url(../images/jp/btn_running_03_sp_on.png) no-repeat;
	background-size: contain;
}

#campaign li a.run_04{
	background:url(../images/jp/btn_running_04_sp_off.png) no-repeat;
	background-size: contain;
	width:199px;
	height:83px;
}

#campaign li a:hover.run_04{
	background:url(../images/jp/btn_running_04_sp_on.png) no-repeat;
	background-size: contain;
}

#campaign li a.run_05{
	background:url(../images/jp/btn_running_05_sp_off.png) no-repeat;
	background-size: contain;
	width:199px;
	height:83px;
}

#campaign li a:hover.run_05{
	background:url(../images/jp/btn_running_05_sp_on.png) no-repeat;
	background-size: contain;
}

#campaign li a.run_06{
	background:url(../images/jp/btn_running_06_sp_off.png) no-repeat;
	background-size: contain;
	width:199px;
	height:83px;
}

#campaign li a:hover.run_06{
	background:url(../images/jp/btn_running_06_sp_on.png) no-repeat;
	background-size: contain;
}

#campaign .caution p{
	background:url(../images/jp/txt_caution_sp.png) no-repeat;
	background-size:contain;
	display: block;
	text-indent: -9999px;
	width:207px;
	height:11px;
	margin:0 auto 10px;
}

/*ゲーム紹介*/
#about h2{
	background:url(../images/jp/title_about_sp.png) no-repeat;
	background-size:contain;
	width:258px;
	height:71px;
	margin:0 auto 5px;
}

.en #about h2{
	background:url(../images/en/title_about_sp.png) no-repeat;
	background-size:contain;
	width:300px;
	height:71px;
	margin:0 auto 5px;
}

#about .intro p{
	text-indent:-9999px;
	background:url(../images/jp/txt_about_sp.png) no-repeat;
	background-size: contain;
	width:305px;
	height:66px;
	margin:0 auto;
	padding-bottom:5px;
}

.en #about .intro{
	padding-top:20px;/*MTを設置後*/
}

.en #about .intro p{
	text-indent:-9999px;
	background:url(../images/en/txt_about_sp.png) no-repeat;
	background-size: contain;
	width:300px;
	height:77px;
	margin:0 auto;
	padding-bottom:5px;
}

#about .slide_wrap{
	background:#ffffff;
	text-align: center;
	padding-top:20px;
	padding-bottom:15px;
	height:245px;
	position: relative;
}

#about .slide_wrap .btn_bg{
	background-color:#0020a1;
	width:100%;
	height:59px;
	position: absolute;
	top:209px;
	z-index:0;
}

#about .slide_about{
	position: absolute;
	width:320px;
	display:block;
	margin:0 auto;
	text-align: center;
	background:#ffffff;
}

#about .slide_about img{
	width:300px;
	height:169px;
	margin-bottom:15px;
}

#about .bx-controls-direction{
	width:320px;
	margin:0 auto;
	height:59px;
	background:#ffffff;
	position: relative;
}


#about .bx-prev{
	text-indent:-9999px;
	position: absolute;
	left:0;
	background:url(../images/common/btn_slide_prev.png) no-repeat;
	background-size:60px
}
#about .bx-next{
	text-indent:-9999px;
	position: absolute;
	background:url(../images/common/btn_slide_next.png) no-repeat;
	background-size:60px;
	right:0;
}


/*プレイヤーキャラクター紹介*/
#player h2{
	background:url(../images/jp/title_player_sp.png) no-repeat;
	background-size:contain;
	width:296px;
	height:71px;
	margin:0 auto 5px;
}


.en #player h2{
	background:url(../images/en/title_player_sp.png) no-repeat;
	background-size:contain;
	width:300px;
	height:71px;
	margin:0 auto 5px;
}

#player .intro p{
	text-indent:-9999px;
	background:url(../images/jp/txt_player_sp.png) no-repeat;
	background-size:contain;
	width:296px;
	height:112px;
	margin:0 auto;
	padding-bottom:5px;
}

.en #player .intro p{
	background:url(../images/en/txt_player_sp.png) no-repeat;
	background-size:contain;
	width:300px;
	height:90px;
	margin:0 auto;
	padding-bottom:5px;
}

#player .slide_wrap{
	background:#ffffff;
	position: relative;
}

#player .slide_wrap .btn_bg{
	background-color:#0020a1;
	height:59px;
	width:100%;
	position: absolute;
	top:120px;
	z-index:0;
}

#player .slide_player {
	width:320px;
	margin:0 auto;
}
#player div[class^="inner"]{
	width:320px;
	margin:10px auto 0;
	height:410px;
	background:#ffffff;
}

#player .slide_player .player_img{
	width:320px;
	margin:0 auto;
	text-align: center
}

#player .slide_player p{
	font-size:12px;
	line-height:1;
	color:#333333;
	width:290px;
	margin:0 auto;
	text-align: left;
}
#player .slide_player p span{
	font-weight: bold;
	color:#cc0000;
}

#player .slide_player ul{
	display:table;
	width:310px;
	margin:7px auto 20px;
}
#player .slide_player li{
	display:table-cell;
}
#player .slide_player li:first-child{
	margin-right:10px;
}

#player .slide_player li img{
	width:150px;
	height:85px;
	line-height:0;
}


#player .bx-prev{
	text-indent:-9999px;
	position: absolute;
	top:-290px;
	left:0;
	background:url(../images/common/btn_slide_prev.png) no-repeat;
	background-size:60px
}
#player .bx-next{
	text-indent:-9999px;
	position: absolute;
	background:url(../images/common/btn_slide_next.png) no-repeat;
	background-size:60px;
	top:-290px;
	right:0;
}


/*オトモ紹介*/

#companion h2{
	background:url(../images/jp/title_companion_sp.png) no-repeat;
	background-size:contain;
	width:206px;
	height:71px;
	margin:0 auto 5px;

}

.en #companion h2{
	background:url(../images/en/title_companion_sp.png) no-repeat;
	background-size:contain;
	width:300px;
	height:71px;
	margin:0 auto 5px;

}


#companion .intro p{
	text-indent:-9999px;
	background:url(../images/jp/txt_companion_sp.png) no-repeat;
	background-size:contain;
	width:310px;
	height:111px;
	margin:0 auto;
	padding-bottom:5px;
}

.en #companion .intro p{
	background:url(../images/en/txt_companion_sp.png) no-repeat;
	background-size:contain;
	width:300px;
	height:137px;
	margin:0 auto;
	padding-bottom:5px;
}

#companion .slide_wrap{
	background:#ffffff;
	padding-top:10px;
	padding-bottom:20px;
	position: relative;
}

#companion .slide_wrap .btn_bg{
	background-color:#0020a1;
	height:59px;
	width:100%;
	position: absolute;
	top:95px;
	z-index:0;
}

#companion div[class^=s_rare] h3{
	background:url(../images/jp/title_companion_super_rare.png) no-repeat;
	background-size: 166px;
	width:166px;
	height:30px;
	margin:0 auto 5px;
}

#companion div[class^=rare] h3{
	background:url(../images/jp/title_companion_rare.png) no-repeat;
	background-size: 166px;
	width:166px;
	height:30px;
	margin:0 auto 5px;
}

#companion div[class^=normal] h3{
	background:url(../images/jp/title_companion_normal.png) no-repeat;
	background-size: 166px;
	width:166px;
	height:30px;
	margin:0 auto 5px;
}


.en #companion div[class^=s_rare] h3{
	background:url(../images/en/title_companion_super_rare.png) no-repeat;
	background-size: 166px;
	width:166px;
	height:30px;
	margin:0 auto 5px;
}

.en #companion div[class^=rare] h3{
	background:url(../images/en/title_companion_rare.png) no-repeat;
	background-size: 166px;
	width:166px;
	height:30px;
	margin:0 auto 5px;
}

.en #companion div[class^=normal] h3{
	background:url(../images/en/title_companion_normal.png) no-repeat;
	background-size: 166px;
	width:166px;
	height:30px;
	margin:0 auto 5px;
}


#companion .slide_companion{
	width:320px;
	margin:0 auto;
	text-align: center;
}

#companion .img_companion{
	background:#ffffff;
}

#companion dt {
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/jp/txt_companion_chip.png) no-repeat;
	background-size:47px;
	width:47px;
	height:17px;
	margin:0 auto 10px;
}

.en #companion dt {
	background:url(../images/en/txt_companion_chip.png) no-repeat;
	background-size:47px;
	width:47px;
	height:20px;
	margin:0 auto 10px;
}

#companion .s_rare02 dt {
	background:url(../images/jp/txt_companion_caliburn.png) no-repeat;
	background-size:76px;
	width:76px;
	height:17px;
}

.en #companion .s_rare02 dt {
	background:url(../images/en/txt_companion_caliburn.png) no-repeat;
	background-size:76px;
	width:76px;
	height:17px;
}

#companion .rare01 dt {
	background:url(../images/jp/txt_companion_yacker.png) no-repeat;
	background-size:62px;
	width:62px;
	height:16px;
}

.en #companion .rare01 dt {
	background:url(../images/en/txt_companion_yacker.png) no-repeat;
	background-size:62px;
	width:62px;
	height:16px;
}

#companion .rare02 dt {
	background:url(../images/jp/txt_companion_pig.png) no-repeat;
	background-size:60px;
	width:60px;
	height:17px;
}

.en #companion .rare02 dt {
	background:url(../images/en/txt_companion_pig.png) no-repeat;
	background-size:86px;
	width:86px;
	height:17px;
}

#companion .normal01 dt {
	background:url(../images/jp/txt_companion_chao.png) no-repeat;
	background-size:106px;
	width:106px;
	height:17px;
}

.en #companion .normal01 dt {
	background:url(../images/en/txt_companion_chao.png) no-repeat;
	background-size:106px;
	width:106px;
	height:17px;
}

#companion .normal02 dt {
	background:url(../images/jp/txt_companion_balloon.png) no-repeat;
	background-size:107px;
	width:107px;
	height:17px;
}

.en #companion .normal02 dt {
	background:url(../images/en/txt_companion_balloon.png) no-repeat;
	background-size:107px;
	width:107px;
	height:15px;
}

#companion dd{
	text-align: center;
	color:#333333;
	font-size:12px;
	line-height: 1;
}

#companion span{
	font-weight: bold;
}


#companion .bx-prev{
	text-indent:-9999px;
	position: absolute;
	top:-180px;
	left:0;
	background:url(../images/common/btn_slide_prev.png) no-repeat;
	background-size:60px
}
#companion .bx-next{
	text-indent:-9999px;
	position: absolute;
	background:url(../images/common/btn_slide_next.png) no-repeat;
	background-size:60px;
	top:-180px;
	right:0;
}


.en #companion .bx-prev{
	top:-183px;
	left:0;
	background:url(../images/common/btn_slide_prev.png) no-repeat;
	background-size:60px
}
.en #companion .bx-next{
	background:url(../images/common/btn_slide_next.png) no-repeat;
	background-size:60px;
	top:-183px;
	right:0;
}


/*各種アイテム紹介*/

#item h2{
	background:url(../images/jp/title_item_sp.png) no-repeat;
	background-size:contain;
	width:206px;
	height:71px;
	margin:0 auto 5px;

}

.en #item h2{
	background:url(../images/en/title_item_sp.png) no-repeat;
	background-size:contain;
	width:300px;
	height:71px;
	margin:0 auto 5px;

}

#item .intro p{
	text-indent:-9999px;
	background:url(../images/jp/txt_item_sp.png) no-repeat;
	background-size:contain;
	width:279px;
	height:52px;
	margin:0 auto;
	padding-bottom:5px;
}

.en #item .intro p{
	background:url(../images/en/txt_item_sp.png) no-repeat;
	background-size:contain;
	width:300px;
	height:46px;
	margin:0 auto;
	padding-bottom:5px;
}

#item .slide_wrap{
	position: relative;
	padding-top:10px;
	padding-bottom: 20px;
	background:url(../images/common/bg_hr_sp_gray.gif) bottom center no-repeat;
	background-size:300px;
	background-color:#ffffff;
}

#item .slide_wrap .btn_bg{
	background-color:#0020a1;
	height:59px;
	width:100%;
	position: absolute;
	top:85px;
	z-index:0;
}

#item .slide_item{
	width:320px;
	margin:0 auto;
	text-align: center;
	color:#333333;
	font-size: 12px;
}

#item div[class^=equip],#item div[class^=boost]{
	background:#ffffff;
}

#item div[class^=equip] h3{
	background:url(../images/jp/title_item_equip.png) no-repeat;
	background-size: 167px;
	width:167px;
	height:32px;
	margin:0 auto 5px;
}

.en #item div[class^=equip] h3{
	background:url(../images/en/title_item_equip.png) no-repeat;
	background-size: 167px;
	width:167px;
	height:32px;
	margin:0 auto 5px;
}

#item div[class^=boost] h3{
	background:url(../images/jp/title_item_boost.png) no-repeat;
	background-size: 167px;
	width:167px;
	height:32px;
	margin:0 auto 5px;
}

.en #item div[class^=boost] h3{
	background:url(../images/en/title_item_boost.png) no-repeat;
	background-size: 167px;
	width:167px;
	height:32px;
	margin:0 auto 5px;
}

#item dt{
	text-indent:-99999px;
	overflow: hidden;
	background:url(../images/jp/txt_item_cyan.png) no-repeat;
	background-size: 121px;
	width:121px;
	height:18px;
	margin:5px auto;
}

.en #item dt{
	background:url(../images/en/txt_item_cyan.png) no-repeat;
	background-size: 121px;
	width:121px;
	height:23px;
	margin:5px auto;
}

#item .equip02 dt{
	background:url(../images/jp/txt_item_yellow.png) no-repeat;
	background-size: 122px;
	width:122px;
	height:18px;
}


.en #item .equip02 dt{
	background:url(../images/en/txt_item_yellow.png) no-repeat;
	background-size: 122px;
	width:122px;
	height:18px;
}

#item .equip03 dt{
	background:url(../images/jp/txt_item_indigo.png) no-repeat;
	background-size: 154px;
	width:154px;
	height:18px;
}

.en #item .equip03 dt{
	background:url(../images/en/txt_item_indigo.png) no-repeat;
	background-size: 154px;
	width:154px;
	height:21px;
}


#item .equip04 dt{
	background:url(../images/jp/txt_item_invincible.png) no-repeat;
	background-size: 32px;
	width:32px;
	height:18px;
}

.en #item .equip04 dt{
	background:url(../images/en/txt_item_invincible.png) no-repeat;
	background-size: 88px;
	width:88px;
	height:18px;
}


#item .boost01 dt{
	background:url(../images/jp/txt_item_score.png) no-repeat;
	background-size: 93px;
	width:93px;
	height:17px;
}

.en #item .boost01 dt{
	background:url(../images/en/txt_item_score.png) no-repeat;
	background-size: 140px;
	width:140px;
	height:17px;
}


#item .boost02 dt{
	background:url(../images/jp/txt_item_spring.png) no-repeat;
	background-size: 138px;
	width:138px;
	height:18px;
}

.en #item .boost02 dt{
	background:url(../images/en/txt_item_spring.png) no-repeat;
	background-size: 138px;
	width:138px;
	height:18px;
}


#item .bx-prev{
	text-indent:-9999px;
	position: absolute;
	top:-126px;
	left:0;
	background:url(../images/common/btn_slide_prev.png) no-repeat;
	background-size:60px
}


#item .bx-next{
	text-indent:-9999px;
	position: absolute;
	background:url(../images/common/btn_slide_next.png) no-repeat;
	background-size:60px;
	top:-126px;
	right:0;
}


.en #item .bx-prev,.en #item .bx-next{
	top:-138px;
}




/*アプリ情報*/
.app_info{
	background:#ffffff;
	font-size: 12px;
	font-weight: bold;
	color:#000000;
}

.app_info a{
	color:#0033cc;
	text-decoration: none;
}

.app_info .inner{
	width:300px;
	margin:0 auto;
	padding:10px;
}

.app_info h2{
	color:#0033cc;
	line-height: 1.5;
	text-indent:0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin:0 auto 15px;
}

.app_info .wrap{
	display:table;
	margin-bottom:15px;
}

.app_info .icon{
	display:table-cell;
	vertical-align: top;
	padding-right: 10px;
}

.app_info .info{
	display:table-cell;
	margin-bottom:15px;
}



.app_info dt,.app_info dd{
	float:left;
	display:block;
}
.app_info dt{
	width:60px;
}

.app_info dd{
	width:160px;
}

.en .app_info dt{
	width:100px;
}

.en .app_info dd{
	width:122px;
}

/*ダウンロードボタン*/

.app_info .download h3{
	display:block;
	background:url(../images/jp/title_download_sp.gif) no-repeat;
	background-size:contain;
	width:161px;
	height:33px;
	margin:0 auto 5px;
}

.en .app_info .download h3{
	display:block;
	background:url(../images/en/title_download_sp.gif) no-repeat;
	background-size:contain;
	width:137px;
	height:32px;
	margin:0 auto 5px;
}

.app_info .download p{
	text-align: center;
	margin-bottom:10px;
}

/*利用規約などのリンク*/
article ul.alink{
margin:0 auto;
padding:10px 0;
text-align: center;
font-size:12px;
font-weight: bold;
color:#000000;
}

article ul.alink li{
	display:inline-block;
}

article .alink a{
	color:#0033cc;
	text-decoration: underline;
}

article .alink a:hover{
	text-decoration: none;
}

article .alink li:after{
	content:" |";
}

article .alink li:last-child:after{
	content:none;
}



footer{
	background:#000099;
}

footer a{
	color:#00ffff;
	text-decoration: none;
}

.footer_wrapper{
	width:300px;
	margin:0 auto;
	padding:12px 10px 15px;
}

.footer_wrapper .logo{
	margin-bottom:10px;
}

.footer_wrapper .logo li{
	display:inline-block;
	margin-right:10px;
}
.footer_wrapper .txt{
	line-height:1.5;
	margin-bottom:10px
}

.footer_wrapper .alink{
	margin-bottom:10px;
}

.footer_wrapper .alink li{
	display:inline-block;
	margin-right:2px;
}

/*nav*/
nav{
	position: fixed;
	border-radius:10px 0 0 10px;
	background-color:rgba(255,255,255,0.6);
	z-index:3;
	line-height: 1;
	top:0;
	right:0;
	padding:6px;
}
nav img{
	width:14px;
}

nav img.top{
	height:48px;
}

nav img.about{
	height:56px;
}

nav img.player{
	height:84px;
}

nav img.companion{
	height:56px;
}

nav img.item{
	height:80px;
}

/* 404 403 unsupported*/
.others .wrapper {
	padding-bottom:22px;
}

.others .message{
	padding:10px 0 15px;
	color:#000;
	text-align: center;
	font-size:12px;
}

.others .message h2{
	text-indent:0;
	font-size: 20px
}

.others .message a{
	color:#000099;
}

.others .message ul{
	margin-top:10px;
	line-height: 2;
}

.others footer{
	position: static;
	z-index:2;
	background:url(../images/common/bg_foot.gif) repeat-x top center;
	background-size:45px;
	margin-top:-22px;
	padding-top:22px;
	bottom:0;
}

.others .footer_wrapper{
	background-color:#000099;
	width:100%;
	margin:0;
	padding:0;
}

.others .footer_inner{
	width:300px;
	margin:0 auto;
	padding:12px 10px 15px;
}

.others .logo_sega{
	width:60px;
	height:20px;
}

.others .logo_sonic{
	width:52px;
	height:18px;
}

/*お知らせ一覧 MT*/

.info_list{
	background:#ffffff;
	position: relative;
}

.info_list dt{
	display:block; 
	width:73px;
	height:22px;
	margin-left:10px;
	margin-top:8px;
	float:left;
}

.info_list .maintenance dt{
	background:url(../images/jp/img_maintenance_sp.png) no-repeat;
	background-size:58px;
}

.info_list .important dt{
	background:url(../images/jp/img_important_sp.png) no-repeat;
	background-size:53px;
}

.info_list .notices dt{
	background:url(../images/jp/img_notices_sp.png) no-repeat;
	background-size:51px;

}

.info_list .status dt{
	background:url(../images/jp/img_status_sp.png) no-repeat;
	background-size:54px;
}

.en.info_list .maintenance dt{
	background:url(../images/en/img_maintenance_sp.png) no-repeat;
	background-size:64px;
}

.en.info_list .important dt{
	background:url(../images/en/img_important_sp.png) no-repeat;
	background-size:61px;
	background-position:1px 0;
}

.en.info_list .notices dt{
	background:url(../images/en/img_notices_sp.png) no-repeat;
	background-size:50px;
	background-position:5px 0;

}

.en.info_list .status dt{
	background:url(../images/en/img_status_sp.png) no-repeat;
	background-size:46px;
	background-position:6px 0;
}

.info_list dd{
	padding-left:83px;
	display:block;
	width:237px;
	height:auto;
}

.info_list a span{
	font-size:9px;
	color:#666666;
	margin-bottom:6px;
	line-height:1.1;
}

.info_list a p{
	font-size:12px;
	color:#000000;
	line-height:1.1;
	width:237px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;
}

.info_list dl a{
	text-decoration:none;
	border-bottom:1px solid #cccccc;
	display:block;
}

.info_list dl a:nth-child(5){
	border-bottom:none;
}

/*
.info_list a:hover span,.info_list a:hover p{
	text-decoration: underline;
}
*/

.info_list .page{
	position: absolute;
	width:100%;
	top:154px;
	border-top:1px solid #000000;
}

.info_list .page li{
	position: absolute;
	top:6px;
	left:3px;
	display:inline-block;
}
.info_list .page li.next{
	left:245px;
}