@charset "utf-8";

/* ----------------------------------------------------
作成日: 2015.04.16.
最終更新日: 2015.04.21

common.css： POS2コラボ(PC版)
---------------------------------------------------- */
.wrapper{
	padding-top:0;
}

.main{
	padding-bottom:48px;
}

.main h2,.main h3,.main h4{
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	width:691px;
	height:271px;
	background:url(../images/jp/title_pso2_01.jpg) no-repeat;
	background-size: 691px;
	margin:0 auto;
	border-radius: 0;
}

.en .main h2{
	background:url(../images/en/title_pso2_01.jpg) no-repeat;
	background-size:691px;
	height:219px;
}

.main h3.h3_01{
	background:url(../images/jp/title_pso2_02.jpg) no-repeat;
	background-size:691px;
	height:92px;
}

.en .main h3.h3_01{
	background:url(../images/en/title_pso2_02.jpg) no-repeat;
	background-size:691px;
	height:113px;
}

.main h3.h3_02{
	background:url(../images/jp/title_pso2_03.jpg) no-repeat;
	background-size:691px;
	height:59px;
}

.main h4.h4_01{
	background:url(../images/jp/title_pso2_04.jpg) no-repeat;
	background-size:691px;
	height:254px;
}

.main h4.h4_02{
	background:url(../images/jp/title_pso2_05.jpg) no-repeat;
	background-size:691px;
	height:270px;
}

.main h4.h4_03{
	background:url(../images/jp/title_pso2_06.jpg) no-repeat;
	background-size:691px;
	height:275px;
}

.main img {
	width:691px;
	display:block;
	margin:0 auto;
}

.main img.img_01 {
	height:43px;
}

.en .main img.img_01 {
	height:52px;
}

.main img.img_02 {
	height:133px;
}

.en .main img.img_02 {
	height:394px;
}

.main img.img_03 {
	height:336px;
}

.en .main img.img_03 {
	height:261px;
}

.main img.img_04 {
	height:178px;
}

.en .main img.img_04 {
	height:238px;
}

.main img.img_05 {
	height:180px;
}

.en .main img.img_05 {
	height:173px;
}

.main img.img_06 {
	height:187px;
}

.main img.img_07 {
	height:180px;
}

.main div{
	width:691px;
	margin:0 auto;
}

.main .store{
	background:url(../images/jp/bg_pso2_01.jpg) no-repeat;
	background-size:691px;
	height:271px;
	padding-top:24px;
	padding-bottom:24px;
}

.en .main .store{
	background:url(../images/en/bg_pso2_01.jpg) no-repeat;
	background-size:691px;
	height:249px;
	padding:16px 0;
}

.main .store_inner{
	background:#fff;
	background:rgba(255,255,255,0.55);
	width:552px;
	height:220px;
	padding:16px;
	border-radius:8px;
	border:2px solid #fff;
}

.en .main .store_inner{
	background:rgba(255,255,255,0.6);
	height:196px;
}

.main .store_inner div.cf{
	width:556px;
}
.main .store .icon{
	float:left;
	width:102px;
}

.main .store .info{
	float:left;
	width:430px;
	color:#000;
	margin-left:16px;
}

.main .store h3{
	text-indent:0;
	font-size: 24px;
	color:#0033cc;
	width:auto;
	height:auto;
	background:none;
	padding-bottom:16px;
}

.en .main .store h3{
	font-size:22px;
	padding-bottom:12px;
}

.main .store .icon img{
	width:102px;
	height:104px;
}

.main .store .info dt,.main .store .info dd{
	display:block;
	float:left;
	width:80px;
	font-size:19px;
	font-weight: bold;
}

.en .main .store .info dt,.en .main .store .info dd{
	font-size:14px;
	width:144px;
}

.main .store .info dd{
	width:350px;
}

.en .main .store .info dd{
	width:286px;
}

.main .store ul{
	margin-top:10px;
	margin-left:103px;
	height:52px;
}

.en .main .store ul{
	margin-top:5px;
}

.main .store ul li{
	display:inline-block;
	height:52px;
}

.main .store li:before{
	content:none;
}

.main .store ul li img.ios{
	width:158px;
	height:52px;
}

.main .store ul li img.and{
	width:138px;
	height:52px;
	margin-left:55px;
}

.main .pso2{
	background:url(../images/jp/bg_pso2_02.jpg) no-repeat;
	background-size:691px;
	height:273px;
}

.main .pso2 a img{
	display:block;
	width: 480px;
	height:120px;
	margin: 0 auto;
	padding-top:140px;
	opacity: 0.9;
}

.main .pso2 a:hover img{
	opacity: 1;
}