@charset "UTF-8";

/* ===================================
	File Name   : common.css
	Description : Base Layout CSS
	
	Editors     : NS Sakurai
	Create Date : 2012/02/09

	Update Description :
		2012/02/14 Append - Common page styles [Sakurai]
		2012/02/09 Append - Basic styles [Sakurai]
		2012/02/09 File Create & Base Style Create
====================================== */

/*========== Style Contents ==========

	1. Global Redefinition
	2. Font Size Redefinition
	3. Box Setting
	4. Common Items Setting
		- Basic Link
	 	- Title Setting
	 	- Header Items
		- Header Navigation
		- Global Navigation
	 	- Footer Items
		- Footer Navigation
		- Foot Mark
		- Page Top Button
		- Alpha Mode Setting
		- Hidden Character Setting
		- Title Setting

====================================== */





/*===== ■1. Global Redefinition =====*/
body {
	line-height: 1.7;
    margin: 0px auto;
}

* html body {/* IE 6 Adjustment [Center Layout] */
	padding-left: 1px;
}

*:first-child+html body {/* IE 7 Adjustment [Center Layout] */
	padding-left: 1px;
}





/*===== ■2. Font Size Redefinition =====*/
body {
    font: 13px/1.231 "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Osaka","メイリオ","Meiryo","ＭＳ Ｐゴシック","verdana",sans-serif; /* Modern Browser */
    *font-size: small; /* IE 7 */
    *font: x-small; /* IE 6  */
}

/* Font Size
77%     10pix
85%     11pix
93%     12pix
100%    13pix
108%    14pix
116%    15pix
123.1%  16pix
131%    17pix
138.5%  18pix
146.5%  19pix
153.9%  20pix
161.6%  21pix
167%    22pix
174%    23pix
182%    24pix
189%    25pix
197%    26pix
*/


/* For 93%
74.5%    9pix
82.8%   10pix
91%     11pix
100%    12pix
107.5%  13pix
116%    14pix
124%    15pix
132.5%  16pix
*/





/*===== ■3. Box Setting =====*/
#Entirety {
	width: 100%;
	color: #000000;
	background-image: url(../img/body_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

#Header {
	position: relative;
	margin: 0px auto;
	width: 900px;
	height: 143px;
	z-index: 9999;
	background-image: url(../img/bg_header.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

#Contents {
	position: relative;
	z-index: 999;
	margin: 0px auto;
	padding: 0px 0px 30px;
	width: 900px;
}

#Footer {
	position: relative;
	background: #1D1A15;
	padding: 15px 0px;
	width: 100%;
	height: 220px;
}

.Section {
	width: 879px;
	margin: 0px auto;
}

.Section p {
	line-height: 1.7;
}






/*===== ■4. Common Items Setting =====*/
/* Background Image */
#BGSky {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#BGSky img {
	width: 100%;
}

/* Basic Link */
a {
	outline: hidden;
	text-decoration: none;
}

a:link {
	color: #F77B00;
	text-decoration: none;
}

a:visited {
	color: #FF9D3C;
}

a:hover {
	color: #3FBC3F;
	text-decoration: none;
}

/* Header Items */
#Header strong {
	display: block;
	/* [disabled]float: left; */
	padding: 21px 26px 0px 0px;
	width: 545px;
	height: 45px;
}

#Header p{
	margin-left: 0px;
	float: left;
	margin-bottom: 20px;
	}


#Header p em {
	display: block;
	float: left;
	background: url(../img/img_schedule01.gif) no-repeat 0px 14px;
	width: 250px;
	height: 20px;
	text-indent: -9999px;
	padding-top: 14px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-right: 10px;
}

#Header p em#Schedule02 {
	width: 255px;
	background-image: url(../img/img_schedule02.gif);
	background-repeat: no-repeat;
	background-position: 0px 14px;
	float: left;
	height: 20px;
}

#Header p span {
	display: block;
	float: left;
	width: 145px;
	height: 20px;
	text-indent: -9999px;
	background-image: url(../img/img_place.gif);
	background-repeat: no-repeat;
	background-position: 0px 14px;
	padding-top: 14px;
	padding-right: 7px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#Header ul#BtnLanguage {
	padding-top: 13px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	float: left;
	position: absolute;
	top: 0px;
	right: 10px;
}

#Header ul#BtnLanguage li a {
	display: block;
	background: url(../img/img_btn.jpg) no-repeat;
	width: 112px;
	height: 14px;
	background-position: -300px 0px;
}

#Header ul#BtnLanguage li a:hover {background-position: 0px 0px;}　


div.h_btnbox{background: url(../img/bg_snslang.jpg) no-repeat;
	width: 211px;
	height: 37px; position:absolute; top:0; right:0;}



/* Foot Mark */
p#FootMark {
	/*position: relative; */
	width: 880px;
	margin: 5px auto 0px;
	font-size: 77%;
	/*overflow: hidden;*/
	z-index: 999;
	padding-top:50px;
}

p#FootMark a {
	background: url(../img/arrow_footmark.gif) no-repeat right 5px;
	padding: 3px 18px 3px 0px;
	font-weight: bold;
	color:#333;
}

p#FootMark a:link {
	text-decoration: underline;
	color: #333;
}

p#FootMark a:visited {
	color: #333;
}

p#FootMark a:hover {
	text-decoration: none;
}

p#FootMark span {
	padding: 0px 0px 0px 5px;
	font-weight: bold;
	color: #333;
}


/* Global Navigation */
#GlobalNavi {
	clear: both;
	padding: 0px 0px 0px 0px;
}

#GlobalNavi li {
	position: relative;
	float: left;
	padding: 0px 0px 20px 0px;
}

#GlobalNavi li.last-child {
}

#GlobalNavi li a {
	display: block;
	background: url(../img/img_btn.jpg) no-repeat 0px -51px;
	width: 170px;
	height: 50px;
	color: #FFF;
}

#GlobalNavi li#BtnPress a {background-position: 0px -101px;}
#GlobalNavi li#Btn2011 a {background-position: 0px -151px;}
#GlobalNavi li#BtnContact a {background-position: 0px -201px;}

#GlobalNavi li#BtnExhibit a:hover {background-position: -300px -51px;}
#GlobalNavi li#BtnPress a:hover {background-position: -300px -101px;}
#GlobalNavi li#Btn2011 a:hover {background-position: -300px -151px;}
#GlobalNavi li#BtnContact a:hover {background-position: -300px -201px;}

/* DropDown */
#GlobalNavi li ul {
	position: absolute;
	display: none;
	z-index: 1000;
	top: 50px;
	border-bottom: 3px solid #5f5f5f;
	background: url(../img/bg_dropdown-exhibit.png) no-repeat;
	padding: 15px 0px 0px;
	left: 0px;
	width: 169px;
}

#GlobalNavi li#BtnPress ul {background: url(../img/bg_dropdown-press.png) no-repeat;}
#GlobalNavi li#Btn2011 ul {background: url(../img/bg_dropdown-2011.png) no-repeat;}
#GlobalNavi li#BtnContact ul {background: url(../img/bg_dropdown-contact.png) no-repeat;}

#GlobalNavi li ul li {
	float: none;
	
	margin: 0px 10px;
	padding: 10px 0px;
	line-height: 1.1;
	border-bottom:solid 1px #5c5c5c;
}

#GlobalNavi li ul li:hover {
	background: #5c5c5c url(../img/line_dotted-purple.html) repeat-x bottom;
}

#GlobalNavi li ul li.last-child {
	background: none;
}

#GlobalNavi li ul li.last-child:hover {
	background: #5c5c5c none;
}

#GlobalNavi li ul li a {
	background: none;
	padding: 0px 10px;
	width: 150px;
	height: auto;
	
	font-size: 100%;
}

#GlobalNavi a:hover {
}

#GlobalNavi li ul a{
}

#GlobalNavi li:hover ul ul, #GlobalNavi li:hover ul ul ul, #GlobalNavi li:hover ul ul ul ul{
	display:none;
}
#GlobalNavi li:hover ul, #GlobalNavi li li:hover ul, #GlobalNavi li li li:hover ul, #GlobalNavi li li li li:hover ul{
display:block;
}




/* Social Navigation */
#SocialNavi {
	position: absolute;
	right: 115px;
	top: 10px;
}

#SocialNavi li {
	float: left;
}

#SocialNavi li a {
	display: block;
	background: url(../img/btn_social.gif) no-repeat;
	margin: 0px 21px 0px 0px;
	width: 16px;
	height: 16px;
}

#SocialNavi li #BtnFacebook {
	background-position: -21px 0;
	margin: 0px 5px 0px 0px;
	width: 16px;
}


#SocialNavi li a#BtnTwitter {background-position: 0px 0px; margin: 0px 5px 0px 0px; width: 16px;}
#SocialNavi li a#BtnLinkedIn {background-position: -42px 0px;}

#SocialNavi li #BtnFacebook:hover {background-position: -21px -16px;}
#SocialNavi li a#BtnTwitter:hover {background-position: 0px -16px;}
#SocialNavi li a#BtnLinkedIn:hover {background-position: -42px -16px;}

/* Footer Items */

.Foot_wrap{width:900px; margin:0 auto; position:relative;}

address {
	position: absolute;
	top: 120px;
	left: 167px;
	width: 500px;
	text-align: left;
	line-height: 1;
	letter-spacing: 0.05em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 77%;
	color: #FFF;
}

#Footer strong {
	display: block;
	position: absolute;
	top: 100px;
	left: 167px;
	width: 215px;
	height: 14px;
	text-align: center;
}

#Footer ul {
	display: block;
	position: absolute;
	top: 0px;
	left: 0;
	padding: 0px 0px 0px 250px;
	width: 225px;
}

#Footer ul li {
	float: left;
	padding: 0px 0px 0px 15px;
}

#Footer .f_b1{position:absolute; top:100px; left:539px;}
#Footer .f_b2{position:absolute; top:100px; left:617px;}

#Footer .f_bnrbox{padding-left: 0px; position:absolute; left: 190px;}
#Footer .f_bnrbox a{float:left; margin-right:10px;}

#Footer .f_bnrbox_2{padding-left:41px; position:absolute; left:100px; top:80px}
#Footer .f_bnrbox_2 a{float:left; margin-right:10px;}


/* Page Top Button */
ul.BtnPageTop {
	clear: both;
	width: 890px;
	margin-top: 20px;
}

ul.BtnPageTop li {
	float: right;
	padding: 0px 14px 30px;
}

ul.BtnPageTop li a {
	display: block;
	background: url(../img/img_btn.jpg) no-repeat 0px -640px;
	width: 64px;
	height: 12px;
}

ul.BtnPageTop li a:hover {background-position: -300px -640px;}

/* Hidden Character Setting */
a span {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}


/* Title Setting */
h1 {
	background: url(../img/tittle_bg.jpg) no-repeat;
	margin: 20px auto 30px auto;
	padding: 13px 15px 0px 18px;
	width: 890px;
	height: 46px;
	font-size: 140.1%;
	font-weight: bold;
	color: #FFF;
}

h1 em {
	display: block;
	text-indent: -9999px;
}


h3 {
	margin: 0px 0px 20px 50px;
	line-height: 1.5;
	color: #246400;
	font-weight: bold;
	font-size: 123.1%;
}

/* Download button */
/*#BtnDownload li a {
	display: block;
	background: url(../img/img_btn.jpg) 0px -427px;
	width: 426px;
	height: 141px;
}

#BtnDownload li a:hover {background-position: -500px -427px;}*/

#BtnDownload {position:absolute; top:80px; right:0px;}

#BtnDownload li a {
	background-image: url(../img/img_btn.jpg);
	height: 90px;
	width: 209px;
	display: block;
	background-position: 0px 549px;
}

#BtnDownload li a:hover {
	background-position: -300px 549px;
}

#BtnDownload_bottom {
	width: 480px;
	margin: 30px auto;
}

#BtnDownload_bottom li a {
	background-image: url(../img/img_btn.jpg);
	height: 138px;
	width: 480px;
	display: block;
	background-position: 0px -350px;
}

#BtnDownload_bottom li a:hover {
	background-position: 0px -495px;
}

/* Clear Release Common Item  */
#GlobalNavi,
#Contents,
.Section,
#Footer ul,
#SideBox dl dd,
ul.BtnPageTop {
	/zoom: 1;
/*	margin-right: 60px; */
}

#GlobalNavi:after,
#Contents:after,
.Section:after,
#Footer ul:after,
#SideBox dl dd:after,
ul.BtnPageTop:after {
	content: '';
	display: block;
	clear: both;
}


/*---------------------------------------------
	Clearfix
  ---------------------------------------------*/
.clearfix:after {
 content:".";
 display:block;
 visibility: hidden;
 height: 0.1px;
 font-size: 0.1em;
 line-height: 0;
 clear: both;
}

.clearfix {
	zoom: 1;
}
