/* topバナーの削除 */
.header__wrap.event__header {
    display: none;
}
#app > div > section > section.widget__wrap.event__layout > div:nth-child(1) > p {
    display: none;
}
/* TOPページのバナー上部の余白調節 */
.banner__wrap {
    margin-top: 0px!important;
}
.html__wrap {
    margin-top: 0px!important;
}
/* topページのヘッダー色の変更 */
.header-tab__active__event {
    color: #ff5064 !important;
    border-bottom: 2px solid #ff5064 !important;
}
/* Topページの下部　「ポータルトップに戻る」ボタンの削除 */
/*ブース内タイトルの下線*/
#app > div > section > section.widget__wrap.event__layout > div.portal-top-button {
    display: none;
}
.base-background-color {
    background-color: #ff5064 !important;
}
/* TOPページ下部のpadding削除 */
.widget__wrap {
    padding: 0 !important;
}
/* 【TOPページ】右下の画面最上部に戻るボタンの削除 */
.top-button__wrap {
    display: none;
}

/* ブースのタイトルのボーダー色変更 */
.booth-list-title__text {
    border-left: 8px solid #ff5064 !important;
}

/** ブースのリセットCSS **/
section.contents__wrap.detail__contents >.booth__wrap {
    padding: 0 !important;
    max-width: none !important;
    width: 100%;
}
section.detail-title__wrap.detail__title {
    display: none;
}
p.portal-event-top {
    display: none !important;
}
/* .detail__wrap {
    padding: 0 !important;
} */

/*受付中のテキスト色変更*/
.card-status__selling {
    color: #ff5064 !important;
}

/*チケット内*/
/*チケット選択画面・マイチケット画面選択時の下線*/
.page-selector__border {
    border-color: #ff5064 !important;
}

/*チケットポップアップ内無料のテキスト色変更*/
.ticket-price__value {
    color: #ff5064 !important;
}

/*チケットポップアップ内の+-ボタン色変更*/
.breadcrumbs {
    background-color: #ff5064 !important;
}

/* アンケートの送信ボタン色変更 */
.questionnaire-form__submit-button.v-btn.v-btn--contained.theme--light.v-size--default {
    background-color: #ff5064 !important;
}

/* 絞り込みボタンの色変更 */
.booth-cross-search-bar__button.v-btn.v-btn--contained.theme--dark.v-size--default {
    background-color: rgb(255, 80, 100) !important;
    border-color: rgb(255, 80, 100) !important;
}

.booth-cross-search-bar__button.v-btn.v-btn--depressed.v-btn--flat.v-btn--outlined.theme--light.v-size--default {
    color: #ff5064 !important;
    caret-color: #ff5064 !important;
}

/* 絞込みボタンの右上のアイコン２つの色変更 */
.v-icon.notranslate.mdi.mdi-format-list-bulleted.theme--light {
    color: rgb(255, 80, 100) !important;
    caret-color: rgb(255, 80, 100) !important;
}
.v-icon.notranslate.mdi.mdi-view-grid.theme--light{
    color: rgb(255, 80, 100) !important;
    caret-color: rgb(255, 80, 100) !important;
}

/* ページ数の表示アイコンの色変更 */
.v-pagination__item.v-pagination__item--active {
    background-color: #ff5064 !important;
}
/** WebページのリセットCSS **/
.web-page__title {
    display: none;
}
section.detail-title__wrap.detail__title {
    display: none;
}
p.portal-event-top {
    display: none !important;
}
/* .detail__wrap {
    padding: 0 !important;
} */
/**#__layout, #__nuxt, body, html {
    height: auto;
}**/
section.contents__wrap.detail__contents >.web-page__wrap {
    padding: 0 !important;
    max-width: none !important;
    width: 100%;
}
.web-page__html {
    max-width: none !important;
    width: 100%;
}
.html__wrap .container {
    max-width: none !important;
}
.v-btn--round .v-btn__content .v-icon {
    color: #f4f2f2;
  }
/* .theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background:#ff5064 !important;
}
button.widget__header.v-btn.v-btn--flat.v-btn--text.v-btn--tile.theme--light.v-size--default.widget__header__event {
    color:#ff5064 !important;
}
.widget-header__border {
    border-color:#ff5064 !important;
}
.widget-title__border {
    background-color:#ff5064 !important;
}
span.information-date__text.base-color {
    color: #ff5064!important;
}
.header-tab__name {
    color: #ff5064;
}
.header-tab__v-tab.v-tab.v-tab--active.header-tab__active__event {
    border-color: #ff5064;
}
.detail-title__border {
    background-color: #ff5064!important;
} */

/* フロートボタンのimg調整 */
.pc_click img {
	margin-bottom: 0;
}

@media screen and (max-width:768px) {
    .sp_click img {
        margin-bottom: 0;
    }
}

	/* フッター */
	footer {
		height: 25vw;
	}

	.chara_pc {
		position: relative;
		display: block;
		width: 100vw;
	}

	.chara_sp {
		display: none;
	}

	#footer img {
		margin-top: 10em;
		width: 100%;
	}

	footer #footer_nav {
		position: relative;
		bottom: 13vw;
	}

	footer #footer_nav>ul {
		position: relative;
		margin: auto;
		display: flex;
		width: 70vw;
		padding: 0;
		/* gap: clamp(10.7px, 1.389vw, 27.8px);*/
		justify-content: space-evenly;
	}

	/* @media screen and (min-width:1040px) {
		footer #footer_nav>ul {
			width: 60vw;
			justify-content: space-between;
		}
	} */

	footer #footer_nav>ul>li {
		display: table-cell;
	}

	.pc_footer_none {
		display: block;
	}

	.sp_footer_none {
		display: none !important;
	}

	.foot_img {
		display: flex;
		gap: clamp(5.3px, 0.694vw, 10px);
		margin-bottom: 5px;
	}

	.foot_img img {
		width: clamp(10.7px, 1.389vw, 20px);
		height: clamp(10.7px, 1.389vw, 20px);
		margin: auto 0;
	}

	footer li a {
		font-size: clamp(8px, 1.042vw, 15px);
		color: #000 !important;
		text-decoration: none;
		display: block;
	}

	footer #footer_nav>ul>li#archive {
		display: block;
	}

	.footer_sns {
    display: flex;
    justify-content: right;
    gap: 17px;
    margin-bottom: 25px;
}

	.sp_footer_sns {
		display: none;
	}

	.footer_sns img {
    width: clamp(26.7px, 3.472vw, 50px);
    max-width: 80%;
}

	.foot_btn {
		position: relative;
		margin-bottom: 10px;
		/* ボタンの間に少しスペースを追加 */
	}

	.foot_btn_label {
		display: block;
		padding: 5px 0;
		font-size: 16px;
		cursor: pointer;
		background-color: #000;
		/* ボタンの背景色を黒に設定 */
		color: #d9d9d9;
		/* ボタンのテキスト色を#d9d9d9に設定 */
		border-radius: 25px;
		text-align: center;
		position: relative;
		z-index: 1;
	}

	#footer_check {
		display: none;
	}


	.foot_btn_label .clicktxt {
		display: grid;
		font-size: clamp(8px, 1.042vw, 15px);
		background-color: #000;
		color: #fff !important;
		border-radius: 25px;
		text-align: center;
		position: relative;
	}

	.foot_btn_label .clicktxt::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);
		border: 5px solid transparent;
		border-left: 8px solid #fff;
		z-index: 2;
	}

	.btn_text {
		position: absolute;
		bottom: 100%;
		/* ボタンの上に表示 */
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		color: #fff;
		border-radius: 4px;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
		z-index: 2;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	.foot_btn_label:hover+.btn_text,
	.foot_btn_label:focus+.btn_text,
	.btn_text:hover {
		opacity: 1;
		visibility: visible;
		transform: translateX(-50%) translateY(0);
	}

	.btn_text ul {
		padding-left: 0;
		margin: 10px 0;
	}

	.btn_text ul li {
		text-align: center;
		list-style: none;
		background: #D9D9D9;
		margin: 2px 0;
	}

	.btn_text ul li a {
		color: #000;
		text-decoration: none;
		display: block;
		padding: 5px 0;
	}

	.btn_text ul li a:hover {
		background: #ccc;
	}

	a.btn {
		font-size: clamp(8px, 1.042vw, 15px);
		position: relative;
		background: #000;
		display: grid;
		color: #fff !important;
		border-radius: 25px;
		padding: 5px 20px 5px 30px;
		text-align: center;
	}

	a.btn::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);
		border: 5px solid transparent;
		border-left: 8px solid #fff;
		z-index: 2;
	}

	a.btn {
		font-size: clamp(8px, 1.042vw, 15px);
		position: relative;
		background: #000;
		display: grid;
		color: #fff !important;
		border-radius: 25px;
		padding: 5px 20px 5px 30px;
		text-align: center;
	}

	a.btn::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);
		border: 5px solid transparent;
		border-left: 8px solid #fff;
		z-index: 2;
	}

	@media screen and (max-width:768px) {
		footer {
			margin-bottom: 200px;
		}

		.chara_pc {
			display: none !important;
		}

		.chara_sp {
			display: block;
			width: 100%;
			position: relative;
		}

		footer #footer_nav {
			bottom: 0;
		}

		footer li a {
			font-size: clamp(7.7px, 2.677vw, 22px);
			color: #000 !important;
			text-decoration: none;
			display: block;
		}

		footer #footer_nav>ul {
			padding: 0;
			margin: 0 auto;
			width: 90vw;
			padding-bottom: 130px !important;
		}

		.pc_footer_none {
			display: none !important;
		}

		.sp_footer_none {
			list-style: none;
			display: block !important;
		}

		footer .outline {
			width: auto;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 10px;
			justify-content: start;
			gap: 7px;
			margin-left: 12vw;
		}

		li.banner_download {
			display: none !important;
		}

		.foot_img {
			margin: 0;
			align-items: center;
			width: calc(50% - 5px);
			box-sizing: border-box;
			gap: 3px;
		}

		.foot_img img {
			width: clamp(7.7px, 3.077vw, 22px);
			height: clamp(7.7px, 3.077vw, 22px);
			margin: auto 0;
		}

		.pc_footer_sns {
			display: none;
		}

		.sp_footer_sns {
			display: block;
			display: flex;
			justify-content: center;
			margin: 2em;
		}

		.foot_btn_label {
			width: 50vw;
			margin: 0 auto;
		}

		.archive {
			width: 30vw;
		}

		.foot_btn_label {
			width: 70%;
			margin: 1.5rem auto 0;
		}

		a.btn {
			width: 70%;
			margin: 0 auto;
			font-size: clamp(7.7px, 2.677vw, 22px);
		}

		.btn_text {
			width: 100%;
			margin-top: 10px;
			/* マージンを0に設定して隙間をなくす */
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.4s, height 0.4s;
		}

		.foot_btn_label .clicktxt {
			font-size: clamp(7.7px, 2.677vw, 22px);
		}

		input#footer_check:checked~.btn_text {
			position: relative;
			left: auto;
			top: auto;
			transform: none;
			height: auto;
			visibility: visible;
			opacity: 1;
		}

		.foot_btn_label:hover+.btn_text,
		.foot_btn_label:focus+.btn_text,
		.btn_text:hover {
			position: relative;
			left: auto;
			top: auto;
			transform: none;
			height: auto;
			opacity: 1;
			visibility: visible;
			/* margin-top: 10px; カーソルを合わせたときにマージンを追加 */
		}

		.footer_sns img {
			width: clamp(30.7px, 8.472vw, 50px);
		}

	}

/* 会員登録フォーム */
#form_8682 {
	display: block;
}


/** マイチケット　キャンセルボタン **/
/* button.payment-button.px-8.mb-4.v-btn.v-btn--contained.theme--dark.v-size--default {
	background-color: transparent !important;
}
#app > div.v-dialog__content.v-dialog__content--active > div > div > div.ticket-card-detail.v-card.v-sheet.theme--light > div.v-card__actions > button > span {
	color: #000;
}
#app > div.v-dialog__content.v-dialog__content--active > div > div > div.ticket-card-detail.v-card.v-sheet.theme--light > div.v-card__actions > button > span:hover {
	text-decoration: underline;
} */
/** マイチケット　キャンセルボタン **/
button.payment-button.px-8.mb-4.v-btn.v-btn--contained.theme--dark.v-size--default {
    background: transparent !important;
    padding: 0 !important;
    height: 0 !important;
}

/* キャンセルボタンの影を消す */
#app>div.v-dialog__content.v-dialog__content--active>div>div>div.ticket-card-detail.v-card.v-sheet.theme--light>div.v-card__actions>button.payment-button.px-8.mb-4.v-btn.v-btn--contained.theme--dark.v-size--default {
    box-shadow: none;
}

/* 「このチケットをキャンセルする」文字色変更 */
#app>div.v-dialog__content.v-dialog__content--active>div>div>div.ticket-card-detail.v-card.v-sheet.theme--light>div.v-card__actions>button.payment-button.px-8.mb-4.v-btn.v-btn--contained.theme--dark.v-size--default > span {
    color: rgba(0, 0, 0, .4);
    margin-bottom: 1em;
    text-decoration: underline;
}

/* 「このチケットをキャンセルする」のhover */
#app>div.v-dialog__content.v-dialog__content--active>div>div>div.ticket-card-detail.v-card.v-sheet.theme--light>div.v-card__actions>button.payment-button.px-8.mb-4.v-btn.v-btn--contained.theme--dark.v-size--default > span:hover {
    color: red !important;
    text-decoration: underline;
}

/** チケット **/
@media screen and (max-width: 600px) {
	p.page-selector__ticket__text.active {
			background-color: #ff5164 !important;
	}
	p.page-selector__my-ticket__text.active {
			background-color: #ff5164 !important;
	}
}

/* マイページの退会文言変更 */
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div.flex.mypage-contents__contents > section > section > div.unsubscribe-contents__card.v-card.v-card--flat.v-sheet.theme--light > p.unsubscribe-contents__caution-details {
    font-size: 0;
}
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div.flex.mypage-contents__contents > section > section > div.unsubscribe-contents__card.v-card.v-card--flat.v-sheet.theme--light > p.unsubscribe-contents__caution-details::before{
    font-size: 16px;
    content: "入場チケットや物販チケットをお持ちの方はキャンセルを先にお済ませになってから退会を行ってください。\Aチケットをキャンセルされないまま退会された場合、お問合せいただきましてもチケットの返金処理を行うことは出来かねますのでご了承ください。\Aまた、退会されると全ての情報が削除されます。データの復旧はできませんのでご注意ください。\Aなお、メール配信システムの都合上、退会後も一定期間はメールが配信される場合がございます。ご了承ください。";
    white-space: pre-wrap; /* テキストの折り返しを許可する */
    overflow-wrap: break-word; /* 長い単語やURLを折り返す */
    word-break: break-word; /* 長い単語を折り返す */
    max-width: 100%; /* 要素が親要素の幅を超えないようにする */
    display: block; /* ブロック要素として表示し、折り返す */
}

div.ticket__contents__container.container  {
    padding: 0px !important;
}


/* 有効期限の削除 */
#app > div.v-dialog__content.v-dialog__content--active > div > div > div.ticket-card-detail.v-card.v-sheet.theme--light > div.v-card__text.mt-4 > div.container.ticket-card-detail__contents > div:nth-child(3) {
    display: none;
}
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div.flex.mypage-contents__contents > section > div:nth-child(3) > section > div > section > div.my-ticket-layout__card.v-card.v-sheet.theme--light > div > div > table > thead > tr > th:nth-child(2) {
    display: none;
}
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div.flex.mypage-contents__contents > section > div:nth-child(3) > section > div > section > div.my-ticket-layout__card.v-card.v-sheet.theme--light > div > div > table > tbody > tr > td:nth-child(2) {
    display: none;
}
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div.flex.mypage-contents__contents > section > div > section > div > section > div.my-ticket-layout__card.v-card.v-sheet.theme--light > div > div > table > thead > tr > th:nth-child(2) {
    display: none;
}
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div.flex.mypage-contents__contents > section > div:nth-child(2) > section > div > section > div.my-ticket-layout__card.v-card.v-sheet.theme--light > div > div > table > tbody > tr > td:nth-child(2) {
    display: none;
}
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div > section > div > section > div > div > div.container.my-ticket-layout__wrap > div > div > div > div.v-card__text > div > div:nth-child(2) {
    display: none;
}

/* 領収書に関するものの削除 */
/* クレジットカード */
#app > div.v-application--wrap > div > div:nth-child(4) > div:nth-child(6) > div > section > div.stripe-layout > section.form-receipt-addressee__credit {
    display: none;
}
/* コンビニ */
#app > div.v-application--wrap > div > div:nth-child(4) > div:nth-child(6) > div > section > div.stripe-layout > section.item__wrap.form-receipt-addressee {
    display: none;
}


/* 終了に伴ったcssの修正 */
.dateInner_img_link {
    display: none;
}

.pc_click,
.sp_click {
    display: none;
}

.dateImg_up {
    padding: 20px 0 0 0 !important;
}

.mypage_link {
    display: none;
}