@charset "UTF-8";

#contents #main_column {
	padding:4px 1px 10px 0px;
}


#main_column #event{
	width:584px;
	background: url(../images/t_event.gif) no-repeat 14px 14px #7C76B2;

}

	#main_column h2{
		text-indent:-9999px;
		height:50px;
		width:580px;
		margin-bottom:16px;

	}
	
	#main_column .col_box a{
			color:#005AFF;
			text-decoration:underline;
		}

	

/*-----------------------------------------------------------------*/

#main_column .col_box {
	padding:0px 0px 0px 25px;
	color:#666666;

}

	#main_column .col_box {
	padding:0px 0px 0px 21px;

	}	
		#main_column .col_box .btn{
			margin:18px 0px 14px 0px;
		
	
		}
	
		#main_column .col_box .event_col{
			width:547px;
		
	
		}
		
			#main_column .col_box .event_col h3,
			#main_column .col_box .event_col h4{
				text-indent:-9999px;
			
		 
	
		}
			#main_column .col_box .event_col h3{
				height:30px;
				
			
			}
			
			
			
			#main_column .col_box .event_col .title_sub_event {
				height:17px;
				
			
			}
			
				#main_column .col_box .event_col .title_sub_event {
					height:17px;
					margin-top:27px;
					padding-bottom:10px;
				
			
				}
				
					#main_column .col_box .event_col .box_p {
						padding-left:8px;
					
					}
				
						#main_column .col_box .event_col .box_p .line_p{
							background:url(../images/line_dot_p.gif) repeat-x;
							padding-top:10px;
							
						
						}
						
						#main_column .col_box .event_col .box_p .img{
							margin-top:10px;
						
							
						
						}
						
						#main_column .col_box .event_col .box_p .line_g{
							background:url(../images/line_dot_g.gif) repeat-x;
							padding-top:10px;
							
						
						}
						
						#main_column .col_box .event_col .box_p .line_b{
							background:url(../images/line_dot_b.gif) repeat-x;
							padding-top:10px;
						
							
						
						}
						
						#main_column .col_box .event_col .box_p .line_or{
							background:url(../images/line_dot_or.gif) repeat-x;
							padding-top:10px;
							
						
						}
						
						#main_column .col_box .event_col .box_p .line_gr{
							background:url url(../../shared/images/line_gy_dot.gif) repeat-x;
							padding-top:10px;
							height:2px;
							
						
						}
						
						#main_column .col_box .event_col table{
						
						}
						
							#main_column .col_box .event_col table tr{
								
						
							}
							
							#main_column .col_box .event_col table th{
								vertical-align:bottom;
								padding-bottom:10px;
								padding-right:28px;
								background:url(../images/line_dot_red.gif) bottom repeat-x;
						
							}
							
							#main_column .col_box .event_col table td{
								padding-bottom:1px;
								background:url(../images/line_dot_red.gif) bottom repeat-x;
							}
							
							
							#main_column .col_box .event_col table .time_a{
								background-color:#FFF0E7;
								
								
							}
							
							
							#main_column .col_box .event_col table .time_b{
								background-color:#F2F1F7;
								
								
							}
							
							#main_column .col_box .event_col table .time_a,
							#main_column .col_box .event_col table .time_b {
								width:221px;
								text-align:center;
								padding-top:5px;
								padding-bottom:5px;
								min-height:39px;
								_height:39px;
							
							}
							
							#main_column .col_box .event_col table .time_h01 {
								 height:197px;
								 _height:203px;
							
							}
							
							
							#main_column .col_box .event_col table .time_h02 {
								height:200px;
							
							}
							
							#main_column .col_box .event_col table .time_h03 {
								height:200px;
							
							}
							
							#main_column .col_box .event_col table .time_a p,
							#main_column .col_box .event_col table .time_b p {
								padding:5px 10px 5px;
								
							
							}
							
							#main_column .col_box .event_col table .time_a span,
							#main_column .col_box .event_col table .time_b span {
								font-size:10px;
								color:#666666;
								line-height:1.3;
								
								
							
							}
							
							#main_column .col_box .event_col .bt_top {
							text-align:right;
							padding:14px 0px 16px;
								
								
						
							
							}
							
							#main_column .col_box .event_col .box_p .img{
							padding-top:10px;
								
							}
							
							#main_column .col_box .event_col .box_p .event_box{
								padding-top:10px;
								padding-bottom:20px;
								
							}
							
							#main_column .col_box .event_col .box_p .event_box .sub_col{
								width:148px;
								padding-left:0px;
								float:left;
								
								
							}
							
								#main_column .col_box .event_col .box_p .event_box .sub_col .number{
									padding-bottom:10px;
									font-size:10px;
								
								
								}
								
								#main_column .col_box .event_col .box_p .event_box .sub_col .name{
									font-size:14px;
									font-weight:bold;
								
								
								}
								
									#main_column .col_box .event_col .box_p .event_box .sub_col .name a{
										color:#666666;
										text-decoration:none;
								
								
									}
							
							#main_column .col_box .event_col .box_p .event_box .main_col{
								width:353px;
								margin-left:162px;
								padding-left:14px;
								padding-bottom:5px;
								border-left:#FF9900 solid 1px;
								min-height:231px;
								_height:231px;
								
							}
							
								#main_column .col_box .event_col .box_p .event_box .main_col .main_col_header {
									background:url(../../shared/images/line_gy_dot.gif) repeat-x bottom;
									padding-bottom:10px;
									
									
									
								
								}
								
								#main_column .col_box .event_col .box_p .event_box .main_col .main_col_title h5 {
									color:#FF6600;
									font-weight:bold;
									font-size:18px;
									padding:0px 0px 10px 0px;
									line-height:1.5;
								
								}
								
								#main_column .col_box .event_col .box_p .event_box .main_col .main_col_title .m_space {
									padding-top:20px;
								
								}
								
								#main_column .col_box .event_col .box_p .event_box .main_col .main_col_header h5 {
									height:19px;
									text-indent:-9999px;
									
								
								}
								
									
									#main_column .col_box .event_col .box_p .event_box .main_col dl{
										font-size:14px;
										padding:10px 0px 10px 0px;
										background:url(../../shared/images/line_gy_dot.gif) repeat-x bottom;
									
									}
									
									#main_column .col_box .event_col .box_p .event_box .main_col dt{
										float:left;
										padding-bottom:2px;
									
								
									}
									
									
									#main_column .col_box .event_col .box_p .event_box .main_col dd{
										margin-left:3em;
										padding-bottom:2px;
									
								
									}
							
								
								#main_column .col_box .event_col .box_p .event_box .main_col p{
									padding-bottom:10px;
									
									
									
								}
								
								
						
						
						

/*----------------------title_event_images/sub_title_event_images/main_col_header title---------------------------*/

#main_column .col_box .event_col #stage_show {
	background:url(../images/t_stage_show.gif) no-repeat ;
	border-bottom:solid 1px #7C76B2;

}

#main_column .col_box .event_col #naiyou_p {
	background:url(../images/t_naiyou_p.gif) no-repeat;

}

#main_column .col_box .event_col #basyo_p {
	background: url(../images/t_basyo_p.gif) no-repeat;

}

#main_column .col_box .event_col #stage_schedule_p {
	background: url(../images/t_stage_schedule_p.gif) no-repeat;

}

#main_column .col_box .event_col #stamp  { 
	background:url(../images/t_stamp.gif) no-repeat;
	border-bottom:solid 1px #00A28F;

}

#main_column .col_box .event_col #naiyou_g {
	background:url(../images/t_naiyou_g.gif) no-repeat;

}

#main_column .col_box .event_col #kaisai_g {
	background: url(../images/t_kaisai_nitiji_g.gif) no-repeat;

}

#main_column .col_box .event_col #uketuke_g {
	background: url(../images/t_uketuke_g.gif) no-repeat;

}

#main_column .col_box .event_col #kids {
	background: url(../images/t_kids_park.gif) no-repeat ;
	border-bottom:solid 1px #0095D9;

}

#main_column .col_box .event_col #naiyou_b {
	background: url(../images/t_naiyou_b.gif) no-repeat;

}

#main_column .col_box .event_col #kaisai_b {
	background: url(../images/t_kaisai_nitiji_b.gif) no-repeat;
 
}

#main_column .col_box .event_col #basyo_b {
	background: url(../images/t_basyo_b.gif) no-repeat;

}

#main_column .col_box .event_col #syuten {
	background:url(../images/t_syutensya.gif) no-repeat;
	border-bottom:solid 1px #FFB48B;

}

#main_column .col_box .event_col #event_or {
	background: url(../images/t_annai_or.gif) no-repeat;
	
	
}


#main_column .col_box .event_col #naiyou_or {
	background: url(../images/t_naiyou_or.gif) no-repeat;
	
	
}


#main_column .col_box .event_col #nitiji_jikan{
	background: url(../images/t_kaisai_nitiji_or.gif) no-repeat;
	
	
}







/*-----------------------------------------------------------------*/
		
			#mai n_column .col_box .event_col h3{
				padding-bottom:7px;
			
		
		}
		
				#main_column .col_box .event_col h3 span{
					padding-left:55px;
					font-weight:normal;
		
	
		}
		
				#main_column .col_box .event_col .main_col p{
					padding:10px 0px 0px 0px;
					line-height:1.5em;
				
			
				}
				
				#main_column .col_box .event_col span{
					color:#FF0000;
				
			
				}
				
			
	


	
/*-----------------------------------------------------------------*/	

#sub_column ul {
			padding-bottom:12500px;
			
		}



/*-----------------------------------------------------------------*/

#sub_column .bt_e a{
	background: url(../../shared/images/bt_ivent_information_on.gif) no-repeat;

}




#sub_column .bt_f a{
	background: url(../../shared/images/bt_invitation_letter.gif) no-repeat;

}



#sub_column .bt_f a:hover,
#sub_column .bt_f a:active {
	background: url(../../shared/images/bt_invitation_letter_on.gif) no-repeat;

}

	
