@charset "UTF-8";



/* ===================================

	File Name   : print.css

	Description : This CSS Given For Printing

	Editors     : NS Sakurai

	Create Date : 2011/12/21



	Update Description :

		2011/04/19 Font Size Ajustment 

		2010/07/05 File Create

====================================== */



/*========== Style Contents ==========



	1. Global Redefinition

	2. For IE Setting



====================================== */



@media print {



/*===== Å°1. Global Redefinition =====*/

body{

	font-size: 77%;

	background: none;

}



#Entirety {

	width: auto;

}









/*===== Å°2. For IE Setting =====*/

body {

	_zoom: 68%;

}







}



