
/* ----------------------------------------
	banner
---------------------------------------- */
h2,
#title_banner,
#title_save {
	display: block;
	text-indent: -9999px;
}

h2 {
	width: 286px;
	height: 26px;
	background: url(../img/banner/h2.gif) no-repeat;
	margin-bottom:40px;
}

#title_banner {
	width: 100px;
	height: 24px;
	background: url(../img/banner/h3_title_banner.gif) no-repeat;
	margin-bottom:10px;
}


#title_save {
	width: 100px;
	height: 24px;
	background: url(../img/banner/h3_title_save.gif) no-repeat;
	margin-bottom:10px;
}