
/* ----------------------------------------
	press
---------------------------------------- */

#pages_header {
	background: url(../img/common/pages_header_bg_press.png) no-repeat;
}

#pankuzu,
#pankuzu a,
#pages_footer li,
#pages_footer li a{
	color: #FA7800;
}

#pankuzu,
.section {
	border-bottom: 1px dotted #FA7800;
}


h3,h2 {
	display:block;
	text-indent:-9999px;
}


h2{
    width: 253px;
	height: 40px;
	background: url(../img/press/h2.gif) no-repeat;
	margin-bottom:40px;
}

#press_01 {
	width: 97px;
	height: 24px;
	background: url(../img/press/h3_press_01.gif) no-repeat;
	margin-bottom:10px;
}

#press_02 {
	width: 216px;
	height: 23px;
	background: url(../img/press/h3_press_02.gif) no-repeat;
	margin-bottom:10px;
}

.link_blue_u a {
	color: #FA7800;
}