@charset "UTF-8";

/* Cosplay Collection Night@TGS */

.ccnmainArea{
	margin:0 0 25px 0;
	width:720px;
	min-height:170px;
	height: auto !important;
	height: 170px;
	background:url(img/ccn_mainimage.gif) 0 0 no-repeat;
	}

.ccnmainArea p{
	padding:20px 25px 0 240px;
	font-size:12px;
	color:#0b7bd6;
	line-height:1.75em;
	}
	
.ccnplyaerArea{
	margin:0 0 15px 0;
	display:block;
	text-align:center;
	}
		
.sessionArea .ccntxtSub{
	margin:0 0 15px 0;
	padding:0 15px;
}






/* ===========================================================

	Cyber Game Asia
	
=========================================================== */

.ccnmainArea2{
	margin:0 0 25px 0;
	width:720px;
	height:264px;
	background:url(img/ccn_mainimage.jpg) 0 0 no-repeat;
	}

.ccnmainArea2 p{
	padding:20px 15px 0 190px;
	font-size:12px;
	color:#0b7bd6;
	line-height:1.75em;
	}
	
.ccnplyaerArea{
	margin:0 0 15px 0;
	display:block;
	text-align:center;
	}