@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  overflow-y: scroll; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

input, textarea {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  overflow: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt"; }

html {
  background: #ffffff;
  color: #000000;
  font-size: 100%;
  -webkit-text-size-adjust: 100%; }
  html * {
    letter-spacing: -0.0px; }
  html[lang="ja"] {
    font-family: "kozuka-gothic-pr6n","メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif; }
    html[lang="ja"] * {
      letter-spacing: -0.0px; }
  html[lang="en"] {
    font-family: "europa" , 'Noto Sans', sans-serif; }
    html[lang="en"] * {
      letter-spacing: -0.0px; }
    html[lang="en"] main h2:after {
      content: '';
      position: absolute;
      bottom: -12px;
      left: 0;
      width: 54px;
      border-bottom: #5f84c0 solid 4px; }
    html[lang="en"] .pcmenu {
      overflow: hidden; }
      html[lang="en"] .pcmenu > li {
        width: 108px; }
    html[lang="en"] #submenu #submenu-inner ul li a {
      padding-left: 18px;
      display: block; }
  html[lang="zh-cn"] {
    font-family: "source-han-sans-simplified-c" , 'Noto Sans', sans-serif; }
  html[lang="zh-tw"] {
    font-family: "source-han-sans-traditional" , 'Noto Sans', sans-serif; }
  html[lang="ko"] {
    font-family: "source-han-sans-korean" , 'Noto Sans', sans-serif; }

body {
  background: #ffffff;
  color: #000000;
  letter-spacing: 0.1em;
  letter-spacing: 1.5; }

img {
  vertical-align: bottom; }
  @media only screen and (max-width: 640px) {
    img {
      width: 100%; } }

a:link {
  color: #E74388;
  text-decoration: none; }

a:visited {
  color: #333333; }

a:hover {
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
  text-decoration: underline;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s; }

a:active {
  color: #7f7f7f; }

a:focus {
  outline: none; }

.wrap {
  width: 980px;
  margin: 0 auto; }
  @media only screen and (max-width: 640px) {
    .wrap {
      width: 100%; } }

.grd-box {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.88, #e3fefe), color-stop(0, #e3ebff));
  background: -webkit-linear-gradient(left, #e3ebff 0%, #e3fefe 88%);
  background: -moz-linear-gradient(left, #e3ebff 0%, #e3fefe 88%);
  background: -o-linear-gradient(left, #e3ebff 0%, #e3fefe 88%);
  background: -ms-linear-gradient(left, #e3ebff 0%, #e3fefe 88%);
  background: -webkit-gradient(linear, left top, right top, from(#e3ebff), color-stop(88%, #e3fefe));
  background: linear-gradient(to right, #e3ebff 0%, #e3fefe 88%);
  padding: 20px 28px 28px; }
  @media only screen and (max-width: 640px) {
    .grd-box {
      padding: 20px 14px 14px; } }

#button a.link-btn {
  width: 206px;
  display: block;
  float: left;
  margin-right: 14px;
  margin-bottom: 10px;
  min-height: 26px; }
  @media only screen and (max-width: 640px) {
    #button a.link-btn {
      width: 100%;
      min-height: auto; } }

#button.lang_en a.link-btn {
  width: 203px;
  display: block;
  float: left;
  margin-right: 14px;
  margin-bottom: 10px;
  min-height: 47px; }
  @media only screen and (max-width: 640px) {
    #button.lang_en a.link-btn {
      width: 100%;
      min-height: auto; } }

#button a.link-btn.n {
  margin-right: 0px; }

#button a.link-btn.small {
  font-size: 10px;
  padding-top: 6px; }
  @media only screen and (max-width: 640px) {
    #button a.link-btn.small {
      font-size: 12px; } }

#button a:nth-of-type(3n) {
  margin-right: 0px; }

.lang_en a.link-btn {
  font-size: 12px;
  color: #333;
  padding: 4px 4px 2px 22px;
  background: url(../images/g_arrow.svg) no-repeat 5px center #e0f501;
  background-size: auto 35%;
  border-bottom: 2px solid #a1b001; }

a.link-btn {
  font-size: 12px;
  color: #333;
  padding: 4px 4px 2px 22px;
  background: url(../images/g_arrow.svg) no-repeat 5px center #e0f501;
  background-size: auto 70%;
  border-bottom: 2px solid #a1b001; }

a.link-btn:hover {
  color: #333; }

header {
  border-bottom: 5px solid #5f84c0;
  width: 100%;
  background: #fff;
  color: #ffffff;
  overflow: hidden; }
  @media only screen and (max-width: 640px) {
    header {
      width: 100%; } }
  header h1 {
    padding-top: 4px; }
    @media only screen and (max-width: 640px) {
      header h1 {
        padding-top: 0px;
        width: 100%;
        text-align: center; } }
    header h1 img {
      width: 340px;
      vertical-align: middle; }
      @media only screen and (max-width: 640px) {
        header h1 img {
          width: 70%; } }
  header .wrap {
    padding: 12px 0 4px 0;
    overflow: hidden; }
    header .wrap div {
      float: left; }
      header .wrap div > p > a {
        font-size: 12px;
        color: #333;
        padding: 4px 4px 2px 22px;
        background: url(../images/g_arrow.svg) no-repeat 5px center #e0f501;
        background-size: auto 70%;
        border-bottom: 2px solid #a1b001; }
    @media only screen and (max-width: 640px) {
      header .wrap div.sele {
        margin: 0 auto;
        width: 100%;
        text-align: center; } }
    header .wrap div.sele > p {
      font-size: 12px;
      padding: 2px 8px;
      margin-left: 10px;
      margin-top: 4px;
      background-color: #000;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px; }
      @media only screen and (max-width: 640px) {
        header .wrap div.sele > p {
          margin: 0 auto;
          display: inline-block;
          min-width: 50%; } }
    header .wrap div.days {
      font-size: 9.5px;
      margin-left: 10px;
      padding-top: 5px;
      width: 280px;
      color: #000; }
      @media only screen and (max-width: 640px) {
        header .wrap div.days {
          text-align: center;
          width: 100%;
          margin-left: 0px; } }
    header .wrap div.auther {
      margin-left: 10px; }
      @media only screen and (max-width: 640px) {
        header .wrap div.auther {
          display: none; } }
    header .wrap ul#sns {
      float: right;
      overflow: hidden; }
      @media only screen and (max-width: 640px) {
        header .wrap ul#sns {
          display: none; } }
      header .wrap ul#sns > li {
        float: left;
        margin-left: 3px; }
        header .wrap ul#sns > li img {
          width: 26px; }

section, artcle {
  width: 100%;
  margin: 0px auto 0;
  padding: 0; }
  @media only screen and (max-width: 640px) {
    section, artcle {
      width: 100%;
      margin: 25px auto 0;
      padding: 0; } }

.pc_only {
  display: block; }
  @media only screen and (max-width: 640px) {
    .pc_only {
      display: none; } }

.smp_only {
  display: none; }
  @media only screen and (max-width: 640px) {
    .smp_only {
      display: block; } }

menu {
  width: 100%;
  top: 0;
  background-color: #f6f6f6;
  z-index: 100000; }
  menu .pcmenu {
    overflow: hidden; }
    menu .pcmenu > li {
      display: table;
      vertical-align: middle;
      width: 90px;
      height: 63px;
      margin-left: 5px;
      float: left; }
      menu .pcmenu > li.long {
        width: 110px; }
      menu .pcmenu > li.wlong {
        width: 130px; }
      menu .pcmenu > li.tlong {
        width: 150px; }
      menu .pcmenu > li > a {
        font-size: 12px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        color: #355d7f;
        text-decoration: none;
        position: relative;
        text-decoration: none; }
        menu .pcmenu > li > a::after {
          content: '';
          position: absolute;
          bottom: 4px;
          left: 0;
          width: 100%;
          height: 1px;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          background-color: #355d7f;
          -webkit-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease; }
        menu .pcmenu > li > a:hover::after {
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1); }
      menu .pcmenu > li > a:hover {
        -webkit-transition: all .8s;
        -o-transition: all .8s;
        transition: all .8s;
        position: relative; }

#submenu {
  width: 100%;
  background-color: #E2E8EB;
  padding: 10px 0;
  display: none;
  position: absolute;
  margin-top: 0px;
  z-index: 10000; }
  #submenu #submenu-inner {
    width: 980px;
    margin: 0 auto; }
    #submenu #submenu-inner ul {
      display: none;
      overflow: hidden; }
      #submenu #submenu-inner ul li {
        width: 200px;
        float: left;
        margin-right: 10px; }
        #submenu #submenu-inner ul li.short {
          width: 160px; }
        #submenu #submenu-inner ul li.long {
          width: 240px; }
        #submenu #submenu-inner ul li.wlong {
          width: 280px; }
        #submenu #submenu-inner ul li a {
          color: #4f4552;
          background: url("../images/arrow.svg") no-repeat scroll 0 center/auto 50%;
          padding-left: 15px;
          text-decoration: none;
          font-size: 12px; }
          #submenu #submenu-inner ul li a.b_link {
            background: url("../images/blank.svg") no-repeat scroll 0 center/auto 50%; }

main {
  font-size: 13px; }
  main h2 {
    font-size: 26px;
    color: #355d7f;
    position: relative;
    margin-bottom: 34px; }
    main h2 span.small {
      font-size: 18px; }
      @media only screen and (max-width: 640px) {
        main h2 span.small {
          font-size: 15px; } }
    @media only screen and (max-width: 640px) {
      main h2 {
        font-size: 20px; } }
    main h2:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 54px;
      border-bottom: #5f84c0 solid 4px; }
  main .layout {
    margin: 0 auto;
    width: 980px;
    overflow: hidden;
    color: #095478;
    padding: 30px 0 60px; }
    @media only screen and (max-width: 640px) {
      main .layout {
        padding: 13px 0 60px;
        width: 95%; } }
    main .layout .bnrareadd {
      width: 300px;
      float: right; }
      @media only screen and (max-width: 640px) {
        main .layout .bnrareadd {
          width: 100%;
          float: left;
          text-align: center; } }
      main .layout .bnrareadd li:nth-of-type(2), main .layout .bnrareadd li:nth-of-type(3) {
        margin-top: 10px; }
    main .layout .mainareadt {
      width: 652px;
      float: left; }
      @media only screen and (max-width: 640px) {
        main .layout .mainareadt {
          width: 100%;
          float: left; } }
      main .layout .mainareadt .grd-box {
        width: 100%;
        overflow: hidden; }
        main .layout .mainareadt .grd-box .gaiyouimg {
          margin: 13px auto 23px;
          overflow: hidden; }
          main .layout .mainareadt .grd-box .gaiyouimg > dt {
            float: left;
            width: 162px; }
            @media only screen and (max-width: 640px) {
              main .layout .mainareadt .grd-box .gaiyouimg > dt {
                width: 30%; } }
            main .layout .mainareadt .grd-box .gaiyouimg > dt img {
              width: 140px; }
              @media only screen and (max-width: 640px) {
                main .layout .mainareadt .grd-box .gaiyouimg > dt img {
                  width: 100%; } }
          main .layout .mainareadt .grd-box .gaiyouimg > dd {
            margin: -23px auto;
            float: left; }
            @media only screen and (max-width: 640px) {
              main .layout .mainareadt .grd-box .gaiyouimg > dd {
                width: 60%;
                margin-left: 10%; } }
        main .layout .mainareadt .grd-box .kaisaidl {
          margin: 23px auto; }
          main .layout .mainareadt .grd-box .kaisaidl dt {
            width: 100%;
            border-bottom: 1px solid #ffffff;
            padding: 0 0 9px 0; }
            main .layout .mainareadt .grd-box .kaisaidl dt h3 {
              font-size: 12px; }
              @media only screen and (max-width: 640px) {
                main .layout .mainareadt .grd-box .kaisaidl dt h3 {
                  font-size: 11px; } }
          main .layout .mainareadt .grd-box .kaisaidl dd {
            width: 100%;
            margin-top: 9px; }
            main .layout .mainareadt .grd-box .kaisaidl dd h4 {
              font-size: 19px; }
              @media only screen and (max-width: 640px) {
                main .layout .mainareadt .grd-box .kaisaidl dd h4 {
                  font-size: 14px; } }
            main .layout .mainareadt .grd-box .kaisaidl dd h5 {
              font-size: 15px; }
              @media only screen and (max-width: 640px) {
                main .layout .mainareadt .grd-box .kaisaidl dd h5 {
                  font-size: 12px; } }
            main .layout .mainareadt .grd-box .kaisaidl dd > p {
              font-size: 15px;
              margin-top: 6px; }
              @media only screen and (max-width: 640px) {
                main .layout .mainareadt .grd-box .kaisaidl dd > p {
                  font-size: 12px;
                  margin-top: 8px; } }
            main .layout .mainareadt .grd-box .kaisaidl dd > p.note {
              font-size: 12px; }
              @media only screen and (max-width: 640px) {
                main .layout .mainareadt .grd-box .kaisaidl dd > p.note {
                  font-size: 10px; } }
            main .layout .mainareadt .grd-box .kaisaidl dd .businessbox {
              background: #5f84c0;
              color: #ffffff;
              font-size: 13px;
              padding: 2px 5px;
              margin-right: 10px; }
            main .layout .mainareadt .grd-box .kaisaidl dd .ippanbox {
              background: #5fbbc1;
              color: #ffffff;
              font-size: 13px;
              padding: 2px 5px;
              margin-right: 10px; }

#m_s_map {
  width: 100%;
  background: #314c68;
  border-top: 27px solid #a3bdd9;
  color: #fff;
  min-width: 100%; }
  @media only screen and (max-width: 640px) {
    #m_s_map {
      width: 100%; } }
  #m_s_map a {
    color: #fff; }
  #m_s_map .m_s_mapwrap {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0 60px; }
    @media only screen and (max-width: 640px) {
      #m_s_map .m_s_mapwrap {
        width: 100%;
        padding: 20px 0 40px; } }
    #m_s_map .m_s_mapwrap > li {
      width: 33.33333%;
      float: left; }
      @media only screen and (max-width: 640px) {
        #m_s_map .m_s_mapwrap > li {
          width: 100%;
          padding: 0 4%; } }
      #m_s_map .m_s_mapwrap > li li {
        margin-top: 7px; }
      #m_s_map .m_s_mapwrap > li .m_s_item {
        margin-top: 40px; }
        @media only screen and (max-width: 640px) {
          #m_s_map .m_s_mapwrap > li .m_s_item {
            margin-top: 20px; } }
      #m_s_map .m_s_mapwrap > li .l_item {
        font-size: 18px; }
        @media only screen and (max-width: 640px) {
          #m_s_map .m_s_mapwrap > li .l_item {
            font-size: 15px; } }
      #m_s_map .m_s_mapwrap > li .item {
        font-size: 13px; }
        @media only screen and (max-width: 640px) {
          #m_s_map .m_s_mapwrap > li .item {
            font-size: 11px; } }
      #m_s_map .m_s_mapwrap > li .n_link {
        padding: 2px 4px 2px 17px;
        background: url(../images/arrow.svg) no-repeat 0px center;
        background-size: auto 50%; }
      #m_s_map .m_s_mapwrap > li .b_link {
        padding: 2px 4px 2px 17px;
        background: url(../images/blank.svg) no-repeat 0px center;
        background-size: auto 50%; }

footer {
  width: 100%;
  background: #424242;
  overflow: hidden;
  padding: 15px;
  color: #fff;
  min-width: 100%; }
  @media only screen and (max-width: 640px) {
    footer {
      width: 100%;
      padding: 15px; } }
  footer ul.op {
    overflow: hidden;
    width: 267px;
    margin: 0px auto; }
    @media only screen and (max-width: 640px) {
      footer ul.op {
        width: 100%; } }
    footer ul.op > li {
      float: left;
      text-align: center;
      margin-left: 15px; }
      @media only screen and (max-width: 640px) {
        footer ul.op > li {
          width: 100%;
          margin-left: 0px; } }
    footer ul.op .nikkei img {
      width: 136px; }
    footer ul.op .cesa img {
      width: 81px; }
    footer ul.op .cofasta img {
      width: 162px; }
  footer p {
    float: left;
    text-align: center;
    width: 100%;
    font-size: 12px;
    margin-top: 10px; }

.white-box {
  width: auto;
  padding: 21px;
  background-color: #fff;
  font-size: 14px;
  margin-top: 15px; }
  .white-box a {
    background-image: none;
    color: #00557f !important;
    border-bottom: 0; }

dl.white-box > dt {
  border-bottom: #e2e8eb solid 1px;
  font-weight: bold; }

dl.white-box > dd {
  margin-bottom: 00px; }

.redtext {
  color: #E74388; }

.gray-box .title {
  margin-top: 20px;
  font-size: 24px;
  color: #00557f;
  line-height: 1.4;
  border-bottom: 3px solid #5fbac0;
  display: inline-block; }

.gray-box .text {
  margin-top: 15px; }

.atten li {
  margin: 5px 0 0 0; }

.d_list li {
  margin: 5px 0 0 0; }

.d_list a {
  color: #e74388; }

.underline {
  text-decoration: underline; }

.attention_box {
  border: 3px solid #E74388; }

.child {
  display: none; }

.drawer-nav {
  padding: 20px; }
  .drawer-nav > ul > li {
    margin-top: 15px; }
  .drawer-nav .toggle {
    background: transparent url("../images/gray_arrow.svg") no-repeat scroll 0 center/auto 50%;
    padding-left: 20px;
    font-size: 16px;
    color: #2F557F; }
  .drawer-nav .inner li {
    font-size: 13px;
    padding-left: 20px;
    margin-top: 15px; }
  .drawer-nav .inner a {
    background: transparent url("../images/gray_arrow.svg") no-repeat scroll 0 center/auto 50%;
    padding-left: 20px;
    color: #2F557F; }
    .drawer-nav .inner a.b_link {
      background: transparent url("../images/blank.svg") no-repeat scroll 0 center/auto 50%; }

.drawer-nav {
  display: none; }
  @media only screen and (max-width: 640px) {
    .drawer-nav {
      display: block; } }

.sow_pre_wrap {
  margin: 30px auto; }

.sow_pre {
  background-image: url(../../map/list/images/sback.png);
  border: 10px solid #F5F5F5;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .sow_pre > dt {
    width: 100px;
    float: left; }
    .sow_pre > dt img {
      width: 100%; }
  .sow_pre > dd {
    margin-left: 120px; }
    .sow_pre > dd dl {
      overflow: hidden;
      width: 100%; }
      .sow_pre > dd dl > dt {
        float: left;
        display: table;
        vertical-align: middle;
        height: 56px; }
        .sow_pre > dd dl > dt > p {
          display: table-cell;
          vertical-align: middle; }
      .sow_pre > dd dl > dd {
        float: right; }
        .sow_pre > dd dl > dd ul {
          overflow: hidden; }
          .sow_pre > dd dl > dd ul li {
            float: left; }
            .sow_pre > dd dl > dd ul li img {
              width: 100%; }

#sns-top {
  display: none; }

#index #sns-top {
  display: block;
  float: right;
  overflow: hidden;
  padding-top: 10px; }
  @media only screen and (max-width: 640px) {
    #index #sns-top {
      display: none; } }
  #index #sns-top > li {
    float: left;
    margin-left: 3px; }
    #index #sns-top > li img {
      width: 35px; }

.pagetop {
  width: 54px;
  height: 54px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10001; }
  @media only screen and (max-width: 640px) {
    .pagetop {
      width: 45px;
      height: 45px; } }
  .pagetop a {
    display: block;
    width: 100%;
    height: 100%;
    background: #5f84c0; }
    .pagetop a img {
      width: 100%; }

.menuhome {
  width: 36px !important; }
  .menuhome img {
    width: 20px; }

#index .menuhome {
  display: none; }

#div-gpt-ad-1464164443956-0,
#div-gpt-ad-1464164443956-0_ad_container,
#div-gpt-ad-1464164530480-0,
#div-gpt-ad-1464164530480-0_ad_container {
  margin: 0 auto;
  text-align: center;
  display: block; }

#aw0 {
  display: block;
  margin: 0 auto;
  text-align: center; }

.img_ad img {
  margin: 0 auto;
  display: block; }

.nkbnr {
  margin-top: 20px;
  width: 100%; }
  .nkbnr img {
    width: 100%; }
