@charset "utf-8";

/* ----------------------------------------------------
作成日: 2015.01.22
最終更新日: 2015.07.22
common.css： 共通設定(PC版)
---------------------------------------------------- */

html {
	height:100%;
	position: relative;
}

body {
	height:100%; 
	font-size:14px;
	font-family:"メイリオ", "ＭＳ Ｐゴシック", sans-serif;
	-webkit-text-size-adjust: 100%;
	line-height:1.6;
	color:#ffffff;
	background:#0093ff;
}

header{
	background:#003399;
	width:100%;
	min-width:960px;
	height:54px;
	border-bottom:4px solid #0093ff;
}

#header_inner{
	width:960px;
	margin:0 auto;

}
#header_inner p{
	padding:20px 0 0 16px;
	font-size: 18px;
	line-height: 1;
	display:block;
	float:left;
}

#header_inner ul{
	width:206px;
	padding-top:5px;
	float:right;
}
#header_inner li a{
	float:left;
	display:block;
	width:90px;
	height:46px;
}

#header_inner li:first-child a{
	margin-right:16px;
}

article{
	width:100%;
	background:url(../images/common/bg.jpg) top center no-repeat;
	background-size:100%;
	background-attachment: fixed;
}

.bg{
	display:none;
}

.wrapper{
	background:rgba(255,255,255,0.5);
	width:1024px;
	width:960px;
	margin:0 auto;
	padding-bottom:50px;
}

h1{
	line-height: 0;
}

h1,h2,h3{
	text-indent:-9999px;
	overflow: hidden;
}

/*Top video*/

.top_vid{
	position: relative;
	background:url(../images/jp/img_video.jpg) no-repeat;
	background-size:960px;
	width:960px;
	height:486px;
	margin-bottom:12px;
}

.en .top_vid{
	background:url(../images/en/img_video.jpg) no-repeat;
	background-size:960px;
}

.btn_re{
	position: absolute;
	top:416px;
	left:733px;
	left:19px;
}

.btn_re img{
	width:196px;
	height:57px;
}

.en .btn_re{
	left:717px;
	left:19px;
}

.en .btn_re img{
	width:226px;
	height:57px;
}

.btn_pl{
	display:none;
}

.btn_vol{
	position: absolute;
	top:8px;
	left:19px;
}

.btn_vol img{
	width:145px;
	height:28px;
}

.en .btn_vol img{
	width:206px;
	width:193px;
}

.btn_vid01_wrap{
	position: absolute;
	left:767px;
	top:376px;
}

.btn_vid01 img{
	width:189px;
	height:104px;
}

.btn_vid02 img{
	display:none;
}

/*　catch copy*/

.catch span{
	text-indent:-9999px;
	background:url(../images/jp/txt_catch.png) no-repeat;
	background-size:855px;
	display:block;
	width:855px;
	height:176px;
	margin:0 auto 24px;
}

.en .catch span{
	background:url(../images/en/txt_catch.png) no-repeat;
	background-size:928px;
	width:928px;
	height:99px;
}

/*SNS buttons*/

.social{
	width:296px;
	margin:0 auto 6px;
}

.social li{
	display:block;
	float:left;
	height:30px;
}

.social .facebook,.social .twitter,.social .line{
	width:120px;
}

.social .twitter{
	width:88px;
}
.social .line{
	width:88px;
}
.social .twitter, .social .line{
	padding-top:2px;
}

/*インフォメーション MT*/

.information{
	background:#ffffff;
	margin-bottom:20px;
}
.information .title{
	background:url(../images/common/bg_info.gif) repeat-x;
	padding-top:4px;
	height:58px;
}

.en .information .title{
	padding-top:5px;
}

.information .title h2{
	background:url(../images/jp/title_info.png) no-repeat;
	width:386px;
	height:54px;
	margin:0 auto;
}

.en .information .title h2{
	background:url(../images/en/title_info.png) no-repeat;
	width:300px;
	height:52px;
	margin:0 auto;
}

.information .inner{
	padding:15px;
}

.information .menu{
	float:left;
	border:1px solid #000000;
	width:343px;
}

.information .menu iframe{
	width:343px;
	height:209px;
	height:246px;
	vertical-align: bottom;
}


.information .detail{
	border:1px solid #999999;
	float: left;
	width:568px;
	margin-left:15px;
}
.information .detail iframe{
	width:568px;
	height:246px;
	background:#f1f1f1;
	color:#333333;
	vertical-align: bottom;
	overflow:auto;
}

.information .detail p{
	display:none;
}


/*ソニックランナーズとは*/

#about{
	padding-bottom:33px;
}

#about h2{
	background:url(../images/jp/title_about_01.png) no-repeat;
	background-size:contain;
	margin:0 auto 5px;
	width:646px;
	width:606px;
	height:175px;
	height:164px;
}

.en #about h2{
	background:url(../images/en/title_about.png) no-repeat;
	background-size:contain;
	width:632px;
	height:163px;
}


#about p{
	text-indent:-9999px;
	background:url(../images/jp/txt_about.png) no-repeat;
	background-size:contain;
	width:877px;
	height:76px;
	margin:0 auto 6px;
}

.en #about p{
	background:url(../images/en/txt_about.png) no-repeat;
	background-size:contain;
	width:609px;
	height:131px;
}

#about ul{
	margin:0 auto;
	padding:34px 0 34px 15px;
	background:#ffffff;
	/*padding-left:15px;*/
}

#about img{
	display:block;
	width:300px;
	height:169px;
	margin-right:15px;
	float:left;
}

#about li:nth-child(1) img,
#about li:nth-child(2) img,
#about li:nth-child(3) img{
	margin-bottom:33px;
}

/*プレイヤーキャラクター紹介*/
#player{
	/*margin-bottom:40px;*/
}

#player h2{
	background:url(../images/jp/title_player.png) no-repeat;
	background-size: contain;
	width:692px;
	height:165px;
	margin:0 auto 5px;
}

.en #player h2{
	background:url(../images/en/title_player.png) no-repeat;
	background-size: contain;
	width:501px;
	height:165px;
	margin-bottom:0
}

#player p.intro{
	text-indent:-9999px;
	background:url(../images/jp/txt_player.png) no-repeat;
	background-size:contain;
	width:842px;
	height:152px;
	margin:0 auto 36px;
}

.en #player p.intro{
	background:url(../images/en/txt_player.png) no-repeat;
	background-size:contain;
	width:812px;
	height:129px;
}
#player .img_player{
	float:left;
	width:344px;
}

.player_01 .img_player img,
.player_02 .img_player img,
.player_03 .img_player img{
	width:344px;
	height:352px;
}

.player_02 .img_player img{
	height:337px;
}

.player_03 .img_player img{
	height:353px;
}

#player .txt p{
	background:#ffffff;
	border-radius: 10px;
	padding:11px 22px;
	margin-bottom:16px;
	width:554px;
	color:#333333;
	font-size:17px;
	line-height:1.4;
}

#player .txt p span{
	font-weight: bold;
	color:#cc0000;
}

#player .player_01 .txt p{
	margin-top:17px;
}

#player .player_03 .txt p{
	margin-top:16px;
}

#player .contents{
	float:right;
	margin-right:12px;
}

#player li {
	display:inline-block;
}

#player li:last-child{
	margin-left:34px;
}

#player li a img {
	width:281px;
	height:159px;
}

#player div[class^="player_"]{
	margin-bottom:40px;
}

/*おとも紹介*/

#companion{

}

#companion span{
	font-weight: bold;
}

#companion h2{
	background:url(../images/jp/title_companion.png) no-repeat;
	background-size:contain;
	width:482px;
	height:164px;
	margin:0 auto 5px;
}

.en #companion h2{
	background:url(../images/en/title_companion.png) no-repeat;
	background-size: contain;
	width:481px;
	height:165px;
}

#companion p.intro{	
	text-indent:-9999px;
	background:url(../images/jp/txt_companion.png) no-repeat;
	background-size:contain;
	width:885px;
	height:152px;
	margin:0 auto 19px;
}

.en #companion p.intro{	
	text-indent:-9999px;
	background:url(../images/en/txt_companion.png) no-repeat;
	background-size:contain;
	width:772px;
	height:165px
}

#companion h3{
	background:url(../images/jp/title_companion_super_rare.png) no-repeat;
	background-size:contain;
	width:311px;
	height:57px;
	margin:0 auto 10px;
}

#companion .companion_01,#companion .companion_02,#companion .companion_03{
	border-radius:20px;
	margin:50px 15px 100px;
	background:rgba(217,193,98,0.5);
}

#companion .companion_01 h3,
#companion .companion_02 h3,
#companion .companion_03 h3{
		margin-top:-29px;
		margin-bottom:29px;
}

#companion .companion_02{
	background:rgba(161,216,229,0.5);
	padding-bottom:10px;
}

#companion .companion_03{
	background:rgba(118,222,175,0.5);
	padding-bottom:10px;
	margin-bottom:70px;
}

.en #companion h3{
	background:url(../images/en/title_companion_super_rare.png) no-repeat;
	background-size:contain;
}

#companion .companion_02 h3{
	background:url(../images/jp/title_companion_rare.png) no-repeat;
	background-size:contain;
}

.en #companion .companion_02 h3{
	background:url(../images/en/title_companion_rare.png) no-repeat;
	background-size:contain;
}

#companion .companion_03 h3{
	background:url(../images/jp/title_companion_normal.png) no-repeat;
	background-size:contain;
	margin-bottom:0px;
}


.en #companion .companion_03 h3{
	background:url(../images/en/title_companion_normal.png) no-repeat;
	background-size:contain;
	margin-bottom:0px;
}

#companion .inner,
#companion .inner .img_companion,
#companion .inner .contents{
	float:left;
}

#companion .inner{
	width:465px;
}

#companion .inner .img_companion{
	width:245px;
}
.companion_01 .inner.left img{
	margin-left:10px;
	width:225px;
	height:304px;
}

.companion_01 .inner.right img{
	width:197px;
	height:238px;
	margin-top:38px;
	margin-left:19px;
}
.companion_01{
	margin-bottom:48px;
}

.companion_02 .inner.left img{
	width:196px;
	height:261px;
	margin-top:11px;
	margin-left:15px;
}

.companion_02 .inner.right img{
	width:214px;
	height:215px;
	margin-top:32px;
	margin-left:21px;
}

.companion_02{
	margin-bottom:64px;
}

.companion_03 .inner.left img{
	width:155px;
	height:277px;
	margin-left:51px;
}

.companion_03 .inner.right img{
	margin-top:22px;
	margin-left:51px;
	width:159px;
	height:237px;
}

.companion_03{
	margin-bottom:85px;
}

#companion .inner .contents{
	padding-top:97px;

}
#companion dt{
	background:url(../images/jp/txt_companion_chip.png) no-repeat;
	background-size:contain;
	width:90px;
	height:31px;
	text-indent:-9999px;
	margin-bottom:9px;
}

.en #companion dt{
	background:url(../images/en/txt_companion_chip.png) no-repeat;
	background-size:contain;
	width:82px;
	height:37px;
	margin-bottom:3px;

}

#companion .companion_01 .right dt{
	background:url(../images/jp/txt_companion_caliburn.png) no-repeat;
	background-size:contain;
	width:142px;
	height:31px;
	margin-bottom:9px;
}

.en #companion .companion_01 .right dt{
	background:url(../images/en/txt_companion_caliburn.png) no-repeat;
	background-size:contain;
	width:145px;
	height:34px;
	margin-bottom:6px;
}

#companion .companion_02 .left dt{
	background:url(../images/jp/txt_companion_yacker.png) no-repeat;
	background-size:contain;
	width:115px;
	height:30px;
	margin-bottom:10px;
}

.en #companion .companion_02 .left dt{
	background:url(../images/en/txt_companion_yacker.png) no-repeat;
	background-size:contain;
	width:128px;
	height:30px;
	margin-bottom:10px;
}

#companion .companion_02 .right dt{
	background:url(../images/jp/txt_companion_pig.png) no-repeat;
	background-size:contain;
	width:112px;
	height:32px;
	margin-bottom:8px;
}

.en #companion .companion_02 .right dt{
	background:url(../images/en/txt_companion_pig.png) no-repeat;
	background-size:contain;
	width:176px;
	height:34px;
	margin-bottom:6px;
}

#companion .companion_03 .left dt{
	background:url(../images/jp/txt_companion_chao.png) no-repeat;
	background-size:contain;
	width:207px;
	height:32px;
	margin-bottom:8px;
}

.en #companion .companion_03 .left dt{
	background:url(../images/en/txt_companion_chao.png) no-repeat;
	background-size:contain;
	width:216px;
	height:31px;
	margin-bottom:9px;
}

#companion .companion_03 .right dt{
	background:url(../images/jp/txt_companion_balloon.png) no-repeat;
	background-size:contain;
	width:200px;
	height:32px;
	margin-bottom:8px;
}

.en #companion .companion_03 .right dt{
	background:url(../images/en/txt_companion_balloon.png) no-repeat;
	background-size:contain;
	width:174px;
	height:30px;
	margin-bottom:10px;
}

#companion .inner dd{
	background:#ffffff;
	border-radius: 10px;
	padding:16px 12px;
	color:#333333;
	width:180px;
	min-height:95px;
	line-height:1.2;
	font-size:16px;
}


/*各種アイテム紹介*/

#item h2{
	background:url(../images/jp/title_item.png) no-repeat;
	background-size:contain;
	width:483px;
	height:165px;
	margin:0 auto 4px;
}

.en #item h2{
	background:url(../images/en/title_item.png) no-repeat;
	background-size:contain;
	width:483px;
	height:165px;
}

#item .intro{
	text-indent:-9999px;
	background:url(../images/jp/txt_item.png) no-repeat;
	background-size:contain;
	width:832px;
	height:68px;
	margin:0 auto 15px;
}

.en #item .intro{
	background:url(../images/en/txt_item.png) no-repeat;
	background-size:contain;
	width:564px;
	height:67px;
}

#item .item_01,#item .item_02{
	border-radius:20px;
	margin:50px 15px 40px;
	background:rgba(222,118,118,0.5);
}

#item .item_02{
	background:rgba(65,149,240,0.5);
	margin-bottom:25px;
}

#item h3{
	background:url(../images/jp/title_item_equip.png) no-repeat;
	background-size:contain;
	width:313px;
	height:60px;
	margin:-30px auto 24px;
}

.en #item h3{
	background:url(../images/en/title_item_equip.png) no-repeat;
	background-size:contain;
	width:313px;
	height:60px;
}

#item .item_02 h3{
	background:url(../images/jp/title_item_boost.png) no-repeat;
	background-size:contain;

}

.en #item .item_02 h3{
	background:url(../images/en/title_item_boost.png) no-repeat;
	background-size:contain;

}

#item .inner,
#item .img_item,
#item .inner dl{
	float:left;
}

#item .inner{
	width:465px;
	margin-bottom: 43px;
}

#item .row02.inner,#item .item_02 .inner{
	margin-bottom:13px;
}

#item .img_item{
	width:173px;
}


#item .item_01 .img_item img{
	margin-left:20px;
	width:131px;
	height:151px;
}

#item .item_02 .img_item img{
	margin-left:24px;
	width:149px;
	height:174px;
}

#item .item_02 .right .img_item img{
	margin-left:7px;
	margin-top:47px;
	width:163px;
	height:116px;
}

#item .inner dl{
	margin-top:30px;
}

#item .inner dt{
	text-indent:-9999px;
	background:url(../images/jp/txt_item_cyan.png) no-repeat;
	background-size:contain;
	width:226px;
	height:33px;
	margin-bottom:9px;
}

#item .right.row01 dt{
	background:url(../images/jp/txt_item_yellow.png) no-repeat;
	background-size:contain;
	width:229px;
	height:33px;
}

#item .left.row02 dt{
	background:url(../images/jp/txt_item_indigo.png) no-repeat;
	background-size:contain;
	width:289px;
	height:33px;
}

#item .right.row02 dt{
	background:url(../images/jp/txt_item_invincible.png) no-repeat;
	background-size:contain;
	width:59px;
	height:33px;
}

#item .item_02 .left dt{
	background:url(../images/jp/txt_item_score.png) no-repeat;
	background-size:contain;
	width:173px;
	height:32px;
	margin-bottom:10px;
}

#item .item_02 .right dt{
	background:url(../images/jp/txt_item_spring.png) no-repeat;
	background-size:contain;
	width:258px;
	height:33px;
	margin-bottom:9px;
}


.en #item .inner dt{
	background:url(../images/en/txt_item_cyan.png) no-repeat;
	background-size:contain;
	width:198px;
	height:36px;
	margin-bottom:4px;
}

.en #item .right.row01 dt{
	background:url(../images/en/txt_item_yellow.png) no-repeat;
	background-size:contain;
	width:193px;
	height:32px;
	margin-bottom:8px;
}

.en #item .left.row02 dt{
	background:url(../images/en/txt_item_indigo.png) no-repeat;
	background-size:contain;
	width:253px;
	height:36px;
	margin-bottom:4px;
}

.en #item .right.row02 dt{
	background:url(../images/en/txt_item_invincible.png) no-repeat;
	background-size:contain;
	width:156px;
	height:32px;
	margin-bottom:8px;
}

.en #item .item_02 .left dt{
	background:url(../images/en/txt_item_score.png) no-repeat;
	background-size:contain;
	width:248px;
	height:32px;
	margin-bottom:8px;
}

.en #item .item_02 .right dt{
	background:url(../images/en/txt_item_spring.png) no-repeat;
	background-size:contain;
	width:281px;
	height:35px;
	margin-bottom:5px;
}


#item .inner dd{
	background:#ffffff;
	border-radius:10px;
	padding:16px 12px;
	width:255px;
	min-height:45px;
	color:#333333;
	font-size:16px;
	line-height:1.2;
}

.en #item .inner dd{
	/*min-height:77px;*/
	min-height:95px;
}

/*アプリ情報*/

.app_info{
	background: #fff;
	border-radius: 10px;
	width:928px;
	width:872px;
	margin:0 auto;
	padding:10px 0 14px 30px;
}

.app_info h2{
	color:#0033cc;
	line-height: 1.5;
	text-indent:0;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin:0 auto 21px;
}

.app_info .icon{
	float:left;
}
.app_info .icon img{
	width:120px;
	height:120px;
}
.app_info .info{
	float:left;
	width:725px;
	margin-left:20px;
	margin-bottom:20px;
}
.app_info .info a{
	text-decoration: none;
	color:#0033cc;
}
.app_info .info a:hover{
	text-decoration: underline;
}

.app_info dl{
	/*margin-left:100px;*/
	font-weight: bold;
	font-size: 24px;
	color:#000000;
}

.app_info dt{
	float:left;
	width:125px;
	display:block;
}

.en .app_info dt{
	width:220px;
}

.app_info dd{
	float:left;
	width:600px;
	display:block;
}

.en .app_info dd{
	width:600px;
	width:544px;
	width:500px;
}

.app_info .download h3{
	background:url(../images/jp/title_download.gif) no-repeat;
	background-size:contain;
	width:354px;
	height:29px;
	float:left;
	margin-top:12px;
}

.app_info .download ul{
	float:right;
	width:481px;
}

.app_info .download li a{
	display:block;
	float:left;
}

.app_info .download li a img{
	width:186px;
	height:62px;
	margin-right:22px;
}

.app_info .download li:nth-child(2) a img{
	padding-top:1px;
	width:162px;
	height:61px;
}

.app_info .download li:nth-child(3) a img{
	padding-top:1px;
	width:59px;
	height:61px;
}

.en .app_info .download h3{
	background:url(../images/en/title_download.gif) no-repeat;
	background-size:contain;
	width:326px;
	height:29px;
	float:left;
	margin-top:13px;
}

.en .app_info .download ul{
	float:right;
	width:490px;
}

article .alink{
	color:#000000;
	text-align:center;
	font-weight: bold;
	font-size:18px;
	margin:30px 0 20px;
}

article .alink a{
	color:#0033cc;
	text-decoration: underline;
}

article .alink a:hover{
	text-decoration: none;
}

article .alink li{
	display:inline-block;
}

article .alink li:after{
	content:" |";
}

article .alink li:last-child:after{
	content:none;
}

footer{
	background:url(../images/common/bg_foot.gif) repeat-x top center;
	margin-top:-30px;
	padding-top:30px;
	min-width:960px;
}

.footer_wrapper{
	background-color:#000099;
}

.footer_inner{
	width:960px;
	width:900px;
	margin:0 auto;
	padding:32px 32px 24px;
	padding:32px 30px 24px;
	font-size:11px;
}

.footer_inner .logo{
	margin-bottom: 22px;
}

.footer_inner .logo li{
	display:block;
	float:left;
	margin-right:22px;
}

.footer_inner .logo li.right{
	float:right;
	margin-right:0;
}

.footer_inner .logo_sonic,.footer_inner .logo_sega,.footer_inner .banner_ittells,.footer_inner .banner_ittells_02{
	vertical-align: bottom;
}

.footer_inner .logo_sega{
	width:134px;
	height:44px;
}

.footer_inner .logo_sonic{
	padding-top:4px;
	width:130px;
	height:40px;
}

.footer_inner .banner_ittells{
	width:134px;
	height:44px;
}

.footer_inner .banner_ittells_02{
	width:274px;
	height:44px;
	margin-right:22px;
	display:none;
}

.footer_inner .logo li.copy{
	margin-right:0px;
	padding-top:27px;
}

.footer_inner .txt{
	line-height: 1.5;
	margin-bottom:24px;
}

.footer_inner .alink{
	line-height:1.5;
	margin-bottom:20px;
}
.footer_inner .alink li{
	display:inline-block;
	margin-right:2px;
}

.footer_inner a{
	color:#00ffff;
	text-decoration: none;
}

.footer_inner a:hover{
	text-decoration: underline;
}

/*navigation*/

nav ul{
	border-radius:10px 10px 0 0;
	background-color:rgba(255,255,255,0.6);
	z-index:3;
	padding:13px 19px 18px;
	position: fixed;
	bottom:0;
	right:0;
	line-height: 1;
}

nav li{
	display:inline-block;
}
nav img{
	height:20px;
}
nav .top{
	width:56px;
}

nav .about{
	width:79px;
}

nav .player{
	width:118px;
}

nav .companion{
	width:80px;
}
nav .item{
	width:110px;
}

.en nav .top{
	width:45px;
}

.en nav .about{
	width:108px;
}

.en nav .player{
	width:144px;
}

.en nav .companion{
	width:75px;
}
.en nav .item{
	width:50px;
}



/* 404 403 unsupported*/

.others .wrapper{
	background:url(../images/common/bg_unsupported.png);
}

.others .top_vid{
	margin-bottom:30px;

}

.others .message{
	padding:10px 0;
	color:#000;
	text-align: center;
}

.others .message h2{
	color:#000;
	text-indent: 0;
	font-size:30px;
}

.others .message a{
	color:#000099;
}

.others .message ul{
	margin-top:15px;
	line-height: 2;
}

.others .logo_sega{
	width:120px;
	height:40px;
}

.others .logo_sonic{
	width:104px;
	height:36px;
}

/* お知らせ詳細MT PC*/
body.detail{
	background:#f1f1f1;
	color:#333333;
	width:100%;
}

body.detail .contents{
	padding-top:10px;
	padding-left:10px;
	word-wrap:break-word;
}

body.detail .contents img{
	max-width: 100%!important;
	height:auto!important;
}

/* 太字・斜体・下線 */

body.detail .contents strong{
	font-weight: bold;
}
body.detail .contents em{
	font-style: italic;
}

body.detail .contents ins{
	text-decoration: underline;
	background-color: transparent;
	color:inherit;
}

/*色付の場合*/
body.detail .contents span{
	font-weight: inherit;
}

/*テーブルのリセットcss*/

body.detail table{
    margin:0;
    padding:0;
    border:0;
    border-color: #333333;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/*お知らせ一覧MT PC*/
.info_list{
	background:#ffffff;
	position: relative;
}
.info_list dl{
	/*height:209px;*/
	width:343px;
	background:#ffffff;
}

.info_list dt{
	display:block;
	width:83px;
	height:30px;
	margin-left:7px;
	margin-top:8px;
	float:left;
}

.en.info_list dt{
	margin-left:5px;
	margin-top:9px;
}

.info_list .maintenance dt{
	background:url(../images/jp/img_maintenance.png) no-repeat;
	background-position: 0 2px;
	background-size:72px;
}

.info_list .important dt{
	background:url(../images/jp/img_important.png) no-repeat;
	background-size:72px;
}

.info_list .notices dt{
	background:url(../images/jp/img_notices.png) no-repeat;
	background-position: 1px 0;
	background-size:69px;

}

.info_list .status dt{
	background:url(../images/jp/img_status.png) no-repeat;
	background-size:69px;
}

.info_list.en .maintenance dt{
	background:url(../images/en/img_maintenance.png) no-repeat;
	background-position: 0 1px;
	background-size:79px;
}

.info_list.en .important dt{
	background:url(../images/en/img_important.png) no-repeat;
	background-position: 2px 0;
	background-size:76px;
}

.info_list.en .notices dt{
	background:url(../images/en/img_notices.png) no-repeat;
	background-position: 9px 0;
	background-size:63px;

}

.info_list.en .status dt{
	background:url(../images/en/img_status.png) no-repeat;
	background-position: 10px 0;
	background-size:60px;
}

.info_list dd{
	padding-left:90px;
	display:block;
	width:255px;
	height:auto;
}

.info_list a span{
	font-size:11px;
	color:#666666;
	margin-bottom:6px;
	line-height:1.1;
}

.info_list a p{
	font-size:13px;
	color:#000000;
	line-height:1.1;
	width:255px;
	margin-bottom:5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;
}

.info_list dl a{
	text-decoration:none;
	border-bottom:1px solid #cccccc;
	display:block;
	background:#ffffff;
	height:40px;
}

.info_list dl a:active,dl a:focus{
	background:#ffcc33;
}

.info_list dl a:nth-child(5){
	border-bottom:none;
}

.info_list a:hover span, a:hover p{
	text-decoration: underline;
}

.info_list .page img{
	width:66px;
	width:62px;
	height:32px;
	height:30px;
}

.info_list .page{
	position: absolute;
	top:204px;
	border-top:1px solid #000000;
	line-height:1;
	background:#ffffff;
	width:100%;
}

.info_list .page li{
	position: absolute;
	display:inline-block;
	left:3px;
	top:3px;

}

.info_list .page li.next{
	left:279px;
}

/*イベントバナー*/

.event img{
	display:block;
	margin:0 auto;
	width:749px;
	height:120px;
	padding:10px;
}

.event{ /*イベント非表示*/
	display:none;
}


/*5/23テキスト*/
.text-info{
	font-size:2em;
	text-align:center;
	font-weight:bold;
	background:rgba(255,255,255,0.6);
	margin-bottom:10px;
	}
	
.text-info a{
	color:#F00;
}

.text-info a:hover{
	text-decoration:none;
}