
/* ----------------------------------------
	company
---------------------------------------- */

#index {
	padding: 2em 0 0;
}

#index li {
	float: left;
	border-right: 1px #000 solid;
}

#index li.first {
	float: left;
	border-right: 1px #000 solid;
	border-left: 1px #000 solid;
}

#index .start{
	border-left: 1px #000 solid;
}

.product #index {
	padding: 1em 0 0;
}

.product #index li {
	margin-top:1em;
	border-right: none;
	border-left: 1px #000 solid;
}

#index a, 
#index span {
	padding: 0 1em;
}

#index span {
	font-weight: bold;
}

#index .current:hover {
	text-decoration: none !important;
}

#index_title {
	width: 100%;
	text-align: center;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
	background: #E6E6BE;
	clear: both;
}

#company_list {
	width: 554px;
}

#company_list * {
	vertical-align: top;
}

#company_list td {
	padding: 1em;
	border-top: 1px #E6E6BE solid;
}

#company_list a {
	text-decoration: underline;
}

#company_list a:hover {
	color: #999;
}

#sub_nav {
	float:right;
}

h2{
    width: 554px;
	height: 33px;
	background: url(../img/companylist/h2.gif) no-repeat;
	display:block;
	text-indent:-9999px;
	margin-bottom:20px;
}

h3,
#name,
#booth,
#product{
    display:block;
	text-indent:-9999px;
}

h3 { margin-top: 2em }

#h3_name {
    width: 114px;
	height: 17px;
	background: url(../img/companylist/h3_1.gif) no-repeat;
}









