

/*   /exhibition/download/index.html
/*	 出展資料ダウンロード
------------------------*/


/*   MainArea
------------------------*/

p.mainLTxt{
	padding-bottom:20px;
}

.dtlBox{
	padding:0 20px 100px 0;	
}


ul.downloadList{
	margin:0;
	padding:0 0 25px 0;
	list-style:none;
}

ul.downloadList li{
	margin:0 20px 10px 20px;
	padding:2px 0 2px 22px;
	font-size:12px;	
	background:url(../../../common/img/pdficon_small.gif) top left no-repeat;
	border-bottom:1px dotted #ccc;
}

.subTxt{
	padding:0 10px 15px 20px;
	font-size:14px;
	font-weight:bold;
}

.contactBox{
background:#f2ede9;
margin:15px 0px;
padding:10px 15px;
}

.contactBoxTtl{
font-size:14px;
font-weight:bold;
padding-bottom:5px;
}

.contactBoxTxt{
font-size:16px;
}
.contactBoxTxt span{
font-size:12px;
}

.pagetop{
margin:0px 20px 20px 0px;
}