@charset "utf-8";

/* ----------------------------------------
	banner.html
---------------------------------------- */

#banner {
	border-top: #B4B4B4 solid 1px;
	border-bottom: #B4B4B4 solid 1px;
	padding: 20px 0 30px 0;
	margin: 14px 0 20px 0;
	width: 640px
}

#banner img {
	display: block;
	margin: 30px 0 10px 0;
}

#download {
	margin: 0 0 20px 0;
	width: 640px;
}

#download img {
	display: block;
	margin: 0 0 10px 0;
}

#download span {
	font-weight: bold;
}