@charset "utf-8";

@import url("setting.css");  

/* ----------------------------------------
	common
---------------------------------------- */

body{
	background: url(../img/common/bg_sky.jpg) no-repeat center top fixed;
}

#container{
	width: 100%;
	min-width: 1000px;
	background: url(../img/common/bg_text.png);
	position: relative;
}

#logo {
	width: 980px;
	margin: auto;
	display: block;
}

#rmenu {
		float: right;
		width: 35px;
		position: absolute;
		text-align: right;
		right: 0;
}
	
/* ----------------------------------------
	header
---------------------------------------- */

#header{
	height: 245px;
	width: 100%;
	background: url(../img/common/bg_header.png);
}

#header h1 {
	float: left;
	margin-right: 15px;
	font-size: 100%;
}

#header_top {
	height: 25px;
	text-align: left;
	line-height: 25px;
	color: #ffffff;
	padding-left: 15px;
	margin-bottom: 10px;
}

#fontsize {
	padding-right: 30px;
	font-size: 12px;
	line-height: 25px;
	float: right;
}

#fontsize span {
	margin-left: 10px;
	color: #6E8282;
}

#fontsize a {
	text-decoration: none;
}

#fontsize a:hover {
	color: #D2DCD7;
}

#fontsize_s {
	color: #D2DCD7;
}

#fontsize_m {
	color: #6E8282;
}

#fontsize_l {
	color: #6E8282;
}


/* ----------------------------------------
	nav
---------------------------------------- */

#nav {
	width: 1000px;
	height: 64px;
	margin: auto;
}

#nav li {
	float: left;
	position: relative;
}

#nav li a {
	display: block;
	text-decoration: none;
}


/* ----------------------------------------
	contents
---------------------------------------- */

#contents {
	background: url(../img/common/bg_contents.png) right bottom no-repeat;
 	width: 980px;
	/*padding: 30px 0 0;*/
	position: relative;
	margin: auto;
}

#contents_left {
	width: 690px;
	float: left;
	position: relative;
	margin-left: 5px;
	padding-bottom: 20px;
}

#pankuzu {
	height: 25px;
	width: 670px;
	color: #ffffff;
	font-size: 12px;
	line-height: 25px;
	text-align: left;
	position: absolute;
	left: 20px;
	top: 10px;
}

#pankuzu a {
	color: #ffffff;
}

#contents_inner {
	background: url(../img/common/bg_contents_left_middle.png) repeat;
	width: 665px;
	padding: 14px 0 0 25px;
}

#back {
	position: relative;
	height: 25px;
	margin: 20px 25px 0 0;
	font-size: 12px;
}

#back a {
	width: 145px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 0 0 0 10px;
	background: #000000 url(../img/common/contents_arrow.gif) no-repeat 10px center;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
}

#back a:hover {
	color: #007896;
}

#contents_right {
	width: 280px;
	float: right;
	margin-right: 5px;
	position: relative;
	min-height: 900px;
}

#contents_right #banner_area {
	background: url(../img/common/bg_contents_right_middle.png);
	padding: 0 0 0 20px;
} 

#contents_right #banner_area img {
	margin: 0 0 5px 0;
}

#contents_right #banner_area #lego {
	margin: 0 0 5px 0;
}

#topics {
	margin: 10px 0 0 10px;
}

#topics ul li {
	background:	url(../img/common/bg_topics.png) repeat;
	padding: 10px;
	margin: 2px 0 0 0;
	width: 240px;
	text-align: left;
	font-size: 12px;
	line-height: 19px;
}
/*
#character {
	
	position: absolute;
	bottom: -20px;
	right: 0;
}
*/

/* Coming Soon */

#contents .comingsoon {
	padding-top: 200px;
	padding-bottom: 180px;
}
#contents .comingsoon img {
	display: block;
	margin-left: 25px;
}


/* ----------------------------------------
	footer
---------------------------------------- */

#footer {
	height: 150px;
	padding-top: 20px;
	color: #4b4b4b;
	background: url(../img/common/bg_footer.png) repeat-x left top;
	position: relative;
	font-size: 12px;
	line-height: 20px;
}

#footer_info {
	padding: 0 0 0 20px;
	float: left;
}

#footer_link {
	height: 30px;
	color: #00C8FF;
	float: right;
}

#jta {
	width: 250px;
	height: 25px;
	margin: 5px 15px 5px 0;
	line-height: 25px;
	position: relative;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0px 0px 0 10px;
	background: #000000 url(../img/common/footer_arrow.gif) no-repeat 10px center;
	text-align: center;
}

#jta:hover {
	color: #007896;
}

#footer_link ul {
	margin-right: 20px;
	text-align: left;
	line-height: 18px;
	position: relative;
}

#footer_link ul li{
	background: url(../img/common/footer_link_arrow.gif) no-repeat 2px 4px ;
}

#footer_link ul a {
	padding-left: 10px;
	color: #4b4b4b;
	text-decoration: none;
}

#footer_link ul a:hover {
	background: url(../img/common/arrow_blue.gif) no-repeat left center;
	color: #00C8FF;
}

address {
	width: 100%;
	background:  url(../img/common/bg_clear.png) repeat;
	color: #ffffff;
	text-align: center;
	font-size: 10px;
	line-height: 18px;
}

