@charset "utf-8";

/* ----------------------------------------
	kidslife.html
---------------------------------------- */

.kidslife img {
	display: block;
	margin: 0 0 29px 0;
}

.kidslife ul {
	width: 640px;
}

.kidslife li {
	border-top: #B4B4B4 solid 1px;
	padding: 15px 0;
	line-height: 21px;
	float: left;
}

.kidslife .id {
	font-weight: bold;
	width: 82px;
	padding: 15px 0 15px 10px;
}

.kidslife .name {
	width: 198px;
}
.kidslife .name a {
	color: #FA8214;
	text-decoration: none;
}
.kidslife .name a:hover {
	text-decoration: underline;
}

.kidslife .category {
	width: 335px;
	padding-left: 15px;
}

.kidslife li.edge {
	border-bottom: #B4B4B4 solid 1px;
	margin: 0 0 20px 0;
}
