@charset "utf-8";

/* ----------------------------------------
	outline_en.html
---------------------------------------- */

dl {
	width: 640px;
	margin: 14px 0 0 0;
	line-height: 21px;
}

dt {
	width: 124px;
	padding: 20px 0 20px 20px;
	float:left;
	border-top: #B4B4B4 solid 1px;
}

dd {
	width: 480px;
	padding: 20px 0 20px 16px;
	float:left;
	border-top: #B4B4B4 solid 1px;
}

.bold {
	font-weight: bold;
}

.violet {
	color: #64288C;
}

.red {
	color: #E61E5A;
}

dl a {
	color: #14A0C8;
}

#contents_inner div {
	width: 620px;
	border-top: #B4B4B4 solid 1px;
	padding: 20px 0 20px 20px;
	line-height: 21px;
}

#btn_pdf{
	text-align:center;
}