@charset "utf-8";

/* ----------------------------------------
	public_stageshow.html
---------------------------------------- */

.public_kidsshow .explain {
	width: 640px;
	margin: 14px 0 0 0;
	border-top: #B4B4B4 solid 1px;
	padding: 20px 0;
	line-height: 25px;
	
}

.public_kidsshow img {
	display: block;
	margin: 0 0 10px 0;
}

.public_kidsshow a {
	color: #E61E5A;
}

.colored{
	color: #e71d59;
}

#pastPhoto img{
	float:left;
	margin-right:10px;
}

#ssSchedule{
	margin-top:10px;
}

.right_link {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}
.right_link li{
	float: left;
}

.right_link img{
	float: left;
}

.title_img {
	margin-bottom: 10px;
}
.title_img img{
	margin-top: 12px;
	float: left;
}
