@charset "utf-8";

/* ----------------------------------------
	public_attention.html
---------------------------------------- */

.public_attention ul {
	width: 640px;
	margin: 14px 0 0 0;
}

.public_attention li {
	border-top: #B4B4B4 solid 1px;
	padding: 20px 0;
	line-height: 25px;
}

.public_attention li img {
	display: block;
	margin: 0 0 10px 0;
}

.public_attention li a {
	color: #E61E5A;
}