body {
  background: #FFF;
  font-family: "Trebuchet MS", "Lucida Sans", Arial, Verdana, Helvetica, Sans-Serif;
  color: #000;
  line-height: 2em;
}

abbr:after, acronym:after {
  content: " ("attr(title)") ";
}

p {
  font-size: 12pt;
}

ul {
  font-size: 12pt;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size: 14pt;
}

a {
  color: #000;
  text-decoration: underline;
}

a:after {
  content: " ["attr(href)"] ";
  font-style: italic;
}

/*
HIDE
*/

#mainNav, #banner, #subNav, #headerImg, #sidebar {
  display: none;
}