
#LeftColor2 {
    position:absolute;
	left:0px;
    top:93px;
	width:50%;
    height:93px;
	background-color:#CB9B8A;
    } 
#LeftColor3 {
    position:absolute;
	left:0px;
    top:186px;
	width:50%;
    height:99px;
	background-color:#4C5F69;
    } 
#RightColor2 {
    position:absolute;
	right:0px;
    top:96px;
	width:50%;
    height:94px;
	background-color:#CB9B8A;
    }   
 #GlobalNavigation {
    position:absolute;
	left:50%;
	width:693px;
	top:50px;
	margin-left:-321px;    
    height:28px;
	background-color:#CDD5CC;
	} 
#HeaderGraphic {
    position:absolute;
	left:50%;
	width:693px;
	top:106px;
	margin-left:-321px;    
    height:193px;
    background-color:#CB9B8A;
	}       
  