@charset "utf-8";
/* ****************************************************************** 

	@This stylesheet Information{
		ファイル：override.css
		最終更新：2009年03月11日
		主な内容：言語置き換え部分 (English)
	}

****************************************************************** */

/*===================================================================
	1: ヘッダー
===================================================================*/

body {
	background-image: url(../image/common/header_keyvisual_en.png);
}

/*===================================================================
	2: ナビゲーション
===================================================================*/

#nav ul.select a {
	background-image: url(../image/common/menu.png);
}
#nav ul.select li#ni_h,
#nav ul.select li#ni_p,
#nav ul.select li#ni_f {
	background-image: url(../image/common/menu.png);
}

#nav ul.select li#ni_p {
	width: 322px;
	background-position: -520px 0;
}

	/* 個別指定 */
	#nav ul.select li#ni01 a { width: 62px;  background-position:  -16px 0; } /* home */
	#nav ul.select li#ni02 a { width: 120px; background-position:  -78px 0; } /* visitor */
	#nav ul.select li#ni03 a { width: 101px; background-position: -198px 0; } /* media */
	#nav ul.select li#ni04 a { } /* business */
	#nav ul.select li#ni05 a { width: 119px; background-position: -299px 0; } /* exhibition */
	#nav ul.select li#ni06 a { } /* kids */
	#nav ul.select li#ni07 a { width: 102px; background-position: -418px 0; } /* contact */
	#nav ul.select li#ni08 a { width: 114px; background-position: -842px 0; } /* 2008 */
	
	#nav ul.select li#ni01 a:hover,
	#nav ul.select li#ni01:hover a,
	#nav ul.select li#ni01.active a { background-position:  -16px  -42px; }
	#nav ul.select li#ni02 a:hover,
	#nav ul.select li#ni02:hover a,
	#nav ul.select li#ni02.active a { background-position:  -78px  -42px; }
	#nav ul.select li#ni03 a:hover,
	#nav ul.select li#ni03:hover a,
	#nav ul.select li#ni03.active a { background-position: -198px -42px; }
	#nav ul.select li#ni04 a:hover,
	#nav ul.select li#ni04:hover a,
	#nav ul.select li#ni04.active a { }
	#nav ul.select li#ni05 a:hover,
	#nav ul.select li#ni05:hover a,
	#nav ul.select li#ni05.active a { background-position: -299px -42px; }
	#nav ul.select li#ni06 a:hover,
	#nav ul.select li#ni06:hover a,
	#nav ul.select li#ni06.active a { }
	#nav ul.select li#ni07 a:hover,
	#nav ul.select li#ni07:hover a,
	#nav ul.select li#ni07.active a { background-position: -418px -42px; }
	#nav ul.select li#ni08 a:hover,
	#nav ul.select li#ni08:hover a  { background-position: -842px -42px; }

/*===================================================================
	3: トップページ
===================================================================*/

div.tag {
	background-image: url(../image/common/icons.png);
}

/*===================================================================
	4: メディア
===================================================================*/
body.media div.cmcontent p {
	text-indent: 0;
}