@charset "UTF-8";



/* ===================================

	File Name   : rule.css

	Description : Contact Page Layout CSS

	Editors     : NS Sakamoto

	Create Date : 2012/02/15



	Update Description :

		2012/02/14 Append - Basic Styles [Sakurai]

		2012/02/14 File Create

====================================== */



/*========== Style Contents ==========



	1. Individual Redefinition

	2. Rule

	3. Rule Schedule

	4. Rule Guide

	5. Rule Regulation

	6. Download Button

	7.  

	*. Clear Release

	

====================================== */











/*===== ■1. Individual Redefinition =====*/

/* Global Navigation */

#GlobalNavi li#BtnExhibit a,

#GlobalNavi li#BtnExhibit a:hover {background-position: -300px -51px;}





/* Title Setting */

h1 em {

	background: url(../img/rule/ttl_rule.jpg) no-repeat;

	width: 851px;

	height: 30px;

}













/*===== ■2. Rule =====*/

h2 {

	width: 879px;

	height: 38px;

	background-color: #6b57a3;

}

h2 strong {

	font-size: 123.1%;

	color: #FFFFFF;

	padding: 10px 0 0 15px;

	display: block;

}

#Rule p {

	margin: 10px 0px 10px 0px;

}



#Rule ul#pdf_list {

	background: none;

	margin: 0px 0px 0 20px;

	padding: 5px 0px 20px;

	display: block;

	height: 70px;

}



#Rule ul#pdf_list li {

	float: left;

	padding: 0px 4px 0px 25px;

	display: block;

	background: url(../img/rule/pdf_icon.png) no-repeat 0px 0px;

	width: 810px;

	border-bottom: 1px dotted #eeeeee;

	height: 25px;

	margin: 0 0 10px 0;

}





/*===== ■3. Rule Schedule =====*/



#RuleSchedule p {

	margin:10px auto 20px;
	width: 800px;

}











/*===== ■4. Rule Guide =====*/

#RuleGuide {

	margin: 0 auto 30px auto;

	width: 880px;

}

#RuleGuide p {

	margin: 10px 0px 20px 0px;

}

#RuleGuide p span{

	color: #bdade9;

	font-weight: bold;

}

#RuleGuide p strong{
	color: #ff0000;
	display:block;
	margin: 10px 0 0 0;
	width:40px;
	text-align:center;
	font-weight: bold;

	background-color: #ffffff;
	border:1px solid #333333;

	padding: 3px 10px;


}

#RuleGuide p img {

	margin: 10px 0 0 0;

}

#RuleGuide dl{

	margin: 0;

	padding: 10px;

	width: 860px;

	background-color: #F3F3F3;

}

#RuleGuide dt{

	margin: 0;

	padding: 10px 10px 5px 10px;

	color:#333333;

}

#RuleGuide dt span{

	margin: 0 0 7px 0;

	display: block;

	padding-top: 0px;

	width: 560px;

}

#RuleGuide dt ul{

	margin: 0;

	padding-top: 0px;

}

#RuleGuide dt ul li{

	margin: 0 0 5px 0;

	padding-top: 0px;

	width: 800px;

}

#RuleGuide dt li span{

	margin: 0 0 3px 0;

	width: 800px;

	background-image: url(../img/rule/kaitei_icon.jpg);

	background-repeat: no-repeat;

	padding: 0 0 5px 50px;

	border-bottom: 1px dotted #cccccc;

	color: #FF0000;

}











/*===== ■5. Rule Regulation =====*/



#RuleRegulation p {

	margin: 10px 0px 20px 0px;

}

#RuleRegulation p span{

	color: #bdade9;

	font-weight: bold;

}







/*===== ■6. Download Button =====*/

#BtnDownload {

	padding: 0px 0px 0px 40px;

}











/*===== ■7.  =====*/

#RuleKikaku dl {

	margin: 10px 0px 0 0;

	padding: 10px 14px;

	width: 852px;

	background-color: #F3F3F3;

	color:#333333;
}



#RuleKikaku dl a {
	color:#105799;
}





/*===== ■*.Clear Release  =====*/

#********************** {

	/zoom: 1;

}



#**********************:after {

	content: '';

	display: block;

	clear: both;

}






#RuleGuide dl.kaiyaku {
	background:none;
	color:#D7D7D7;
	margin-bottom:10px;
	margin-top:-20px;
}

#RuleGuide dl.kaiyaku p {
	font-weight:bold;
	font-size:120%;
	margin:0px 0px 10px;
}

#RuleGuide dl.kaiyaku dt {
	clear:both;
	float:left;
	color:#D7D7D7;
	border-top:1px dotted #555555;
	border-bottom:1px dotted #555555;	
	height:20px;width:500px;
	line-height:20px;
}

#RuleGuide dl.kaiyaku dd {
	display:block;
	height:20px;
	line-height:20px;
	float:left;
	color:#D7D7D7;
	position:relative;
	left:-100px;
	top:10px;
}

#RuleGuide dl.kaiyaku:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html #RuleGuide dl.kaiyaku { zoom: 1; } /* IE6 */
*:first-child+html #RuleGuide dl.kaiyaku { zoom: 1; } /* IE7 */