body { 
	background-image: url(../../common/img/bg_off03.jpg); 
	background-repeat: no-repeat; 
	background-position: center top; 
	background-attachment: fixed; 
}

#wrapper #contents #bodyBox {
	/*loat: left;*/
	width: 960px;
	position:relative;
	padding:0 0 45px 0;
}
#wrapper #contents #bodyBox h1 {
	position:relative;
	padding:33px 0 0 0;
	margin:0 auto;
	width:880px;
}
#wrapper #contents #bodyBox .soccer {
	position:absolute;
	left:43px;
	top:1543px;
	width: 460px;
}
#wrapper #contents #bodyBox .horse {
	position:absolute;
	right:36px;
	top:1634px;
	width: 460px;
}
#wrapper #contents #bodyBox .swimming {
	position:absolute;
	left:43px;
	top:1778px;
	width: 460px;
}
#wrapper #contents #bodyBox .beach {
	position:absolute;
	top:935px;
	width: 460px;
	right: 36px;
}
#wrapper #contents #bodyBox .cycling {
	position:absolute;
	top:1163px;
	width: 460px;
	right: 36px;
}
#wrapper #contents #bodyBox .uneven {
	position:absolute;
	top:1395px;
	width: 460px;
	right: 36px;
}
#wrapper #contents #bodyBox .shooting {
	position:absolute;
	top:236px;
	width: 460px;
	right: 36px;
}
#wrapper #contents #bodyBox .trampoline {
	position:absolute;
	top:500px;
	width: 460px;
	right: 36px;
}
#wrapper #contents #bodyBox .table-t {
	position:absolute;
	top:734px;
	width: 460px;
	right: 36px;
}

#wrapper #contents #bodyBox .badminton {
	position:absolute;
	top:850px;
	width: 460px;
	left: 43px;
}
#wrapper #contents #bodyBox .canoe {
	position:absolute;
	top:1080px;
	width: 460px;
	left: 43px;
}
#wrapper #contents #bodyBox .ribbon {
	position:absolute;
	top:1311px;
	width: 460px;
	left: 43px;
}
#wrapper #contents #bodyBox .throw {
	position:absolute;
	top:151px;
	width: 460px;
	left: 43px;
}
#wrapper #contents #bodyBox .freestyle {
	position:absolute;
	top:405px;
	width: 460px;
	left: 43px;
}
#wrapper #contents #bodyBox .dash {
	position:absolute;
	top:637px;
	width: 460px;
	left: 43px;
}

#wrapper #contents #bodyBox .comingsoon2 {
	float:left;
	display:block;
	padding:1185px 0 0 59px;
	width: 536px;
	height:281px;
	line-height: 0px;
}

#wrapper #contents #bodyBox .other {
	float:right;
	display:block;
	padding:1720px 40px 0 0;
	width: 323px;
}
