/********************************Side Menu**********************************/


#side_menu{
	float: left;
	width: 243px;
}


#side_title{

	background-image:url(../images/side_top_s.gif);
	width: 243px;
	height: 88px;
	display: block;
	text-decoration: none;
}


.bts_t{

	background-image:url(../images/s_bt_top.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}

.bts_t_v{

	background-image:url(../images/s_bt_top_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}



.bts_t_1{

	background-image:url(../images/s_bt_top_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}



.bts_t a:hover{
	background-image:url(../images/s_bt_top_on.gif); 
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
}

.bts_1{

	background-image: url(../images/s_bt_1.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_1_1{

	background-image: url(../images/s_bt1.html);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


.bts_1 a:hover{
	background-image: url(../images/s_bt_1_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


.bts_1_on{
	background-image: url(../images/s_bt_1_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}



.bts_2{

	background-image: url(../images/s_bt_2.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_2_1{

	background-image: url(../images/s_bt2.html);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_2 a:hover{

	background-image: url(../images/s_bt_2_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_2_on{

	background-image: url(../images/s_bt_2_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_3{

	background-image: url(../images/s_bt_3.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_3_1{

	background-image: url(../images/s_bt3.html);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}



.bts_3 a:hover{

	background-image: url(../images/s_bt_3_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_3_on{

	background-image: url(../images/s_bt_3_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_4{

	background-image: url(../images/s_bt_4.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_4_1{

	background-image: url(../images/s_bt_4_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_4 a:hover{

	background-image: url(../images/s_bt_4_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_5{

	background-image: url(../images/s_bt_5.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


.bts_5 a:hover{

	background-image: url(../images/s_bt_5_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


.bts_5_on{

	background-image: url(../images/s_bt_5_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


.bts_6{

	background-image: url(../images/s_bt_6.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_6 a:hover{

	background-image: url(../images/s_bt_6_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


.bts_6_on{

	background-image: url(../images/s_bt_6_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


.bts_7{

	background-image: url(../images/s_bt_7.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none !important;
}

.bts_7_1{

	background-image: url(../images/s_bt_7_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_7 a:hover{

	background-image: url(../images/s_bt_7_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


#side_bottom{

	background-image: url(../images/side_bottom_en.gif);
	width: 243px;
	height: 88px;
	display: block;
	text-decoration: none;
}

#side_bottom_bg{

	background-image: url(../images/side_bottom_bg.gif);
	width: 243px;
	height: 244px;
	display: block;
	text-decoration: none;
}
#side_info{
	margin: 10px 0px 0px 55px;
	width: 148px;
	height: 44px;
}

#side_b_mail a:link a:visited a:hover a:active{

	text-decoration: none;
	color: #000000;
	border: none;

}

.bts_t a:link,a:visited,a:active,.bts_1 a:link,.bts_2 a:link,a:visited,a:active,.bts_3 a:link,.bts_4 a:link,.bts_5 a:link,.bts_6 a:link{	

	text-decoration: none;
	border: none;
}


#contents_footer{
	background-image: url(../../images/page_footer.gif);
	width: 637px;
	height: 49px;
}

#top_bt{
	float: right;
	
	margin: 26px 0px 0px 0px;

}

/******************** overview **********************/


#contents_area{
	
	float: right;
	width: 657px;
	height: auto;
	
}

#contents_overview{

	background-image:  url(../images/page_bg.gif);
	width: 637px;
	height: auto;
	min-height: 500px;
	padding: 20px 0px 100px 0px;

}

#MatcUps{

	background-image:  url(../images/page_bg.gif);
	width: 637px;
	height: auto;
	min-height: 500px;
	padding: 20px 0px 100px 0px;

}

#MatcUps iframe{
	margin: 0 0 0 40px;
	border: 1px solid #999999;
}

#MatcUps #text{
	padding: 0 60px 20px 0;

	}

#MatcUps p{
	font-size: 12px;
	
}

#title{
	background-image: url(../images/page_title.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}

#titleMatch{
	background-image: url(../images/title_match.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}


#title_list{
	background-image: url(../images/page_title_exhibitors.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}

#title_ad{
	background-image: url(../images/page_title_admission.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}


#title_2{
	background-image: url(../images/page_title_2.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}

#title_3{
	background-image: url(../images/page_title_3.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}


#title_floor{
	background-image: url(../images/title_floor.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}


#midashi_1{
	background-image: url(../images/en_title.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	width: 319px;
	height: 40px;


}

#midashi_2{
	background-image: url(../images/en_title_2.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	width: 319px;
	height: 40px;


}

#midashi_3{
	background-image: url(../images/en_title_3.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	width: 319px;
	height: 40px;


}

#midashi_4{
	background-image: url(../images/en_title_4.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	width: 319px;
	height: 40px;


}



.hyou_2{
	margin: 0px 0px 0px 20px;
	float: left;
	


}
.hyou_1{
	margin: 0px 0px 0px 20px;
	


}

.forum_p{
	float: right;
	padding: 0px 50px 0px 0px;
	
}

.t{
	
	color:#009900;
	font-size: 14px;
	padding: 2px;
	font-weight: bolder;
}

.tp{

	font-size:12px;
	padding: 2px;

}

.naiyou{

	margin: 20px 0px 10px 30px;

}

.cap{
	margin: 0px 5px 0px 0px;
}

.ten{
	width: 10px;
}

/********************************* Travel ***************************************/


.tra_p{
	margin: 0px 0px 0px 30px;
	color: #003333;
	font-weight: bold;
	font-size: 14px;

}

.tra_p_s{
	margin: 10px 0px 0px 40px;
	font-size: 12px;
	
}



/**********************************************************************************/




#contents{
	width: 900px;

}

#contents_area{
	
	 float: right;
	 width: 657px;
	
}


#title{
	background-image: url(../images/page_title.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}


#contents_s{
	background-image:  url(../images/page_bg.gif);
	width: 637px;
	height: auto;
	min-height: auto;
	padding: 20px 0px 100px 0px;

	
	
}
.midashi{
	float: left;
	font-size: 12px;
	text-align: center;
}

.p{
	font-size: 12px;
	margin: 10px 0px 0px 30px;
	_margin: 20px 0px 0px 20px;
	text-align: left;
	float: left;
	width: 350px;
	
}

.photo{
	float: right;
	margin: 10px 60px 0px 0px;
	_margin: 10px 30px 0px 0px;

}

#contents_footer{
	background-image:url(../../images/page_footer.gif);
	width: 637px;
	height: 49px;
}

.p_sozai{
	margin: 0px 5px;

}

.naiyou{
	margin: 0px 0px 0px 40px;
	
}
tr{
	font-size: 12px;
	border: 15px;
	margin-top: 10px;
}

td{
	height: 20px;
	padding: 10px 0px 0px 10px; 
}


#top_bt{
	float: right;
	
	margin: 26px 0px 0px 0px;

}

.contents_line{
	margin: 0px 0px 0px 30px;

}


.kouen{
	font-size: 12px;
	margin: 10px 0px 0px 40px;
}

.kouen_2{
	font-size: 12px;
	margin: 10px 0px 0px 50px;
}


#m_title{
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0px 0px 0px;
}

.cap{
	margin: 0px 10px 0px 30px;
}

/*//////////////list///////////////////*/

#contents_list{
	background-image:  url(../images/page_bg.gif);
	width: 637px;
	height: auto;
	padding-top: 10px;
	min-height: 600px;
}

#contents_list ul{
	margin: 0 0 0 50px;
}

#contents_list ul ul{
	margin: 0 0 20px 20px;
}

#contents_list ul ul{
	color: #666666;
}

#contents_list li{
	font-size: 12px;
}

#text{
	margin: 10px 0 0 50px;
}

#text span{
	font-size: 10px;
	color: #999999;
	background: url(../../images/kome.html) no-repeat 0px 3px;
	display: block;
	padding: 0 0 0 10px;
	
}


/*//////////////admission///////////////////*/

#contents_admission{
	background-image:  url(../images/page_bg.gif);
	width: 637px;
	height: auto;
	padding-top: 10px;
	min-height: 600px;
}



#contents_admission ul{
	margin: 0 0 0 50px;
}

#contents_admissiont ul ul{
	margin: 0 0 20px 20px;
}

#contents_admission ul ul{
	color: #666666;
}

#contents_admission li{
	font-size: 12px;
}

.text{
	margin: 10px 0 0 40px;
	line-height: 1.6;
	font-size: 12px;
}

.text h3{
	margin: 10px 0 0 0;
	
}


.text span{
	font-size: 10px;
	color: #999999;
	background: url(../../images/kome.html) no-repeat 0px 3px;
	display: block;
	padding: 0 0 0 10px;
	
}

.text a{
	color: #990000;
	
}

.text img{
	margin: 0 10px 0 0;
	vertical-align: middle;
}


#contents_list #Day{
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	display: block;
	margin: 0 20px 0 0;
}



/*korean*/

#contents_overview #warapper table{
	margin: 0 0 0 50px;	
}



#contents_events{
	background-image:  url(../images/page_bg.gif);
	width: 637px;
	height: auto;
	padding-top: 10px;
	min-height: 600px;
}

#contents_events h3{
	font: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #ff0066;
	font-weight: bolder;
	margin: 10px 0 0 20px;
}

#contents_events h4{
	font: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #ff0066;
	font-weight: bolder;
	margin: 0 0 0 20px;
}

#contents_events span{
	font: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ff0066;
	font-weight: bolder;
	margin: 0 0 0 20px;
}

#contents_events p{
	font: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ff0066;
	font-weight: normal;
	margin: 0 0 0 0;
}

#contents_events #main-visu{
	margin: 20px 0 20px 30px;
}
	
#contents_events a{
	font: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ff0066;
	font-weight: normal;
	margin: 0 0 0 20px;
}

#title_ev{
	background-image: url(../images/title_events.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}

