@charset "utf-8";

/* -----------------------------------------------------------
CSS Information
File name:      style.css
Style Info:     出展者サイトのトップ専用
----------------------------------------------------------- */

/* -----------------------------------------------------------
コンテンツエリア
----------------------------------------------------------- */

#main {

	margin: 0 0 0 0;
	padding: 10px 0 0 0;
	
}

#main #contents{
	width: 918px;
}

/* -----------------------------------------------------------
コンテンツエリア/フラッシュエリア
----------------------------------------------------------- */

#main #contents #flashcontent{
	width: 700px;
	height: 651px;
	float: left;
	margin-bottom: 30px;
}

#main #contents #flashcontent p{
	color: #666666;
	text-align: left;
	display: block;
}

#main #contents #flashcontent a{
	color: #EA502F;
}

#main #contents #flashcontent noscript img{
	vertical-align: middle;
}



/* -----------------------------------------------------------
コンテンツエリア/アドエリア（バナー）
----------------------------------------------------------- */

#main #ADarea{
	float: right;
	width: 200px;
	height: 651px;
	margin: 10px 0 0 0;
	_margin: 1px 0 0 0;
}

#main #ADarea ul{

}

#main #ADarea ul li img{
		margin-bottom: 5px;
		}
		
#banner200{
		
}

#main #ADarea p{
	margin-top: 35px;
	_margin-top: 55px;
}

*+html #main #ADarea p{

	margin-top: 48px;
}

/*////////
Oera
///////*/
html:first-child #main #ADarea p{

	margin: 48px 20px 0 0;
}
/*///////
Safari
//////*/
html*#main #ADarea p{

	margin: 35px 0 0 0;
}

/* -----------------------------------------------------------
フラッシュバージョン相違時のRSSテーブル
----------------------------------------------------------- */

#news{
	margin-top: 30px;
}

#news table{
	width: 100%;
	border: #CC0000 solid 1px;
	
}
#news .day{
width: 10%;
color: #CC3300;
font-weight: bold;
vertical-align: middle;
padding-left: 5px;
}

#news .title{
width: 80%;
color: #666;
background: url(common/topics_cap2.gif) 0 10px no-repeat;
padding: 0 0 0 18px;
font-weight: bold;
vertical-align: middle;
}

#news .title2{
width: 80%;
color: #666;
background: url(common/topics_cap.gif) 0 10px no-repeat;
padding: 0 0 0 18px;
font-weight: bold;
vertical-align: middle;
}

#news a{
	color: #999999;
	border-bottom: solid 1px #CC0000;
}