@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

dl, ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

html {
  /*font-size: 0.625em;*/
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: inherit;
}

a img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

@media screen and (max-width: 767px) {
  .pc_only {
    display: none !important;
  }
}

.sp_only {
  display: none !important;
}
@media screen and (max-width: 767px) {
  .sp_only {
    display: block !important;
  }
}

@media screen and (max-width: 767px) {
  span.sp_only {
    display: inline-block !important;
  }
}

.bold {
  font-weight: bold !important;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="url"],
input[type="number"],
select,
textarea {
  max-width: 100%;
  font-size: 16px;
}

input,
select,
textarea,
button,
optgroup,
label {
  font-family: inherit;
}

button,
select {
  text-transform: none;
}

select {
  white-space: nowrap;
}

textarea {
  overflow: auto;
}

button,
[type="submit"],
[type="reset"],
[type="button"] {
  padding: 0;
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
}
button::-webkit-search-decoration,
[type="submit"]::-webkit-search-decoration,
[type="reset"]::-webkit-search-decoration,
[type="button"]::-webkit-search-decoration {
  display: none;
}
button::focus,
[type="submit"]::focus,
[type="reset"]::focus,
[type="button"]::focus {
  outline-offset: -2px;
}
button::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
button::-moz-focusring,
[type="submit"]::-moz-focusring,
[type="reset"]::-moz-focusring,
[type="button"]::-moz-focusring {
  outline: ButtonText dotted 1px;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
[type="search"]:focus {
  outline: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

main {
  display: block;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
}

@font-face {
  font-weight: 100;
  src: local("Yu Gothic Medium");
  font-family: "Yu Gothic";
}
@font-face {
  font-weight: 200;
  src: local("Yu Gothic Medium");
  font-family: "Yu Gothic";
}
@font-face {
  font-weight: 300;
  src: local("Yu Gothic Medium");
  font-family: "Yu Gothic";
}
@font-face {
  font-weight: 400;
  src: local("Yu Gothic Medium");
  font-family: "Yu Gothic";
}
@font-face {
  font-weight: bold;
  src: local("Yu Gothic Bold");
  font-family: "Yu Gothic";
}
body {
  font-family: "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Roboto, "Segoe UI", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  color: #333;
  word-break: break-all;
  -webkit-text-size-adjust: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.l-wrapper {
  overflow: hidden;
  position: relative;
}

.floating-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background: #fff;
  transition: -webkit-transform 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: transform 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: transform 0.2s cubic-bezier(0.21, 0.6, 0.35, 1), -webkit-transform 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
  z-index: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1280px) {
  .floating-nav {
    height: 50px;
    z-index: 500;
  }
  .floating-nav:after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: #fff;
  }
}
.floating-nav.-fixed {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
}
.floating-nav_logo {
  width: 243px;
  margin-left: 20px;
  position: relative;
  z-index: 50;
  font-size: 0;
}
.floating-nav_logo img {
  width: 100%;
}
.floating-nav_list {
  display: block;
}
@media (min-width: 1280px) {
  .floating-nav_list {
    display: block !important;
  }
}
@media (max-width: 1280px) {
  .floating-nav_list {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 0;
    /*display: none;*/
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all .3s;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
  }
  .floating-nav_list.-open {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.floating-nav_list_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1280px) {
  .floating-nav_list_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #2b6600;
  }
}
.floating-nav_list .item.-anchor {
  padding: 10px 20px 10px 0;
  margin-right: 10px;
}
@media (max-width: 1280px) {
  .floating-nav_list .item.-anchor {
    box-sizing: border-box;
    width: 33.333333%;
    margin-right: 0;
    text-align: center;
    padding: 5px;
    position: relative;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .floating-nav_list .item.-anchor:after {
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    background: #4b8026;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.5px;
    margin: auto 0;
  }
  .floating-nav_list .item.-anchor:nth-child(3n):after {
    content: none;
  }
}
.floating-nav_list .item.-anchor a {
  display: inline-block;
  position: relative;
  overflow: visible;
  font-size: 0.8125rem;
  color: #000;
  font-weight: bold;
}
@media (max-width: 1280px) {
  .floating-nav_list .item.-anchor a {
    color: #fff;
    font-size: 11px;
  }
}
.floating-nav_list .item.-anchor a:hover {
  color: #2b6600;
  text-decoration: underline;
}
@media (max-width: 1280px) {
  .floating-nav_list .item.-anchor a:hover {
    color: #fff;
    text-decoration: none;
  }
}
.floating-nav_list .item.-anchor a:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -12px;
  border-top: 6px solid #00873b;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
@media (max-width: 1280px) {
  .floating-nav_list .item.-anchor a:after {
    content: none;
  }
}
.floating-nav_list .item.-btn {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}
.floating-nav_list .item.-btn.-online {
  border-left: 1px solid #ccc;
}
@media (max-width: 1280px) {
  .floating-nav_list .item.-btn {
    width: 50%;
    margin-top: 5px;
  }
  .floating-nav_list .item.-btn br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .floating-nav_list .item.-btn br {
    display: block;
  }
}
.floating-nav_list .item.-btn .item-ttl {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  background-color: #f2f2f2;
}
@media (max-width: 1280px) {
  .floating-nav_list .item.-btn .item-ttl {
    font-size: 14px;
    line-height: 24px;
  }
}
@media screen and (max-width: 767px) {
  .floating-nav_list .item.-btn .item-ttl {
    font-size: 10px;
    line-height: 15px;
  }
}
.floating-nav_list .item.-btn .c-btn {
  width: 50%;
  height: 45px;
  font-size: 13px;
  box-shadow: none;
}
@media (max-width: 1280px) {
  .floating-nav_list .item.-btn .c-btn {
    height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .floating-nav_list .item.-btn .c-btn {
    height: auto;
  }
}
.floating-nav_list .item.-btn .c-btn a {
  color: #fff;
}
@media (max-width: 1280px) {
  .floating-nav_list .item.-btn .c-btn a {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
}
@media screen and (max-width: 767px) {
  .floating-nav_list .item.-btn .c-btn a {
    font-size: 11px;
  }
}
.floating-nav_list .item.-btn .c-btn.-download:before, .floating-nav_list .item.-btn .c-btn.-download2:before {
  content: none;
}
.floating-nav_list .item.-btn .c-btn.-apply, .floating-nav_list .item.-btn .c-btn.-apply2 {
  border-left: 1px solid #ccc;
}
.floating-nav_list .item.-btn .c-btn.-apply:before, .floating-nav_list .item.-btn .c-btn.-apply2:before {
  content: none;
}
.floating-nav_list .item.-btn .c-btn.-apply2 {
  border-left: 1px solid #ccc;
}
.floating-nav_list .item.-btn .c-btn.-disabled:before {
  content: none;
}
.floating-nav_list .item.-btn .c-btn.-disabled .-end {
  color: #fff;
}
.floating-nav_list .item.c-btn {
  width: 140px;
  height: 60px;
  font-size: 13px;
  box-shadow: none;
}
@media (max-width: 1280px) {
  .floating-nav_list .item.c-btn {
    width: 50%;
    margin-top: 5px;
    height: 50px;
    font-size: 11px;
  }
}
.floating-nav_list .item.c-btn a {
  color: #fff;
}
@media (max-width: 1280px) {
  .floating-nav_list .item.c-btn a {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
}
.floating-nav_list .item.c-btn.-download:before, .floating-nav_list .item.c-btn.-download2:before {
  content: none;
}
.floating-nav_list .item.c-btn.-apply:before, .floating-nav_list .item.c-btn.-apply2:before {
  content: none;
}
.floating-nav_list .item.c-btn.-disabled:before {
  content: none;
}
.floating-nav_list .item.c-btn.-disabled .-end {
  color: #fff;
}
.floating-nav_menuBtn {
  display: none;
}
@media (max-width: 1280px) {
  .floating-nav_menuBtn {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
    display: block;
  }
  .floating-nav_menuBtn span {
    position: absolute;
    right: 0;
    left: 0;
    width: 25px;
    height: 2px;
    margin: 0 auto;
    background: #2b6600;
    transition: all .3s;
    display: block;
  }
  .floating-nav_menuBtn span:nth-child(1) {
    top: 15px;
  }
  .floating-nav_menuBtn span:nth-child(2) {
    top: 23px;
  }
  .floating-nav_menuBtn span:nth-child(3) {
    top: 31px;
  }
  .floating-nav_menuBtn.-open span {
    width: 25px;
  }
  .floating-nav_menuBtn.-open span:nth-child(1) {
    top: 23px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .floating-nav_menuBtn.-open span:nth-child(2) {
    opacity: 0;
  }
  .floating-nav_menuBtn.-open span:nth-child(3) {
    top: 23px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

.l-gnav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 50;
  /*background: #f2f2f2;*/
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(3%);
  -ms-transform: translateY(3%);
  transform: translateY(3%);
  -webkit-transition: opacity 0.6s ease-in-out 1.4s, -webkit-transform 0.6s ease-in-out 1.4s;
  transition: opacity 0.6s ease-in-out 1.4s, -webkit-transform 0.6s ease-in-out 1.4s;
  transition: opacity 0.6s ease-in-out 1.4s, transform 0.6s ease-in-out 1.4s;
  transition: opacity 0.6s ease-in-out 1.4s, transform 0.6s ease-in-out 1.4s, -webkit-transform 0.6s ease-in-out 1.4s;
}
.l-gnav.in {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
@media screen and (max-width: 767px) {
  .l-gnav {
    background-color: #fff;
  }
}
.l-gnav .l-nav_list {
  display: table;
  width: 100%;
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .l-gnav .l-nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
}
.l-gnav .l-nav_list_item {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.25rem;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .l-gnav .l-nav_list_item {
    width: 33.33333%;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .l-gnav .l-nav_list_item:after {
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    background: #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.5px;
    margin: auto 0;
  }
  .l-gnav .l-nav_list_item:nth-child(3n):after {
    content: none;
  }
}
.l-gnav .l-nav_list_item a {
  position: relative;
  display: block;
  color: #333333;
  -webkit-transition: all 0.4s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: all 0.4s cubic-bezier(0.21, 0.6, 0.35, 1);
  padding: 16px 0.7em 15px 0;
}
.l-gnav .l-nav_list_item a:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10%;
  border-top: 6px solid #00873b;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.l-gnav .l-nav_list_item a:hover {
  color: #2b6600;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .l-gnav .l-nav_list_item a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 767px) {
  .l-gnav .l-nav_list_item a {
    font-size: 1rem;
    padding: 5px;
    font-size: 0.7rem;
  }
  .l-gnav .l-nav_list_item a:after {
    content: none;
  }
}

.l-sec_inner {
  max-width: 1098px;
  padding: 0 60px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .l-sec_inner {
    padding: 0 25px;
  }
}

.l-footer_inner {
  padding: 50px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .l-footer_inner {
    padding: 30px 15px;
  }
}
.l-footer_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .l-footer_link {
    display: block;
    margin: -1em 0 0;
  }
}
.l-footer_link_item {
  padding: 0 15px;
  border-left: 1px solid #e5e5e5;
}
.l-footer_link_item:first-of-type {
  border-left: none;
}
@media screen and (max-width: 767px) {
  .l-footer_link_item {
    padding: 0;
    border-left: none;
    margin: 0.8em 0 0;
  }
}
.l-footer_link_item a {
  color: #333333;
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .l-footer_link_item a {
    font-size: 0.75rem;
  }
}
.l-footer_logo {
  display: block;
  max-width: 100px;
  margin: 30px auto 15px;
  text-align: center;
}
.l-footer_logo img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.l-footer_copyright {
  font-size: 0.75rem;
}

.l-pageTop {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 100;
}
@media screen and (max-width: 767px) {
  .l-pageTop {
    width: 40px;
    height: 40px;
  }
}
.l-pageTop img {
  width: 100%;
}

/* =================================================
  utility
================================================= */
.u-fadeInUp {
  opacity: 0;
  -webkit-transform: translateY(5%);
  -ms-transform: translateY(5%);
  transform: translateY(5%);
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}
.u-fadeInUp.in {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.u-pc {
  display: inherit;
}
@media screen and (max-width: 767px) {
  .u-pc {
    display: none;
  }
}

.u-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .u-sp {
    display: inherit;
  }
}

/* =================================================
  compornents
================================================= */
.c-sec_ttl {
  margin-bottom: 30px;
  color: #2b6600;
  font-size: 2.625rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
.l-sec .c-sec_ttl {
  padding: 50px 0 0;
}
@media screen and (max-width: 767px) {
  .c-sec_ttl {
    margin-bottom: 25px;
    font-size: 1.6rem;
  }
}

.c-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  color: #ffffff;
  width: 100%;
  height: 80px;
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  -webkit-transition: opacity 0.4s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: opacity 0.4s cubic-bezier(0.21, 0.6, 0.35, 1);
}
.c-btn:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .c-btn {
    height: 65px;
    font-size: 1rem;
  }
}
.c-btn_label {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  min-height: initial;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .c-btn_label {
    min-height: auto;
    padding-top: 5px;
  }
}
.c-btn_label.-end {
  color: #ffffff;
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  .c-btn_label.-end {
    font-size: 0.8125rem;
  }
}
.c-btn.-large {
  font-size: 1.5rem;
}
@media screen and (max-width: 767px) {
  .c-btn.-large {
    font-size: 1rem;
  }
}
.c-btn.-apply, .c-btn.-apply2 {
  position: relative;
  background-color: #f2182a;
}
.c-btn.-apply:before, .c-btn.-apply2:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 32px;
  border-left: 6px solid #ffffff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
@media screen and (max-width: 767px) {
  .c-btn.-apply:before, .c-btn.-apply2:before {
    right: 22px;
  }
}
.c-btn.-disabled {
  position: relative;
  background-color: #777777;
  color: #adadad;
  font-size: 1.25rem;
  cursor: default;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .c-btn.-disabled {
    margin-top: 10px;
    font-size: 1rem;
  }
}
.c-btn.-disabled:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 32px;
  border-left: 6px solid #adadad;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
@media screen and (max-width: 767px) {
  .c-btn.-disabled:before {
    right: 22px;
  }
}
.c-btn.-disabled:hover {
  opacity: 1.0;
}
.c-btn.-download, .c-btn.-download2 {
  position: relative;
  background-color: #45a500;
}
.c-btn.-download:before, .c-btn.-download2:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 25px;
  background: url("../images/icon_pdf.png");
  width: 47px;
  height: 52px;
  background-size: 100% auto;
}
@media screen and (max-width: 767px) {
  .c-btn.-download:before, .c-btn.-download2:before {
    right: 15px;
  }
}
@media (max-width: 970px) {
  .c-btn.-download br, .c-btn.-download2 br {
    display: block;
  }
}
.c-btn.-apply2 {
  background-color: #f2182a;
}
.c-btn.-download2 {
  background-color: #f2182a;
}

.c-table {
  width: 100%;
  table-layout: fixed;
}
@media screen and (max-width: 767px) {
  .c-table {
    border-bottom: 2px solid #2b6600;
  }
}
.c-table th, .c-table td {
  padding: 6px 10px;
  border: 2px solid #2b6600;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .c-table th, .c-table td {
    display: block;
    font-size: 1rem;
    border-bottom: none;
  }
}
.c-table th {
  background-color: #3f9800;
  width: 22%;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .c-table th {
    width: auto;
  }
}
.c-table td {
  background: #ffffff;
  color: #333333;
  line-height: 1.8;
  word-break: normal;
}
.c-table a {
  color: #333333;
  text-decoration: underline;
}
.c-table a:hover {
  text-decoration: none;
}
.c-table_notes {
  margin-left: 1em;
}
@media screen and (max-width: 767px) {
  .c-table_notes {
    margin-left: 0;
    display: block;
  }
}

.c-btnList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 -8px -8px;
}
.c-btnList_item {
  margin: 0 0 8px 8px;
  width: calc(50% - 8px);
  background-color: #00863c;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .c-btnList_item {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.c-btnList_item_label {
  flex: 1 1 auto;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .c-btnList_item_label {
    width: 100%;
  }
}
.c-btnList_item_label_title {
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  position: relative;
}
@media screen and (max-width: 767px) {
  .c-btnList_item_label_title {
    font-size: 1.2rem;
  }
}
.c-btnList_item_label_title:before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 20px;
  height: 1px;
  background-color: #fff;
  transform: rotate(45deg);
  transform-origin: bottom right;
}
.c-btnList_item_label_text {
  font-size: 0.8125rem;
}
.c-btnList_item_btn {
  width: 110px;
  flex: 0 0 auto;
  margin-left: 20px;
  padding: 12px 15px 9px;
  background-color: #f2182a;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 5px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .c-btnList_item_btn {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .c-btnList_item_btn br {
    display: none;
  }
}
.c-btnList_item_btn:after {
  content: "";
  position: absolute;
  top: 8px;
  right: 15px;
  width: 23.5px;
  height: 26px;
  background-image: url("../images/icon_pdf.png");
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .c-btnList_item_btn:after {
    position: static;
    display: inline-block;
    margin-left: 10px;
  }
}

.c-textList {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
}
.c-textList_title {
  position: relative;
  padding-left: 1.4rem;
  color: #001e59;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .c-textList_title {
    font-size: 1.125rem;
  }
}
.c-textList_title:before {
  content: "";
  display: block;
  position: absolute;
  top: .5em;
  left: 0;
  background: #001e59;
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.c-textList_data {
  padding-left: 1.4rem;
  color: #333333;
  font-size: 0.9375rem;
  line-height: 1.8;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .c-textList_data {
    margin: 5px 0 0;
    font-size: 0.8125rem;
  }
}

.c-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.c-list_item {
  width: 32.7%;
  background: #e1eef2;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.c-list_item:nth-child(n+4) {
  box-sizing: border-box;
  margin-top: 1%;
}
.c-list_item:nth-of-type(6n+4), .c-list_item:nth-of-type(6n+5), .c-list_item:nth-of-type(6n+6) {
  background: #ebf0f2;
}
@media screen and (max-width: 767px) {
  .c-list_item:nth-of-type(6n+4), .c-list_item:nth-of-type(6n+5), .c-list_item:nth-of-type(6n+6) {
    background-color: #e1eef2;
  }
}
@media screen and (max-width: 767px) {
  .c-list_item {
    width: 49%;
  }
  .c-list_item:nth-child(n+3) {
    box-sizing: border-box;
    margin-top: 2.5%;
  }
  .c-list_item:nth-child(4n+3), .c-list_item:nth-child(4n+4) {
    background: #f2f8fa;
  }
}
.c-list_item_label {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  padding: 13px 20px;
  color: #333;
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  word-break: normal;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .c-list_item_label {
    padding: 16px 20px 10px;
  }
}
@media screen and (max-width: 767px) {
  .c-list_item_label {
    padding: 9px 15px;
    font-size: 0.8125rem;
  }
}

/* =================================================
  project
================================================= */
.p-mv {
  position: relative;
  margin: 0 0 80px;
  z-index: 0;
}
.p-mv:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/2022_bg_mv02.jpg") no-repeat center top;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0;
  -webkit-transition: opacity 0.8s cubic-bezier(0.21, 0.6, 0.35, 1) 0.4s, -webkit-transform 0.8s cubic-bezier(0.21, 0.6, 0.35, 1) 0.4s;
  transition: opacity 0.8s cubic-bezier(0.21, 0.6, 0.35, 1) 0.4s, -webkit-transform 0.8s cubic-bezier(0.21, 0.6, 0.35, 1) 0.4s;
  transition: opacity 0.8s cubic-bezier(0.21, 0.6, 0.35, 1) 0.4s, transform 0.8s cubic-bezier(0.21, 0.6, 0.35, 1) 0.4s;
  transition: opacity 0.8s cubic-bezier(0.21, 0.6, 0.35, 1) 0.4s, transform 0.8s cubic-bezier(0.21, 0.6, 0.35, 1) 0.4s, -webkit-transform 0.8s cubic-bezier(0.21, 0.6, 0.35, 1) 0.4s;
  mix-blend-mode: multiply;
}
@media screen and (min-width: 1700px) {
  .p-mv:after {
    background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  .p-mv:after {
    background-size: contain;
  }
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .p-mv:after {
    content: none;
  }
}
.p-mv.in:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
@media screen and (max-width: 767px) {
  .p-mv {
    margin: 0;
  }
}
.p-mv_screen {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.p-mv_screen:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/2022_bg_mv01.jpg") no-repeat center top;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0;
  -webkit-transition: opacity 0.8s cubic-bezier(0.21, 0.6, 0.35, 1), -webkit-transform 0.8s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: opacity 0.8s cubic-bezier(0.21, 0.6, 0.35, 1), -webkit-transform 0.8s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: opacity 0.8s cubic-bezier(0.21, 0.6, 0.35, 1), transform 0.8s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: opacity 0.8s cubic-bezier(0.21, 0.6, 0.35, 1), transform 0.8s cubic-bezier(0.21, 0.6, 0.35, 1), -webkit-transform 0.8s cubic-bezier(0.21, 0.6, 0.35, 1);
}
@media screen and (min-width: 1700px) {
  .p-mv_screen:before {
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width: 767px) {
  .p-mv_screen:before {
    background-size: contain;
    background-position: center bottom;
  }
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .p-mv_screen:before {
    background: url("../images/2022_bg_mv__ms.jpg") no-repeat center top;
  }
}
.p-mv_screen:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-transition: width 1s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: width 1s cubic-bezier(0.21, 0.6, 0.35, 1);
}
.p-mv_screen.in:before {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.p-mv_screen.in:after {
  width: 0;
}
.p-mv_inner {
  position: relative;
  z-index: 2;
  padding: 120px 40px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-mv_inner {
    padding: 60px 25px 50px;
    max-width: 400px;
    margin: 0 auto;
  }
}
.p-mv_txt {
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in-out 1.0s, -webkit-transform 0.6s ease-in-out 1.0s;
  transition: opacity 0.6s ease-in-out 1.0s, -webkit-transform 0.6s ease-in-out 1.0s;
  transition: opacity 0.6s ease-in-out 1.0s, transform 0.6s ease-in-out 1.0s;
  transition: opacity 0.6s ease-in-out 1.0s, transform 0.6s ease-in-out 1.0s, -webkit-transform 0.6s ease-in-out 1.0s;
  -webkit-transform: translateY(2%);
  -ms-transform: translateY(2%);
  transform: translateY(2%);
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .p-mv_txt {
    margin-bottom: 35px;
  }
}
.p-mv_txt.in {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.p-mv_txt img {
  width: 100%;
  max-width: 910px;
  height: auto;
  margin: 0 auto;
}
.p-mv_status {
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in-out 1.0s, -webkit-transform 0.6s ease-in-out 1.0s;
  transition: opacity 0.6s ease-in-out 1.0s, -webkit-transform 0.6s ease-in-out 1.0s;
  transition: opacity 0.6s ease-in-out 1.0s, transform 0.6s ease-in-out 1.0s;
  transition: opacity 0.6s ease-in-out 1.0s, transform 0.6s ease-in-out 1.0s, -webkit-transform 0.6s ease-in-out 1.0s;
  -webkit-transform: translateY(2%);
  -ms-transform: translateY(2%);
  transform: translateY(2%);
  max-width: 644px;
  margin: 30px auto 0;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;*/
}
@media screen and (max-width: 767px) {
  .p-mv_status {
    display: block;
  }
}
.p-mv_status.in {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.p-mv_status_item {
  font-size: 0;
  /*width: 48%;*/
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-mv_status_item {
    width: 100%;
  }
  .p-mv_status_item .u-sp {
    display: block;
    margin: 0 auto;
    max-width: 265px;
  }
}
.p-mv_status_item + .p-mv_status_item {
  margin-top: 20px;
}
.p-mv_status_item img {
  width: 100%;
  max-width: 307px;
}
.p-mv_status_item a {
  cursor: pointer;
  background: #fff;
  display: inline-block;
  transition: 0.4s;
}
.p-mv_status_item a:hover {
  background: #f2f8fa;
}
.p-mv_status_item .btn {
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  color: #c82b81;
  border: solid #c82b81 3px;
  display: inline-block;
  background: #fff;
  width: 430px;
  padding: 17px 0 15px;
}
.p-mv_status_item .btn:hover {
  color: #fff;
  border: solid #c82b81 3px;
  background: #c82b81;
}
@media screen and (max-width: 767px) {
  .p-mv_status_item .btn {
    font-size: 18px;
    width: 100%;
  }
}
.p-mv_btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #ffffff;
  width: 100%;
  max-width: 978px;
  margin: 15px auto 0;
  position: relative;
  bottom: -45px;
  -webkit-transition: opacity 0.6s ease-in-out 1.4s, -webkit-transform 0.6s ease-in-out 1.4s;
  transition: opacity 0.6s ease-in-out 1.4s, -webkit-transform 0.6s ease-in-out 1.4s;
  transition: opacity 0.6s ease-in-out 1.4s, transform 0.6s ease-in-out 1.4s;
  transition: opacity 0.6s ease-in-out 1.4s, transform 0.6s ease-in-out 1.4s, -webkit-transform 0.6s ease-in-out 1.4s;
  opacity: 0;
  -webkit-transform: translateY(2%);
  -ms-transform: translateY(2%);
  transform: translateY(2%);
}
.p-mv_btn.in {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
@media screen and (max-width: 767px) {
  .p-mv_btn {
    display: block;
    position: relative;
    bottom: auto;
    left: auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    background: transparent;
    width: auto;
    margin: 30px 0 0;
  }
  .p-mv_btn > a + a {
    margin-top: 10px;
  }
}
.p-mv_btn-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 920px;
  margin: 15px auto 0;
  position: relative;
  bottom: -20px;
}
@media screen and (max-width: 767px) {
  .p-mv_btn-wrap {
    display: block;
    bottom: auto;
  }
}
.p-mv_btn-ttl {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #fff;
  padding: 7px;
  background-color: #000;
  border-radius: 99px;
}
@media screen and (max-width: 767px) {
  .p-mv_btn-ttl {
    font-size: 17px;
  }
}
.p-mv .p-induction_btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  background-color: #094e8a;
  background-image: -webkit-linear-gradient(0deg, #094e8a 0%, #00a1c9 100%);
  background-image: -ms-linear-gradient(0deg, #094e8a 0%, #00a1c9 100%);
  width: 298px;
  height: 52px;
  line-height: 52px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  -webkit-transition: opacity 0.4s cubic-bezier(0.21, 0.6, 0.35, 1), -webkit-transform 0.6s cubic-bezier(0.21, 0.6, 0.35, 1) 1.6s;
  transition: opacity 0.4s cubic-bezier(0.21, 0.6, 0.35, 1), -webkit-transform 0.6s cubic-bezier(0.21, 0.6, 0.35, 1) 1.6s;
  transition: opacity 0.4s cubic-bezier(0.21, 0.6, 0.35, 1), transform 0.6s cubic-bezier(0.21, 0.6, 0.35, 1) 1.6s;
  transition: opacity 0.4s cubic-bezier(0.21, 0.6, 0.35, 1), transform 0.6s cubic-bezier(0.21, 0.6, 0.35, 1) 1.6s, -webkit-transform 0.6s cubic-bezier(0.21, 0.6, 0.35, 1) 1.6s;
}
.p-mv .p-induction_btn:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  border-left: 6px solid #ffffff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
@media screen and (max-width: 767px) {
  .p-mv .p-induction_btn:after {
    right: 10px;
    border-left: 5px solid #ffffff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
}
.p-mv .p-induction_btn:hover {
  opacity: 0.7;
}
.p-mv .p-induction_btn.in {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
@media screen and (max-width: 767px) {
  .p-mv .p-induction_btn {
    width: 211px;
    height: 36px;
    line-height: 36px;
    font-size: 0.75rem;
    right: 10px;
    border-left: 5px solid #ffffff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
}
.p-mv_fixed {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
  z-index: 5;
}
.p-mv_fixed a {
  display: block;
  padding: 16px;
}
.p-mv_fixed a:hover {
  opacity: .6;
}

.p-about {
  position: relative;
  padding: 100px 0;
  margin: 30px 0 0;
}
@media screen and (max-width: 767px) {
  .p-about {
    padding: 0;
    margin-top: 0;
  }
}
.p-about_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .p-about_img {
    box-sizing: border-box;
  }
}
.p-about_img:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../images/2022_bg_about.html");
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 0;
  -webkit-transition: opacity 1.0s ease-in-out, -webkit-transform 1.0s ease-in-out;
  transition: opacity 1.0s ease-in-out, -webkit-transform 1.0s ease-in-out;
  transition: transform 1.0s ease-in-out, opacity 1.0s ease-in-out;
  transition: transform 1.0s ease-in-out, opacity 1.0s ease-in-out, -webkit-transform 1.0s ease-in-out;
}
@media screen and (max-width: 767px) {
  .p-about_img:before {
    -webkit-transition: opacity 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
}
.p-about_img:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: width 1.5s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: width 1.5s cubic-bezier(0.21, 0.6, 0.35, 1);
}
@media screen and (max-width: 767px) {
  .p-about_img:after {
    -webkit-transition: width 0.9s cubic-bezier(0.21, 0.6, 0.35, 1);
    transition: width 0.9s cubic-bezier(0.21, 0.6, 0.35, 1);
  }
}
.p-about_img.in:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.p-about_img.in:after {
  width: 0;
}
.p-about_inner {
  position: relative;
  z-index: 10;
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 50px;
  -webkit-transition: opacity 0.8s ease-in-out 0.4s, -webkit-transform 0.8s ease-in-out 0.4s;
  transition: opacity 0.8s ease-in-out 0.4s, -webkit-transform 0.8s ease-in-out 0.4s;
  transition: opacity 0.8s ease-in-out 0.4s, transform 0.8s ease-in-out 0.4s;
  transition: opacity 0.8s ease-in-out 0.4s, transform 0.8s ease-in-out 0.4s, -webkit-transform 0.8s ease-in-out 0.4s;
  opacity: 0;
}
@media (max-width: 1130px) {
  .p-about_inner {
    margin: 0 10px;
  }
}
@media screen and (max-width: 767px) {
  .p-about_inner {
    padding: 0 0 50px;
    margin-left: 0;
    margin-right: 0;
    background: transparent;
  }
}
.p-about_inner.in {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@media screen and (max-width: 767px) {
  .p-about_inner .c-btn {
    box-sizing: border-box;
    margin-left: 25px;
    margin-right: 25px;
    width: auto;
  }
}
.p-about_title {
  position: relative;
  z-index: 11;
  margin: -43px 0 30px;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 810px) {
  .p-about_title {
    width: 110%;
    margin-left: -5%;
  }
}
@media screen and (max-width: 767px) {
  .p-about_title {
    margin: 0 auto 30px;
    padding-top: 120px;
    padding-right: 10px;
    position: relative;
  }
}
@media (max-width: 350px) {
  .p-about_title {
    width: 114%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.p-about_title span {
  display: inline-block;
  background: #231815;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 8px;
  font-size: 1.875rem;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .p-about_title span {
    padding-top: 7px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .p-about_title span {
    display: inline;
    background: transparent;
    margin-top: 0;
    font-size: 1.375rem;
  }
}
.p-about_title span.line {
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  .p-about_title span.line {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .p-about_title_inner {
    background: #231815;
    padding: 20px 25px;
    text-align: left;
    position: relative;
    z-index: 10;
  }
}
@media screen and (max-width: 767px) {
  .p-about_cont {
    padding: 0 25px;
  }
}
.p-about_cont p {
  color: #333333;
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: bold;
  word-break: normal;
}
@media screen and (max-width: 767px) {
  .p-about_cont p {
    font-size: 1rem;
  }
}
.p-about_cont p + p {
  margin-top: 1em;
}
.p-about_btn {
  background-color: #ffffff;
  max-width: 642px;
  margin: 30px auto 0;
}
@media screen and (max-width: 767px) {
  .p-about_btn {
    margin: 40px auto 0;
  }
}

.p-container {
  position: relative;
  padding: 60px 0;
  z-index: 30;
  overflow: hidden;
}
.p-container:before {
  content: "";
  position: absolute;
  top: -120px;
  left: 50%;
  width: 100%;
  min-width: 1762px;
  height: 700px;
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-2%);
  -ms-transform: translateX(-50%) translateY(-2%);
  transform: translateX(-50%) translateY(-2%);
}
@media screen and (min-width: 1762px) {
  .p-container:before {
    background-size: cover;
    background-position: center bottom;
  }
}
.p-container.in:before {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
}
@media screen and (max-width: 767px) {
  .p-container {
    padding-bottom: 0;
  }
}
.p-container_bg {
  position: relative;
  max-width: 1098px;
  padding: 0 0 50px;
  margin: 0 auto;
}
@media (max-width: 1130px) {
  .p-container_bg {
    margin: 0 10px;
  }
}
.p-container_bg.in {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@media screen and (max-width: 767px) {
  .p-container_bg .l-sec_inner {
    padding: 0 15px;
  }
}
.p-container.-var01 {
  padding-bottom: 120px;
}
.p-container.-var01:before {
  top: auto;
  bottom: -120px;
  background-image: url("../images/2022_bg_outline02.jpg");
}
@media screen and (min-width: 1762px) {
  .p-container.-var01:before {
    background-position: center top;
  }
}
.p-container.-var02:before {
  content: none;
}
.p-container.-var02 .p-container_bg {
  background: #f4f7f2;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.p-outline {
  position: relative;
  z-index: 10;
}

.p-schedule {
  position: relative;
  z-index: 10;
}
.p-schedule-txt {
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .p-schedule .c-table tbody th {
    width: auto;
  }
}

.p-event {
  position: relative;
  z-index: 10;
}

.p-event_title_third {
  padding: 50px 0 0;
  margin-bottom: 40px;
  color: #001e59;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-event_title_third {
    margin-bottom: 30px;
    font-size: 1.375rem;
  }
}
.p-event_title_third > span {
  font-size: 0.9375rem;
}
@media screen and (max-width: 767px) {
  .p-event_title_third > span {
    font-size: 0.8125rem;
  }
}

.p-application {
  background-color: #347E00;
}
.p-application .c-sec_ttl {
  color: #fff;
}
.p-application_cont {
  padding: 30px 0 80px;
}
@media screen and (max-width: 767px) {
  .p-application_cont {
    padding: 20px 0 80px;
  }
}
.p-application_txt {
  margin: 38px 0 0;
  color: #f4f7e1;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.8;
  word-break: normal;
}
@media screen and (max-width: 767px) {
  .p-application_txt {
    margin-top: 0;
    font-size: 1rem;
  }
}
.p-application_btn {
  background-color: #ffffff;
  max-width: 642px;
  margin: 30px auto 0;
  /*width: 48%;
  @include sp {
  	width: 100%;
  	margin-top: 30px;
  }
  &-wrap {
  	max-width: 920px;
  	margin: 30px auto 0;
  	display: flex;
  	justify-content: space-between;
  	@include sp {
  		flex-direction: column;
  		align-items: center;
  		margin: 0 auto;
  	}
  }
  &-ttl {
  	margin-bottom: 10px;
  	font-size: 1.3rem;
  	font-weight: bold;
  	color: #fff;
  	text-align: center;
  	@include sp {
  		font-size: 17px;
  	}
  }*/
}

.p-inquiry_grid {
  background: #50b309;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .p-inquiry_grid {
    display: block;
  }
}
.p-inquiry_grid_col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 50%;
  padding: 50px 20px;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-inquiry_grid_col {
    width: auto;
  }
}
.p-inquiry_grid_col:first-of-type {
  background: #50b309;
}
.p-inquiry_grid_col:first-of-type .p-inquiry_grid_txt {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .p-inquiry_grid_col:first-of-type .p-inquiry_grid_txt {
    margin-top: 20px;
  }
}
.p-inquiry_grid_col:first-of-type .p-inquiry_grid_txt br {
  display: none;
}
@media (max-width: 1076px) {
  .p-inquiry_grid_col:first-of-type .p-inquiry_grid_txt br {
    display: block;
  }
}
.p-inquiry_grid_col:last-of-type {
  background: #45a500;
}
@media screen and (max-width: 767px) {
  .p-inquiry_grid_col:last-of-type .p-inquiry_grid_txt {
    text-align: left;
  }
}
@media (max-width: 1076px) {
  .p-inquiry_grid_col:last-of-type .p-inquiry_grid_txt br {
    display: none;
  }
}
.p-inquiry_grid_title {
  color: #ffffff;
  font-size: 1.75rem;
  line-height: 1.4;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .p-inquiry_grid_title {
    font-size: 1.375rem;
  }
}
.p-inquiry_grid_txt {
  margin: 26px 0 0;
  color: #f4f7e1;
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: bold;
  word-break: normal;
}
@media screen and (max-width: 767px) {
  .p-inquiry_grid_txt {
    font-size: 1rem;
  }
}
.p-inquiry_grid_link {
  display: inline-block;
  padding: 12px 47px;
  margin: 12px 0 0;
  border: 2px solid #f4f7e1;
  border-radius: 23px;
  color: #f4f7e1;
  font-size: 1.125rem;
  line-height: 1.0;
  font-weight: bold;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.p-inquiry_grid_link:hover {
  background: #f4f7e1;
  color: #347E00;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .p-inquiry_grid_link {
    padding: 15px 47px 9px;
  }
}
@media screen and (max-width: 767px) {
  .p-inquiry_grid_link {
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  .p-inquiry_grid_link {
    padding: 11px 32px;
  }
}

.p-point {
  margin-top: 60px;
}
@media screen and (max-width: 1024px) {
  .p-point .l-sec_inner {
    padding: 0 15px;
  }
}
.p-point_title {
  font-size: 1.7rem;
  font-weight: bold;
  color: #00863c;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-point_title {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  .p-point_title {
    font-size: 1.2rem;
  }
}
.p-point_title .color {
  color: #2b6600;
  font-size: 0.6em;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .p-point_title .space {
    display: none;
  }
}
.p-point_list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .p-point_list {
    flex-direction: column;
    align-items: center;
  }
}
.p-point_list li {
  max-width: 316px;
  position: relative;
  z-index: 0;
}
.p-point_list li + li {
  margin-left: 40px;
}
@media screen and (max-width: 767px) {
  .p-point_list li + li {
    margin-left: 0;
    margin-top: 20px;
  }
}
.p-point_list li:nth-child(1):before, .p-point_list li:nth-child(1):after, .p-point_list li:nth-child(2):before, .p-point_list li:nth-child(2):after {
  content: "";
  position: absolute;
  top: 43%;
  background-color: #00863c;
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .p-point_list li:nth-child(1):before, .p-point_list li:nth-child(1):after, .p-point_list li:nth-child(2):before, .p-point_list li:nth-child(2):after {
    content: none;
  }
}
.p-point_list li:nth-child(1):before, .p-point_list li:nth-child(2):before {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-point_list li:nth-child(1):before, .p-point_list li:nth-child(2):before {
    width: 12px;
    height: 12px;
  }
}
.p-point_list li:nth-child(1):after, .p-point_list li:nth-child(2):after {
  width: 80%;
  height: 3px;
  z-index: -1;
}
.p-point_list li:nth-child(1):before, .p-point_list li:nth-child(1):after {
  left: 93%;
  transform: translate(-50%, -50%);
}
.p-point_list li:nth-child(2):before {
  right: 93%;
  transform: translate(50%, -50%);
}
.p-point_list li:nth-child(2):after {
  content: none;
}

.p-news {
  margin: 60px 0;
}
@media screen and (max-width: 767px) {
  .p-news {
    margin: 30px 0;
  }
}
.p-news_inner {
  background-color: #EAF4EC;
  padding-top: 40px;
  padding-bottom: 40px;
}
.p-news_title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.p-news_text p {
  margin-bottom: 20px;
  line-height: 1.8;
}
.p-news_text .tac {
  text-align: center;
  margin-top: 30px;
}
.p-news_text .txt_ul {
  text-decoration: underline;
  font-weight: bold;
}
