
/* ----------------------------------------
	public
---------------------------------------- */

#pages_header {
	background: url(../img/common/pages_header_bg_public.png) no-repeat;
}

#pankuzu,
#pankuzu a,
#pages_footer li,
#pages_footer li a{
	color: #D20000;
}

#pankuzu,
.section {
	border-bottom: 1px dotted #D20000;
}

h2,
#attention,
#stageshow,
#stamprally,
#kidspark,
#event {
	display: block;
	text-indent: -9999px;
}


h2 {
	width: 369px;
	height: 60px;
	background: url(../img/public/h2.gif) no-repeat;
	float: left;
}

#sub_nav {
	float:right;
}

#attention {
	width: 100px;
	height: 23px;
	background: url(../img/public/sub_nav_attention.gif) no-repeat;
	margin-bottom:10px;
}

#attention:hover {
	width: 100px;
	height: 23px;
	background: url(../img/public/sub_nav_attention_ov.gif) no-repeat;
}

#stageshow {
	width: 114px;
	height: 12px;
	background: url(../img/public/sub_nav_stageshow.gif) no-repeat;
	margin-bottom:10px;
}

#stageshow:hover {
	width: 114px;
	height: 12px;
	background: url(../img/public/sub_nav_stageshow_ov.gif) no-repeat;
}

#stamprally {
	width: 114px;
	height: 13px;
	background: url(../img/public/sub_nav_stamprally.gif) no-repeat;
	margin-bottom:10px;
}

#stamprally:hover {
	width: 114px;
	height: 13px;
	background: url(../img/public/sub_nav_stamprally_ov.gif) no-repeat;
}

#kidspark {
	width: 99px;
	height: 12px;
	background: url(../img/public/sub_nav_kidspark.gif) no-repeat;
	margin-bottom:5px;
}

#kidspark:hover {
	width: 99px;
	height: 12px;
	background: url(../img/public/sub_nav_kidspark_ov.gif) no-repeat;
}

#event {
	width: 127px;
	height: 20px;
	background: url(../img/public/sub_nav_event.gif) no-repeat;
}

#event:hover {
	width: 127px;
	height: 20px;
	background: url(../img/public/sub_nav_event_ov.gif) no-repeat;
}

.current #attention:hover {
	background: url(../img/public/sub_nav_attention.gif) no-repeat;
}

.current #stageshow:hover {
	background: url(../img/public/sub_nav_stageshow.gif) no-repeat;
}

.current #stamprally:hover {
	background: url(../img/public/sub_nav_stamprally.gif) no-repeat;
}

.current #kidspark:hover {
	background: url(../img/public/sub_nav_kidspark.gif) no-repeat;
}

.current #event:hover {
	background: url(../img/public/sub_nav_event.gif) no-repeat;
}


/* ----------------------------------------
	attention
---------------------------------------- */

h3 {
	display:block;
	text-indent:-9999px;
}

#attention_01 {
	width: 214px;
	height: 24px;
	background: url(../img/public/h3_attention_01.gif) no-repeat;
	margin-bottom:10px;
}

#attention_02 {
	width: 316px;
	height: 23px;
	background: url(../img/public/h3_attention_02.gif) no-repeat;
	margin-bottom:10px;
}

#attention_03 {
	width: 348px;
	height: 25px;
	background: url(../img/public/h3_attention_03.gif) no-repeat;
	margin-bottom:10px;
}

#attention_04 {
	width: 249px;
	height: 25px;
	background: url(../img/public/h3_attention_04.gif) no-repeat;
	margin-bottom:10px;
}

#attention_05 {
	width: 400px;
	height: 24px;
	background: url(../img/public/h3_attention_05.gif) no-repeat;
	margin-bottom:10px;
	margin-bottom:10px;
}

#attention_06 {
	width: 231px;
	height: 23px;
	background: url(../img/public/h3_attention_06.gif) no-repeat;
	margin-bottom:10px;
}

#attention_07 {
	width: 265px;
	height: 23px;
	background: url(../img/public/h3_attention_07.gif) no-repeat;
	margin-bottom:10px;
}

#attention_08 {
	width: 247px;
	height: 22px;
	background: url(../img/public/h3_attention_08.gif) no-repeat;
	margin-bottom:10px;
}


/* ----------------------------------------
	stageshow
---------------------------------------- */

#stageshow_01 {
	width: 114px;
	height: 14px;
	background: url(../img/public/h3_stageshow_01.gif) no-repeat;
	margin-bottom:10px;
}

#stageshow_02 {
	width: 30px;
	height: 23px;
	background: url(../img/public/h3_stageshow_02.gif) no-repeat;
	margin-bottom:10px;
}

#stageshow_03 {
	width: 165px;
	height: 14px;
	background: url(../img/public/h3_stageshow_03.gif) no-repeat;
	margin-bottom:10px;
}

.font_attention{font-size:14px;}


/* ----------------------------------------
	stamprally
---------------------------------------- */

#stamprally_01 {
	width: 114px;
	height: 15px;
	background: url(../img/public/h3_stamprally_01.gif) no-repeat;
	margin-bottom:10px;
}

#stamprally_02 {
	width: 64px;
	height: 25px;
	background: url(../img/public/h3_stamprally_02.gif) no-repeat;
	margin-bottom:10px;
}

#stamprally_03 {
	width: 64px;
	height: 24px;
	background: url(../img/public/h3_stamprally_03.gif) no-repeat;
	margin-bottom:10px;
}

.margin_bottom {
margin-bottom:10px;	
	
}


/* ----------------------------------------
	kidspark
---------------------------------------- */

#kidspark_01 {
	width: 97px;
	height: 15px;
	background: url(../img/public/h3_kidspark_01.gif) no-repeat;
	margin-bottom:10px;
}

#kidspark_02 {
	width: 64px;
	height: 25px;
	background: url(../img/public/h3_stamprally_02.gif) no-repeat;
	margin-bottom:10px;
}

#kidspark_03 {
	width: 64px;
	height: 24px;
	background: url(../img/public/h3_stamprally_03.gif) no-repeat;
	margin-bottom:10px;
}

.margin_bottom_kidspark {
margin-bottom:10px;
}

.attention_red{
	color:#FF0000;
	font-size:10px;
}


/* ----------------------------------------
	event
---------------------------------------- */

#event_list {
	width:525px;
	margin: 0 14px 0 15px;
}

#event_list .base{
	background-color:#FCD9D9;
	padding:20px 10px;
	width:505px;
}
.wrapper_booth {
	margin-bottom:20px;
}

.title_booth {
	background:#D20000;
	padding:3px 10px;
	font-weight:bold;
	font-size:14px;
}

.title_booth .name_number {
	float:left;
	color:#ffffff;
}

.title_booth .homepage {
	float:right;
	color:#ffffff;
}

.title_booth .homepage a { color:#ffffff; }
.title_booth .homepage a:hover { color:#ffffff; }


.detail_event {
	width:485px;
	margin:10px 10px 0 10px;
}

.detail_event th {
	text-align:left;
	vertical-align:top;
	width:50px;
	font-weight:bold;
}

.detail_event td {
	text-align:left;
	vertical-align:top;
	width:435px;
}

.detail_event .eventname {
	width:485px;
	color:#D20000;
	font-weight:bold;
	font-size:14px;
	padding-bottom:5px;
}

.inborder {
	margin:10px 0 0 10px;
}
