
/* ----------------------------------------
	sitemap
---------------------------------------- */

h2 {
	width: 188px;
	height: 27px;
	background: url(../img/sitemap/h2.gif) no-repeat;
	display: block;
	text-indent: -9999px;
	margin-bottom:40px;
}

#sitemap_list {
	margin:auto;
}

#sitemap_list td {
	padding:2px 20px 2px 2px;
	vertical-align:top;
	text-align:left;
	line-height:1.8em;
}


#sitemap_list tr.end td {
	padding:2px 20px 15px 2px;
	vertical-align:top;
	text-align:left;
	line-height:1.8em;
}

#sitemap_list tr.category td {
	padding:2px 20px 2px 2px;
	vertical-align:top;
	text-align:left;
	line-height:1.5em;
}

#sitemap_list tr.category_end td {
	padding:2px 20px 15px 2px;
	vertical-align:top;
	text-align:left;
	line-height:1.5em;
}


