

/*   /exhibition/support/index.html
/*	 出展以外のサービス
------------------------*/


/*   MainArea
------------------------*/
p,img{
margin:0;
}
h4{
font-weight:bold;
font-size:14px;
margin:0 0 10px;
}

table{
font-size:10px;
}

.t1{
font-size:12px;
border-bottom:solid 1px #000000;
}

.t1 td{
padding: inherit 3px;
border-top:solid 1px #000000;
line-height:1.2em;
}

td{
margin:0;
}

h5{
font-weight:bold;
font-size:11px;
margin:0 0 2px;
}

table.t2 td{
border-top:solid 1px #000000;
}

table.t2{
border-bottom:solid 1px #000000;
}

.name{
background-color:#eeeeee;
padding-left:5px;
padding-right:5px;
}

#cont1,#cont2_t1{
float:left;
display:inline;
}

#cont2{
margin-left:430px;
}

#cont2_t2{
margin-left:203px;
}

p.kome{
font-size:10px;
line-height:1.6em;
margin-top:3px;
}

.imgDate{
margin-bottom:30px;
}

#businessday{
float:left;
}

.btRed{
margin-bottom:40px;
padding:0;
}

#btRed{
text-align:center;
}

#contentsWrap{
padding:0 10px;
}

.red{
color:#FF0000;
}

.pagetop{
margin:0px 20px 20px 0px;
}