@charset "utf-8";
/*
===========================================================================

	Title : JP / base.css

===========================================================================
*/
@import url(../../../../../../../fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/* *************************************************************
*
*	PC view
*	
************************************************************ */

*{
	box-sizing: border-box;
	}
#wrapper {
	background-image: url(../../../common/images/pc_background.png);
	background-position: center top;
	/*background-attachment: fixed;
	background-size: cover;*/
}
.pcBlc {
	display: block;
}
.spBlc {
	display: none;
}
.flL{
	float: left;
	}
.flR{
	float: right;
	}
.clear {
	overflow: hidden;
	_zoom: 1;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/* 共通項目 */
.txt10 {
	font-size: 10px;
}
.txt11 {
	font-size: 11px;
}
.txt12 {
	font-size: 12px;
}
.cTxt {
	text-align: center;
}
.rTxt {
	color: #cf1f03;
}
.ulTxt {
	text-decoration: underline;
}
.mt20 {
	margin-top: 20px!important;
}
.mb0{
	margin-bottom: 0px!important;
	}
.mb20 {
	margin-bottom: 20px!important;
}
.pd0{
	padding:0!important;
	}
.pcml20 {
	margin-left: 20px;
}
.fixed {
	position: fixed !important;
	top: 0;
}
.taC{
	text-align:center;
	}
.taL{
	text-align:left;
	}
.taR{
	text-align:right;
	}
.indent{
	text-indent:-1em;
	margin-left:1em;
	}
.inner{
	width: 980px;
	margin: auto;
	}
#wrapper .cntBox .boxInner p {
	margin-bottom: 20px;
}

/*リンク*/

a{
	transition:opacity .5s ease;
	}
a:hover{
	filter: alpha(opacity=70);
	opacity: 0.7;
	}

#wrapper .cntBox .boxInner .link a {
	background: url(../../../common/images/arrow_bl.png) no-repeat 2px center;
	background-size: 8px auto;
	padding-left: 10px;
	font-weight: normal;
}
#wrapper .cntBox .boxInner .link2 a {
	background: url(../../../common/images/arrow2_bl.png) no-repeat 1px center;
	background-size: 12px auto;
	padding-left: 15px;
	font-weight: normal;
}
.linkBtn {
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
.linkBtn a{
	padding:20px 10px 0px 25px;
	color:#fff;
	box-shadow: 3px 3px 0px 0 rgba(221,221,221,1);
	text-decoration:none;
	border-radius: 5px;
	font-weight: bold;
	background: #1e51a2 url(../../../common/images/arrow_wh.png) no-repeat 20px center;
	background-size: 10px auto;
	}

/*赤枠テキスト*/
.attention {
	border: 1px solid #cf1f03;
	color: #cf1f03;
	padding: 10px 15px 10px 10px;
	margin-bottom: 10px;
	display: inline-block;
}
/* リスト関係 */
#wrapper .cntBox .boxInner .number li {
	list-style-type: decimal;
	margin-left: 20px;
}
#wrapper .cntBox .boxInner .dotli li {
	text-indent: -1em;
	padding-left: 1em;
	margin-bottom: 10px;
	line-height: 1.4;
}

/* PC_header
---------------------------------------------------------------- */
#header {
/*	padding: 25px 0 20px;*/
	padding: 25px 0 13px;
	background-color: rgba(255, 255, 255, .8);
/*	height: 158px;*/
	position: relative;
	box-shadow: 3px 3px 8px rgba(7,0,2,.13);
}

#header a{
	color:#000;
	text-decoration: none;
	}
#header .headerInnerL{
	/*width: 572px;*/
	float: left;
	}
#header .headerInnerL th{
	padding-right: 15px;
	}
#header .headerInnerL tr:first-child td{
	height: 40px;
}
#header .headerInnerL tr:first-child td img{
	margin-right: 15px;
	}
#header .headerInnerL td .toplogo{
	padding-top: 4px;	
}
#header .headerInnerL .topmark.pcBlc{
	display: inline-block;
}
/*#header .headerInnerL tr:first-child td{
	vertical-align: top;
}*/
#header .headerInnerL tr:nth-child(2) td{
	vertical-align: middle;
	}
#header .headerInnerR{
	float: right;
	position: relative;
	width:360px;
	}
#header .lngBtn{
	position: relative;
	top: 6px;
	clear: both;
	padding-bottom:20px;
}
#header .lngBtn li{
	padding: 0 .5em 0;
	border-right: 1px solid #000;
	display: inline-block;
	line-height: 1;
	text-align: center;
	font-size: 15px;
	}
#header .lngBtn li:first-child{
	padding-left: 0;
	}
#header .lngBtn li:last-child{
	padding-right: 0;
	border: none;
	}
#header .lngBtn span{
	padding: 0px 7px;
	background: #eee;
	border-radius: 3px;
	}
#header .supportArea{
	margin: 14px 115px 0 0;
	float: right;
}
#header .supportArea li{
	display: inline-block;
	}
#header .headLink{
	position: absolute;
	right: 0;
	top: 3px;
	}

/*yahoo検索*/
#srchBox {
	position: absolute;
	top: 3px;
	left: 102px;
	width: 148px;
	_width: 148px;
	height: 26px;
	background-color: #FFFFFF;
	border: #aaaaaa 1px solid;
	color: #000000;
	vertical-align: middle;
	overflow: hidden;
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Safari,Google Chrome用 */
	-moz-border-radius: 3px; /* Firefox用 */
}


#srchBox #srchForm {
	white-space:nowrap;
	margin: 0;
	padding: 0;
}

/* 検索窓 */
#srchBox #srchInput {
	width:125px;
	height: 20px;
	vertical-align:bottom;
	line-height: 22px;
}

/*検索アイコン*/
#srchBox #srchBtn {
	width:14px;
	height: 13px;
	margin-top:4px;
	*padding-top: 2px;
}

/*検索 watermark*/
#srchBox.watermark #srchInput{
	padding: 1px 1px 7px 1px;
	border:none;
	background: #fff url(../../../common/images/yjlogo_type4.gif) center no-repeat;
	*background: #fff url(../../../common/images/yjlogo_type4.gif) center no-repeat;
}

/*#srchBox #srchInput.nomark {
	background: none;
}*/

div#srchBox img {	/* yahoo serch tracking ID display */
	display: none;
}

/*検索結果*/
#searchResults {
	background:#FFF;
	width:980px;
	margin: 25px auto;
	padding:20px;
}

/*google翻訳*/
#googleTranslate {
	position: absolute;
	top: 4px;
	left: -10px;
	width: 108px;
	_width: 108px;
	height: 25px;
	background-color: #FFFFFF;
	border: #aaaaaa 1px solid;
	color: #000000;
	vertical-align: middle;
	overflow: hidden;
}

.goog-te-menu-value span {
	font-size:11px;
}

.goog-te-gadget-simple {
	border:none !important;
}


/* PC .mainCont　コンテンツエリア
---------------------------------------------------------------- */

#wrapper .mainCont {
	width: 980px;
	margin: 25px auto 120px;
	position: relative;
	z-index:99;
}
body:not(#index) #wrapper .mainCont h2 {
	padding: 0 15px;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: bold;
	font-weight: 700;
	font-size: 20px;
	letter-spacing:-1px;
	word-break: break-word;
	line-height:1.1;
	position: relative;
	text-align: center;
	color: #fff;
	background: #f9a11f;
}
body:not(#index) #wrapper .mainCont h2 span{
	padding: 12px 0 15px 40px;
	background: url(../../../common/images/ico_h2.png) no-repeat left center;
	background-size: 32px;
	display: inline-block;
}
body:not(#index) #wrapper .mainCont h2:after{
	content:"▼";
	position: absolute;
	left: 310px;
	bottom: -18px;
	display: block;
	font-size: 30px;
	transform: scale( 1 , 0.7 );
	color: #f9a11f;
}

/*下層ページ色設定	*/
	
#visitor:not(#index) #wrapper .mainCont h2{
	background: #fc5959;
	}
#visitor:not(#index) #wrapper .mainCont h2:after{
	color: #fc5959;
	}
#map:not(#index) #wrapper .mainCont h2{
	background: #4ec3f8;
	}
#map:not(#index) #wrapper .mainCont h2:after{
	color: #4ec3f8;
	}
#event:not(#index) #wrapper .mainCont h2{
	background: #885ffc;
	}
#event:not(#index) #wrapper .mainCont h2:after{
	color: #885ffc;
	}	
#family:not(#index) #wrapper .mainCont h2{
	background: #f1b719;
	}
#family:not(#index) #wrapper .mainCont h2:after{
	color: #f1b719;
	}
#press:not(#index) #wrapper .mainCont h2{
	background: #fb588f;
	}
#press:not(#index) #wrapper .mainCont h2:after{
	color: #fb588f;
	}
#beginner:not(#index) #wrapper .mainCont h2{
	background: #56e274;
	}
#beginner:not(#index) #wrapper .mainCont h2:after{
	color: #56e274;
	}
	
#wrapper .mainCont h3 {
	margin-bottom: 20px;
	padding: 12px 10px;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: bold;
	font-weight: 500;
	font-size: 20px;
	letter-spacing:-1px;
	line-height: 1.1;
	word-break: break-word;
	border-left: solid 4px #f78e1a;
}

/*下層ページ色設定	*/

#visitor #wrapper .mainCont h3{
	border-left: solid 4px #fc5959;
}

#map #wrapper .mainCont h3{
	border-left: solid 4px #4ec3f8;
}

#event #wrapper .mainCont h3{
	border-left: solid 4px #885ffc;
}

#family #wrapper .mainCont h3{
	border-left: solid 4px #f1b719;
}

#press #wrapper .mainCont h3{
	border-left: solid 4px #fb588f;
}

#beginner #wrapper .mainCont h3{
	border-left: solid 4px #56e274;
}

#wrapper .mainCont h4 {
	padding: 2px 0 2px 28px;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: bold;
	font-weight: 500;
	font-size: 18px;
	letter-spacing:-1px;
	margin: 0 0px 25px;
	line-height: 1.1;
	word-break: break-word;
	background: url(../../../common/images/motif_top.png) no-repeat left 3px;
	background-size: 22px auto;
}

/* PC .cntBox
---------------------------------------------------------------- */
#wrapper .cntBox {
	width: 650px;
	float: left;
	margin-right: 0px;
	padding-bottom: 20px;
	background: #fff;
}
#wrapper .cntBox .boxInner {
	padding: 20px 20px 20px 20px;
}

/* 区切り線 */
#wrapper .cntBox .boxInner hr {
	background: #ccc;
	border: none;
	height: 1px;
	margin: 20px auto 20px;
}

/* PC .cntBox table
---------------------------------------------------------------- */
#wrapper .cntBox .boxInner table {
	width: 100%;
	margin: 0 auto 20px;
}
#wrapper .cntBox .boxInner table, #wrapper .cntBox .boxInner table th, #wrapper .cntBox .boxInner table td {
	border: 1px solid #dddddd;
}
#wrapper .cntBox .boxInner table th {
	padding: 16px;
	background: #efefef;
	text-align: left;
	font-weight: normal;
	width: 25%;
}

#wrapper .cntBox .boxInner table th span {
	padding: 0px 5px;
	background: #5ab7ac;
	color: #FFF;
	font-weight: normal;
	display: block;
	text-align: center;
	margin-bottom: 6px;
	display: table-cell;
}
#wrapper .cntBox .boxInner table td {
	padding: 16px;
}
#wrapper .cntBox .boxInner table td a {
	font-weight: bold;
	margin-right: 3px;
}

/* PC .boxInner pagetop　コンテンツ内pagetop
---------------------------------------------------------------- */

#wrapper .cntBox .boxInner .pagetop {
	text-align: right;
}
#wrapper .cntBox .boxInner .pagetop a {
	position: relative;
	display: inline-block;
	width:85px;
}
#wrapper .cntBox .boxInner .pagetop a:before {
	top: 5px;
	right: 58px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(12, 146, 226, 0);
	border-bottom-color: #0078ba;
	border-width: 5px;
	margin-left: -5px;
}

/* 各ページ共通pagetop
---------------------------------------------------------------- */

.common_pagetop{
	position: absolute;
	position: fixed\9;
	z-index: 999;
	right: 30px;
	bottom: 70px;
	/*position: fixed;
	bottom: 40px;
	right: 40px;*/
}

/* PC .mainCont .subMenu　サブナビ
---------------------------------------------------------------- */
#wrapper .mainCont .subArea {
	width: 300px;
	float: right;
	display: block;
}

/* レクタングルバナー
---------------------------------------------------------------- */
#wrapper .mainCont .subArea ul li{
	margin-bottom: 10px;
}
#wrapper .rectangle li {
	min-width: 300px;
	min-height: 250px;
	margin-bottom: 28px;
	background: url(../../../common/images/bnr_bg.png) no-repeat center bottom;
}


/* PC footer
---------------------------------------------------------------- */

#footer {
/*	padding-top: 50px;*/
	background: #e5e5e5;
	text-align: center;
	}
#footer .sitemap{
	width: 730px;
	margin: 55px auto;
	overflow: hidden;
	}
#footer dl{
	margin-bottom: 35px;
	text-align: left;
	}
#footer dt{
	font-size: 14px;
	font-weight: bold;
	}
#footer dd a{
	padding-left: 1em;
	font-size: 12px;
	color: #000;
	background: url(../../../common/images/arrow_bk.png) no-repeat 2px 7px;
	background-size: 4px;
	display: inline-block;
	}
#footer dd a[target="_blank"]{
	padding-left: 15px;
	background: url(../../../common/images/arrow2_bk.png) no-repeat left center;
	background-size: 12px;
	}
#footer .sitemap div{
	width: 243px;
	float: left;
	}
#footer ul.partner{
	margin-bottom: 30px;
	}
#footer ul.partner li {
	display: inline-block;
	margin: 0 15px;
	vertical-align: middle;
}
.footerBtm{
	padding: 10px;
	background: #000;
	color: #fff;
	
	}

/*SNS*/

#footer ul.snsArea{
	float:right;
	text-align:right;
	margin:20px 30px 30px 0;
}
#footer ul.snsArea li{
	border-bottom: none;
	float:left;
}
#footer ul.snsArea li a{
	margin-right: 5px;
	display: inline-block;
}
#footer ul.snsArea a:not(:first-child){
	text-indent: 0;
}

/* *************************************************************
*
*	SP view
*	
************************************************************ */

@media screen and (max-width:769px) {

#wrapper{
	width: 100%;
	overflow-x: hidden;
}

/* SP用広告バナー　センタリング
--------------------------------------------------- */
#div-gpt-ad-1464164530480-0{
	padding: 10px 0;
	background: #fff;
	text-align: center;
	}

#wrapper{
	background-image: url(../../../common/images/sp_background.gif) repeat-y;
	background-position: center top;
	}
.pcBlc {
	display: none;
}
.spBlc {
	display: block;
}
.inner{
	width: 95%;
	}
img.fit{
	width: 100%;
	}
a:hover{
	filter: alpha(opacity=100);
	opacity: 1;
	}
.flL{
	float: none;
	}
.flR{
	float: none;
	}
.pcml20 {
	margin-left: 0px;
}
/* リスト関係 */
#wrapper .cntBox .boxInner .dotli li {
	margin-left: 0;
}
#wrapper .cntBox .boxInner .number {
	margin: 5px;
	font-size: 12px;
	border: 1px solid #ccc;
}
#wrapper .cntBox .boxInner .number li {
	margin-left: 20px;
	margin-bottom: 8px;
}
/*リンク*/
#wrapper .cntBox .boxInner .link a {
	background: url(../../../common/images/arrow_bl.png) no-repeat 4px center;
	background-size: 6px auto;
	padding-left: 10px;
	font-weight: normal;
}
.linkBtn {
	width: auto;
}

/* SP #header
--------------------------------------------------- */

#header {
	padding: 8px 0;
	height: auto;
	border-top: 1px solid #eee;
}
#header .headerInnerL th{
	padding-right: 8px;
}
#header .headerInnerL td{
	padding-top: 2px;	
}
#header .headerInnerL th img{
	width: 37px;
}
#header .headerInnerL tr:first-child td{
	height: auto;
	vertical-align: top;
	padding-top: 0;
}
#header .headerInnerL tr:first-child td img{
	margin-right: 8px;
}
#header .headerInnerL .toplogo{
	width: 228px;
}
#header .headerInnerL .topmark.pcBlc{
	display: none;
}
#header .headerInnerL .topmark.spBlc{
	width: 62px;
	display: inline-block;
}
#header .headerInnerL .date.spBlc{
	width: 165px;
	padding: 2px 0 0 5px;
	display: inline-block;
}
#header .spmenuBtn{
	width: 22px;
	margin-top: 7px;
}

#header .headerInnerR {
	width:auto;
}

/*yahoo検索*/
#srchBox {
	position: absolute;
	top: 15px;
	left: 85px;
	width: 70%;
	_width: 70%;
	height: 26px;
	background-color: #FFFFFF;
	border: #aaaaaa 1px solid;
	color: #000000;
	vertical-align: middle;
	overflow: hidden;
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Safari,Google Chrome用 */
	-moz-border-radius: 3px; /* Firefox用 */
}

/* 検索窓 */
#srchBox #srchInput {
	width:90%;
	height: 20px;
	vertical-align:bottom;
	line-height: 22px;
}

/*検索結果*/
#searchResults {
	background:#FFF;
	width:90%;
	margin: 25px auto;
	padding:10px;
}

div#contents-header div.main {
	width:73% !important;
}


/*google翻訳*/
#googleTranslate_sp {
	position:static;
	top: auto;
	left: auto;
	width:80%;
	_width: 80%;
	height:30px;
	margin:10px 0 0 85px;
	padding:0;
	color: #000000;
	vertical-align: middle;
	overflow: hidden;
	border:none;
}


.goog-te-menu-value span {
	font-size:14px;
}


	
/* SP .mainCont
---------------------------------------------------------------- */
#wrapper .mainCont {
	width: 100%;
	margin: 0 auto;
	padding: 5% 0 0;
}
body:not(#index) #wrapper .mainCont h2 {
	font-size: 16px;
}
body:not(#index) #wrapper .mainCont h2:after{
	left: 43%;
	left: -webkit-calc(50% - 15px);
	left: calc(50% - 15px);
}
#wrapper .mainCont h3 {
	font-size: 18px;
}
#wrapper .mainCont h4{
	padding: 2px 0 2px 28px;
	font-size: 16px;
	background: url(../../../common/images/motif_top.png) no-repeat left 2px;
	background-size: 20px auto;
	}

/* SP .cntBox
---------------------------------------------------------------- */
#wrapper .cntBox {
	width: 95%;
	min-height:100px;
	float: none;
	margin: 0 auto;
	padding-bottom: 10px;
	position: relative;
}
#wrapper .cntBox .boxInner {
	padding: 20px 10px 10px;
}
/* table */
#wrapper .cntBox .boxInner table {
	width: 100%;
}
#wrapper .cntBox .boxInner table, #wrapper .cntBox .boxInner table th, #wrapper .cntBox .boxInner table td {
	border: none;
}
#wrapper .cntBox .boxInner table th {
	display: block;
	padding: 10px 0px 10px 10px;
	font-size: 14px;
	width: auto;
}
#wrapper .cntBox .boxInner table th span {
	padding: 0px 5px;
	color: #FFF;
	font-weight: normal;
	display: inline-block;
	text-align: center;
	margin: 0px 6px 0;
}
#wrapper .cntBox .boxInner table td {
	padding: 10px 10px 15px;
	font-size: 14px;
	line-height: 20px;
	display: block;
}


/* SP .mainCont .subArea　サブメニュー
---------------------------------------------------------------- */
#wrapper .mainCont .subArea {
	width: 100%;
	margin: 5% 0;
	float: none;
	display: block;
}

/* PC .boxInner pagetop　コンテンツ内pagetop
---------------------------------------------------------------- */

#wrapper .cntBox .boxInner .pagetop a:before {
	right: 52px;
}

/* SP footer
---------------------------------------------------------------- */
#footer{
	padding-top: 30px;
}
#footer .btmlogo{
	width: 80%;	
	margin: 0 auto 20px;
}
#footer ul.partner li{
	margin: 0 5px;
}
#footer .footerBtm p{
	line-height: 1.2;
}

/*SNS*/

li.pr.spBlc.snsArea{
	position:static;
	top:auto;
	right:auto;
	margin-top:50px;
	border:none;
}

li.snsArea a{
	margin-right: 5px;
	display: inline-block;
	float:left;
}
.snsArea a:not(:first-child){
	text-indent: 0;
}

}