@charset "utf-8";

/* PC Global navi /public/zh-CN/
---------------------------------------------------------------- */
#wrapper #globalmenu .gm {
	width: 980px;
	height: 48px;
	margin: 12px auto 0;
	clear: both;
	display: block;
/*	position: absolute;
	top: 85px;*/
}
#wrapper #globalmenu .gm #gmHome .pr-btn, 
#wrapper #globalmenu .gm #gmVisitor .pr-btn, 
#wrapper #globalmenu .gm #gmMap .pr-btn, 
#wrapper #globalmenu .gm #gmEvent .pr-btn, 
#wrapper #globalmenu .gm #gmFamily .pr-btn, 
#wrapper #globalmenu .gm #gmPress .pr-btn, 
#wrapper #globalmenu .gm #gmBeginner .pr-btn {
	background: url(../images/pc_nav_cn.png) no-repeat;
}

/* ボタン全体の指定 */
#wrapper #globalmenu .gm li.pr {
	float: left;
	display: block;
	position: relative;
	margin-right: 1px;
}
#wrapper #globalmenu .gm li.pr.spBlc {
	display: none;
}
#wrapper #globalmenu .gm li.pr:last-child {
	margin-right: 0;
}
/* 一般公開日にご来場の方へ */
#wrapper #globalmenu .gm #gmVisitor {
	width: 195px;
}
#wrapper #globalmenu .gm #gmVisitor .pr-btn {
	background-position: 0px 0px;
	width: 195px;
}
#visitor #wrapper #globalmenu .gm #gmVisitor .pr-btn {
	background-position: 0px -48px;
}
/* 出展社一覧/会場MAP */
#wrapper #globalmenu .gm #gmMap {
	width: 195px;
}
#wrapper #globalmenu .gm #gmMap .pr-btn {
	background-position: -196px 0px;
	width: 195px;
}
#map #wrapper #globalmenu .gm #gmMap .pr-btn {
	background-position: -196px -48px;
}
/* 注目イベント */
#wrapper #globalmenu .gm #gmEvent {
	width: 195px;
}
#wrapper #globalmenu .gm #gmEvent .pr-btn {
	background-position: -392px 0px;
	width: 195px;
}
#event #wrapper #globalmenu .gm #gmEvent .pr-btn {
	background-position: -392px -48px;
}
/* プレスの方へ */
#wrapper .gm #gmPress {
	width: 195px;
}
#wrapper #globalmenu .gm #gmPress .pr-btn {
	background-position: -588px 0px;
	width: 195px;
}
#press #wrapper #globalmenu .gm #gmPress .pr-btn {
	background-position: -588px -48px;
}
/* 初めてのかたへ／お問い合わせ */
#wrapper #globalmenu .gm #gmBeginner {
	width: 196px;
	margin-right: 0;
}
#wrapper #globalmenu .gm #gmBeginner .pr-btn {
	background-position: -784px 0px;
	width: 196px;
}
#beginner #wrapper #globalmenu .gm #gmBeginner .pr-btn {
	background-position: -784px -48px;
}
/* ボタン全体のa指定 */
#wrapper #globalmenu .gm .pr .pr-btn {
	display: block;
	height: 48px;
	overflow: hidden;
	text-indent: -9999px;
	margin: 0;
}
/* -------------------------
	ドロップダウン
 ------------------------- */
 
.megaMenu {
	width: 100%;
	/*height: 120px;*/
	display: none;
	position: absolute;
/*	top: 145px;*/
	background-color: rgba(255, 255, 255, .8);
	z-index: 999;
}
.megaMenu ul {
	width: 980px;
	margin: auto;
	padding: 50px 0;
}
.megaMenu li {
	margin-right: 20px;
	display: inline-block;
	font-weight: bold;
}
.megaMenu li a{
	padding-left: 10px;
	background: url( ../../../common/images/arrow_bk.png) no-repeat left 7px;
	background-size: 5px;
	font-size: 15px;
}
.megaMenu li a[target="_blank"]{
	padding-left: 18px;
	background: url(../../../common/images/arrow2_bk.png) no-repeat left 5px;
	background-size: 12px auto;
}
#globalmenu ul.gm li.pr ul {
	display: none;
}
.mm1 {
	background-color: #fcdddd;
	background-image: -moz-linear-gradient( 90deg, rgb(255,56,56) 0%, rgb(255,56,56) 3%, rgb(252,221,221) 3%, rgb(252,221,221) 97%, rgb(255,56,56) 97%, rgb(255,56,56) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgb(255,56,56) 0%, rgb(255,56,56) 3%, rgb(252,221,221) 3%, rgb(252,221,221) 97%, rgb(255,56,56) 97%, rgb(255,56,56) 100%);
 	background-image: -ms-linear-gradient(rgb(255,56,56) 0%, rgb(255,56,56) 3%, rgb(252,221,221) 3%, rgb(252,221,221) 97%, rgb(255,56,56) 97%, rgb(255,56,56) 100%);
}
.mm2 {
	background-color: #e7f6fc;
	background-image: -moz-linear-gradient( 90deg, rgb(62,181,246) 0%, rgb(62,181,246) 3%, rgb(231,246,252) 3%, rgb(231,246,252) 97%, rgb(62,181,246) 97%, rgb(62,181,246) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgb(62,181,246) 0%, rgb(62,181,246) 3%, rgb(231,246,252) 3%, rgb(231,246,252) 97%, rgb(62,181,246) 97%, rgb(62,181,246) 100%);
 	background-image: -ms-linear-gradient( 90deg, rgb(62,181,246) 0%, rgb(62,181,246) 3%, rgb(231,246,252) 3%, rgb(231,246,252) 97%, rgb(62,181,246) 97%, rgb(62,181,246) 100%);
}
.mm3 {
	background-color: #e4dcfc;
	background-image: -moz-linear-gradient( 90deg, rgb(120,80,251) 0%, rgb(120,80,251) 3%, rgb(228,220,252) 3%, rgb(228,220,252) 97%, rgb(120,80,251) 97%, rgb(120,80,251) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgb(120,80,251) 0%, rgb(120,80,251) 3%, rgb(228,220,252) 3%, rgb(228,220,252) 97%, rgb(120,80,251) 97%, rgb(120,80,251) 100%);
 	background-image: -ms-linear-gradient( 90deg, rgb(120,80,251) 0%, rgb(120,80,251) 3%, rgb(228,220,252) 3%, rgb(228,220,252) 97%, rgb(120,80,251) 97%, rgb(120,80,251) 100%);
}
.mm5 {
	background-color: #fbe5eb;
	background-image: -moz-linear-gradient( 90deg, rgb(251,55,109) 0%, rgb(251,55,109) 3%, rgb(251,229,235) 3%, rgb(251,229,235) 97%, rgb(251,55,109) 97%, rgb(251,55,109) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgb(251,55,109) 0%, rgb(251,55,109) 3%, rgb(251,229,235) 3%, rgb(251,229,235) 97%, rgb(251,55,109) 97%, rgb(251,55,109) 100%);
 	background-image: -ms-linear-gradient( 90deg, rgb(251,55,109) 0%, rgb(251,55,109) 3%, rgb(251,229,235) 3%, rgb(251,229,235) 97%, rgb(251,55,109) 97%, rgb(251,55,109) 100%);
}
.mm6 {
	background-color: #ddf6e1;
	background-image: -moz-linear-gradient( 90deg, rgb(60,214,88) 0%, rgb(60,214,88) 3%, rgb(221,246,225) 3%, rgb(221,246,225) 97%, rgb(60,214,88) 97%, rgb(60,214,88) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgb(60,214,88) 0%, rgb(60,214,88) 3%, rgb(221,246,225) 3%, rgb(221,246,225) 97%, rgb(60,214,88) 97%, rgb(60,214,88) 100%);
 	background-image: -ms-linear-gradient( 90deg, rgb(60,214,88) 0%, rgb(60,214,88) 3%, rgb(221,246,225) 3%, rgb(221,246,225) 97%, rgb(60,214,88) 97%, rgb(60,214,88) 100%);
}
