@charset "utf-8";
/* CSS Document */

/*
===========================================================================

	Title : forum.css

===========================================================================
*/


/* *************************************************************
*
*	PC view
*	
************************************************************ */




/* -------------------------------------------------------------

	business/index.html

------------------------------------------------------------- */
a:focus{
	outline:none;
	}
#wrapper .mainCont .cntBox .boxInner .dtl {
	padding: 15px;
	background-color:#eeeeee;
	margin: 0px 0 20px 0;
	border:1px solid #ccc;
}
#wrapper .mainCont .cntBox .boxInner .dtl dt{
	margin-bottom: 10px;
	font-weight:bold;
	font-size:15px;
	}
#wrapper .mainCont .cntBox .boxInner .dtl dt span{
	padding:0 5px;
	color:#fff;
	background: #cf1f03;
	border-radius: 3px;
	font-size:10px;
	vertical-align: middle;
	}
#wrapper .mainCont .cntBox .boxInner .txt12{
	font-size:12px;	
	}
#wrapper .mainCont .cntBox .boxInner ul{
	margin-bottom:20px;
	}
#wrapper .mainCont .cntBox .boxInner ul li{
	margin-bottom: 15px;
	padding-left: 1em;
	text-indent: -1em;
	}
#wrapper .mainCont .cntBox .boxInner .blTxt{
	color: #1e51a2;
}
#wrapper .mainCont .cntBox .boxInner .orTxt{
	color:#ec8414;
}
#wrapper .mainCont .cntBox .boxInner .rd_frame{
	color:#cf1f03;
	border:1px solid #cf1f03;
	padding:10px;
	}
/*ボタンブロック*/
#wrapper .mainCont .cntBox .boxInner #btn_rd,
#wrapper .mainCont .cntBox .boxInner #btn_nvy,
#wrapper .mainCont .cntBox .boxInner #btn_or{
	height:205px;
	padding:15px 0 0;
	text-align: center;
	background: #fafafa;
	border:1px solid #ccc;
	}
#wrapper .mainCont .cntBox .boxInner #btn_rd dt,
#wrapper .mainCont .cntBox .boxInner #btn_nvy dt,
#wrapper .mainCont .cntBox .boxInner #btn_or dt{
	padding:0 10px;
	line-height:1.2;
	font-weight:bold;
	font-size:16px;
	}
#wrapper .mainCont .cntBox .boxInner #btn_rd dt span,
#wrapper .mainCont .cntBox .boxInner #btn_nvy dt span,
#wrapper .mainCont .cntBox .boxInner #btn_or dt span{
	font-size:12px;
	font-weight:normal;
	}
#wrapper .mainCont .cntBox .boxInner #btn_nvy strong{
	line-height:45px;
	}
#wrapper .mainCont .cntBox .boxInner #btn_or strong{
	line-height:26px;
	}
#wrapper .mainCont .cntBox .boxInner #btn_rd{
	float:left;
	width:32%;
	margin-right: 1%;
	}
#wrapper .mainCont .cntBox .boxInner #btn_rd a{
	margin:27px 10px 10px;
	padding:7px;
	background: #cf1f03\9;
	background: -moz-linear-gradient( 90deg, rgb(207,31,3) 0%, rgb(207,31,3) 50%, rgb(220,70,47) 50%, rgb(220,70,47) 100%);
 	background: -webkit-linear-gradient( 90deg, rgb(207,31,3) 0%, rgb(207,31,3) 50%, rgb(220,70,47) 50%, rgb(220,70,47) 100%);
 	background: -ms-linear-gradient( 90deg, rgb(207,31,3) 0%, rgb(207,31,3) 50%, rgb(220,70,47) 50%, rgb(220,70,47) 100%);
	border-radius: 5px;
	display: block;
	text-decoration:none;
	color:#fff;
	border:1px solid #ad1b03;
	font-weight: bold;
	}
#wrapper .mainCont .cntBox .boxInner #btn_nvy{
	float:left;
	width:32%;
	margin-right: 1%;
	}
#wrapper .mainCont .cntBox .boxInner #btn_nvy a{
	margin:29px 10px 10px;
	padding:7px 5px;
	background: #1e51a2\9;
	background: -moz-linear-gradient( 90deg, rgb(30,81,162) 0%, rgb(30,81,162) 50%, rgb(53,108,196) 50%, rgb(53,108,196) 100%);
  	background: -webkit-linear-gradient( 90deg, rgb(30,81,162) 0%, rgb(30,81,162) 50%, rgb(53,108,196) 50%, rgb(53,108,196) 100%);
 	background: -ms-linear-gradient( 90deg, rgb(30,81,162) 0%, rgb(30,81,162) 50%, rgb(53,108,196) 50%, rgb(53,108,196) 100%);
	border-radius: 5px;
	display: block;
	text-decoration:none;
	color:#fff;
	border:1px solid #083680;
	font-weight: bold;
	}
#wrapper .mainCont .cntBox .boxInner #btn_or{
	float:left;
	width:33%;
	}
#wrapper .mainCont .cntBox .boxInner #btn_or a{
	margin:10px;
	padding:7px;
	background: #ec8414\9;
	background: -moz-linear-gradient( 90deg, rgb(236,132,20) 0%, rgb(236,132,20) 50%, rgb(238,156,68) 50%, rgb(238,156,68) 100%);
 	background: -webkit-linear-gradient( 90deg, rgb(236,132,20) 0%, rgb(236,132,20) 50%, rgb(238,156,68) 50%, rgb(238,156,68) 100%);
 	background: -ms-linear-gradient( 90deg, rgb(236,132,20) 0%, rgb(236,132,20) 50%, rgb(238,156,68) 50%, rgb(238,156,68) 100%);
	border-radius: 5px;
	display: block;
	text-decoration:none;
	color:#fff;
	border:1px solid #d87001;
	font-weight: bold;
	}
#wrapper .mainCont .cntBox .boxInner #btn_rd a,
#wrapper .mainCont .cntBox .boxInner #btn_nvy a,
#wrapper .mainCont .cntBox .boxInner #btn_or a{
	transition:opacity .3s ease;
	}
#wrapper .mainCont .cntBox .boxInner #btn_rd a:hover,
#wrapper .mainCont .cntBox .boxInner #btn_nvy a:hover,
#wrapper .mainCont .cntBox .boxInner #btn_or a:hover{
	filter: alpha(opacity=80);
	opacity: 0.8;
	}
#wrapper .mainCont .cntBox .boxInner .clear{
	clear:both;
	}

/* -------------------------------------------------------------

	business/forum.html

------------------------------------------------------------- */

/*****アンカーボタン*****/
#wrapper .cntBox .boxInner ul.ancMenu {
	margin: 0 auto 0px;
	text-align: center;
}
#wrapper .cntBox .boxInner ul.ancMenu li {
	height: 102px;
	margin: 0 1% 0 0;
	padding: 10px 0;
	float: left;
	font-weight: bold;
	text-indent:0;
	background : #fff;
	border-radius : 3px;
	border: 2px Solid #ccc;
	color: #777;
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
	line-height: 1.4;
}
#wrapper .cntBox .boxInner ul.ancMenu li:first-child{
	width: 74%;
}
#wrapper .cntBox .boxInner ul.ancMenu li:last-child{
	width: 25%;
	margin-right: 0;
	padding-top: 38px;
}
#wrapper .cntBox .boxInner ul.ancMenu li a {
	color: #777;
	text-decoration: none;
	cursor: pointer;
	text-align:center;
	padding-left:0px;
	font-size:14px;
}
#wrapper .cntBox .boxInner ul.ancMenu li a:hover {
	background-color:#eee;
}
#wrapper .cntBox .boxInner ul.ancMenu li.act a {
	background-color:#eee;
}

/*****コンテンツ*****/

#wrapper .mainCont #forum .date{
	margin-top: 30px;
	padding: 8px 15px;
	background: #005697;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
#wrapper .mainCont #forum .more{
	margin-bottom: 30px;
	padding: 10px;
	background: #f5f5f5;
}
#wrapper .mainCont #forum .pt20{
	padding-top:20px;
	}
#wrapper .mainCont #forum .rd{
	color:#e71a19;
	padding-top:20px;
	}
#wrapper .mainCont #forum h3{
	margin-top:30px;
	position:relative;
	}
#wrapper .mainCont #forum h3 span{
	margin-left:1em;
	display:inline-block;
}
#wrapper .mainCont #forum .red_icon{
	width:54%;
	margin-right: 1%;
	padding: 5px 5px;
	border-radius: 3px;
	background: #ce2e2e;
	color:#fff;
	font-size:12px;
	display:inline-block;
	text-align: center;
	}
#wrapper .mainCont #forum .blk_icon{
	width:41%;
	padding: 5px 5px;
	border-radius: 3px;
	background: #1e51a2;
	color:#fff;
	font-size:12px;
	display:inline-block;
	text-align: center;
	}
#wrapper .mainCont #forum .frame_blk{
	background:#555;
	color:#fff;
	padding:2px 5px 0;
	display:inline-block;
	margin-bottom:5px;
	}
#wrapper .mainCont #forum table{
	width:100%;
	}
#wrapper .mainCont #forum td h4{
	font-size:18px;
	}
#wrapper .mainCont #forum th{
	width:123px;
	/*text-align:center;*/
	}
#wrapper .cntBox .boxInner table th span{
	margin-top: 10px;
	padding: 0;
	background: transparent;
	color: #000;
	display: inline-block;
	}
#wrapper .mainCont #forum td{
	font-size:12px;
	position:relative;
	}
#wrapper .mainCont #forum td h5{
	color:#1e51a2;
	font-size:15px;
	margin-bottom:10px;
	font-weight: bold;
	}
#wrapper .mainCont #forum td h6{
	background: #e4f0f9;
	color:#1e51a2;
	font-size:15px;
	margin-bottom:10px;
	padding:3px 10px 0;
	display:inline-block;
	}
#wrapper .mainCont #forum dl dt {
	font-weight:bold;
}
#wrapper .mainCont #forum dl dd {
	padding:5px 0 5px 0;
	line-height:1.4;
}
#wrapper .mainCont #forum span.btn{
	width:69px;
	text-align:right;
	display:block;
	/*position:relative;
	top:-15px;*/
	float:right;
	padding-right:5px;
	/*margin-bottom:-15px;*/
}

#wrapper .mainCont #forum .sponsor span.btn{
	width:69px;
	text-align:right;
	display:block;
	position:relative;
	top:0px;
	float:right;
	padding-right:5px;
	margin-bottom:0px;
}
#wrapper .mainCont #forum .sponsor span.btn2{
	width:69px;
	text-align:right;
	display:block;
	position:relative;
	top:-20px;
	float:right;
	padding-right:5px;
	margin-bottom:-20px;
}
#wrapper .mainCont #forum span.btn img{
	margin-top:5px;
}
#wrapper .mainCont #forum td span a {
	background:none;
}
#wrapper .mainCont #forum td span a{
	background:none;
	transition:opacity .5s;
}
#wrapper .mainCont #forum td a:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}
#wrapper .mainCont #forum .att ul{
	padding-top:10px;
}
#wrapper .mainCont .att ul li{
	line-height:1.4;
	margin:10px 0;
	}
#wrapper .mainCont #forum .place{
	font-weight:bold;
	/*font-size:16px;*/
	}
#wrapper .mainCont #forum .summary{
	padding:10px 0 20px;
	display:block;
	font-size:14px;
	}	
#wrapper .mainCont #forum .mb0{
	margin-bottom:0;
	}	
#wrapper .mainCont #forum ul.photo_cnt{
	margin:0px 0 20px;
	padding:0;
	}	
#wrapper .mainCont #forum ul.photo_cnt li span.txt{
	width:80%;
	display:inline-block;
	text-indent:0;
	padding:0 0 0 5px;
	}	
#wrapper .mainCont #forum ul.photo_cnt li span.img{
	text-align:right;
	vertical-align:top;
	padding-left:20px;
	display:inline-block;
	margin-bottom:5px;
	}
/*ボタン*/
#wrapper .mainCont #forum .linkBtn a{
	width:240px;
	margin:20px auto 30px;
	padding:10px 15px;
	display: block;
	font-size:16px;
	font-weight: bold;
	}
/*満員御礼*/
#wrapper .mainCont #forum .sold	{
	font-size:20px;
	color:#fff;
	background:#;
	/*width:224px;*/
	background:rgba(231,26,25,1);
	padding: 5px 10px 5px 10px;
	position: relative;
	top: 0px;
	left:0;
	margin:0px auto 10px;
	display:inline-block!important;
	font-weight:bold;
	}

/* -------------------------------------------------------------

	business/forum_agbs.html

------------------------------------------------------------- */

#wrapper .mainCont #forum #agbs{
	margin-bottom:20px;
	}
/* -------------------------------------------------------------

	business/forum_special.html

------------------------------------------------------------- */
#wrapper .mainCont #forum .btn_l{
	margin:10px auto 20px;
	text-align:center;
	display:block;
	}
/* -------------------------------------------------------------

	business/bms.html

------------------------------------------------------------- */
#wrapper .mainCont #bms .linkBtn{
	margin:20px auto;
	}
#wrapper .mainCont #bms .linkBtn a{
	padding:15px;
	display: inline-block;
	}	
#wrapper .mainCont .cntBox .boxInner .btn_abg:hover {
filter: alpha(opacity=70);
opacity:0.7;
}
#wrapper .mainCont .cntBox .boxInner .mt20{
	margin-top:20px;
	}
#wrapper .mainCont .cntBox .boxInner ul.btn{
	margin-top:10px;
	}
#wrapper .mainCont .cntBox .boxInner .btn li{
	width:auto;
	margin:0 auto 10px;
	padding:10px;
	text-align:center;
	background:#fefefe;
	border:1px solid #ccc;
	border-radius : 5px;
    font-weight:bold;
	}
#wrapper .mainCont .cntBox .boxInner .btn li a{
	color:#777;
  	text-decoration:none;
	display:block;
	transition:opacity .5s;
}
#wrapper .mainCont .cntBox .boxInner .btn li a:hover{
  	text-decoration:none;
	filter: alpha(opacity=70);
	opacity:0.7;
}

/* *********************************************
*
*	SP view
*	
********************************************* */

@media screen and (max-width:769px) {

/* -------------------------------------------------------------

	business/index.html

------------------------------------------------------------- */
#wrapper .mainCont .cntBox .boxInner #btn_rd,
#wrapper .mainCont .cntBox .boxInner #btn_nvy,
#wrapper .mainCont .cntBox .boxInner #btn_or{
	width:100%;
	height:auto;
	float:none;
	margin-bottom:20px;
	padding:10px 0 0;
	text-align: center;
	}
#wrapper .mainCont .cntBox .boxInner #btn_rd a,
#wrapper .mainCont .cntBox .boxInner #btn_nvy a,
#wrapper .mainCont .cntBox .boxInner #btn_or a{
	margin-top:10px;
	}
#wrapper .mainCont .cntBox .boxInner #btn_nvy strong,
#wrapper .mainCont .cntBox .boxInner #btn_or strong{
	line-height:20px;
	}

/* -------------------------------------------------------------

	business/forum.html

------------------------------------------------------------- */

/*****アンカーボタン*****/
#wrapper .cntBox .boxInner ul.ancMenu {
	width: 100%;
	margin: 0px;
}
#wrapper .cntBox .boxInner ul.ancMenu .spBlc{
	display: inline-block;	
}
#wrapper .cntBox .boxInner ul.ancMenu li {
	width: 100%;
	height: auto;
	margin: 0 0 1% 0;
	padding: 10px;
	float: none;
	display: block;
}
#wrapper .cntBox .boxInner ul.ancMenu li:first-child{
	width: 100%;
	margin-bottom: 5px;
}
#wrapper .cntBox .boxInner ul.ancMenu li:last-child{
	width: 100%;
	padding-top: 10px;
}
#wrapper .cntBox .boxInner ul.ancMenu li a {
	width: 100%;
}
#wrapper .cntBox .boxInner ul.ancMenu li.all a {
	width:100%;
	height: 36px;
}
#wrapper .cntBox .boxInner ul.ancMenu li.all a span{
	position:relative;
	top:0px;
}
/*****コンテンツ*****/
#wrapper .mainCont #forum th{
	width:auto;
}
#wrapper .mainCont #forum td{
	padding-right:0;
	padding-left:0;
	}
#wrapper .mainCont #forum .red_icon{
	width:auto;
	margin-right: 0px;
	margin-bottom:7px;
	display: block;
	}
#wrapper .mainCont #forum .blk_icon{
	width:auto;
	display: block;
	}
#wrapper .mainCont #forum h3 span{
	margin-top: 5px;
	margin-left:0;
	display: block;
	}
#wrapper .mainCont #forum h3 span img{
	wiedh:auto;
	height:auto;
}
#wrapper .mainCont #forum span.btn{
	width:100%;
	top:0px;
	margin-bottom:20px;
	padding:0;
}
#wrapper .mainCont #forum .sponsor span.btn{
	width:100%;
	top:0px;
	margin-bottom:20px;
	padding:0;
}
#wrapper .mainCont #forum .sponsor span.btn2{
	width:100%;
	position:relative;
	top:0px;
	margin-top:20px;
	margin-bottom:20px;
	padding:0;
}
#wrapper .mainCont #forum ul.photo_cnt{
	margin:10px 0 0px;
	}	
#wrapper .mainCont #forum ul.photo_cnt li{
	width:auto;
}
#wrapper .mainCont #forum ul.photo_cnt li span.txt{
	width:70%;
	display:inline-block;
	padding-right:0;
	padding-left:0;
	margin-bottom:20px;
	}	
#wrapper .mainCont #forum ul li span.img{
	width:auto;
	text-align:right;
	padding-left:10px;
	display:inline-block;
	margin-bottom:20px;
	}
#wrapper .mainCont .cntBox .boxInner .btn li{
	padding:10px 10px 10px 20px;
	}	

}


