@charset "utf-8";

/* ----------------------------------------------------
作成日: 2015.01.22
最終更新日: 2015.03.27

common.css： イースター設定(タブレット版)
---------------------------------------------------- */
.wrapper{
	padding-top:0;
}

.main{
	padding-bottom:48px;
}

.main h2,.main h3,.main h4{
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	width:691px;
	height:168px;
	background:url(../images/jp/title_windyhill_01.jpg) no-repeat;
	background-size: 691px;
	margin:0 auto;
	border-radius: 0;
}

.en .main h2{
	background:url(../images/en/title_windyhill_01.jpg) no-repeat;
	background-size: 691px;
}

.main h3.h3_01{
	background:url(../images/jp/title_windyhill_02.jpg) no-repeat;
	background-size: 691px;
	height:50px;
}

.en .main h3.h3_01{
	background:url(../images/en/title_windyhill_02.jpg) no-repeat;
	background-size: 691px;
}

.main h3.h3_02{
	background:url(../images/jp/title_windyhill_03.jpg) no-repeat;
	background-size: 691px;
	height:50px;
}

.en .main h3.h3_02{
	background:url(../images/en/title_windyhill_03.jpg) no-repeat;
	background-size: 691px;
}

.main h3.h3_03{
	background:url(../images/jp/title_windyhill_04.jpg) no-repeat;
	background-size: 691px;
	height:81px;
}

.en .main h3.h3_03{
	background:url(../images/en/title_windyhill_04.jpg) no-repeat;
	background-size: 691px;
}

.main h3.h3_04{
	background:url(../images/jp/title_windyhill_05.jpg) no-repeat;
	background-size: 691px;
	height:50px;
}

.en .main h3.h3_04{
	background:url(../images/en/title_windyhill_05.jpg) no-repeat;
	background-size: 691px;
}

.main h4.h4_01{
	background:url(../images/jp/title_windyhill_06.jpg) no-repeat;
	background-size: 691px;
	height:34px;
}

.en .main h4.h4_01{
	background:url(../images/en/title_windyhill_06.jpg) no-repeat;
	background-size: 691px;
}

.main h4.h4_02{
	background:url(../images/jp/title_windyhill_07.jpg) no-repeat;
	background-size: 691px;
	height:34px;
}

.en .main h4.h4_02{
	background:url(../images/en/title_windyhill_07.jpg) no-repeat;
	background-size: 691px;
}

.main img {
	width:691px;
	display:block;
	margin:0 auto;
}

.main img.img_01 {
	height:64px;
}

.main img.img_02 {
	height:201px;
}

.main img.img_03 {
	height:365px;
}

.main img.img_04 {
	height:331px;
}

.main img.img_05 {
	height:317px;
}

.main img.img_06 {
	height:299px;
}

.main img.img_07 {
	height:95px;
}

.main img.img_08 {
	height:778px;
}

.main img.img_09 {
	height:150px;
}