@charset "utf-8";
/* CSS Document */

.overview_dl{
	overflow:hidden;
	display: inline;
	margin: 10px 0 0 0;
	padding: 0;
}


.overview_dl a{
	text-decoration: underline;
	color: #263b52;
}

.overview_dl .large_text{
	font-size: 17px !important;
	font-family:  "Oswald", sans-serif !important;
	font-weight: bold;
}



.sponsor .s_navi{
	width:910px;
	position:absolute;
	top:50%;
	margin-top:-17px;
}
.s_navi img{
	width:35px;
}
.s_left{float:left;}
.s_right{float:right;}



 .sponsor{
	color:#263b52;
}
.s_navi{
	width:863px;
	position:absolute;
	top:50%;
	margin-top:-17px;
}

.s_navi img{
	width:35px;
}
.s_left{float:left;}
.s_right{float:right;}

.slide_wrap{
	position: relative;
}

.slide_title{
	font-size:29px;
}
.h_inner{
	padding-left:0
		;
}
.slide{
	padding:10px 10px;
background-color: #d9d9d9;
	width:862px;
	
}

.slide li{
	float:left;
	
}

.btnbox{
	width:417px;
	padding-left: 0px ;
	margin-left:290px;
	margin-top:50px;
	margin-bottom:40px;
	
}

.list03{
	float: left;
	width: 180px;
	line-height: 150%;
}

.list04{
	margin-left:180px;
	margin-bottom: 10px;
	line-height: 150%;
}

.overview{
	margin: 20px auto 0 auto;
	padding: 0px 40px 40px 40px;
	background-color: #FFF;
	font-size: 16px;
	color: #263B52;
}

@media screen and (max-width: 768px) {

	.slide_title {
    font-size: 16px;
	}
	
	.s_navi{
	width:100%;
	}
	

	.slide li{
	 width:50%;
	
	}
	
	.slide li img{
		 width:90%;

	}
	.h_inner {
		padding-left: 0px;
		width: 90%;
		margin: 0 auto;
	}
	.slide {
    padding: 5px;
    background-color: #d9d9d9;
    width:100%;
	}
	
	.slide li{
	 width:50%;
	
	}
	
	.slide li img{
		 width:90%;

	}
	
.overview{
	font-size: 12px ;
	margin: 20px auto 0 auto;
	padding: 0px 0px 10px 0px;
}

.list03{
	width: auto ;
}

.list04{
	margin-left: 140px ;
}
}