*{
	line-height: 170%;
	font-size: 14px;
}

body{}

#container{
	width: 960px;
	margin-left: 20px;
	margin-top: 20px;
}

#main_title{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

#lead_text{
	font-weight: bold;
	margin-top: 30px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	font-size: 120%;
}

#contents{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

#cont01{
	margin-top: 50px;
}

.cont02{
	margin-top: 10px;
}

.cont02 span{
	font-size: 120%;
	font-weight: bold;
}

.last{
	margin-top: 60px;
}

.last span{
	font-size: 120%;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
}

#contents .sub_t{
	margin-bottom: 5px;
	margin-top: 10px;
	display: block;
}

.illust{
	float: right;
	margin-left: 10px;
}

.illust_l{
	float: left;
	margin-right: 10px;
}

.clear{
	clear: both;
}
