@charset "UTF-8";

#common-contents em{
	font-style:normal;
}

/* page title setting   ===================================================== */
#substance-title h1{
	background:url("contents-substance/h1.gif") no-repeat;
}

/* fanartPic setting   ===================================================== */
#fanartPic{
	float:left;
	width:412px;
}
#fanartPic h2{
	margin:0px;
	padding:0px;
	width:1px;
	height:1px;
	position:absolute;
	top:0px;
	left:-999px;
	display:run-in;
	border-style:none;
	overflow:hidden;
}
#fanartPic p{
	padding:6px;
	background:url("contents-substance/page_subustance_img_bg.gif") no-repeat ;
}

/* fanartTxt setting   ===================================================== */
#fanartTxt{
	float:left;
	width:233px;
	padding:5px 0 0 0;
	margin:0;
}

#fanartTxt:after{
	content:"";
	display:block;
	height:0px;
	clear:both;
}

#fanartTxt #fanartTitle{
	width:233px;
	height:18px;
	background:url("contents-substance/fanart_title_h3.gif") no-repeat;
	text-indent:-3000em;
}
#fanartTxt #fanartPoster{
	width:233px;
	height:18px;
	background:url("contents-substance/fanart_poster_h3.gif") no-repeat;
	text-indent:-3000em;
}
#fanartTxt #commentPoster{
	width:233px;
	height:18px;
	background:url("contents-substance/comment_poster_h3.gif") no-repeat;
	text-indent:-3000em;
}
#fanartTxt #commentStaff{
	width:233px;
	height:18px;
	background:url("contents-substance/comment_staff_h3.gif") no-repeat;
	text-indent:-3000em;
}

#fanartTxt p{
	margin:0.5em 0 1.5em 0.5em;
}

/* fanartTxt setting   ===================================================== */
#fanartMenu{
	clear:both;
	width:645px;
	padding:5px 0 0 0;
}

/* thumbnailList ============================================================ */
ul#thumbnailList{
	width:640px;
}

ul#thumbnailList:after{
	content:"";
	display:block;
	height:0px;
	clear:both;
}

ul#thumbnailList li{
	float:left;
	padding:0 4px 2px 0;
}

ul#thumbnailList li a img{
	border:1px solid #000;
}

ul#thumbnailList li a:hover img{
	border:1px solid #F00;
}

/* thumbnailMenu ============================================================ */
ul#thumbnailBtn{
	width:645px;
}
ul#thumbnailBtn:after{
	content: "";
	display: block;
	height: 0px;
	clear: both;
}
