@charset "UTF-8";

.base-b {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    color:#fff;
}

.booth-icon {
    display: table;
    margin: 0 auto 3% auto;
    font-size: 2.2rem;
}

    .booth-icon img {
        margin-right: 10px;
        width: 100%;
        max-width: 43px;
    }

    .booth-icon p {
        width: 8em;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        padding: 1.5% 0 1% 0;
    }

    .booth-icon p:last-child {
        padding-right: 0%;
    }

        .booth-icon p span {
            width: 4em;
        }

@media screen and (max-width:750px) {
    .booth-icon {
        width: 90%;
        font-size: 3.0rem;
        }

    .booth-icon img {
        width: 47%;
        margin-right: 0;
        }

    .booth-icon p span {
        display: block;
        width: auto;
        margin-top: 1%;
    }
}


/*==================================
lineup list
===================================*/

.lineup-list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}



.lineup-list ul {
    width: 100%;
    display: table;
    margin: 0 auto;
    max-width: 1200px;
}

.title-box, .title-box.no-link {
    display: table-cell;
    float: left;
    margin: 0 0.4% 1% 0.4%;
    width: 24.16%;
    max-width: 290px;
    padding: 1%;
    background: rgba(0,0,0,0.8);
    text-align: left;
    color: #fff;
    transition : all 0.5s ease 0s;
}

.lineup-list ul.olympic-title .title-box{
    display: inline-block;
    float: none;
}

.title-box:nth-child(4n) {
    margin-right: 0;
    
}

    .title-box:hover {
        background: rgba(0,0,0,0.6);
    }

    .title-box.no-link:hover {
        background: rgba(0,0,0,0.8);
    }

.lineup-icon img {
    width: 10.34%;
    max-width: 30px;
    margin:0 1% 2% 0;
}

.lineup-title {
    font-size: 2.2rem;
    margin-bottom: 1%;
    height: 4.5em;
}

.type {
    padding: 0 1%;
    margin-right: 1%;
    border: 1px solid #fff;
    font-size: 14px;
}

@media screen and (max-width:750px) {
    

.lineup-list ul {
    display: table;
    margin: 0 auto;
    }
    
.title-box,  ul.olympic-title .title-box{
    display: table-cell !important;
    float: left !important;
    width: 49% !important;
    max-width: 360px !important;
    margin: 0.5% !important;
}

    
.lineup-title {
    display: none;
}
    
.lineup-type {
    margin-top: 2%;
}
    
.type {
    font-size: 3.0rem;
    margin-right: 1%;
}
    
}


/*==================================
lineup details
===================================*/

.title-details-box {
    width: 100%;
    max-width: 1200px;
    background: rgba(0,0,0,0.8);
    margin: 0 auto;
    padding: 1%;
    color:#fff;
}

.title-icon img {
    width: 8.73%;
    max-width: 43px;
    margin-right: 2px;
    }

.title-details-box h4, h5.title-catch, h6.title-novelty {
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: 1% auto;
}

.title-details-box h4 {
    font-size: 30px;
}

h5.title-catch {
   font-size: 24px;
   margin-top: 6%;
}

.title-details01 {
    float:left;
    width: 64%;
    max-width: 768px;
}

.slider {
	width:100%;
    max-width: 768px;
	height:auto;
    margin: 0 auto;
}

.slick-dots {
    bottom: -7%;
}

.slick-dots li button:before {
    font-size: 5rem;
}

.title-mov {
    position: relative;
    width: 100%;
    padding-top: 10.4%;
}

    .title-mov iframe {
      position: absolute;
      top: 0;
      right: 0;
      width: 100% !important;
      height: 100% !important;
    }

.title-text {
    font-size: 18px;
}

h6.title-novelty {
    font-size: 24px;
    margin-top: 3%;
}

.novelty {
    display: flex;
    width: 100%;
    list-style: none;
}

    .novelty li {
        width: 37.76%;
        max-width: 192px;
        padding: 0 1%;
        font-size: 16px;
    }


.novelty-title {
    font-weight: bold;
    margin: 1% 0;
}

.note {
    font-size: 16px;
}



.title-details02 {
    float:right;
    width: 36%;
    max-width: 432px;
    padding-left: 1%;
    font-size: 18px;
}

    .logo-miku {
        width: 53px;
        margin-left: 3px;
        margin-right: 3px;
    }

@media screen and (max-width:750px) {
    
    .logo-miku {
        width: 11.06%;
    }
    
}

.title-details02 table {
    width: 100%;
    margin: 3% auto;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
}

.title-details02 table tr td {
    padding: 1%;
}

.title-details02 table tr:nth-child(odd) {
    background: rgba(225,225,225,0.1);
    }

.title-details02 table tr:nth-child(even) {
    background: rgba(0,0,0,0.1);
    }

.title-details02 table tr th {
    width: 6em;
    vertical-align: top;
    font-weight: normal;
    text-align: left;
    padding: 1%;
}

.cero {padding: 1% 0;}

    .cero img {
        width: 20%;
        max-width: 60px;
        margin-right: 1%;
        }

.title-site a {
    display: block;
    width: 100%;
    max-width: 368px;
    max-height: 80px;
    margin: 3% auto;
    padding: 3% 0;
    background: #1DA1F2;
    text-align: center;
    color:#fff;
    font-size: 22px;
    visibility: visible;
    text-align: center;
}

    .title-site a:hover {
        background: #000;
    }

.title-link h6 {
    
text-align: center;
padding: 1%;
margin-bottom: 1%;
background: rgba(225,225,225,0.1);
font-size: 18px;
font-weight: normal; 
}

.title-link-btn {
    width: 49%;
}


@media screen and (max-width:750px) {
    
.title-details-box h4 {
    font-size: 5.5rem;
}
    
h5.title-catch {
   font-size: 4.5rem;
}
    
.title-details01 {
    float:none;
    width: 100%;
    }
    
.slider {
	width:100%;
    max-width: 900px;
}
    
.slick-dots {
    bottom: -13%;
}
    
.slick-dots li button:before {
    font-size: 12rem;
}

.slick-dotted.slick-slider {
    margin-bottom: 10%;
}
    
.title-text {
    font-size: 4rem;
}
    
h6.title-novelty {
    font-size: 4.5rem;
}
    
.novelty {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    }
    
.novelty li {
        width: 50%;
        max-width: 280px;
        padding: 2%;
        font-size: 4.0rem;
        }
    
.note {
    font-size: 3.0rem;
}
    
.title-details02 {
    float:none;
    width: 100%;
    max-width: 750px;
    padding-left: 0;
    padding-top: 3%;
    font-size: 4.0rem;
}
    
.title-site a {
    width: 86%;
    max-width: 750px;
    font-size: 4.0rem;
}
    
    .title-link h6 {
        font-size: 4.0rem;
    }

    
}




