@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    buyer attention
---------------------------------------- */

.download {
    display: block;
    margin: 30px 0;
    text-align: center;
}

h2.buyer{
    padding-bottom: 15px;
    border-bottom: 1px solid #00b4dc;
}

section a {
	color: #00b4dc;
}

section h3 {
	margin: 33px 0 28px;
}
section p {
	margin-top: 0;
	margin-bottom: 0;
	text-indent: -1em;
	padding-left: 1em;
}

section div {
  border-bottom: 1px solid #00b4dc;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

section tr div {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

section tr .company {
	width: 360px;
}

section tr .more_info {
	position: absolute;
	top: 25px;
	right: 0px;
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
	width: auto;
}

section li {
	margin-top: 20px;
	float: left;
}

section li img{
	width: 210px;
} 

section span {
	color: #00b4dc;
	font-size: 0.9em;
}

.img_center {
	margin: 20px 15px 0;
}

.colorPink {
    color: #ff5064;
}

#noborder {
	border-bottom: none;
}
.bordergraybottom {
	padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.noborder {
	border-bottom: none;
	margin-bottom: 0;
    padding-bottom: 0;
}

#buyer_menu {
	position: relative;
	float: right;
	margin-bottom: 20px;
	padding: 10px 2px 10px 10px;
	background: #fff;
	border-radius: 5px;
}
#buyer_menu ul {
	overflow: hidden;
}
#buyer_menu li {
    margin: 0;
    margin-right: 6px;
	padding: 0;
	list-style-type: none;
    float: left;
}
#buyer_menu li img {
	width: 230px;
	vertical-align:bottom;
}

.buyer_guide {
	margin-top: 18px;
}


/* ----------------------------------------
    page link
---------------------------------------- */

#buyer,
#download,
#camoaign,
.campaignInfo span
{
	padding: 125px 0 15px;
    margin: -125px 0 20px;
	color: red;
}


/* ----------------------------------------
    buyer download
---------------------------------------- */

#buyer {
   line-height: 1.8em;
}

.downloadInfo {
	text-align: left;
	font-size: 14px;
    color: #00b4dc;
    font-weight: bold;
}

/* ----------------------------------------
    campaign
---------------------------------------- */
#campaign {
    margin-top: -130px;
    padding-top: 130px;
}
.campaign-icon {
    margin-top: 20px;
}
.campaign-icon dt {
    padding-top: 5px;
    float: left;
}
.campaign-icon dd {
    padding-left: 10px;
    float: left;
}

.campaignContent {
	border-bottom: none;
	padding-bottom: 0;
}
.campaignContent tr {
    margin-top: -105px;
    padding-top: 105px;
    border-bottom: 1px solid #e6e6e6;
}
.campaignContent th {
    padding: 30px 20px;
    width: 3.12%;
    vertical-align: top;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}
.campaignContent td {
    position: relative;
    padding: 30px 10px;
    vertical-align: top;
    width: 44.44%;
    color: #0eb1fc;
}
.campaignContent td:nth-of-type(2) {
	width: 20%;
}
.page_link {
	position: absolute;
	top: -130px;
}

/* ----------------------------------------
    campaignInfo 
---------------------------------------- */

.campaignInfo {
    margin-bottom: 30px;
    padding: 6px;
    background: #e6e6e6;
    border-radius: 10px;
	border-bottom: 0px solid #00b4dc;
}
.campaignInfo div {
	border-bottom: 0px solid #00b4dc;
}
.campaignInfo span {
	color: #969696;
}

.info {
    margin-bottom: 0;
    padding: 20px;
    background: #fff;
    color: #000;
}
.info dt {
    float: left;
    width: 130px;
    font-weight: bold;
}
.info dd {
    float: left;
    width: 445px;
}

.company-name {
    margin: 0;
    padding: 5px 15px 14px;
    font-weight: normal;
    font-size: 1em;
}
.company-name span {
	padding-right: 20px;
	font-weight: bold;
	color: #3c3c3c;
}

.commingsoon {
	width: 100%;
	padding: 50px 0 ;
    text-align: center;
    border-bottom: none;
}
.commingsoon p {
	padding: 10px;
	color: #00b4dc;
	font-weight: bold;
}
