@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    public_event.html
---------------------------------------- */

section h2 {
	border-bottom: 1px solid #ff5064;
}
section h3 {
	margin-top: 20px;
	color: #ff5064;
	font-size: 18px;
	font-weight: bold;
}

section a,
section a:hover {
	color: #ff5064;
}

.commingsoon {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    border-bottom: none;
}
.commingsoon p {
    padding: 10px;
    color: #ff5064;
    font-weight: bold;
}

section {
    border-bottom: 1px solid #ff5064;
}

section p {
	margin-top: 0;
}

section div {
   border-bottom: 0 solid #ff5064;
	margin-bottom: 0;
	padding-bottom: 20px;
}

/* #public_event
---------------------------------------- */

section h4 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #ff5064;
}

#public_stageshow .notice {
    margin: 20px 0 30px;
    padding: 10px;
    border: solid 1px #ff5064;
    text-align: center;
    color: #ff5064;
}

.points p {
    margin-bottom: 0;
    text-indent: -1em;
    padding-left: 1em;
}

.imgcnt {
	padding-bottom: 5px;
}
.imgcnt img:first-of-type {
	margin-right: 28px;
}

.stage_schedule {
	margin-top: 30px;
}

#k11_copy {
	padding-left: 0px;
}


.sp_only {
	display:none;
}

