@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    Sitemap
---------------------------------------- */

#sitemap table {
    line-height: 43px;
    width: 660px;
}
#sitemap td {
    border-bottom: #B4B4B4 solid 1px;
    min-height: 43px;
    padding-left: 10px;
    vertical-align: top;
}
#sitemap td.no-border {
    border: none;
}
a {
    color: #ff9600;
}
#sitemap .public a {
    color: #ff5064;
}
#sitemap .buyer a {
    color: #00b4dc;
}
#sitemap .press a {
    color: #5ab400;
}