@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    Index
---------------------------------------- */

section div {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

section a,
section a:hover {
	color: #FF9600;
}

/* ----------------------------------------
    #category_list
---------------------------------------- */

#category_list {
    margin-bottom: 0;
}
#category {
    margin: 3.2% 0;
}
#category ul {
    margin-top: 0;
}
#category li {
    float: left;
    padding: 5px 0;
    border: none;
    width: 31%;
	background: #E6E6E6;
	border-radius: 5px 5px 0 0;
	text-align: center;
	font-weight: bold;
    margin-right: 3.3%;
}
#category li.on {
	padding: 5px 0;
	background: #FF9600;
	color: #fff;
	font-size: 13px;
}
#category li:last-child {
	margin-right: 0;
}
#category li img {
	display: block;
	margin: 0;
	width: 100%;
}
#category li a {
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

#name_list {
    margin-top: -6.58%;
    padding: 4% 0 0;
    background: #fff;
}
#name_list ul {
	padding: 4% 0;
	border-top: 1px solid #ff9600;
	border-bottom: 1px solid #ff9600;
	text-align: center;
}
#name_list li {
    padding: 0 8px;
    margin: 2% 0;
    line-height: 1;
    border-right: 1px solid #969696;
    border-top: none;
    display: inline-block;
    font-size: 12px;
}
#name_list li.edge {
    padding: 0 10px;
    line-height: 21px;
    border-right: none;
}

.company-list > ul {
	padding: 2% 0 0;
	background: #fff;
}
.id, .name, .category {
	float: left;
}

.id {
	margin-top: -60px;
	padding-top: 60px;
    width: 16%;
    font-weight: bold;
}
.name {
    width: 84%;
}
.name a {
    color: #ff9600;
    text-decoration: none;
}
.category {
	padding-bottom: 2%;
    clear: left;
    width: 100%;
	color: #969696;
	border-bottom: 1px solid #e6e6e6;
}
.category img {
	width: 49%;
}
.category a:nth-child(2) img {
	margin-left: 2%;
}

.list-footer {
	padding: 3% 0;
	width: 100%;
	background: #fff;
	border-radius: 0 0 7px 7px;
}
