@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    Index
---------------------------------------- */

body {
	background: url(../img/common/bg2.jpg) center top no-repeat #f0f0f0;
	background-size: 100%;
	font-size: 12px;
}

#container {
    padding-top: 27%;
}

#sekai-kodomohaku {
	position: absolute;
    top: -160px;
    right: 50%;
    margin-right: -526px;
}

section h3 {
	margin-top: 20px;
	color: #ffa000;
	font-size: 18px;
	font-weight: bold;
}

section a,
section a:hover {
	color: #ffa000;
}

section p {
	margin-top: 0;
}

section div {
   border-bottom: 1px solid #ffa000;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

/*------------- Access -------------*/ 

#access h3{
	margin-bottom: 30px;
}

#access .other_route{
	margin-top: 30px;
}

.route_map{
	margin: 10px 0 20px;
}

.annotation{
	color: #ffa000;
}