@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    buyer attention
---------------------------------------- */

body {
	background: url(../img/common/bg2.jpg) center top no-repeat #f0f0f0;
	background-size: 100%;
}

#container {
    padding-top: 27%;
}

.download {
    display: block;
    margin: 30px 0;
    text-align: center;
}

#sekai-kodomohaku {
	position: absolute;
    top: -160px;
    right: 50%;
    margin-right: -526px;
}

h2.buyer{
    padding-bottom: 15px;
    border-bottom: 1px solid #00b4dc;
}

article {
	font-size: 14px;
}

section a {
	color: #00b4dc;
}

section h3 {
	margin: 33px 0 28px;
}
section p {
	margin-top: 0;
    text-indent: -1em;
    padding-left: 1em;
}
section div {
    border-bottom: 1px solid #00b4dc;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

section li {
   margin-top: 20px;
	float: left;
}

section li img{
    width: 210px;
} 

section span {
	color: #00b4dc;
    font-size: 0.8em;
}

.img_center{
	margin: 20px 15px 0;
}

.colorPink {
    color: #ff5064;
}

#noborder {
	border-bottom: none;
}
.bordergraybottom {
	padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.noborder {
	border-bottom: none;
	margin-bottom: 0;
    padding-bottom: 0;
}

#buyer_menu {
    padding: 10px 0 10px 10px;
    width: 710px;
}

#buyer_menu ul {
	overflow: hidden;
}

#buyer_menu li {
    margin: 0;
    margin-right: 6px;
	padding: 0;
	list-style-type: none;
    float: left;
}

#buyer_menu li img{
	width: 230px;
	vertical-align:bottom;
}

.buyer_guide{
	margin-top: 18px;
}


/* ----------------------------------------
    page link
---------------------------------------- */

#buyer,
#download,
#camoaign,
.campaignInfo span
{
	padding: 125px 0 15px;
    margin: -125px 0 20px;
	color: red;
}


/* ----------------------------------------
    buyer download
---------------------------------------- */

#buyer {
   line-height: 1.8em;
}

.downloadInfo {
	text-align: center;
	font-size: 14px;
    color: #00b4dc;
    font-weight: bold;
}

/* ----------------------------------------
    campaign
---------------------------------------- */

.campaign-icon {
    margin-top: 20px;
}
.campaign-icon dt {
    padding-top: 5px;
    float: left;
}
.campaign-icon dd {
    padding-left: 10px;
    float: left;
}

.campaignContent {
	border-bottom: 0px solid #00b4dc;
	padding-bottom: 0;
}
.campaignContent tr {
    border-bottom: 1px solid #e6e6e6;
}
.campaignContent th {
    padding: 20px;
    width: 12.12%;
    vertical-align: top;
}
.campaignContent td {
    padding: 20px 10px;
    vertical-align: top;
    width: 44.44%;
    color: #0eb1fc;
}
.campaignContent td:nth-of-type(2) {
	width: 20%;
}

/* ----------------------------------------
    campaignInfo 
---------------------------------------- */

.campaignInfo {
    margin-bottom: 30px;
    padding: 6px;
    background: #e6e6e6;
    border-radius: 10px;
	border-bottom: 0px solid #00b4dc;
}
.campaignInfo div {
	border-bottom: 0px solid #00b4dc;
}
.campaignInfo span {
	color: #969696;
}

.info {
    margin-bottom: 0;
    padding: 20px;
    background: #fff;
    color: #000;
}
.info dt {
    float: left;
    width: 130px;
    font-weight: bold;
}
.info dd {
    float: left;
    width: 445px;
}

.company-name {
    margin: 0;
    padding: 5px 15px 14px;
    font-weight: normal;
    font-size: 1em;
}
.company-name span {
	padding-right: 20px;
	font-weight: bold;
	color: #3c3c3c;
}

.commingsoon {
	width: 100%;
	padding: 50px 0 ;
    text-align: center;
    border-bottom: 0px solid #00b4dc;
}
.commingsoon p {
	padding: 10px;
	color: #00b4dc;
	font-weight: bold;
}
