@charset "UTF-8";

/* ===================================

File Name   : report.css

====================================== */

/*========== Style Contents ==========

	1. Individual Redefinition
	2. Report
	3. Report Profile
	4. 
	5. 
	6. Download Button
	7.  
	*. Clear Release

====================================== */






/*===== ■1. Individual Redefinition =====*/

/*----- Global Navigation -----*/

#GlobalNavi li#BtnExhibit a,
#GlobalNavi li#BtnExhibit a:hover {background-position: -319px -51px;}



/*----- Section Foot -----*/

.SectionFoot .btn li a {
	width: 332px;
}





/*===== ■2. Report =====*/

#Report h2 {
	width: 800px;
	height: 29px;
	padding-bottom: 0px;
	font-size: 2.0em;
	font-weight:bold;
	color: #333333;
}

#Report dl{
	margin-top:10px;
}

#Report dl dt{
	font-size: 1.2em;
	font-weight:bold;
	margin-top:10px;
	color:#d9227f;
}

#Report dl dd{
	
}







/*===== ■3. Report Profile =====*/

#ReportProfile{
	margin-top:-10px;
	}

#ReportProfile p {
margin: 0px 0px 20px 0px;
}

#ReportProfile p span {
margin: 0;
color: #d9227f;
font-weight: bold;
}

#ReportProfile .line {
clear: both;
margin: 30px 0px;
}

#ReportProfile ul {
margin: 0px 20px 10px 40px;
}

#ReportProfile li {
	float:left;
	padding-top: 20px;
}

#ReportProfile li img {
	display: block;
	margin: 5px 0px;
}

#ReportProfile li span {
margin: 0;
color: #d9227f;
font-weight: bold;
padding: 0;
}

#ReportProfile li#left {
margin: 0 10px 0 0;
float: left;
}

#ReportProfile li.left02 {
margin: 0 10px 0 20px;
float: left;
}



#ReportProfile li#left span {
margin: 0 0 0 0;
font-weight: bold;
padding: 0 0 10px 0;
font-size: 1.2em;
}

#ReportProfile li.left02 span {
margin: 0 0 0 0;
color: #d9227f;
font-weight: bold;
padding: 0 0 10px 0;
font-size: 1.2em;
}

#ReportProfile .btn {
padding: 30px 0px 30px 0;
clear: both;
}

#ReportProfile .btn li {
float: left;
margin-right: 10px;
}

.BgGray{
	margin-bottom:30px;
}




/*===== ■6. Download Button =====*/
/*
#BtnDownload {
}

#DownloadKikaku2{
	margin-top:10px;
}

#DownloadKikaku2 dl {
	border: 1px solid #CCC;
	margin: 0;
	padding: 20px;
	width: 760px;
	color:#333333;
}

#DownloadKikaku2 dl dt,
#DownloadKikaku2 dl dd{
	font-size: 100%;
	line-height:1.7em;
}

#DownloadKikaku2 a {
color:#0453AF;
}
*/





/*===== ■*.Clear Release  =====*/

/*#********************** {
	/zoom: 1;
}

#**********************:after {
	content: '';
	display: block;
	clear: both;
}*/
