/*
/////////////////////////////////////
SIDEMENU
/////////////////////////////////////
*/

/* +++++++++++contents+++++++++++ */

/* ƒƒjƒ…[ */

/* 01 */
ol.Menu li.Menu01 {
	background:url(sidemenu_01.gif) 0px -38px no-repeat;
}

ol.Menu li.Menu01 a {
	background:url(sidemenu_01.gif) no-repeat;
}

/* 02 */
ol.Menu li.Menu02 {
	background:url(sidemenu_02.gif) 0px -38px no-repeat;
}

ol.Menu li.Menu02 a {
	background:url(sidemenu_02.gif) no-repeat;
}

/* 03 */
ol.Menu li.Menu03 {
	background:url(sidemenu_03.gif) 0px -38px no-repeat;
}

ol.Menu li.Menu03 a {
	background:url(sidemenu_03.gif) no-repeat;
}

/* 04 */
ol.Menu li.Menu04 {
	background:url(sidemenu_04.gif) 0px -38px no-repeat;
}

ol.Menu li.Menu04 a {
	background:url(sidemenu_04.gif) no-repeat;
}

/* 05 */
ol.Menu li.Menu05 {
	background:url(sidemenu_05.gif) 0px -38px no-repeat;
}

ol.Menu li.Menu05 a {
	background:url(sidemenu_05.gif) no-repeat;
}

/* 06 */
ol.Menu li.Menu06 {
	background:url(sidemenu_06.gif) 0px -38px no-repeat;
}

ol.Menu li.Menu06 a {
	background:url(sidemenu_06.gif) no-repeat;
}

/* 07 */
ol.Menu li.Menu07 {
	background:url(sidemenu_07.gif) 0px -38px no-repeat;
}

ol.Menu li.Menu07 a {
	background:url(sidemenu_07.gif) no-repeat;
}




