@charset 'utf-8';

#Content {
	line-height: 1;
}

/*-----------------------------------------------------
Mv
-------------------------------------------------------*/
div.mv {
	height: 1506px;
	position: relative;
	text-align: center;
	background-image: url('../images/mv_bg01.jpg'), url('../images/mv_bg02.jpg');
	background-repeat: no-repeat, no-repeat;
	background-position: center top, center bottom;
}
div.mv p.logo01 {
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -300px;
}
div.mv p.logo02 {
	margin: 0 0 288px;
	padding: 110px 0 0;
}
div.mv h1 {
	margin: 0 0 30px;
}
div.mv h2 {
	margin: 0 0 28px;
}
div.mv p.txt {
	margin: 0 0 15px;
}
div.mv ul.nav li {
	display: inline-block;
}

/*-----------------------------------------------------
Sub
-------------------------------------------------------*/
div.sub {
	padding-bottom: 40px;
	text-align: center;
	background-image: url('../images/sub_bg01.jpg'), url('../images/sub_bg02.jpg');
	background-repeat: no-repeat, no-repeat;
	background-position: center top, center 564px;
}
div.sub ul.links { margin: 0 0 60px; }
div.sub ul.links li {
	position: relative;
	padding: 40px 0 0;
}
div.sub ul.links li img.btn_icon {
	position: absolute;
	top: 19px;
	left: 19px;
}
div.sub div.news_area {
	width: 548px;
	margin: 0 auto 40px;
	padding: 0 6px 6px 6px;
	border-radius: 12px;
	background: #008eda;
}
div.sub div.news_area h2 { padding: 20px 0; }
div.sub div.news_area dl {
	padding: 32px;
	text-align: left;
	color: #fff;
	border-radius: 9px;
	background: #00aae7;
}
div.sub div.news_area dl dt {
	margin: 0 0 15px;
	font-size: 200%;
}
div.sub div.news_area dl dt:not(:first-of-type) { margin-top: 40px; }
div.sub div.news_area dl dd {
	font-size: 208%;
	line-height: 1.6;
}
div.sub div.news_area dl dd a { color: inherit; }
div.sub ul.share li {
	display: inline-block;
	margin: 0 20px;
}

/*-----------------------------------------------------
Detail
-------------------------------------------------------*/
div.detail {
	padding: 40px 0;
	text-align: center;
	border-top: 6px solid #d2d2d2;
}
div.detail p.package {
	display: inline-block;
	margin: 0 22px 40px 0;
	vertical-align: top;
}
div.detail ul {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
div.detail ul li:first-child { margin: 0 0 14px; }
div.detail ul li.cero,
div.detail ul li.amiibo {
	display: inline-block;
}
div.detail ul li.cero {
	margin-right: 11px;
}
div.detail h2 {
	margin: 0 0 40px;
	text-align: center;
}
div.detail p.btn { text-align: center; }


/*-----------------------------------------------------
Marathon
-------------------------------------------------------*/
div.marathon {
	min-height: 100%;
	padding: 20px 0 0;
	text-align: center;
	background-image: url('../images/marathon_modal_bg02.jpg'), url('../images/marathon_modal_bg02.jpg'), url('../images/marathon_modal_bg03.jpg');
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center top, center 698px, center bottom;
}
div.marathon div.inside {
	width: 586px;
	margin: 0 auto 40px;
	padding: 0 8px 8px 8px;
	background: #128c3b;
}
div.marathon h1 {padding: 28px 0;}
div.marathon div.box {
	height: 916px;
	background: url('../images/marathon_bg02.png') center top no-repeat;
}
div.marathon div.box p.txt { padding: 40px 0; }
div.marathon div.box ul li {
	display: inline-block;
	margin: 0 10px;
}
div.marathon div.box p.text_wrap {
	position: relative;
	margin: 40px 0 0;
}
div.marathon div.box p.text_wrap img.img01,
div.marathon div.box p.text_wrap a {
	position: absolute;
	top: 0px;
	left: 50%;
}
div.marathon div.box p.text_wrap img.img01 {margin-left: -120px;}
div.marathon div.box p.text_wrap a {
	top: 33px;
	margin-left: -260px;
}
div.marathon p.close {
	width: 90px;
	margin: 0 auto;
	padding: 0 0 20px;
}