@charset "utf-8";

/* ****************************************************************** 

	@This stylesheet Information{
		ファイル：base-layout.css
		最終更新：2009年02月24日
		主な内容：トップページ用レイアウト
	}

****************************************************************** */

/*===================================================================
	1: TOPICS欄
===================================================================*/
#cmain div.cmcontent {
	padding: 0 15px;
}

#cmain h2 {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 28px;
	color: #ffc000;
	font-style: italic;
	display: none;
}

#cmain ul.topics {
	margin:0; padding:0;
	list-style: none;
}

#cmain ul.topics li {
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	position: relative;
	/* padding-left: 70px; */
}

/* 日付 */

#cmain ul.topics li div.date {
	width: 75px; height: 90px;
	background: url(../image/top/date_bg.png) no-repeat;
	margin-top: -12px; margin-left: -28px;
	position: absolute;
}
div.date div.month { width:100%; text-align:center; color:#fff; margin-top: 20px; }
div.date div.day { width:100%; text-align:center; color:#fff; font-size: 32px; font-weight: bold; }

/* イメージ */
img.picture {
	float: right;
	margin: 0 0 0 20px;
}

/* タグ */
div.tag {
	text-indent: -100em; 
	overflow: hiden;
	width: 122px; height: 19px;
	background-repeat: no-repeat;
	background-image: url(../image/common/icons.png);
	margin-bottom: 12px;
	font-size: 12px;
	font-weight: bold;
}

div.tag.visitor {
	background-position: 0 -86px;
	color: #8b2804;
}

div.tag.media {
	background-position: 0 -125px;
	color: #1f7147;
}

div.tag.exhibitor {
	background-position: 0 -164px;
	color: #531f71;
}

div.tag.business {
	width: 140px;
	background-position: 0 -320px;
	color: #1a5aaa;
}

#cmain ul.topics li h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

/* 本文 */
#cmain ul.topics li p {
	line-height: 1.6;
}

#cmain ul.topics li p a {
	background: url(../image/top/arw.png) no-repeat 0 3px;
	padding-left: 14px;
	text-decoration: underline;
}


.alertbox {
	border: 2px solid #fc0;
	background: url(../image/common/alert_icon_s.png) no-repeat 20px 10px;
	padding: 20px 20px 10px 70px;
	font-size: 87.5%;
	line-height: 1.5;
	color: #555;
}

.infobox {
	border: 1px solid #ccc;
	padding: 10px 10px 7px 10px;
	font-size: 75%;
	line-height: 1.5;
	color: #555;
}

.alertbox h6,
.infobox h6 {
	margin-bottom: 5px;
}

.alertbox ul,
.infobox ul {
	margin-left: 20px;
}

.alertbox ul li,
.infobox ul li {
	margin-bottom: 4px;
}

.alertbox a,
.infobox a {
	text-decoration: underline;
}

.infobox p {
	margin:0; padding:0;
}

a.alert {
	background: url(../image/common/alert_icon_ss.png) no-repeat 0 0;
	padding-left: 16px;
	border-right: 1px solid #999;
	padding-right: 0.5em;
	margin-right: 0.5em;
	
}