@charset "UTF-8";
/************************************
*
* basic
*  
************************************/

body {
	margin:0px;
	padding:0px;
	color:#000000;
	font-size:12px;
	line-height:1.6em;
	font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	background:#b8e1de;
}
div, form, input, h1, h2, h3, h4, h5, h6, p, ul, li, ol, li, dl, dt, dd, hr {
	margin:0px;
	padding:0px;
}
ul {
	list-style:none;
}
img {
	border:none;
}
a:link, a:visited {
	color:#01a7d9;
	text-decoration:none;
}
a:hover, a:active {
	color:#01a7d9;
	text-decoration:underline;
}
.alt {
	position:absolute;
	top:-3000px;
	left:-3000px;
}
.clear {
	overflow:hidden;
	_zoom:1;
}

/************************************
*
* ヘッダー
*  
************************************/

body{
	background: #b8e1de url(../img/bgmain.jpg) 50% 0 no-repeat;
	width:100%;
	text-align:center;
}

#headCont{
	margin: 0 auto;
	width: 980px;
}

#headCont #headArea{
	margin:0 auto;
	width: 980px;
	height: 268px;
	text-align:left;
}

#headCont #superBnr{
	position:absolute;
	top: 10px;
	margin: 0 0 0 10px;
	width:728px;
	height:90px;
/*	background:#ccc;  ヘッダー広告有り用*/
	background: none;  /*ヘッダー広告無し用*/
	display: none;
}

/* 言語メニュー */

#headArea #lngMenu {
	position:absolute;
	top: 233px;
	margin: 0 0 0 25px;
	width: 280px;
	height: 23px;
	background: url(../img/lngMenu_bg.gif) 0 0 no-repeat;
	overflow:hidden;
}
#lngMenu ul {
	padding: 4px;
}
#lngMenu ul li {
	float: left;
	display: block;
	padding: 0 4px 0 0;
}
#lngMenu ul li a {
	display:block;
	width: 50px;
	height: 15px;
}
/* 日本語 */
#lngMenu ul li.jp a.on {background:url(../img/m_lng.gif) 0 0 no-repeat;}
#lngMenu ul li.jp a.on:hover {background:url(../img/m_lng.gif) 0 -15px no-repeat;}
#lngMenu ul li.jp a.focus {background:url(../img/m_lng.gif) 0 -15px no-repeat;}
#lngMenu ul li.jp a.enabled {background:url(../img/m_lng.gif) 0 -30px no-repeat;}

/* 英語 */
#lngMenu ul li.en a.on {background:url(../img/m_lng.gif) -50px 0 no-repeat;}
#lngMenu ul li.en a.on:hover {background:url(../img/m_lng.gif) -50px -15px no-repeat;}
#lngMenu ul li.en a.focus {background:url(../img/m_lng.gif) -50px -15px no-repeat;}
#lngMenu ul li.en a.enabled {background:url(../img/m_lng.gif) -50px -30px no-repeat;}

/* ハングル */
#lngMenu ul li.ko a.on {background:url(../img/m_lng.gif) -100px 0 no-repeat;}
#lngMenu ul li.ko a.on:hover {background:url(../img/m_lng.gif) -100px -15px no-repeat;}
#lngMenu ul li.ko a.focus {background:url(../img/m_lng.gif) -100px -15px no-repeat;}
#lngMenu ul li.ko a.enabled {background:url(../img/m_lng.gif) -100px -30px no-repeat;}

/* カンタイ */
#lngMenu ul li.cn a.on {background:url(../img/m_lng.gif) -150px 0 no-repeat;}
#lngMenu ul li.cn a.on:hover {background:url(../img/m_lng.gif) -150px -15px no-repeat;}
#lngMenu ul li.cn a.focus {background:url(../img/m_lng.gif) -150px -15px no-repeat;}
#lngMenu ul li.cn a.enabled {background:url(../img/m_lng.gif) -150px -30px no-repeat;}

/* ハンタイ */
#lngMenu ul li.tw a.on {background:url(../img/m_lng.gif) -200px 0 no-repeat;}
#lngMenu ul li.tw a.on:hover {background:url(../img/m_lng.gif) -200px -15px no-repeat;}
#lngMenu ul li.tw a.focus {background:url(../img/m_lng.gif) -200px -15px no-repeat;}
#lngMenu ul li.tw a.enabled {background:url(../img/m_lng.gif) -200px -30px no-repeat;}

/* SNSメニュー */
#snsMenu{
	position:absolute;
	top: 226px;
	margin:0 0 0 488px;
	width: 165px;
	height: 38px;
	background: url(../img/snsMenu_bg.gif) 0 0 no-repeat;
	overflow:hidden;
}
#snsMenu ul {
	overflow:hidden;
	_zoom:1;
	margin: 0;
	padding: 3px 0 0 3px;
}
#snsMenu ul li {
	float: left;
	display: inline;
	margin: 0 8px 0 0;
	padding: 0 0 0 0;
}
#snsMenu ul li a {
	display:block;
	width: 32px;
	height: 32px;
}
#snsMenu ul li.t a {background:url(../img/m_sns.gif) 0 0 no-repeat;}
#snsMenu ul li.t a:hover {background:url(../img/m_sns.gif) 0 -32px no-repeat;}
#snsMenu ul li.fb a {background:url(../img/m_sns.gif) -32px 0 no-repeat;}
#snsMenu ul li.fb a:hover {background:url(../img/m_sns.gif) -32px -32px no-repeat;}
#snsMenu ul li.in a {background:url(../img/m_sns.gif) -64px 0 no-repeat;}
#snsMenu ul li.in a:hover {background:url(../img/m_sns.gif) -64px -32px no-repeat;}
#snsMenu ul li.rss a {background:url(../img/m_sns.gif) -96px 0 no-repeat;}
#snsMenu ul li.rss a:hover {background:url(../img/m_sns.gif) -96px -32px no-repeat;}

.popup {
	position:absolute;
	display:none;
	top:0;
	left:0;
	z-index: 50;
}

/************************************
*
* メイン
*  
************************************/

#mainCont {
	margin:0 auto;
}
#mainArea {
	margin:0 auto;
	margin-bottom:20px;
	width:980px;
	text-align:left;
	background: #fff url(../img/bgconttop.jpg) right 47px no-repeat;
}
#mainCts {
	padding:20px;
	overflow:hidden;
	_zoom:1;
}
#mainL {
	clear: both;
	float: left;
	margin: 0 0 35px;
	width: 720px;
}
#side {
	position: relative;
	float: right;
	padding: 150px 0 35px;
	width: 200px;
	height: 700px;
}

/************************************
*
* 中共通
*  
************************************/


#mainL h2.pageTitle {
	margin: 0 0 15px;
}
#mainL h3.subTitle {
	width:720px;
	line-height: 20px;
	padding: 0;
	margin: 0 0 15px;
	font-size: 14px;
	font-weight:normal;
}
.catVisitor h3.subTitle { background: url(../img/tit/tit_bg_visitor.gif) 0 0 no-repeat;}
.catEvent h3.subTitle {background:url(../img/tit/tit_bg_event.gif) 0 0 no-repeat;}
.catBusiness h3.subTitle {background:url(../img/tit/tit_bg_business.gif) 0 0 no-repeat;}
.catMedia h3.subTitle {background:url(../img/tit/tit_bg_media.gif) 0 0 no-repeat;}
.catContact h3.subTitle {background:url(../img/tit/tit_bg_contact.gif) 0 0 no-repeat;}

#mainL h3.subTitle strong {
	display:inline-block;
	font-weight: bold;
	background:#fff;
	margin: 0 0 0 15px;
	padding: 0 10px;
}
.catVisitor h3.subTitle strong { color: #379c00; }
.catEvent h3.subTitle strong { color: #40a9db; }
.catBusiness h3.subTitle strong { color: #8ab610; }
.catMedia h3.subTitle strong { color: #f13687; }
.catContact h3.subTitle strong { color: #7b06b7; }

#mainL h3.subTitle_sown {
	width:504px;
	height:19px;
	padding-bottom:25px;
	font-size:16px;
	font-weight:normal;
	background:url(../img/h3_title_bg_sown.gif) 0 0 no-repeat;
}
#mainL h3.subTitle_sown strong {
	display:inline-block;
	margin:0 0 0 30px;
	padding:1px 10px 0 10px;
	font-weight:normal;
	background:#fff;
}
#mainL .section {
	margin:0 15px 25px 15px;
	width:690px;
}
#mainL p.subTitle2 {
	margin: 0 0 10px;
	padding: 0 0 0 25px;
	line-height: 24px;
	font-size: 13px;
}
.catVisitor p.subTitle2 { background: url(../img/tit/ti_bg_visitor.gif) 0 0 no-repeat;}
.catEvent p.subTitle2 {background:url(../img/tit/ti_bg_visitor.gif) 0 bottom no-repeat;}
.catBusiness p.subTitle2 {background:url(../img/tit/ti_bg_visitor.gif) 0 top no-repeat; background-color:#ebf5e5;}
.catMedia p.subTitle2 {background:url(../img/tit/ti_bg_visitor.gif) 0 bottom no-repeat;}
.catContact p.subTitle2 {background:url(../img/tit/ti_bg_contact.gif) 0 bottom no-repeat;}

#mainL p.subTitle2 span.new {
	position:relative;
	top:4px;
}
/*
#mainL p.subTitle3{
	margin:0 0 10px 0;
	padding:5px 5px;
	font-size:14px;
	line-height:1.5em;
	border-left:6px solid #d1d1d1;
	border-bottom:1px solid #d1d1d1;
}

#mainL p.subTitle3in{
padding-left:20px;
margin-bottom:40px;
}
*/
#mainL .anchorArea {
	padding:0 15px 30px 15px;
}
#mainL .anchorArea p {
	padding:15px 0 3px 0;
	font-size:14px;
}
#mainL .anchorArea a {
	display:inline-block;
	padding:0 18px;
	line-height:1.5em;
	background:url(../img/link_arrow.gif) 0 3px no-repeat;
}
#mainL .pagetop, #mainFull .pagetop {
	padding-bottom: 25px;
	text-align:right;
}
#mainL .pagetop a, #mainFull .pagetop a {
	display:inline-block;
	padding:0 0 0 18px;
	line-height:1.5em;
	background:url(../img/pagetop_arrow.gif) 0 3px no-repeat;
}
.attention {
	color:#F00;
}
/************************************
*
* 表組み
*  
************************************/

.list1 {
	margin:0 0 10px 0;
	padding:1px;
	border:1px solid #A3A3A3;
}
.list1 table {
	border-collapse: collapse;
}
.list1 table th {
	width:140px;
	padding:15px;
	text-align: left;
	font-size:12px;
	font-weight:normal;
	background:#C7E181;
	border-bottom:1px solid #fff;
}
.list1 table#gaiyo th {
	width:100px;
	padding:15px;
	text-align: left;
	font-size:12px;
	font-weight:normal;
	background:#C7E181;
	border-bottom:1px solid #fff;
}
.list1 table td {
	padding:15px;
	font-size:12px;
	background:#fff;
	border-bottom:1px solid #CCCCCC;
}
.comment {
	font-size:10px;
}
/************************************
*
* メニュー
*  
************************************/
/* フッターメニュー */

#footerArea {
	clear: both;
	width: 980px;
	height: 93px;
	background: url(../img/fot_bg.jpg) 0 0 no-repeat;
	position: relative;
}
#footerArea #footMenu {
	margin: 0 auto;
	padding: 15px;
	text-align:center;
	font-size: 10px;
	line-height: 1;
}
#footMenu span {
	display:inline-block;
	padding:0 10px;
}
#footMenu a {
	font-size:10px;
	color:#000;
	text-decoration:none;
}
#footMenu a:hover {
	font-size:10px;
	color:#666;
	text-decoration:underline;
}
#footerArea #fotBn {
	position: absolute;
	top: 57px;
	left: 537px;
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 1;
}
#footerArea #fotBn li {
	float: left;
	margin: 0 3px 0 0;
	display: inline;
}
#footerArea #copyright {
	position: absolute;
	top: 63px;
	left: 10px;
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 1;
}
/************************************
*
* サイドナビゲーション
*  
************************************/


#sideNavi {
	position:relative;
	width:200px;
	padding-bottom:15px;
	background:url(../img/side_btm.gif) 0 bottom no-repeat;
}
.catVisitor #sideNavi {background: url(../img/sn/sn_bgbot_visitor.gif) 0 bottom no-repeat;}
.catEvent #sideNavi {background:url(../img/sn/sn_bgbot_event.gif) 0 bottom no-repeat;}
.catBusiness #sideNavi {background:url(../img/sn/sn_bgbot_business.gif) 0 bottom no-repeat;}
.catMedia #sideNavi {background:url(../img/sn/sn_bgbot_media.gif) 0 bottom no-repeat;}
.catContact #sideNavi {background:url(../img/sn/sn_bgbot_contact.gif) 0 bottom no-repeat;}

#sideNavi #sideTitle {
	width:200px;
	height:40px;
}
.catVisitor #sideNavi #sideTitle {background: url(../img/sn/sn_tit_visitor.gif) 0 0 no-repeat;}
.catEvent #sideNavi #sideTitle {background:url(../img/sn/sn_tit_event.gif) 0 0 no-repeat;}
.catBusiness #sideNavi #sideTitle {background:url(../img/sn/sn_tit_business.gif) 0 0 no-repeat;}
.catMedia #sideNavi #sideTitle {background:url(../img/sn/sn_tit_media.gif) 0 0 no-repeat;}
.catContact #sideNavi #sideTitle {background:url(../img/sn/sn_tit_contact.gif) 0 0 no-repeat;}

#sideNavi ul {
	display:block;
	overflow: hidden;
	padding: 0 5px 3px;
}
.catVisitor #sideNavi ul {border-left: 8px solid #379c00; border-right: 8px solid #379c00;}
.catEvent #sideNavi ul {border-left: 8px solid #40a9db; border-right: 8px solid #40a9db;}
.catBusiness #sideNavi ul {border-left: 8px solid #8ab610; border-right: 8px solid #8ab610;}
.catMedia #sideNavi ul {border-left: 8px solid #f13687; border-right: 8px solid #f13687;}
.catContact #sideNavi ul {border-left: 8px solid #7b06b7; border-right: 8px solid #7b06b7;}

#sideNavi ul li {
	overflow: hidden;
}
.catVisitor #sideNavi ul li { border-bottom: dotted 1px #379c00; }
.catEvent #sideNavi ul li { border-bottom: dotted 1px #40a9db; }
.catBusiness #sideNavi ul li { border-bottom: dotted 1px #8ab610; }
.catMedia #sideNavi ul li { border-bottom: dotted 1px #f13687; }
.catContact #sideNavi ul li { border-bottom: dotted 1px #7b06b7; }

#sideNavi ul li a {
	display:block;
	margin: 0;
	padding: 7px 7px 7px 18px;
	font-size: 12px;
	color:#e20e79;
	text-indent: 0;
	text-decoration:none;
}
.catVisitor #sideNavi ul li a { background: url(../img/sn/sn_arrow_visitor.gif) 5px 10px no-repeat; color: #379c00;}
.catEvent #sideNavi ul li a { background: url(../img/sn/sn_arrow_event.gif) 5px 10px no-repeat; color: #40a9db;}
.catBusiness #sideNavi ul li a { background: url(../img/sn/sn_arrow_business.gif) 5px 10px no-repeat; color: #8ab610;}
.catMedia #sideNavi ul li a { background: url(../img/sn/sn_arrow_media.gif) 5px 10px no-repeat; color: #f13687;}
.catContact #sideNavi ul li a { background: url(../img/sn/sn_arrow_contact.gif) 5px 10px no-repeat; color: #7b06b7;}

#sideNavi ul li a:hover {
	color: #ffffff;
}
.catVisitor #sideNavi ul li a:hover { background: #a5d03a url(../img/sn/sn_arrow_o_visitor.gif) 5px 10px no-repeat;}
.catEvent #sideNavi ul li a:hover { background: #8ccbe9 url(../img/sn/sn_arrow_o_event.gif) 5px 10px no-repeat;}
.catBusiness #sideNavi ul li a:hover { background: #aadc14 url(../img/sn/sn_arrow_o_business.gif) 5px 10px no-repeat;}
.catMedia #sideNavi ul li a:hover { background: #f786b7 url(../img/sn/sn_arrow_o_media.gif) 5px 10px no-repeat;}
.catContact #sideNavi ul li a:hover { background: #b06ad4 url(../img/sn/sn_arrow_o_contact.gif) 5px 10px no-repeat;}


/************************************
*
* サイドナビゲーション
*  
************************************/

#sideNavi_fm {
	position:relative;
	width:200px;
	padding-bottom: 35px;
}
#sideNavi_fm #sideTitle span {
	position:absolute;
	top:-3000px;
	left:-3000px;
	margin:0px;
	padding:0px;
}
#sideNavi_fm #sideTitle {
	width: 200px;
	height: 99px;
	background: url(../img/sn/sn_tit_family.jpg) 0 0 no-repeat;
	display:block;
}
#sideNavi_fm ul {
	width:200px;
	padding: 0 0 11px;
	margin: 0;
	background: url(../img/sn/sn_bg_family.gif) 0 bottom no-repeat;
}
#sideNavi_fm ul li {
	margin: 0;
	padding: 0;
}
#sideNavi_fm ul li a {
	width: 200px;
	height: 37px;
	display:block;
}
#sideNavi_fm ul li a span {
	position:absolute;
	top:-3000px;
	left:-3000px;
}
#sideNavi_fm img {
}
/*開催日時*/
#sideNavi_fm ul li.dat a {
	background: url(../img/sn/sn_family01.gif) 0 0 no-repeat;
}
#sideNavi_fm ul li.dat a:hover {
	background: url(../img/sn/sn_family01_o.gif) 0 0 no-repeat;
}
/*会場への行き方*/
#sideNavi_fm ul li.acc a {
	background: url(../img/sn/sn_family02.gif) 0 0 no-repeat;
}
#sideNavi_fm ul li.acc a:hover {
	background: url(../img/sn/sn_family02_o.gif) 0 0 no-repeat;
}
/*参加メーカー*/
#sideNavi_fm ul li.spn a {
	background: url(../img/sn/sn_family03.gif) 0 0 no-repeat;
	height: 44px;
}
#sideNavi_fm ul li.spn a:hover {
	background: url(../img/sn/sn_family03_o.gif) 0 0 no-repeat;
	height: 44px;
}
/*ステージショー*/
#sideNavi_fm ul li.stg a {
	background:url(img/navi_stage.gif) no-repeat left top;
}
#sideNavi_fm ul li.stg a:hover {
	background:url(img/navi_stage.gif) no-repeat 0 -35px;
}
/*出店ブース*/
#sideNavi_fm ul li.bth a {
	background:url(img/navi_booth.gif) no-repeat left top;
}
#sideNavi_fm ul li.bth a:hover {
	background:url(img/navi_booth.gif) no-repeat 0 -35px;
}
#small_box {
	background:#fff;
	padding:10px;
}

/*わくわくフロア*/
#sideNavi_fm ul li.wak a {
	background:url(img/navi_wakuwaku.gif) no-repeat left top;
}
#sideNavi_fm ul li.wak a:hover {
	background:url(img/navi_wakuwaku.gif) no-repeat 0 -35px;
}
/*クーポン*/
#sideNavi_fm ul li.cpn a {
	height:191px;
	background:url(img/navi_coupon.jpg) no-repeat left top;
}
#sideNavi_fm ul li.cpn a:hover {
	height:191px;
	background:url(img/navi_coupon.jpg) no-repeat 0 -191px;
}

