@charset "utf-8";


#exhibition .content_read{
	font-size:15px;
	margin-top:30px;
	margin-bottom:30px;
}
#exhibition .btnbox{
	width:934px;
padding-left:30px;
margin-bottom:40px;
}

#exhibition .btnbox a{
width:440px;
display:block;
	font-size:26px;
	color:#fff;
	background-color: #fa843c;
	line-height:60px;
	height:66px;
	padding-left:60px;
border-radius: 5px;
}

#exhibition .btnbox a.small{
	font-size:23px;
	line-height:1.2;
	padding-top:4px;
	
}
#exhibition .btnbox a.pdf{
background-image: url(img/area/icon_pdf.svg);
	background-position: left 20px center;
	background-repeat: no-repeat;
	background-size: 23px 26px;
}

#exhibition .btnbox a.ie{
background-image: url(img/area/icon_ie.svg);
	background-position: left 20px center;
	background-repeat: no-repeat;
	background-size: 23px 26px;
}

/*募集
======================================================== */
#exhibition.sponsor .kome{
	margin-left:14px;
	line-height: 1.6 ;
}
#exhibition.sponsor .kome span{
	margin-left:-14px;
}
#exhibition.sponsor .kome span:before{
	content:"※";
}


#exhibition.area .bottons{
	width:960px;
padding-left:30px;
	margin-bottom:40px;
}

#exhibition.area .bottons a{
display:block;
	width:229px;
	float:left;
	background-color: #f5f5f5;
	margin-right:3px;
	margin-bottom:3px;
	height:40px;
	text-align:left;
	line-height:38px;
	font-size: 17px;

}
#exhibition.area .bottons a.small{
	font-size:12px;
}


#exhibition.area .bottons a i{
vertical-align: middle;
		background-image: url(img/area/icon_shita.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size:100%;
	width:18px;
	height:18px;
	display:inline-block;
	margin-right:15px;
	
}







#exhibition.area .box{
	width:858px;
	border:9px solid;
	margin:55px auto;
	padding:40px;
	background: #fff;
	
}

#exhibition.area section.outline h3{
	margin-top: 0;
	line-height: 1;
	padding-bottom:20px;
	border-bottom: 1px #263b52 solid;
	font-size:40px!important;
	margin-bottom: 20px;
	text-align: left;
}

#exhibition.area section.outline h3.s{
	font-size:38px!important;
}

#exhibition.area section.outline h3 span{
display:block;
	font-size:30px;
	margin-top:20px;
}
#exhibition.area .box .left.mbox{
	width:643px;
	
}

#exhibition.area .box .left.mbox02{
	width:590px;
	padding-bottom:30px;
	margin-bottom:30px;
	
}
#exhibition.area .box .left.border{
	border-bottom:1px #263b52 solid; 
	
}

#exhibition.area .box .border02{
	border-top:1px #263b52 solid;
	padding-top:20px;
	margin-top:20px;
	
}

#exhibition.area .box .right.mbox{
	width:643px;
	
}

#exhibition.area section.outline .title_read{
	
	font-size:17px;
	margin-bottom:18px;
}

#exhibition.area section.outline .title_read .orange{
color:#f08800;
}

#exhibition.area section.outline .title_read02{
	font-size:15px;
	margin-bottom:50px;
	display:table;
}
#exhibition.area section.outline .title_read02 span{
		display:table-cell;
}

#exhibition.area section.outline .title_read02 span p{
	width:80px;
	padding:5px 7px 5px 7px;
	line-height: 1;
	margin-right:15px;
	text-align: center;
	border: 1px solid #333;
}
#exhibition.area section.outline .title03{
	font-size:38px;
}
#exhibition.area section.outline .title03s{
	font-size:18px;
}


#exhibition.area section.outline .title_read03{
	font-size:21px;
	width:858px;
	margin:0 auto 20px auto;


color:#263b52;
}

#exhibition.area section.outline .title_read04{
	font-size:16px;
	line-height: 1.6;
color:#263b52;
	
	width:858px;
	margin:0 auto;
}


#exhibition.area .box .price_box .futsu{
	
	font-size:32px;
}
#exhibition.area .box .price_box .left{
	width:298px;
}

#exhibition.area .box .mbox02 .price_box .left {
	width:290px;
}
#exhibition.area .box .price_box .left.w{
	width:340px;
}
#exhibition.area .box .price_box .left.w2{
	width:445px;
}
#exhibition.area .box .price_box .left.w3{
	width:385px;
}

#exhibition.area .box .price_box .left.w4{
	width:350px;
}
#exhibition.area .box .price_box .left.w5{
	width:400px;
	padding-left:10px;
}

#exhibition.area .box .price_box .left.w5 dt{
	width:88px;

}




#exhibition.area .box .left.mr{
	margin-right:15px;
}
#exhibition.area .box .price_box .left dt{
	width:136px;
	display:inline-block;
	font-size:18px;
	border:1px solid #333;
	text-align: center;
line-height: 1;
	padding-top:3px;
		padding-bottom:3px;
	margin-bottom:5px;
	margin-right: 15px;
}
#exhibition.area .box .price_box .left dt.black{
background-color: #231815;
line-height: 1;
	color:#fff;
}

#exhibition.area .box .price_box .left dd{
	display:inline-block;
		margin-bottom:5px;
	font-size:20px;
}
#exhibition.area .box .kome{
margin-top:20px;
	margin-bottom:30px;
	
} 
#exhibition.area .box .days04{
	width:72px;
	
	
}

#exhibition.area .box .days{
	margin-bottom:15px;
	margin-top: 5px;
	text-align: center ;
}




#exhibition.area .box .days img{
	width:72px;	
	
}

#exhibition.area .box .two_days{
	
}

#exhibition.area .box .right.two_days{
	
}

#exhibition.area .box .right.two_days .d{
float:left;	

}

#exhibition.area .box  img.days-color{
	max-height:93px;
	max-width:72px;
}


#exhibition.area .box .right.two_days .mr{
margin-right:10px;	
}
#exhibition.area .box .cname{
	text-align: center;
	margin-bottom:20px;
	font-size:17px;
}

#exhibition.area .box .waku{
	width:190px;
	padding:8px 0;
	text-align: center;
	line-height: 1;
	font-size: 20px;
	border:1px solid #333;
	margin-bottom: 20px;
	
}

#exhibition.area .box .icon{
	text-align:center;
	padding:7px 0;
	background-color: #000;
	color:#fff;
	max-width: 72px;
	
}
#exhibition.area .cesabox{
	width: 858px;
	margin: 0 auto;
		font-size:20px;
		line-height: 1.6;
	color:#263b52;
	padding-bottom: 50px;
}

#exhibition.area .cesabox .cesa_title{
	font-size:35px;
	position:relative;
	margin-bottom:25px;
}
#exhibition.area .cesabox .cesa_title:after{
		position:absolute;
	bottom:-5px;
	left:0;
content:"";
	border-bottom:2px solid #263b52;
	width:37px;

}
#exhibition.area .pic_box img{
	display:block;
}


#exhibition.area .cesabox li{

	margin-bottom:20px;

}
#exhibition.area .cesabox p a{
	color:#f08800;
}


#exhibition.area .box .date{
	width:370px;
	color:#fff;
	font-size:18px;
	line-height: 1;
	text-align: center;
	
	background-color: #263b52;
	padding:8px 8px 15px 8px;
		
}
#exhibition.area .box .graydl dl{
	background-color:#dfe0e0;
	margin-bottom:20px;
	padding:15px;
}
#exhibition.area .box .graydl dl dt{
	font-size:24px;
	margin-bottom:5px;
}
#exhibition.area .service{
	color:#263b52;
	width:850px;
	margin: 40px auto 0 auto;
	padding-bottom:40px;
}
#exhibition.area .service dt{
	font-size:24px;
	margin-bottom:15px;
}
#exhibition.area .service dd{
	font-size:16px;
	margin-bottom:35px;
}


#exhibition.area .schedule{
	width: 858px;
	margin:0 auto;
	font-size:17px;
	color:#263b52;
	line-height: 1.6;
}
#exhibition.area .schedule dl{
display:table;
	margin-bottom:5px;
}

#exhibition.area .schedule dl dt,
#exhibition.area .schedule dl dd{
display:table-cell;
}
#exhibition.area .schedule dl dt{
	width:212px;

}
#exhibition.area .schedule dl dt span{
	display:inline-block;
	width:100%;
	position:relative;

}
#exhibition.area .schedule dl dt span:after{
	content:":";
	position:absolute;
	right:0px;

}

#exhibition.area .schedule dl dd{
	padding-left:20px;
}
#exhibition.area .schedule dl dd .small{
	font-size:15px;
	
}

#exhibition.area .schedule .title04{
	font-size:21px;
		margin-top:40px;
		margin-bottom:15px;
	
}

#exhibition.area .schedule .title04 .small{
	font-size:15px;
	
	
}
#exhibition.area .schedule .session{
	margin-top:20px;
	font-size:17px;
	padding-bottom:50px;

}

.Selection{
	width: 136px;
	display: inline-block;
	font-size: 16px;
	border: 1px solid #333;
	text-align: center;
	line-height: 1;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 10px;
	margin-right: 15px;
}

.Selection2{
	background-color: #231815 ;
	width: 136px;
	display: inline-block;
	font-size: 16px;
	color: #fff ;
	border: 1px solid #333;
	text-align: center;
	line-height: 1;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 10px ;
}

.page_sales{
	padding-left: 95px ;
	margin-top: auto ;
}

.page_sales2{
	margin-bottom: auto !important;
}

.page_product{
	width: 80px;
padding: 5px 7px 5px 7px;
line-height: 1;
margin-right: 15px;
text-align: center;
border: 1px solid #333;
}
.page_title{
	font-size: 15px;
	display: table;
}

.date2{
	width:370px;
	color:#fff;
	font-size:18px;
	line-height: 1;
	text-align: center;
	background-color: #263b52;
	padding:8px 8px 15px 8px;
	margin-bottom:28px;
	overflow: hidden ;
}

.page_box{
	width:590px;
}

.page_box2{
	width: 600px;
}

.page_new{
	margin-bottom:10px !important;
}

.page_point:before{
	content:"・";
	margin-left: -14px ;
	}
	
.page_square:before{
	content:"■ ";
	margin-left: -15px ;
	}	

.page_1:before{
	content:"①";
	margin-left: -15px ;
	}

.page_2:before{
	content:"②";
	margin-left: -15px ;
	}
	
.page_3:before{
	content:"③";
	margin-left: -15px ;
	}	

.page_4:before{
	content:"④";
	margin-left: -15px ;
	}	

.page_5:before{
	content:"⑤";
	margin-left: -15px ;	
	}

.page_kome:before{
	content:"※";
	margin-left: -14px ;	
	}

.page_margin{
	margin-left:14px;
	line-height: 1.6;
}

.page_or{
	color:#fa843c;
}

.page_another{
	margin-top: 15px ;
}

.pege_bar{
	text-decoration:underline ;
	text-decoration-color: #F00 ;
}

.page_red{
	color: #F00 ;
}

.kome_red:before{
	content:"※";
	color: #F00 ;
	margin-left: -15px ;
}

.page_margin2{
	margin-bottom: 30px ;
	margin-left:15px;
	line-height: 1.6;
}

.area_general{
	color: #e63650 ;
}

.area_smp{
	color: #b4b1b0 ;
}

.area_esports{
	color: #f9be00 ;
}

.area_vrar{
	color: #ccda00 ;
}

.area_romance{
	color: #e966a0 ;
}

.area_general{
	color: #e63650 ;
}

.area_general{
	color: #e63650 ;
}

.area_general{
	color: #e63650 ;
}

.area_general{
	color: #e63650 ;
}

.area_general{
	color: #e63650 ;
}

.area_general{
	color: #e63650 ;
}

.area_general{
	color: #e63650 ;
}

.area_general{
	color: #e63650 ;
}

.area_general{
	color: #e63650 ;
}

.sponsor_rs{
	width: 100% ;
}

.sponsor_rs2{
}

.sponsor_rs3{
	margin-left: 10px;
	margin-top: 10px ;

}

.sponsor_time2{
	margin-top: 10px ;
}

.sponsor_size{
	font-size: 16px ;
}

.sponsor_underbar{
margin-bottom: 40px ;
padding-bottom: 100px;
border-bottom: dotted 1px #263b52;
}
/************************色************************/
/*赤*/
#exhibition.area .box.red{

	border:9px solid #e63650;
}
#exhibition.area .box.red .days-color{
background-color:#e63650
}
#exhibition.area .box.red h3{
	
		color:#e63650;
}

/*グレー*/
#exhibition.area .box.gray{

	border:9px solid #b4b1b0;
}
#exhibition.area .box.gray .days-color{
background-color:#b4b1b0
}

#exhibition.area .box.gray h3{
	
		color:#b4b1b0;
}
/*水色*/
#exhibition.area .box.water{

	border:9px solid #76caf2;
}
#exhibition.area .box.water .days-color{
background-color:#76caf2
}

#exhibition.area .box.water h3{
	
		color:#76caf2;
}
/*黄色*/
#exhibition.area .box.yellow{

	border:9px solid #f9be00;
}
#exhibition.area .box.yellow .days-color{
background-color:#f9be00
}

#exhibition.area .box.yellow h3{
	
		color:#f9be00;
}
#exhibition.area .box.yellow .waku{
	color:#f9be00;
	border:1px solid #f9be00;
}
/*緑*/
#exhibition.area .box.green{

	border:9px solid #ccda00;
}
#exhibition.area .box.green .days-color{
background-color:#ccda00
}

#exhibition.area .box.green h3{
	
		color:#ccda00;
}
#exhibition.area .box.green .waku{
	color:#ccda00;
	border:1px solid #ccda00;
}


#exhibition.area .box.blue02{
		border:9px solid #41b8b0;
}


#exhibition.area .box.blue02 .days-color{
background-color:#41b8b0;
}

#exhibition.area .box.blue02 h3{
	
		color:#41b8b0;
}
#exhibition.area .box.blue02 .waku{
	color:#41b8b0;
	border:1px solid #41b8b0;
}
/***/
#exhibition.area .box.green02{
		border:9px solid #7fbe26;
}


#exhibition.area .box.green02 .days-color{
background-color:#7fbe26;
}

#exhibition.area .box.green02 h3{
	
		color:#7fbe26;
}




#exhibition.area .box.pink{
		border:9px solid #e966a0;
}


#exhibition.area .box.pink .days-color{
background-color:#e966a0;
}

#exhibition.area .box.pink h3{
	
		color:#e966a0;
}



#exhibition.area .box.orange{
		border:9px solid #f08800;
}


#exhibition.area .box.orange .days-color{
background-color:#f08800;
}

#exhibition.area .box.orange h3{
	
		color:#f08800;
}
#exhibition.area .box.orange .waku{
	border:1px solid #f08800;
	color:#f08800;
}

#exhibition.area .box.pur{
		border:9px solid #afa2ce;
}


#exhibition.area .box.pur .days-color{
background-color:#afa2ce;
}

#exhibition.area .box.pur h3{
	
		color:#afa2ce;
}


/*広告メニュー／協賛セッション
======================================================== */
#exhibition.sponsor{
	color:#263b52;
}
#exhibition.sponsor .s_navi{
	width:910px;
	position:absolute;
	top:50%;
	margin-top:-17px;
}

#exhibition.sponsor .s_navi img{
	width:35px;
}
#exhibition.sponsor .s_left{float:left;}
#exhibition.sponsor .s_right{float:right;}

#exhibition.sponsor .slide_wrap{
	position: relative;
}

#exhibition.sponsor .slide_title{
	font-size:29px;
}
#exhibition.sponsor .h_inner{
	padding-left:30px;
}
#exhibition.sponsor .slide{
	padding:10px 10px;
background-color: #d9d9d9;
	width:910px;
	
}

#exhibition.sponsor .slide li{
	float:left;
	
}

#exhibition.sponsor .btnbox{
	width:417px;
	padding-left: 0px ;
	margin-left:290px;
	margin-top:50px;
	margin-bottom:40px;
}
#exhibition.sponsor .outline_content{
	padding-bottom:67px;
}

#exhibition.sponsor .outline_content .inner_content {
	width:858px;
	margin:0 auto;
	background-color: #fff;
	margin-top:40px;

	padding:40px;
}



#exhibition.sponsor .inner_content .title_read{
font-size:15px;
} 
#exhibition.sponsor .inner_content .title_read span{
display:inline-block;
	font-size:13px;
	border:1px solid #263b52;
	
	
}


#exhibition.sponsor .inner_content  .title_read{
	font-size:15px;
	margin-bottom:20px;
}
#exhibition.sponsor .inner_content  .title_read span{
	display:inline-block;
	padding:5px 7px 5px 7px;
	line-height: 1;
	margin-right:15px;
	border: 1px solid #333;
}

#exhibition.sponsor .inner_content  h3{
	font-size:27px;
position:relative;
	color:#263b52;
	margin-bottom: 15px ;
}

#exhibition.sponsor .inner_content .left dt{
	font-size:21px;
	margin-bottom:22px;
		color:#263b52;
}
#exhibition.sponsor .inner_content .left dd{
	margin-bottom:5px;
}
#exhibition .futai{
font-size:20px;
	line-height: 1;
	padding:10px 20px 10px 20px ;
	text-align: center;
	border: 1px solid #263b52;
	margin-bottom: 5px;
	margin-top: 20px;
	display: inline-block;
}
#exhibition.sponsor .inner_content .service .right{
	width:366px;
}

.exmargin{
	margin-top: 20px;
	
}

#exhibition.sponsor .inner_content .kome{
	padding-bottom:40px;

	margin-bottom: 30px;
	border-bottom: dotted 1px #263b52;
}

#exhibition.sponsor .inner_content .date{
	display: inline-block;
	color:#fff;
	font-size:21px;
	line-height: 1;
	text-align: center;
	
	background-color: #263b52;
	padding:8px 18px 15px 18px;
	margin-bottom:28px;
	
}
#exhibition.sponsor .inner_content .moushikomi{
	font-size:12px;
	line-height:1.6;
}

#exhibition.sponsor .inner_content .moushikomi a{
	color:#fa843c;
}

#exhibition.sponsor .inner_content .btnbox{
	padding:0;
	width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 40px;

	
}

#exhibition.sponsor .inner_content .btnbox a{
width:368px;	
}

.sponsor_box{
	float:none;
}

.sponsor_time{
	display: inline-block;
	padding: 1px 7px 5px 7px;
	line-height: 1;
	margin-top: 10px ;
	margin-left: 15px ;
	margin-bottom: 30px;
	border: 1px solid #333;
}



.sponsor_in{
	position: relative;
	
}

.sponsor_in_box{
	position: absolute;
	left: 332px;
	top: 0px;
	width: 125px;
	
}
.sponsor_in_box img{
	width: 80%;
}

@media screen and (max-width: 640px) {
	
.page_sales{
	padding-left: 95px ;
	margin-top: auto ;
}

}
