@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix {
  min-height: 1px;
  height: 1px;
}
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}
input,
textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  max-width: 100%;
}
.cl:after {
  width: 1px;
  height: 0px;
  content: "";
  line-height: 0;
  display: block;
  clear: both;
}
.tel {
  cursor: default;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .tel {
    pointer-events: auto;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: "FOT-ロダンNTLG Pro DB", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
}
.bl {
  font-family: "FOT-ロダンNTLG Pro EB", "RodinNTLGPro-EB";
}
:root {
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  :root {
    background: #202020;
    font-size: 20px;
    -webkit-text-size-adjust: 100%;
  }
}
@media screen and (max-width: 768px) {
  :root {
    background: #202020;
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  a:focus {
    outline: none;
  }
}
@media screen and (min-width: 768px) {
  a:hover {
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
  }
}
@media screen and (max-width: 768px) {
  a:hover {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  a:visited {
    color: #333;
  }
}
@media screen and (max-width: 768px) {
  a:visited {
    color: #333;
  }
}
.deadLink,
.deadlink {
  pointer-events: none !important;
  cursor: default !important;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.u_line {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  header {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }
}
section,
artcle {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  section,
  artcle {
    min-width: 980px;
  }
}
@media screen and (max-width: 768px) {
  section,
  artcle {
    width: 100%;
    min-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  footer {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  footer {
    width: 100%;
  }
}
.imgbox {
  width: 100%;
}
.imgbox img {
  width: 100%;
}
#mainImg {
  overflow: hidden;
}
.mainImgMovieBox {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox {
    min-width: 980px;
    min-height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox {
    min-width: 100%;
    min-height: 670px;
  }
}
.mainImgMovieBox .mainImgMovieBoxMov {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  -moz-opacity: 0.001;
  -khtml-opacity: 0.001;
  opacity: 0.001;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxMov {
    height: 100%;
    min-width: 980px;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxMov {
    height: 100%;
    min-width: 100%;
  }
}
.mainImgMovieBox .mainImgMovieBoxMov video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.mainImgMovieBox .mainImgMovieBoxMov img {
  width: 100%;
}
.mainImgMovieBox .mainImgMovieBoxDot {
  background: url("../images/bgBlack.png") center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
  min-width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox {
    width: 980px;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 {
  width: 310px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 {
    width: 310px;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 {
    width: 44%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 4%;
  }
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 img {
    width: 100%;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .num {
  position: absolute;
  top: 0;
  left: 0;
  -moz-opacity: 0.001;
  -khtml-opacity: 0.001;
  opacity: 0.001;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .num {
    width: 108px;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .num {
    width: 30%;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .moreInfo {
  position: absolute;
  left: 3px;
  -moz-opacity: 0.001;
  -khtml-opacity: 0.001;
  opacity: 0.001;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .moreInfo {
    width: 42px;
    top: 180px;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .moreInfo {
    width: 30%;
    top: 35%;
    text-align: center;
  }
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .moreInfo img {
    width: 50%;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .numberContent {
  float: right;
  -moz-opacity: 0.001;
  -khtml-opacity: 0.001;
  opacity: 0.001;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .numberContent {
    width: 228px;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .numberContent {
    width: 65%;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .numberContent p {
  font-size: 0.7rem;
  margin-top: 15px;
  color: #fff;
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .official {
  margin-top: 10px;
  text-align: center;
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .official a {
  background: #fff url("../images/Arrow.svg") right 7px center no-repeat;
  background-size: 16px 11px;
  text-decoration: none;
  padding: 5px 30px 5px 10px;
  display: inline-block;
  color: #000;
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .official a span {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .official a span {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_1 .official a span {
    font-size: 0.8rem;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .logo {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .logo {
    width: 392px;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .logo {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .logo h1 {
  -moz-opacity: 0.001;
  -khtml-opacity: 0.001;
  opacity: 0.001;
  -webkit-transform: translateY(120px);
      -ms-transform: translateY(120px);
          transform: translateY(120px);
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .logo img {
    width: 302px;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .logo img {
    width: 42%;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .logo p {
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.75;
  margin-top: 40px;
  -moz-opacity: 0.001;
  -khtml-opacity: 0.001;
  opacity: 0.001;
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .logo p {
    width: 92%;
    margin: 25px auto 0;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 {
  position: relative;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 {
    margin-top: 142px;
    width: 310px;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 {
    margin-top: 62px;
    margin-right: 4%;
    width: 44%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 img {
  width: 100%;
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .num {
  -moz-opacity: 0.001;
  -khtml-opacity: 0.001;
  opacity: 0.001;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .num {
    width: 134px;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .num {
    width: 30%;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .moreInfo {
  position: absolute;
  right: 3px;
  top: 0;
  -moz-opacity: 0.001;
  -khtml-opacity: 0.001;
  opacity: 0.001;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .moreInfo {
    width: 42px;
    top: 180px;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .moreInfo {
    width: 30%;
    top: 35%;
    text-align: center;
  }
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .moreInfo img {
    width: 50%;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .numberContent {
  float: left;
  -moz-opacity: 0.001;
  -khtml-opacity: 0.001;
  opacity: 0.001;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .numberContent {
    width: 235px;
    margin-top: 15px;
    padding-left: 25px;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .numberContent {
    width: 65%;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .numberContent p {
  font-size: 0.7rem;
  margin-top: 15px;
  color: #fff;
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .commingsoon {
  text-align: right;
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .commingsoon .soon {
  color: #fff;
  -moz-opacity: 0.001;
  -khtml-opacity: 0.001;
  opacity: 0.001;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .commingsoon .soon {
    font-size: 2.35rem;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .commingsoon .soon {
    font-size: 2rem;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgBox .number_2 .commingsoon .days {
  margin-top: 10px;
  background: #fff;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  -moz-opacity: 0.001;
  -khtml-opacity: 0.001;
  opacity: 0.001;
}
.mainImgMovieBox .mainImgMovieBoxDot aside {
  -moz-opacity: 0.001;
  -khtml-opacity: 0.001;
  opacity: 0.001;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot aside {
    width: 100%;
    margin: 60px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot aside {
    width: 92%;
    margin: 40px auto 0;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot aside .Co-sponsor {
  background: #fff;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot aside .Co-sponsor {
    width: 366px;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot aside .Co-sponsor {
    width: 100%;
  }
}
.mainImgMovieBox .mainImgMovieBoxDot aside .Co-sponsor p {
  background: #000;
  color: #fff;
  font-size: 0.55rem;
  text-align: center;
  padding: 5px;
}
.mainImgMovieBox .mainImgMovieBoxDot aside .Co-sponsor a {
  display: block;
  padding: 14px 42px 14px 14px;
  background: url("../images/Arrow.svg") right 12px center no-repeat;
  background-size: 16px 11px;
}
.mainImgMovieBox .mainImgMovieBoxDot .mainImgMovieBoxDotWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgMovieBoxDotWrap {
    width: 980px;
  }
}
@media screen and (max-width: 768px) {
  .mainImgMovieBox .mainImgMovieBoxDot .mainImgMovieBoxDotWrap {
    width: 100%;
  }
}
#contentDeeplearning {
  position: relative;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  #contentDeeplearning .expo {
    width: 129px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 50px;
    background: #191919;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  #contentDeeplearning .expo {
    display: none;
  }
}
#contentDeeplearning .expo figure {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}
#contentDeeplearning .leftWrap {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  #contentDeeplearning .leftWrap {
    width: 980px;
    padding-right: 150px;
  }
}
@media screen and (max-width: 768px) {
  #contentDeeplearning .leftWrap {
    width: 100%;
    padding: 0 4%;
  }
}
#contentDeeplearning .leftWrap .titleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  #contentDeeplearning .leftWrap .titleWrap {
    padding-top: 186px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  #contentDeeplearning .leftWrap .titleWrap {
    padding-top: 120px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
#contentDeeplearning .leftWrap .titleWrap:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  border-bottom: 3px solid #fff;
}
@media screen and (min-width: 768px) {
  #contentDeeplearning .leftWrap .titleWrap:before {
    width: 76px;
    height: 180px;
    background: url("../images/underArrow.svg") center top 82px no-repeat;
    background-size: 42px 60px;
  }
}
@media screen and (max-width: 768px) {
  #contentDeeplearning .leftWrap .titleWrap:before {
    width: 38px;
    height: 90px;
    background: url("../images/underArrow.svg") center top 41px no-repeat;
    background-size: 21px 30px;
  }
}
@media screen and (min-width: 768px) {
  #contentDeeplearning .leftWrap .titleWrap .number {
    width: 126px;
  }
}
@media screen and (max-width: 768px) {
  #contentDeeplearning .leftWrap .titleWrap .number {
    width: 20%;
  }
}
@media screen and (min-width: 768px) {
  #contentDeeplearning .leftWrap .titleWrap .logo {
    width: 190px;
  }
}
@media screen and (max-width: 768px) {
  #contentDeeplearning .leftWrap .titleWrap .logo {
    width: 40%;
  }
}
#contentDeeplearning .leftWrap .titleWrap h2 {
  color: #fff;
}
@media screen and (min-width: 768px) {
  #contentDeeplearning .leftWrap .titleWrap h2 {
    font-size: 1.2rem;
    line-height: 1.75;
  }
}
@media screen and (max-width: 768px) {
  #contentDeeplearning .leftWrap .titleWrap h2 {
    margin-top: 20px;
    font-size: 1.4rem;
    line-height: 1.6;
  }
}
#contentDeeplearning .leftWrap .titleWrap h2 span {
  display: block;
}
#contentDeeplearning .leftWrap > p {
  margin-top: 33px;
  color: #fff;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  #contentDeeplearning .leftWrap > p {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 768px) {
  #contentDeeplearning .leftWrap > p {
    font-size: 0.9rem;
  }
}
#contentDeeplearning .leftWrap h4 {
  margin-top: 33px;
  color: #fff;
  border-bottom: 1px solid #fff;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  #contentDeeplearning .leftWrap h4 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  #contentDeeplearning .leftWrap h4 {
    font-size: 1.15rem;
  }
}
#contentDeeplearning .leftWrap .award {
  margin-top: 15px;
  color: #fff;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  #contentDeeplearning .leftWrap .award {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 768px) {
  #contentDeeplearning .leftWrap .award {
    font-size: 0.9rem;
  }
}
#contentDeeplearning .leftWrap .details {
  margin-top: 33px;
  background: rgba(255,255,255,0.15);
  position: relative;
  font-size: 0.8rem;
  color: #fff;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  #contentDeeplearning .leftWrap .details {
    padding: 40px 45px;
  }
}
@media screen and (max-width: 768px) {
  #contentDeeplearning .leftWrap .details {
    padding: 20px 25px;
  }
}
#contentDeeplearning .leftWrap .details:before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/boxBefore.svg") left top no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  #contentDeeplearning .leftWrap .details:before {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  #contentDeeplearning .leftWrap .details:before {
    width: 30px;
    height: 30px;
  }
}
#contentDeeplearning .leftWrap .details:after {
  content: '';
  display: block;
  background: url("../images/boxAfter.svg") left top no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 768px) {
  #contentDeeplearning .leftWrap .details:after {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  #contentDeeplearning .leftWrap .details:after {
    width: 30px;
    height: 30px;
  }
}
#contentDeeplearning h3 {
  letter-spacing: 0.44em;
}
@media screen and (min-width: 768px) {
  #contentDeeplearning h3 {
    font-size: 2.15rem;
  }
}
@media screen and (max-width: 768px) {
  #contentDeeplearning h3 {
    font-size: 1.65rem;
    text-align: center;
  }
}
.programWrap {
  color: #fff;
  margin-top: 60px;
}
.programWrap .programBoxBorder {
  border-top: solid #7f7f7f 17px;
  border-bottom: solid #7f7f7f 17px;
  border-right: solid #7f7f7f 17px;
  overflow: hidden;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .programWrap .programBoxBorder {
    padding: 60px;
    width: calc(50% + (680px / 2));
  }
}
@media screen and (max-width: 768px) {
  .programWrap .programBoxBorder {
    padding: 20px 4%;
  }
}
.programWrap .programBoxBorder .programBoxBorderBox {
  float: right;
}
@media screen and (min-width: 768px) {
  .programWrap .programBoxBorder .programBoxBorderBox {
    width: 752px;
  }
}
@media screen and (max-width: 768px) {
  .programWrap .programBoxBorder .programBoxBorderBox {
    width: 100%;
  }
}
.programWrap .programBoxBorder .programBoxBorderBox > p {
  font-size: 1.3rem;
  padding: 0px 0 30px;
}
.programWrap .programBoxBorder .programBoxBorderBox ul {
  margin-top: -30px;
}
.programWrap .programBoxBorder .programBoxBorderBox ul li {
  margin-top: 30px;
}
.programWrap .programBoxBorder .programBoxBorderBox ul li > dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.programWrap .programBoxBorder .programBoxBorderBox ul li > dl > dt p {
  background: #fff;
  color: #000;
  padding: 4px 5px;
  font-size: 0.9rem;
}
.programWrap .programBoxBorder .programBoxBorderBox ul li > dl > dd {
  margin-left: 20px;
}
.programWrap .programBoxBorder .programBoxBorderBox ul li > dl > dd p {
  font-size: 0.95rem;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .programWrap .programBoxBorder .programBoxBorderBox ul li > dl > dd p {
    margin-top: -5px;
  }
}
@media screen and (max-width: 768px) {
  .programWrap .programBoxBorder .programBoxBorderBox ul li > dl > dd p {
    margin-top: -2px;
  }
}
.programWrap .programBoxBorder .programBoxBorderBox ul li .Teacher {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.programWrap .programBoxBorder .programBoxBorderBox ul li .Teacher h4 {
  padding: 10px 0 15px;
  line-height: 1.5;
}
.programWrap .programBoxBorder .programBoxBorderBox ul li .Teacher .TeacherImg {
  width: 142px;
  margin-left: 25px;
}
.programWrap .programBoxBorder .programBoxBorderBox ul li .Teacher img {
  width: 100%;
}
.programWrap .programBoxBorder .programBoxBorderBox .time1645 {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.programWrap .programBoxBorder .programBoxBorderBox .time1645 .imgBox {
  width: 165px;
  margin-left: 30px;
}
.programWrap .programBoxBorder .programBoxBorderBox .time1645 img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .programWrap .programBox {
    margin: 60px auto 0;
    width: 980px;
  }
}
@media screen and (max-width: 768px) {
  .programWrap .programBox {
    margin: 40px auto 0;
    width: 92%;
  }
}
@media screen and (min-width: 768px) {
  .programWrap .programBox.btn {
    margin: 60px auto 0;
    width: 684px;
  }
}
@media screen and (max-width: 768px) {
  .programWrap .programBox.btn {
    margin: 40px auto 0;
    width: 92%;
  }
}
.programWrap .programBox .btnBox a {
  text-decoration: none;
  display: block;
  border-bottom: 4px solid #9e9e9e;
  border-left: 4px solid #9e9e9e;
  border-right: 4px solid #9e9e9e;
  text-align: center;
  padding: 15px;
  color: #000;
}
@media screen and (min-width: 768px) {
  .programWrap .programBox .btnBox a {
    font-size: 1.75rem;
    background: #fff url("../images/Arrow.svg") right 15px center no-repeat;
    background-size: 44px auto;
  }
}
@media screen and (max-width: 768px) {
  .programWrap .programBox .btnBox a {
    font-size: 1.25rem;
    background: #fff url("../images/Arrow.svg") right 15px center no-repeat;
    background-size: 22px auto;
  }
}
.programWrap .programBox .btnBox_s a {
  text-decoration: none;
  display: block;
  border-bottom: 4px solid #9e9e9e;
  border-left: 4px solid #9e9e9e;
  border-right: 4px solid #9e9e9e;
  text-align: center;
  padding: 15px;
  color: #000;
}
@media screen and (min-width: 768px) {
  .programWrap .programBox .btnBox_s a {
    font-size: 1.4rem;
    background: #fff url("../images/Arrow.svg") right 15px center no-repeat;
    background-size: 44px auto;
  }
}
@media screen and (max-width: 768px) {
  .programWrap .programBox .btnBox_s a {
    font-size: 1rem;
    background: #fff url("../images/Arrow.svg") right 15px center no-repeat;
    background-size: 22px auto;
  }
}
#datasociety {
  position: relative;
  padding-bottom: 60px;
  border-top: 15px solid #fff;
}
@media screen and (min-width: 768px) {
  #datasociety .expo {
    width: 129px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 50px 50px;
    background: #191919;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .expo {
    display: none;
  }
}
#datasociety .expo figure {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}
#datasociety .leftWrap {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  #datasociety .leftWrap {
    width: 980px;
    padding-left: 150px;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .leftWrap {
    width: 100%;
    padding: 0 4%;
  }
}
#datasociety .leftWrap .titleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  #datasociety .leftWrap .titleWrap {
    padding-top: 186px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .leftWrap .titleWrap {
    padding-top: 120px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
#datasociety .leftWrap .titleWrap:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  border-bottom: 3px solid #fff;
}
@media screen and (min-width: 768px) {
  #datasociety .leftWrap .titleWrap:before {
    width: 76px;
    height: 180px;
    right: 0;
    background: url("../images/underArrow.svg") center top 82px no-repeat;
    background-size: 42px 60px;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .leftWrap .titleWrap:before {
    width: 38px;
    height: 90px;
    background: url("../images/underArrow.svg") center top 41px no-repeat;
    background-size: 21px 30px;
  }
}
@media screen and (min-width: 768px) {
  #datasociety .leftWrap .titleWrap .number {
    width: 126px;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .leftWrap .titleWrap .number {
    width: 20%;
  }
}
@media screen and (min-width: 768px) {
  #datasociety .leftWrap .titleWrap .logo {
    width: 190px;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .leftWrap .titleWrap .logo {
    width: 40%;
    margin-left: 5%;
  }
}
#datasociety .leftWrap .titleWrap h2 {
  color: #fff;
}
@media screen and (min-width: 768px) {
  #datasociety .leftWrap .titleWrap h2 {
    font-size: 1.2rem;
    line-height: 1.75;
    width: 434px;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .leftWrap .titleWrap h2 {
    margin-top: 20px;
    font-size: 1.1rem;
    line-height: 1.6;
    width: 100%;
    text-align: left;
  }
  #datasociety .leftWrap .titleWrap h2 br {
    display: none;
  }
}
#datasociety .leftWrap .titleWrap h2 span {
  display: block;
}
@media screen and (max-width: 768px) {
  #datasociety .leftWrap .titleWrap h2 span {
    display: inline;
  }
}
#datasociety .leftWrap .titleWrap + p {
  color: #fff;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  #datasociety .leftWrap .titleWrap + p {
    font-size: 1.2rem;
    margin-top: 33px;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .leftWrap .titleWrap + p {
    font-size: 1.1rem;
    margin-top: 0px;
  }
}
#datasociety .leftWrap > p {
  margin-top: 33px;
  color: #fff;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  #datasociety .leftWrap > p {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .leftWrap > p {
    font-size: 0.9rem;
  }
}
#datasociety .leftWrap .details {
  margin-top: 33px;
  background: rgba(255,255,255,0.15);
  position: relative;
  font-size: 0.8rem;
  color: #fff;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  #datasociety .leftWrap .details {
    padding: 40px 45px;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .leftWrap .details {
    padding: 20px 25px;
  }
}
#datasociety .leftWrap .details:before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/boxBefore.svg") left top no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  #datasociety .leftWrap .details:before {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .leftWrap .details:before {
    width: 30px;
    height: 30px;
  }
}
#datasociety .leftWrap .details:after {
  content: '';
  display: block;
  background: url("../images/boxAfter.svg") left top no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 768px) {
  #datasociety .leftWrap .details:after {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .leftWrap .details:after {
    width: 30px;
    height: 30px;
  }
}
#datasociety h3 {
  letter-spacing: 0.44em;
}
@media screen and (min-width: 768px) {
  #datasociety h3 {
    font-size: 2.15rem;
  }
}
@media screen and (max-width: 768px) {
  #datasociety h3 {
    font-size: 1.65rem;
    text-align: center;
  }
}
#datasociety .programWrap {
  color: #fff;
  margin-top: 60px;
}
#datasociety .programWrap .programBoxBorderWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#datasociety .programWrap .programBoxBorder {
  border-top: solid #7f7f7f 17px;
  border-bottom: solid #7f7f7f 17px;
  border-left: solid #7f7f7f 17px;
  border-right: solid #7f7f7f 0px;
  overflow: hidden;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  #datasociety .programWrap .programBoxBorder {
    padding: 60px;
    width: calc(50% + (680px / 2));
  }
}
@media screen and (max-width: 768px) {
  #datasociety .programWrap .programBoxBorder {
    padding: 20px 4%;
  }
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox {
  float: left;
}
@media screen and (min-width: 768px) {
  #datasociety .programWrap .programBoxBorder .programBoxBorderBox {
    width: 752px;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .programWrap .programBoxBorder .programBoxBorderBox {
    width: 100%;
  }
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox > p {
  font-size: 1.3rem;
  padding: 0px 0 15px;
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox > p:nth-of-type(2) {
  padding: 0px 0 30px;
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox ul {
  margin-top: -30px;
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox ul li {
  margin-top: 30px;
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox ul > dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox ul > dl > dt p {
  background: #fff;
  color: #000;
  padding: 4px 5px;
  font-size: 0.9rem;
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox ul > dl > dd {
  margin-left: 20px;
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox ul > dl > dd p {
  font-size: 0.95rem;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  #datasociety .programWrap .programBoxBorder .programBoxBorderBox ul > dl > dd p {
    margin-top: -5px;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .programWrap .programBoxBorder .programBoxBorderBox ul > dl > dd p {
    margin-top: -2px;
  }
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox ul .text {
  margin-top: 5px;
  font-size: 0.75rem;
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox ul .text.first {
  margin-top: -5px;
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox ul .text.first + p {
  margin-top: 0px;
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox ul .Teacher {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox ul .Teacher img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  #datasociety .programWrap .programBoxBorder .programBoxBorderBox ul .Teacher dt {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .programWrap .programBoxBorder .programBoxBorderBox ul .Teacher dt {
    width: 70px;
  }
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox ul .Teacher dd {
  display: block;
}
@media screen and (min-width: 768px) {
  #datasociety .programWrap .programBoxBorder .programBoxBorderBox ul .Teacher dd {
    width: calc(100% - 180px);
  }
}
@media screen and (max-width: 768px) {
  #datasociety .programWrap .programBoxBorder .programBoxBorderBox ul .Teacher dd {
    width: calc(100% - 100px);
  }
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox ul .Teacher dd .name {
  font-size: 0.95rem;
  line-height: 1.75;
}
#datasociety .programWrap .programBoxBorder .programBoxBorderBox ul .Teacher dd .Job {
  font-size: 0.75rem;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  #datasociety .programBox_r {
    margin: 60px auto 0;
    width: 684px;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .programBox_r {
    margin: 40px auto 0;
    width: 92%;
  }
}
#datasociety .programBox_r .btnBox a {
  text-decoration: none;
  display: block;
  border-bottom: 4px solid #9e9e9e;
  border-left: 4px solid #9e9e9e;
  border-right: 4px solid #9e9e9e;
  text-align: center;
  padding: 15px;
  color: #000;
}
@media screen and (min-width: 768px) {
  #datasociety .programBox_r .btnBox a {
    font-size: 1.75rem;
    background: #fff url("../images/Arrow.svg") right 15px center no-repeat;
    background-size: 44px auto;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .programBox_r .btnBox a {
    font-size: 1.25rem;
    background: #fff url("../images/Arrow.svg") right 15px center no-repeat;
    background-size: 22px auto;
  }
}
#datasociety .programBox_r .btnBox_s a {
  text-decoration: none;
  display: block;
  border-bottom: 4px solid #9e9e9e;
  border-left: 4px solid #9e9e9e;
  border-right: 4px solid #9e9e9e;
  text-align: center;
  padding: 15px;
  color: #000;
}
@media screen and (min-width: 768px) {
  #datasociety .programBox_r .btnBox_s a {
    font-size: 1.4rem;
    background: #fff url("../images/Arrow.svg") right 15px center no-repeat;
    background-size: 44px auto;
  }
}
@media screen and (max-width: 768px) {
  #datasociety .programBox_r .btnBox_s a {
    font-size: 1rem;
    background: #fff url("../images/Arrow.svg") right 15px center no-repeat;
    background-size: 22px auto;
  }
}
@media screen and (min-width: 768px) {
  #Sponsor .programBox {
    margin: 60px auto 0;
    width: 684px;
  }
}
@media screen and (max-width: 768px) {
  #Sponsor .programBox {
    margin: 40px auto 0;
    width: 92%;
  }
}
#Sponsor .programBox .btnBox a {
  text-decoration: none;
  display: block;
  border-bottom: 4px solid #9e9e9e;
  border-left: 4px solid #9e9e9e;
  border-right: 4px solid #9e9e9e;
  text-align: center;
  padding: 15px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  #Sponsor .programBox .btnBox a {
    font-size: 1.75rem;
    background: #555 url("../images/Arrow.svg") right 15px center no-repeat;
    background-size: 44px auto;
  }
}
@media screen and (max-width: 768px) {
  #Sponsor .programBox .btnBox a {
    font-size: 1.25rem;
    background: #555 url("../images/Arrow.svg") right 15px center no-repeat;
    background-size: 22px auto;
  }
}
#Sponsor .programBox .btnBox_s a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 15px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  #Sponsor .programBox .btnBox_s a {
    font-size: 1.1rem;
    background: #000 url("../images/Arrow_s.svg") right 15px center no-repeat;
    background-size: 44px auto;
  }
}
@media screen and (max-width: 768px) {
  #Sponsor .programBox .btnBox_s a {
    font-size: 0.8rem;
    background: #000 url("../images/Arrow_s.svg") right 15px center no-repeat;
    background-size: 22px auto;
  }
}
#wrap_all .cls-,
#wrap_all2 .cls- {
  fill: #fff;
}
#wrap_all .cls-2,
#wrap_all2 .cls-2 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 0.86px;
}
#wrap_all path.mov,
#wrap_all2 path.mov {
  fill: #fff;
  stroke: #fff;
  stroke-width: 1px;
  -webkit-animation: svg 2s ease-in both;
          animation: svg 2s ease-in both;
}
@-webkit-keyframes svg {
  0% {
    fill: transparent;
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
    stroke-width: 1px;
  }
  20% {
    stroke-dashoffset: 0;
  }
  30% {
    fill: transparent;
  }
  50% {
    fill: #fff;
    stroke-width: 0px;
  }
}
@keyframes svg {
  0% {
    fill: transparent;
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
    stroke-width: 1px;
  }
  20% {
    stroke-dashoffset: 0;
  }
  30% {
    fill: transparent;
  }
  50% {
    fill: #fff;
    stroke-width: 0px;
  }
}
#Sponsor {
  background: #fff;
}
@media screen and (min-width: 768px) {
  #Sponsor {
    padding: 60px 0;
  }
}
@media screen and (max-width: 768px) {
  #Sponsor {
    padding: 10px 0 60px;
  }
}
#Sponsor .wrap {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  #Sponsor .wrap {
    width: 980px;
  }
}
@media screen and (max-width: 768px) {
  #Sponsor .wrap {
    width: 92%;
  }
}
#Sponsor .wrap h2 {
  text-align: center;
  display: block;
  font-size: 2.35rem;
}
#Sponsor .wrap h2 span {
  display: block;
  font-size: 1.35rem;
  margin-top: 10px;
  letter-spacing: 0.1em;
}
.Sponsorship {
  margin: 0 auto;
  width: 800px;
}
@media screen and (max-width: 768px) {
  .Sponsorship {
    width: 92%;
  }
}
.Sponsorship h2 {
  text-align: center;
  display: block;
  font-size: 1.9rem;
  margin-top: 30px;
}
.Sponsorship ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Sponsorship ul li {
  width: 30%;
  margin: 30px 1.5% 0;
}
.Sponsorship ul li img {
  width: 100%;
}
