/* common tag   ===================================================== */
html,body,
div,span,
ul,li,dl,dt,dd,
h1,h2,h3,h4,h5,h6,
p,a,
img,
form,
blockquote,
table,th,td{
	margin:0;
	padding:0;
	border:0; 
	line-height:1.8em;
	font-size:small;
	font-weight:normal;
	font-style:normal;
	color:#fff;
	
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}

body {
	background:#fffad9 url(all-tag/body_bg.jpg) repeat-x center top fixed;
	margin:0;
	padding:0;
}

ul{
	list-style:none;
	display:block;
}

li{
	list-style:none;
	display:block;
}

storong{
	font-weight:bold;
	color:#f66;
}

em{
	font-weight:bold;
	font-style:normal;
}

u{
	text-decoration:underline;
}

blockquote{
	display:block;
	border:1px dotted #666;
	margin:0 10px;
	padding:10px;
}


a, a:visited {
	color:#f90;
	text-decoration:underline;
}
a:hover, a:active {
	color:#0cf;
	text-decoration:underline;
}