/* all-nabigation   ===================================================== */
#all-navigation{
	width:230px;
	float:left;
	padding:0 0 50px;
}

#all-navigation div{
	width:230px;
	margin:0 0 ;
	padding:0 0 14px;
	background:url(all-navigation/div_bg.png) no-repeat center bottom ;
}

* html #all-navigation div{	/* IE6 GIF */
	background:url(all-navigation/div_bg.gif) no-repeat center bottom ;
} 


#all-navigation div h2{
	width:180px;
	height:23px;
	margin:0;
	padding:22px 25px 0;
	background:url(all-navigation/h3_bg.png) no-repeat center top;
}

* html #all-navigation div h2{ /* IE6 GIF */
	background:url(all-navigation/h3_bg.gif) no-repeat center top;
} 


#all-navigation div ul,
#all-navigation div form{
	width:185px;
	padding:5px 20px 5px 25px;
	margin:0;
	background:url(all-navigation/p-ul_bg.png) repeat-y center center;
	_background:none;
}


* html #all-navigation div ul,
* html #all-navigation div form{/* IE6 GIF */
	background:url(all-navigation/p-ul_bg.gif) repeat-y center center;
} 



/* sakuin */
#all-navigation div#sakuin ul li{
	display:inline;
}

#all-navigation div#sakuin ul li#sakuin-na{
	width:15em;
}

/* kyoryoku */
#all-navigation div#kyoryoku ul li#harasyobo{
	border-bottom:1px dashed #fff;
	margin:0 0 4px;
}

/* kyoryoku */
#all-navigation div#kyoryoku ul li{
	line-height:1.2em;
}
