/* all-header     ===================================================== */
#all-header{
	background:url(all-header/all-header_bg.png) repeat-x top center;
	width:100%;
	min-width:800px;
	
	height:70px;
	margin:0 auto;
	padding:0;
/*	overflow:hidden;*/
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
}

 /* IE6 position:fixed */
* html #all-header{
	/*_position: absolute;*/
	_top: expression(eval(document.documentElement.scrollTop+0)); 
}


* html #all-header{ /* IE6 min-width or max-width */
	width:expression(document.body.clientWidth < 800? "800px":"auto");
}

* html #all-header{ /* IE6 PNG ALPHA */
	behavior: expression(IEPNGFIX.fix(this));
} 

#all-header ul{
	width:800px;
	height:60px;
	margin:0 auto;
	overflow:hidden;
	position: relative;
}

#all-header ul li{
	float:left;
}

#all-header ul li a{
	display:block;
}

#all-header ul li a img{
	z-index:5;
}

#sega{
	padding:14px 0 0 0px;
}

#st{
	padding:19px 0 0 510px;
}

#sc{
	padding:21px 0 0 6px;
}
