html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix {
  min-height: 1px;
  height: 1px;
}
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}
input,
textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  max-width: 100%;
}
.cl:after {
  width: 1px;
  height: 0px;
  content: "";
  line-height: 0;
  display: block;
  clear: both;
}
.tel {
  cursor: default;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .tel {
    pointer-events: auto;
  }
}
@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background: #fff;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
  font-size: 20px;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 15px;
  }
}
body {
  background: #fff;
  font-family: "FOT-ロダンNTLG Pro L", RodinNTLGPro-L;
  width: 100%;
  min-width: 1200px;
}
@media screen and (max-width: 767px) {
  body {
    min-width: 100%;
  }
}
a:focus {
  outline: none;
}
a:active {
  color: #7f7f7f;
}
a:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
a:visited {
  color: #333;
}
.u_line {
  text-decoration: underline;
}
header {
  width: 100%;
  min-width: 1200px;
  position: fixed;
  overflow: hidden;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  header {
    width: 100%;
    min-width: 100%;
    padding: 0px 4%;
    text-align: center;
  }
}
header h2 {
  float: left;
  width: 366px;
  padding: 10px 20px;
}
@media screen and (max-width: 767px) {
  header h2 {
    width: 100%;
    padding: 10px 0;
  }
}
header h2 img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  header h2 img {
    width: 50%;
  }
}
header nav {
  float: right;
  overflow: hidden;
  padding: 10px 20px;
}
@media screen and (max-width: 767px) {
  header nav {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header nav li {
  float: left;
  margin-left: 30px;
}
header nav li:nth-of-type(1) {
  margin-left: 0px;
}
@media screen and (max-width: 767px) {
  header nav li {
    width: 25%;
    margin-left: 0;
  }
}
header nav li a {
  font-size: 1rem !important;
  font-family: "FOT-UD角ゴ_スモール Pr6 B", RodinNTLGPro-B;
  background: #fff;
  padding: 6px 12px 8px;
  color: #000;
  text-decoration: none;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  header nav li a {
    font-size: 0.7rem !important;
    display: block;
  }
}
main {
  min-width: 1200px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  main {
    min-width: 100%;
    width: 100%;
  }
}
section,
artcle {
  width: 100%;
  margin: 0 auto;
  min-width: 1200px;
}
@media screen and (max-width: 767px) {
  section,
  artcle {
    width: 100%;
    min-width: 100%;
  }
}
#mainArea {
  background: #000 url("../images/mainimage.jpg") center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  min-width: 1200px;
}
@media screen and (max-width: 767px) {
  #mainArea {
    min-width: 100%;
    height: 85vh;
  }
}
#mainArea .mainArea_bg {
  background: url("../images/main_mask.svg") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  min-width: 1200px;
}
@media screen and (max-width: 767px) {
  #mainArea .mainArea_bg {
    min-width: 100%;
    background: rgba(255,255,255,0.8) url("../images/main_mask.svg") right 18% center no-repeat;
    background-size: auto 100%;
    background-attachment: fixed;
  }
}
#mainArea .mainArea_wrap {
  width: 100%;
  height: 100%;
  min-width: 1200px;
}
@media screen and (max-width: 767px) {
  #mainArea .mainArea_wrap {
    min-width: 100%;
  }
}
#mainArea .mainArea_scroll {
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  position: relative;
  min-width: 1200px;
}
@media screen and (max-width: 767px) {
  #mainArea .mainArea_scroll {
    min-width: 100%;
  }
}
#mainArea .mainArea_scroll .scrollBtn {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 52px;
  height: 52px;
  margin-left: -25px;
}
@media screen and (max-width: 767px) {
  #mainArea .mainArea_scroll .scrollBtn {
    width: 36px;
    height: 36px;
    margin-left: -18px;
  }
}
#mainArea .mainArea_scroll .scrollBtn img {
  width: 100%;
}
#mainArea .mainArea_content {
  padding-left: 10%;
  padding-right: 48%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  #mainArea .mainArea_content {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 50px;
  }
}
@media screen and (max-width: 767px) {
  #mainArea .mainArea_content h1 {
    margin: 0 auto;
    width: 88%;
    -webkit-filter: drop-shadow(0px 0px 3px #fff);
    filter: drop-shadow(0px 0px 3px #fff);
  }
  #mainArea .mainArea_content h1 img {
    width: 100%;
  }
}
#mainArea .mainArea_content h2 {
  background: #000;
  color: #fff;
  font-size: 1.3rem !important;
  font-family: "FOT-UD角ゴ_スモール Pr6 B", RodinNTLGPro-B;
  letter-spacing: 0.12em;
  padding: 8px 12px;
  margin-top: 15px;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  #mainArea .mainArea_content h2 {
    margin: 15px auto 0;
    width: 88%;
    font-size: 0.9rem !important;
    line-height: 1.5;
    text-align: center;
    -webkit-filter: drop-shadow(0px 0px 3px #fff);
    filter: drop-shadow(0px 0px 3px #fff);
    display: block;
  }
}
#mainArea .mainArea_content h3 {
  color: #000;
  font-size: 1.75rem !important;
  font-family: "FOT-UD角ゴ_スモール Pr6 B", RodinNTLGPro-B;
  line-height: 1.3;
  margin-top: 15px;
  padding: 6px 12px;
}
@media screen and (max-width: 767px) {
  #mainArea .mainArea_content h3 {
    margin: 15px auto 0;
    width: 88%;
    font-size: 1rem !important;
    padding: 0;
    line-height: 1.3;
    -webkit-filter: drop-shadow(0px 0px 3px #fff);
    filter: drop-shadow(0px 0px 3px #fff);
  }
  #mainArea .mainArea_content h3 br {
    display: none;
  }
}
#mainArea .mainArea_content > p {
  padding: 6px 12px;
}
@media screen and (max-width: 767px) {
  #mainArea .mainArea_content > p {
    text-align: center;
  }
}
#mainArea .mainArea_content > p a {
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 10px 15px 10px 30px;
  display: inline-block;
  margin-top: 10px;
  position: relative;
}
#mainArea .mainArea_content > p a:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 10px;
  border-color: transparent transparent transparent #fff;
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -4px;
}
#overview {
  color: #000;
  margin-top: 70px;
}
@media screen and (max-width: 767px) {
  #overview {
    margin-top: 30px;
  }
}
#overview:before {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background: -moz-linear-gradient(0% 50% 0deg, #f00 0%, #ff00f7 14.67%, #30f 29%, #0080ff 42.87%, #00ff91 58.33%, #26ff00 73.53%, #ef0 86.07%, #ff4000 100%);
  background: -webkit-linear-gradient(0deg, #f00 0%, #ff00f7 14.67%, #30f 29%, #0080ff 42.87%, #00ff91 58.33%, #26ff00 73.53%, #ef0 86.07%, #ff4000 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #f00), color-stop(0.1467, #ff00f7), color-stop(0.29, #30f), color-stop(0.4287, #0080ff), color-stop(0.5833, #00ff91), color-stop(0.7353, #26ff00), color-stop(0.8607, #ef0), color-stop(1, #ff4000));
  background: -o-linear-gradient(0deg, #f00 0%, #ff00f7 14.67%, #30f 29%, #0080ff 42.87%, #00ff91 58.33%, #26ff00 73.53%, #ef0 86.07%, #ff4000 100%);
  background: -ms-linear-gradient(0deg, #f00 0%, #ff00f7 14.67%, #30f 29%, #0080ff 42.87%, #00ff91 58.33%, #26ff00 73.53%, #ef0 86.07%, #ff4000 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#FF4000' ,GradientType=0)";
  background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(14.67%, #ff00f7), color-stop(29%, #30f), color-stop(42.87%, #0080ff), color-stop(58.33%, #00ff91), color-stop(73.53%, #26ff00), color-stop(86.07%, #ef0), to(#ff4000));
  background: -webkit-linear-gradient(left, #f00 0%, #ff00f7 14.67%, #30f 29%, #0080ff 42.87%, #00ff91 58.33%, #26ff00 73.53%, #ef0 86.07%, #ff4000 100%);
  background: -o-linear-gradient(left, #f00 0%, #ff00f7 14.67%, #30f 29%, #0080ff 42.87%, #00ff91 58.33%, #26ff00 73.53%, #ef0 86.07%, #ff4000 100%);
  background: linear-gradient(90deg, #f00 0%, #ff00f7 14.67%, #30f 29%, #0080ff 42.87%, #00ff91 58.33%, #26ff00 73.53%, #ef0 86.07%, #ff4000 100%);
}
#overview .overview_bg {
  background: url("../images/bg_line.png") center top no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  width: 100%;
  min-width: 1200px;
}
@media screen and (max-width: 767px) {
  #overview .overview_bg {
    width: 100%;
    min-width: 100%;
    background: url("../images/bg_line_sp.png") center center no-repeat;
    background-attachment: scroll;
    background-size: 100% auto;
  }
}
#overview .overview_wrap {
  min-width: 1200px;
  margin: 0px auto 0;
  text-align: center;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  #overview .overview_wrap {
    min-width: 100%;
  }
}
#overview .overview_wrap h2 {
  font-size: 2.7rem !important;
  font-family: "FOT-ロダンNTLG Pro L", RodinNTLGPro-L;
  letter-spacing: 0.3em;
  background: url("../images/h2_mark.svg") center top no-repeat;
  background-size: 43px auto;
  padding-top: 93px;
  margin-top: 83px;
}
@media screen and (max-width: 767px) {
  #overview .overview_wrap h2 {
    font-size: 2rem !important;
    padding-top: 73px;
    margin-top: 70px;
    -webkit-filter: drop-shadow(0px 0px 3px #fff);
    filter: drop-shadow(0px 0px 3px #fff);
  }
}
#overview .overview_wrap h2 span {
  letter-spacing: 0em;
}
#overview .overview_wrap h2 + p {
  margin-top: 76px;
}
#overview .overview_wrap > p {
  font-size: 1.3rem !important;
  font-family: "FOT-ロダンNTLG Pro L", RodinNTLGPro-L;
  letter-spacing: 0.04em;
  line-height: 1.72;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  #overview .overview_wrap > p {
    padding: 0 4%;
    text-align: left;
    font-size: 1rem !important;
    -webkit-filter: drop-shadow(0px 0px 3px #fff);
    filter: drop-shadow(0px 0px 3px #fff);
  }
}
#overview .overview_wrap > p span {
  font-family: "FOT-UD角ゴ_スモール Pr6 B", RodinNTLGPro-B;
}
#overview .overview_wrap h3 {
  font-size: 1.6rem !important;
  font-family: "FOT-UD角ゴ_スモール Pr6 B", RodinNTLGPro-B;
  letter-spacing: 0.04em;
  margin-top: 113px;
}
@media screen and (max-width: 767px) {
  #overview .overview_wrap h3 {
    padding: 0 4%;
    text-align: left;
    font-size: 1.25rem !important;
    -webkit-filter: drop-shadow(0px 0px 3px #fff);
    filter: drop-shadow(0px 0px 3px #fff);
    margin-top: 80px;
  }
}
#overview .overview_wrap h3 span {
  letter-spacing: 0em;
}
#overview .overview_wrap ul {
  display: block;
  margin: 93px auto 0;
  width: 1194px;
}
@media screen and (max-width: 767px) {
  #overview .overview_wrap ul {
    width: 100%;
    padding: 0 4%;
    margin: 40px auto 0;
  }
}
#overview .overview_wrap ul li {
  width: 360px;
  float: left;
  margin-left: 57px;
}
@media screen and (max-width: 767px) {
  #overview .overview_wrap ul li {
    margin-top: 15px;
    width: 100%;
  }
}
#overview .overview_wrap ul li:nth-of-type(1) {
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  #overview .overview_wrap ul li {
    margin-left: 0px;
  }
}
#overview .overview_wrap ul li img {
  width: 100%;
}
#deadline {
  color: #000;
  margin-top: 70px;
}
#deadline .deadline_wrap {
  min-width: 1200px;
  margin: 0px auto 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #deadline .deadline_wrap {
    min-width: 100%;
    width: 100%;
    padding: 0 4%;
  }
}
#deadline .deadline_wrap h2 {
  font-size: 2.7rem !important;
  font-family: "FOT-ロダンNTLG Pro L", RodinNTLGPro-L;
  margin-top: 83px;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 767px) {
  #deadline .deadline_wrap h2 {
    font-size: 2rem !important;
    margin-top: 70px;
    -webkit-filter: drop-shadow(0px 0px 3px #fff);
    filter: drop-shadow(0px 0px 3px #fff);
  }
}
#deadline .deadline_wrap h2 span {
  letter-spacing: 0em;
}
#deadline .deadline_wrap h2 + p {
  margin-top: 76px;
  border: 1px solid #000;
  display: inline-block;
  padding: 16px 50px;
  font-size: 1.8rem !important;
  letter-spacing: 0.4em;
}
@media screen and (max-width: 767px) {
  #deadline .deadline_wrap h2 + p {
    font-size: 1.25rem !important;
    margin-top: 40px;
    letter-spacing: 0.2em;
    display: block;
  }
}
#deadline .deadline_wrap h2 + p span {
  letter-spacing: 0em;
}
#deadline .deadline_wrap > p {
  font-size: 1.3rem !important;
  font-family: "FOT-ロダンNTLG Pro L", RodinNTLGPro-L;
  letter-spacing: 0.04em;
  line-height: 1.72;
  margin-top: 10px;
}
#deadline .deadline_wrap h3 {
  font-size: 1.3rem !important;
  font-family: "FOT-UD角ゴ_スモール Pr6 B", RodinNTLGPro-B;
  letter-spacing: 0.04em;
  margin-top: 28px;
}
@media screen and (max-width: 767px) {
  #deadline .deadline_wrap h3 {
    text-align: left;
    font-size: 1.25rem !important;
    letter-spacing: 0.2em;
  }
}
#deadline .deadline_wrap h3 span {
  letter-spacing: 0em;
}
#deadline .deadline_wrap h3 + p {
  margin-top: 28px;
}
#deadline .deadline_wrap .data {
  margin-top: 60px;
}
#deadline .deadline_wrap .data p {
  font-size: 1.3rem !important;
  font-family: "FOT-ロダンNTLG Pro L", RodinNTLGPro-L;
  letter-spacing: 0.04em;
  line-height: 1.72;
}
@media screen and (max-width: 767px) {
  #deadline .deadline_wrap .data p {
    font-size: 1.1rem !important;
    letter-spacing: 0.2em;
    text-align: left;
  }
}
#deadline .deadline_wrap .data .asterisk {
  font-size: 0.9rem !important;
  font-family: "FOT-ロダンNTLG Pro L", RodinNTLGPro-L;
  margin-top: 20px;
}
#details {
  margin-top: 70px;
  overview: hidden;
}
#details:before {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background: -moz-linear-gradient(0% 50% 0deg, #f00 0%, #ff00f7 14.67%, #30f 29%, #0080ff 42.87%, #00ff91 58.33%, #26ff00 73.53%, #ef0 86.07%, #ff4000 100%);
  background: -webkit-linear-gradient(0deg, #f00 0%, #ff00f7 14.67%, #30f 29%, #0080ff 42.87%, #00ff91 58.33%, #26ff00 73.53%, #ef0 86.07%, #ff4000 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #f00), color-stop(0.1467, #ff00f7), color-stop(0.29, #30f), color-stop(0.4287, #0080ff), color-stop(0.5833, #00ff91), color-stop(0.7353, #26ff00), color-stop(0.8607, #ef0), color-stop(1, #ff4000));
  background: -o-linear-gradient(0deg, #f00 0%, #ff00f7 14.67%, #30f 29%, #0080ff 42.87%, #00ff91 58.33%, #26ff00 73.53%, #ef0 86.07%, #ff4000 100%);
  background: -ms-linear-gradient(0deg, #f00 0%, #ff00f7 14.67%, #30f 29%, #0080ff 42.87%, #00ff91 58.33%, #26ff00 73.53%, #ef0 86.07%, #ff4000 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#FF4000' ,GradientType=0)";
  background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(14.67%, #ff00f7), color-stop(29%, #30f), color-stop(42.87%, #0080ff), color-stop(58.33%, #00ff91), color-stop(73.53%, #26ff00), color-stop(86.07%, #ef0), to(#ff4000));
  background: -webkit-linear-gradient(left, #f00 0%, #ff00f7 14.67%, #30f 29%, #0080ff 42.87%, #00ff91 58.33%, #26ff00 73.53%, #ef0 86.07%, #ff4000 100%);
  background: -o-linear-gradient(left, #f00 0%, #ff00f7 14.67%, #30f 29%, #0080ff 42.87%, #00ff91 58.33%, #26ff00 73.53%, #ef0 86.07%, #ff4000 100%);
  background: linear-gradient(90deg, #f00 0%, #ff00f7 14.67%, #30f 29%, #0080ff 42.87%, #00ff91 58.33%, #26ff00 73.53%, #ef0 86.07%, #ff4000 100%);
}
#details p.read {
  font-size: 1.3rem !important;
  font-family: "FOT-ロダンNTLG Pro L", RodinNTLGPro-L;
  line-height: 1.73;
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  #details p.read {
    font-size: 1rem !important;
  }
}
#details .btn {
  color: #000;
  margin: 85px auto 0;
  width: 1200px;
}
@media screen and (max-width: 767px) {
  #details .btn {
    width: 100%;
    padding: 0%;
    margin: 75px auto 0;
  }
}
#details .btn li {
  float: left;
  width: 342px;
  height: 372px;
  text-align: center;
  border: 1px solid #737373;
  display: block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  margin-left: 56px;
}
@media screen and (max-width: 767px) {
  #details .btn li {
    height: 80px;
    width: 100%;
  }
}
#details .btn li:nth-of-type(1) {
  background: #fff url("../images/2018_img.png") center center no-repeat;
  background-size: 580px auto;
  margin-left: 0px;
}
#details .btn li:nth-of-type(1) a {
  background: url("../images/2018_logo.svg") center bottom 40px no-repeat;
  background-size: 132px auto;
}
@media screen and (max-width: 767px) {
  #details .btn li:nth-of-type(1) a {
    background: url("../images/2018_logo.svg") right 20px center no-repeat;
    background-size: 90px auto;
  }
}
@media screen and (max-width: 767px) {
  #details .btn li:nth-of-type(2),
  #details .btn li:nth-of-type(3) {
    margin-left: 0px;
    margin-top: 20px;
  }
  #details .btn li:nth-of-type(2) br,
  #details .btn li:nth-of-type(3) br {
    display: none;
  }
}
#details .btn li:nth-of-type(2) a,
#details .btn li:nth-of-type(3) a {
  background: url("../images/download.svg") center bottom 20px no-repeat;
  background-size: 82px auto;
}
@media screen and (max-width: 767px) {
  #details .btn li:nth-of-type(2) a,
  #details .btn li:nth-of-type(3) a {
    background: url("../images/download.svg") right 20px center no-repeat;
    background-size: 50px auto;
  }
}
#details .btn dt {
  float: left;
  width: 572px;
  height: 372px;
  text-align: center;
  border: 1px solid #737373;
  background: #fff url("../images/2018_img.png") center center no-repeat;
  background-size: 580px auto;
  display: block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
@media screen and (max-width: 767px) {
  #details .btn dt {
    height: 80px;
    width: 100%;
  }
}
#details .btn dt a {
  background: url("../images/2018_logo.svg") center bottom 40px no-repeat;
  background-size: 132px auto;
}
@media screen and (max-width: 767px) {
  #details .btn dt a {
    background: url("../images/2018_logo.svg") right 20px center no-repeat;
    background-size: 90px auto;
  }
}
#details .btn dd {
  float: left;
  width: 572px;
  height: 372px;
  text-align: center;
  margin-left: 56px;
  border: 1px solid #737373;
  display: block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
@media screen and (max-width: 767px) {
  #details .btn dd {
    margin-left: 0;
    width: 100%;
    height: 80px;
    margin-top: 20px;
  }
}
#details .btn dd a {
  background: url("../images/download.svg") center bottom 20px no-repeat;
  background-size: 82px auto;
}
@media screen and (max-width: 767px) {
  #details .btn dd a {
    background: url("../images/download.svg") right 20px center no-repeat;
    background-size: 50px auto;
  }
}
#details .btn p {
  display: table;
  vertical-align: middle;
  width: 342px;
  height: 372px;
}
@media screen and (max-width: 767px) {
  #details .btn p {
    width: 100%;
    height: 80px;
  }
}
#details .btn a {
  display: table-cell;
  vertical-align: middle;
  color: #000;
  text-decoration: none;
  font-size: 1.75rem !important;
  line-height: 1.6;
  font-family: "FOT-UD角ゴ_スモール Pr6 B", RodinNTLGPro-B;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  #details .btn a {
    font-size: 1rem !important;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 0px;
    padding-right: 95px;
  }
}
#details .gmap {
  margin: 85px auto 0;
}
#details .gmap iframe {
  width: 100%;
  height: 500px;
}
@media screen and (max-width: 767px) {
  #details .gmap iframe {
    height: 300px;
  }
}
#details .application {
  margin: 85px auto 0;
  width: 572px;
  height: 372px;
  border: 1px solid #737373;
  display: block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  background: url("../images/bg.svg") right center no-repeat;
}
@media screen and (max-width: 767px) {
  #details .application {
    height: 80px;
    width: 100%;
    padding: 0 4%;
  }
}
#details .application h2 {
  display: table;
  vertical-align: middle;
  width: 572px;
  height: 372px;
}
@media screen and (max-width: 767px) {
  #details .application h2 {
    height: 80px;
    width: 100%;
  }
}
#details .application a {
  display: table-cell;
  vertical-align: middle;
  color: #000;
  text-decoration: none;
  font-size: 2rem !important;
  line-height: 1.2;
  font-family: "FOT-UD角ゴ_スモール Pr6 B", RodinNTLGPro-B;
  background: url("../images/chk.svg") center bottom 20px no-repeat;
  background-size: 82px auto;
}
@media screen and (max-width: 767px) {
  #details .application a {
    font-size: 1.5rem !important;
    text-align: left;
    padding-left: 30px;
    background: url("../images/chk.svg") right 20px center no-repeat;
    background-size: 50px auto;
  }
}
#inquiry {
  margin-top: 70px;
  color: #000;
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  #inquiry {
    padding-bottom: 150px;
  }
}
#inquiry h2 {
  font-size: 2.7rem !important;
  font-family: "FOT-ロダンNTLG Pro L", RodinNTLGPro-L;
  margin-top: 83px;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 767px) {
  #inquiry h2 {
    font-size: 2rem !important;
    margin-top: 70px;
    -webkit-filter: drop-shadow(0px 0px 3px #fff);
    filter: drop-shadow(0px 0px 3px #fff);
  }
}
#inquiry h2 span {
  letter-spacing: 0em;
}
#inquiry p.name {
  font-size: 1.6rem !important;
  font-family: "FOT-UD角ゴ_スモール Pr6 B", RodinNTLGPro-B;
  margin-top: 75px;
}
#inquiry p.tel {
  font-size: 1.3rem !important;
  font-family: "FOT-ロダンNTLG Pro L", RodinNTLGPro-L;
  margin-top: 40px;
}
#inquiry p.tel a {
  background: url("../images/tel.svg") left center no-repeat;
  background-size: 43px auto;
  padding: 10px 0 10px 62px;
}
@media screen and (max-width: 767px) {
  #inquiry p.tel a {
    background: url("../images/tel.svg") left center no-repeat;
    background-size: 33px auto;
    padding: 10px 0 10px 52px;
  }
}
#inquiry p.mail {
  font-size: 1.3rem !important;
  font-family: "FOT-ロダンNTLG Pro L", RodinNTLGPro-L;
  margin-top: 30px;
}
#inquiry p.mail a {
  background: url("../images/mail.svg") left center no-repeat;
  background-size: 38px auto;
  padding: 10px 0 10px 62px;
}
@media screen and (max-width: 767px) {
  #inquiry p.mail a {
    background: url("../images/mail.svg") left center no-repeat;
    background-size: 33px auto;
    padding: 10px 0 10px 52px;
  }
}
#inquiry p a {
  color: #000;
  text-decoration: none;
}
.wrap {
  min-width: 1200px;
  margin: 0px auto 0;
  text-align: center;
  color: #000;
}
@media screen and (max-width: 767px) {
  .wrap {
    min-width: 100%;
    width: 100%;
    padding: 0 4%;
  }
}
footer {
  width: 100%;
}
@media screen and (max-width: 767px) {
  footer {
    width: 100%;
  }
}
.btnx {
  margin: 85px auto 0;
  width: 572px;
  border: 1px solid #737373;
  display: table;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
@media screen and (max-width: 767px) {
  .btnx {
    height: 80px;
    width: 100%;
    padding: 0 4%;
  }
}
.btnx a {
  display: table-cell;
  vertical-align: middle;
  color: #000;
  text-decoration: none;
  font-size: 1.4rem !important;
  line-height: 1.2;
  font-family: "FOT-UD角ゴ_スモール Pr6 B", RodinNTLGPro-B;
  text-align: left;
  padding: 20px;
  background: url("../images/btnx_b.svg") right 30px center no-repeat;
  background-size: 32px auto;
}
@media screen and (max-width: 767px) {
  .btnx a {
    font-size: 1rem !important;
    line-height: 1.4;
    text-align: left;
    background: url("../images/btnx_b.svg") right 10px center no-repeat;
    background-size: 22px auto;
  }
}
.xte2019 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
@media screen and (max-width: 767px) {
  .xte2019 {
    display: block !important;
  }
}
.xte2019 li {
  width: 19% !important;
  text-align: left;
  padding: 0;
  background: rgba(255,255,255,0.8);
  margin-left: 1.25% !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .xte2019 li {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.xte2019 li:nth-of-type(1) h4 {
  background: #2971e3; /* Old browsers */
  background: -moz-linear-gradient(top, #2971e3 0%, rgba(41,113,227,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2971e3 0%, rgba(41,113,227,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#2971e3), to(rgba(41,113,227,0)));
  background: -o-linear-gradient(top, #2971e3 0%, rgba(41,113,227,0) 100%);
  background: linear-gradient(to bottom, #2971e3 0%, rgba(41,113,227,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: block;
  color: #fff;
}
.xte2019 li:nth-of-type(2) h4 {
  background: #8d29e3; /* Old browsers */
  background: -moz-linear-gradient(top, #8d29e3 0%, rgba(141,41,227,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8d29e3 0%, rgba(141,41,227,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#8d29e3), to(rgba(141,41,227,0)));
  background: -o-linear-gradient(top, #8d29e3 0%, rgba(141,41,227,0) 100%);
  background: linear-gradient(to bottom, #8d29e3 0%, rgba(141,41,227,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: block;
  color: #fff;
}
.xte2019 li:nth-of-type(3) h4 {
  background: #e3296b; /* Old browsers */
  background: -moz-linear-gradient(top, #e3296b 0%, rgba(227,41,107,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e3296b 0%, rgba(227,41,107,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#e3296b), to(rgba(227,41,107,0)));
  background: -o-linear-gradient(top, #e3296b 0%, rgba(227,41,107,0) 100%);
  background: linear-gradient(to bottom, #e3296b 0%, rgba(227,41,107,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: block;
  color: #fff;
}
.xte2019 li:nth-of-type(4) h4 {
  background: #c99c12; /* Old browsers */
  background: -moz-linear-gradient(top, #c99c12 0%, rgba(201,156,18,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #c99c12 0%, rgba(201,156,18,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#c99c12), to(rgba(201,156,18,0)));
  background: -o-linear-gradient(top, #c99c12 0%, rgba(201,156,18,0) 100%);
  background: linear-gradient(to bottom, #c99c12 0%, rgba(201,156,18,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: block;
  color: #fff;
}
.xte2019 li:nth-of-type(5) h4 {
  background: #46e80e; /* Old browsers */
  background: -moz-linear-gradient(top, #46e80e 0%, rgba(70,232,14,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #46e80e 0%, rgba(70,232,14,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#46e80e), to(rgba(70,232,14,0)));
  background: -o-linear-gradient(top, #46e80e 0%, rgba(70,232,14,0) 100%);
  background: linear-gradient(to bottom, #46e80e 0%, rgba(70,232,14,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: block;
  color: #fff;
}
.xte2019 li h4 {
  font-size: 1rem !important;
  font-family: "FOT-UD角ゴ_スモール Pr6 B", RodinNTLGPro-B;
  line-height: 1.4;
  padding: 10px;
  height: 140px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .xte2019 li h4 {
    height: auto;
    padding-bottom: 20px;
  }
}
.xte2019 li h4 span {
  display: block;
}
.xte2019 li h5 {
  font-size: 0.85rem !important;
  font-family: "FOT-UD角ゴ_スモール Pr6 B", RodinNTLGPro-B;
  line-height: 1.4;
  margin-top: 10px;
  padding: 10px;
}
.xte2019 li p {
  font-size: 0.7rem !important;
  line-height: 1.6;
  margin-top: 10px;
  padding: 10px;
}
.xte2019 li p.download a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: block;
  font-family: "FOT-UD角ゴ_スモール Pr6 B", RodinNTLGPro-B;
  background: #000;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
}
