@charset "utf-8";

@import "../../../files/css/layout.css";


@media screen and (max-width: 480px) {
}

/*-------------------------------------------------------------------------
	Title
/*-----------------------------------------------------------------------*/


/*-------------------------------------------------------------------------
    League
/*-----------------------------------------------------------------------*/

#league {
    padding-bottom: 5%;
    background: url(../img/index/league/bg.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
    #league .ttl {
        background-color: #fff;
        padding: 5%;
    }
        #league .ttl img {
            width: 79.38%;
        }
    #league #touch {
        width: 92.34%;
        margin: 0 auto;
        padding-top: 8%;
    }
    #league .txt01 {
        width: 94.06%;
        margin: 0 auto;
        padding-top: 5%;
    }
    #league ul {
        margin-top: 5%;
    }
        #league ul li {
            width: 45.16%;
            margin-left: 3%;
            float: left;
        }
    #league #amiibo {
        width: 84.38%;
        margin: 0 auto;
        padding-top: 11%;
    }
    #league .txt02 {
        width: 91.72%;
        margin: 0 auto;
        padding-top: 3.5%;
    }


/*-------------------------------------------------------------------------
    Costume
/*-----------------------------------------------------------------------*/

#costume {
    padding-bottom: 10%;
    background: url(../img/index/costume/bg.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
    #costume .ttl {
        background-color: #fff;
        padding: 5% 0;
        text-align: center;
    }
        #costume .ttl img {
            width: 90.63%;
        }
    #costume #mii {
        padding-top: 5%;
    }
    #costume .txt {
        width: 79.84%;
        padding: 5% 0 0 5%;
    }


/*-------------------------------------------------------------------------
    slider
/*-----------------------------------------------------------------------*/
#slide {
        margin-top: 7%;
        background-color: #fff;
}
    #slide {
        width: 100%;
        height: 105px;
        overflow: hidden;
    }
    #slide .area {}
        #slide .area > .slide {
            position: relative;
        }
            #slide .area > .slide li {
                float: left;
            }
                #slide .area > .slide li img {
                    width: auto;
                    height: 105px;
                    overflow: hidden;
                }


/*-------------------------------------------------------------------------
	Navi
/*-----------------------------------------------------------------------*/

#navi {
    background-color: #8d1d82;
}
    #navi p {
        background-color: #691964;
    }
    #navi p img {
        width: 20.31%;
    }
