@charset "utf-8";

/* ----------------------------------------
	public
---------------------------------------- */

#contents_inner a {
	color: #E61E5A;
}

#contents_inner #caution,#first {
	border-bottom: #E61E5A solid 1px;
	padding: 15px 0 15px;	
}
#contents_inner ul #floor {
	margin-top: 10px;
	margin-bottom: 20px;
}

.attention{
	margin-top: 20px;
	border: solid 2px #ff0000;
	padding: 10px;
	line-height: 1.7;
}

.attention span{
	text-decoration: underline;
}