@charset "utf-8";

/* ----------------------------------------
	public_stageshow.html
---------------------------------------- */

#contents_inner a {
	color: #ff5c74;
}

#contents_inner .right_link {
	float: right;
	margin: 15px 15px 0 0;
}
#contents_inner .right_link p {
	float: left;
	line-height: 36px;
}
#contents_inner .right_link img {
	float: left;
	margin-left: 25px;
}

#contents_inner .title_img {
	margin-bottom: 10px;
}
#contents_inner .title_img img {
	margin: 0 10px 0 0;
}
