@charset "utf-8";

/* ----------------------------------------
	sitemap.html
---------------------------------------- */

.sitemap h2 {
	margin-bottom: 14px;
}

.sitemap table {
	width: 626px;
	/*font-size: 14px;*/
	line-height: 43px;
}

.sitemap td {
	border-bottom: #B4B4B4 solid 1px;
	min-height: 43px;
	padding-left: 10px;
	vertical-align: top;
}

.sitemap a {
	color: #4b4b4b;
	text-decoration: none;
}
.sitemap a:hover {
	text-decoration: underline;
}
.sitemap .outline a {
	color: #2864c8;
}
.sitemap .public a {
	color: #e61e5a;
}
.sitemap .buyer a {
	color: #64288c;
}
.sitemap .press a {
	color: #23a840;
}
.sitemap .kidslife a {
	color: #fa8214;
}