@charset "utf-8";
/*
===========================================================================

	Title : sitemap.css

===========================================================================
*/


/* *********************************************
*
*	PC view
*	
********************************************* */

/* サイトマップ用
---------------------------------------------------------------- */

/*幅設定*/
#wrapper .cntBox {
	width: 980px !important;
}

#wrapper .cntBox .boxInner .cnt-wrap {
	margin: 0 auto;
	padding:0 0 0 0px;
	overflow: hidden;
}
#wrapper .mainCont .subArea {
	display: none;
}
/*フロート*/
#wrapper .cntBox .boxInner .box_fl {
	width: 320px;
	float: left;
	padding: 10px;
	margin-right:30px;
}
/*見出し*/
#wrapper .cntBox .boxInner h3 {
	margin-bottom:10px;
	padding-left:10px;
	border-bottom:none;
	background: none;
	font-size: 16px;
}
/*リスト設定*/
#wrapper .cntBox .boxInner .category {
	margin: 0 0 20px 0;
	padding: 5px 0 3px;
	border-left: 4px solid #1e51a2;
}
#wrapper .cntBox .boxInner ul li {
	margin: 5px 0 5px 0;
	padding-left: 20px;
	font-size: 14px;
	font-weight: bold;
	text-indent:-1em;
}
#wrapper .cntBox .boxInner ul li a{
	position: relative;
	padding-left:1em;
	}
#wrapper .cntBox .boxInner ul li a:before{
	top: 10px;
	left: 5px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-left-color: #555;
	border-width: 4px;
	margin-top: -5px;
	}
#wrapper .cntBox .boxInner .link2 a {
	background: url(../../../sitemap/images/link_arrow_gr.png) no-repeat right center;
	background-size: 13px 11px;
	padding-right: 18px;
	font-weight: bold;
}
.ie8 #wrapper .cntBox .boxInner .link2 a {
	background: url(../../../sitemap/images/link_arrow_gr_ie8.png) no-repeat right center;
	}
/*リンク設定*/
#wrapper .cntBox .boxInner a {
	color: #555;
}

/* *********************************************
*
*	SP view
*	
********************************************* */

@media screen and (max-width:769px) {
/*幅設定*/
#wrapper .cntBox {
	width: 100% !important;
}
#wrapper .cntBox .boxInner .cnt-wrap {
	width: 100%;
	margin: 0;
	padding:0 0%;
}
/*フロート*/
#wrapper .cntBox .boxInner .box_fl {
	width: 280px;
	margin: 0 20px 0 auto;
	padding: 0px;
}
#wrapper .cntBox .boxInner ul li {
	margin: 10px 0 10px 0;
}
#wrapper .cntBox .boxInner ul li.spacing{
	letter-spacing:-0.75px;
	}

}
