/* all-footer     ===================================================== */
#all-footer{
	clear:both;
	width:100%;
	height:117px;
	margin:0 auto;
	padding:0;
	overflow:hidden;
	background:url(all-footer/all-footer_bg.gif) repeat-x center top;
}

#all-footer p{
	text-align:center;
	padding:43px 0 0;
	font-size:x-small;
	_font-size:xx-small;
	line-height:1.2em;
}


#all-footer p a{
	font-size:x-small;
	_font-size:xx-small;
	line-height:1.2em;
}