/* all-navigation ===================================================== */
#all-navigation{
	width:235px;
	padding:0 10px 0 0;
}

#all-navigation div{
	width:235px;
	padding:0 0 5px;
}

#all-navigation div h2{
	width:235px;
	height:45px;
	margin:0;
	padding:0;
	background:url(all-navigation/h2_bg.gif) no-repeat center top;
}

#all-navigation div ul,#all-navigation #nav-prof dl{
	width:200px;
	margin:0 0 0 20px;
	padding:5px;
	background:#f8f1d2;
}

#all-navigation div ul li{
	width:180px;
	padding:3px 3px 3px 15px;
	margin:1px 0 1px 0;
	line-height:1.4em;
	background:#ff9999 url(all-navigation/li_bg.gif) no-repeat 5px 0.8em;
}


#all-navigation div ul li a{
	line-height:1.4em;
	color:#fff;
}

#all-navigation div ul li a,
#all-navigation div ul li a:link,
#all-navigation div ul li a:visited {
	color: #fff;
	text-decoration:none;
}
#all-navigation div ul li a:hover,
#all-navigation div ul li a:active {
	color: #ffeedd;
	text-decoration:underline;
}


#all-navigation div form p{
	width:200px;
	margin:0 0 0 20px;
	padding:5px;
	background:#f8f1d2;
}

#all-navigation div form p input#search{
	width:100px;
}


#all-navigation p{
	width:200px;
	margin:4px 0 0 20px;
}

#all-navigation p img{
	margin:4px 0 0;
}
#all-navigation a img{margin-right:3px;}


#all-navigation #nav-prof dl dt{font-weight:bold;}
#all-navigation #nav-prof dl dt#prof-mat{color:#369;}
#all-navigation #nav-prof dl dt#prof-yos{color:#c66;margin-top:1em;}
#all-navigation #nav-prof dl dd{clear:both;line-height:1.35em;background-color:#fff5f5;padding:5px;}
#all-navigation #nav-prof dl dd img{float:left;margin:0 5px 5px 0;}
