
@charset "UTF-8";
/*#GlobalNavi li#BtnExhibit a, #GlobalNavi li#BtnExhibit a:hover {
    background-position: -320px -51px;
}*/

.AwardDetail{
	width: 100%;	
}
.Section_ttl {
    margin-bottom: 20px;
    margin-top: 10px;
    padding-right: 0;
}
.Section_ttl span.text {
    float: left;
}
.Section_ttl span.lang {
    background-color: #939393;
    color: #fff;
    display: block;
    float: right;
    font-size: 88%;
    font-weight: normal;
    margin: -1px 10px 0 0;
    padding: 3px 7px 3px 6px;
}
.Section_ttl span.price {
    background-image: url("../img/support/icon_free.html");
    background-repeat: no-repeat;
    display: block;
    float: right;
    height: 43px;
    margin: 4px 0 0;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 88px;
}
.AwardArea h2.Contents_ttl {
    background-image: none;
    line-height: 1;
    min-height: 24px;
    padding: 0;
}
.AwardArea .AwardWrap {
    margin: 30px auto 0;
    overflow: hidden;
    /*width: 900px;*/
}
.AwardArea .AwardWrap .Awardbox {
    border-bottom: 1px dotted #ddd;
    margin: 0 auto 20px;
    overflow: hidden;
    padding: 0 0 20px;
    /*width: 900px;*/
}
.AwardArea .AwardWrap .Awardbox.last {
    border-bottom: medium none;
}
.AwardArea .AwardWrap .Awardbox .AwardImg {
    float: left;
    margin-right: 20px;
    width: 130px;
}
.AwardArea .AwardWrap .Awardbox .AwardTxt {
    float: left;
    /*width: 750px;*/
}
.AwardArea .AwardWrap .Awardbox .AwardTxt dl dt {
    color: #006ee3;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.8px;
    line-height: 1.1;
}
.AwardArea .AwardWrap .Awardbox .AwardTxt dl dd {
    font-size: 16px;
    padding: 8px 0 10px;
}
.AwardArea .AwardWrap .Awardbox .AwardTxt dl dd span {
    padding: 0 15px;
}
.AwardArea .AwardWrap .Awardbox .AwardTxt p {
    font-size: 14px;
    line-height: 1.8;
}
.AwardArea .AwardWrap a img:hover {
    opacity: 0.6;
}
.AwardDetail {
    margin-bottom: 50px;
}
.AwardDetail .AdDetailTitl {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    display: table;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 6px 0 10px;
    /*width: 900px;*/
	width: 100%;
}
.AwardDetail .AdDetailTitl .AdDetailTitlImg {
    display: table-cell;
    padding-right: 30px;
    vertical-align: middle;
    width: 114px;
}
.AwardDetail .AdDetailTitl .AdDetailTitlNm {
    display: table-cell;
    vertical-align: middle;
    /*width: 755px;*/
}
.AwardDetail .AdDetailTitl .AdDetailTitlNm h3 {
    color: #e16c48!important;
    font-size: 30px!important;
    font-weight: bold;
    padding-bottom: 3px;
	padding-left: 0!important;
	background: none!important;
	border: none!important;	
	word-break: normal!important;
	margin-bottom: 0!important;
}
.AwardDetail .AdDetailTitl .AdDetailTitlNm .pcBlc{
	display: inline-block;
	}
.AwardDetail .AdDetailTitl .AdDetailTitlNm .Detail {
    overflow: hidden;
    /*width: 755px;*/
}
.AwardDetail .AdDetailTitl .AdDetailTitlNm .Detail p.Nm {
    color: #e16c48;
    /*display: table-cell;*/
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}
.AwardDetail .AdDetailTitl .AdDetailTitlNm .Detail p.Prize {
    /*display: table-cell;*/
    vertical-align: middle;
}
.AwardDetail .AdDetailTitl .AdDetailTitlNm .Detail p.Prize span {
    padding: 0 25px;
}
.AwardDetail .Move {
    margin: 0 auto 35px;
    /*width: 730px;*/
}
.AwardDetail .InterviewArea {
    margin: 0 auto;
    /*width: 840px;*/
}

.AwardDetail .InterviewArea .InterviewAreaIn h6 {
    color: #e16c48;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.7;
    margin-bottom: 18px;
    padding-left: 33px;
    text-indent: -1.8em;
	border-left: none;
}
.AwardDetail .InterviewArea .InterviewAreaIn h6 span {
    padding-right: 20px;
}
.AwardDetail .InterviewArea .InterviewAreaIn p {
    line-height: 1.8;
    margin-bottom: 42px;
}
.AwardDetail .InterviewArea .InterviewAreaIn p a {
    display: block;
    margin-top: 10px;
}
.AwardDetail .InterviewArea .InterviewAreaIn .Img {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    /*width: 845px;*/
}
.AwardDetail .InterviewArea .InterviewAreaIn .Img img {
    display: inline-block;
    margin-bottom: 42px;
}
.AwardDetail .InterviewArea .InterviewAreaIn .Img img.last {
    padding-right: 0;
}

@media screen and (max-width:769px) {
.AwardArea .AwardWrap {
    width: 100%;
}
.AwardArea .AwardWrap .Awardbox {
    width: 100%;
}
.AwardDetail .AdDetailTitl{
	width: 100%;
	}
.AwardDetail .AdDetailTitl .AdDetailTitlImg{
	display: block;
	padding-top:10px;
	}
.AwardDetail .AdDetailTitl .AdDetailTitlNm h3 {
    font-size: 20px!important;	
}
.AwardDetail .AdDetailTitl .AdDetailTitlNm .pcBlc{
	display: none;
	}
.AwardDetail .AdDetailTitl .AdDetailTitlNm .Detail p.Nm {
    font-size: 16px;
}
.AwardArea .AwardWrap .Awardbox .AwardTxt {
    width: 75%;
}
.AwardArea .AwardWrap .Awardbox .AwardTxt dl dt {
    margin-top:10px;
}
.AwardDetail .AdDetailTitl .AdDetailTitlNm {
    width: 100%;
}
.AwardDetail .AdDetailTitl .AdDetailTitlNm .Detail {
    width: 100%;
}
.AwardDetail .AdDetailTitl .AdDetailTitlNm .Detail p.Nm {
	display:block;
	}
.AwardDetail .AdDetailTitl .AdDetailTitlNm .Detail p.Prize {
	display:block;
	}
.AwardDetail .InterviewArea .InterviewAreaIn h6 {
    font-size: 16px;
	text-indent:-20px;
	padding-left:20px;
}
.AwardDetail .InterviewArea .InterviewAreaIn h6 span{
	padding-right:10px;
	}
.AwardDetail .Move {
    width: 100%;
}
.AwardDetail .InterviewArea {
    width: 100%;
}
.AwardDetail .InterviewArea .InterviewAreaIn .Img {
    width: 100%;
}
.AwardDetail .InterviewArea .InterviewAreaIn .Img img{
	width: 30%;
	}
	}
	
@media screen and (max-width:414px) {
.AwardDetail .InterviewArea .InterviewAreaIn .Img img{
	width: 100%;
	}
.AwardArea .AwardWrap .Awardbox .AwardTxt {
    width: 100%;
}
}

