@charset "utf-8";

/* ----------------------------------------
	hallmap.html
---------------------------------------- */

.hallmap h2 {
	margin-bottom: 14px;
}

.hallmap div {
	border-top: #B4B4B4 solid 1px;
	padding: 30px 0 30px 92px;
	width: 548px;
}
