

/*   /exhibition/project/index.html
/*	 主催者企画
------------------------*/


/*   MainArea
------------------------*/
.infoBox{
float:left;
width:555px;
}
.infoBox img{
float:left;
margin-right:20px;
}

.dtlBox{
padding:0px 10px 40px 10px;
width:872px;
}
.dtlTtl{
border-left:5px solid #000000;
font-weight:bold;
margin:0px 0px 10px 0px;
}

p.dtlCopy{
font-size:12px;
font-weight:bold;
color:#000;
padding:2px 10px;
margin:0px;
}
p.dtlName{
font-size:16px;
font-weight:bold;
color:#7d4798;
padding:0px 10px 2px 10px;
margin:0px;
display:inline;
vertical-align:top;
}
p.price{
font-size:16px;
font-weight:bold;
margin:5px 0px;
}
p.price span{
font-size:12px;
font-weight:bold;
background:#000000;
color:#FFFFFF;
padding:5px 10px;
margin-right:10px;
}
table.serveDtlList{
border-top:dotted 1px #000000;
border-bottom:dotted 1px #000000;
padding:5px 0px;
width:555px;
}
table.serveDtlList th{
width:80px;
padding:0px 10px;
text-align:left;
font-size:12px;
font-weight:normal;
}
table.serveDtlList td{
padding:0px 10px;
text-align:left;
font-size:12px;
font-weight:normal;
}

.imgPhoto{
float:right;
}

.serveBox{
background:#f2ede9;
margin:15px 0px;
padding:10px 15px 10px 15px;
}
.serveBox p.serveBoxTtl{
font-size:14px;
font-weight:bold;
padding:0px;
padding-bottom:5px;
margin:0px;
}
.serveBox ul.serveList li{
float:left;
width:390px;
padding:0px 10px 5px 0px;
list-style-type:square;
font-size:12px;
margin-left:20px;
}
.serveBox ul.serveList li span.country{
font-size:12px;
color:#7d4798;
font-weight:bold;
padding-right:5px;
}
.serveBox p.note{
padding-top:5px;
}
table.sessionDate th{
padding:0px 10px;
background:#666666;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
white-space: nowrap;
}
table.sessionDate td{
padding:0px 10px;
font-size:10px;
line-height:150%;
}

.corner{
margin-bottom:30px;
margin-left:10px;
}
.corner .conBox{
background:#eae0ef;
float:left;
width:268px;
margin:0px 4px 10px 0px;
padding:10px;
}
.corner .conBox p.conTtl{
font-size:16px;
color:#7d4798;
padding-bottom:10px;
padding-top:5px;
font-weight:bold;
}
.corner .conBox p.conTxt{
font-size:12px;
}
.corner .conBox img{
float:right;
}


.pagetop{
margin:0px 20px 20px 0px;
}

.right{
float:right;
}

.left{
float:left;
}

#side{
width:230px;
float:left;
}

#content{
width:620px;
float:right;
padding-right:20px;
}

.arial{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
}
#sownnav{
border-top:2px solid #e16c48;
padding-top:10px;
}
#date{
border-bottom:2px solid #e16c48;
padding-bottom:3px;
}
#sownnav li{
font-weight:bold;
float:left;
background-image:url(../img/arrow.gif);
background-repeat:no-repeat;
font-size:14px;
line-height:1em;
padding-left:18px;
margin-right:30px;
}
.orange{
color:#e16c48;
}
.margin_b30{
margin-bottom:30px;
}
.margin_b20{
margin-bottom:20px;
}
.margin_t20{
margin-top:20px;
}
.padding_b30{
padding-bottom:30px;
}
.dateBox2{
background-color:#000;
color:#fff;
padding:3px;
margin-right:10px;
}
h4{
font-size:14px;
padding:3px;
}
h4 a:link{
text-decoration:none;
}
h5{
font-size:14px;
margin-top:30px;
margin-bottom:10px;
color:#e16c48;
background-image:url(../img/titlepoint.gif);
background-repeat:no-repeat;
line-height:1em;
padding-left:15px;
}
#purposeleft{
width:400px;
margin-bottom:20px
}
#purpose{
background-color:#EEEEEE;
padding:10px;
margin-bottom:10px;
}
.grayarea{
background-color:#EEEEEE;
padding:15px;
}
.purposeimg{
margin:0 0 20px 10px;
float:right;
}
.purposeimg img{
margin:0 0 10px 10px;
}
#purpose li{
list-style-type:disc;
margin-left:14px;
padding-right:15px;
font-size:12px;
}
.purpose_taisyo{
background-color:#EEEEEE;
padding:10px;
margin-bottom:20px;
}
.purpose_taisyo h6{
font-size:16px;
font-weight:bold;
margin-top:5px;
}
.purpose_taisyo dl{
background-color:#EEEEEE;
font-size:12px;
}
.purpose_taisyo dl dt{
color:#e16c48;
font-weight:bold;
margin-top:5px;
}
.purpose_taisyo dl dd{
margin-bottom:5px;
}

.oarrow{
background-image:url(../img/arrow.gif);
background-repeat:no-repeat;
font-size:14px;
line-height:1em;
padding-left:18px;
}
dl{
background:#FFEAE3;
padding:10px;
font-size:10px;
}
dt{
margin-top:10px;
}

dl#boshu{
background:none;
padding:0;
font-size:12px;
}
dl#boshu dt{
font-weight:bold;
}
ol{
padding-left:20px;
font-size:12px;
}
ol li{
list-style-type:decimal;
}
p.comment{
font-size:10px;
line-height:1.5em;
}
#comittee td{
padding:10px;
vertical-align:top;
}
.indent{
text-indent: -1em;
padding-left: 1em;
}
.name{
font-weight:bold;
border-bottom:1px solid #000000;
display:block;
margin-bottom:5px;
}