/* common tag   ===================================================== */
body{
	background:#070e15 url(all-tag/body_bg.jpg) no-repeat center top fixed;
	min-width:800px;
	color:#FFF;
}

a,a:link,a:visited {
	color: #ffdecc;
	text-decoration:underline;
}
a:hover,a:active {
	color: #f20000;
	text-decoration:underline;
}

