@charset "utf-8";
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}
input,
textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  max-width: 100%;
}
.cl:after {
  width: 1px;
  height: 0px;
  content: "";
  line-height: 0;
  display: block;
  clear: both;
}
.tel {
  cursor: default;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .tel {
    pointer-events: auto;
  }
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
body {
  font-family: "FOT-UD角ゴ_ラージ Pr6 L", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans", "Noto Sans CJK JP", "Original Yu Gothic", "Yu Gothic", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
}
.font-l {
  font-family: "FOT-UD角ゴ_ラージ Pr6 L";
}
.font-b {
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
}
.font_s {
  font-size: 0.55rem;
}
.font_n {
  font-size: 0.65rem;
}
.font_nm {
  font-size: 0.75rem;
}
.font_m {
  font-size: 0.85rem;
}
.font_l {
  font-size: 1rem;
}
.font_ll {
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .head nav.mainMenu .nav_Overview:before {
    content: '概要';
  }
}
@media screen and (max-width: 768px) {
  .head nav.mainMenu .nav_schedule:before {
    content: '番組表';
  }
}
@media screen and (max-width: 768px) {
  .head nav.mainMenu .nav_exhibitors:before {
    content: '出展社一覧';
  }
}
@media screen and (max-width: 768px) {
  .head nav.mainMenu .nav_Public:before {
    content: '一般公開日';
  }
}
@media screen and (max-width: 768px) {
  .head nav.mainMenu .nav_Business:before {
    content: 'ビジネスデイ';
  }
}
@media screen and (max-width: 768px) {
  .head nav.mainMenu .nav_Exhibit:before {
    content: '出展募集';
  }
}
@media screen and (max-width: 768px) {
  .head nav.mainMenu .nav_Press:before {
    content: 'PRESS';
  }
}
@media screen and (max-width: 768px) {
  .head nav.mainMenu .nav_Contact:before {
    content: 'お問い合わせ';
  }
}
@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix {
  min-height: 1px;
  height: 1px;
}
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}
input,
textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  max-width: 100%;
}
.cl:after {
  width: 1px;
  height: 0px;
  content: "";
  line-height: 0;
  display: block;
  clear: both;
}
.tel {
  cursor: default;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .tel {
    pointer-events: auto;
  }
}
* {
  box-sizing: border-box;
}
.mar_h {
  margin-top: 0.5em;
}
.mar_s {
  margin-top: 1em;
}
.mar_sh {
  margin-top: 1.5em;
}
.mar_d {
  margin-top: 2em;
}
.mar_t {
  margin-top: 3em;
}
.pad_s {
  padding-top: 1em;
}
.pad_sh {
  padding-top: 1.5em;
}
.pad_d {
  padding-top: 2em;
}
.mar_l_25 {
  margin-left: 25px;
}
@media screen and (max-width: 768px) {
  .mar_l_25 {
    margin-left: 15px;
  }
}
.mar_l_15 {
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .mar_l_15 {
    margin-left: 10px;
  }
}
.mar_l_10 {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .mar_l_10 {
    margin-left: 10px;
  }
}
.pad_l_25 {
  padding-left: 25px;
}
@media screen and (max-width: 768px) {
  .pad_l_25 {
    padding-left: 15px;
  }
}
.pad_l_15 {
  padding-left: 15px;
}
@media screen and (max-width: 768px) {
  .pad_l_15 {
    padding-left: 10px;
  }
}
.pad_l_10 {
  padding-left: 10px;
}
@media screen and (max-width: 768px) {
  .pad_l_10 {
    padding-left: 10px;
  }
}
p {
  line-height: 1.9;
  letter-spacing: 0.08em;
}
.center {
  text-align: center;
}
.orange {
  color: #f94a19;
}
.pink {
  color: #fa46a1;
}
.green {
  color: #3ac6a1;
}
.inline {
  display: inline !important;
}
html {
  background: #fff;
  font-feature-settings: "palt";
  font-size: 20px;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
body {
  background: #fff url("../images/main_bg.svg") center top;
  background-size: 1300px auto;
  background-repeat: repeat-y;
}
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}
a:focus {
  outline: none;
}
a:active {
  color: #7f7f7f;
}
a:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
a:visited {
  color: #333;
}
.deadLink,
.deadlink {
  pointer-events: none !important;
  cursor: default !important;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.u_line {
  text-decoration: underline;
}
.head {
  padding-top: 64px;
  width: 100%;
  min-width: 980px;
}
@media screen and (max-width: 768px) {
  .head {
    padding-top: 48px;
    min-width: 100%;
    z-index: 1500;
    position: relative;
  }
}
.head header {
  width: 100%;
  min-width: 980px;
  height: 64px;
  position: fixed;
  z-index: 1500;
  background: #fff;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
@media screen and (max-width: 768px) {
  .head header {
    width: 100%;
    min-width: 100%;
    padding: 0 4%;
    height: 48px;
    z-index: 3000;
    border-bottom: 1px solid #b2b2b2;
  }
}
.head header .logo {
  width: 82px;
}
@media screen and (max-width: 768px) {
  .head header .logo {
    width: 60px;
  }
}
.head header .logo img {
  width: 100%;
}
.head .menuBtn {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .head .menuBtn {
    display: none;
  }
}
.head .menuBtn li {
  width: 112px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
/*&.applicationMenu
				background #F94A19
				color #fff
				& p
				& a
					color #fff
					& span
						border-left 0 none
				& + li
					& p
					& a
						& span
							border-left 0 none*/
}
.head .menuBtn li.dl {
  cursor: auto;
}
.head .menuBtn li:nth-of-type(1) a span {
  border-left: 0 none;
}
.head .menuBtn li[data-link=".nav_Overview"] span {
  border-left: 0 none;
}
.head .menuBtn a,
.head .menuBtn p {
  text-decoration: none;
  font-size: 0.7rem;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
  width: 100%;
  text-align: center;
  padding: 15px 0px;
  color: #000;
}
.head .menuBtn a:visited,
.head .menuBtn p:visited {
  color: #000;
}
.head .menuBtn a span,
.head .menuBtn p span {
  border-left: 2px #757575 solid;
  padding: 3px 0px;
  display: block;
}
.head .menuBtn a span.first,
.head .menuBtn p span.first {
  border-left: 0 none;
}
.head .lang {
  width: 62px;
  position: relative;
  line-height: 0;
}
@media screen and (max-width: 768px) {
  .head .lang {
    width: 90px;
  }
}
.head .lang label {
  display: -webkit-box;
  display: box;
  box-pack: center;
  -webkit-box-pack: center;
  cursor: pointer;
  text-align: -webkit-center;
}
.head .lang select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  line-height: 1;
  font-size: 0.75rem;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
}
@media screen and (max-width: 768px) {
  .head .lang select {
    width: 50px;
    font-size: 16px;
    padding: 5px 15px;
  }
}
@media all and (-ms-high-contrast: none) {
  .head .lang select {
    padding: 0px 0 0 20px;
  }
}
.head .lang select::-ms-expand {
  display: none;
}
.head .lang option {
  text-align: center;
}
.head nav.mainMenu {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  z-index: 900;
}
@media screen and (max-width: 768px) {
  .head nav.mainMenu {
    position: fixed;
    top: 48px;
    right: -100%;
    left: auto;
    width: 100%;
    z-index: 900;
    height: calc(100vh - 48px);
    background: rgba(0,0,0,0.9);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    transition: 0.25s;
  }
  .head nav.mainMenu.on {
    transition: 0.25s;
    right: 0;
  }
}
.head nav.mainMenu .mainMenuwrap {
  width: 100%;
  min-width: 980px;
  position: relative;
  overflow: hidden;
  height: 10px;
  transition: 0.25s;
}
@media screen and (max-width: 768px) {
  .head nav.mainMenu .mainMenuwrap {
    min-width: 100%;
    height: auto;
  }
}
.head nav.mainMenu .mainMenuwrap.on {
  transition: 0.25s;
  height: 200px;
}
.head nav.mainMenu ol {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: -200px;
  background: #424242;
  width: 100%;
  padding: 20px 30px 20px 0;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .head nav.mainMenu ol {
    border-top: 1px solid #fff;
    background: rgba(0,0,0,0);
    position: static;
    top: auto;
    padding: 10px 4% 0;
  }
  .head nav.mainMenu ol:before {
    color: #fff;
    width: 100%;
    display: block;
    padding: 10px 0 20px;
    font-size: 1.3rem;
    font-family: "FOT-UD角ゴ_ラージ Pr6 B";
  }
}
.head nav.mainMenu ol.on {
  top: 0;
  transition: 0.5s;
}
.head nav.mainMenu ol li {
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .head nav.mainMenu ol li {
    border-top: 1px solid rgba(255,255,255,0.5);
    margin-left: 0px;
    width: 100%;
  }
}
.head nav.mainMenu ol li a {
  font-size: 0.75rem;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
  letter-spacing: 0.06em;
  color: #fff;
  text-decoration: none;
  background: url("../images/Arrow.svg") left center no-repeat;
  background-size: 15px auto;
  padding: 10px 0px 10px 25px;
  display: inline-block;
}
@media all and (-ms-high-contrast: none) {
  .head nav.mainMenu ol li a {
    background-size: 15px 10px;
  }
}
@media screen and (max-width: 768px) {
  .head nav.mainMenu ol li a {
    font-size: 0.9rem;
    font-family: "FOT-UD角ゴ_ラージ Pr6 L";
    padding: 20px 0px 20px 25px;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .head .langBox {
    display: flex;
    width: 110px;
  }
}
.head .langBoxSelect {
  background: #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.head .smpBtn {
  display: none;
}
@media screen and (max-width: 768px) {
  .head .smpBtn {
    display: block;
    width: 30px;
    margin-left: 10px;
  }
}
.head .smpBtn .smpBtnBox {
  position: relative;
}
.head .smpBtn .smpBtnBox span {
  display: block;
  height: 1px;
  width: 100%;
  background: #000;
  position: absolute;
  left: 0;
}
.head .smpBtn .smpBtnBox span:nth-of-type(1) {
  top: 0;
}
.head .smpBtn .smpBtnBox span:nth-of-type(2) {
  top: 12px;
}
.head .smpBtn .smpBtnBox span:nth-of-type(3) {
  top: 24px;
}
.wrap {
  min-width: 980px;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .wrap {
    min-width: 100%;
    max-width: 100%;
  }
}
.Breadcrumb {
  border-top: 1px solid #5e5e5e;
  border-bottom: 1px solid #5e5e5e;
  width: 100%;
  min-width: 980px;
  padding: 15px 30px;
}
@media screen and (max-width: 768px) {
  .Breadcrumb {
    width: 100%;
    min-width: 100%;
    display: none;
  }
}
.Breadcrumb ol {
  display: flex;
}
.Breadcrumb ol li {
  padding: 0 23px 0 12px;
}
.Breadcrumb ol li.home {
  background: url("../images/Arrow.svg") right center no-repeat;
  background-size: 15px auto;
  padding-left: 0;
}
.Breadcrumb ol a {
  font-size: 0.55rem;
  font-family: "FOT-UD角ゴ_ラージ Pr6 L";
  color: #666;
  text-decoration: none;
  letter-spacing: 0.06em;
  height: 18px;
  display: flex;
  align-items: center;
}
.Breadcrumb ol a span {
  display: block;
}
.Breadcrumb .BreadcrumbBox {
  float: left;
}
.Breadcrumb .snsBox {
  float: right;
}
.Breadcrumb .snsBox img {
  width: 18px;
}
.Breadcrumb .snsBox ul {
  display: flex;
}
.Breadcrumb .snsBox ul li {
  margin-left: 10px;
}
footer {
  width: 100%;
  min-width: 980px;
  background: #f0f0f0;
}
@media screen and (max-width: 768px) {
  footer {
    width: 100%;
    min-width: 100%;
    padding: 30px 4% 30px;
  }
}
footer .miniSiteMap {
  margin-top: 26px;
  padding: 0 30px;
}
@media screen and (max-width: 768px) {
  footer .miniSiteMap {
    padding: 0 0;
    margin-top: 0px;
  }
}
footer .miniSiteMap .miniSiteMapPartition {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  footer .miniSiteMap .miniSiteMapPartition {
    flex-wrap: wrap;
  }
}
footer .miniSiteMap .miniSiteMapList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .miniSiteMap .miniSiteMapList li {
  width: 50%;
}
footer .miniSiteMap .miniSiteMapList li a {
  display: block;
  font-family: "FOT-UD角ゴ_ラージ Pr6 L";
  font-size: 0.65rem;
  line-height: 1.3;
  text-decoration: none;
  color: #000;
  background: url("../images/arrow_l_b.svg") left center no-repeat;
  background-size: 10px 11px;
  padding: 10px 0 10px 16px;
}
footer .miniSiteMap .leftMenu {
  width: 50%;
}
@media screen and (max-width: 768px) {
  footer .miniSiteMap .leftMenu {
    width: 100%;
  }
}
footer .miniSiteMap .rightMenu {
  width: 45%;
}
@media screen and (max-width: 768px) {
  footer .miniSiteMap .rightMenu {
    width: 100%;
  }
}
footer .application {
  margin-top: 26px;
}
footer .application .applicationPartition {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  footer .application .applicationPartition downloadbtn {
    width: 100%;
  }
}
footer .application .applicationPartition .applicationbtn {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  footer .application .applicationPartition .applicationbtn {
    margin-left: 0px;
    margin-top: 15px;
    width: 100%;
  }
}
footer .japanGameAwards {
  margin-top: 26px;
}
footer .japanGameAwards .japanGameAwardsPartition {
  display: flex;
  justify-content: center;
  background: url("../images/jpa_logo.png") left center no-repeat;
  background-size: 134px 32px;
  width: 704px;
  margin: 0 auto;
  padding: 0 0 0 177px;
}
@media screen and (max-width: 768px) {
  footer .japanGameAwards .japanGameAwardsPartition {
    background: url("../images/jpa_logo.png") center top no-repeat;
    background-size: 134px 32px;
    width: 100%;
    padding: 50px 0 0 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
footer .japanGameAwards .japanGameAwardsPartition .amateur,
footer .japanGameAwards .japanGameAwardsPartition .u18,
footer .japanGameAwards .japanGameAwardsPartition .year {
  position: relative;
}
footer .japanGameAwards .japanGameAwardsPartition .amateur:before,
footer .japanGameAwards .japanGameAwardsPartition .u18:before,
footer .japanGameAwards .japanGameAwardsPartition .year:before {
  display: block;
  content: '';
  width: calc(100% - 20px);
  z-index: 50;
  background: rgba(0,0,0,0.12);
  position: absolute;
  top: 5px;
  left: 10px;
  height: 50px;
}
footer .japanGameAwards .japanGameAwardsPartition .year {
  width: 188px;
  margin-left: 20px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
@media screen and (max-width: 768px) {
  footer .japanGameAwards .japanGameAwardsPartition .year {
    width: 49%;
    margin-left: 0px;
    margin-top: 10px;
  }
}
footer .japanGameAwards .japanGameAwardsPartition .year .btn_abox {
  background: #c30c08;
}
footer .japanGameAwards .japanGameAwardsPartition .u18 {
  width: 188px;
  margin-left: 20px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
@media screen and (max-width: 768px) {
  footer .japanGameAwards .japanGameAwardsPartition .u18 {
    width: 49%;
    margin-left: 0px;
  }
}
footer .japanGameAwards .japanGameAwardsPartition .u18 .btn_abox {
  background: #9bcf15;
}
footer .japanGameAwards .japanGameAwardsPartition .amateur {
  width: 188px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
@media screen and (max-width: 768px) {
  footer .japanGameAwards .japanGameAwardsPartition .amateur {
    width: 49%;
  }
}
footer .japanGameAwards .japanGameAwardsPartition .amateur .btn_abox {
  background: #3980a7;
}
footer .japanGameAwards .japanGameAwardsPartition .btn_abox {
  position: relative;
  z-index: 70;
}
footer .japanGameAwards .japanGameAwardsPartition a {
  display: block;
  text-decoration: none;
  color: #fff;
  background: url("../images/arrow_l_w.svg") left 13px center no-repeat;
  background-size: 10px 11px;
  padding: 18px 0 18px 33px;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
  font-size: 0.65rem;
  text-decoration: none;
  letter-spacing: 0.06em;
}
footer .copy {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  footer .copy {
    flex-wrap: wrap;
  }
}
footer .copy p {
  padding: 63px 0;
  font-family: "FOT-UD角ゴ_ラージ Pr6 L";
  font-size: 0.55rem;
}
@media screen and (max-width: 768px) {
  footer .copy p {
    border-top: 1px solid #b2b2b2;
    margin-top: 30px;
    padding: 30px 0 15px;
    text-align: center;
    width: 100%;
  }
}
footer .copy .cesaLogo {
  position: absolute;
  right: 21px;
  top: 50%;
  margin-top: -17px;
}
@media screen and (max-width: 768px) {
  footer .copy .cesaLogo {
    position: relative;
    width: 100%;
    text-align: center;
    right: auto;
    top: auto;
    margin-top: 0;
  }
}
footer .copy .cesaLogo img {
  height: 34px;
}
@media screen and (max-width: 768px) {
  footer .copy .cesaLogo img {
    height: 24px;
  }
}
.btn_l {
  width: 292px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .btn_l {
    width: 100%;
  }
}
.btn_l.long {
  width: 490px;
}
@media screen and (max-width: 768px) {
  .btn_l.long {
    width: 100%;
  }
}
.btn_l.long a {
  text-align: left;
}
.btn_l.long a span {
  padding-left: 50px;
}
.btn_l.llong {
  width: 600px;
}
@media screen and (max-width: 768px) {
  .btn_l.llong {
    width: 100%;
  }
}
.btn_l.llong .btn_lBox {
  border: #888 2px solid;
}
.btn_l.llong a {
  font-size: 1rem;
  text-align: left;
  padding: 25px 25px;
}
.btn_l.llong a span {
  padding-left: 50px;
}
.btn_l:before {
  display: block;
  content: '';
  width: calc(100% - 20px);
  z-index: 50;
  background: rgba(0,0,0,0.08);
  position: absolute;
  top: 5px;
  left: 10px;
  height: 50px;
  -ms-filter: blur(6px);
  filter: blur(6px);
}
.btn_l .btn_lBox {
  background: -ms-linear-gradient(0deg, #fff 0%, #f7f7f7 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F7F7F7' ,GradientType=0)";
  background: linear-gradient(90deg, #fff 0%, #f7f7f7 100%);
  border: #c8c8c8 1px solid;
  position: relative;
  z-index: 100;
}
.btn_l a {
  display: block;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
  font-size: 0.85rem;
  text-decoration: none;
  text-align: center;
  color: #000;
  padding: 15px 15px;
  background: url("../images/l_btn.svg") left center no-repeat;
  background-size: cover;
}
@media all and (-ms-high-contrast: none) {
  .btn_l a {
    background-size: 400px 200px;
  }
}
.btn_l a span {
  display: block;
  background: url("../images/Arrow_dg.svg") left 10px center no-repeat;
  background-size: 20px auto;
  letter-spacing: 0.06em;
  line-height: 1.33;
}
@media all and (-ms-high-contrast: none) {
  .btn_l a span {
    background-size: 20px 10px;
  }
}
main {
  display: block;
  padding-bottom: 30px;
}
main .contentsBox {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  main .contentsBox {
    flex-wrap: wrap;
  }
}
main .contentsBox .leftContents {
  width: calc(100% - 316px);
}
@media screen and (max-width: 768px) {
  main .contentsBox .leftContents {
    width: 100%;
  }
}
main .contentsBox .leftContents section,
main .contentsBox .leftContents article {
  width: 100%;
  margin-top: 30px;
}
main .contentsBox .leftContents section:nth-of-type(1),
main .contentsBox .leftContents article:nth-of-type(1) {
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  main .contentsBox .leftContents section,
  main .contentsBox .leftContents article {
    width: 100%;
    min-width: 100%;
  }
}
main .contentsBox .leftContents section .sectionBox,
main .contentsBox .leftContents article .sectionBox {
  padding: 27px 27px 27px 27px;
}
@media screen and (max-width: 768px) {
  main .contentsBox .leftContents section .sectionBox,
  main .contentsBox .leftContents article .sectionBox {
    padding: 27px 4% 27px 4%;
    width: 92%;
    margin: 0 auto;
  }
}
main .contentsBox .leftContents section:nth-of-type(odd) .sectionBox,
main .contentsBox .leftContents article:nth-of-type(odd) .sectionBox {
  background: #eaeaea url("../images/section_bgA.svg") center top;
  background-size: 100% auto;
  background-repeat: repeat-y;
}
main .contentsBox .leftContents section:nth-of-type(even) .sectionBox,
main .contentsBox .leftContents article:nth-of-type(even) .sectionBox {
  background: #eaeaea url("../images/section_bgB.svg") center top;
  background-size: 100% auto;
  background-repeat: repeat-y;
}
main .contentsBox .leftContents section .sectionBox_w,
main .contentsBox .leftContents article .sectionBox_w {
  padding: 0px 27px 0px 27px;
}
@media screen and (max-width: 768px) {
  main .contentsBox .leftContents section .sectionBox_w,
  main .contentsBox .leftContents article .sectionBox_w {
    padding: 0px 0px 0px 0px;
    width: 92%;
    margin: 0 auto;
  }
}
main .contentsBox .rightContents {
  width: 300px;
}
@media screen and (max-width: 768px) {
  main .contentsBox .rightContents {
    margin-top: 30px;
    width: 100%;
    padding: 0 4%;
  }
}
main .contentsBox .rightContents .bnr {
  width: 300px;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  main .contentsBox .rightContents .bnr {
    width: 100%;
  }
}
main .contentsBox .rightContents .bnr:nth-of-type(1) {
  margin-top: 0;
}
main .contentsBox .rightContents .bnr img {
  width: 100%;
}
main .contentsBox .rightContents .bnr a {
  display: block;
  margin-top: 8px;
}
main .h2Box {
  height: 123px;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main .h2Box {
    height: auto;
    min-height: 60px;
  }
}
main .h2Box:nth-of-type(1) {
  margin-top: -10px;
}
main .h2Box.new {
  position: relative;
}
main .h2Box.new h2 {
  padding-left: 85px;
}
main .h2Box.new:before {
  position: absolute;
  content: '';
  background: url("../images/Icon_new.svg") center center no-repeat;
  background-size: cover;
  display: block;
  top: 50%;
  left: 20px;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}
@media screen and (max-width: 768px) {
  main .h2Box.new:before {
    left: 20px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
  }
}
main .h2Box.delighter .h2BoxLineA {
  position: absolute;
  background: #4affcf;
  transform: skewX(-17deg);
  width: 3px;
  height: 115px;
  transition: 0.3s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
}
@media screen and (max-width: 768px) {
  main .h2Box.delighter .h2BoxLineA {
    height: 65px;
  }
}
main .h2Box.delighter .h2BoxLineB {
  position: absolute;
  background: #fa46a1;
  transform: skewX(-17deg);
  width: 3px;
  height: 115px;
  transition: 0.3s;
  -moz-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
}
@media screen and (max-width: 768px) {
  main .h2Box.delighter .h2BoxLineB {
    height: 65px;
  }
}
main .h2Box.delighter .h2BoxLineC {
  position: absolute;
  background: #ff0;
  transform: skewX(-17deg);
  width: 3px;
  height: 115px;
  transition: 0.3s;
  -moz-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
}
@media screen and (max-width: 768px) {
  main .h2Box.delighter .h2BoxLineC {
    height: 65px;
  }
}
main .h2Box.delighter.started .h2BoxLineA {
  top: 0px;
  left: -16px;
}
main .h2Box.delighter.started .h2BoxLineB {
  top: -17px;
  left: 0px;
}
main .h2Box.delighter.started .h2BoxLineC {
  top: -34px;
  left: 15px;
}
main .h2Box.delighter.started.ended .h2BoxLineA {
  top: 34px;
  left: -28px;
}
main .h2Box.delighter.started.ended .h2BoxLineB {
  top: 17px;
  left: -12px;
}
main .h2Box.delighter.started.ended .h2BoxLineC {
  top: 0;
  left: 3px;
}
main .h2Box h2 {
  padding-left: 35px;
  font-size: 1.1rem;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
  letter-spacing: 0.06em;
  line-height: 1.35;
}
@media screen and (max-width: 768px) {
  main .h2Box h2 {
    font-size: 1rem;
  }
}
main .h3Box {
  position: relative;
  display: flex;
  align-items: center;
}
main .h3Box:before {
  content: '';
  width: 6px;
  height: 6px;
  background: #bbb;
}
main .h3Box h3 {
  padding-left: 17px;
  font-size: 0.9rem;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
  letter-spacing: 0.06em;
  line-height: 1.35;
}
main .h3LineBox {
  position: relative;
  display: flex;
  align-items: center;
}
main .h3LineBox:before {
  content: '';
  width: 3px;
  height: 34px;
  background: #fa46a1;
}
main .h3LineBox h3 {
  padding-left: 17px;
  font-size: 0.9rem;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
  letter-spacing: 0.06em;
  line-height: 1.35;
}
main .h4Box {
  position: relative;
  display: flex;
  align-items: center;
}
main .h4Box:before {
  content: '';
  width: 6px;
  height: 6px;
  background: #bbb;
  min-width: 6px;
}
main .h4Box h4 {
  padding-left: 17px;
  font-size: 0.9rem;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
  letter-spacing: 0.06em;
  line-height: 1.35;
  max-width: 824px;
}
main .w_list {
  display: flex;
  flex-wrap: wrap;
}
main .w_list li {
  text-align: center;
  font-size: 0.75rem;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
  margin-top: 10px;
  margin-right: 17px;
}
main .w_list li p {
  padding: 7px 20px;
  letter-spacing: 0.08em;
  background: #fff;
  display: block;
}
main .w_list li p.fDay {
  background: #f94a19;
  color: #fff;
}
main .w_list li p.tDay {
  background: #142b88;
  color: #fff;
}
main .w_list li p.hall {
  background: #fa46a1;
  color: #fff;
}
main .w_list li p.plans {
  background: #3ac6a1;
  color: #fff;
}
main .w_list li p.international {
  background: #af579d;
  color: #fff;
}
main .w_list li p.eventhall {
  background: #6d94c3;
  color: #fff;
}
main .w_list li a {
  border: 2px solid #000;
  padding: 7px 30px 7px 20px;
  text-decoration: none;
  color: #000;
  display: block;
  background: url("../images/Arrow_dg.svg") right 10px center no-repeat #fff;
  background-size: 12px auto;
  letter-spacing: 0.08em;
}
@media all and (-ms-high-contrast: none) {
  main .w_list li a {
    background-size: 12px 8px;
  }
}
main .barLink {
  display: inline;
  border-bottom: 1px solid #f94a19;
  text-decoration: none;
  background: url("../images/Arrow_dg.svg") right center no-repeat;
  background-size: 12px auto;
  padding-right: 20px;
  color: #000;
}
@media all and (-ms-high-contrast: none) {
  main .barLink {
    background-size: 12px 10px;
  }
}
@media screen and (max-width: 768px) {
  main .barLink {
    background: url("../images/Arrow_dg.svg") right center no-repeat;
    background-size: 8px auto;
    padding-right: 12px;
  }
}
main .imgbox {
  width: 100%;
}
main .imgbox img {
  width: 100%;
}
main .imgbox70 {
  width: 100%;
  text-align: center;
}
main .imgbox70 img {
  width: 70%;
}
@media screen and (max-width: 768px) {
  main .imgbox70 img {
    width: 100%;
  }
}
main .imgbox50 {
  width: 100%;
  text-align: center;
}
main .imgbox50 img {
  width: 50%;
}
main .imgboxIndy {
  width: 100%;
  text-align: center;
}
main .imgboxIndy img {
  width: 135px;
}
main .imgbox1_3 {
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  main .imgbox1_3.mar_d {
    padding-top: 2em;
    border-top: 1px dotted #999;
  }
}
main .imgbox1_3:nth-of-type(even) .imgArea {
  float: right;
}
@media screen and (max-width: 768px) {
  main .imgbox1_3:nth-of-type(even) .imgArea {
    float: none;
  }
}
main .imgbox1_3:nth-of-type(even) .textArea {
  float: left;
}
@media screen and (max-width: 768px) {
  main .imgbox1_3:nth-of-type(even) .textArea {
    float: none;
  }
}
main .imgbox1_3:nth-of-type(odd) .imgArea {
  float: left;
}
@media screen and (max-width: 768px) {
  main .imgbox1_3:nth-of-type(odd) .imgArea {
    float: none;
  }
}
main .imgbox1_3:nth-of-type(odd) .textArea {
  float: right;
}
@media screen and (max-width: 768px) {
  main .imgbox1_3:nth-of-type(odd) .textArea {
    float: none;
  }
}
main .imgbox1_3 .imgArea {
  width: 220px;
}
main .imgbox1_3 .imgArea img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  main .imgbox1_3 .imgArea {
    width: 80%;
    margin: 0 auto;
    float: none;
  }
}
main .imgbox1_3 .textArea {
  width: calc(100% - 238px);
}
@media screen and (max-width: 768px) {
  main .imgbox1_3 .textArea {
    width: 100%;
    margin-top: 15px;
    float: none;
  }
}
main .imgbox2_3 {
  overflow: hidden;
}
main .imgbox2_3 .imgArea {
  float: right;
  width: 388px;
}
@media screen and (max-width: 768px) {
  main .imgbox2_3 .imgArea {
    width: 80%;
    margin: 0 auto;
    float: none;
  }
}
main .imgbox2_3 .textArea {
  float: left;
  width: calc(100% - 408px);
}
@media screen and (max-width: 768px) {
  main .imgbox2_3 .textArea {
    width: 100%;
    margin-top: 15px;
    float: none;
  }
}
main .imgbox2_3 img {
  width: 100%;
}
main .imgbox2_2 {
  overflow: hidden;
}
main .imgbox2_2 .imgArea {
  float: right;
  width: 288px;
}
@media screen and (max-width: 768px) {
  main .imgbox2_2 .imgArea {
    width: 80%;
    margin: 0 auto;
    float: none;
  }
}
main .imgbox2_2 .textArea {
  float: left;
  width: calc(100% - 308px);
}
@media screen and (max-width: 768px) {
  main .imgbox2_2 .textArea {
    width: 100%;
    margin-top: 15px;
    float: none;
  }
}
main .imgbox2_2 img {
  width: 100%;
}
main .imgbox2_2i {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .imgbox2_2i .imgArea {
  width: 49%;
}
@media screen and (max-width: 768px) {
  main .imgbox2_2i .imgArea {
    width: 49%;
    margin: 0 auto;
    float: none;
  }
}
main .imgbox2_2i .imgArea img {
  width: 100%;
}
main .lightLine {
  border-top: 1px dotted #ddd;
}
main .darkLine {
  border-top: 1px dotted #999;
}
main .ddarkLine {
  border-top: 1px dotted #555;
}
main .imgG2_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .imgG2_2 li {
  margin-top: 20px;
  width: 48.5%;
}
main .imgG2_2 li img {
  width: 100%;
}
main .darkLine_l {
  border-left: 1px solid #999;
}
body:not(#index) .h1Box {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.14em;
  padding: 48px 30px 70px;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
}
@media screen and (max-width: 768px) {
  body:not(#index) .h1Box {
    font-size: 1.5rem;
    padding: 35px 4% 50px;
  }
}
body:not(#index) .h1Box h1 {
  position: relative;
}
body:not(#index) .h1Box h1:after {
  position: absolute;
  content: '';
  width: 40px;
  height: 4px;
  bottom: -22px;
  left: 50%;
  margin-left: -20px;
  background: #fa46a1;
}
body:not(#index) .Note {
  background: #f94a19;
  color: #fff;
  padding: 30px;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
}
@media screen and (max-width: 768px) {
  body:not(#index) .Note {
    padding: 15px 4%;
  }
}
body:not(#index) .Note h4 {
  text-align: center;
  font-size: 1.85rem;
}
body:not(#index) .photo {
  display: flex;
  flex-wrap: wrap;
}
body:not(#index) .photo li {
  width: 24%;
  margin: 0 0.2%;
}
@media screen and (max-width: 768px) {
  body:not(#index) .photo li {
    width: 49%;
  }
}
body:not(#index) .photo li img {
  width: 100%;
}
body:not(#index) .photo li p {
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  body:not(#index) .photo li p {
    padding-bottom: 5px;
  }
}
#index #mv {
  max-width: 1200px;
  min-width: 980px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #index #mv {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    overflow: hidden;
  }
}
#index #mv .sliderBox img {
  width: 100%;
}
#index #mv .sliderBox .slide_news {
  background: url("../images/news_bg.png") center center no-repeat;
  background-size: cover;
  margin-bottom: 35px;
}
#index #mv .sliderBox .slide_news .slide_news_inbox {
  background: url("../images/logo.png") left 40px center no-repeat;
  background-size: 350px;
  padding: 25px 25px 25px 430px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #index #mv .sliderBox .slide_news .slide_news_inbox {
    background: url("../images/logo.png") center top 20px no-repeat;
    background-size: 50%;
    padding: 36% 4% 25px;
  }
}
#index #mv .sliderBox .slide_news .slide_news_inbox h2 {
  line-height: 1.2;
}
#index #mv .sliderBox .slide_news .slide_news_inbox span {
  display: block;
}
#index #mv .sliderBox .slide_news .slide_news_inbox .barLink {
  color: #fff;
  display: inline-block;
}
#index #mv .sliderBox .slide_news .slide_news_inbox img {
  width: 100%;
}
#index #mv .snsBox {
  position: absolute;
  bottom: -24px;
  right: 0;
  float: right;
  z-index: 1000;
}
#index #mv .snsBox img {
  width: 18px;
}
#index #mv .snsBox ul {
  display: flex;
}
#index #mv .snsBox ul li {
  margin-left: 10px;
}
#index #mv .snsBox ul a {
  display: block;
}
#index #mv a,
#index #mv .sec {
  display: block;
  position: relative;
}
#index #mv img {
  width: 100%;
}
#index #mv .mvSecond {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  width: 72%;
  height: 100px;
}
#index #mv .mvSecond li {
  width: 50%;
}
#index #mv .mvSecond li a {
  width: 100%;
  height: 100px;
  display: block;
}
#index #topMinisite,
#index #tagborad {
  position: relative;
}
#index #topMinisite h3,
#index #tagborad h3 {
  font-size: 2.15rem;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
  letter-spacing: 0.08em;
  padding: 30px 0 10px;
  color: #fa46a1;
  background: -ms-linear-gradient(90deg, #fdbc3a 0%, #fa46a1 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDBC3A', endColorstr='#FA46A1' ,GradientType=0)";
  background: linear-gradient(0deg, #fdbc3a 0%, #fa46a1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
@media all and (-ms-high-contrast: none) {
  #index #topMinisite h3,
  #index #tagborad h3 {
    background: none;
    color: #fa46a1;
  }
}
@media screen and (max-width: 768px) {
  #index #topMinisite h3,
  #index #tagborad h3 {
    font-size: 1.5rem;
    padding: 15px 0 10px;
  }
}
#index #topMinisite h3 span,
#index #tagborad h3 span {
  letter-spacing: 0em;
}
#index #topMinisite .topH2,
#index #tagborad .topH2 {
  position: absolute;
  width: 184px;
  top: -10px;
  left: 50%;
  margin-left: -92px;
  background: #fff;
  filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.3));
}
@media all and (-ms-high-contrast: none) {
  #index #topMinisite .topH2,
  #index #tagborad .topH2 {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  }
}
#index #topMinisite .topH2 h2,
#index #tagborad .topH2 h2 {
  font-size: 1.1rem;
  font-family: "FOT-UD角ゴ_ラージ Pr6 L";
  padding: 5px 0 7px;
  letter-spacing: 0.18em;
  line-height: 1;
  color: #333;
  text-align: center;
}
#index #topMinisite .topH2 h2 span,
#index #tagborad .topH2 h2 span {
  letter-spacing: 0em;
}
#index #topMinisite .miniSiteMapList,
#index #tagborad .miniSiteMapList {
  display: flex;
  flex-wrap: wrap;
}
#index #topMinisite .miniSiteMapList li,
#index #tagborad .miniSiteMapList li {
  width: 31.7%;
  margin-left: 1.6333%;
  margin-top: 15px;
  position: relative;
  z-index: 20;
/*-&:before
					display block
					content ''
					width calc(100% - 20px)
					z-index 10
					background rgba(0,0,0,0.18)
					position absolute
					top 5px
					left 10px 
					height 50px
					-ms-filter: blur(6px);
					filter: blur(6px);*/
}
@media screen and (max-width: 768px) {
  #index #topMinisite .miniSiteMapList li,
  #index #tagborad .miniSiteMapList li {
    width: 48.5%;
  }
}
#index #topMinisite .miniSiteMapList li:nth-of-type(3n+1),
#index #tagborad .miniSiteMapList li:nth-of-type(3n+1) {
  margin-left: 0%;
}
@media screen and (max-width: 768px) {
  #index #topMinisite .miniSiteMapList li:nth-of-type(3n+1),
  #index #tagborad .miniSiteMapList li:nth-of-type(3n+1) {
    margin-left: 1.6333%;
  }
}
@media screen and (max-width: 768px) {
  #index #topMinisite .miniSiteMapList li:nth-of-type(2n+1),
  #index #tagborad .miniSiteMapList li:nth-of-type(2n+1) {
    margin-left: 0%;
  }
}
#index #topMinisite .miniSiteMapList a,
#index #tagborad .miniSiteMapList a {
  font-size: 0.65rem;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  letter-spacing: 0.06em;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  line-height: 1.2;
  height: 58px;
  position: relative;
  z-index: 200;
}
@media screen and (max-width: 768px) {
  #index #topMinisite .miniSiteMapList a,
  #index #tagborad .miniSiteMapList a {
    font-size: 0.8rem;
    line-height: 1.5;
    height: 50px;
  }
}
#index #topMinisite .miniSiteMapList a span,
#index #tagborad .miniSiteMapList a span {
  background: url("../images/arrow_l_w.svg") left center no-repeat;
  background-size: auto 12px;
  padding-left: 20px;
  display: block;
}
@media all and (-ms-high-contrast: none) {
  #index #topMinisite .miniSiteMapList a span,
  #index #tagborad .miniSiteMapList a span {
    background-size: 8px 12px;
  }
}
#index #topMinisite .miniSiteMapList.miniA li a,
#index #tagborad .miniSiteMapList.miniA li a {
  background: -ms-linear-gradient(0deg, #ec4956 0%, #f05f51 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EC4956', endColorstr='#F05F51' ,GradientType=0)";
  background: linear-gradient(90deg, #ec4956 0%, #f05f51 100%);
}
#index #topMinisite .miniSiteMapList.miniB li a,
#index #tagborad .miniSiteMapList.miniB li a {
  background: -ms-linear-gradient(0deg, #fb9458 0%, #fba340 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FB9458', endColorstr='#FBA340' ,GradientType=0)";
  background: linear-gradient(90deg, #fb9458 0%, #fba340 100%);
}
#index .application .applicationPartition {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  #index .application .applicationPartition {
    flex-wrap: wrap;
  }
}
#index .application .applicationPartition .btn_l {
  width: 49%;
}
@media screen and (max-width: 768px) {
  #index .application .applicationPartition .btn_l {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #index .application .applicationPartition .applicationbtn {
    margin-top: 15px;
  }
}
#index .japanGameAwards {
  margin-top: 26px;
}
#index .japanGameAwards .japanGameAwardsPartition {
  display: flex;
  justify-content: center;
  background: url("../images/jpa_logo.png") left center no-repeat;
  background-size: 134px 32px;
  margin: 0 auto;
  padding: 0 0 0 154px;
}
@media screen and (max-width: 768px) {
  #index .japanGameAwards .japanGameAwardsPartition {
    background: url("../images/jpa_logo.png") center top no-repeat;
    background-size: 134px 32px;
    width: 100%;
    padding: 50px 0 0 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
#index .japanGameAwards .japanGameAwardsPartition .amateur,
#index .japanGameAwards .japanGameAwardsPartition .u18,
#index .japanGameAwards .japanGameAwardsPartition .year {
  position: relative;
}
@media screen and (max-width: 768px) {
  #index .japanGameAwards .japanGameAwardsPartition .amateur,
  #index .japanGameAwards .japanGameAwardsPartition .u18,
  #index .japanGameAwards .japanGameAwardsPartition .year {
    width: calc(50% - 20px);
  }
}
#index .japanGameAwards .japanGameAwardsPartition .amateur:before,
#index .japanGameAwards .japanGameAwardsPartition .u18:before,
#index .japanGameAwards .japanGameAwardsPartition .year:before {
  display: block;
  content: '';
  width: calc(100% - 20px);
  z-index: 50;
  background: rgba(0,0,0,0.12);
  position: absolute;
  top: 5px;
  left: 10px;
  height: 50px;
  -ms-filter: blur(6px);
  filter: blur(6px);
}
#index .japanGameAwards .japanGameAwardsPartition .year {
  background: #c30c08;
  width: 188px;
  margin-left: 20px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
@media screen and (max-width: 768px) {
  #index .japanGameAwards .japanGameAwardsPartition .year {
    width: 49%;
    margin-top: 10px;
    margin-left: 0;
  }
}
#index .japanGameAwards .japanGameAwardsPartition .year .btn_abox {
  background: #c30c08;
}
#index .japanGameAwards .japanGameAwardsPartition .u18 {
  width: 188px;
  margin-left: 20px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
@media screen and (max-width: 768px) {
  #index .japanGameAwards .japanGameAwardsPartition .u18 {
    margin-left: 0px;
    width: 49%;
  }
}
#index .japanGameAwards .japanGameAwardsPartition .u18 .btn_abox {
  background: #9bcf15;
}
#index .japanGameAwards .japanGameAwardsPartition .amateur {
  width: 188px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
@media screen and (max-width: 768px) {
  #index .japanGameAwards .japanGameAwardsPartition .amateur {
    width: 49%;
  }
}
#index .japanGameAwards .japanGameAwardsPartition .amateur .btn_abox {
  background: #3980a7;
}
#index .japanGameAwards .japanGameAwardsPartition .btn_abox {
  position: relative;
  z-index: 70;
}
#index .japanGameAwards .japanGameAwardsPartition a {
  display: block;
  text-decoration: none;
  color: #fff;
  background: url("../images/arrow_l_w.svg") left 13px center no-repeat;
  background-size: 10px 11px;
  padding: 18px 18px 18px 33px;
  font-family: "FOT-UD角ゴ_ラージ Pr6 B";
  font-size: 0.65rem;
  text-decoration: none;
  letter-spacing: 0.06em;
  line-height: 1.3;
}
.exhibitList {
  display: flex;
}
@media screen and (max-width: 768px) {
  .exhibitList {
    flex-wrap: wrap;
  }
}
.exhibitList dl {
  display: flex;
}
.exhibitList dl dd {
  margin-left: 0px;
  border-left: 0px solid #b2b2b2;
  padding-left: 0px;
}
.exhibitList dt {
  width: 130px;
}
@media screen and (max-width: 768px) {
  .exhibitList dt {
    width: 100%;
  }
}
.exhibitList dd {
  margin-left: 30px;
  border-left: 1px solid #b2b2b2;
  padding-left: 40px;
  width: 100%;
  min-width: 474px;
  max-width: 670px;
}
@media screen and (max-width: 768px) {
  .exhibitList dd {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
    border-left: 0px solid #b2b2b2;
    padding-left: 0px;
  }
}
.sown_comitte {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: 1px solid #999;
}
.sown_comitte:nth-of-type(1) {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
.sown_comitte dt {
  width: 150px;
}
@media screen and (max-width: 768px) {
  .sown_comitte dt {
    width: 28%;
  }
}
.sown_comitte dt img {
  width: 100%;
}
.sown_comitte dd {
  width: calc(100% - 180px);
}
@media screen and (max-width: 768px) {
  .sown_comitte dd {
    width: 68%;
  }
}
.move.delighter {
  transition: 0.4s;
  transform: translateY(50px);
}
.move.delighter.started {
  transform: translateY(50px);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.move.delighter.started.ended {
  transform: translateY(0px);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
#Contactinformation {
  padding: 30px;
  border: 3px solid #000;
}
@media screen and (max-width: 768px) {
  #Contactinformation {
    margin: 0 auto;
    width: 92%;
    min-width: 92%;
  }
}
.indieBox {
  display: flex;
}
.indieBox li {
  background: #fff;
  padding: 5px 10px;
}
.indieBox li:nth-of-type(2) {
  margin-left: 10px;
}
.whiteBox {
  background: rgba(255,255,255,0.65);
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.testBnrWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.testBnrWrap .testBnr {
  width: calc(50% - 15px);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .testBnrWrap .testBnr {
    width: 100%;
    margin-top: 15px;
  }
}
.testBnrWrap .testBnr .dBnr {
  width: 375px;
  height: 60px;
  background: #999;
}
.iframeBnr {
  max-width: 300px;
}
@media screen and (max-width: 768px) {
  .iframeBnr {
    max-width: 100%;
  }
}
.iframeBnr a {
  color: #333;
  text-decoration: none;
}
.iframeBnr .textBnr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-top: 1px solid #888;
  padding: 20px 0;
  text-decoration: none;
}
.iframeBnr .textBnr:nth-of-type(1) {
  margin-top: 10px;
  border-top: 0px solid #888;
}
.iframeBnr .textBnr h3 {
  font-size: 0.6rem;
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  .iframeBnr .textBnr h3 {
    font-size: 0.85rem;
  }
}
.iframeBnr .textBnr p {
  font-size: 0.45rem;
  line-height: 1.3;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .iframeBnr .textBnr p {
    font-size: 0.75rem;
  }
}
.iframeBnr .textBnr .selectImgArea {
  width: 80px;
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .iframeBnr .textBnr .selectImgArea {
    width: 20%;
  }
}
.iframeBnr .textBnr .selectImgArea img {
  width: 100%;
}
.rotbnr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .rotbnr {
    padding: 0 4%;
  }
}
.rotbnr > div {
  width: 49%;
}
@media screen and (max-width: 768px) {
  .rotbnr > div {
    width: 100%;
  }
}
.rotbnr_f {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .rotbnr_f {
    padding: 0 4%;
  }
}
.rotbnr_f > div {
  width: 49%;
}
@media screen and (max-width: 768px) {
  .rotbnr_f > div {
    width: 100%;
  }
}
