/* topバナーの削除 */
.header__wrap.event__header {
  display: none;
}
#app > div > section > section.widget__wrap.event__layout > div:nth-child(1) > p {
  display: none;
}
/* TOPページのバナー上部の余白調節 */
.banner__wrap {
  margin-top: 0px!important;
}
.html__wrap {
  margin-top: 0px!important;
}
/* topページのヘッダー色の変更 */
.header-tab__active__event {
  color: #00b4dc !important;
  border-bottom: 2px solid #00b4dc !important;
}
/* Topページの下部　「ポータルトップに戻る」ボタンの削除 */
/*ブース内タイトルの下線*/
#app > div > section > section.widget__wrap.event__layout > div.portal-top-button {
  display: none;
}
.base-background-color {
  background-color: #00b4dc !important;
}
/* TOPページ下部のpadding削除 */
.widget__wrap {
  padding: 0 !important;
}
/* 【TOPページ】右下の画面最上部に戻るボタンの削除 */
.top-button__wrap {
  display: none;
}

/* ブースのタイトルのボーダー色変更 */
.booth-list-title__text {
  border-left: 8px solid #00b4dc !important;
}

/** ブースのリセットCSS **/
section.contents__wrap.detail__contents >.booth__wrap {
  padding: 0 !important;
  max-width: none !important;
  width: 100%;
}
section.detail-title__wrap.detail__title {
  display: none;
}
p.portal-event-top {
  display: none !important;
}
.detail__wrap {
  padding: 0 !important;
}

/*受付中のテキスト色変更*/
.card-status__selling {
  color: #00b4dc !important;
}

/*チケット内*/
/*チケット選択画面・マイチケット画面選択時の下線*/
.page-selector__border {
  border-color: #00b4dc !important;
}

/*チケットポップアップ内無料のテキスト色変更*/
.ticket-price__value {
  color: #00b4dc !important;
}

/*チケットポップアップ内の+-ボタン色変更*/
.breadcrumbs {
  background-color: #00b4dc !important;
}

/* アンケートの送信ボタン色変更 */
.questionnaire-form__submit-button.v-btn.v-btn--contained.theme--light.v-size--default {
  background-color: #00b4dc !important;
}

/* 絞り込みボタンの色変更 */
.booth-cross-search-bar__button.v-btn.v-btn--contained.theme--dark.v-size--default {
  background-color: rgb(0, 180, 220) !important;
  border-color: rgb(0, 180, 220) !important;
}

.booth-cross-search-bar__button.v-btn.v-btn--depressed.v-btn--flat.v-btn--outlined.theme--light.v-size--default {
  color: #00b4dc !important;
  caret-color: #00b4dc !important;
}

/* 絞込みボタンの右上のアイコン２つの色変更 */
.v-icon.notranslate.mdi.mdi-format-list-bulleted.theme--light {
  color: rgb(0, 180, 220) !important;
  caret-color: rgb(0, 180, 220) !important;
}
.v-icon.notranslate.mdi.mdi-view-grid.theme--light{
  color: rgb(0, 180, 220) !important;
  caret-color: rgb(0, 180, 220) !important;
}

/* ページ数の表示アイコンの色変更 */
.v-pagination__item.v-pagination__item--active {
  background-color: #00b4dc !important;
}
/** WebページのリセットCSS **/
.web-page__title {
  display: none;
}
section.detail-title__wrap.detail__title {
  display: none;
}
p.portal-event-top {
  display: none !important;
}
.detail__wrap {
  padding: 0 !important;
}
/**#__layout, #__nuxt, body, html {
  height: auto;
}**/
section.contents__wrap.detail__contents >.web-page__wrap {
  padding: 0 !important;
  max-width: none !important;
  width: 100%;
}
.web-page__html {
  max-width: none !important;
  width: 100%;
}
.html__wrap .container {
  max-width: none !important;
}
.v-btn--round .v-btn__content .v-icon {
  color: #f4f2f2;
}
/* .theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background:#00b4dc !important;
}
button.widget__header.v-btn.v-btn--flat.v-btn--text.v-btn--tile.theme--light.v-size--default.widget__header__event {
  color:#00b4dc !important;
}
.widget-header__border {
  border-color:#00b4dc !important;
}
.widget-title__border {
  background-color:#00b4dc !important;
}
span.information-date__text.base-color {
  color: #00b4dc!important;
}
.header-tab__name {
  color: #00b4dc;
}
.header-tab__v-tab.v-tab.v-tab--active.header-tab__active__event {
  border-color: #00b4dc;
}
.detail-title__border {
  background-color: #00b4dc!important;
} */

/* フロートボタンのimg調整 */
.pc_click img {
margin-bottom: 0;
}

@media screen and (max-width:768px) {
  .sp_click img {
      margin-bottom: 0;
  }
}

/* フッター */
footer {
  height: 25vw;
}

.chara_pc {
  position: relative;
  display: block;
  width: 100vw;
}

.chara_sp {
  display: none;
}

#footer img {
  margin-top: 10em;
  width: 100%;
}

footer #footer_nav {
  position: relative;
  bottom: 13vw;
}

footer #footer_nav>ul {
  position: relative;
  margin: auto;
  display: flex;
  width: 70vw;
  padding: 0;
  /* gap: clamp(10.7px, 1.389vw, 27.8px);*/
  justify-content: space-evenly;
}

/* @media screen and (min-width:1040px) {
  footer #footer_nav>ul {
    width: 60vw;
    justify-content: space-between;
  }
} */

footer #footer_nav>ul>li {
  display: table-cell;
}

.pc_footer_none {
  display: block;
}

.sp_footer_none {
  display: none !important;
}

.foot_img {
  display: flex;
  gap: clamp(5.3px, 0.694vw, 10px);
  margin-bottom: 5px;
}

.foot_img img {
  width: clamp(10.7px, 1.389vw, 20px);
  height: clamp(10.7px, 1.389vw, 20px);
  margin: auto 0;
}

footer li a {
  font-size: clamp(8px, 1.042vw, 15px);
  color: #000 !important;
  text-decoration: none;
  display: block;
}

footer #footer_nav>ul>li#archive {
  display: block;
}

.footer_sns {
  display: flex;
  justify-content: right;
  gap: 17px;
  margin-bottom: 25px;
}

.sp_footer_sns {
  display: none;
}

.footer_sns img {
  width: clamp(26.7px, 3.472vw, 50px);
  max-width: 80%;
}

.foot_btn {
  position: relative;
  margin-bottom: 10px;
  /* ボタンの間に少しスペースを追加 */
}

.foot_btn_label {
  display: block;
  padding: 5px 0;
  font-size: 16px;
  cursor: pointer;
  background-color: #000;
  /* ボタンの背景色を黒に設定 */
  color: #d9d9d9;
  /* ボタンのテキスト色を#d9d9d9に設定 */
  border-radius: 25px;
  text-align: center;
  position: relative;
  z-index: 1;
}

#footer_check {
  display: none;
}


.foot_btn_label .clicktxt {
  display: grid;
  font-size: clamp(8px, 1.042vw, 15px);
  background-color: #000;
  color: #fff !important;
  border-radius: 25px;
  text-align: center;
  position: relative;
}

.foot_btn_label .clicktxt::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-left: 8px solid #fff;
  z-index: 2;
}

.btn_text {
  position: absolute;
  bottom: 100%;
  /* ボタンの上に表示 */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.foot_btn_label:hover+.btn_text,
.foot_btn_label:focus+.btn_text,
.btn_text:hover {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.btn_text ul {
  padding-left: 0;
  margin: 10px 0;
}

.btn_text ul li {
  text-align: center;
  list-style: none;
  background: #D9D9D9;
  margin: 2px 0;
}

.btn_text ul li a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.btn_text ul li a:hover {
  background: #ccc;
}

a.btn {
  font-size: clamp(8px, 1.042vw, 15px);
  position: relative;
  background: #000;
  display: grid;
  color: #fff !important;
  border-radius: 25px;
  padding: 5px 20px 5px 30px;
  text-align: center;
}

a.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-left: 8px solid #fff;
  z-index: 2;
}

a.btn {
  font-size: clamp(8px, 1.042vw, 15px);
  position: relative;
  background: #000;
  display: grid;
  color: #fff !important;
  border-radius: 25px;
  padding: 5px 20px 5px 30px;
  text-align: center;
}

a.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-left: 8px solid #fff;
  z-index: 2;
}

@media screen and (max-width:768px) {
  footer {
    margin-bottom: 200px;
  }

  .chara_pc {
    display: none !important;
  }

  .chara_sp {
    display: block;
    width: 100%;
    position: relative;
  }

  footer #footer_nav {
    bottom: 0;
  }

  footer li a {
    font-size: clamp(7.7px, 2.677vw, 22px);
    color: #000 !important;
    text-decoration: none;
    display: block;
  }

  footer #footer_nav>ul {
    padding: 0;
    margin: 0 auto;
    width: 90vw;
    padding-bottom: 130px !important;
  }

  .pc_footer_none {
    display: none !important;
  }

  .sp_footer_none {
    list-style: none;
    display: block !important;
  }

  footer .outline {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: start;
    gap: 7px;
    margin-left: 12vw;
  }

  li.banner_download {
    display: none !important;
  }

  .foot_img {
    margin: 0;
    align-items: center;
    width: calc(50% - 5px);
    box-sizing: border-box;
    gap: 3px;
  }

  .foot_img img {
    width: clamp(7.7px, 3.077vw, 22px);
    height: clamp(7.7px, 3.077vw, 22px);
    margin: auto 0;
  }

  .pc_footer_sns {
    display: none;
  }

  .sp_footer_sns {
    display: block;
    display: flex;
    justify-content: center;
    margin: 2em;
  }

  .foot_btn_label {
    width: 50vw;
    margin: 0 auto;
  }

  .archive {
    width: 30vw;
  }

  .foot_btn_label {
    width: 70%;
    margin: 1.5rem auto 0;
  }

  a.btn {
    width: 70%;
    margin: 0 auto;
    font-size: clamp(7.7px, 2.677vw, 22px);
  }

  .btn_text {
    width: 100%;
    margin-top: 10px;
    /* マージンを0に設定して隙間をなくす */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, height 0.4s;
  }

  .foot_btn_label .clicktxt {
    font-size: clamp(7.7px, 2.677vw, 22px);
  }

  input#footer_check:checked~.btn_text {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    height: auto;
    visibility: visible;
    opacity: 1;
  }

  .foot_btn_label:hover+.btn_text,
  .foot_btn_label:focus+.btn_text,
  .btn_text:hover {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    height: auto;
    opacity: 1;
    visibility: visible;
    /* margin-top: 10px; カーソルを合わせたときにマージンを追加 */
  }

  .footer_sns img {
    width: clamp(30.7px, 8.472vw, 50px);
  }
}

/** 会員登録画面書き換え **/
#form_8682 > h1 {
  font-size: 0 !important;
}
#form_8682 > h1:before {
  content: "新規登録";
  font-size: 32px;
}
#form_8682 > h3 {
  font-size: 0;
}
#form_8682 > h3:before {
  content: "新規登録をお願いします。";
  font-size: 1.17rem;
}
.my-scan-product-detail-layout__pc-title__title[data-v-e3f95ae4] {
    font-size:0;
    }
    
.my-scan-product-detail-layout__pc-title__title[data-v-e3f95ae4]:before {
    font-size:18px;
    content:"企業情報";
}
@media screen and (max-width:600px) {
    #app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div > section > section.my-scan-product-detail-layout > div.mypage-sp-title > div > span.mypage-sp-title__content__text {
        font-size: 0;
    }
    #app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div > section > section.my-scan-product-detail-layout > div.mypage-sp-title > div > span.mypage-sp-title__content__text::before {
        font-size: 18px;
        content:"企業情報";
    }
}

div.flex.mypage-contents__contents > section > section > section > div > div > div > div > section > div > div > div.pa-2.col-lg-6.col-xl-4.col-12 {
    display: none;
}
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div.flex.mypage-contents__contents > section > section.my-scan-product-detail-layout > div.my-scan-product-detail-card.v-card.v-card--flat.v-sheet.theme--light > div.my-scan-product-detail-card__content > div > div.mt-2 > div.my-scan-exhibitor-administrator-detail-product-card.v-card.v-card--flat.v-card--link.v-sheet.theme--light {
    display: none;
}
.my-scan-exhibitor-administrator-card[data-v-6f2b3f16] {
    display: none;
}
#app > div > section > section.mypage-layout__wrap.mypage__layout > div.mypage-contents__wrap > div.flex.mypage-contents__contents > section > section.my-scan-product-detail-layout > div.my-scan-product-detail-card.v-card.v-card--flat.v-sheet.theme--light > div.my-scan-product-detail-card__content > div > div.row.mt-12.no-gutters.row.mt-12.no-gutters {
    display: none;
}
/* 終了に伴ったcssの修正 */
.dateInner_img_link {
    display: none;
}

.pc_click,
.sp_click {
    display: none;
}

.dateImg_up {
    padding: 20px 0 0 0 !important;
}

/* .mypage_link {
    display: none;
} */