@charset "UTF-8";

#all-navg{
	position:absolute;
	top:52px;
	left:0;
	width: 800px;
	height:24px;
	background:url(all-navg/div_bg.gif) no-repeat top right;
}
#all-navg h2,#all-navg ul li a em{
	margin:0px;
	padding:0px;
	width:1px;
	height:1px;
	position:absolute;
	top:0px;
	left: -999px;
	display:run-in;
	border-style:none;
	overflow:hidden;
}

#all-navg ul li,#all-navg ul li a{
	display:block;
	height:24px;
	float:left;
}

/* btn */
#navg-top a:link,
#navg-top a:visited {
	width:57px;
	background:url(all-navg/btn_top_ot.gif) no-repeat;
}
#navg-top a:hover {
	background:url(all-navg/btn_top_ov.gif) no-repeat;
}

#navg-game a:link,
#navg-game a:visited {
	width:104px;
	background:url(all-navg/btn_gmtt_ot.gif) no-repeat;
}
#navg-game a:hover {
	background:url(all-navg/btn_gmtt_ov.gif) no-repeat;
}

#navg-chara a:link,
#navg-chara a:visited {
	width:97px;
	background:url(all-navg/btn_chara_ot.gif) no-repeat;
}
#navg-chara a:hover {
	background:url(all-navg/btn_chara_ov.gif) no-repeat;
}

#navg-event a:link,
#navg-event a:visited {
	width:73px;
	background:url(all-navg/btn_event_ot.gif) no-repeat;
}
#navg-event a:hover {
	background:url(all-navg/btn_event_ov.gif) no-repeat;
}

#navg-fanart a:link,
#navg-fanart a:visited {
	width:94px;
	background:url(all-navg/btn_fanart_ot.gif) no-repeat;
}
#navg-fanart a:hover {
	background:url(all-navg/btn_fanart_ov.gif) no-repeat;
}

#navg-bbs a:link,
#navg-bbs a:visited {
	width:53px;
	background:url(all-navg/btn_bbs_ot.gif) no-repeat;
}
#navg-bbs a:hover {
	background:url(all-navg/btn_bbs_ov.gif) no-repeat;
}

#navg-enjoy a:link,
#navg-enjoy a:visited {
	width:80px;
	background:url(all-navg/btn_enjoy_ot.gif) no-repeat;
}
#navg-enjoy a:hover {
	background:url(all-navg/btn_enjoy_ov.gif) no-repeat;
}

#navg-sitemap a:link,
#navg-sitemap a:visited {
	width:94px;
	background:url(all-navg/btn_sitemap_ot.gif) no-repeat;
}
#navg-sitemap a:hover {
	background:url(all-navg/btn_sitemap_ov.gif) no-repeat;
}
