html {
  margin      : 0;
  padding     : 0;
}
body,html,div,h3,h2,h1,p,ul,li {
  margin      : 0;
  padding     : 0;
}

body{
	margin      : 0;
	padding     : 0;
	background-color: #FFF;
	background-image: url(../../img/body_bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}

a {
	border:none;
}

a img{
	border:none;
}

img{
	border:none;
}

#flashContent {

}

#main{
	min-width:960px;
	height:519px;
}

#main_img{
	text-indent:-9999px;
}

#main_img h2{
	text-indent:-9999px;
	height:251px;
	display:block;
	background:url(../../img/main_top.jpg) no-repeat center 0;
}

#main_img h3{
	text-indent:-9999px;
	height:268px;
	display:block;
	background:url(../../img/main_bottom.jpg) no-repeat center 0;
}

#contents{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}


#navi {
	height: 108px;
	width: 817px;
	padding-left: 143px;
}
#copy {
	width: 731px;
	padding-top: 18px;
	padding-bottom: 14px;
	padding-left: 229px;
}

#bannar {
	padding-left: 8px;
}
#flashContent #contents #bannar a #banner2 {
	margin-left: 5px;
}
#flashContent #contents #bannar a #Image44 {
	margin-left: 10px;
}

/*
#bannar {
	width: 950px;
	padding-left: 10px;
}
*/
#ovg_link {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 750px;
}





/*footer*/
#footer {
	clear:both;
	width:100%;
	height:107px;
	margin:0 auto;
	background-image: url(../img/footer-bk.png);
	background-repeat: repeat-x;
	top: 0px;
	z-index: 110;
	position: relative;
}
#footer #footer-inner {
	width:960px;
	height:107px;
	position:relative;
	margin:0 auto;
	background-image: url(../img/footer-bk.png);
	background-repeat: repeat-x;
}

#footer #footer-inner ul#footer-navi {
	position:absolute;
	left:0;
	top:4px;
	width:630px;
}
#footer #footer-inner ul#footer-navi li {
	float:left;
	display:block;
	height:27px;
}
#footer #footer-inner #official-top {
	position:absolute;
	right:0;
	top:4px;
	width:127px;
}
#footer #footer-inner .footer-logo1 {
	position:absolute;
	left:9px;
	top:53px;
	width:76px;
}
#footer #footer-inner .footer-logo2 {
	position:absolute;
	right:7px;
	top:53px;
	width:59px;
}
#footer #footer-inner #copyright {
	position:absolute;
	left:124px;
	top:46px;
	width:738px;
}
#footer #footer-inner .page-top {
	position:absolute;
	right:79px;
	top:-25px;
	width: 90px;
	z-index:200;
}
