@charset "utf-8";


/* ****************************************************************** 

	@This stylesheet Information{
		ファイル：release-layout.css
		最終更新：2010年02月26日
		主な内容：出展のご案内用レイアウト
	}

****************************************************************** */

#cmain {
	float: none;
	margin: 20px auto;
	/padding-top: 40px; /* IE6, IE7 */
	display: block;
	width: 950px;
}
* html #cmain {
	padding-top: 10px; /* IE6 */
}



div.box {
	border: 1px solid #333;
	margin: 2em 0;
	padding: 0.75em 1em;
}

div.box p {
	margin: 0;
}

div.article h4 {
	margin: 2em 0 1em 0;
}

#main table.exhibition {
	width: 100%;
	background: url(../img/bg_table_top.gif) repeat-x top;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

#main table.exhibition th {
	text-align: center;
	background: url(../img/bg-th-exh.png) no-repeat left top #3398d0;
	vertical-align: middle;
	margin: 0;
	padding: 5px;
	color: #FFF;
}

#main table.exhibition td {
	margin: 0;
	padding: 5px;
	vertical-align: text-top;
	background: url(../img/bg_table_td_500.gif) no-repeat right bottom;
}

#main table.exhibition td.titl {
	margin: 0;
	padding: 5px;
	text-indent: 1em;
	vertical-align: text-top;
	background:  url(../img/bg-td-exh-titl.png) no-repeat left top;
	color: #FFF;
	font-weight: bold;
}



div.article .note{
	text-indent: 0;
	font-size: 12px;
	color: #666;
	font-weight: normal;
}

div.article table td strong {
	color: #666;
	margin: 5px 0 0 0;
	display: block;
}

div.pic_right,
img.pic_right {
	float: right;
	margin: 0 0 2em 2em;
}

div.pic_center {
	margin: 2em 0;
}

/* 1段組み */
.col1 {
	width: 840px;
}

/* 2段組み */
.col2 {
	width: 410px;
	float: left;
	margin-right: 10px;
	display: inline; /* IE6 */
}
.col2.l {
	margin-right: 20px;
}

/* 3段組み */
.col3 {
	width: 270px;
	float: left;
	display: inline; /* IE6 */
}

.col1 h2,
.col2 h2,
.col3 h2 {
	margin: 0 !important;
	padding: 10px 20px 15px 20px;
/*	background: url(/tgs/2010/images/bg_title.gif) bottom #18324c repeat-x;*/
	color: #000;
	font-size: 21px !important;
}
.col3 h2.ad {
	background: #000000;
	color: #CF3;
}

.col3 h2 {
	font-size: 18px !important;
	padding-top: 10px;
	padding-bottom:5px;
}

.col1 h2 span,
.col2 h2 span {
	color: #2A2A2A;
	font-size: 14px;
}

.bc0 {background-color: #271d1a;}
.bc1 {background-color: #E6473F;}
.bc2 {background-color: #CD7B38;}
.bc3 {background-color: #ED7610;}
.bc4 {background-color: #53B2E6;}
.bc5 {background-color: #7787C1;}
.bc6 {background-color: #53BCB8;}
.bc7 {background-color: #8791a0;}
.bc8 {background-color: #3FA16E;}
.bc9 {background-color: #DBDEE6;}
.bc10 {background-color: #D3913D;}
.bc11 {
	background-color: #F8F8F8;
}
th.bc11 {background-color: #E2D7E8;}

.fc0 {color: #FFF;}
.fc1 {color: #E6473F;}
.fc2 {color: #CD7B38;}
.fc3 {color: #ED7610;}
.fc4 {color: #53B2E6;}
.fc5 {color: #7787C1;}
.fc6 {color: #53BCB8;}
.fc7 {color: #8791a0;}
.fc8 {color: #3FA16E;}
.fc9 {color: #DBDEE6;}
.fc10 {color: #D3913D;}
.fc11 {color: #A07BB3;}
.fc12 {color: #e62e87;}
.new {color: #f60;}

div.article h2.new_line1 {
	padding: 10px 0 15px 60px;
	background: url(../img/exhibition/object_new.gif) no-repeat left;
	border: none;
}

div.article h2.new_line2 {
	padding: 10px 0 5px 60px;
	background: url(../img/exhibition/object_new.gif) no-repeat left;
	border: none;
}

div.article h2.blk {
	background-image: url(../img/exhibition/object_newBlk.gif) no-repeat left;
}



div.article dl.blkbox  {
	margin:0 0 20px 15px;
	padding: 5px;
	border: 3px dashed #CC3333;
	background: #1F1110;
	width:380px;
	float:left;
	clear: none;
}

div.article dl.blkbox dt  {
	margin: 0 0 10px 0;
	padding: 0 0 5px 50px;
	width: 330px;
	height: 50px;
	background: url(../img/exhibition/object_newBlk.gif) no-repeat left;
	text-indent: 0;
	color: #FFF;
}

div.article dl.blkbox dd  {
	margin: 10px auto;
	padding: 5px;
	width: 320px;
	clear: both;
	background: none;
	border: 0;
}

div.article dl.blkbox dd.red  {
	background: #CC3333;
	font-size: 20px;
	text-align: center;
	color: #FFF;
	font-weight: bold;	
}

div.article dl.blkbox dd.add {
	color: #CCC;
	background: none;
}



.textL {
	float: left;
}
.imageR {
	padding: 0 0 10px 10px;
	float: right;
}
.imageL {
	padding: 0 10px 10px 0;
	float: left;
}

/* 出展説明 */
.col2 dl * {
	float: left;
	margin-top: 5px;
	margin-right: 0pt;
	margin-bottom: 5px;
	margin-left: 0pt;
	font-size: 12px;
}
.col2 dl {
	margin: 6px 0;
	width: 390px;
	font-size: 12px;
	clear: both;
}

.col2 dl dt {
	background: #271d1a;
	color: #FFF;
	width: 70px;
	margin:0 10px 0 0;
	padding: 4px;
	text-align: left;
	float: left;
	clear: both;
}
.col2 dl dd {
	line-height: 1.3;
	width: 390px;
	margin:0;
	padding: 2px;
	background: none;
}

.col1 dl.target dd {
	width: 780px;
}

.col2 p.note {
	margin: 5px 0 10px 0;
}

.col2 th {
	width: 180px;
}

.col1 p,
.col2 p,
.col3 p {
	text-indent: 0 !important;
}

/* テキストベースのご案内 */
div.article.textbase {
	width: 800px;
}

div.article.textbase h1 {
	font-size: 24px;
	margin-bottom: 1em;
	margin-left: -50px;
	_margin-left: 0;
}
div.article.textbase h2 {
	font-size: 18px;
	margin-top: 1.5em;
}
div.article.textbase h3,
div.article.textbase h4 {
	font-size: 14px;
	color: #032D52;
	margin-top: 1em;
/*	margin-top: 2em; */
/*	margin-bottom: 1em;*/
}

div.article.textbase p {
	margin-left: 20px;
	text-indent: 0;
}

div.article.textbase .note {
	margin-left: 40px;
}

div.article.textbase ol,
div.article.textbase ul {
	margin-left: 40px;
	margin-top: 1em;
	margin-bottom: 1em;
}

div.article.textbase table {
	margin: 0.5em 0;
}


#tbtgs td {
	text-align: center;
}

#tbtgs th.lg {
	background-color: #fcfcfc;
	font-weight: normal;
}

i {
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Osaka, 'MS PGothic', sans-serif;
	font-style: normal;
}
