#navSecond .lang {
width: 350px;
height: 28px;
margin: 0 0 0 640px;
/margin: 0 0 0 630px;
padding: 0;
background: url(../common/img/nav-lang.png) no-repeat left;
_background: url(../common/img/nav-lang.gif) no-repeat left;
}

#navSecond .lang ul {

margin: 0;
padding: 0;
}

#navSecond .lang li {
height:28px;
display: inline;
list-style-type:none;
text-indent:-9877em;
}

#navSecond .lang li a {
	height:28px;
	display:block;
	float:left;
	text-indent:-9877em;
	text-decoration:none;
	overflow:hidden;
}

/*------off*/
#navSecond .lang li.jpn,#navSecond .lang li.jpn a {
	background:url(../common/img/nav-lang.png) no-repeat 0px -31px;
	_background:url(../common/img/nav-lang.gif) no-repeat 0px -31px;
	width:72px;
}

#navSecond .lang li.eng,#navSecond .lang li.eng a {
	background:url(../common/img/nav-lang.png) no-repeat -72px -31px;
	_background:url(../common/img/nav-lang.gif) no-repeat -72px -31px;
	width:68px;
}

#navSecond .lang li.han,#navSecond .lang li.han a {
	background:url(../common/img/nav-lang.png) no-repeat -140px -31px;
	_background:url(../common/img/nav-lang.gif) no-repeat -140px -31px;
	width:68px;
}

#navSecond .lang li.chk,#navSecond .lang li.chk a {
	background:url(../common/img/nav-lang.png) no-repeat -208px -31px;
	_background:url(../common/img/nav-lang.gif) no-repeat -208px -31px;
	width:68px;
}

#navSecond .lang li.chh,#navSecond .lang li.chh a {
	background:url(../common/img/nav-lang.png) no-repeat -276px -31px;
	_background:url(../common/img/nav-lang.gif) no-repeat -276px -31px;
	width:74px;
}

/*------hover*/
#navSecond .lang li.jpn a:hover, #navSecond .lang li.jpn_on a {
	background:url(../common/img/nav-lang.png) no-repeat 0px -61px;
	_background:url(../common/img/nav-lang.gif) no-repeat 0px -61px;
	width:72px;
}

#navSecond .lang li.eng a:hover, #navSecond .lang li.eng_on a {
	background:url(../common/img/nav-lang.png) no-repeat -72px -61px;
	_background:url(../common/img/nav-lang.gif) no-repeat -72px -61px;
	width:68px;
}

#navSecond .lang li.han a:hover, #navSecond .lang li.han_on a {
	background:url(../common/img/nav-lang.png) no-repeat -140px -61px;
	_background:url(../common/img/nav-lang.gif) no-repeat -140px -61px;
	width:68px;
}

#navSecond .lang li.chk a:hover, #navSecond .lang li.chk_on a {
	background:url(../common/img/nav-lang.png) no-repeat -208px -61px;
	_background:url(../common/img/nav-lang.gif) no-repeat -208px -61px;
	width:68px;
}

#navSecond .lang li.chh a:hover, #navSecond .lang li.chh_on a {
	background:url(../common/img/nav-lang.png) no-repeat -276px -61px;
	_background:url(../common/img/nav-lang.gif) no-repeat -276px -61px;
	width:74px;
}