/* all-navigation ===================================================== */
#all-navigation{
	float:right;
	width:183px;
	padding:5px 6px 0 0;
	background:url(all-navigation/div-bg.gif) no-repeat left top;
}

#all-navigation div{
	width:183px;
	padding:0;
	margin:0;

}

#all-navigation div h2{
	width:132px;
	border:#dac59e 1px solid;
	padding:10px 0 10px 30px;
	font-weight:bold;
}

/* list */

#all-navigation div ul,
#all-navigation div form{
	display:block;
	margin:2px 0 5px 0;
	padding:0;
}

#all-navigation div ul li{
	background:url(all-navigation/li-bg.jpg) no-repeat left bottom;
	display:block;
	width:183px;
	padding:0 0 5px;
	line-height:1.2em;
}

#all-navigation div ul li.tag1{
	margin:15px 0 0 0;
	padding:0 0 5px;
	background:url(all-navigation/li-bg-02.jpg) no-repeat left bottom;
}

#all-navigation div ul li.tag2{
	margin:2px 0 0 0;
	padding:0 0 5px;
	background:url(all-navigation/li-bg-02.jpg) no-repeat left bottom;
}

#all-navigation div ul li a{
	font-size:x-small;
	display:block;
	width:167px;
	padding:15px 0 15px 13px;
	font-weight:bold;
}

#all-navigation div ul li a span{
	color:#69c;
	font-weight:bold;
}


#all-navigation div ul li.tag1 a,
#all-navigation div ul li.tag1 a:link,
#all-navigation div ul li.tag1 a:visited,
#all-navigation div ul li.tag1 a:active,
#all-navigation div ul li.tag2 a,
#all-navigation div ul li.tag2 a:link,
#all-navigation div ul li.tag2 a:visited,
#all-navigation div ul li.tag2 a:active{
	color:#630;
	text-decoration:underline;
}



/* sub-list */
#all-navigation div ul.subcat{
	border:none;
	margin:0;
}

#all-navigation div ul.subcat li{
	background:none;
	padding:0.5em 5px 0.5em 1em;
}


/* form */
#all-navigation div form{
	display:block;
	padding:10px 5px 10px;
}

#all-navigation div form p input#search{
	width:90px;
}

#all-navigation p{ 
	background:url(all-navigation/form-bg.gif) no-repeat left bottom;
	padding:0 0 10px 5px;
}

#all-navigation form p{ 
	background:none;
	padding:0;
}
