/* all-footer     ===================================================== */
#all-footer{
	clear:both;
	width:774px;
	margin:0 auto;
	padding:20px 0;
	background:url(all-footer/div-bg.gif) no-repeat center top;
}

#all-footer p{
	text-align:center;
	font-size:90%;
	color:#ccc;
	line-height:1.5em;
}