@charset "UTF-8";
/* contents-movie  ===================================================== */
#contents-collection{

}

#contents-collection h2{
	font-weight:bolder;
	font-size:medium;
	line-height:1.2em;
	margin:0 0 1em;
	padding:0.3em 10px;
	border-top:#ff0 solid 3px;
	border-bottom:#ff0 solid 3px;
	background:#ffe;
}

#contents-collection p{
	margin:0 10px 0.5em;
}

#contents-collection ul li{
	width:200px;
	margin:0 auto 10px;
}
