#sessionModel
{
	width: 750px;
	margin: 0 auto;
	background: #fff;
}
.expand,
{
	padding: 0 50px 0 50px;
}
.expand, .expand span, .expand .header, .expand .main, .expand .sidebar
{
	font-weight: normal !important;
}
.expand .header
{
	padding: 5px 10px;
}
.expand .header img
{ 
	text-align: center;
}
.expand .main
{
	float: left;
	padding: 0px 10px 10px 10px;
}
.expand .sidebar
{
	float: right;
	width: 60%;
	padding: 0px 10px 10px 0px;
	margin-left: 10px;
	text-align: left;
}
.speaker
{
	list-style: none;
}
.speaker li
{
	text-align: left;
	margin-left: 55px;
}
.trackImage
{
	float: left;
	padding: 15px;
}
.center
{
	text-align: center;
}
.clear
{
	clear: both;
}
.model
{
	display: none;
}
ul.speaker
{
	margin: 0 0 0 10px;
	padding: 0;
	line-height: 1.5em;
}
.sessionDescription
{
	margin: 0 200px 0 200px;
	padding: 25px;
	border: solid 1px #ccc;
	font-style: italic;
}
.conferencePass
{
	font-size: 1em;
	font-weight: bold;
	display: inline-block;
	width: 260px;
	height: 25px;
	border: solid 1px #ccc;
	text-align: center;
}
.sessionDates
{
	font-size: 1.2em;
	color: rgb(44,167,194);
	display: inline-block;
	width: 120px;
	border-right: solid 1px #ccc;
	text-align: center;
}
.sessionDateSelected
{
	font-size: 1.4em;
	color: black;
	display: inline-block;
	width: 150px;
}
.searchResultsDateList
{
	font-weight: bold;
	padding-top:10px;
	clear: both;
}
.sessionListItem
{
	padding: 5px 0 0 20px;
}

.sessionListItem .title
{
	float: right;
	width: 81%;
	text-align: left;
	cursor: pointer;
	color: rgb(44,167,194);
}
.sessionListItem .main
{
	float: left;
	width: 17%;
	text-align: right;
	color: #000;
	/*padding: 0px 10px 10px 10px;*/
}
.sessionListItem .sidebar
{
	float: right;
	width: 81%;
	/*padding: 0px 10px 10px 0px;
	margin-left: 10px;*/
	text-align: left;
	cursor: pointer;
	color: rgb(44,167,194);
}

#tabs ul
{
	margin-left: 0;
	padding-left: 0; /*			text-align:center; */
}
#tabs ul li
{
	margin-left: 0;
	margin-bottom: 0;
	padding: 2px 15px 5px;
	border: 1px solid #000;
	list-style: none;
	display: inline-block;
	width: 50px;
}
th, td
{
	/*border: solid 1px #ccc;*/
	background-color: #fff;
	text-align: center;
	min-width: 1px;
	width: 1px;
}
tr. parent
{
	height: 75px;
}
tr.spacer
{
	height: 5px;
}
.borderStuff 
{
	border-right: solid 1px #333;
	border-bottom: solid 1px #333;
	border-left: solid 1px #333;
	text-align: left;
}
.offset
{
	border-left: solid 1px #333;
}
.detail
{
	display: none;
}
.underline
{
	text-decoration: underline;
}
.pointer, .hover
{
	cursor: pointer;
}
.leftArrow, .tabsScrollLeft
{
	cursor: pointer;
	background: url( 'http://www.cesweb.org/conferenceProgram/resources/images/arrows2.png' ) no-repeat 0 0;
	width: 15px;
/*	height: 14px; */
	display: inline-block;
	zoom:1; 
	*display: inline; 
}

.rightArrow, .tabsScrollRight
{
	cursor: pointer;
	background: url( 'http://www.cesweb.org/conferenceProgram/resources/images/arrows2.png' ) no-repeat 0 -28px;
	width: 15px;
	height: 14px;
	float: right;
	display: inline-block;
	zoom:1; 
	*display: inline; */
	position: relative; top: -17px;
}

.tabsScrollRight
{
	margin-right: 40px;
}
.grid
{
	font-weight: normal !important;
	font-size: .9em;
	display: inline-block; 
	border-left: solid 1px #ccc;
	width: 120px;
	overflow: hidden;
	height: 15px;
	border-top: solid 1px #ccc;
	text-align: left;
	zoom:1; 
	*display: inline; 
	_height: 10px;

}
.gridCell
{
	border-left: solid 1px #333;
	border-bottom: solid 1px #333;
	border-top: solid 1px #333;
	width: 120px;
	overflow: hidden;
	height: 75px;
	font-size: .9em;
	background-color: #fff;
	font-weight: normal;
	color: #333;
}

/*
.rightArrow
{
	position: relative;
	top: -17px; 
	height: 14px;
	border: solid 1px red;
}
*/
.border
{
	border: solid 1px #ccc;
}
.highlight
{
	background-color: #fff;
	border-bottom: solid 1px #fff;
}
.passHighlight
{
	background-color: #B0C4DE;
}
.hover
{
	padding: 0 5px 0 5px;
}
.bold 
{
	font-weight: bold;
}
.ui-tabs-panel
{
	margin-left: -18px;
}

.sessionLocation
{
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
	background-color: #eee;
	width: 667px;
	margin: 3px 0 6px 0;
	padding: 10px 0 10px 0;
}
.hideSessionBody
{
	padding: 0 10px 10px 0;
}
.times
{
	margin-top: 5px;
}
.addToCart
{
float: right;
}
.addedToCart
{
background-color: white; width: 140px; display: block; color: black; padding: 5px; float: right; font-weight: bold;
}
.blueButton
{
	background-color: #2ca7c2; width: 140px; display: block; color: white; padding: 5px; border: solid 1px #111; font-weight: bold; text-align: center;
}

#ConferenceTracks ul #trackList
{
	overflow: auto;
	/*
	margin-left: -25px/9;
	*margin-left: 125px;
	*/
}
#ConferenceTracks ul #trackList li
{
	margin-bottom: 500px;
	/*
	margin-left: -25px/9;
	*margin-left: 125px;
	*/
}
.hoverTitle
{
	font-weight: normal!important;
}

#cartContainer ul 
{
	list-style-type: none; margin-left: -30px; margin-top: -5px;
	*margin-left: 25px;
}
#cartContainer .list:before {  
	content: " - ";  
}  
#cartContainer li
{
	padding-top: 8px;
}

			
#ConferenceTracks ul 
{
	list-style-type: none; 
	margin-left: -45px;
	*margin-left: 0px;
	
}
#ConferenceTracks li
{
	padding-top: 10px;
}
body.wait * {
cursor:wait !important;
}

.ui-state-default
{
	width: 138px!important;
}