@charset "UTF-8";

/* ===================================
	File Name   : contact.css
	Description : Contact Page Layout CSS
	Editors     : NS Sakurai
	Create Date : 2012/02/14

	Update Description :
		2012/02/14 Append - Basic Styles [Sakurai]
		2012/02/14 File Create
====================================== */

/*========== Style Contents ==========

	1. Individual Redefinition
	2. 
	3. 
	4. Download Button
	5. 
	6. 
	7. 
	*. Clear Release
	
====================================== */





/* Title Setting */
h1 em {
	width: 879px;
	height: 30px;
}

/*===== ■2. Sponcer =====*/
h2 {
	width: 879px;
	height: 38px;
	background-color: #6b57a3;
}
h2 strong {
	font-size: 123.1%;
	color: #FFFFFF;
	padding: 10px 0 0 15px;
	display: block;
}
#Sponcer p {
	margin: 10px 0px 10px 0px;
}

#Sponcer .btn {
	padding: 0px 0px 30px 0;
	clear: both;
}
#Sponcer .btn li {
	display: inline;
}

#Sponcer .photo {
	padding: 0;
	clear: both;
	margin: 0 0 20px 0;
	display: block;
	height: 404px;
}
#Sponcer .photo li {
	margin: 0px 10px 10px 0;
	padding: 0;
	float: left;
	height: 192px;
	width: 282px;
	display: block;
}





/*===== ■3. SponcerLimitation =====*/
#SponcerLimitation p {
	margin: 10px 0px 20px 0px;
}
#SponcerLimitation h3 {
	margin: 10px 0px;
}
#SponcerLimitation .price {
	float: left;
	width: 550px;
}
#SponcerLimitation .price dt span {
	float: left;
	margin-right: 10px;
}
#SponcerLimitation .price dt em {
	display: block;
	width: 300px;
	padding-top: 4px;
	color: #6B57A3;
	font-weight: bold;
}
#SponcerLimitation .price dd{
	margin: 20px 10px;
	clear: both;
}
#SponcerLimitation .box {
	width: 849px;
	background: #F0F0F0;
	padding: 15px;
	margin: 0px 0px 20px 0px;
}
#SponcerLimitation .box ul {
	float: left;
	margin: 0px 20px 10px 0px;
}
#SponcerLimitation .box li {
	margin: 5px 0px;
}
#SponcerLimitation .box p {
	clear: both;
	margin: 0px 0px 10px 0px;
}
#SponcerLimitation .days {
	width: 880px;
}
#SponcerLimitation .days dt {
	float: left;
	padding: 5px;
	margin-right: 5px;
}
#SponcerLimitation .days dd {
	font-size: 0.9em;
}
#SponcerLimitation .line {
	clear: both;
	margin: 30px 0px;
}

/*===== ■4. SponcerLimitationLight =====*/
#SponcerLimitationLight {
	margin-bottom: 50px;
	background: url(img/ttl_sponcer_02_bg.jpg) no-repeat top right;
}
#SponcerLimitationLight p {
	margin: 10px 0px 20px 0px;
}
#SponcerLimitationLight h3 {
	margin: 10px 0px 20px 0px;
}
#SponcerLimitationLight .price {
	float: left;
	width: 550px;
}
#SponcerLimitationLight .price dt span {
	float: left;
	margin-right: 10px;
}
#SponcerLimitationLight .price dt em {
	display: block;
	width: 300px;
	padding-top: 4px;
	color: #6B57A3;
	font-weight: bold;
}
#SponcerLimitationLight .price dd{
	margin: 20px 10px;
	clear: both;
}
#SponcerLimitationLight .box {
	width: 849px;
	background: #F0F0F0;
	padding: 15px;
	margin: 0px 0px 20px 0px;
}
#SponcerLimitationLight .box ul {
	float: left;
	margin: 0px 20px 10px 0px;
}
#SponcerLimitationLight .box li {
	margin: 5px 0px;
}
#SponcerLimitationLight .box p {
	clear: both;
	margin: 0px 0px 10px 0px;
}
#SponcerLimitationLight .days , #SponcerGeneral .days {
	width: 880px;
}

#SponcerGeneral .days { margin-bottom:30px;
	}

#SponcerLimitationLight .days dt , #SponcerGeneral .days dt {
	float: left;
	padding: 5px;
	margin-right: 5px;
}
#SponcerLimitationLight .days dd , #SponcerGeneral .days dd {
	font-size: 0.9em;
}
#SponcerLimitationLight .line {
	clear: both;
	margin: 30px 0px;
}
#SponcerLimitationLight .btn {
	padding: 30px 0px 30px 0;
	clear: both;
}
#SponcerLimitationLight .btn li {
	float: left;
	margin-right: 5px;
}
#SponcerLimitationLight .btn .small {
	padding-top: 10px;
}

/*===== ■5. SponcerGeneral =====*/
#SponcerGeneral p {
	margin: 10px 0px 20px 0px;
}
#SponcerGeneral h3 {
	margin: 10px 0px 20px 0px;
}
#SponcerGeneral .btn li {
	float: left;
	margin-right: 5px;
}
#SponcerGeneral .btn .small {
	padding-top: 10px;
}
#SponcerGeneral .photo {
	padding: 30px 0px 30px 0;
	clear: both;
}
#SponcerGeneral .photo li {
	margin: 0px 10px 10px 0;
	padding: 0;
	float: left;
}

/*===== ■6.  =====*/
#BtnDownload_top {
	height: 138px;
	width: 480px;
	margin: 30px auto;
	display: block;
}

#BtnDownload_top li a {
	background-image: url(../common/img/img_btn.jpg);
	height: 138px;
	width: 480px;
	display: block;
	background-position: 0px -350px;
}

#BtnDownload_top li a:hover {
	background-position: 0px -495px;
}




/*===== ■7.  =====*/





/*===== ■8.  =====*/






/*===== ■*.Clear Release  =====*/
