@charset "UTF-8";
/* common tag   ===================================================== */

.ui-content{
	padding:0;
	margin:0;
	border:0;
}


/* ------------------------------------------ 
contents-main
------------------------------------------ */
#contents-main{
	background:#b2cdf2 url(../../common/css/mobile/common-class/body.jpg) repeat-x bottom;
}


/* ------------------------------------------ 
メディアクエリー縦
------------------------------------------ */
@media screen and (max-width: 400px) {
	#contents-main section{
		padding:0;
		margin:0 auto;
		max-width:300px;
	}
	
	#contents-main:after{/*for modern browser*/
		content:".";
		display: block;
		height:0px;
		clear:both;
		line-height:0; 
		visibility:hidden;
	}
	
	#main-character{
		text-align:center;
	}
	
	#main-white,#main-blue{
		clear:both;
		margin:0 auto;
		width:200px;
		text-align:center;
	}
}

/* ------------------------------------------ 
メディアクエリー横
------------------------------------------ */
@media screen and (min-width: 401px) {
	#contents-main section{
		padding:0;
		margin:0 auto;
		max-width:400px;
	}
	
	#contents-main:after{/*for modern browser*/
		content:".";
		display: block;
		height:0px;
		clear:both;
		line-height:0; 
		visibility:hidden;
	}
	
	#main-character{
		text-align:center;
	}
	
	
	#main-white,#main-blue{
		width:200px;
		text-align:center;
	}
	
	#main-white{
		float:left;
	}
	#main-blue{
		float:right;
	}
}


#main-reserve{
	margin:5px;
	padding:0.5em 0.5em 0.5em 1.5em;
	clear:both;
	background:#000;
	border-radius: 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
	opacity:0.8;
}

#main-reserve p{
	padding:0.5em;
	opacity:1;
	color:#fff;
	text-shadow:none;
}

#main-reserve li{
	list-style:disc outside;

	color:#fff;
}

/* ------------------------------------------ 
contents-movie/contents-topics
------------------------------------------ */
#contents-movie,
#contents-topics{
	background:url(common-class/div.gif) top repeat-x #fff;
	padding:8px 5px;
}

#contents-topics h1{
	margin-bottom:0;	
}


#contents-topics h2{
	font-size:medium;	
	margin:0;	
}

#contents-topics ul{
	margin:0;	
	padding:0 0 0 1em;
}


#contents-topics li{
	list-style:none;
}



/* ------------------------------------------ 
contents-movie/contents-topics
------------------------------------------ */
footer table{
	border-top:1px solid #666;
	border-left:1px solid #666;
	margin:0 auto;
}

footer table th,
footer table td{
	border-bottom:1px solid #666;
	border-right:1px solid #666;
	padding:0.5em;
	text-align:left;
	font-size:small;
}

footer th{
	background:#06F;
	color:#fff;
	text-shadow:none;
}
