
/* ----------------------------------------
	access
---------------------------------------- */

h2 {
	width: 188px;
	height: 40px;
	background: url(../img/access/h2.gif) no-repeat;
	display:block;
	text-indent:-9999px;
	margin-bottom:40px;
}

#pages dt {
	float: left;
	padding:1em 0 0 2em;
	font-weight:bold;
}

#pages dd {
	padding:1em 0 0em 10em;
}

#pages dt.bottom {
	font-weight:100;
	float: left;
	padding:1em 2em 0 2em;
}

