
/* ----------------------------------------
	buyer
---------------------------------------- */

#pages_header {
	background: url(../img/common/pages_header_bg_buyer.png) no-repeat;
}

#pankuzu,
#pankuzu a,
#pages_footer li,
#pages_footer li a{
	color: #0064AA;
}

#pankuzu,
.section {
	border-bottom: 1px dotted #0064AA;
}


#sub_nav {
	float:right;
	width:129px;
}

#sub_nav li {
	margin-bottom:5px;
}

#attention {
	width: 100px;
	height: 22px;
	background: url(../img/buyer/sub_nav_attention.gif) no-repeat;
}

#attention:hover {
	width: 100px;
	height: 22px;
	background: url(../img/buyer/sub_nav_attention_ov.gif) no-repeat;
}


#download {
	width: 101px;
	height: 40px;
	background: url(../img/buyer/sub_nav_download.gif) no-repeat;
}

#download:hover {
	width: 101px;
	height: 40px;
	background: url(../img/buyer/sub_nav_download_ov.gif) no-repeat;
}

#present {
	width: 128px;
	height: 21px;
	background: url(../img/buyer/sub_nav_present.gif) no-repeat;
}

#present:hover {
	width: 128px;
	height: 21px;
	background: url(../img/buyer/sub_nav_present_ov.gif) no-repeat;
}

#campaign {
	width: 131px;
	height: 42px;
	background: url(../img/buyer/sub_nav_campaign.gif) no-repeat;
}

#campaign:hover {
	width: 131px;
	height: 42px;
	background: url(../img/buyer/sub_nav_campaign_ov.gif) no-repeat;
}

.current #attention:hover {
	background: url(../img/buyer/sub_nav_attention.gif) no-repeat;
}

.current #download:hover {
	background: url(../img/buyer/sub_nav_download.gif) no-repeat;
}

.current #present:hover {
	background: url(../img/buyer/sub_nav_present.gif) no-repeat;
}

.current #campaign:hover {
	background: url(../img/buyer/sub_nav_campaign.gif) no-repeat;
}

h2 {
	width: 380px;
	height: 59px;
	background: url(../img/buyer/h2.gif) no-repeat;
	float: left;
}


h2,
h3,
#attention,
#download,
#present,
#campaign  {
	display:block;
	text-indent:-9999px;
}

/* ----------------------------------------
	attention
---------------------------------------- */

#attention_01 {
	width: 201px;
	height: 24px;
	background: url(../img/buyer/h3_attention_01.gif) no-repeat;
	margin-bottom:10px;
}

#attention_02 {
	width: 266px;
	height: 25px;
	background: url(../img/buyer/h3_attention_02.gif) no-repeat;
	margin-bottom:10px;
}

#attention_03 {
	width: 48px;
	height: 23px;
	background: url(../img/buyer/h3_attention_03.gif) no-repeat;
	margin-bottom:10px;
}



/* ----------------------------------------
	download
---------------------------------------- */

#download_01 {
	width: 301px;
	height: 24px;
	background: url(../img/buyer/h3_download_01.gif) no-repeat;
	margin-bottom:10px;
}

#download_bt {
	margin: 20px auto 0;
	display: block;
	width: 295px;
	height: 38px;
	text-indent: -9999px;
	background: url(../img/buyer/download.gif) no-repeat;
}

#download_bt:hover {
	background: url(../img/buyer/download_ov.gif) no-repeat;
}

.section_clearfix_reigai {
	color:#D20000;
}
/* ----------------------------------------
	present
---------------------------------------- */

#present_01 {
	width: 258px;
	height: 24px;
	background: url(../img/buyer/h3_present_01.gif) no-repeat;
	margin-bottom:10px;
}

#present_02 {
	width: 34px;
	height: 24px;
	background: url(../img/buyer/h3_present_02.gif) no-repeat;
	margin-bottom:10px;
}

#present_03 {
	width: 34px;
	height: 24px;
	background: url(../img/buyer/h3_present_03.gif) no-repeat;
	margin-bottom:10px;
}

#present_04 {
	width: 64px;
	height: 24px;
	background: url(../img/buyer/h3_present_04.gif) no-repeat;
	margin-bottom:10px;
}

#present_05 {
	width: 34px;
	height: 24px;
	background: url(../img/buyer/h3_present_05.gif) no-repeat;
	margin-bottom:10px;
}




/* ----------------------------------------
	campaign
---------------------------------------- */

#campaign_01 {
	width: 176px;
	height: 24px;
	background: url(../img/buyer/h3_campaign_01.gif) no-repeat;
	margin-bottom:10px;
}

#campaign_02 {
	width: 283px;
	height: 23px;
	background: url(../img/buyer/h3_campaign_02.gif) no-repeat;
	margin-bottom:10px;
}

#campaign_03 {
	width: 199px;
	height: 25px;
	background: url(../img/buyer/h3_campaign_03.gif) no-repeat;
	margin-bottom:10px;
}

/* ----------------------------------------
	syodan_campaign
---------------------------------------- */


#syodan_campaign_01 {
	width: 554px;
	height: 38px;
	background: url(../img/buyer/h3_syodan_campaign_01.gif) no-repeat;
	margin-bottom:10px;
}

#syodan_campaign_02 {
	width: 554px;
	height: 38px;
	background: url(../img/buyer/h3_syodan_campaign_02.gif) no-repeat;
	margin-bottom:10px;
}

#syodan_campaign_03 {
	width: 554px;
	height: 38px;
	background: url(../img/buyer/h3_syodan_campaign_03.gif) no-repeat;
	margin-bottom:10px;
}

#table01{
border: 1px solid #E0E0E0;
border-collapse:collapse;
}

.syodan_table_left{
 text-align:center;
 color:#0064aa;
 border: 1px solid #E0E0E0;
 padding:4px 0;
 background-color:#ECF1F5;
}

.syodan_table_right{
 border: 1px solid #E0E0E0;
 padding:4px 0 4px 12px;
}
.syodan_table_right img{
	margin-left:10px;
}
.table_subtitle_text{
font-size:12px;
line-height:26px;
text-align:left;
}

#info_campaign {
	background: #ECF1F5;
	border: 1px solid #CCC;
	padding: 2em;
	margin: 1em  15px 0 15px;
}




#info_campaign span {
	font-size: 10px;
	line-height: 15px;
}

#campaign_list {
	margin: 30px 0 0 15px;
}

#campaign_list a {
	font-size: 10px;
	color: #C00;
}

#campaign_list2 {
	margin: 30px 0 0 15px;
}

#campaign_list2 .base{
	background-color:#ECF1F5;
	padding:10px;
	width:504px;
}
#campaign_list2 .camp2_colum1_left{
	background-color:#1065a5;
	color:#FFFFFF;
	padding:5px 15px;
	text-align:left;
	vertical-align:top;
}
#campaign_list2 .camp2_colum1_left img{
	margin-left:10px;
}
#campaign_list2 .camp2_colum1_right{
	background-color:#1065a5;
	color:#FFFFFF;
	padding:5px 15px;
	text-align:right;
	vertical-align:top;
}
#campaign_list2 .camp2_colum2{
	background-color:#FFFFFF;
	padding:5px 15px;
}
#campaign_list2 .subtitle{
	color:#1065a5;
	font-weight:bold;
}
#campaign_list2 .innner_table th, td{
	vertical-align:top;
	text-align:left;
}
.innner_table th{
	width:30%;
}
.innner_table td{
	width:70%;
	padding-left:10px;
}