@charset "utf-8";
/* CSS Document */

/*
===========================================================================

	Title : top.css

===========================================================================
*/

/* *****************************************
*
*	PC view
*	
******************************************** */

#header .headerInnerL .topmark.pcBlc{
	display: none;
}

/* PC .topcntArea
---------------------------------------------------------------- */
#wrapper .topcntArea {
	width: 980px;
	margin: 0 auto;
	padding-bottom: 20px;
	position: relative;
}
#wrapper .topcntArea .topcntBox {
	margin: 30px auto 0;
	clear: both;
	overflow: hidden;
}

/* PC .flexslider
---------------------------------------------------------------- */

#wrapper .topcntArea .flexslider {
	width: 650px;
	min-height: 524px;
	margin: 0px 0 60px;
	border: 2px solid #ddd;
	/*border-radius: 0;
	box-shadow: none;*/
	float: left;
	background: #fff url(/tgs/2016/public/common/images/loading.gif) no-repeat center center;
}
#wrapper .topcntArea .flexslider a:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

/* サブコンテンツ
---------------------------------------------------------------- */

#wrapper .subCnt {
	margin-bottom: 25px;
	clear: both;
}
#wrapper .subCnt li {
	width: 300px;
	height: 300px;
	margin: 0 38px 0 0;
	padding: 65px 0 0;
	background: url(/tgs/2016/public/common/images/motif_top.png) no-repeat left top,  url(/tgs/2016/public/common/images/motif_bottom.png) no-repeat right bottom;
	background-size: 50px auto;
	background-color: #fff;
	float: left;
	text-align: center;
	position: relative;
}
#wrapper .subCnt li:last-child {
	margin-right: 0;
}
#wrapper .subCnt li .ttl {
	margin-bottom: 30px;
}
#wrapper .subCnt li .txtlink img {
	margin-bottom: 15px;
}

/* TOP ニュースエリア
---------------------------------------------------------------- */

/* What's new */
#wrapper .topcntArea h2 {
	margin: 0 0 5px;
	float: left;
	position: relative;
	z-index: 1;
}
#wrapper .topcntArea .topcntBox .wn {
	width: 650px;
	margin: 0 auto;
	padding: 20px;
	background: #fff;
	border: 3px solid #f6cc2b;
	border-radius: 10px;
	position: relative;
	z-index: 2;
}
#wrapper .wn .ico{
	position: relative;
	top: 2px;
}
#wrapper .topcntArea .topcntBox .wn > ul {
	height: 255px;
	overflow-y: auto;
	-webkit-overflow-scrolling:touch;
}
#wrapper .topcntArea .topcntBox .wn ul li dl {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
}
#wrapper .topcntArea .topcntBox .wn ul li dt {
	margin-top: 1em;
}
#wrapper .topcntArea .topcntBox .wn ul li dl:first-child dt {
	margin-top: 0;
}
#wrapper .topcntArea .topcntBox .wn ul li dl.bd-none {
	margin-bottom: 0;
	border-bottom: none;
}
#wrapper .topcntArea .topcntBox .wn ul li dd {
	margin: 10px 0;
}
#wrapper .topcntArea .topcntBox .wn ul li dd img {
	margin-right: 5px;
}
#wrapper .topcntArea .topcntBox .wn ul li dd.pdf {
	margin-top: 15px;
}

/* 出展者ニュース */
#wrapper .topcntArea .topcntBox .newsInner {
	width: 650px;
	margin: 0 auto;
	padding: 20px;
	background: #fff;
	border: 3px solid #56e274;
	border-radius: 10px;
}
#wrapper .topcntArea .topcntBox .newsInner ul {
	height: 260px;
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}
#wrapper .topcntArea .topcntBox .newsInner ul li {
	margin: 0 0px 1em;
}
#wrapper .topcntArea .topcntBox .newsInner ul li dl {
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding: 0 0px 1em;
}
/*#wrapper .topcntArea .topcntBox .newsInner ul li dl:last-child {
	border: none;
}*/
#wrapper .topcntArea .topcntBox .newsInner ul li dl dt {
	float: left;
	margin-right: 20px;
	width: 13%;
	min-height: 3em;
}
#wrapper .topcntArea .topcntBox .newsInner ul li dl dd {
	overflow: hidden;
	padding-right: 10px;
}
#wrapper .topcntArea .topcntBox .newsInner ul li dl .pic {
	width: 100px;
	float: left;
	margin-right: 20px;
}
#wrapper .topcntArea .topcntBox .newsInner ul li dl .pic img {
	width: 100px;
}

/*メディアパートナー最新ニュース*/
#wrapper .topcntArea .topcntBox .wn.mediaNews{
	padding: 10px 20px;
	border: 3px solid #885ffc;
}

/*メディアパートナーロゴ*/

#wrapper .topcntArea .topcntBox .wn.partnerBnr{
	overflow: hidden;
	border: 3px solid #fc518b;
}
#wrapper .topcntArea .topcntBox .wn.partnerBnr ul{
	height: auto;
}
#wrapper .topcntArea .topcntBox .wn.partnerBnr ul li{
	width: 25%;
	margin-bottom: 20px;
	float: left;	
}
#wrapper .topcntArea .topcntBox .wn.partnerBnr ul li img{
/*	width: 90%;*/
	width:136px;
	height:43px;
}
#wrapper .topcntArea .topcntBox .wn.partnerBnr > ul{
	overflow: hidden;	
}


/* バナーエリア
---------------------------------------------------------------- */

#wrapper .bnrArea ul {
	margin: 60px auto 40px;
	overflow: hidden;
	text-align: center;
}
#wrapper .bnrArea ul li {
	float: left;
	margin: 0 13px 20px;
}


/* *************************************************************
*
*	SP view
*	
************************************************************ */

@media screen and (max-width:769px) {
	
/* SP .topcntArea
---------------------------------------------------------------- */
#wrapper .topcntArea {
	width: 100%;
	float: none;
	margin: 0px auto;
	padding-bottom: 5%;
}
#wrapper .topcntArea .topcntBox {
	width: 95%;
	margin: 30px auto 0;
}
#wrapper .topcntArea .topcntBox .cntInner {
	margin: 0;
	padding: 10px 25px 30px 25px;
}
#wrapper .topcntArea .topcntBox .cntInner ul li {
	float: left;
	margin: 8px 25px;
}
/* PC .flexslider
---------------------------------------------------------------- */
#wrapper .topcntArea .flexslider {
	width: 100%;
	min-height: 258px;
	margin: 0px 0 50px;
}

/* サブコンテンツ
---------------------------------------------------------------- */
	
#wrapper .subCnt li {
	width: 95%;
	height: auto;
	margin: 0 auto 15px;
	padding: 20px 50px 20px;
	float: none;
}
#wrapper .subCnt li:last-child {
	margin: auto;
}
#wrapper .subCnt li .txtlink{
	text-align: left;	
}
#wrapper .subCnt li .txtlink img {
	margin-bottom: 25px;
}

/* TOP ニュースエリア
---------------------------------------------------------------- */

#wrapper .topcntArea h2 {
	float: none;
}
/* What's new */

#wrapper .topcntArea .topcntBox .wn {
	width: 100%;
	padding: 18px;
}
#wrapper .topcntArea .topcntBox .wn ul li dd img {
	margin-bottom: 5px;
}
#wrapper .topcntArea .topcntBox .wn ul li dd.pdf {
	margin-top: 15px;
}
#wrapper .topcntArea .topcntBox .wn ul li dd.pdf a{
	width: 23%;	
	display: inline-block;
}
/* 出展者ニュース */
#wrapper .topcntArea .topcntBox .newsInner {
	width: 100%;
}
#wrapper .topcntArea .topcntBox .newsInner ul li dl dt{
	float: none;
}
#wrapper .topcntArea .topcntBox .newsInner ul li dl .pic {
	margin-right: 0;
}

/*メディアパートナーロゴ*/

#wrapper .topcntArea .topcntBox .wn.partnerBnr ul li{
	width: 50%;
	margin-bottom: 15px;
	float: left;	
}

#wrapper .topcntArea .topcntBox .wn.partnerBnr ul li img{
	width: 90%;
	height:auto;
}

/* バナーエリア
---------------------------------------------------------------- */

#wrapper .bnrArea ul {
	width: 95%;
	margin: 0 auto 30px;
}
#wrapper .bnrArea ul li {
	float: none;
	margin: 0 0 15px;
}

}
