@charset "utf-8";
/* CSS Document */


#footer {
	width: 990px;
	height: 50px; /*temporary*/
	margin: 0 0 30px 0;
	padding: 0;
	clear: both;
	text-align: left;
	color: #FFF;
}

#footer .footernav {
	width: 1000px;
	height: 25px;
	margin: 0;
	padding: 0;
	background: url(/tgs/2010/ko/img/footernav-ko.png) no-repeat 0px -50px;
}

*html #footer .footernav {
behavior: expression(IEPNGFIX.fix(this));
}

#footer .footernav ul {
margin: 0;
padding:0 0 0 10px;
}

#footer .footernav li {
	display: inline;
	list-style-type: none;
}

#footer .footernav li a {
	padding-top:25px;
	display:block;
	float:left;
	height: 0;
	text-decoration:none;
	overflow:hidden;
}

/*------off*/
#footer .footernav li.transaction a {
	background:url(/tgs/2010/ko/img/footernav-ko.png) no-repeat -10px 0px;
	width:260px;
}

#footer .footernav li.sitemap a {
	background:url(/tgs/2010/ko/img/footernav-ko.png) no-repeat -270px 0px;
	width:90px;
}

#footer .footernav li.contact a {
	background:url(/tgs/2010/ko/img/footernav-ko.png) no-repeat -360px 0px;
	width:70px;
}



/*------hover*/
#footer .footernav li.transaction a:hover {
	background:url(/tgs/2010/ko/img/footernav-ko.png) no-repeat -10px -25px;
	width:260px;
}

#footer .footernav li.sitemap a:hover {
	background:url(/tgs/2010/ko/img/footernav-ko.png) no-repeat -270px -25px;
	width:90px;
}

#footer .footernav li.contact a:hover {
	background:url(/tgs/2010/ko/img/footernav-ko.png) no-repeat -360px -25px;
	width:70px;
}


#footer .copyright {
float: left;
width: 520px;
height: 30px;
background: url(/tgs/2010/common/img/copyright.png) no-repeat left top ;

}

#footer .copyright p {
float: right;
margin :0;
padding: 0;
display: inline;
}

#footer .cesa {
float: right;
width: 280px;
height: 30px;
margin: 0;
padding: 0;
}
