@charset "utf-8";


/* -+-+-+-+-+-+-+-+-+-+-+-+- Basic Style */
* {
	margin:0;
	padding:0;
}

img{border:none;}



#img_container li {
	margin-left:35px;
}

#container {
	width: 1000px;
	text-align: center;
	margin: 0 auto;
}
#header {
	width: 1000px;
	height: 217px;
	_height: 230px;
	margin: 0;
	padding: 0;
}


#header .bnrArea {
	width: 728px;
	height: 90px;
	margin: 13px 0 0 244px;
	padding: 0;
}

h1 {
	margin:30px 0 20px;
	font-size:100%;
}
h2 {
	margin:20px 0 5px;
	font-size:85%;
	font-weight:normal;
}
#footer {
	margin:30px;
	text-align:right;
}
/* -+-+-+-+-+-+-+-+-+-+-+-+- Body Style */
#bg_frame {
	margin:0 auto;
	width:990px;
}




/*TOP PAGE*/

#topContentWrap {
	width: 1000px;
	margin:10px 0;
	padding: 5px 0 0 0;
	background: url(../common/img/bg-content-top.png) no-repeat top left;
	_background: url(../common/img/bg-content-top.gif) no-repeat top left;
}
#topContent {
	width: 1000px;
	margin:0;
	padding:0;
	background: url(../common/img/bg-main-content-top.png) no-repeat bottom left;
	_background: url(../common/img/bg-main-content-top.gif) no-repeat bottom left;
}
#topContent .topLink {
	width: 120px;
	height: 25px;
	margin:0 0 0 640px;
	padding:0;
	text-align: left;
}
#topContent .topLink a {
display: block;
height: 0;
padding-top: 25px;
overflow: hidden;

}

#topMain {
	width: 765px;
	float: left;
	margin: 0 0 30px 0;
	padding: 10px 0 10px 0;
	background:  url(../common/img/bg-main.png) repeat-y left;
	_background:  url(../common/img/bg-main.gif) repeat-y left;
	text-align: center;
}

#topMain h1 {
	width: 740px;
	height: 32px;
	text-indent: -9999px;
	margin: 10px 0 0 12px;
	padding: 0;
	background: url(../img/bg-h1-rss-top.png) no-repeat top;	
}


/*OTHER PAGES*/

#contentWrap {
	width: 1000px;
	margin:10px 0;
	padding: 5px 0 0 0;
	background: url(../common/img/bg-content-top-1000.png) no-repeat top left;
	_background: url(../common/img/bg-content-top-1000.gif) no-repeat top left;
}
#content {
	width: 1000px;
	margin:0;
	padding:0;
}

#content .pagetopLink {
	clear: both;
	width: 1000px;
	height: 50px;
	margin:0;
	padding:0;
	text-align: left;
	position: relative;
	background: url(../common/img/bg-pagetop-1000.png) no-repeat bottom left;
	_background: url(../common/img/bg-pagetop-1000.gif) no-repeat bottom left;
}

#content .pagetopLink a {
display: block;
width:115px;
height: 0;
padding: 50px 0 0 860px;
overflow: hidden;
}

#main {
	width: 1000px;
	float: left;
	margin: 0;
	padding: 0;
	background: url(../common/img/bg-main-1000.png) repeat-y left;
	_background: url(../common/img/bg-main-1000.gif) repeat-y left;
	text-align: center;
}

#main h1 {
	width: 1000px;
	height: 60px;
	margin: 5px 0 0 0;
	padding: 5px 0 0 16px;
	background: url(../img/h1-ttl-bg.png) no-repeat top left;
	text-align: left;
	font-size: 14px;
}

#main .article {
	width: 840px;
	min-height: 400px;
	margin: 0 90px 0 70px;
	padding: 0;
	text-align: left;
}

div.article .section {
	padding: 0 60px;
	margin-top: 30px;
}

div.article .section h3 {
	margin-top: 2em;
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}

div.article .section h4 {
	padding: 0.5em 1em;
	background: #eee;
	font-size: 14px;
}

div.article h2 {
	color: #333;
	font-size:18px;
	font-weight: bold;
	line-height: 1.4;
	margin: 20px 0;
	padding: 10px;
	border-left: solid 5px #E62886;
	clear: both;
}

div.article h3 {

	font-size:16px;
	font-weight: bold;
	line-height: 1.4;
}

div.article p {
	margin-bottom: 0.4em;
	line-height: 1.5;
}

div.article p.exp {
	font-size: 14px;
	margin: 5px 0 20px 1em;
	line-height: 1.5;
}

div.article p.btmline,div.sessions p.btmline, {
	font-size: 12px;
	margin: 5px 0 20px 1em;
	line-height: 1.5;
	background: url(../img/dot.gif) repeat-x bottom;
}

div.article p.narrow {
	margin:0 20px  0.4em 20px;
	
	line-height: 1.5;
}

div.article dl {
	zoom:normal;
	clear: both;
}
div.article dt {
	float: left;
	width: 13em;
	padding: 10px 0;
	font-weight: bold;
	text-indent: 1em;
	line-height: 150%;
}
div.article dd {
	color: #333;
	padding: 10px 0 10px 13em;
	line-height: 150%;
	background: url(../common/img/dot.gif) repeat-x bottom;
}

div.article ul,
div.article ol {
	margin-left: 1em;
}

div.article ul li {
	margin: 0 0 5px 5px;
	line-height: 1.5;
	padding: 0 0 0 5px;
}

.stopbox {
	margin: 40px 50px 20px 60px;
	border: 1px solid #900;
	color: #900;
	padding: 10px 20px;
}

.stopbox ul {
	margin-left: 20px;
}

.stopbox2 {
	margin: 40px 50px 20px 60px;
	border: 1px solid #CCC;
	background: #FAFAFA;
	color: #333;
	padding: 10px 20px;
	font-size: 12px;
}


.alertbox2 {
	border: 2px solid #fc0;
	background: url(../img/visitor/alert_icon_s.png) no-repeat 20px
8px;
	padding: 18px 20px 10px 0px;
	margin:  10px 0;
	font-size: 16px;
	color: #555;
}

.alertbox2 h6,
.alertbox2 p,
.alertbox2 ul {
	font-size: 87.5%;
	margin-left: 70px;
	text-indent: 0 !important;
	line-height: 1.5;
}
.alertbox2 ul li {
	margin-top: 0.3em;
}


#newsArea {
	width: 525px;
	font-size: 12px;
	margin: 0 10px 0 12px;
	_margin: 0 10px 0 6px;
	padding: 0;
	text-align: left;
	float: left;
}

#newsArea h1 {
	width: 525px;
	height: 53px;
	margin: 0;
	padding: 0;
	background: url(../common/img/bg-whatsnew-title-top.png) no-repeat top;


}
#newsArea .ichiran {width: 68px; height: 45px; float: right; }
#newsArea .ichiran a {
	width: 56px;
	height: 25px;
	margin: 8px 0;
	background: url(../img/btn-ichiran.png) no-repeat;
	display: block;
	text-indent:-9877em;
	}
#newsArea .whatsnewTop { clear: both; width:505px; background: url(../common/img/dot.gif) repeat-x bottom; margin: 0 10px; padding:0; }
#newsArea .whatsnewTop p {font-size:12px; line-height:1.3em; padding-bottom: 8px; }
#newsArea .whatsnewTop p.date { font-size:12px; padding:2px 5px; background-color:#333; color:#FFF; width:70px; text-align:center; float:left; margin: 0 0 4px 0; }
#newsArea .whatsnewTop .cnt { float:left; margin: 0; padding: 3px; display: inline; }
#newsArea .whatsnewTop .cnt p { font-size:12px; line-height:1.3em; }
#newsArea .whatsnewTop .cnt h4 { width: 410px; color:#000; font-size:105%; margin:0 0 5px; float:left; }
#newsArea .whatsnewTop .cnt p.links { font-size:12px; margin:10px; background:url(../images/top_arrow.gif) no-repeat; padding-left:15px; height:10px; }
#newsArea .whatsnewTop .cnt p.image { float: right; margin:0 0 10px 8px; }

div.cnt_bn { width:505px; background: url(../img/dot.gif) repeat-x bottom; margin: 0 10px; padding:2px 0 5px; }
.cnt h4 a, div.cnt_bn h3 a:link,div.cnt_bn h3 a:visited { font-size: 12px; text-decoration: none; color: #036; line-height: 1.4;}
.cnt h4 a:hover,div.cnt_bn h3 a:hover { color: #0099CC; text-decoration: none; border-bottom:#0099CC dotted 1px;}
div.cnt_bn p.date_s {
	font-size:11px;
	padding: 0 3px 3px 0;
	background-color:none;
	color:#000;
	width:70px;
	text-align:left;
	float:left;
	margin:0 0 4px 5px;
}

/*--sidebar用--*/

#sidebar {
	width: 225px;
	float: left;
	margin: 0;
	padding: 11px 0 0 0;
	background: url(../common/img//bg-sidebar-01.png) no-repeat  left top;
	_background: url(../common/img/bg-sidebar-01.gif) no-repeat left top;
	text-align: left;

}

#sidebar p {
	padding: 0 5px 10px 10px;
	
}

#sidebar .bnrArea {
	padding: 0 0 10px 0;
	background: url(../common/img/bg-sidebar-02.png) no-repeat bottom right;
	_background: url(../common/img/bg-sidebar-02.gif) no-repeat bottom left;
}

#sidebar .bnrArea p {
	font-size: 12px;
}

#footer {
	width: 1000px;
	height: 50px; /*temporary*/
	margin: 0 0 30px 0;
	padding: 0;
	clear: both;
	text-align: left;
	color: #FFF;
}

#footer .footernav {
	width: 1000px;
	height: 25px;
	margin: 0;
	padding: 0;
	background: url(../img/footernav.png) no-repeat 0px -50px;
}

#footer .footernav ul {

margin: 0;
padding:0 0 0 10px;
}

#footer .footernav li {
display: inline;
list-style-type:none;
}

#footer .footernav li a {
	padding-top:25px;
	display:block;
	float:left;
	height: 0;
	text-decoration:none;
	overflow:hidden;
}

/*------off*/

#footer .footernav li.transaction a {
	background:url(../img/footernav.png) no-repeat -10px 0px;
	width:230px;
}

#footer .footernav li.sitemap a {
	background:url(../img/footernav.png) no-repeat -240px 0px;
	width:90px;
}

#footer .footernav li.terms a {
	background:url(../img/footernav.png) no-repeat -330px 0px;
	width:80px;
}

#footer .footernav li.policy a {
	background:url(../img/footernav.png) no-repeat -410px 0px;
	width:140px;
}

#footer .footernav li.inquiry a {
	background:url(../img/footernav.png) no-repeat -550px 0px;
	width:100px;
}

/*------hover*/

#footer .footernav li.transaction a:hover {
	background:url(../img/footernav.png) no-repeat -10px -25px;
	width:230px;
}
#footer .footernav li.sitemap a:hover {
	background:url(../img/footernav.png) no-repeat -240px -25px;
	width:90px;
}

#footer .footernav li.terms a:hover {
	background:url(../img/footernav.png) no-repeat -330px -25px;
	width:80px;
}

#footer .footernav li.policy a:hover {
	background:url(../img/footernav.png) no-repeat -410px -25px;
	width:140px;
}

#footer .footernav li.inquiry a:hover {
	background:url(../img/footernav.png) no-repeat -550px -25px;
	width:100px;
}

#footer .copyright {
float: left;
width: 520px;
height: 30px;
background: url(../common/img/copyright.png) no-repeat left top ;

}

#footer .copyright p {
float: right;
margin :0;
padding: 0;
display: inline;
}

#footer .cesa {
float: right;
width: 280px;
height: 30px;
margin: 0 10px 0 0;
padding: 0;
}


.clearfloat {
	clear: both;
}

/* 出展社リスト */

div.exhibitorList {
	margin: 0 0 20px 0;
	padding: 0;
	clear: both;
}

div.exhibitorList ul {
	margin:0;
	padding: 0;
	clear: both;
}

div.exhibitorList ul li {
	width: 800px;
	margin: 5px 0 0 30px;
	padding: 0 0 0 15px;
	list-style: none;
	background: url(../img/li_exh01.png) no-repeat 3px 6px;
}


div.exhibitorList li ul {
	width: 800px;
	font-weight: normal;
	margin: 0;

}

div.exhibitorList li ul li {
	width: 800px;
	margin: 5px 0 5px 0px;
	background: url(../img/li_exh02.png) no-repeat 2px -43px;
	padding: 0;
	list-style: none;
	text-indent: 15px;
}





/* ユーティリティ */
.clinks {
	font-size:12px;
	margin-bottom: 0.5em;
	line-height: 1.8;
}

.clinks.r {
	text-align: right;
	margin: 0.8em 0;
}

.clinks a {
	color: #003399;
	background: url(../img/icons.gif) no-repeat -96px -291px;
	padding-left: 15px;
	padding-right: 10px;
	white-space: nowrap;
	text-decoration: none;
	
}

.clinks a:hover {
	color: #09F;
	
}



.clinks.r a {
	background-position: -96px -259px;
}


/* tgs news */

#tgsnews {
	width: 740px;
	height: 150px;
	font-size: 12px;
	line-height: 1.7;
	overflow-x: none;
	overflow-y: scroll;
	background: #FFF;
	margin: 10px 0 20px 12px;
	/margin: 10px 0 20px 0;
	padding: 0 0 15px 0;
	text-align: left;
}	


#tgsnews a {
	color: #116cac;
	text-decoration: none;
	padding: 0 0 3px 25px;
	background: url(../common/img/bg-sitemap-list.png) no-repeat 3px 2px;
	_background: url(../common/img/bg-sitemap-list.png) no-repeat 3px 0px;
	margin: 0;
}

#tgsnews a:hover {
	color: #e62e87;
	text-decoration: none;
	background: url(../common/img/bg-sitemap-list.png) no-repeat 3px -19px;
	_background: url(../common/img/bg-sitemap-list.png) no-repeat 3px -21px;
}

