@charset "Shift_JIS";

/* ----------------------------------------
	index
---------------------------------------- */

#index {
	display: block;
	margin: 15px 0 10px 15px;
}



/* ----------------------------------------
	outline
---------------------------------------- */

#outline_list td {
	padding: 0.5em 0;
	vertical-align: top;
}

#outline_list .left {
	width: 8em;
	text-align: right;
	padding: 0.5em;
}

#outline_list .right {
	padding: 0.5em 1em;
}

#entrysheet_btn {
	text-align: center;
}

.hotel_list{
	padding: 0.5em;
}


/* ----------------------------------------
	hallmap
---------------------------------------- */

.hallmap {
	padding: 10px 0 0 25px;
}

.hallmap a {
	margin: 0 25px;
}



/* ----------------------------------------
	public_attention
---------------------------------------- */

.public_attention {
	padding: 0 0.5em 0.5em;
}

.public_attention img {
	display: block;
	margin-bottom: 0.5em;
}



/* ----------------------------------------
	buyer_attention
---------------------------------------- */

.buyer_attention {
	padding: 0 0.5em 0.5em;
}

.buyer_attention img {
	display: block;
	margin-bottom: 0.5em;
}



/* ----------------------------------------
	company_html
---------------------------------------- */

#list_type {
	position: absolute;
	right: 13px;
	top: 67px;
}

#list_type a {
	padding-left: 10px;
	background: url(../img/common/arrow_skyblue.gif) no-repeat left top;
	margin-left: 10px;
}

#company_link li{
	float: left;
	padding: 0 0.5em;
	margin-bottom: 0.5em;
	border-right: 1px solid #14A0BE;
}

#company_link .start{
	border-left: 1px solid #14A0BE;
	clear: left;
}

#company_link a{
	color: #14A0BE;
}

#company_link a:hover{
	color: #72C6D8;
}

#company_link span{
	color: #14A0BE;
	font-weight: bold;
}

#company_list td {
	padding: 10px 0;
	vertical-align: top;
}

#company_list .id {
	width: 50px;
	font-weight: bold;
	padding: 10px;
}

#company_list .name {
	width: 30%;
	color: #FF5546;
	padding: 10px;
}



/* ----------------------------------------
	sitemap
---------------------------------------- */

#sitemap {
	width: 100%;
}

#sitemap td {
	padding: 0.25em;
}

.line {
	text-align: right;
}



/* ----------------------------------------
	underconstruction
---------------------------------------- */

#underconstruction {
	height: 170px;
	padding-top: 125px;
	text-align: center;
}


