

/*   index.html
/*	 トップページ
------------------------*/

.topTitle{
	padding:0 20px 8px 0;
	font-size:15px;
	line-height:1.7em;
	font-weight:bold;
}

.topContent, .topContentBtm{
	padding:0 20px 8px 0;
	font-size:14px;
	line-height:1.7em;
}

.topContentBtm{
	padding-bottom:40px;
}

.topContentBtm div{
	float:left;	
	width:515px;
}

.topContentBtm img{
	float:left;
	padding:0 0 15px 15px;	
}

.outlineList{
	clear:both;
	padding-bottom:35px;	
}

.category{
	padding:0 0 30px 0;	
}

.catTitle{
	clear:both;
	padding:0 0 10px 0;
	font-size:20px;
	font-weight:bold;
}

table.list1{
    border-top:1px solid #000;
    border-left:1px solid #000;
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
}

table.list1 th{
	padding:3px 5px;
	color:#fff;
	font-size:12px;
	text-align:center;
	font-weight:normal;
	background:#4d4d4d;
}

table.list1 th.head1{
	border-right:1px solid #fff;
    border-bottom:1px solid #000;
}

table.list1 th.head2{
	border-right:1px solid #000;
}

table.list1 th.head3{
	border-right:1px solid #000;
    border-bottom:1px solid #000;
}

table.list1 td{
	padding:3px 5px;
	font-size:12px;
	border-right:1px solid #000;
    border-bottom:1px solid #000;
}

table.list1 td.tdTop{
    border-bottom:none;
}

table.list1 td.subHead1{
	color:#fff;	
	border-right:1px solid #fff;
    border-bottom:1px solid #000;
}

table.list1 td.subHead2{
	color:#fff;	
	border-right:1px solid #000;
    border-bottom:1px solid #000;
}

table.list1Frame .tableSpace{
	padding:3px 5px;
}

table.list2{
	margin-top:5px;
    border-top:1px solid #d9d0ca;
    border-left:1px solid #d9d0ca;
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
}


table.list2 th{
	padding:5px 8px;
	color:#000;
	font-size:12px;
	font-weight:normal;
	text-align:center;
    border-bottom:1px solid #d9d0ca;
	background:#f2ede9;
}

table.list2 td{
	padding:5px 8px;
	color:#000;
	font-size:12px;
	font-weight:normal;
    border-right:1px solid #d9d0ca;
    border-bottom:1px solid #d9d0ca;
}

table.list2 td .sch{
	padding-top:5px;
}

table.list2 td .bn{
	padding:3px;
	color:#fff;
	font-weight:bold;
	background:#B96CA9;	
}

table.list2 td .cs{
	padding:3px;
	color:#fff;
	font-weight:bold;
	background:#F08300;	
}

table.list2 td .listInfo{
	font-size:10px;
}

table.list3{
	margin-top:5px;
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
}

table.list3 td{
	padding:3px 5px;
	color:#fff;
	font-size:12px;
	font-weight:bold;
    border-right:1px solid #fff;
}

table.list4{
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
}

table.list4 td.tdTop{
    border-bottom:none;
}


table.list4 td{
	padding:3px 5px;
	font-size:12px;
border-bottom:1px solid #000;
border-right:1px solid #000;
}


.pagetop{
margin:0px 20px 20px 0px;
}

#th1white,#th2white,#th3white,#th4white{
padding:3px 5px;
font-size:12px;
background-color:#fff;
border-bottom:1px solid #000;
}

.leftline{
border-left:1px solid #000;
}
