@charset "utf-8";
/*
===========================================================================

	Title : popup.css

===========================================================================
*/


/* *********************************************
*
*	PC view
*	
********************************************* */

body {
	width:100%;
	background-image: none;
	overflow-x: hidden;
}
body,html{
	height:100%;
	}

#wrapper {
	width:100%;
	background-image: none;
}
#wrapper #popup {
	width: 100%;
	min-height:94%;
}
#wrapper #popup h1,
#wrapper #popup h2 {
	text-align: center;

}
#wrapper #popup h1 {
	margin: 20px auto;
}
#wrapper #popup h2{
	color:#000;
	font-size:20px;
	margin-bottom:20px;
}
#wrapper #popup .dbox {
	width:90%;
	margin:0px auto 0;
	background-color:#fff;
	padding: 12px;
	clear:both;
	overflow: hidden;
}
#wrapper #popup .dbox h3 {
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: 500;
	font-size: 18px;
	letter-spacing:-1px;
	margin-bottom: 20px;
	padding: 5px 0 2px 40px;
	line-height: 1.1;
	color: #1e51a2;
	background: url(../../common/images/ico_h3.png) no-repeat -3px 6px;
	border-bottom: solid 2px #1e51a2;
	word-break: break-all;
}
#wrapper #popup .dbox h4 {
	text-align: left;
	font-size:14px;
	font-weight: bold;
	margin-bottom: 15px;
	background: #eeeeee;
	padding: 10px 10px 5px;
}

#wrapper #popup .dbox h4 a {
		font-weight: normal;
	}
#wrapper #popup .dbox p{
	font-size: 14px;
	margin-bottom: 14px;
}

#wrapper #popup .dbox p img{
	float: left;
	margin: 0 10px 10px 0;
}

/* -------------------
	footer
------------------- */

.footer {
	width:100%;
	min-height:6%;
	padding:10px 0;
	margin:20px 0 0;
	display: block;	
	background: #01122d;
}
.footer .fi {
	width: 90%;
	margin:5px auto;
	overflow:hidden;
}
.footer .fi ul {
	float: left;
	width: 80%;
	background: #FFF;
	padding: 7px 10px;
	border-radius: 5px; /* 角丸 */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	margin: 0 auto;
}
.footer .fi ul li{
	margin:0 5px;
	display:inline;
	}
 .footer .fi .clsBtn {
	width:10%;
	float: right;
	margin-top: 5px;	
}


/* *********************************************
*
*	SP view
*	
********************************************* */

@media screen and (max-width:769px){	

#wrapper #popup {
	/*max-width: 320px;*/
	margin:0 auto;
	overflow-x: hidden;
}
#wrapper #popup .dbox h3 {
	background: url(../../common/images/sp_ico_h3.png) no-repeat left 6px;
	background-size: 34px 18px;
}	
#wrapper #popup .dbox h4 {
	font-size:14px;
}
#wrapper #popup .dbox a{
	word-break:	break-strict;
	word-wrap:break-word;
}
#wrapper #popup .dbox p{
	font-size: 14px;
	line-height: 20x;
}	
	
}
