@charset "utf-8";
/* CSS Document */

img, div, input { behavior: url("iepngfix.html") }

#fam-container {
	width: 965px;
	margin: 0 0 0 10px;	
	/margin: 0;	
	padding: 0;	
}

#leftnav {
	width: 240px;
	margin: 0 0 0 10px;
	/margin: 0;
	padding: 0;
	float: left;

}

#leftnav ul {
	width: 226px;
	margin: 20px 0 0 0;
	padding: 10px 0 0 0;
	background: url(../img/family/fam_ul_bg_02.png) no-repeat top;
}

#leftnav li {
	list-style-type:none;
}

#leftnav li a {
	height:40px;
	display:block;
	text-indent:-9877em;
	text-decoration:none;
	overflow:hidden;
}

#leftnav li.btm {
	height:20px;
	text-indent:-9877em;
	text-decoration:none;
	overflow:hidden;
	background: url(../img/family/fam_ul_bg_02.png) no-repeat 0px -580px #FFF;
}

/*------off*/
#leftnav li.ovv a {
	background: url(../img/family/fam_ul_bg_02.png) no-repeat 0px -10px;
	width:226px;
}

#leftnav li.acc a {
	background: url(../img/family/fam_ul_bg_02.png) no-repeat 0px -50px;
	width:226px;
}

#leftnav li.spn a {
	background: url(../img/family/fam_ul_bg_02.png) no-repeat 0px -90px;
	width:226px;
}

#leftnav li.stg a {
	background: url(../img/family/fam_ul_bg_02.png) no-repeat 0px -130px;
	width:226px;
}

#leftnav li.bth a {
	background: url(../img/family/fam_ul_bg_02.png) no-repeat 0px -170px;
	width:226px;
}

#leftnav li.wak a {
	background: url(../img/family/fam_ul_bg_02.png) no-repeat 0px -210px;
	width:226px;
}

#leftnav li.contest a {
	background: url(../img/family/fam_ul_bg_02.png) no-repeat 0px -250px;
	width:226px;
}

#leftnav li.cpn a {
	background: url(../img/family/fam_ul_bg_02.png) no-repeat 0px -290px;
	width:226px;
	height: 300px
}

/*------hover*/
#leftnav li.ovv a:hover,#leftnav li.ovv_on a:hover {
	background: url(../img/family/fam_ul_bg_hover_02.png) no-repeat 0px -10px;
	width:226px;
}

#leftnav li.acc a:hover,#leftnav li.acc_on a:hover {
	background: url(../img/family/fam_ul_bg_hover_02.png) no-repeat 0px -50px;
	width:226px;
}

#leftnav li.spn a:hover,#leftnav li.spn_on a:hover {
	background: url(../img/family/fam_ul_bg_hover_02.png) no-repeat 0px -90px;
	width:226px;
}

#leftnav li.stg a:hover,#leftnav li.stg_on a:hover {
	background: url(../img/family/fam_ul_bg_hover_02.png) no-repeat 0px -130px;
	width:226px;
}

#leftnav li.bth a:hover,#leftnav li.bth_on a:hover {
	background: url(../img/family/fam_ul_bg_hover_02.png) no-repeat 0px -170px;
	width:226px;
}

#leftnav li.wak a:hover,#leftnav li.wak_on a:hover {
	background: url(../img/family/fam_ul_bg_hover_02.png) no-repeat 0px -210px;
	width:226px;
}

#leftnav li.contest a:hover,#leftnav li.contest_on a:hover {
	background: url(../img/family/fam_ul_bg_hover_02.png) no-repeat 0px -250px;
	width:226px;
}

#leftnav li.cpn a:hover {
	background: url(../img/family/fam_ul_bg_hover_02.png) no-repeat 0px -290px;
	width:226px;
	height: 300px
}

/*------on*/
#leftnav li.ovv_on a {
	background: url(../img/family/fam_ul_bg_on_02.png) no-repeat 0px -10px;
	width:226px;
}

#leftnav li.acc_on a {
	background: url(../img/family/fam_ul_bg_on_02.png) no-repeat 0px -50px;
	width:226px;
}

#leftnav li.spn_on a {
	background: url(../img/family/fam_ul_bg_on_02.png) no-repeat 0px -90px;
	width:226px;
}

#leftnav li.stg_on a {
	background: url(../img/family/fam_ul_bg_on_02.png) no-repeat 0px -130px;
	width:226px;
}

#leftnav li.bth_on a {
	background: url(../img/family/fam_ul_bg_on_02.png) no-repeat 0px -170px;
	width:226px;
}

#leftnav li.wak_on a {
	background: url(../img/family/fam_ul_bg_on_02.png) no-repeat 0px -210px;
	width:226px;
}

#leftnav li.contest_on a {
	background: url(../img/family/fam_ul_bg_on_02.png) no-repeat 0px -250px;
	width:226px;
}

#leftnav li.cp_on a {
	background: url(../img/family/fam_ul_bg_on_02.png) no-repeat 0px -290px;
	width:226px;
	height: 300px
}

#fam-mainContents {
	width: 710px;
	margin:0;	
	float: left;
}

#fam-mainContents .article {
	width: 710px;
	margin:30px 0 0 0;	
	padding: 0;
background: url(../img/family/family_main_bg.png) no-repeat bottom;
}

#fam-mainContents .article h2{
	width: 710px;
	height: 75px;
	margin: 0;	
	padding: 0;
	background: url(../img/family/bg_h2.png) no-repeat -1px 0 #FFF;
	border: none;
}

#fam-mainContents .article p {
	 padding:0 0 30px 25px;
}

#fam-mainContents .article p.uc {
	 padding:50px 0 150px 25px;
	 text-align: center;
}




