@charset "utf-8";
/* CSS Document */

#main table {
	width: 840px;
	margin: 0 auto 20px;
	font-size: 12px;
	line-height: 1.6;
	border-top: #dadada dotted 1px;
	border-collapse:collapse;
}

#main table th {
	font-weight: normal;
	vertical-align: middle;
	white-space: nowrap;
	padding: 5px 10px 12px 10px;
	background: url(../common/img/bg_table_th_blue.gif) no-repeat right bottom;
	color: #666;
	font-weight: bold;
	text-align: right;
	font-size: 14px;
}

#main table th.first {
	background: url(../common/img/bg_table_th_pink.gif) no-repeat right bottom;
	text-align: center;
}

#main table th.second {
	background: url(../common/img/bg_table_th_yellow.gif) no-repeat right bottom;
	text-align: center;
}

#main table th.third {
	background: url(../common/img/bg_table_th_blue.gif) no-repeat right bottom;
	text-align: center;
}


#main table td {
	padding: 5px 10px;
	background: url(../common/img/bg_table_td.gif) no-repeat right bottom;
	text-align: left;
	vertical-align: middle;
}
#main table td.third {
	background: url(../common/img/bg_table_th_blue.gif) no-repeat right bottom;
	text-align: center;
}

#main table td span.blk {
	padding: 2px 4px;
	margin: 0 10px 6px 0;
	background: #e62e87;
	text-align: left;
	color: #FFF;
	line-height: 2.2;
	font-size:10px;
}

#main table td span.theme1 {
	margin: 10px 0 0 0;
	padding: 3px;
	color: #FFF;
	font-size:16px;
	font-weight: bold;
	background: #C06;
}

#main table td span.theme2 {
	margin: 15px 0 0 0;
	color: #C06;
	font-size:14px;
	font-weight: bold;
}


#main table td dl {
	width: 700px;
	padding: 0;
	text-align: left;
}

#main table td dt {
	text-align: center;
	padding: 3px;
	color:#fff;
	font-size: 14px;
	font-weight: bold;
	text-indent: 0;
	clear: both;
}

#main table td dt.blue {
	background:#0099FF;
}

#main table td dt.green {
	background: #0C3;
}

#main table td dt.grass {
	background: #CF0;
	color: #000;
}

#main table td dd {
	background: none;
	clear: both;
	padding: 0 0 5px 10px;
}


#main table.timetable {
	width: 600px;
	margin: 0 auto 15px;
	border: none; 
	border-collapse:collapse;
	font-size:12px;

}

#main table.timetable th {
	width:150px;
	background: #FAFAFA;
	border: solid 1px#CCF;
	padding: 5px;
}

#main table.timetable th.ttl {
	background: #FFF;
	border: none;
	text-align: left
}


#main table.timetable td {
	width: 60px;
	color: #000;
	background: none;
	border: solid 1px#CCF;
	text-align: center;
	font-weight:bold;
}
#main table.timetable td.min {
	width: 1em;
	font-weight: normal;
}