@charset "utf-8";

/* -----------------------------------------------------------
̎ނɂ
media/regisit.html
----------------------------------------------------------- */

#regist{
	
	margin: 30px 0 0 0;
	clear: both;
}

#regist h3{
	
	display: block;
	margin: 30px 0 0 0;
	font-size: 14px;
	color:#666666;
	border-top: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
}

#regist h4{
	margin: 20px 0;
	border-bottom: dotted 1px #ccc;

	font-size: 13px;
	display: block;
}

#regist #registBox{
	text-align: center;
	margin: 20px 0px;
	background: #f1f1f1;

}

#regist #registBox p{
	font-weight: bold;
	color: #666;
	padding: 15px 0px;
	font-size: 12px;

}


/* -----------------------------------------------------------
j[X[X
media/index.html
----------------------------------------------------------- */

#details #news{
	margin-top: 30px;
}

#details #news table{
	width: 100%;
}
#details #news .day{
width: 10%;
color: #CC3300;
font-weight: bold;
vertical-align: top;
}

#details #news .title{
width: 80%;
color: #333;
background: url(../common/topics_cap2.gif) 0 10px no-repeat;
padding: 0 0 0 18px;
vertical-align: middle;
}

#details #news .title2{
width: 80%;
color: #666;
background: url(../common/topics_cap.gif) 0 10px no-repeat;
padding: 0 0 0 18px;
font-weight: bold;
vertical-align: middle;
}

#details #news a{
	color: #999999;
}


/* -----------------------------------------------------------
j[X[X
media/index.html
----------------------------------------------------------- */

#details #news{
	margin-top: 30px;
}

#details #news iframe{
	border: #CCCCCC 1px solid;
	margin: 30px 0;
	
}

#details #news table{
	width: 100%;
}
#details #news .day{
width: 10%;
color: #CC3300;
font-weight: bold;
vertical-align: top;
}

#details #news .title{
width: 80%;
color: #333;
background: url(../common/topics_cap2.gif) 0 10px no-repeat;
padding: 0 0 0 18px;
vertical-align: middle;
}

#details #news .title2{
width: 80%;
color: #666;
background: url(../common/topics_cap.gif) 0 10px no-repeat;
padding: 0 0 0 18px;
font-weight: bold;
vertical-align: middle;
}

#details #news a{
	color: #999999;
}