@charset "UTF-8";

#contents #main_column {
	padding:4px 1px 10px 0px;
}


#main_column #holl{
	width:584px;
	background:#0095D9  url(../images/t_hollmap.gif) no-repeat 14px 14px;

}

#main_column #holl_en{
	width:584px;
	background:#0095D9  url(../images/t_hollmap_en.gif) no-repeat 14px 14px;

}

	#main_column h2{
		text-indent:-9999px;
		height:50px;
		width:580px;
		margin-bottom:16px;

	}
	
	
	#main_column .holl_map{
	padding:0px 0px 24px 18px;
	color:#0095D9

	

}


#main_column .holl_map {
	padding-bottom:14px;
	position:relative;
	

	

}
	#main_column .holl_map h3{
	padding-bottom:14px;

	

}

		#main_column .holl_map .img_holl{
		width:548px;
		border:solid 1px #80CAEC;
		

}

	#main_column .holl_map .map_zoom,
	#main_column .holl_map .map_zoom_en {
		text-indent:-9999px;
		position:absolute;
		left: 450px;
		_left: 433px;
		top: 3px;
		_top: 2px;
		width:112px;
		height:26px;	
	
	}
	
	*+html body #main_column .holl_map .map_zoom,
	*+html body #main_column .holl_map .map_zoom_en{
		position:absolute;
		top: 2px;
	}

	#main_column .holl_map .map_zoom a {
		display:block;
		background:url(../images/bt_zoom_map.gif) no-repeat;
		width:112px;
		height:26px;

	

}
	#main_column .holl_map .map_zoom_en a {
		display:block;
		background:url(../images/bt_zoom_map_en.gif) no-repeat;
		width:112px;
		height:26px;

	

}




	
	
/*-----------------------------------------------------------------*/	

#sub_column ul {
			padding-bottom:1007px;
		}

	

/*---------------en_page---------------------*/

#sub_column .bottom_en {
			padding-bottom:737px;
		
		}
/*--------------------------------------*/


#sub_column .select a{
	background: url(../../shared/images/bt_hollmap_on.gif) no-repeat;

}

#sub_column .select_en a{
	background: url(../../shared/images/bt_hollmap_en_on.gif) no-repeat;

}

/*--------------------------------------------------------*/

#sub_column .bt_f a{
	background: url(../../shared/images/bt_invitation_letter.gif) no-repeat;

}

#sub_column .bt_f a:hover,
#sub_column .bt_f a:active{
	background: url(../../shared/images/bt_invitation_letter_on.gif) no-repeat;

}

