@charset "UTF-8";

/* page title setting   ===================================================== */
#substance-title h1{
	background:url("contents-substance/h1.gif") no-repeat;
}

.contentsSubstance .divArticle table.musicdetail th{
	width:150px;
	white-space:normal;
}

.contentsSubstance .divArticle table.musicdetail td{
	width:450px;
	white-space:normal;
}

.contentsSubstance .divArticle table.musiclist {
	border: 0;
}
.contentsSubstance .divArticle table.musiclist caption {
	caption-side: top;
	text-align: left;
	font-weight: bold;
}

.contentsSubstance .divArticle table.musiclist th,
.contentsSubstance .divArticle table.musiclist td {
	border: 0;
	width: auto;
	color:#666666;
	background:none;
	padding:0 0.5em;
}

.contentsSubstance .divArticle table td ul.disc li {
	list-style: disc inside none;
}

h4#sonic_rush_sound_track.open a{
	font-size:10px;
}

.contentsSubstance dl.dtHeader {
	margin-bottom:1em;
}

.contentsSubstance dl.dtHeader dt {
	font-weight:bold;	
}

.contentsSubstance .divArticle ul.discMulti li {
	list-style: disc inside none;
	text-indent:-1em;
	padding-left:1em;
}