    div,p,tr,td,a {font-size:9pt;text-decoration:none;}
    input,textarea,select {background-color: #FFEEEE; color: #0033CC; border: 1 solid #33CCFF;}
    input.button {background-color: #33CCFF; color: #FCFCFC; border: 3 double;}
    input.noborder {background-color: #FCFCFC; color: #33CCFF; border: 0;}
    
    A:link {color:#0033CC; text-decoration:none;}
    A:visited {color:#CC3366; text-decoration:none;}
    A:active {color:#FF0000; text-decoration:none;}
    A:hover {color:#0066FF;}
    hr {color:#33CCFF;}
