/* フッター */
#footer {
	width:789px;
	margin:0px 0px -5px;
	padding:0px;
	clear:both;
}

/* メイン */
#main {
	width:626px;
	margin:0px 0px 30px;
	padding:0px;
	float:right;
}

/* コンテンツ */
#main .contents {
	width:564px;
	margin:30px 34px 0px 28px;
	padding:0px;
}

#ToTop {
	margin:50px 29px 0px 11px;
	padding:0px;
	background-color:#FFE151;
	background-image:url(../images/frame_l.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
}

#ToTop p {
	margin:30px 0px 0px;
	padding:3px 15px;
	background-image:url(../images/frame_r.gif);
	background-repeat:no-repeat;
	background-position:bottom right;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:right;
}

#ToTop a:link {
	color:#FFFFFF;
	text-direction:none;
}

#ToTop a:visited {
	color:#FFFFFF;
	text-direction:none;
}

#ToTop a:hover {
	color:#CCCCCC;
	text-decoration:underline;
}


#PdfDown {
	width:400px;
	margin:40px 0px 0px 60px;
	padding:15px 25px;
	background:#F0EFE1;
	font-size:10px;
	color:#333333;
	line-height:140%;
	text-align:center;
}

#PdfDown table {
	font-size:10px;
	color:#333333;
	line-height:140%;
	text-align:center;
}

#PdfDown img {
	margin:0px 15px 0px 0px;
	padding:0px;
}


#Category {
	width:100%;
	margin:40px 0px 0px 0px;
	padding:0px;
	background:#F0EFE1;
}

#Category img {
	margin:18px 0px;
	padding:0px;
}

.Explain {
	width:310px;
	margin:0px;
	padding:0px 18px;
	float:left;
}
