@charset "utf-8";

@import "../../../files/css/layout.css";

/*-------------------------------------------------------------------------
	共通
/*-----------------------------------------------------------------------*/



/*-------------------------------------------------------------------------
	Title
/*-----------------------------------------------------------------------*/
#title {
	height: 646px;
	background: url(../img/index/title/bg.png) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	border-bottom:6px #FFF solid;
}

	#title .ttl {
		padding:50px 0 0 0;
	}
	
	#title .chara01 {
		float:left;
		margin:70px 0 0 30px;
	}
	
	#title .chara02 {
		float:right;
		margin:70px 0 0 0;
	}
	
/*-------------------------------------------------------------------------
	chara01
/*-----------------------------------------------------------------------*/

#chara01 {
	height:2330px;
	background: url(../img/index/chara01/bg.png) 0 0 no-repeat;
	min-height: 100%;    
	background-size: cover;     
	background-attachment: fixed;     
	position:relative;
}

	#chara01 .wrap {
		padding:200px 0 0 0;
	}

	#chara01 .cr01,
	#chara01 .cr02,
	#chara01 .cr03,
	#chara01 .cr04,
	#chara01 .cr05,
	#chara01 .cr06,
	#chara01 .cr07,
	#chara01 .cr08,
	#chara01 .cr09,
	#chara01 .cr10,
	#chara01 .cr11,
	#chara01 .cr12,
	#chara01 .cr13,
	#chara01 .cr14,
	#chara01 .cr15,
	#chara01 .cr16,
	#chara01 .cr17,
	#chara01 .cr18 {
		position:absolute;
	}

	#chara01 .cr01 {
		top:30px;
		left:210px;
	}
	#chara01 .cr02 {
		top:70px;
		left:564px;
	}
	#chara01 .cr03 {
		top:228px;
		left:30px;
	}
	#chara01 .cr04 {
		top:280px;
		left:480px;
	}
	#chara01 .cr05 {
		top:445px;
		left:190px;
	}
	#chara01 .cr06 {
		top:520px;
		left:574px;
	}
	#chara01 .cr07 {
		top:614px;
		left:60px;
	}
	#chara01 .cr08 {
		top:724px;
		left:425px;
	}
	#chara01 .cr09 {
		top:920px;
		left:150px;
	}
	#chara01 .cr10 {
		top:985px;
		left:576px;
	}
	#chara01 .cr11 {
		top:1145px;
		left:10px;
	}
	#chara01 .cr12 {
		top:1210px;
		left:470px;
	}
	#chara01 .cr13 {
		top:1414px;
		left:65px;
	}
	#chara01 .cr14 {
		top:1480px;
		left:580px;
	}
	#chara01 .cr15 {
		top:1760px;
		left:15px;
	}
	#chara01 .cr16 {
		top:1780px;
		left:490px;
	}
	#chara01 .cr17 {
		top:1930px;
		left:40px;
	}
	#chara01 .cr18 {
		top:2040px;
		left:570px;
	}

/*-------------------------------------------------------------------------
	txt01
/*-----------------------------------------------------------------------*/

#txt01 {
	text-align:center;
	padding:30px 0 30px 0;
}

/*-------------------------------------------------------------------------
	chara02
/*-----------------------------------------------------------------------*/

#chara02 {
	height: 2200px;
	background: url(../img/index/chara02/bg.png) 0 0 no-repeat;
	min-height: 100%;    
	background-size: cover;     
	background-attachment: fixed;     
	position:relative;
}

	#chara02 .wrap {
		padding:200px 0 0 0;
	}

	#chara02 .cr01,
	#chara02 .cr02,
	#chara02 .cr03,
	#chara02 .cr04,
	#chara02 .cr05,
	#chara02 .cr06,
	#chara02 .cr07,
	#chara02 .cr08,
	#chara02 .cr09,
	#chara02 .cr10,
	#chara02 .cr11,
	#chara02 .cr12,
	#chara02 .cr13,
	#chara02 .cr14,
	#chara02 .cr15,
	#chara02 .cr16,
	#chara02 .cr17,
	#chara02 .cr18 {
		position:absolute;
	}

	#chara02 .cr01 {
		top:30px;
		left:40px;
	}
	#chara02 .cr02 {
		top:90px;
		left:500px;
	}
	#chara02 .cr03 {
		top:310px;
		left:110px;
	}
	#chara02 .cr04 {
		top:370px;
		left:550px;
	}
	#chara02 .cr05 {
		top:480px;
		left:40px;
	}
	#chara02 .cr06 {
		top:660px;
		left:430px;
	}
	#chara02 .cr07 {
		top:815px;
		left:110px;
	}
	#chara02 .cr08 {
		top:915px;
		left:590px;
	}
	#chara02 .cr09 {
		top:1090px;
		left:45px;
	}
	#chara02 .cr10 {
		top:1160px;
		left:445px;
	}
	#chara02 .cr11 {
		top:1465px;
		left:160px;
	}
	#chara02 .cr12 {
		top:1530px;
		left:550px;
	}
	#chara02 .cr13 {
		top:1740px;
		left:10px;
	}
	#chara02 .cr14 {
		top:1860px;
		left:415px;
	}


/*-------------------------------------------------------------------------
	Navi
/*-----------------------------------------------------------------------*/

#navi {
	background-color: #008fd3;
}


