@charset "UTF-8";
/* page title setting   ===================================================== */


#contents-substance h3{
	float: right;
	width: 330px;
	font-size: small;
	font-weight: bold;
	color: #003cb4;
}

body#other #contents-substance div{
	padding-bottom: 70px;
}

#contents-substance div{
	width: 490px;
	padding-bottom: 15px;
	margin: 10px 0 20px 5px;
	border-bottom: 1px dashed #75d2f5;
}

#contents-substance p{
	float: left;
	width: 150px;
}

#contents-substance div ul{
	width: 490;
	margin: 0 5px 0 5px;
}

#contents-substance div ul li{
	padding: 0 0 0 160px;
	color: #003cb4;
}

