@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    Index
---------------------------------------- */

body {
	background: url(../img/common/bg2.jpg) center top no-repeat #f0f0f0;
	background-position: 5% auto;
	background-size: 100%;
}

#container {
    padding-top: 29%;
}

#sekai-kodomohaku {
    position: absolute;
    margin-top: -23%;
    top: 0;
    right: -2%;
    width: 25%;
}

section a,
section a:hover {
	color: #ff9600;
}

section h3 {
	margin: 2% 0;
	color: #ff9600;
	font-size: 1.2em;
}

section p {
	margin-top: 0;
}

section div {
    border-bottom: 1px solid #ff9600;
}

h2.public_attention{
	 padding-bottom: 15px;
    border-bottom: 1px solid #ff9600;
}

.annotation{
	color: #ffa000;
}