@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    faq.html
---------------------------------------- */

body {
	background: url(../img/common/bg2.jpg) center top no-repeat #f0f0f0;
	background-position: 5% auto;
	background-size: 100%;
}

#container {
    padding-top: 29%;
}

#sekai-kodomohaku {
    position: absolute;
    margin-top: -23%;
    top: 0;
    right: -2%;
    width: 25%;
}

section a,
section a:hover {
	color: #ff5064;
}

section h3 {
	margin-top: 2%;
	color: #ff5064;
	font-size: 16px;
}

section p {
	margin-top: 0;
}

section div {
    border-bottom: 1px solid #ff5064;
}

h2.public_attention{
	 padding-bottom: 15px;
    border-bottom: 1px solid #ff5064;
}


/* #faq
---------------------------------------- */

#faq h2.outline {
    color: #ff5064;
}

section h3 span{
	color: #ff5064;
	font-weight: bold;
	font-size: 18px;
}

#faq h3 {
	border-left: solid 7.5px #ff5064;
	padding-left: 7px;
}

#faq dl{
	margin-top: 2%;
}

#faq dt{
	margin-top: 3%;
	font-size: 16px;
	color: #ff5064;
}

#faq dd{
	margin-bottom: 6.2%;
}

#faq dd span{
	color: #969696;
}









