@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    Index
---------------------------------------- */

body {
	background: url(../img/common/bg2.jpg) center top no-repeat #f0f0f0;
	background-position: 5% auto;
	background-size: 100%;
}

#container {
    padding-top: 29%;
}

#sekai-kodomohaku {
    position: absolute;
    margin-top: -23%;
    top: 0;
    right: -2%;
    width: 25%;
}

section a,
section a:hover {
	color: #ff9600;
}

section h2 {
    border-bottom: 0px solid;
}

section h3 {
	margin-top: 2%;
	color: #ff9600;
	font-size: 18px;
}

section p {
	margin-top: 0;
}

section div {
    border-bottom: 1px solid #ff9600;
	margin-bottom: 0;
    padding-bottom: 0;
}

.noborder {
	border-bottom: 0;
}

.hallmap {
    display: none;
}

.id {
    width: 16%;
    font-weight: bold;
}

.id, .name, .category {
    float: left;
}
.name {
    width: 84%;
}

.name a {
    color: #ff9600;
    text-decoration: none;
}
.category {
    padding-bottom: 2%;
    clear: left;
    width: 100%;
    color: #969696;
    border-bottom: 1px solid #e6e6e6;
}
section .hallmap-sp {
    margin: 3% 0 2%;
    padding-bottom: 4%;
    display: block;
    color: #969696;
    border-bottom: 2px solid #ff9600;
}


