@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    
---------------------------------------- */

body {
	background: url(../img/common/bg2.jpg) center top no-repeat #f0f0f0;
	background-position: 5% auto;
	background-size: 100%;
}

#container {
	padding-top: 29%;
}

#sekai-kodomohaku {
    position: absolute;
    margin-top: -23%;
    top: 0;
    right: -2%;
    width: 25%;
}

section a,
section a:hover {
	color: #ff5064;
}

section h3 {
	margin-top: 2%;
	color: #ff5064;
	font-size: 16px;
}

section p {
	margin-top: 0;
}

section div {
    border-bottom: 0px solid #ff5064;
}

section h4 {
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #ff5064;
}

h2.public_attention{
	 padding-bottom: 15px;
    border-bottom: 1px solid #ff5064;
}


/* #public_event
---------------------------------------- */
section.event {
    margin-top: 0;
    padding: 6px;
    background: #ff5064;
    border-radius: 5px;
}

section.event > .company-name {
    margin: 0;
    padding: 2% 3% 3%;
    color: #fff;
    font-weight: normal;
}
section.event > .company-name > a {
    color: #fff;
}
section.event > .company-name span {
    padding-right: 10px;
    font-weight: bold;
}


section.event .info {
    padding: 5% 5% 1px;
    background: #fff;
    color: #000;
}
section.event .info h4 {
    margin: 0;
    font-size: 1em;
}

section.event .info dl {
    margin-bottom: 5%;
    position: relative;
}

section.event .info dt {
    padding-top: 2%;
    display: block;
    position: relative;
    font-weight: normal;
}
section.event .info dd {
    padding: 0 0 2%;
    margin-bottom: 2%;
    border-bottom: 1px solid #e6e6e6;
}

#public_event h2.outline {
    color: #ff5064;
}

.buyer_link{
	margin: 0;
	border: none;
	padding-bottom: 0;
}

.buyer_link a{
	color: #00b4cc;
}

.bdr_header{
	margin-top: 2%;
	border-left: solid 7.5px #ff5064;
	padding-left: 7.5px;
}
section h3.sp {
    margin-top: 2%;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    color: #ff5064;
}
section h3 span{
	color: #ff5064;
	font-weight: bold;
	font-size: 18px;
}

section.event .info dd:last-child {
    border-bottom: none;
}

.imgbox img {
	width: 100%;
}

#guide p {
	padding-top: 10px;
}
#guide p span {
	padding-top: 3px;
    color: #ff5064;
}

