@charset "UTF-8";

#contents-substance{
	float:right;
	width:660px;
}

#pageTitle{
	width:652px;
	height:50px;
	background:url("contents-substance/h1_line.gif") repeat-x left 32px;
}

/* clear fix */
#pageTitle{
	zoom:1;/*for IE 5.5-7*/
}
#pageTitle:after{/*for modern browser*/
	content:".";
	display: block;
	height:0px;
	clear:both;
	visibility:hidden;
}