@charset "UTF-8";

/* ===================================
	File Name   : preview.css
	Description : Preview Page Layout CSS
	Editors     : NS Sakamoto
	Create Date : 2012/02/14

	Update Description :
		2012/02/14 Append - Basic Styles [Sakurai]
		2012/02/14 File Create
====================================== */

/*========== Style Contents ==========

	1. Individual Redefinition
	2. Press Preview
	3. 
	4. Download Button
	5. 
	6. 
	7. 
	*. Clear Release
	
====================================== */





/*===== ■1. Individual Redefinition =====*/
/* Global Navigation */
#GlobalNavi li#Btn2011 a,
#GlobalNavi li#Btn2011 a:hover {background-position: -300px -151px;}


/* Title Setting */
h1 em {
	background: url(img/ttl_press-preview.html) no-repeat;
	width: 850px;
	height: 30px;
}






/*===== ■2. Press Preview =====*/
#PressPreview h2 {
	margin: 0;
}
#PressPreview ul {
	padding: 20px 0px 30px 0;
	clear: both;
}

#PressPreview ul li {
	margin: 0px 10px 10px 0;
	padding: 0;
	float: left;
}

#PressPreview ul li.title {
	margin: 20px 10px 20px 0;
	padding: 0;
	float: left;
}


/*===== ■3. 2011 WEB =====*/
#Btn2011_web {
	padding: 30px 0px 0px 40px;
}




/*===== ■4. Download Button =====*/
#BtnDownload {
	padding: 0px 0px 0px 40px;
}





/*===== ■5. =====*/





/*===== ■6.  =====*/





/*===== ■7.  =====*/





/*===== ■8.  =====*/






/*===== ■*.Clear Release  =====*/
#********************** {
	/zoom: 1;
}

#**********************:after {
	content: '';
	display: block;
	clear: both;
}
