body
{
    margin: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    line-height: 17px;
}
div#content
{
    width: 675px;
    margin: 0 auto;
}
.productListingLeft
{
    float: left;
    width: 100px;
    padding: 10px;
}
.productListingRight
{
    float: right;
    width: 530px;
    padding: 10px;
}
a
{
    color: #009BB6;
    text-decoration: none;
}
h3
{
    clear: both;
    padding-top: 1em;
}
div#bluebox
{
}
div#bluebox ul
{
    width: 675px;
    margin-left: auto;
    margin-right: auto;
    padding: 20;
    list-style-type: none;
    float: left;
    margin-right: 12px;
    background-color: #f4f7fe;
    border: 1px solid #d6dcef;
    padding: 20px 0 20px 0;
}
div#bluebox ul li
{
    float: left;
    width: 200px;
    padding-left: 13px;
    margin-bottom: 5px;
}
div#bluebox ul li a, div.blue_box ul li a:visited
{
    font-size: .9em;
    font-family: Tahoma;
    color: #2ba7c1;
    text-decoration: underline;
}

hr
{
    background: transparent;
    color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px dashed #000;
}
#fancyboxImageTitle
{
    text-align: left;
}

#fancyboxTitle
{
    display: block;
    margin-right: 80px;
}

#fancyboxClose1
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2em;
}
#fancyboxClose
{
    valign: bottom;
}
#fancyboxClose img
{
    border: none;
}
