@charset "utf-8";

/* ----------------------------------------
	faq.html
---------------------------------------- */

a {
	color: #f57606;
}
.page_link li {
	display: inline-block;
	float: left;
	margin-bottom: 5px;
}
.page_link li.space {
	margin-left: 5px;
}
h3 {
	margin-bottom: 20px;
}
#faqList li {
	padding: 30px 0;
	border-top: 1px solid #e6e6e6;
}