@charset "utf-8";

/* ----------------------------------------
	outline.html
---------------------------------------- */

dl {
	width: 626px;
	line-height: 21px;
}

dt {
	width: 160px;
	padding: 20px 0 20px 20px;
	float:left;
	border-top: #B4B4B4 dotted 1px;
}
dd {
	width: 430px;
	padding: 20px 0 20px 16px;
	float:left;
	border-top: #B4B4B4 solid 1px;
}
dl .no_border {
	border-style: none;
}
.bold {
	font-weight: bold;
}

.buyer {
	color: #6bc6fd;
}

.public {
	color: #e8458c;
}

p.outline_en {
	margin-bottom: 30px;
}
.outline_en a.btn {
	display: block;
	text-align: center;
}
.outline_en a.btn img {
	width: 300px !important;
}


#hotels dt,
#hotels dd{
	width: auto;
	padding: 0;
	float:none;
	border: none;
}

#hotels dt {
	font-weight: bold;
}
#hotels a {
	color: #f89f69;
}	
