@charset "utf-8";

/* ----------------------------------------
	public
---------------------------------------- */
#linkArea {
	margin-left: 5px;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 35px;
	margin-bottom: 35px;
}
#linkArea img {
	float: left;
	margin-left: 50px;
}

p.date {
	color: #e8458c;
	margin-bottom: 30px;
	font-weight: bold;
}

#contents_left .pics {
	width: 630px;
	margin: 40px auto;
}

#contents_left .pics img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}