@charset "utf-8";

/* ----------------------------------------
	result.html
---------------------------------------- */

#linkArea {
	margin-left: 5px;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 35px;
	margin-bottom: 35px;
	text-align: center;
}
#linkArea img {
	float: left;
	margin-left: 50px;
}
