* {
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  font: 0.8125em Arial, Helvetica, sans-serif;
  color: #3E3E3E;
  line-height: 1.3em;
}

/***************************************************

HEADER

***************************************************/
#header {
  position: absolute;
  top: 0;
  left: 0;
  background: url(images/login-header2.jpg) top left no-repeat #000000;
  width: 100%;
  height: 245px;
}

#header h1 {
  margin: 17px 51px 20px 52px;
}

#header h1 a {
  background: url(images/E3-logo.gif) no-repeat;
  display: block;
  width: 175px;
  height: 94px;
  text-indent: -5000em;
  text-decoration: none;
}

#header p{
  text-indent: -5000em;
}

#header #tagline {
  background: url(images/tagline.gif) no-repeat;
  width: 422px;
  height: 50px;
  position: absolute;
  top: 135px;
  left: 224px;
}

#header #tagline p {
  text-indent: -1000em;
}

/***************************************************

MAIN

***************************************************/

#main {
  width: 1000px;
  margin: 275px 0 0 0;
  padding: 0;
}

#main h1{
  font-size: 130%;
  color: #D25B43;
  padding-bottom: 10px;
}

#main p{
  padding-bottom: 10px;
}


/***************************************************

MAIN CONTENT (right)

***************************************************/
#main-content{
  float:right;
  width: 450px;
  margin:0 150px 0 0;
  padding:0;
  _position:absolute;
}

#main-content-alt{
  float:left;
  width: 1000px;
  margin:0 150px 0 0;
  padding:0;
}

#main-content h2{
  color: #444444;
  margin-bottom: 20px;
  font-size: 140%;
}

/***************************************************

SIDE CONTENT (left)

***************************************************/
#side-content{
  float:left;
  width: 400px;
}

#side-content a{
  font-weight: normal;
}


/* pod */

#login .pod-container {
  width: 296px;
  margin: 5px 0 25px 50px;
}

#login .pod-top {
  background: url(images/login-pod-top.gif) top left no-repeat;
  width: 296px;
  height: 5px;
}

#login .pod-top-error {
  background: url(images/login-pod-top-error.gif) top left no-repeat;
  width: 296px;
  height: 5px;
}

#login .pod-container h2{
  font-size: 140%;
  color: #444444;
  padding: 5px 12px 5px 12px;
}

#login .pod-content-error h2{
  font-size: 140%;
  color: #ffffff;
  padding: 5px 12px 5px 12px;
}

#login .loginErrorMessage{
  color: #FF7559;
}

#login .pod-container p{
  font-size: 100%;
  padding: 5px 12px 5px 12px;
}

#login .pod-content{
  color: #4B4B4B;
  width: 294px;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  background: url(images/login-pod-bg.gif) top repeat-x #EDEAE9;
  _margin-top: -9px;
  padding-bottom: 10px;
}

#login .pod-bottom{
  background: url(images/login-pod-bottom.gif) bottom left no-repeat #EDEAE9;
  width: 296px;
  height: 5px;
  clear: both;
}


#login .nonpod-container {
  width: 296px;
  margin: 5px 0 25px 50px;
}

#login .nonpod-top {
  /*background: url(images/login-pod-top.gif) top left no-repeat;*/
  width: 296px;
  height: 5px;
}

#login .nonpod-top-error {
  /*background: url(images/login-pod-top-error.gif) top left no-repeat;*/
  width: 296px;
  height: 5px;
}

#login .nonpod-container h2{
  font-size: 140%;
  color: #444444;
  padding: 5px 12px 5px 12px;
}

#login .nonpod-container p{
  font-size: 100%;
  padding: 5px 12px 5px 12px;
}

#login .nonpod-content{
  color: #4B4B4B;
  width: 294px;
  /*border-left: 1px solid #D9D9D9;*/
  /*border-right: 1px solid #D9D9D9;*/
  /*background: url(images/login-pod-bg.gif) top repeat-x #EDEAE9;*/
  _margin-top: -9px;
  padding-bottom: 10px;
}

#login .nonpod-bottom{
  /*background: url(images/login-pod-bottom.gif) bottom left no-repeat #EDEAE9;*/
  width: 296px;
  height: 5px;
  /*clear: both;*/
}

#login .pod-content-error{
  color: #FFF;
  width: 294px;
  border-left: 1px solid #BEBEBE;
  border-right: 1px solid #BEBEBE;
  background: #5A5A5A;
  _margin-top: -9px;
}

#login .pod-bottom-error{
  background: url(images/login-pod-bottom-error.gif) bottom left no-repeat #EDEAE9;
  width: 296px;
  height: 5px;
}

/* form */

#activation-code, #user-name, #password, #email, #pwd, #verify{
  position:relative;
  float:none;
}

#activation-code-field, #user-name-field, #password-field {
  width: 10em;
  height: 1.5em;
  background: #fff;
  border: 1px solid #C0C0C0;
}

#IncorrectInformation1_descriptionBox
{
   width: 20em;
   height: 10em;
}

#remember-checkbox{
  padding: 2px;
  width: 1em;
  height: 1em;
}

label.overlabel, label.overlabel-apply {
  padding: 5px 12px 5px 12px;
  position:absolute;
  top:3px;
  left:7px;
  _top: 4px;
  _left: -4px;
  color:#4B4B4B;
  font-size: 90%;
}

#login .submit1{
  margin: 10px 0 10px 230px;
  _margin-bottom: 0px;
  background: url(images/submit-button1.gif) no-repeat;
  outline: none;
  border: none;
  width: 55px;
  height: 25px;
}

#login .submit1:hover{
  background: url(images/submit-button1-over.gif) no-repeat;
}

#login .submit2{
  margin: 0 0 0 210px;
  background: url(images/submit-button2.gif) no-repeat;
  outline: none;
  border: none;
  width: 73px;
  height: 25px;
}

/***************************************************

FOOTER

***************************************************/

#footer{
  clear: both;
  color:#999999;
  margin-top: 15px;
  font-size: 85%;
}

#footer p{
  width: 1000px;
  text-align: center;
}

#footer a:link, #footer a:visited{
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 0 4px 0 4px;
}

#footer a:hover{
  text-decoration: underline;
}

dl {
  list-style:none;
  padding-left: 12px;
}

dl dt{
  float: left;
  width: 6em;
}

dt {
  font-weight: bold;
}

.nonpod-content dl dt{
  float: left;
  width: 9em;
}

.nonpod-content dt {
  font-weight: bold;
}

#create-login
{
float: left;
}

#account-information
{
float: left;
}

#incorrect-info-changes
{
float: left;
}