#forum table{
	clear: both;
	width: 560px;
	border-collapse: collapse;	
	margin: 25px 0 0 40px;
	text-align: left;
	color: #333333;
	border: #666 dotted 1px;

}

#forum tr{
	margin: 0;
}

#forum .td{
	width: 100px;
	text-align: left;
	vertical-align: top;
	height: 10px;
	background: /*url(../images/asi.gif) no-repeat*/ 3px 16px #333333;
	color: #FFFFFF;
	

	
}

#forum td{
	vertical-align: top;
	margin: 0;
	border-bottom: #666 dotted 1px;
	

	
}

#forum strong{
	margin: 10px 0 10px 40px;
	font-weight: bolder;
	color: #0066CC;
	font-size: 16px;
	display: block;
}

#forum .Lecture{
	width: 560px;
	border: #999999 1px solid;
	margin: 0 0 0 40px;

}

#forum .Lecture td{
	border: #999999 1px dotted;
	vertical-align: top;
	
}

#forum .Lecture td{
	width: 280px;
	vertical-align: top;
}

#forum .Lecture span{
	font-weight: bold;
	display: block;
	color: #003366;
}

#forum .Lecture .CategoryT{
	background: #ccc;
	color: #333333;
	font-weight: bold;
	text-align: center;
	height: 10px;
	_padding: 0px 0 0 120px;

}

#forum .Lecture .Category{
	background: #ccc;
	color: #333333;
	font-weight: bold;
	text-align: left;
}

#forum .Lecture th{
	background: #333;
	color: #FFFFFF;
	font-size: 12px;
	border: #999999 1px dotted;
	width: 30px;
	text-align: center;
}

#forum .Lecture .SubTitle{
	text-align: center;
	font-weight: bold;
}

#forum .Detail{
	width: 560px;
	border: #999999 1px solid;
}

#forum .Detail th{
	text-align: center;
	background: #333333	;
	color: #FFFFFF;
	border: #999999 1px solid;
}

#forum .Detail .Price{
text-align:right;
color: #990000;
font-weight: bold;
border-bottom: #999999 1px solid;
	
	
}

#forum .Detail .Time{
text-align: left;
color: #333333;
font-weight: bold;
border-bottom: #999999 1px solid;
	
}

#forum .Detail .SubTitle{
	background: #ccc;
	color: #333333;
	width: 530px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-weight: bold;
 }

#forum .Lecture .Normal{
	vertical-align: top;
}

#forum .TimeTable{
	text-align: right;
	font-size: 12px;
	color: #0066FF;
	margin: 20px 50px 0 0;
}

#forum .dotline{
	display: block;
	width: 240px;
	_width: 245px;
	border-bottom: dotted 1px #666666;
	height: 1px;
}

#forum td p{
	margin: 10px 0 0 0;
}

.Detail .Image{
	float: right;
	margin: 10px 20px 10px 5px;
}

td .Image{
	float: right;
	margin: 10px 20px 10px 5px;
}

.Detail .Name{
	font-weight: bold;
	line-height: 1.6;
	
}


#forum td .left{
	float: left;
	margin: -5px 0 0 0;
}

#forum td .right{
float: right;
}


#forum td .logo{
	margin: 0px 0px 0px ;
}

#forum .Lecture	 #sp{
	border: none;
}

#forum .Lecture #sp2{
	border: none;
}

#forum .Lecture #sp2 img{
margin: 0 0 10px 100px ;
}
.DotLines{
	border: 1px dotted #999999;
	padding: 0 0 0 0;
}