@charset "utf-8";
/* CSS Document */
ul{
	
}
	li.tw_sns2{
	margin-top: 3px;
	width: 90%;
	height: 44px;
	background: url(../img/campaign/bt01.png);
	background-size:contain;
	border-bottom: 0px;
	border-right: 0px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	
		

}

	li.tw_sns3{
	margin-top: 0px;
	width: 90%;
	height: 44px;
	background: url(../img/campaign/bt02.png);
	background-size:contain;
	border-bottom: 0px;
	border-right: 0px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
		

}

 .tw_sns2 a,.tw_sns3 a{
		 display: block;

		text-indent: -1000000px;
	
		padding-bottom: 10%;
	}
.kuro{
	color: #000000;
}
#contents_title_c{
width: 100%;
}
#contents_title_c img{
width: 100%;
	border: 0px solid #000000 !important;
}
.step_1{
	border: 1px solid #fbb03b;
	 border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 
	background: url(../img/campaign/st_back.png);
	background-position:bottom;
	margin-bottom: 2%;
	background-size:cover;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	
}

.step_2{
	border: 1px solid #f15a24;
	border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 
	background:url(../img/campaign/st_back.png);
	background-position:bottom;
	margin-bottom: 2%;
	background-size:cover;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	
}

.step_3{
	border: 1px solid #ed1c24;
	 border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 
	background: url(../img/campaign/st_back.png);
	background-position:bottom;
	margin-bottom: 2%;
	background-size:cover;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	
}

.cp_twitter{
	display: block;
	width:100% !important;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	

}

.triangle{
width: 0;
height: 0;
border-top: 25px solid #fbb03b; 
border-right: 25px solid transparent;
border-left: 25px solid transparent;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
}
.triangle1{
width: 0;
height: 0;
border-top: 25px solid #f15a24;
border-right: 25px solid transparent;
border-left:25px solid transparent;
	
		display: block;
	margin-left: auto;
	margin-right: auto;
		margin-bottom: 2%;

}

#shiro_main{
	background: #ffffff;
	border-top: 5px solid #c1272d;
	font: #000000;
	
}
.shiro_main{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.shiro_main h3{
background: #c1272d;
font-weight:bold;
font-size: 1.5em;
text-align: center;
		 border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 
	color: #ffffff;
	padding: 2%;
	margin-top: 2%;
	margin-bottom: 2%;

}
.shiro_main h4{
	color: #c1272d;
	border-bottom: 2px solid #c1272d;
	text-align: center;
	margin-bottom: 2%;
}
.shiro_main img{
	width: 100%;
}
.shiro_main_txt{
	color: #0071bc;
	font-weight: bold;
	font-size: 1.2em;
	
}
.red_yellow{
	width: 90%;
	background: #FF0000;
	font-weight: bold;
	color:#ffff00;
	font-size: 1.2em;
	text-align: center;
			 border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 

	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	
	
	
}

.kuro_main_txt{
	color: #000000;
	
}
.bl_waku,.bl_waku2{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background: #d7f4f9;
	border: 1px solid #0071bc;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2%;
			 border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 
color: #0071bc;
	font-weight: bold;


}





.oubo{
	width: 90%;
	background: #ffffff;
	margin-left: auto;
	margin-right: auto;
	padding: 2% 2% 0 2%;


	
}
.oubo h3{
	color: #ffff00;
}
.kuro_shiro_tex{
margin-bottom: 
	10%;
}
.kuro_shiro_tex li{
	color: #ffffff;
	text-indent: -1em;
	padding-left: 1em;
	
	
}
#contents_title h5{
	color: #ffffff
}
#contents_title h3{
	width: 90%;
	font-size: 1.5em;
	font-weight: bold;
	color: #ffff00;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
}
/* Small devices (tablets, 768px and up) */
	.shiro_main_txt{
	color: #0071bc;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center !important;
	
}
@media only screen and (min-width:  959px) {
	#contents_title_c{
width: 100%;
			display: inline-block;
		vertical-align: top;
			letter-spacing: -1em
}
	.step_1{
	border: 1px solid #fbb03b;
	 border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 
	background: url(../img/campaign/st_back.png);
	background-position:bottom;
	margin-bottom: 2%;
	background-size:cover;
	width: 30% !important;;
	margin-left: 0;
	margin-right: 0;
	display: inline-block;
		
			height: 300px;
			vertical-align: top;
}

.step_2{
	border: 1px solid #f15a24;
	border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 
	background:url(../img/campaign/st_back.png);
	background-position:bottom;
	margin-bottom: 2%;
	background-size:cover;
	width: 30% !important;;
	margin-left:0;
	margin-right:0;
		display: inline-block;
	height: 300px;
			vertical-align: top;
	
}

.step_3{
	border: 1px solid #ed1c24;
	 border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 
	background: url(../img/campaign/st_back.png);
	background-position:bottom;
	margin-bottom: 2%;
	background-size:cover;
	width: 30% !important;
	margin-left: 0;
	margin-right:0;
	display: inline-block;
		height: 300px;
			vertical-align: top;
	
}

.cp_twitter{
	display: block;
	width:100% !important;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	

}

.triangle{
width: 0;
height: 0;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent; 
border-left: 15px solid #fbb03b; 
	display:inline-block;
	margin-left: 1%;
	margin-right: 0;
	margin-bottom: 0;

	
}
.triangle1{
width: 0;
height: 0;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
border-left: 15px solid #f15a24;
	display:inline-block;
	margin-left:  1%;
	margin-right: 0;
		margin-bottom: 0;
	margin-top:13%;


}
	.shiro_main_txt{
	color: #0071bc;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	
}

}
@media only screen and (min-width: 1300px){

	#contents_title_c{
		width: 1200px !important;
		margin-left: auto!important;
		margin-right: auto!important;
	
		display: block;
					letter-spacing: -2em

	}

	.shiro_main{
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		
	}

	.oubo{
	width: 1200px;
	background: #ffffff;
	margin-left: auto;
	margin-right: auto;
	padding: 2% 2% 0 2%;


	
}
	.bl_waku{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	background: #d7f4f9;
	border: 1px solid #0071bc;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 20px;
			 border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 
color: #0071bc;
	font-weight: bold;
		text-align: center;
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
			vertical-align: top;

}
		.bl_waku2{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	background: #d7f4f9;
	border: 1px solid #0071bc;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 31px;
			 border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 
color: #0071bc;
	font-weight: bold;
		text-align: center;
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
			vertical-align: top;

}
	
	#contents_title_1300{
		width: 1050px !important;
	margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;

	}
	
	.triangle{
width: 0;
height: 0;
border-top: 20px solid transparent;
border-bottom: 20px solid transparent; 
border-left: 20px solid #fbb03b; 
	display:inline-block;
	margin-left: 1.5%;
	margin-right: 0;
	margin-bottom: 0;

	
}
.triangle1{
width: 0;
height: 0;
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
border-left: 20px solid #f15a24;
	display:inline-block;
	margin-left:  1%;
	margin-right: 0;
		margin-bottom: 0;
	margin-top:125px;


}
	.shiro_main h3{
background: #c1272d;
font-weight:bold;
font-size: 2em;
text-align: center;
		 border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 
	color: #ffffff;
	padding: 2%;
	margin-top: 2%;
	margin-bottom: 2%;

}
	
	.shiro_main h4{
	color: #c1272d;
	border-bottom: 2px solid #c1272d;
	text-align: center;
	margin-bottom: 2%;
		font-size: 1.4em;
		line-height: 130%;
}
	
	.red_yellow{
	width: 90%;
	background: #FF0000;
	font-weight: bold;
	color:#ffff00;
	font-size: 1.8em;
	text-align: center;
			 border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 

	margin-left: auto;
	margin-right: auto;
	padding: 2.5%;
	margin-top: 1%;
	margin-bottom:70px !important;
	
	
	
}
	.shiro_main_txt{
	color: #0071bc;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	
}
	.kuro{
		margin-bottom: 20px;
	}
	
		li.tw_sns2{
	margin-top: 5px;
	width: 314px;
	height: 44px;
	background: url(../img/campaign/bt01.png);
	background-size:cover;
	border-bottom: 0px;
	border-right: 0px;
	display: inline-block;
	
		

}

	li.tw_sns3{
	margin-top: 0px;
	width: 314px;
	height: 44px;
	background: url(../img/campaign/bt02.png);
	background-size:cover;
	border-bottom: 0px;
	border-right: 0px;
	display: inline-block;
	
		

}

 .tw_sns2 a,.tw_sns3 a{
		 display: block;

		text-indent: -1000000px;
	
		padding-bottom: 10%;
	}
	
}

