/* CSS Document */
#header{
xxxmargin-top: 90px;
	margin-top: 10px !important;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}
#logo1{
	margin-bottom: 2% !important;

}
#logo2{
margin-bottom: 0% !important;
		width: 95% !important;
	margin-left: auto;
	margin-right: auto;
	
}
#logo_s{width: 30%;
display: inline-block;
margin-left: 2%;
margin-right: 2%;}

#logo_a{width: 30%;
display: inline-block;
margin-left: 2%;
margin-right: 2%;}


#exhibition_infoBusiness{

	display: none;
	color:#ffffff;
}
#exhibition_infoNormal{
	display: none;
color:#ffffff;	
}
#exhibition_infoplace{
	display: none;
color:#ffffff;	
}
/*メイン*/
#container_title{
width: 100%;
	background: #000;

	padding-left: 0px !important;
	margin-top: 0px;
	color:#ffffff;
	
}
#container_title img{
	border: 1px solid #fff;
}
/*pan*/
#pan{

width: 100%;
	background: #000;
	border-top: 1px solid #666;
	padding-top: 2%;
	margin-bottom: 10px;
	
}
#pan .pan_text{width: 90%;
margin-left: auto;
margin-right: auto}

#pan a{
	color:#fff;
}

/*タイトル第二階層*/
#title_st,#title_st_map,#title_st_goods,#title_st_stage,#title_st_photo,#title_st_campaign{
width: 100%;
background: #ffff00;
}


#title_st h2{
background-image: url(../img/h01_sm.png);
	background-size:contain; 
background-color: #FFFF00;
	height: 50px;
	background-repeat: no-repeat;
	margin-bottom: 2%;
	display: block;
	text-indent: -100000px;
}

#title_st_goods h2{
background-image: url(../img/h02_sm.png);
	background-size:contain; 
background-color: #FFFF00;
	height: 50px;
	background-repeat: no-repeat;
	margin-bottom: 2%;
	display: block;
	text-indent: -100000px;
}


#title_st_stage h2{
background: url(../img/h04_sm.png);
	background-size:contain; 
background-color: #FFFF00;
	height: 50px;
	background-repeat: no-repeat;
	margin-bottom: 2%;
	display: block;
	text-indent: -100000px;
	
}

#title_st_campaign h2{
background: url(../img/h03_sm.png);
	background-size:contain; 
background-color: #FFFF00;
	height: 50px;
	background-repeat: no-repeat;
	margin-bottom: 2%;
	display: block;
	text-indent: -100000px;
	
}

#title_st_photo h2{
background: url(../img/h06_sm.png);
	background-size:contain; 
background-color: #FFFF00;
	height: 50px;
	background-repeat: no-repeat;
	margin-bottom: 2%;
	display: block;
	text-indent: -100000px;
	
}

#title_st_map h2{
background: url(../img/h05_sm.png);
	background-size:contain; 
background-color: #FFFF00;
	height: 50px;
	background-repeat: no-repeat;
	margin-bottom: 2%;
	display: block;
	text-indent: -100000px;
	
}


			/*タイトルロゴ 2*/
	
.title_logo_img{
	margin: 0px;
	padding: 0px;
	padding-left: 4%;
}

	.title_logo_img > li{
	margin: 0px;
list-style-type : none;  
		padding: 0px;
		display: inline-block;
		width: 48% !important;
		margin-bottom: 2%;
		vertical-align: top;
	}

		.title_logo_img > li > a >img{
		border: solid 1px #000000;
}
.title_logo_img > li > a:hover{
opacity: 0.6;	
}
.title_logo_img h3{
font-size:1.3em;
	display: block;
	margin-bottom: 5px;
	
}
.info_etc_bt{
width: 100%;	
}
.info_etc_bt h4{
display: inline;	
}
.info_etc_bt_img{
display: inline-block;
width:  30px !important;
}
.info_etc_bt_img img{
	width: 100%
}
.info_etc_bt_img2{
display: inline-block;
width:  40px !important;
}
.info_etc_bt_img2 img{

width: 100%}

h4{

}
/*アイコン説明*/	
	.icon_st{
		margin-top:10px;
		width:95%;
		margin-left:2%;
		margin-right:5%;
		text-align:left;
		line-height:150%;
		margin-bottom: 2%;
		}
.magin_12{
	margin-bottom:2px;
	width:25px !important;


	}
.co00{
	display:inline-block;
width:auto;
	
	}


.icon_sl{
	display:inline-block;
	width:160px;
	}



.font_w{
	color:#ffffff;
	}


.talin_r{
	text-align:right;
	display:inline-block;
	width:100%;
	}



#header{
margin-top: 90px !important;
	width: 100% !important;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}
.magin_left10{margin-left: 10px;}
.magin_right10{margin-right: 10px;}
#logo1{
	margin-bottom: 20px!important;
}
#logo2{
margin-bottom: 10px!important;
	width: 90% !important;
	margin-left: auto;
	margin-right: auto;
	}
#logo_s{width: 20%!important;
display: inline-block;
margin-left: 2%;
margin-right: 2%;}
#logo_a{width: 20%!important;
display: inline-block;
margin-left: 2%;
margin-right: 2%;}



#exhibition_infoBusiness{
	display:inline !important;;
color:#ffffff;
}
#exhibition_infoNormal{
color:#ffffff;	
		display:inline !important;
}
#exhibition_infoplace{
color:#ffffff;	
		display:inline !important; 
}

.icons{
		margin-top: 4%;
	}
/* Large devices (large desktops, 1300px and up) */
@media (min-width: 1300px ) {
/*pan*/
#pan{

width: 100%;
	background: #000;
	padding-top: 10px;

	
}
#pan .pan_text{width: 1100px !important;
margin-left: auto;
margin-right: auto}
	/*heder*/
#header{
margin-top: 70px !important;	
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

/*タイトル*/	
	
	#title_st,#title_st_map,#title_st_goods,#title_st_stage,#title_st_photo,#title_st_campaign{
width: 100%;
background: URL("../img/back_h.png") repeat-x ;
	}
	

#title_st h2,#title_st_stage h2,#title_st_goods h2,#title_st_map h2,#title_st_photo h2,#title_st_campaign h2{	
	margin: 0px;
	padding: 0px;
	padding-right: 2%;
	margin-left: auto!important;
	margin-right: auto!important;
	width: 1300px !important;
	color: #141C6B;
	display: block;
		height: 75px;
	font-size: 1em;
	}
#title_st_stage h2{	background: URL("../img/h04.png") no-repeat center 0px;}
#title_st_goods h2{background: URL("../img/h02.png") no-repeat center 0px;}	
#title_st h2{background: URL("../img/h01.png") no-repeat center 0px;}
#title_st_map h2{background: URL("../img/h05.png") no-repeat center 0px;}
#title_st_photo h2{background: URL("../img/h06.png") no-repeat center 0px;}
#title_st_campaign h2{background: URL("../img/h03.png") no-repeat center 0px;}	
	
	

	.magin_left10{margin-left: 10px;}
.magin_right10{margin-right: 10px;}
#logo1{
	margin-bottom: 15px;

	
}
#logo2{
margin-bottom: 5px;
	width: 600px !important;
	margin-left: auto;
	margin-right: auto;
	}
#logo_s{width: 132px !important;
display: inline-block;
margin-left: 2%;
margin-right: 2%;}
#logo_a{width: 128px !important;
display: inline-block;
margin-left: 2%;
margin-right: 2%;}
	
#exhibition_infoBusiness{
color:#ffffff;


}
#exhibition_infoNormal{
color:#ffffff;	

}
#exhibition_infoplace{
color:#ffffff;	

}
		/*タイトルロゴ*/
	
	.title_logo_img > li{

		display: inline-block;
		width: 270px !important;
	
	}

		.title_logo_img > li{
 
		margin-right:10px !important;		
}	
	

	
			.title_logo_img li:nth-child(4n+1){
 
		margin-right:0px !important;
				margin-left: 0px;}
		
	/*アイコン説明*/	
	.icon_st{
		margin-top:10px;
		width:94%;
		margin-left:3%;
		margin-right:2%;
		text-align:right;
		line-height:150%;
		margin-bottom: 2%;
		}
.magin_12{
	margin-bottom:2px;
	width:25px !important;


	}
.co00{
	display:inline-block;
width:auto;
	
	}


.icon_sl{
	display:inline-block;
	width:160px;
	}

	

.font_w{
	color:#ffffff;
	}


.talin_r{
	text-align:right;
	display:inline-block;
	width:100%;
	}

}