
/* ----------------------------------------
	fontsize_s
---------------------------------------- */

section {
	font-size: 12px;
}

/* ----------------------------------------
	header
---------------------------------------- */

li.small a {
	color: #ffffff;
    background: #3c3c3c;
}
