@charset "utf-8";
/* CSS Document */


/* ----------------------------------------
    main
---------------------------------------- */
header {
    position: relative;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
    z-index: 1;
}
#datePc {
	background: #FFF001;
    padding: 30px 0;
    text-align: center;
    height: 180px;
    margin: 0;
}
#datePc .dateInner {
    width:980px;
    margin:auto;
    position: relative;
}
#datePc .dateImg {
	width: 980px;
    margin: auto;
}
#datePc .covid19 {
    position: absolute;
    left: 250px;
    top: 66px;
}

#gnav {
    padding: 10px 0;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
}
#gnav li a,
#gnav li a:hover {
	padding: 12px 0;
}

#main {
    margin: auto;
    position: relative;
    width: 980px;
    height: 615px;
    background: url(../img/index/kv.jpg) no-repeat center top;
    background-size: 1200px;
}

#container {
    padding: 60px 0 270px;
}

section .frame3 {
    margin: 0;
}

section.outline dl {
	position: relative;
}
.outline dt {
    position: absolute;
    left: 0;
    padding: 13px 0;
}
.outline dd {
    display: block;
    border-top: 1px solid #e6e6e6;
    padding-left: 7em;
    padding: 13px 0 13px 7em;
}
section.outline .frame3+dl dd:last-child {
    border-bottom: 1px solid #e6e6e6;
}
.outline .frame3 {
	margin-top: 0;
}
.outline span.buyer {
	font-weight: bold;
	color: #00b4dc;
}
.outline span.public {
	font-weight: bold;
	color: #ff5064;
}

section li {
	float: left;
	width: 200px;
    margin-right: 15px;
}
section li:last-child {
	margin: 0;
}
section li img {
	width: 100%;
}


.resultPc {
	position: absolute;
    bottom: 70px;
    left: 0;
    width: 495px;
    height: 180px;
}
.end_buyer {
	background: url(../img/index/btn_result_buyer.png) left bottom no-repeat;	
}
.end_all {
	background: url(../img/index/btn_result.svg?2022) left bottom no-repeat;	
}
.resultPc li {
	float: left;
}
.resultPc li a {
    display: block;
    width: 145px;
    height: 140px;
	margin: 20px 0;
}
.resultPc #result_buyer {
	margin-left: 20px;
}
.resultPc #result_public,
.resultPc #result_all {
	margin-left: 10px;
}
#main #end {
    position: absolute;
    top: 220px;
    right: auto;
    width: 440px;
}

.resultSp {
	display: none;
}

section.buyer h3 img {
	width: 590px;
}
section.public h3 img {
	width: 380px;
}

.indent-rev-1 {
    padding-left: 1em;
    margin-bottom: 0 !important;
}

.ma0 {
    margin:0 !important;
}