section h3 img {
	height: 30px;
}

.prevention3 img {
	height: 70px;
}

.consern_corona2 li {
    margin-left: 24px;
}

.consern_corona li {
    margin-left: 35px;
}

section div.request_visitors,
section div.prevention3,
section div.other_prevention{
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #fbc600;
}

