@charset "utf-8";
/*
===========================================================================

	Title : visitor.css

===========================================================================
*/


/* *********************************************
*
*	PC view
*	
********************************************* */

/*幅設定*/
#wrapper .cntBox {
	width: 980px !important;
}

#wrapper .boxInner .gbox {
	background: #5ab7ac;
	color: #fff;
	font-size: 15px;
	padding: 0 7px;
	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
	position: relative;
	top: -2px;
	font-weight: bold;
}
#wrapper .boxInner .sien {
	text-align: center;
	margin:0 auto 12px;
}
#wrapper .sien .boxInner table {
	width: 716px;
	border: none!important;
	margin: 20px auto 10px;
	padding: 0!important;
	text-align: center;
}
#wrapper .sien .boxInner td {
	padding: 0!important;
	border: none!important;
}
.lnk_icon {
	padding: 1px 2px;
}


/* *********************************************
*
*	SP view
*	
********************************************* */


@media screen and (max-width:769px) {

/*幅設定*/
#wrapper .cntBox {
	width: 100% !important;
}
#wrapper .boxInner .gbox {
	display: inline-block;
	padding: 3px 5px;
	position: relative;
	top: 3px;
}
#wrapper .sien .boxInner table {
	width: 100%;
	margin: 20px 0 0px;
}

#wrapper .sien .boxInner td {
	width: 100%;
	padding: 0;
	margin-bottom: 5%;
}
#wrapper .sien .boxInner td img {
	width: 100%;
	height: auto;
}


}
