
/* ----------------------------------------
	fontsize_s
---------------------------------------- */

#contents_inner {
	font-size: 12px;
}

/* ----------------------------------------
	header
---------------------------------------- */

#fontsize_s {
	color: #D2DCD7;
}

#fontsize_m {
	color: #6E8282;
}

#fontsize_l {
	color: #6E8282;
}


