   #SectionHomePageBodyLinks{
   position:relative;
    margin-top:30px;
    margin-left:15px;
    margin-right:14px;
    width:197px;
    background-color:#E2E1D6;    
   }  
   
     a.SectionHomePageBodyLink{
    font-family:verdana; 
    font-size:10px; 
    font-weight:normal;     
    color:#555550; 
    text-decoration:none;
    text-transform: uppercase;
  }    
  a.SectionHomePageBodyLink:Hover{
    font-family:verdana; 
    font-size:10px; 
    font-weight:normal;     
    color:#C2B668; 
    text-decoration:none;
    text-transform: uppercase;
  }  

  #SectionHomepageLinksLeft{
   position:absolute;
  top:258px;
  } 

 /* Begin background colors */     
#LeftColor4 {
    position:absolute;
	left:0px;
    top:285px;
	width:50%;
    height:14px;
	background-color:#FFFFFF;
}  

/* End background colors*/
  

 /* Begin header buttons */
 #HeaderButton1 {
    position:absolute;
	left:50%;
	top:106px;
	margin-left:-321px;
	} 
 #HeaderButton2 {
    position:absolute;
	left:50%;
	top:171px;
	margin-left:-321px;
	} 
 #HeaderButton3 {
    position:absolute;
	left:50%;
	top:236px;
	margin-left:-321px;
	}          
/* End header buttons */
     
  /* Begin header buttons */
 #HeaderButton1Text {
    position:absolute;
	left:50%;
	top:132px;
    width:300px;
    height:60px;
	margin-left:-290px;
	} 
 #HeaderButton2Text {
    position:absolute;
	left:50%;
	top:195px;
    width:300px;
    height:60px;
	margin-left:-290px;
	} 
 #HeaderButton3Text {
    position:absolute;
	left:50%;
	top:260px;
    width:300px;
    height:60px;
	margin-left:-290px;
	} 
.TopButtonLink{
    font-family:verdana; 
    font-size:9px; 
    font-weight:normal;     
    color:#ffffff; 
    text-decoration:none;
    }               
/* End header buttons */   
 /* Begin Layout Layers */     
#SecondaryPageContent{
    position:absolute;
    width:100%;    	
    top:299px;
    background-color:#ffffff;
    }      
 /* End Layout Layers */      




