@charset "UTF-8";

/*----- html5 -----*/

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

/*----- reset -----*/

* {
	font-size: 100%;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

img {
	border: none;
	margin: 0px;
	padding: 0px;
	vertical-align: bottom;
}

a img {
	border: none;
}

li {
	list-style: none;
}

strong {
	font-weight: bold;
}

h1,h2,h3,h4 {
	font-weight:normal;
	font-size:100%;
}

a:link,
a:visited {
	color:#000000;
	text-decoration:underline;
}

a:hover,
a:active {
	color: #000000;
	text-decoration: none;
}



#footer a:hover img,
.navi a:hover img,
.game_list .center ul li p.img a:hover img,
.game_list .center ul li p.title a:hover img
{
	filter: alpha(opacity=60);
	-moz-opacity:0.60;
	opacity:0.60;
}

#footer a:hover img.imgover,
.navi a:hover img.imgover,
#footer_info a:hover img
{
	filter: alpha(opacity=100);
	-moz-opacity:1.00;
	opacity:1.00;
}

object,
object:focus{
    outline:none;
}


/*----- class -----*/

.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}

.clearfix{
	display:inline-block;
	}

/*hides IE-mac \*/
*html .clearfix{height:1%}
.clearfix{display:block;}
/*hide  IE-mac */

/* ---- font -----*/

html {
	font: 10px/1.231 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	*font-size: x-small; /* Win IE7およびWin IE6標準準拠モード向け */
	*font: x-small; /* Win IE 5-5.5､6(後方互換モード)向け */
	color:#000;
}

:first-child + html body {
    font-size: 100%;
}

* html body {
    font-size: 100%;
}