@charset "UTF-8";
/* contents-topics   ===================================================== */
#contents-topics{
	float:left;
	width:220px;
	background:url(contents-topics/contents-topics.gif) left top no-repeat #a60303;
	padding:20px 10px;
}

/* h2 */
#contents-topics h2{
	width:210px;
	height:37px;
	margin:0 5px;
	background:url(contents-topics/h2.gif) no-repeat left top;
	
	text-decoration:none;
	text-indent:-9999px;
	overflow:hidden;
	line-height:0;

	font-size:0;	
}

/* h3 */
#contents-topics h3{
	width:210px;
	padding:5px;
	background:url(contents-topics/h3.gif) no-repeat left top;
}

/* p */
#contents-topics p{
	display:block;
	width:210px;
	padding:0 5px 5px 5px;
	margin-bottom:1em;	
	background:url(contents-topics/p.gif) no-repeat left bottom;
	color:#fff;
	line-height:1.2em;
}


/* span */
#contents-topics p span{
	color:#fff;
	font-weight:bold;
}