/* all-substance   ===================================================== */
#all-substance{
	width:540px;
	padding:20px 15px 100px;
	float:right;
}

/* h1 */
#all-substance h1{
	clear:both;
	width:540px;
	height:84px;
	margin:0 0 20px; 
	background:url(all-substance/h2_bg.gif) no-repeat;
	overflow:hidden;
	
	text-align:center;
	line-height:84px;
	font-size:x-large;
}

#all-substance h2 a,
#all-substance h2 a:visited {
	font-size:x-large;
	color:#f90;
	text-decoration:underline;
}
#all-substance h2 a:hover,
#all-substance h2 a:active {
	color:#0cf;
	text-decoration:none;
}

/* h2 */
#all-substance h2{
	clear:both;
	width:490px;
	height:68px;	
	min-height:68px;
	margin:20px 15px 0;
	padding:15px 0 0 15px;
	background:url(all-substance/h3_bg.gif) no-repeat;
	font-size:110%;
	font-weight:bold;
}

#all-substance h2 a,
#all-substance h2 a:visited {
	font-size:100%;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}

#all-substance h2 a:hover,
#all-substance h2 a:active {
	color:#0cf;
	text-decoration:none;
}

/* h3 */
#all-substance h3{
	clear:both;
	margin:0 30px 0 60px;
	font-weight:bold;
	border-bottom:#fff dotted 1px;
}

/* p */
#all-substance p{
	padding:0 30px 1em 60px; 
	text-indent:1em;
}

/* form */
#all-substance form{
	padding:0 30px 1em 60px; 
}


/* img */
#all-substance p img{
	float:right;
	margin:5px 0 10px 10px;
}

/* ul,ol */
#all-substance ul,
#all-substance ol{
	clear:both;
	padding:0 30px 1em 80px;
}

#all-substance ul li,
#all-substance ol li{
	display:list-item;
	padding:0 0 0.5em 0;
}

#all-substance ul li{
	list-style:outside disc;
}


#all-substance ol li{
	list-style:outside decimal;
}
	

/*blockquote*/
#all-substance blockquote{
	clear:both;
	display:block;
	width:488px;
	
	margin:1em 15px;
	padding:0;

	background:#2a1616 url(all-substance/blockquote_bg.gif) no-repeat top left;
	border:1px dotted #fff;
}

#all-substance blockquote p{
	padding:10px 10px 10px 80px;
}


/*table*/
#all-substance table{
	clear:both;
	width:445px;
	margin:0 30px 20px 60px;
	
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	
	border-spacing:0;


}

#all-substance th{
	background:#3d4640;
	vertical-align:top;
	text-align:center;
	font-weight:bold;
}

#all-substance th,#all-substance td{
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:0.2em 0.2em 0.2em 0.5em;
}


/* #caption */
#all-substance #caption{
	clear:both;
	display:block;
	width:487px;
	
	margin:1em 15px;
	padding:0;
	
	border-left:3px solid #000;
	
}


#all-substance #caption p{
	padding:0px 10px;
	text-indent:0;
}



/*#serchpage*/
#all-substance #serchpage{
	padding:0 0 400px;
}


#all-substance div#serchpage div{
	padding:0px 30px 0px 60px; 
}

/* strong em */
#all-substance p strong{
	font-weight:bold;
	color:#f66;
}

#all-substance p em{
	font-weight:bold;
	color:#fff;
}

