/* 枠 */
div#menu {
	margin: 0px auto;
	padding: 4px 0px 0px 8px;
	width: 792px;
	clear: both;
	height: 56px;
	text-align: left;
	background-image: url(../img/menu_bg.gif);
	background-repeat: no-repeat;
}

/* 共通 */
ul.menubtn{
	width:100%;
	margin:0px;
	padding:0px;
	float: left;
}

ul.menubtn li{
	list-style:none;
	float:left;
	padding:0px;
	margin:0px;
	width:98px;
	height:50px;
}


/* セガブース概要 */
.btn_about{
	background:url(../img/menu_abuot_off.gif) no-repeat;
	position: relative;
}

.btn_about a{
	background:url(../img/menu_abuot_off.gif) no-repeat;
	display:block;
}
.btn_about a:hover {
	background:url(../img/menu_abuot_on.gif) no-repeat;
}


/* ラインナップ（SEGA） */
.btn_lineup{
	background:url(../img/menu_lineup_off.gif) no-repeat;
	position: relative;
}

.btn_lineup a{
	background:url(../img/menu_lineup_off.gif) no-repeat;
	display:block;
}
.btn_lineup a:hover {
	background:url(../img/menu_lineup_on.gif) no-repeat;
}

/* ラインナップ（パートナーズ） */
.btn_lineup_partners{
	background:url(../img/menu_lineup_partners_off.gif) no-repeat;
	position: relative;
}

.btn_lineup_partners a{
	background:url(../img/menu_lineup_partners_off.gif) no-repeat;
	display:block;
}
.btn_lineup_partners a:hover {
	background:url(../img/menu_lineup_partners_on.gif) no-repeat;
}

/* ステージイベント */
.btn_stage{
	background:url(../img/menu_stage_off.gif) no-repeat;
	position: relative;
}

.btn_stage a{
	background:url(../img/menu_stage_off.gif) no-repeat;
	display:block;
}
.btn_stage a:hover {
	background:url(../img/menu_stage_on.gif) no-repeat;
}

/* セガブースレポート */
.btn_report{
	background:url(../img/menu_report_off.gif) no-repeat;
	position: relative;
}

.btn_report a{
	background:url(../img/menu_report_off.gif) no-repeat;
	display:block;
}
.btn_report a:hover {
	background:url(../img/menu_report_on.gif) no-repeat;
}

/* セガ特派員募集 */
.btn_correspondent{
	background:url(../img/menu_correspondent_off.gif) no-repeat;
	position: relative;
}

.btn_correspondent a{
	background:url(../img/menu_correspondent_off.gif) no-repeat;
	display:block;
}
.btn_correspondent a:hover {
	background:url(../img/menu_correspondent_on.gif) no-repeat;
}

/* グッズプレゼント */
.btn_present{
	background:url(../img/menu_present_off.gif) no-repeat;
	position: relative;
}

.btn_present a{
	background:url(../img/menu_present_off.gif) no-repeat;
	display:block;
}
.btn_present a:hover {
	background:url(../img/menu_present_on.gif) no-repeat;
}

/* プロモムービー */
.btn_movie{
	background:url(../img/menu_movie_off.gif) no-repeat;
	position: relative;
}

.btn_movie a{
	background:url(../img/menu_movie_off.gif) no-repeat;
	display:block;
}
.btn_movie a:hover {
	background:url(../img/menu_movie_on.gif) no-repeat;
}




/* LIVE視聴 =================================================================== */
/* 枠 */
div#live {
	margin: 0px auto 0px 0px;
	padding: 0px;
	width: 97px;
	clear: both;
	height: 40px;
	text-align: left;
}

/* 共通 */
ul.livebtn{
	width:100%;
	margin:0px;
	padding:0px;
	float: left;
}

ul.livebtn li{
	list-style:none;
	float:left;
	padding:0px;
	margin:0px;
	width:97px;
	height:35px;
}


/* LIVE視聴 */
.btn_live{
	background:url(../stage/img/btn_onair_off.gif) no-repeat;
	position: relative;
}

.btn_live a{
	background:url(../stage/img/btn_onair_off.gif) no-repeat;
	display:block;
}
.btn_live a:hover {
	background:url(../stage/img/btn_onair_on.gif) no-repeat;
}
