@charset "utf-8";
/* CSS Document */

section {
  border-bottom: none;
}
section p {
    padding: 0;
}
section h3 {
    margin: 2% 0;
    color: #ff9600;
    font-size: 1.2em;
}
section .frame {
    margin-bottom: 5%;
}
.route_map {
    margin-bottom: 4%;
}
.annotation {
    color: #ffa000;
    margin-top: 3%;
    margin-bottom: 0;
    padding-top: 3%;
    border-top: 1px solid #ffa000;
}
.intro {
    text-align: center;
}
.intro img {
    width: 60%;
    margin: auto;
}
.intro p {
    margin: 6% auto 0;
    text-align: left;
}
.intro p span>img {
    width: 270px;
    margin-bottom: 10px;
}
#award_list {
  padding: 3%;
  background: url(../../img/award/bg.jpg) repeat-y;
}
#award_list .award_list_inner {
  padding: 3%;
  background: url(../../img/award/bg_blue.html) repeat;
  background-size: 15%;
}
#award_list h3 {
    margin: 0 auto 5%;
}
#award_list h3>img  {
  display: block;
  width: 82%;
  height: auto;
}

#award_list h4 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}
#award_list .list_ttl {
	display: none;
}
#award_list .edu_toy {
  width: 100%;
  display: block;
}
#award_list .comment {
    margin-bottom: 0;
}
#award_list li {
    margin-bottom: 3%;
}
#award_list li>img {
  display: block;
}
#award_list dl{
	margin-bottom: 7px;
}
#award_list dt {
  position: absolute;
  padding: 5px;
  color: #fff;
  font-size: 12px;
  line-height: 1.4;
  width: 23%;
  text-align: center;
}
#award_list dd {
  padding-left: 32%;
  margin-bottom: 2px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5a0000+40,ffffff+40 */
  background: #5a0000; /* Old browsers */
  background: -moz-linear-gradient(left, #5a0000 32%, #ffffff 32%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #5a0000 32%,#ffffff 32%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #5a0000 32%,#ffffff 32%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a0000', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	
}
#award_list dd:nth-child(6) {
    min-height: 3.4em;
}
#award_list .edu_toy,
#award_list .chara_toy,
#award_list .basic_toy,
#award_list .next_toy,
#award_list .comu_toy {
    margin-bottom: 30px;
}
#award_list dd>div {
    background: #fff;
    padding: 5px 10px;
    font-size: 12px;
}
.award_list_inner p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
    word-wrap: break-word;
}

#movie {
    margin-top: 0;
}
#movie iframe {
	width: 100%;
}


#app {
  position: relative;
}
#app .step1 {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 21%;
    height: 0;
    margin-top: 37%;
    margin-left: 53%;
    padding-bottom: 22%;
}
#app .step2 {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 50%;
    height: 0;
    margin-top: 93%;
    margin-left: 5%;
    padding-bottom: 5%;
}

#movie h3 img.sp {
  display: block;
}

.pc {
  display: none !important;
}


.intro img {
    width: 100%;
    margin: auto;
}
  
#award_list .notice {
  font-weight:bold;
  text-decoration:underline;
}
.intro .tit_about_award {
  display: block;
  height: 22px;
  width: auto;
  margin: 0 0 10px;
}
.intro .tit_about_deside {
  display: block;
  height: 22px;
  width: auto;
  margin: 20px 0 10px;
}
