@charset "utf-8";
/* CSS Document */

body {margin:0; padding: 0;font-size: 12px; line-height: 1.4;}

p {margin: 5px;}

h4 {font-size: 14px; border-left: solid 3px #e62e87; margin: 5px 0 10px 5px; padding: 4px 8px;}
.content {width: 550px;}
table {
	width: 530px;
	margin: 0 auto 20px;
	font-size: 12px;
	line-height: 1.6;
	border-top: #dadada dotted 1px;
	border-collapse:collapse;

}

table th {
	vertical-align: middle;
	white-space: nowrap;
	padding: 5px;
	background: url(/tgs/2010/common/img/bg_table_th_blue.gif) no-repeat right bottom;
	color: #666;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	
	
}


table td {
	padding: 5px 10px;
	background: url(/tgs/2010/common/img/bg_table_td.gif) no-repeat right bottom;
	text-align: left;
	vertical-align: middle;
}

table td span.blk {
	padding: 2px 4px;
	margin: 0 10px 6px 0;
	background: #e62e87;
	text-align: left;
	color: #FFF;
	line-height: 2.2;
	font-size:10px;
}

table td span.theme1 {
	margin: 10px 0 0 0;
	padding: 3px;
	color: #FFF;
	font-size:16px;
	font-weight: bold;
	background: #C06;
}

table td span.theme2 {
	margin: 15px 0 0 0;
	color: #C06;
	font-size:14px;
	font-weight: bold;
}


table td dl {
	width: 700px;
	padding: 0;
	text-align: left;
}

table td dt {
	text-align: center;
	padding: 3px;
	color:#fff;
	font-size: 14px;
	font-weight: bold;
	text-indent: 0;
	clear: both;
}

table td dt.blue {
	background:#0099FF;
}

table td dt.green {
	background: #0C3;
}

table td dt.grass {
	background: #CF0;
	color: #000;
}

table td dd {
	background: none;
	clear: both;
	padding: 0 0 5px 10px;
}



