ul#sitemap-2 li{
	padding: 1px 0 1px 5px;
}
ul#sitemap-2 li li{
	padding: 1px 0 1px 5px;
}
ul#sitemap-3 li li{
	padding: 1px 0 1px 5px;
}
  #HeaderGraphic {
    position:absolute;
	left:50%;
	width:693px;
	top:106px;
	margin-left:-321px;    
    height:193px;
    background-color:#88BEE1;
	}   
/* Begin HTML Tags*/
p{
    vertical-align:top;
  } 
p sup{
    font-size:9px; 
    font-weight:bold;
}    
  
td{   
    color:#303A41;
    vertical-align:top;
  }   
/* End HTML Tags*/
    
 /* Begin background colors */
#LeftColor2 {
    position:absolute;
	left:0px;
    top:93px;
	width:50%;
    height:192px;
	background-color:#88BEE1;
}
  #LeftColor3 {
    position:absolute;
	left:0px;
    top:286px;
	width:50%;
    height:99px;
	background-color:#4C5F69;
} 

#LeftColor4 {
    position:absolute;
	left:0px;
    top:384px;
	width:50%;
    height:15px;
	background-color:#FFFFFF;
} 

#RightColor2 {
    position:absolute;
	right:0px;
    top:96px;
	width:50%;
    height:193px;
	background-color:#88BEE1;
}

#RightColor3{
    position:absolute;
	right:0px;
    top:289px;
	width:50%;
    height:100px;
	background-color:#4C5F69;
}
#RightColor4 {
	right:0px;
    top:0px;
	width:100%;
    height:28px;
	background-color:#718893;
    } 
#RightColor5 {
	right:0px;
    top:28px;
	width:100%;
    height:60px;
	background-color:#55636C;
    }  

#RightColor6 {
	right:0px;
    top:88px;
	width:100%;
    height:137px;
	background-color:#ED6003;
    }  

#RightColor7 {
	right:0px;
    top:425px;
	width:100%;
    height:161px;
	background-color:#DB4228;
    }      
  /* End background colors*/
  
  
   /* Begin page elements */
  
 #GlobalNavigation {
    position:absolute;
	left:50%;
	width:693px;
	top:50px;
	margin-left:-321px;    
    height:28px;
	background-color:#D5E7F3;
	}   
   



    
#HomepageCalloutBox {
    position:absolute;
	left:50%;
	width:693px;
	margin-top:299px;
	margin-left:-321px;    
    height:100px;
	background-color:#576975;
	} 
 #HomepageCalloutBoxBanner {
	position:absolute;	
    left:10px;  
    top:0px;
	} 
 #HomepageCalloutBoxAd {
	position:absolute;	
    left:490px;  
    top:23px;
	} 	    
    
  #HomePageContent{
	position:absolute;
    width:100%;    	
    top:399px;
    background-color:#ffffff;
  }
  
   #HomePageDynamicText{
    width:335px;
    margin-top:30px;
    margin-left:27px;
    margin-right:30px;
    font-size:12px; 
  } 
   #HomePageSideNav{
   position:absolute;
   top:0px;
   left:50%;
   width:231px;
   margin-left:141px;
   background-color:#DB4228;
  }     
   #HomePageSideNavBackground{
    left:50%;
    margin-left:121px;
    width:231px;
    background-color:#DB4228;
  }    
   #Tagline{
    margin-top:30px;     
  }     
  

