/* Begin Side Navigation Area*/
    /* Arrow Column */
   .SideNavHREF{
   margin-top:-13px;
   padding-left:52px;
   margin-bottom:3px;
   }
   
   .LinkArrow{
    padding-left:11px; 
    }
    
    .Divider{
    margin-left:52px;
  }  
    
    #RightSideNavigation {
	width:231px;
    margin-top:35px; 
	}    
    #RightSideNavigationArrows {
	width:28px;
	}        
    #SideNavCorner1{
    position:absolute;
    padding-bottom:10px;
    background-color:#57666F;
	top:0px;  
    }         
    #SideNavCorner2{
    position:absolute;
    background-color:#ED6003;
    padding-bottom:109px;
	top:57px;  
    }
    #SideNavCorner3{
    position:absolute;
	top:186px;  
    }   
    #E3NewsArrrow{
    position:absolute;
    padding-left:11px;
	top:38px;
    background-color:#57666F;  
    }      
    #LoginArrrow{
    position:absolute;
    padding-left:11px;
	top:184px;  
    } 
    #LinkArrow1{
    position:absolute;
    padding-left:11px; 
    }
    #LinkArrow2{
    position:absolute;
    padding-left:11px;
    }
    #LinkArrow3{
    position:absolute;
    padding-left:11px; 
    }
    #LinkArrow4{
    position:absolute;
    padding-left:11px;
    }  
    
    /* Primary Column */
   #GreyHeader{
	height:28px;
    width:231px;
    background-color:#718893;  
    }
   #SideNavOrangeBackground{
    position:absolute;
    margin-top:88px;
	height:137px;
    width:231px;
    background-color:#ED6003;  
    }        
   #E3News{
    position:relative;
    padding-left:51px;
    padding-top:10px;
    padding-right:89px;
    padding-bottom:17px;    
    background-color:#57666F;  
    }
   #LoginTitle{
   position:relative;
    margin-left:51px;
    margin-top:8px;
    margin-bottom:0px;   
    background-color:#ED6003; 
    }     
    #UserNameLabel{
    position:relative;
    margin-left:52px;
    margin-top:9px;
    font-size:9px; 
    background-color:#ED6003;
    letter-spacing:1px; 
  }     
    #PasswordLabel{
    position:relative;
    margin-left:52px;
    margin-top:6px;
    background-color:#ED6003;
    font-size:9px; 
    letter-spacing:1px; 
  }  
    #LoginUserName{
    position:relative;
    margin-top:1px;
    width:108px;
    height:13px;
    margin-left:52px;
    font-size:9px;   
  }   
    #LoginPassword{
    position:relative;
    margin-top:1px;
    width:108px;
    height:13px;
    margin-left:52px;
    font-size:9px;    
  }  
      
    #Login{
    position:relative;
    margin-left:50px;
    margin-top:2px;
    width:42px;
    height:13px;   
  } 
  
  a.SideLink{     
    color:#ffffff;
    text-decoration:none;
    vertical-align:top;
    text-transform: uppercase;
  }
    
  a.SideLink:Hover{    
    color:#FFD000; 
    text-decoration:none;
    vertical-align:top;
    text-transform: uppercase;
  }
       
  /* End Side Navigation Area*/
