/*
/////////////////////////////////////
visitor/

■開催概要--------------------Line.56
■展示コーナー/ホールマップ---Line.62
■出展社一覧------------------Line.68
■10周年企画------------------Line.86
■イベントステージ------------Line.92
■入場券----------------------Line.98
■会場アクセス---------------Line.104
/////////////////////////////////////
*/

table.About {
	width:100%;
	margin:0px 0px 20px 0px;
	padding:0px;
	border-collapse:collapse;
	border:1px solid #D0CFC4;
	font-size:12px;
	text-align:left;
}

table.About th {
	width:100px;
	margin:0px;
	padding:4px;
	color:#FFFFFF;
	background:#666666;
	border:1px solid #D0CFC4;
	line-height:140%;
	text-align:center;
	vertical-align:top;
}	

table.About td {
	margin:0px;
	padding:3px 10px 3px;
	border:1px solid #D0CFC4;
	color:#333333;
	line-height:140%;
}

ul.Condition {
	margin:0px 0px 20px 15px;
	padding:0px;
}

ul.Condition li {
	color:#333333;
	font-size:12px;
	line-height:140%;
}

/* +++++++++++開催概要+++++++++++ */

h2.Outline {
	background:url(images/h2_outline.gif) no-repeat;
}

/* +++++++++++展示コーナー/ホールマップ+++++++++++ */

h2.Map {
	background:url(images/h2_map.gif) no-repeat;
}

/* +++++++++++出展社一覧+++++++++++ */

h2.List {
	background:url(images/h2_list.gif) no-repeat;
}

ul.Group {
	list-style:none;
	margin:0px 0px 5px 15px;
	padding:0px;
}

ul.Group li {
	color:#333333;
	font-size:12px;
	line-height:140%;
}

/* +++++++++++10周年企画+++++++++++ */

h2.tenth {
	background:url(images/h2_10th.gif) no-repeat;
}

/* +++++++++++イベントステージ+++++++++++ */

h2.Event {
	background:url(images/h2_event.gif) no-repeat;
}

/* +++++++++++入場券+++++++++++ */

h2.Ticket {
	background:url(images/h2_ticket.gif) no-repeat;
}

/* +++++++++++会場アクセス+++++++++++ */

h2.Access {
	background:url(images/h2_access.gif) no-repeat;
}

