@charset "utf-8";
/*
===========================================================================

	Title : map.css

===========================================================================
*/


/* *********************************************
*
*	PC view
*	
********************************************* */


/* -------------------------------------------------------------

	map/list/index.html

------------------------------------------------------------- */

/*指示あるまで非表示*/
#TitleCyberGamesAsia{
	display:none;
	}
/*指示あるまでグレーアウト*/
/*#TitleSmartAccessories h3{
	opacity: 0.3;
	}
#wrapper .cntBox .boxInner .guideMenu #BtnSmartAccessories{
	opacity: 0.2;
	}*/

#wrapper .cntBox .boxInner .guideMenu {
	width:720px;
	margin: 0 auto;
}
#wrapper .cntBox .boxInner .guideMenu li {
	display: inline-block;
	margin: 0 4px 14px 0;
	width : 172px;
	height: 46px;
	background: url(../../../en/map/images/guide_btn.gif) no-repeat;
	text-indent:-9999px;
	transition:opacity .3s;
}
#wrapper .cntBox .boxInner .guideMenu li img{
	visibility:hidden;
	height: 0;
	}
#wrapper .cntBox .boxInner .guideMenu li a {
	width : 172px;
	height: 46px;
	display: block;
}
#wrapper .cntBox .boxInner .guideMenu li:hover {
	opacity: 0.8;
}
#wrapper .cntBox .boxInner .guideMenu #BtnGeneral {
	background-position: 0 0;
}
#wrapper .cntBox .boxInner .guideMenu #BtnSmartSocial {
	background-position: -182px 0;
}
#wrapper .cntBox .boxInner .guideMenu #BtnGameDevice {
	background-position: -364px 0;
}
#wrapper .cntBox .boxInner .guideMenu #BtnGameSchool {
	background-position: -546px 0px;
}
#wrapper .cntBox .boxInner .guideMenu #BtnRomanceGame {
	background-position: 0px -60px;
}
#wrapper .cntBox .boxInner .guideMenu #BtnIndies {
	background-position: -182px -60px;
}
#wrapper .cntBox .boxInner .guideMenu #BtnMerchandiseSales {
	background-position: -364px -60px;
}
#wrapper .cntBox .boxInner .guideMenu #BtnBusinessSolution {
	background-position: -546px -60px;
}
#wrapper .cntBox .boxInner .guideMenu #BtnCloud-Data {
	background-position: 0px -120px;
}
#wrapper .cntBox .boxInner .guideMenu #BtnAsiaNewStars {
	background-position: -182px -120px;
}
#wrapper .cntBox .boxInner .guideMenu #BtnFamily {
	background-position: -364px -120px;
}
#wrapper .cntBox .boxInner .guideMenu #BtnMeeting {
	background-position: -546px -120px;
}
#wrapper .cntBox .boxInner .guideMenu #BtnSmartAccessories {
	background-position: 0px -180px;
}
/* add by nextis*/
#wrapper .cntBox .boxInner .guideMenu #BtnCyberGamesAsia {
	background-position: -182px -180px;
}

/* --------------------------------
	あかさたなボタン
--------------------------------　*/		

#wrapper .cntBox .boxInner .blc50 li {
	display: inline-block;
	white-space: nowrap;
	padding: 7px;
	line-height: 1.0;
}
#wrapper .cntBox .boxInner .blc50 li a {
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #999;
	border: 2px solid #ddd;
	padding: 18px 2px 0px 2px;
	height: 31px;
	width: 45px;
	text-align: center;
	background: #FFF;
	border-radius: 5px 5px 5px 5px; /* 角丸 */
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	text-decoration:none;
	box-shadow: 2px 2px 0px 0 rgba(221,221,221,1);
}
#wrapper .cntBox .boxInner .blc50 li a:hover {
	text-decoration: none;
	opacity: 0.6;
}
#wrapper .cntBox .boxInner #BtnGeneral table th span {
	background: #e94959;
}

/* h3見出しカラー */

#exhibitor_list h3{
	width:674px!important;
	margin:20px auto!important;
	padding:10px!important;
	border-bottom: none!important;
	color:#555!important;
	background: none!important;
	}

#wrapper .cntBox .boxInner #TitleGeneral h3 {
	border-left: solid 5px #e94959 !important;
}
#wrapper .cntBox .boxInner #TitleSmartSocial h3 {
	border-left: solid 5px #9d9a99 !important;
}
#wrapper .cntBox .boxInner #TitleCloudGameing h3 {
	border-bottom: none!important;
}
#wrapper .cntBox .boxInner #TitleGameDevice h3 {
	border-left: solid 5px #19b4a6 !important;
}
#wrapper .cntBox .boxInner #TitleGameSchool h3 {
	border-left: solid 5px #63b73f !important;
}
#wrapper .cntBox .boxInner #TitleRomanceGame h3 {
	border-left: solid 5px #e95b95 !important;
}
#wrapper .cntBox .boxInner #TitleMerchandiseSales h3 {
	border-left: solid 5px #ef7a00 !important;
}
#wrapper .cntBox .boxInner #TitleFamily h3 {
	border-left: solid 5px #8ca6d6 !important;
}
#wrapper .cntBox .boxInner #TitleCosplay h3 {
	border-left: solid 5px #ca7229 !important;
}
#wrapper .cntBox .boxInner #TitleIndies h3 {
	border-left: solid 5px #acae4c !important;
}
#wrapper .cntBox .boxInner #TitleBusinessSolution h3 {
	border-left: solid 5px #6b57a3 !important;
}
#wrapper .cntBox .boxInner #TitleCloud-Data h3 {
	border-left: solid 5px #6b57a3 !important;
}
#wrapper .cntBox .boxInner #TitleAsiaNewStars h3 {
	border-left: solid 5px #6b57a3 !important;
}
#wrapper .cntBox .boxInner #TitleStartup h3 {
	border-left: solid 5px #6b57a3 !important;
}
#wrapper .cntBox .boxInner #TitleMeeting h3 {
	border-left: solid 5px #6b57a3 !important;
}
#wrapper .cntBox .boxInner #TitleSmartAccessories h3 {
	border-left: solid 5px #046ab7 !important;
}
/* add by nextis*/
#wrapper .cntBox .boxInner #TitleCyberGamesAsia h3 {
	border-left: solid 5px #046ab7 !important;
}
/* ナンバリングカラー */
#wrapper .cntBox .boxInner #TitleGeneral table th span {
	background: #e94959 !important;
}
#wrapper .cntBox .boxInner #TitleSmartSocial table th span {
	background: #9d9a99 !important;
}
#wrapper .cntBox .boxInner #TitleCloudGameing table th span {
	background: #4ac1f1 !important;
}
#wrapper .cntBox .boxInner #TitleGameDevice table th span {
	background: #19b4a6 !important;
}
#wrapper .cntBox .boxInner #TitleGameSchool table th span {
	background: #63b73f !important;
}
#wrapper .cntBox .boxInner #TitleRomanceGame table th span {
	background: #e95b95 !important;
}
#wrapper .cntBox .boxInner #TitleMerchandiseSales table th span {
	background: #ef7a00 !important;
}
#wrapper .cntBox .boxInner #TitleFamily table th span {
	background: #8ca6d6 !important;
}
#wrapper .cntBox .boxInner #TitleCosplay table th span {
	background: #ca7229 !important;
}
#wrapper .cntBox .boxInner #TitleIndies table th span {
	background: #acae4c !important;
}
#wrapper .cntBox .boxInner #TitleBusinessSolution table th span {
	background: #6b57a3 !important;
}
#wrapper .cntBox .boxInner #TitleCloud-Data table th span {
	background: #6b57a3 !important;
}
#wrapper .cntBox .boxInner #TitleAsiaNewStars table th span {
	background: #6b57a3 !important;
}
#wrapper .cntBox .boxInner #TitleStartup table th span {
	background: #6b57a3 !important;
}
#wrapper .cntBox .boxInner #TitleMeeting table th span {
	background: #6b57a3 !important;
}
#wrapper .cntBox .boxInner #TitleSmartAccessories table th span {
	background: #046ab7 !important;
}
/* add by nextis*/
#wrapper .cntBox .boxInner #TitleCyberGamesAsia table th span {
	background: #046ab7 !important;
}
#exhibitor_list td p span a{
	padding-left:20px;
	background: url(../images/icon_web.html) 2px center no-repeat;
	}
	
/* -------------------------------------------------------------

	map/index.html

------------------------------------------------------------- */
.map .cntBox ul{
	overflow: hidden;
	}
.map .cntBox ul li{
	float:left;
	margin-bottom: 30px;
	}
.map .cntBox a{
	transition:opacity .3s ease;
	}
.map .cntBox a:hover{
	filter: alpha(opacity=70);
	opacity: 0.7;
	}

/* -------------------------------------------------------------

	map/area.html

------------------------------------------------------------- */

.BtnGeneral {
	border-left: solid 5px #e94959 !important;
}
.BtnSmartSocial {
	border-left: solid 5px#9d9a99 !important;
}
.BtnCloudGameing {
	border-left: solid 5px #4ac1f1 !important;
}
.BtnGameDevice {
	border-left: solid 5px #19b4a6 !important;
}
.BtnGameSchool {
	border-left: solid 5px #63b73f !important;
}
.BtnRomanceGame {
	border-left: solid 5px #e95b95 !important;
}
.BtnMerchandiseSales {
	border-left: solid 5px #ef7a00 !important;
}
.BtnFamily {
	border-left: solid 5px #8ca6d6 !important;
}
.BtnCosplay {
	border-left: solid 5px #ca7229 !important;
}
.BtnIndies {
	border-left: solid 5px #acae4c !important;
}
.BtnBusinessSolution {
	border-left: solid 5px #6b57a3 !important;
}
.BtnCloud-Data {
	border-left: solid 5px #6b57a3 !important;
}
.BtnAsiaNewStars {
	border-left: solid 5px #6b57a3 !important;
}
.BtnStartup {
	border-left: solid 5px #6b57a3 !important;
}
.BtnMeeting {
	border-left: solid 5px #6b57a3 !important;
}
.BtnSmartAccessories {
	border-left: solid 5px #046ab7 !important;
}
/* add by nextis*/
.BtnCyberGamesAsia {
	border-left: solid 5px#046ab7 !important;
}
.bd-b{
	padding-bottom:20px;
	border-bottom: 1px solid #eee;
	}
#wrapper .cntBox .boxInner .dtl {
	margin: 0 0 15px 15px;
}
#wrapper .cntBox .boxInner .dtl dt {
	font-weight: bold;
}
#wrapper .cntBox .boxInner .dtl dd {
	margin-left: 13px;
}

/* -------------------------------------------------------------

	map/app.html

------------------------------------------------------------- */
#wrapper .app .boxInner h3 {
	border-left: none;
	border-bottom: none;
	padding-left: 0;
}
#wrapper .app .boxInner h3 img {
	margin-top: -14px;
	padding-right: 5px;
}
#wrapper .app .boxInner .left {
	width: 30%;
	float: left;
}
#wrapper .app .boxInner .right {
	width: 70%;
	float: left;
	padding-top:20px;
}
#wrapper .app .boxInner .right p {
	padding: 10px 10px 0;
	margin: 0;
}
#wrapper .app .boxInner .small {
	font-size: 10px;
}
#wrapper .app .boxInner .or {
	color: #e85d1d;
	font-weight: bold;
}
#wrapper .app .boxInner ul {
	width: 730px;
	height: auto;
	margin: 20px 0 20px;
	clear: both;
}
#wrapper .app .boxInner ul li {
	width: 240px;
	padding: 0;
	margin: 0 0 20px;
	float: left;
}
#wrapper .app .boxInner .clear {
	clear: both;
}
#wrapper .app .boxInner a:hover img {
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	zoom: 1;
}
#wrapper .app .boxInner ul#dl_btn{
	width:494px;
	margin:0 auto;
	}
#wrapper .app .boxInner ul#dl_btn li{
	padding-right:4px;
}

/* -------------------------------------------------------------

	map/food.html

------------------------------------------------------------- */

#wrapper .food .boxInner p {
	margin-bottom: 25px;
}
#wrapper .food .boxInner h4 {
	padding:2px 0;
	text-align:center;
	background:#7dc058;
	color:#fff;
}
#wrapper .food .boxInner table {
	width:100%;
	padding:0;
	border:none;
}
#wrapper .food .boxInner table td{
	width:178px;
	padding:5px 0px;
	border:none;
	vertical-align:top;
	font-size:12px;
}
#wrapper .food .boxInner table td span{
	line-height:1.4;
	padding:10px 3px 0;
	display:inline-block;
	vertical-align:top;
}
#wrapper .food .boxInner .clb{
	padding:0 10px 10px;
	}

/* *********************************************
*
*	SP view
*	
********************************************* */

@media screen and (max-width:769px) {
	
/* -------------------------------------------------------------

	map/list/index.html

------------------------------------------------------------- */

#wrapper .cntBox .boxInner .guideMenu {
	width: 100%;
	margin-top:5%;
}
#wrapper .cntBox .boxInner .guideMenu li {
	width:100%;
	max-width: 480px;
	height:auto;
	margin: 0 auto 20px;
	display: block;
	text-indent:0;
	background: none;
	text-align: center;
	}
#wrapper .cntBox .boxInner .guideMenu li a{
	width:100%;
	height:auto;
	}
#wrapper .cntBox .boxInner .guideMenu li img{
	visibility:visible;
	height:auto;
	}

/* --------------------------------
	あかさたなボタン
--------------------------------　*/	

#wrapper .cntBox .boxInner .blc50 li {
	padding: 2px 1px 5px 1px;
	margin: 0 auto;
}
#wrapper .cntBox .boxInner .blc50 li a {
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #999;
	padding: 13px 0px 0px 0px;
	height: 29px;
	width: 44px;
	text-align: center;
	background: #FFF;
	border-radius: 5px 5px 5px 5px;
}
#wrapper .cntBox .boxInner #BtnGeneral h3 {
	border-left: solid 12px #e94959;
	border-bottom: none;
}
#wrapper .cntBox .boxInner #BtnGeneral table {
	border-bottom: 1px solid #ddd;
}
#wrapper .cntBox .boxInner #BtnGeneral table th span {
	background: #e94959;
}

/* h3見出しカラー */

#exhibitor_list h3{
	width:90%!important;
	}
#exhibitor_list td p span a{
	padding-left:18px;
	background: url(../images/sp_icon_web.html) left bottom no-repeat;
	background-size: 17px 13px;
	}
	
/* -------------------------------------------------------------

	map/index.html

------------------------------------------------------------- */
.map .cntBox ul{
	overflow: hidden;
	}
.map .cntBox ul li{
	width:100%;
	float:none;
	}
/*.map .cntBox ul li img{
	width:100%;
	max-width:auto!important;
	}*/

/* -------------------------------------------------------------

	map/app.html

------------------------------------------------------------- */
#wrapper .app .boxInner h3 img {
	margin-top: -14px;
	padding-right: 2px;
}
#wrapper .app .boxInner .right {
	width: 100%;
	float: none;
	padding-top:0;
}
#wrapper .app .boxInner ul {
	width: 100%;
	height: auto;
	margin: 0 0 20px;
	clear: both;
}
#wrapper .app .boxInner ul li {
	width: 100%;
	padding: 0;
	margin: 0 0 20px;
	float: none;
}
#wrapper .app .boxInner ul#dl_btn{
	width:240px;
	margin:0 auto;
	}
#wrapper .app .boxInner ul#dl_btn li{
	padding-right:0px;
}

/* -------------------------------------------------------------

	map/food.html

------------------------------------------------------------- */
#wrapper .food .boxInner h4{
	margin-bottom:20px;
	}
#wrapper .food .boxInner table td{
	width:100%!important;
	padding:0 0 10px 0;
	display:inline-block;
}
#wrapper .food .boxInner table td img{
	width:220px!important;
}
#wrapper .food .boxInner .clb{
	padding:0px 0px 0px;
	}

}
