@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

dl, ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

html {
  font-size: 0.625em;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: inherit;
}

a img {
  transition: all 0.3s;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=search],
input[type=password],
input[type=url],
input[type=number],
select,
textarea {
  max-width: 100%;
  font-size: 16px;
}

input,
select,
textarea,
button,
optgroup,
label {
  font-family: inherit;
}

button,
select {
  text-transform: none;
}

select {
  white-space: nowrap;
}

textarea {
  overflow: auto;
}

button,
[type=submit],
[type=reset],
[type=button] {
  padding: 0;
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
}
button::-webkit-search-decoration,
[type=submit]::-webkit-search-decoration,
[type=reset]::-webkit-search-decoration,
[type=button]::-webkit-search-decoration {
  display: none;
}
button::focus,
[type=submit]::focus,
[type=reset]::focus,
[type=button]::focus {
  outline-offset: -2px;
}
button::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=button]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
button::-moz-focusring,
[type=submit]::-moz-focusring,
[type=reset]::-moz-focusring,
[type=button]::-moz-focusring {
  outline: ButtonText dotted 1px;
}

[type=checkbox],
[type=radio] {
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
[type=search]:focus {
  outline: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

main {
  display: block;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
}

/* =================================================
  utility
================================================= */
.u-fadeInUp {
  opacity: 0;
  transform: translateY(5%);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.u-fadeInUp.in {
  opacity: 1;
  transform: translateY(0);
}

.u-pc {
  display: none;
}
@media screen and (min-width: 1025px) {
  .u-pc {
    display: inherit !important;
  }
}

.u-tb {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .u-tb {
    display: inherit !important;
  }
}

.u-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .u-sp {
    display: inherit !important;
  }
}

.bold {
  font-weight: bold !important;
}

.txt-red {
  color: #ff0000;
}

.tar {
  text-align: right;
}

/* =================================================
  compornents
================================================= */
body {
  font-family: -apple-system, Helvetica Neue, Segoe UI, Hiragino Kaku Gothic ProN, Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial, メイリオ, Meiryo, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  color: #333;
  word-break: break-all;
  -webkit-text-size-adjust: 100%;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  body {
    font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
}

.wrapper {
  overflow: hidden;
  padding-bottom: 140px;
}
@media screen and (max-width: 767px) {
  .wrapper {
    padding-bottom: 20vw;
  }
}

.inner {
  max-width: 876px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 4%;
  }
}

#header {
  padding: 129px 0;
  text-align: center;
  background-image: url("bg_header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 767px) {
  #header {
    padding: 60px 0 30px;
  }
}
#header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  background-color: #000;
  z-index: 1000;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 767px) {
  #header nav {
    padding: 0;
  }
}
#header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header nav ul li {
  padding: 0 10px;
}
@media screen and (max-width: 767px) {
  #header nav ul li {
    width: 33.333333%;
  }
}
#header nav ul li:not(:first-child) {
  position: relative;
}
#header nav ul li:not(:first-child):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #fff;
}
#header nav ul li a {
  display: block;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  #header nav ul li a {
    font-size: 12px;
    padding: 5px 10px;
  }
}
#header .social_buttons {
  position: absolute;
  bottom: 20px;
  right: 40px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  #header .social_buttons {
    position: static;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
}
#header .social_buttons li {
  font-size: 0;
  vertical-align: top;
}
#header .social_buttons li:nth-child(n+2) {
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  #header .social_buttons li:nth-child(n+2) {
    margin-left: 8px;
  }
}
@media screen and (max-width: 767px) {
  #header .social_buttons li {
    margin-bottom: 8px;
  }
}

#footer {
  padding: 30px;
  border-top: 3px solid #0b3e6f;
}
#footer p {
  font-size: 12px;
  text-align: center;
}
#footer p + p {
  margin-top: 10px;
}
#footer a {
  display: inline-block;
}

.pagetop {
  position: fixed;
  bottom: 140px;
  right: 0;
}
@media screen and (max-width: 767px) {
  .pagetop {
    display: none;
  }
}
.pagetop a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #e4c156;
  opacity: 0.5;
}
.pagetop a:hover {
  opacity: 1;
}

/* =================================================
  Common parts
================================================= */
.cmn__ttl {
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
  line-height: 1.2;
}
.cmn__ttl:before {
  content: "";
  position: absolute;
  top: 36px;
  right: calc(100% + 20px);
  width: 100vw;
  height: 2px;
  background-color: #333;
}
@media screen and (max-width: 767px) {
  .cmn__ttl:before {
    content: none;
  }
}
.cmn__ttl .en {
  display: block;
  font-family: Century Gothic, sans-serif;
  font-size: 60px;
  letter-spacing: 0.12em;
}
@media screen and (max-width: 767px) {
  .cmn__ttl .en {
    font-size: 36px;
  }
}
.cmn__ttl .jp {
  display: block;
  font-size: 20px;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 767px) {
  .cmn__ttl .jp {
    font-size: 14px;
  }
}

.cmn__txt {
  font-size: 16px;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .cmn__txt {
    font-size: 14px;
  }
}
.cmn__txt p + p {
  margin-top: 20px;
}
.cmn__txt .sm {
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .cmn__txt .sm {
    font-size: 12px;
  }
}

/* =================================================
  project
================================================= */
.sec__concept {
  padding: 60px 0;
  background: linear-gradient(135deg, #5e87db 0%, #62967c 50%, #e4c156 100%);
  color: #fff;
}
.sec__concept .cmn__ttl {
  color: #fff;
}
.sec__concept .cmn__ttl:before {
  background-color: #fff;
}
.sec__concept-list {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.sec__concept-list li {
  width: 30%;
  max-width: 250px;
}
.cmn__click{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .sec__concept-list li {
    width: 32%;
  }
}
.sec__concept-list li a {
  display: block;
}
.sec__concept-list-ttl {
  font-size: 18px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .sec__concept-list-ttl {
    font-size: 12px;
    text-align: center;
  }
}
.sec__concept-list-img {
  margin-top: 10px;
}

.sec__program {
  padding: 60px 0 0;
}
.sec__program-list {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .sec__program-list {
    flex-direction: column;
    align-items: center;
  }
}
.sec__program-list li {
  width: 33%;
  max-width: 272px;
}
@media screen and (max-width: 767px) {
  .sec__program-list li {
    width: 100%;
    max-width: 100%;
  }
  .sec__program-list li:nth-child(n+2) {
    margin-top: 8px;
  }
}
.sec__program-list li a {
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sec__program-list-head {
  padding: 12px 9px;
}
@media screen and (max-width: 767px) {
  .sec__program-list-head {
    text-align: center;
  }
  .sec__program-list-head img {
    max-width: 248px;
    display: inline-block;
    margin: 0 auto;
  }
}
.day1 .sec__program-list-head {
  background-color: #e4c156;
}
.day2 .sec__program-list-head {
  background-color: #62967c;
}
.day3 .sec__program-list-head {
  background-color: #5e87db;
}
.sec__program-list-body {
  padding: 8px 10px 20px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.35;
  text-align: center;
  position: relative;
}
.sec__program-list-body:after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px 8px 0;
  border-style: solid;
}
.day1 .sec__program-list-body {
  border-color: #e4c156;
  color: #e4c156;
}
.day1 .sec__program-list-body:after {
  border-color: #e4c156 transparent transparent transparent;
}
.day2 .sec__program-list-body {
  border-color: #62967c;
  color: #62967c;
}
.day2 .sec__program-list-body:after {
  border-color: #62967c transparent transparent transparent;
}
.day3 .sec__program-list-body {
  border-color: #5e87db;
  color: #5e87db;
}
.day3 .sec__program-list-body:after {
  border-color: #5e87db transparent transparent transparent;
}
.sec__program-main {
  margin-top: 70px;
  padding: 0 70px;
}
@media screen and (max-width: 767px) {
  .sec__program-main {
    padding: 0;
  }
}
.sec__program-main-item:nth-child(n+2) {
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item:nth-child(n+2) {
    margin-top: 60px;
  }
}
.sec__program-main-item-head {
  padding: 40px 20px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-head {
    padding: 20px 0;
  }
}
.sec__program-main-item-head:after {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Century Gothic, sans-serif;
  font-size: 120px;
  font-weight: bold;
  color: #fff;
  line-height: 0.8;
  opacity: 0.1;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-head:after {
    font-size: 80px;
  }
}
#day1 .sec__program-main-item-head {
  background-color: #e4c156;
}
#day1 .sec__program-main-item-head:after {
  content: "DAY1";
}
#day2 .sec__program-main-item-head {
  background-color: #62967c;
}
#day2 .sec__program-main-item-head:after {
  content: "DAY2";
}
#day3 .sec__program-main-item-head {
  background-color: #5e87db;
}
#day3 .sec__program-main-item-head:after {
  content: "DAY3";
}
.sec__program-main-item-head .inner {
  display: flex;
  align-items: center;
  padding: 0 0;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-head .inner {
    display: block;
  }
}
.sec__program-main-item-head-img {
  width: 248px;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-head-img {
    margin: 0 auto;
  }
}
.sec__program-main-item-head-ttl {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-head-ttl {
    margin-top: 10px;
    margin-left: 0;
    font-size: 16px;
    text-align: center;
  }
}
.sec__program-main-item-body {
  padding: 60px 0;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-body {
    padding: 30px 0;
  }
}
#day1 .sec__program-main-item-body {
  background-color: rgba(228, 193, 86, 0.05);
}
#day2 .sec__program-main-item-body {
  background-color: rgba(98, 150, 124, 0.05);
}
#day3 .sec__program-main-item-body {
  background-color: rgba(94, 135, 219, 0.05);
}
.sec__program-main-item-body-item {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-body-item {
    margin-top: 40px;
  }
}
.sec__program-main-item-body-item dl {
  margin-top: 40px;
}
.sec__program-main-item-body-item dl dt span {
  display: inline-block;
  padding: 3px 10px;
  font-family: Century Gothic, sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-body-item dl dt span {
    font-size: 16px;
  }
}
#day1 .sec__program-main-item-body-item dl dt span {
  background-color: #e4c156;
}
#day2 .sec__program-main-item-body-item dl dt span {
  background-color: #62967c;
}
#day3 .sec__program-main-item-body-item dl dt span {
  background-color: #5e87db;
}
.sec__program-main-item-body-item dl dt .note {
  display: inline-block;
  margin-left: 1em;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-body-item dl dt .note {
    margin-left: 0em;
  }
}
.sec__program-main-item-body-item dl dd {
  position: relative;
  padding: 15px 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#day1 .sec__program-main-item-body-item dl dd {
  border-top: 1px solid #e4c156;
}
#day2 .sec__program-main-item-body-item dl dd {
  border-top: 1px solid #62967c;
}
#day3 .sec__program-main-item-body-item dl dd {
  border-top: 1px solid #5e87db;
}
.sec__program-main-item-body-item-input {
  background-color: #F2F2F2;
  margin-right: 172px;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-body-item-input {
    margin-right: 0;
  }
}
.sec__program-main-item-body-item-input label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 6px 20px;
}
.sec__program-main-item-body-item-input label input {
  width: 20px;
  height: 20px;
}
.sec__program-main-item-body-item-input label > span {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-body-item-input label > span {
    font-size: 14px;
  }
}
.sec__program-main-item-body-item-input label > span.label {
  font-family: Century Gothic, sans-serif;
}
.sec__program-main-item-body-item .more {
  position: absolute;
  top: 20px;
  right: 20px;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-body-item .more {
    position: static;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
}
.sec__program-main-item-body-item .more a {
  display: block;
  padding: 5px 12px;
  border-radius: 99px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0.04em;
}
#day1 .sec__program-main-item-body-item .more a {
  background-color: #e4c156;
}
#day2 .sec__program-main-item-body-item .more a {
  background-color: #62967c;
}
#day3 .sec__program-main-item-body-item .more a {
  background-color: #5e87db;
}
.sec__program-main-item-body-item-ttl {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.08em;
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-body-item-ttl {
    font-size: 16px;
  }
}
.sec__program-main-item-body-item-ttl .sm {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-body-item-ttl .sm {
    font-size: 14px;
  }
}
.sec__program-main-item-body-item .speakers {
  margin-top: 15px;
  padding-top: 20px;
  border-top: 1px solid #E6E6E6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sec__program-main-item-body-item .speaker {
  width: 48%;
  display: flex;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-body-item .speaker {
    width: 100%;
  }
  .sec__program-main-item-body-item .speaker:nth-child(n+2) {
    margin-top: 16px;
  }
}
.sec__program-main-item-body-item .speaker:nth-child(n+3) {
  margin-top: 16px;
}
.sec__program-main-item-body-item .speaker .photo {
  width: 100px;
  flex: 0 0 auto;
}
.sec__program-main-item-body-item .speaker .txt {
  margin-left: 16px;
}
.sec__program-main-item-body-item .speaker .txt .coposition {
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-body-item .speaker .txt .coposition {
    font-size: 12px;
  }
}
.sec__program-main-item-body-item .speaker .txt .name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 767px) {
  .sec__program-main-item-body-item .speaker .txt .name {
    font-size: 15px;
  }
}

.sec__application {
  padding: 60px 0 0;
}
.sec__application-body {
  margin-bottom: 30px;
  padding: 20px 20px 10px;
  background-color: #f7f7f7;
  border: 1px solid #aaa;
}
.sec__application-body-ttl {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 1em;
}
.sec__application-body ol {
  padding-left: 30px;
}
.sec__application-body ol li {
  list-style: decimal;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 1.8;
}
.sec__application-body ol li a {
  color: blue;
}
.sec__application-annotation {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 3px solid #00004c;
}
.sec__application-annotation p {
  font-size: 12px;
  line-height: 1.7;
}
.sec__application-note {
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
  text-align: center;
  margin-bottom: 8px;
}
.sec__application-btn input[type=submit] {
  display: block;
  width: 100%;
  background-color: #FA5700;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.08em;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 0.3em;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .sec__application-btn input[type=submit] {
    font-size: 16px;
  }
}
.sec__application-btn input[type=submit].disable {
  position: relative;
  background: #999;
  pointer-events: none;
}
.sec__application-btn .clear {
  margin: 20px 0;
  font-size: 14px;
  text-align: center;
}

.sec__sponsor {
  padding: 0 0 60px;
}
.sec__sponsor h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}
.sec__sponsor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.sec__sponsor-list li {
  margin: 20px 15px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .sec__sponsor-list li {
    margin: 20px 3% 0px;
  }
}
.sec__sponsor-list.platinum li {
  width: 28%;
}
@media screen and (max-width: 767px) {
  .sec__sponsor-list.platinum li {
    width: 70%;
  }
}
.sec__sponsor-list.gold li {
  width: 21%;
}
@media screen and (max-width: 767px) {
  .sec__sponsor-list.gold li {
    width: 42%;
  }
}
.sec__sponsor-list.silver li {
  width: 18%;
}
@media screen and (max-width: 767px) {
  .sec__sponsor-list.silver li {
    width: 35%;
  }
}
.sec__sponsor-list.silver li.wide01 {
  width: 28%;
}
@media screen and (max-width: 767px) {
  .sec__sponsor-list.silver li.wide01 {
    width: 50%;
  }
}

.sec__outline {
  padding: 60px 0;
  background-color: #F7F7F7;
}
.sec__outline-body {
  margin-top: 60px;
  border-collapse: collapse;
}
.sec__outline-body dl {
  display: table;
  width: 100%;
  border-bottom: 1px solid #d1d3d6;
}
.sec__outline-body dl:nth-child(1) {
  border-top: 1px solid #d1d3d6;
}
.sec__outline-body dt {
  display: table-cell;
  font-size: 16px;
  font-weight: bold;
  color: #575757;
  background-color: #e3e3e3;
  width: 10em;
  text-align: center;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .sec__outline-body dt {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 8px 15px;
    text-align: left;
  }
}
.sec__outline-body dd {
  display: table-cell;
  font-size: 16px;
  background-color: #fff;
  width: auto;
  vertical-align: middle;
  padding: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .sec__outline-body dd {
    display: block;
    width: 100%;
    font-size: 12px;
    padding: 12px 15px;
  }
}
.sec__outline-body dd span {
  display: inline-block;
}
.sec__outline-body dd.date span {
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .sec__outline-body dd.date span {
    font-size: 17px;
  }
}
.sec__outline-body dd.date .time {
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .sec__outline-body dd.date .time {
    font-size: 12px;
  }
}

.sec__inquiry {
  padding: 60px 0;
}
.sec__inquiry-body {
  margin-top: 20px;
}
.sec__inquiry-body .button {
  display: inline-block;
  width: 240px;
  text-align: center;
  background-color: #015abf;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 5px 0;
}
@media screen and (max-width: 767px) {
  .sec__inquiry-body .button {
    width: 100%;
  }
}

.sec__fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.sec__fixed-nav {
  padding: 10px 0;
  background-color: #F2F2F2;
}
@media screen and (max-width: 767px) {
  .sec__fixed-nav {
    padding: 0;
  }
  .sec__fixed-nav .inner {
    padding: 0;
  }
}
.sec__fixed-list {
  display: flex;
  justify-content: space-between;
}
.sec__fixed-list li {
  width: 33%;
  max-width: 272px;
}
@media screen and (max-width: 767px) {
  .sec__fixed-list li {
    width: 33.333333%;
  }
}
.sec__fixed-list li a {
  display: block;
  padding: 9px 12px;
}
@media screen and (max-width: 767px) {
  .sec__fixed-list li a {
    padding: 9px 5px;
  }
}
.sec__fixed-list li.day1 a {
  background-color: #e4c156;
}
.sec__fixed-list li.day2 a {
  background-color: #62967c;
}
.sec__fixed-list li.day3 a {
  background-color: #5e87db;
}
.sec__fixed-apply button {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #FA5700;
  padding: 2px 0 10px;
}
.sec__fixed-apply button.disable {
  position: relative;
  background: #999;
  pointer-events: none;
}
.sec__fixed-apply button .sm {
  font-size: 12px;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .sec__fixed-apply button .sm {
    font-size: 10px;
  }
}
.sec__fixed-apply button p {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.08em;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .sec__fixed-apply button p {
    font-size: 16px;
  }
}

/* =====================================================
   受付終了欄
===================================================== */
.entry-close {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background: #fff0f3;
}
.entry-close p {
  color: #f00000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

/* =====================================================
   詳細ポップアップ（magnific-popup使用）
===================================================== */
@media screen and (max-width: 767px) {
  .mfp-content {
    width: 92% !important;
  }
}

.mfp-content .detail {
  position: relative;
  background: #fff;
  max-width: 640px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 3px;
  padding-bottom: 1em;
  /* セミナータイトル（ヘッドの帯） */
  /* property */
  /* shoulder = プログラム欄のh3相当 */
  /* title = プログラム欄のh4相当 */
  /* speaker */
  /* note */
  /* summary */
  /* profile */
}
.mfp-content .detail .popup,
.mfp-content .detail input {
  display: none !important;
}
.mfp-content .detail.mode0 button.mfp-close {
  color: #bababa !important;
}
.mfp-content .detail div,
.mfp-content .detail section {
  overflow: hidden;
}
.mfp-content .detail p {
  margin: 0.5em 0;
  line-height: 1.5;
  font-size: 1.1em;
}
@media screen and (max-width: 767px) {
  .mfp-content .detail p {
    font-size: 14px;
  }
}
.mfp-content .detail ul {
  margin: 7px 0;
}
.mfp-content .detail li {
  margin: 0 0 4px 0;
}
.mfp-content .detail .speaker .button + div {
  margin-top: 1.5em;
}
.mfp-content .detail img {
  vertical-align: bottom;
}
.mfp-content .detail .seminar-title {
  margin: 0 !important;
  padding: 10px 40px 10px 20px;
  font-size: 90%;
  line-height: 1.5;
  background: #000;
  /*色設定欄参照*/
  color: #fff;
}
.mfp-content .detail > .pad {
  padding: 10px 27px 10px 27px;
}
.mfp-content .detail .property {
  margin: 10px -7px 15px -7px;
  padding: 10px 15px;
  font-weight: bold;
  line-height: 2em;
  background: #ddd;
  /*色設定欄参照*/
}
.mfp-content .detail .time {
  margin-right: 10px;
}
.mfp-content .detail .status {
  display: inline-block;
  margin-right: 10px;
  color: #f22;
}
.mfp-content .detail span.label {
  margin: 4px 10px 4px 0;
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  font-family: Century Gothic, sans-serif;
}
@media screen and (max-width: 767px) {
  .mfp-content .detail span.label {
    font-size: 12px;
  }
}
.mfp-content .detail span.label.label1 {
  background-color: #e4c156;
}
.mfp-content .detail span.label.label2 {
  background-color: #62967c;
}
.mfp-content .detail span.label.label3 {
  background-color: #5e87db;
}
@media screen and (max-width: 767px) {
  .mfp-content .detail span.cate {
    font-size: 14px;
  }
}
.mfp-content .detail .shoulder,
.mfp-content .detail p.shoulder {
  font-weight: bold;
  line-height: 1.5;
}
.mfp-content .detail .shoulder.noline {
  margin: 15px 0 0 0;
  border-bottom: none;
  padding-left: 0;
  padding-bottom: 0;
}
.mfp-content .detail .title {
  margin: 0.5em 0 1.2em 0;
  padding-bottom: 0.8em;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.3em;
  border-bottom: solid 1px #ddd;
}
@media screen and (max-width: 767px) {
  .mfp-content .detail .title {
    font-size: 16px;
  }
}
.mfp-content .detail .title span {
  font-size: 90%;
}
@media screen and (max-width: 767px) {
  .mfp-content .detail .title span {
    font-size: 14px;
  }
}
.mfp-content .detail .title .shoulder {
  display: block;
  padding: 0 0 0 0;
  border: none;
  font-weight: normal;
}
.mfp-content .detail .title .subtitle {
  display: block;
  margin-top: 0.2em;
}
.mfp-content .detail .speaker {
  display: flex;
  margin-bottom: 16px;
  /* photo */
}
.mfp-content .detail .speaker .photo {
  width: 100px;
  flex: 0 0 auto;
}
.mfp-content .detail .speaker .txt {
  margin-left: 16px;
}
.mfp-content .detail .speaker .txt .coposition {
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .mfp-content .detail .speaker .txt .coposition {
    font-size: 12px;
  }
}
.mfp-content .detail .speaker .txt .name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 767px) {
  .mfp-content .detail .speaker .txt .name {
    font-size: 15px;
  }
}
.mfp-content .detail .note {
  margin: 10px 5px;
}
.mfp-content .detail .summary {
  clear: both;
}
.mfp-content .detail .profile {
  margin: 15px 0 10px 0;
  line-height: 1.5;
}/*# sourceMappingURL=styles.css.map */