@charset "utf-8";
/*
===========================================================================

	Title : event.css

===========================================================================

/* *********************************************
*
*	PC view
*	
********************************************* */

/* -------------------------------------------------------------

	stage.html

------------------------------------------------------------- */

#wrapper .stage .cntBox .boxInner p{
	margin-bottom:30px;
	}

/* -------------------------------------------------------------

	cga.html

------------------------------------------------------------- */

#wrapper .cntBox .boxInner .main_img {
	margin-bottom: 20px;
}
#wrapper .cntBox .boxInner h5{
	margin-bottom: 20px;
	font-size:16px;
	font-weight:bold;
	color:#1e51a2;
	}
#wrapper .cga .cntBox .boxInner .left {
	width: 280px;
	float: left;
}
#wrapper .cga .cntBox .boxInner .right {
	width: 320px;
	float: right;
}
#wrapper .cga .cntBox .boxInner .right a{
	word-break:	break-all;
}
#wrapper .cntBox .boxInner .small {
	font-size: 12px;
}
#wrapper .mainCont .cntBox .boxInner ul.att li {
	/*padding-left: 1em;*/
	text-indent: -1em;
}
#wrapper .mainCont .cntBox .boxInner.lnk_icon {
	padding: 1px 2px;
}
#wrapper .mainCont .cntBox .boxInner .bottom0 {
	margin-bottom: 0;
}
#wrapper .mainCont .cntBox .boxInner dl dd {
	margin-bottom: 20px;
}
#wrapper .mainCont .cntBox .boxInner dl dd.txt {
	width: 450px;
	float: left;
}
#wrapper .mainCont .cntBox .boxInner dl dd.logo {
	width: 160px;
	float: right;
	text-align: right;
}
#wrapper .mainCont .cntBox .boxInner .clear {
	clear: both;
}
/* -------------------------------------------------------------

	cosplay.html

------------------------------------------------------------- */

#wrapper .mainCont .cntBox .boxInner .lnk_icon {
	padding: 1px 2px;
}
#wrapper .mainCont .cntBox .boxInner table {
	width: auto;
}
#wrapper .mainCont .cntBox .boxInner table th {
	width: 100px;
	text-align: center;
	/*letter-spacing: 1em;*/
}
#wrapper .mainCont .cntBox .boxInner .mt10 {
	margin-top: 10px;
}
#wrapper .mainCont .cntBox .boxInner .mb20 {
	margin-bottom: 20px;
}
/* -------------------------------------------------------------

	project.html

------------------------------------------------------------- */

#wrapper .boxInner ul#dl_btn{
	width:540px;
	margin:30px auto 0;
	}
#wrapper .boxInner ul#dl_btn li{
	width:50%;
	margin-top: 20px;
	float: left;
}

#wrapper .gr_box {
	background: #777;
	color: #fff;
	padding: 0 5px;
	display:inline-block;
}
#wrapper .rd_box{
	background:#e71a19;
	color:#fff;	
	padding:0 5px;
	display:inline-block;
	margin:5px 0;
}
#wrapper hr {
	margin: 20px 0;
	clear: both;
}
#wrapper .line {
	margin-bottom: 20px;
}
#wrapper .center {
	text-align: center;
}
#wrapper .lnk_icon {
	position: relative;
	top: 2px;
}
#wrapper .ta_l{
	text-align:left;
	}
#wrapper .att{
	padding-left:1em;
	text-indent:-1em;
	display:inline-block;
	}

#wrapper .project .boxInner .left {
	width: 48%;
	float: left;
	margin-right: 2%;
}
#wrapper .project .boxInner .right {
	width: 48%;
	float: right;
	margin-left: 2%;
	text-align: center;
}
#wrapper .project .boxInner .left img,
#wrapper .project .boxInner .right img{
	width: 100%;	
}
#wrapper .project .boxInner .right .txt {
	padding: 0px 0px 0;
	margin: 0;
}
#wrapper .project .boxInner h3{
	background-position: 0 9px;
	line-height:1.5;
	}
#wrapper .project .boxInner h3 span {
	margin-left: 5px;
	font-size:12px;
	background: #ededed;
	color: #000;
	font-weight: bold;
	padding: 0px 7px 3px;
	border-radius : 3px;
	display: inline-block;
	position:relative;
	top:-2px;
}
/*#wrapper .project .boxInner h4 {
	margin-bottom:10px;
}*/
#wrapper .project .boxInner h4 img {
	position: relative;
	top: -10px;
	left: 5px;
}
#wrapper .project .cntBox .boxInner h5{
	color: #000;	
}
#wrapper .project .boxInner table {
	width:100%;
	border:1px solid #ccc!important;
}
#wrapper .project .boxInner th {
	width:auto;
	letter-spacing:0em!important;
}
#wrapper .project .boxInner td {
	width:auto;
}
#wrapper .project .boxInner dl dt{
	color:#c00;
	font-weight: bold;
	}
#wrapper .project .cntBox .boxInner dl dd{
	margin-bottom: 0;
	}
#wrapper .project a img{
	transition:opacity .3s ease;
	}
#wrapper .project a:hover img{
	filter: alpha(opacity=80);
	opacity:0.8;
	}
#wrapper .list li{
	text-indent: -1em;
	padding-left: 1em;	
}
#wrapper .mainCont.project .cntBox .boxInner table{
	width: 100%;
}
#wrapper .mainCont.project .cntBox .boxInner table th{
	width: 145px;	
}

/* -------------------------------------------------------------

	live.html

------------------------------------------------------------- */

#wrapper .live table{
	border:none!important;
	}
#wrapper .live table td{
	padding:0!important;
	vertical-align: top;
	border:none!important;
	text-align: center;
	}
#wrapper .live td dl{
	width:373px;
	margin-top:15px;
	padding-top:10px;
	background: #fbc700;
	color:#333;
	text-align: left;
	}
#wrapper .live td dl a{
	color:#333;
	}
#wrapper .live td dl dt{
	padding:0 15px;
	}
#wrapper .live td dl dt span{
	padding: 0px 5px;
	background: #000;
	color:#fff;
	}
#wrapper .live td dl dd{
	margin-bottom:0!important;
	padding:5px 15px;
	}
#wrapper .live .kurobas td dl{
	width:320px;
	}



/* *********************************************
*
*	SP view
*	
********************************************* */


@media screen and (max-width:769px) {
/* -------------------------------------------------------------

	cga.html

------------------------------------------------------------- */

#wrapper .cga .cntBox .boxInner .left {
	width: 49%;
}
#wrapper .cga .cntBox .boxInner .right {
	width: 49%;
}
#wrapper .mainCont .cntBox .boxInner dl dd.txt {
	width: 100%;
}
#wrapper .mainCont .cntBox .boxInner dl dd.logo {
	width: 100%;
	text-align: left;
}
/* -------------------------------------------------------------

	cosplay.html

------------------------------------------------------------- */
#wrapper .mainCont .cntBox .boxInner table th {
	width: auto;
}
/* -------------------------------------------------------------

	project.html

------------------------------------------------------------- */

#wrapper .boxInner ul#dl_btn{
	width:240px;
	margin:0 auto;
	}
#wrapper .boxInner ul#dl_btn li{
	width:100%;
	padding-right:0px;
}
#wrapper .project .boxInner .left {
	width: 100%;
	float: none;
}
#wrapper .project .boxInner .left img{
	padding:0;
	}
#wrapper .project .boxInner .right {
	width: 100%;
	float: none;
}
#wrapper .project .boxInner .right img{
		padding:0;
}
#wrapper .project .boxInner h4 img {
	position: relative;
	top: 0px;
	left: 5px;
}
.ta_l{
	text-align:left;
	padding-left:20px;
	}
#wrapper .mainCont.project .cntBox .boxInner table th{
	width: 100%;	
}

/* -------------------------------------------------------------

	live.html

------------------------------------------------------------- */
#wrapper .live table{
	width:100%;
	margin:0 auto;
	}
#wrapper .live td{
	width:100%;
	}
#wrapper .live td:first-child{
	padding-bottom:20px!important;
	}
#wrapper .live td dl{
	width:100%;
	}
#wrapper .live .kurobas td dl{
	width:100%;
	}

}

@media screen and (max-width:414px) {
/* -------------------------------------------------------------

	cga.html

------------------------------------------------------------- */
#wrapper .cga .cntBox .boxInner .left {
	width: 100%;
	float: none;
}
#wrapper .cga .cntBox .boxInner .right {
	width: 100%;
	float: none;
	margin-top: 2%;
}
#wrapper .cntBox .boxInner .left img {
	width: 100%;
}
#wrapper .cntBox .boxInner .right img {
	width: 100%;
}
.logo{
	max-width:158px;
	}

/* -------------------------------------------------------------

	live.html

------------------------------------------------------------- */
#wrapper .live table{
	width:280px!important;
	margin:0 auto;
	}
#wrapper .live td{
	width:280px!important;
	display: block!important;
	}
#wrapper .live td:first-child{
	padding-bottom:20px!important;
	}
#wrapper .live td dl{
	width:280px!important;
	}
#wrapper .live .kurobas td dl{
	width:280px!important;
	}
#wrapper .live td dl a{
	word-wrap:break-word;
	}

}