/* all-contentsarea===================================================== */
#all-contentsarea{
	background:url(all-contentsarea/all-contentsarea_bg.gif) repeat-y;
	width:800px;
	margin:0 auto;
	padding:0;
}

/* clear fix */
#all-contentsarea{
    zoom:1;/*for IE 5.5-7*/
}
#all-contentsarea:after{/*for modern browser*/
    content:".";
    display: block;
    height:0px;
    clear:both;
		line-height:0; 
    visibility:hidden;
}
