/* common class   ===================================================== */
/* hidden ------------------------------------------------------------- */
.displayNone{
	display:none;
}
.displayHidden {
	margin:0px;
	padding:0px;
	width:1px;
	height:0px;
	position:absolute;
	top:0px;
	left:-999px;
	z-index:100;
	display:run-in;
	border-style:none;
	overflow:hidden;
}

/* float ------------------------------------------------------------- */
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
.clearBoth{
	clear:both;
}

/* span block --------------------------------------------------------- */
.block{
	display:block;
	width:470px;
	padding:0;
}
.blockfloatleft{
	display:block;
	float:left;
	width:230px;
	padding:0 5px 0 0;
}

/* clear fix */
.block{
    zoom:1;/*for IE 5.5-7*/
}
.block:after{/*for modern browser*/
    content:".";
    display: block;
    height:0px;
    clear:both;
		line-height:0; 
    visibility:hidden;
}

/* margin ------------------------------------------------------------ */
.mt5 {
	margin:5px 0 0 0;
}
.mt10 {
	margin:10px 0 0 0;
}

.mb5 {
	margin:0 0 5px 0;
}
.mb10 {
	margin:0 0 10px 0;
}

.mr5 {
	margin:0 5px 0 0;
}
.mr10 {
	margin:0 10px 0 0;
}

.ml5 {
	margin:0 0 0 5px;
}
.ml10 {
	margin:0 0 10px;
}

.mt1em {
	margin:1em 0 0 0;
}
.mt2em {
	margin:2em 0 0 0;
}

.mb1em {
	margin:0 0 1em 0;
}
.mb2em {
	margin:0 0 2em 0;
}

/* padding ---------------------------------------------------------- */
.pt5 {
	padding:5px 0 0 0;
}
.pt10 {
	padding:10px 0 0 0;
}

.pb5 {
	padding:0 0 5px 0;
}
.pb10 {
	padding:0 0 10px 0;
}

.pr5 {
	padding:0 5px 0 0;
}
.pr10 {
	padding:0 10px 0 0;
}

.pl5 {
	padding:0 0 0 5px;
}
.pl10 {
	padding:0 0 0 10px;
}

.pt1em {
	padding:1em 0 0 0;
}
.pt2em {
	padding:2em 0 0 0;
}

.pb1em {
	padding:0 0 1em 0;
}
.pb2em {
	padding:0 0 2em 0;
}

/* text size -------------------------------------------------------- */
.txt-xxsmall{
	font-size:xx-small;
}
.txt-xsmall{
	font-size:x-small;
	_font-size:xx-small;
}
.txt-small{
	font-size:small;
	_font-size:x-small;
}
.txt-medium{
	font-size:medium;
	_font-size:small;
}

.txt-large{
	font-size:large;
	_font-size:medium;
}
.txt-xlarge{
	font-size:x-large;	
	_font-size:large;
}


/* text weight ----------------------------------------------------- */
.txtBold{
	font-weight:bold;
}


/* text align ------------------------------------------------------ */
.txtCenter{
	text-align:center;
	display:block;
}
.txtLeft{
	text-align:left;
	display:block;
}
.txtRight{
	text-align:right;
	display:block;
}

/* text color ------------------------------------------------------ */
.txtRed{
	color:#f00 !important;
}

.txtGreen{
	color:#0F0 !important;
}

.txtBlue{
	color:#00F !important;
}

.txtDarkGreen{
	color:#58864F !important;
}

.txtOrange{
	color:#FF6B2A !important;
}

.txtPurple{
	color:#772EF0 !important;
}



/* caution --------------------------------------------------------- */
.caution{
	clear:both;
	font-size:x-small;
	line-height:1.2em;
}


