@charset "utf-8";
/* CSS Document */

/*
===========================================================================

	Title : top.css

===========================================================================
*/



/* *****************************************
*
*	PC view
*	
******************************************** */





/* PC .topcntArea
---------------------------------------------------------------- */
#wrapper .topcntArea {
	width: 665px;
	float: left;
	margin-right: 15px;
}


#wrapper .topcntArea .topcntBox {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	margin-bottom: 20px;
	border-radius: 5px; /* 角丸 */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#wrapper .topcntArea .topcntBox .cntInner {
	padding: 18px 21px 16px 14px ;
	background: #FFF;
	background: rgba(255, 255, 255, 0.8); /* 背景色のみ透過 */
	border-radius: 0px 0px 5px 5px; /* 角丸 */
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
}

	#wrapper .topcntArea .topcntBox .cntInner ul li{
		float: left;
		margin: 8px 25px;
	}


/* TOP ニュースエリア
---------------------------------------------------------------- */
/* What's new */
#wrapper .topcntArea .topcntBox .wn {
	padding: 18px 21px 16px 14px ;
	background: #FFF;
	background: rgba(255, 255, 255, 0.8); /* 背景色のみ透過 */
	border-radius: 0px 0px 5px 5px; /* 角丸 */
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
}

	#wrapper .topcntArea .topcntBox .wn ul {
		overflow: auto; /* スクロールバーの表示 */
		height: 200px;
	}
	
		#wrapper .topcntArea .topcntBox .wn ul li {
			margin-bottom: 35px;
		}
		
			#wrapper .topcntArea .topcntBox .wn ul li dl {
				overflow: hidden;
				background: url(../../common/images/inner_line.gif) repeat-x bottom left;
				padding-bottom: 20px;
			}
			
				#wrapper .topcntArea .topcntBox .wn ul li dl dt {
					float: left;
					margin-right: 20px;
				}
				
				#wrapper .topcntArea .topcntBox .wn ul li dl dd {
					float: left;
					width: 505px;
				}
				


/* 出展者ニュース */
#wrapper .topcntArea .topcntBox .newsInner {
	padding: 18px 21px 16px 14px ;
	background: #FFF;
	background: rgba(255, 255, 255, 0.8); /* 背景色のみ透過 */
	border-radius: 0px 0px 5px 5px; /* 角丸 */
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
}

	#wrapper .topcntArea .topcntBox .newsInner ul {
		overflow: auto; /* スクロールバーの表示 */
		height: 280px;
	}
	
		#wrapper .topcntArea .topcntBox .newsInner ul li {
			margin-bottom: 30px;
		}
		
			#wrapper .topcntArea .topcntBox .newsInner ul li dl {
				overflow: hidden;
			}
			
				#wrapper .topcntArea .topcntBox .newsInner ul li dl dt {
					float: left;
					margin-right: 20px;
					width: 13%;
					height: 60px;
				}	
				
				#wrapper .topcntArea .topcntBox .newsInner ul li dl .pic {
					width: 100px;
					float: left;
					margin-right: 20px;
				}
				
					#wrapper .topcntArea .topcntBox .newsInner ul li dl .pic img {
							width: 100px;
					}
				



/* PC .top	
---------------------------------------------------------------- */
#wrapper .topsubArea {
	width: 300px;
	float: left;
}

#wrapper .topsubArea ul {
	margin-bottom: 20px;
}

	#wrapper .topsubArea ul li {
		margin-bottom: 10px;
	}
	
#wrapper .topsubArea .bnrArea {
	margin-top: 125px;
}
	


#wrapper .topsubArea #div-gpt-ad-visualbox-01 #div-gpt-ad-visualbox-01_ad_container,
#wrapper .topsubArea #div-gpt-ad-visualbox-02 #div-gpt-ad-visualbox-02_ad_container,
#wrapper .topsubArea #div-gpt-ad-visualbox-03 #div-gpt-ad-visualbox-03_ad_container,
#wrapper .topsubArea #div-gpt-ad-visualbox-04 #div-gpt-ad-visualbox-04_ad_container,
#wrapper .topsubArea #div-gpt-ad-visualbox-05 #div-gpt-ad-visualbox-05_ad_container {
	overflow: hidden;
	margin-bottom: 10px;
}


		
	#wrapper .topsubArea #div-gpt-ad-visualbox-01 #div-gpt-ad-visualbox-01_ad_container a,
	#wrapper .topsubArea #div-gpt-ad-visualbox-02 #div-gpt-ad-visualbox-02_ad_container a,
	#wrapper .topsubArea #div-gpt-ad-visualbox-03 #div-gpt-ad-visualbox-03_ad_container a,
	#wrapper .topsubArea #div-gpt-ad-visualbox-04 #div-gpt-ad-visualbox-04_ad_container a,
	#wrapper .topsubArea #div-gpt-ad-visualbox-05 #div-gpt-ad-visualbox-05_ad_container a {
		float: left;
		/*margin-right: 6px;*/
	}
	
	#wrapper .topsubArea #div-gpt-ad-visualbox-01_ad_container p,
	#wrapper .topsubArea #div-gpt-ad-visualbox-02_ad_container p,
	#wrapper .topsubArea #div-gpt-ad-visualbox-03_ad_container p,
	#wrapper .topsubArea #div-gpt-ad-visualbox-04_ad_container p,
	#wrapper .topsubArea #div-gpt-ad-visualbox-05_ad_container p {
		display: block;
		width: 220px;
		float: left;
		margin-left: 7px;
		font-size: 12px;
		line-height: 1.8;
		padding-top: 15px;
	}
	
	#wrapper .topsubArea #div-gpt-ad-visualbox-01_ad_container p a,
	#wrapper .topsubArea #div-gpt-ad-visualbox-02_ad_container p a,
	#wrapper .topsubArea #div-gpt-ad-visualbox-03_ad_container p a,
	#wrapper .topsubArea #div-gpt-ad-visualbox-04_ad_container p a,
	#wrapper .topsubArea #div-gpt-ad-visualbox-05_ad_container p a {
		float: left;
		/*margin-top: 15px;*/
}



		
		
/* PC .flexslider
---------------------------------------------------------------- */

#wrapper .topcntArea .flexslider {
	margin: 0 0 20px;
	background: #ddd;
	padding: 5px;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none
	zoom: 1;
}

#wrapper .topcntArea .flex-viewport { }

#wrapper .topcntArea .flex-control-thumbs {
	margin: 0;
}

#wrapper .topcntArea .flex-control-thumbs li {
	border: 1px solid #ddd;
	border-top: 5px solid #ddd;
	border-bottom: none;
	background: url(../images/slidemenu_bg.png) repeat top left;
	padding: 5px 0px;
}
#wrapper .topcntArea .flex-control-thumbs img { width: 100%; opacity: 1; }
#wrapper .topcntArea .flex-control-thumbs img:hover {
	opacity: 1;
}
#wrapper .topcntArea .flex-control-thumbs .flex-active {
	opacity: 1;　cursor: default;
	background: url(../images/slidemenu_on_bg.png) repeat top left;

}

#wrapper .topcntArea .flex-control-thumbs .flex-active img {
	opacity: 1;　cursor: default;
}


/* お詫び
---------------------------------------------------------------- */
#wrapper .topsubArea .apology li dl {
	border: #999 solid 1px;
	color: #333;
	background-color:#FFF;
}

#wrapper .topsubArea .apology li dl dt {
	background-color:#999;
	color: #fff;
	font-weight: bold;
	margin-bottom: 15px;
	padding: 7px;
	text-align: center;
}

#wrapper .topsubArea .apology li dl dd {
	margin-bottom: 10px;
	padding: 0px 10px;
}




/* *************************************************************
*
*	SP view
*	
************************************************************ */

@media screen and (max-width:769px){
	
	
/* SP .topcntArea
---------------------------------------------------------------- */
#wrapper .topcntArea {
	width: 100%;
	float: none;
	margin: 0px;	
}


#wrapper .topcntArea .topcntBox {
	margin-bottom: 0px;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0); /* box-shadow 0px */
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
	margin-bottom: 0px;
}

#wrapper .topcntArea .topcntBox .cntInner {
	padding: 10px 25px 30px 25px ;
	background: #FFF;
	background: rgba(255, 255, 255, 0.3); /* 背景色のみ透過 */
	border-radius: 0px 0px 5px 5px; /* 角丸 */
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
}

	#wrapper .topcntArea .topcntBox .cntInner ul {
		/*margin: 20px 26px 9px 27px;*/
	}

	#wrapper .topcntArea .topcntBox .cntInner ul li{
		float: left;
		margin: 8px 25px;
	}


/* TOP ニュースエリア
---------------------------------------------------------------- */

/* What's new */
#wrapper .topcntArea .topcntBox .wn {
	padding: 11px 20px 0px 20px ;
}

	#wrapper .topcntArea .topcntBox .wn ul {
		overflow: auto; /* スクロールバーの表示 */
		height: 300px;
	}
	
		#wrapper .topcntArea .topcntBox .wn ul li {
			margin-bottom: 12px;
			padding-bottom: 14px;
			/*border-bottom: 1px solid #d6d6d6;*/
		}
		
			#wrapper .topcntArea .topcntBox .wn ul li dl {
				overflow: hidden;
			}
			
				#wrapper .topcntArea .topcntBox .wn ul li dl dt {
					float: none;
					margin: 0 0 4px 0;
				}
				
				#wrapper .topcntArea .topcntBox .wn ul li dl dd {
					float: left;
					width: 100%;
				}
				


/* 出展者ニュース */
#wrapper .topcntArea .topcntBox .newsInner {
	padding: 11px 20x 0px 20px ;
}

	#wrapper .topcntArea .topcntBox .newsInner ul {
		overflow: auto; /* スクロールバーの表示 */
		height: 300px;
	}
		#wrapper .topcntArea .topcntBox .newsInner ul li {
			margin-bottom: 12px;
			padding-bottom: 14px;
			border-bottom: 1px solid #d6d6d6;
		}
			#wrapper .topcntArea .topcntBox .newsInner ul li dl {
				overflow: hidden;
			}			
				#wrapper .topcntArea .topcntBox .newsInner ul li dl dt {
					float: none;
					margin: 0 0 4px 0;
				}							
				#wrapper .topcntArea .topcntBox .newsInner ul li dl dd {
					float: none;
				}
				
				#wrapper .topcntArea .topcntBox .newsInner ul li dl .pic {
						float: left;
						margin-right: 15px;
				}
				
					#wrapper .topcntArea .topcntBox .newsInner ul li dl .pic img {
							max-width: 100px;
							float: left;
					}
	
/* TOP メディアパートナー
---------------------------------------------------------------- */
#wrapper .topcntArea .topcntBox .partnerBnr {
	padding: 10px;
	background: rgba(255, 255, 255, 0.8);
}

#wrapper .topcntArea .topcntBox .partnerBnr li {
	display: inline-block;
	width: 30%;	
	padding: 5px;
	margin: 0!important;
}

	
	
}
	
	