body{
	width:730px;
}

h3{
	 font-size: 14px;
	 border-top: solid 1px #666;
	 border-bottom: solid 1px #666;
	 color: #333333;
	 padding:5px 0;
	 margin: 10px 0;
}

ul{
	color: #333333;
}

ul li{
list-style: url(../listcap1.gif);
line-height: 2.0;
font-size: 12px;

}

ul ul li{
	color:#666;
	list-style: url(../listcap2.gif);
}

#day{
	text-align: right;
	color: #666;
	font-size: 12px;
	margin-right: 30px;
	
}
