/*   /exhibition/area/index.html
/*	 トップページ
------------------------*/




/*   NaviArea
------------------------*/
#selectNavi{
padding:0px 0px 30px 0px;
}

#selectNavi ul.dlNavi li{
float:left;
width:219px;
padding:0px 4px 15px 0px;
}

#selectNavi ul.ancNavi li{
float:left;
width:293px;
padding:0px 5px 4px 0px;
}

#selectNavi a:hover img {
-moz-opacity:0.7;
opacity:0.7;
filter: alpha(opacity=70);
}

/*   MainArea
------------------------*/
.areaInfo{
width:892px;
}

table.areaBox{
width:892px;
border:0px;
margin:0px;
padding:2px;
color:#333333;
line-height:150%;
}
table.areaBox td{
vertical-align:top;
font-size:12px;
padding:0px 3px 20px 3px;
}
table.areaBox td.areaExplan{
font-size:14px;
}
table.areaBox td.areaImg img{
padding-left:10px;
}
table.areaBox td.areaImg table td.photo{
padding:0px;
}
p.areaObject{
padding-bottom:5px;
}
table.areaBox td.priceWrap{
padding:15px 10px 10px 15px;
background:#f2ede9;
width:413px;
}
table.priceBox td{
padding:0px;
}
p.notions{
font-size:18px;
font-weight:bold;
padding:0px;
line-height:1.2em;
}
p.notionsSize{
font-size:14px;
font-weight:bold;
line-height:1.2em;
}
table.priceBox td.koma{
font-size:14px;
font-weight:bold;
padding:0px 20px 5px 0px;
}

table.priceBox td.price{
font-size:14px;
font-weight:bold;
padding:0px 5px 5px 5px;
vertical-align:top;
}
table.priceBox td.priceNote{
padding:0px;
font-size:10px;
line-height:1.2em;
}
.comments{
font-size:10px;
line-height:1.2em;
}
.pagetop{
margin:0px 0px 35px 0px;
}
td img{
vertical-align:top;
}



.boldwhite{
line-height:25px;
padding-left:50px;
background-color:#fe8c27;
}
.bottom5{
margin-bottom:5px;
}
.boxtext{
font-size:11px;
border:solid 1px #000000;
padding:0 3px;
margin-bottom:5px;
line-height:22px;
width:225px;
text-align:center;
}
.boxtexttitle{
font-size:12px;
text-align:center;
border:solid 1px #000000;
padding:0 3px;
margin-bottom:5px;
line-height:22px;
}
.font16{
font-size:16px;
line-height:1.5em;
}
.section p.wakuin {
font-size:12px;
line-height:1.2em;
padding:5px 5px 5px 5px;
}
.commentsbold{
font-weight:bold;
font-size:9px;
}
.bold{
font-weight:bold;
line-height:1.em;
}
.boldred{
font-weight:bold;
color:#F92949;
}
.waku{
padding:5px;
border:#000000 solid 1px;
margin-bottom:5px;
margin-top:10px;
}
.waku_privilege{
padding:5px;
background-color:#FFF0D0;
margin-bottom:5px;
}
.red{
color:#F92949;
}
.tdimage{
margin-bottom:8px;
}
.privilege{
font-size:11px;
line-height:1.5em;
font-weight:bold;
}


.size11b{
	font-weight:bold;
	font-size:11px;
}
