@charset "UTF-8";
/* contents-movie  ===================================================== */
#contents-story{

}

#contents-story #slideshow{
	background:url(common-contents/common-contents.gif);
	width:300px;
	height:169px;
	margin:0 10px 10px;
	border-radius: 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
}

#contents-story #slideshow img{
	display:none;
}

#contents-story p{
	margin:0 10px 10px;
	padding:5px;
	background:url(../../../../common/css/mobile/common-contents/bgP.gif);
	border-radius: 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
}