@charset "UTF-8";
/* own-main   ===================================================== */
#common-contents{
	width:800px;
	margin:250px auto 0;
	padding:0 0 50px;
	z-index:4;
	position:relative;
}

/*IE6-7hack*/
#common-contents{
	/margin:0 auto 0;
	/padding:250px 0 50px;
}


/* clear fix */
#common-contents{
	zoom:1;/*for IE 5.5-7*/
}

#common-contents:after{/*for modern browser*/
	content:".";
	display: block;
	height:0px;
	clear:both;
	line-height:0; 
	visibility:hidden;
}