/* CSS Document */

/* ƒRƒ“ƒeƒ“ƒc */

.outline td{
	font-size:12px;
	padding: 5px 3px;
	border-bottom: 1px solid #CCC;
}

/*/////////////////////////////////
’Ç‰Á
////////////////////////////////*/

.title{
	padding-bottom:5px;
}

.title2{
	margin-top:20px;
	padding-bottom:5px;
}

.subtitle{
	font-size:12px;
	font-weight:bold;
	color:#3A93BC;
	text-align:left;
	margin:0px;
	padding-bottom:0px;
	padding-left:3px;
}

.arrow{
	background-image:url(images/arrow.gif);
	background-position:0 0;
	background-repeat:no-repeat;
	padding-left:12px;
}

.eachstep td{
	margin-top:5px;
	font-size:12px;
	padding: 5px 3px;
	border-bottom: 1px solid #CCC;

}

.l_padding{
	padding-left:24px;
}

/* +++++++++++admission.html+++++++++++ */

/* PDF AREA */
.PdfDown {
	margin:0px;
	padding:0px;
	font-size:10px;
	color:#333333;
	text-align:center;
}


.PdfDown img {
	margin:10px 15px;
	padding:0px;
}

/*fo-ramu*/
table.timetable{
margin:0px 0px 20px 0px;
background-color:#CCCCCC;
padding:0px;
}
table.timetable th{
background-color:#245972;
text-align:left;
color:#FFF;
padding:7px 5px 5px 5px;
font-size:12px;
vertical-align:top;
}
table.timetable td{
background-color:#FFF;
padding:5px 5px 0px 5px;
font-size:12px;
vertical-align:top;
width:490px;
}
#MainFrame table.timetable td p{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
}
table.timetable td img{
margin:5px;
}
table.timetable td strong{
color:#666;
}
.linkpdf{
text-align:right;
padding-right:25px;
}

