/********************************Side Menu**********************************/


#side_menu{
	float: left;
	width: 243px;
	font-size: 12px;
}

#side_menu a {
	text-decoration: none;
}

#side_title{

	background-image:url(../../images/side_top_b.gif);
	width: 243px;
	height: 88px;
	display: block;
	text-decoration: none;
}



.bts_t_regist{

	background-image:url(../../business/images/s_bt_regist.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}

.bts_t_regist a:hover{
	background-image:url(../../business/images/s_bt_regist_on.gif); 
	width: 243px;
	height: 46px;
	display: block;
}

#side_menu .bts_t_regist_on{

	background-image:url(../../business/images/s_bt_regist_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}




.bts_t{

	background-image:url(../../business/images/s_bt_top.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}


.bts_t_tgs{

	background-image:url(../../business/images/s_bt_tgs.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}


.bts_t_tgs a:hover{
	background-image:url(../../business/images/s_bt_tgs_on.gif); 
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
}

.bts_t_tgs_on{

	background-image:url(../../business/images/s_bt_tgs_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}




.bts_1{

	background-image: url(../../business/images/s_bt_b2b.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_1 a:hover{

	background-image: url(../../business/images/s_bt_b2b_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


.bts_1_on{

	background-image: url(../../business/images/s_bt_b2b_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


.bts_match{
	background-image: url(../../business/images/s_bt_match.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
	
}

.bts_match a:hover{

	background-image: url(../../business/images/s_bt_match_on.gif);
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_match_on{
	background-image: url(../../business/images/s_bt_match_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
	
}




.bts_fes{
	background-image: url(../images/bt_cofesta.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
	
}

.bts_fes a:hover{

	background-image: url(../images/bt_cofesta_on.gif);
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}





.bts_co{
	background-image: url(../../business/images/s_bt_co.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
	
}

.bts_co a:hover{

	background-image: url(../../business/images/s_bt_co_on.gif);
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_co_on{
	background-image: url(../../business/images/s_bt_co_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
	
}



#side_bottom{

	background-image: url(../../images/side_bottom.gif);
	width: 243px;
	height: 88px;
	display: block;
	text-decoration: none;
}

#side_bottom_bg{

	background-image: url(../../business/images/side_bottom_bg.gif);
	width: 243px;
	height: 244px;
	display: block;
	text-decoration: none;
}
#side_info{
	margin: 10px 0px 0px 56px;
	width: 148px;
	height: 44px;
}

#side_b_mail a:link a:visited a:hover a:active{

	text-decoration: none;
	color: #000000;
	border: none;

}

.bts_t a:link,a:visited,a:active,.bts_1 a:link,.bts_2 a:link,a:visited,a:active,.bts_3 a:link,.bts_4 a:link,.bts_5 a:link,.bts_6 a:link{	

	text-decoration: none;
	border: none;
}


/********************************Forum**********************************/

#contents{
	width: 900px;

}

#contents_area{
	
	 float: right;
	 width: 657px;
	 height: auto;
	 margin: 0 0 0 0;
}


#title{
	background-image: url(../../business/images/page_title.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}


#contents_s{
	background-image:  url(../../business/images/page_bg.gif);
	width: 637px;
	height: auto;
	min-height: 400px;
	padding: 20px 0px 100px 0px;

	
	
}

.midashi{
	float: left;
	font-size: 12px;
	text-align: center;
}

.p{
	font-size: 12px;
	margin: 10px 0px 0px 30px;
	_margin: 20px 0px 0px 20px;
	text-align: left;
	float: left;
	width: 350px;
	
}

.photo{
	float: right;
	margin: 10px 60px 0px 0px;
	_margin: 10px 30px 0px 0px;

}

#contents_footer{
	background-image:url(../../business/images/page_footer.gif);
	width: 637px;
	height: 49px;
}

.p_sozai{
	margin: 0px 5px;

}

.naiyou{
	margin: 0px 0px 0px 40px;
	
}
tr{
	font-size: 12px;
	border: 15px;
	margin-top: 10px;
}

td{
	height: 20px;
	padding: 10px 0px 0px 10px; 
}


#top_bt{
	float: right;
	
	margin: 26px 0px 0px 0px;

}

.contents_line{
	margin: 0px 0px 0px 30px;

}


.kouen{
	font-size: 12px;
	margin: 10px 0px 0px 40px;
}

.kouen_2{
	font-size: 12px;
	margin: 10px 0px 0px 50px;
}



#forum table{
	clear: both;
	width: 560px;
	border-collapse: collapse;	
	margin: 5px 0 0 40px;
	text-align: left;
	color: #333333;
	border: #666 dotted 1px;

}

#forum tr{
	margin: 0;
}

#forum .td{
	width: 100px;
	text-align: left;
	vertical-align: top;
	height: 10px;
	background: url(../images/asi.gif) no-repeat 3px 16px #333333;
	color: #FFFFFF;
}

#forum td{
	vertical-align: top;
	margin: 0;
	border-bottom: #666 dotted 1px;
}

#forum strong{
	margin: 10px 0 10px 40px;
	font-weight: bolder;
	color: #0066CC;
	font-size: 16px;
	display: block;
}

#forum .Lecture{
	width: 560px;
	border: #999999 1px solid;
	margin: 0 0 0 40px;
}

#forum .Lecture td{
	border: #999999 1px dotted;
	padding: 5px 0 10px 10px;
}

#forum .Lecture td{
	width: 280px;
	vertical-align: middle;
}

#forum .Lecture span{
	font-weight: bold;
	display: block;
	color: #003366;
}

#forum .Lecture .CategoryT{
	background: #ccc;
	color: #333333;
	font-weight: bold;
	text-align: center;
	height: 10px;
	_padding: 0px 0 0 120px;

}

#forum .Lecture .Category{
	background: #ccc;
	color: #333333;
	font-weight: bold;
	text-align: center;
}


#forum .Lecture .Category img{
	margin: 0 0 0 10px;
}

#forum .Lecture th{
	background: #333;
	color: #FFFFFF;
	font-size: 12px;
	border: #999999 1px dotted;
	width: 30px;
	text-align: center;
}

#forum .Lecture .SubTitle{
	text-align: left;
	
}

#forum .Detail{
	width: 560px;
	border: #999999 1px solid;
}

#forum .Detail th{
	text-align: center;
	background: #333333	;
	color: #FFFFFF;
	border: #999999 1px solid;
}

#forum .Detail .Price{
text-align:right;
color: #990000;
font-weight: bold;
border-bottom: #999999 1px solid;
	
}

#forum .Detail .Time{
text-align: left;
color: #333333;
font-weight: bold;
border-bottom: #999999 1px solid;
	
}

#forum .Detail .SubTitle{
	background: #ccc;
	color: #000;
	width: 530px;
	padding: 0 0 0 0;
	margin: 15px 0 0 0;
	font-weight:bold;
 }

#forum .Detail .SubTitle img{
margin: 0 0 0 10px;
vertical-align: middle;
}

.Normal	 b{
	text-align: left;
	font-size: 12px !important;
	display: block;
	margin: 10px 0;
	width: 100%;
}

#forum .Lecture .Normal{
	vertical-align: top;
}

#forum .TimeTable{
	text-align: right;
	font-size: 12px;
	color: #0066FF;
	margin: 20px 50px 0 0;
}

.DotLine{
	display: block;
	width: 530px;
	_width: 530px;
	border-bottom: dotted 1px #666666;
	height: 10px;
	
}



#forum td p{
	margin: 10px 0 0 0;
}

/********************access***********************/


#contents_ac{
	background-image:  url(../../business/images/page_bg.gif);
	width: 637px;
	height: auto;
	padding-top: 10px;
	min-height: 600px;
}



#title_1{
	background-image: url(../../business/images/page_title_1.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}



#m_title{
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0px 0px 0px;
}

.cap{
	margin: 0px 10px 0px 30px;
}

/*////////////////B2B//////////////*/



#contents_b2b{

	background-image:  url(../../business/images/page_bg.gif);
	width: 637px;
	height: auto;
	min-height: 400px;
	padding: 20px 0px 120px 0px;
}

#contents_b2b #textB2b{

	padding:0 30px 0 30px;
}

#title_b2b{
	
	background-image: url(../../business/images/page_title_b2b.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}

#contents_b2b h2{
	background: url(../../images/cap.gif) no-repeat 5px;
	font-size: 14px;
	padding: 0 0 0 14px;
	margin: 10px 0 0 0;
	font-weight: bold;
	}

#contents_b2b h3{
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	margin: 10px 0 0 10px;
	}

#contents_b2b p{
	font-size: 12px;
	line-height: 1.6;
	
}

#contents_b2b ul{
	margin: 10px 0 0 20px;
	font-size: 12px;
}

#contents_b2b #p{
	border: 1px dotted #CCCCCC;
	display: block;
	padding: 10px;
	margin: 10px 0 20px 0;
}


/*//////////////////////////////////////////*/
#news{
	background-image:  url(../../business/images/page_bg.gif);
	width: 637px;
	height: auto;
	min-height: 300px;
	padding: 10px 0 0 0;
	
}

#news #text{
	padding: 0 40px 0 40px;
}

#news p{
	font-size: 12px;
}


#title_bizmatch{ 
	background-image: url(../../business/images/page_title_bizmatch.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;
}


#news iframe{
	border: #666666 1px solid;
	margin: 20px 0 10px 40px;
}


/*/////////////////////BIZMatchupサービス////////////////////*/



#textmatch{
	margin: 0 0 0 40px;
	padding: 0 60px 0 0;
}

#textmatch span{
	font-size: 10px;
	color: #999999;
	background: url(../../images/kome.gif) no-repeat 0px 3px;
	display: block;
	padding: 0 0 0 10px;
}


/*/////////////////////B-day////////////////////*/


#title_bday{
	background-image: url(../../business/images/page_title_bday.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;
}

#contents_b{
	background-image:  url(../../business/images/page_bg.gif);
	width: 637px;
	height: auto;
	min-height: 400px;
	padding: 20px 0px 100px 0px;

}


#contents_b  h2{
	background: url(../../images/cap.gif) no-repeat 5px;
	font-size: 14px;
	padding: 0 0 0 14px;
	margin: 10px 0 0 38px;
	font-weight: bold;
	
	}

#text h2{
	background: url(../../images/cap.gif) no-repeat 5px;
	font-size: 14px;
	padding: 0 0 0 14px;
	margin: 10px 0 0 0;
	font-weight: bold;
}


#text{
	padding: 0 40px 0 30px;
	font-size: 12px;
}

#text strong{
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}

#text ul{
	margin: 10px 0 0 20px;
}

#text ul,li{
	
	list-style: circle;
	
}

#textB2b ul ul{
	
	list-style: none !important;
	color: #666666;
	margin: 0 0 15px 0;
	
}

#textB2b ul ul li{
	
	list-style: none !important;
	
}

#text p{
	
	margin: 10px 0 0 8px;
	
}

#text span{
	font-size: 10px;
	color: #999999;
	background: url(../../images/kome.gif) no-repeat 0px 3px;
	display: block;
	padding: 0 0 0 10px;
}

#forum .Detail{
	padding: 0 0 0 0;
	margin-top: 50px;
}

#forum .ToDetail{
	text-align: right;
	margin: 0 5px 10px 0;
	display: block;
}

.Detail .Name{
	font-weight: bold;
	line-height: 1.6;
	
}

.Detail .Normal{
	line-height: 1.4;
}

.Moderator{
	display: block;
	margin: 10px 0 20px 0!important;
}

.Detail .Image{
	float: right;
	margin: 18px 30px 10px 10px;
}

#textB2b #workShop{
	margin: 10px 0 0 5px;
	width: 570px;
	padding-bottom: 50px;
}

#textB2b #workShop span{
	font-size: 24px;
}

#textB2b #workShop{
	
	
	}

#textB2b #workShop table{
	border-collapse: collapse;
	border: solid 1px #ccc;
	clear: both;
	margin: 10px 0 0 0px;
	width: 570px;

}

#textB2b #workShop td{
	border: solid 1px #ccc;
}

#textB2b #workShop .Time{
	color: #FFFFFF;
	background:  #333333;
	border: solid 1px #ccc;
}

#textB2b #workShop th,#textB2b #workShop td{
	color: #333;
	background:  #fff;
	border: solid 1px #ccc;
}

#textB2b #workShop th,#textB2b #workShop .note{
	font-size: 10px;
	color: #666666;
}