@charset "UTF-8";

#contents {
	position:relative;

}

#contents #sub_column {
	position:absolute;
	width:210px;
	_top:0px;

}

#sub_column ul {
			border-right: none;
			padding-bottom:0px;
		
		}

	

#contents #main_column {
	padding:4px 1px 20px 4px;
	border-left:#80CAEC solid 2px;
	min-height:574px;
	_height:574px;
	
}

/*ie7*/
html*#contents #main_column {
	min-height:573px;
}


#main_column #com_list{
	width:584px;

}

	#main_column h2{
		text-indent:-9999px;
		height:50px;
		width:580px;
		margin-bottom:16px;

	}
	
	
	#main_column .com_list_box{
	padding:0px 20px;
	color:#666666;
	padding-top:15px;
	

}


#main_column #com_list {
		background:#FF6600 url(../images/t_com_list.gif) no-repeat 14px 14px;
	
	}
	


#main_column  .path_com{
		margin-left:15px;
	}
	
		#main_column  .path_com li{
				display:block;
				float:left;
				
		
			}
		
#main_column .path{
	width:550px;
	font-size:15px;
	margin-left:18px;
	padding-top:10px;
	padding-bottom:4px;
	color:#FF6600;
	display:block;
	border-bottom:#FF6600 solid 1px;
	line-height:1.5;
	
	}
	
		#main_column .path a{
			color:#FF6600
;
		
		}
		
			#main_column .path a:hover,
			#main_column .path a:active{
			color:#FF6600
;
			text-decoration:underline;
		
			}


#main_column .com_list_box h3{
		text-indent:-9999px;
		width:51px;
		height:25px;
		margin-bottom:25px;
		
	

}

/*-----------------------------------------------------*/

#main_column .com_list_box #a{
		background:url(../images/t_a.gif) no-repeat;
	

}

#main_column .com_list_box #ka{
		background:url(../images/t_ka.gif) no-repeat;
	

}

#main_column .com_list_box #sa{
		background:url(../images/t_sa.gif) no-repeat;
	

}
#main_column .com_list_box #ta{
		background:url(../images/t_ta.gif) no-repeat;
	

}
#main_column .com_list_box #na{
		background:url(../images/t_na.gif) no-repeat;
	

}
#main_column .com_list_box #ha{
		background:url(../images/t_ha.gif) no-repeat;
	

}
#main_column .com_list_box #ma{
		background:url(../images/t_ma.gif) no-repeat;
	

}

#main_column .com_list_box #ya{
		background:url(../images/t_ya.gif) no-repeat;
	

}
#main_column .com_list_box #ra{
		background:url(../images/t_ra.gif) no-repeat;
	

}
#main_column .com_list_box #wa{
		background:url(../images/t_wa.gif) no-repeat;
	

}

#main_column .com_list_box #kaigai{
		background:url(../images/t_kaigai.gif) no-repeat;
		width:147px;
	

}

/*------------------英字タイトル------------------------------*/

#main_column #exhibitor_list{
	width:584px;

}



#main_column #exhibitor_list{
		background:#FF6600  url(../images/t_exhibitor_list.gif) no-repeat 14px 14px;
	
	}


#main_column .com_list_box #Aa{
		background:url(../images/t_Aa.gif) no-repeat 10px 5px;
		
	

}

#main_column .com_list_box #b{
		background:url(../images/t_b.gif) no-repeat 10px 5px;
		
	

}





/*-----------------------------------------------------*/


#main_column .com_list_box_l{
	width:250px;
	float:left;
	margin-right:20px;
	padding-right:18px;
	background:url(../../shared/images/line_y_dot.gif) repeat-y right;
	

}

#main_column .com_list_box_r {
	width:250px;
	float:left;
	

}
	
#main_column .com_col{
	margin-bottom:10px;
}
	#main_column .com_col .com_name {
		margin-bottom:10px;
		font-size:12px;
		display:block;
		color:#FF6600
;
	}
	a {
		color:#FF6600
;
	}
	#main_column .com_col .com_detail {
		margin-bottom:5px;
		font-size:10px;
		line-height:1.2;
	}
	#main_column .com_col .com_name span {
		margin-right:10px;
		display:block;
		width:20px;
		float:left;
	}
	
	#main_column .com_col .com_name .event_btn {
		margin-right:0px;
		display:inline;
		float:none;
		text-indent:-9999px;

		
		
	
	}
		#main_column .com_col .com_name .event_btn a{
			display:block;
			background:url(../images/bt_event.gif) no-repeat 0px 5px;
			width:60px;
			height:20px;
	
	}
	
		#main_column .com_col .com_name .event_btn a:hover,
		#main_column .com_col .com_name .event_btn a:active {
			background-position:-60px 5px;
	
	}
	
	
	
/*--------------------------------------------------------*/	

#sub_column .select a{
	background: url(../../shared/images/bt_com_list_on.gif) no-repeat;

}

/*--------------------------------------------------------*/

#sub_column .bt_f a{
	background: url(../../shared/images/bt_invitation_letter.gif) no-repeat;
}

#sub_column .bt_f a:hover,
#sub_column .bt_f a:active{
	background: url(../../shared/images/bt_invitation_letter_on.gif) no-repeat;

}
