@charset "UTF-8";

/* ===================================

	File Name   : common.css

====================================== */

/*========== Style Contents ==========

	Global Redefinition
	Font Size Redefinition
	Box Setting
	Basic Items Setting
	Header
	Footer
	Common Items Setting
	Module Setting

====================================== */






/*===== Global Redefinition =====*/

body {
	min-width: 940px;
	margin: 0px auto;
}

* html body {/* IE 6 Adjustment [Center Layout] */
	padding-left: 1px;
}

*:first-child+html body {/* IE 7 Adjustment [Center Layout] */
	padding-left: 1px;
}






/*===== Font Size Redefinition =====*/

body {
	font: 14px/1.231 "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Osaka","メイリオ","Meiryo","ＭＳ Ｐゴシック","verdana",sans-serif; /* Modern Browser */
	*font-size: small; /* IE 7 */
	*font: x-small; /* IE 6  */
	line-height: 1.7;
	color: #383838;
	background: #fff;
}
body dt,
body dd {
	line-height: 1.7;
}

/* Font Size -- 14px
10px 	72%
11px 	79%
12px 	86%
13px 	93%
14px 	100%
15px 	108%
16px 	115%
17px 	122%
18px 	129%
19px 	136%
20px 	143%
21px 	150%
22px 	158%
23px 	165%
24px 	172%
25px 	179%
26px 	186%
*/






/*===== Box Setting =====*/

/*----- Total Layout -----*/

#Entirety {
	width: 100%;
}

#Header {
	position: relative;
}
#Contents {
	position: relative;
	z-index: 900;
	width: 100%;
}

#Footer {
	position: relative;
	background: #020000;
	padding: 16px 0px;
	width: 100%;
}


/*----- Width & Back Ground -----*/

.CmnInner {
	width: 900px;
	margin: 0px auto;
}
.CmnInner02 {
	width: 860px;
	margin: 0px auto;
}
.CmnInner03 {
	width: 800px;
	padding: 30px;
	margin: 0px auto;
}
.CmnInner03pd2030 {
	width: 800px;
	padding: 20px 30px;
	margin: 0px auto;
}
.CmnInner04 {
	width: 840px;
	margin: 0px auto;
}

.BgGray {
	padding-top: 30px;
	padding-bottom: 30px;
	background: url(../img/bg_gray.png) center top repeat;
}
.BgGray02 {
	padding-top: 30px;
	padding-bottom: 30px;
	background: url(../img/bg_gray02.png) center top repeat;
}
.BgWhite {
	background: url(../img/bg_white.png) center top repeat;
}
.BgColWhite {
	background: #fff;
}
.BgColGray {
	background: #ececec;
}

/*.Section {
	width: 860px;
	margin-left: auto;
	margin-right: auto;
}*/





/*===== Basic Items Setting =====*/

/*----- Basic Link -----*/

a {
	outline: hidden;
	text-decoration: underline;
}
a:link {
	color: #436ee3;
}
a:visited {
	color: #436ee3;
}
a:hover {
	color: #436ee3;
	text-decoration: none;
}


/*----- Basic Link -----*/

a.Hover6:hover img {
	opacity: 0.60;
	-moz-opacity: 0.60;
	-khtml-opacity: 0.60;
	filter: alpha(opacity=60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
}
.ie8 a.Hover6:hover img {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
}


/*----- Hidden Character Setting -----*/

a span {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}





/*===== Header =====*/

/*----- HeaderTop -----*/

#HeaderTop:after {
	content:".";
	display:block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}
#HeaderTop {
	zoom: 1;
}

#HeaderTop strong {
	display: block;
	float: left;
	width: 300px;
	height: 20px;
	margin: 18px 0px 27px;
	line-height: 0;
}


/*----- SocialNavi -----*/

#HeaderTop ul#SocialNavi {
	float: left;
	width: 160px;
	height: 38px;
	padding-left: 11px;
	margin-left: 154px;
}
#HeaderTop ul#SocialNavi li {
	float: left;
	width: 50px;
	height: 38px;
}
#HeaderTop ul#SocialNavi li a {
	display: block;
	width: 50px;
	height: 38px;
	overflow: hidden;
	-o-transform: skew(-31deg);
	-ms-transform: skew(-31deg);
	-webkit-transform: skew(-31deg);
	-moz-transform: skew(-31deg);
	transform: skew(-31deg);
}
.ie8 #HeaderTop ul#SocialNavi li a {
	overflow: visible;
}
#HeaderTop ul#SocialNavi li a span {
	display: block;
	position: relative !important;
	width: 72px !important;
	height: inherit !important;
	margin-left: -11px;
	overflow: hidden;
	text-indent: 72px;
	white-space: nowrap;
	background-image: url(../img/btn_socialnavi.png);
	background-position: left top;
	background-repeat: no-repeat;
	-o-transform: skew(31deg);
	-ms-transform: skew(31deg);
	-webkit-transform: skew(31deg);
	-moz-transform: skew(31deg);
	transform: skew(31deg);
}

#HeaderTop ul#SocialNavi li.BtnFacebook a span {
	background-position: 0px top;
}
#HeaderTop ul#SocialNavi li.BtnFacebook a:hover span {
	background-position: 0px -38px;
}
.ie8 #HeaderTop ul#SocialNavi li.BtnFacebook a:hover span {
	background-position: 0px top;
}

#HeaderTop ul#SocialNavi li.BtnTwitter a span {
	background-position: -50px top;
}
#HeaderTop ul#SocialNavi li.BtnTwitter a:hover span {
	background-position: -50px -38px;
}
.ie8 #HeaderTop ul#SocialNavi li.BtnTwitter a:hover span {
	background-position: -50px top;
}

#HeaderTop ul#SocialNavi li.BtnLinkedIn a span {
	background-position: -100px top;
}
#HeaderTop ul#SocialNavi li.BtnLinkedIn a:hover span {
	background-position: -100px -38px;
}
.ie8 #HeaderTop ul#SocialNavi li.BtnLinkedIn a:hover span {
	background-position: -100px top;
}


/*----- BtnLanguage -----*/

#HeaderTop ul#BtnLanguage {
	float: right;
	width: 260px;
	height: 28px;
	background: url(../img/btn_lang.png) no-repeat;
}
#HeaderTop ul#BtnLanguage li {
	width: 81px;
	height: 28px;
	margin-left: 88px;
	overflow: hidden;
	-o-transform: skew(-31deg);
	-ms-transform: skew(-31deg);
	-webkit-transform: skew(-31deg);
	-moz-transform: skew(-31deg);
	transform: skew(-31deg);
}
.ie8 #HeaderTop ul#BtnLanguage li {
	overflow: visible;
}
#HeaderTop ul#BtnLanguage li a {
	display: block;
	width: 97px;
	height: 28px;
	margin-left: -8px;
	overflow: hidden;
	text-indent: 97px;
	white-space: nowrap;
	background-image: url(../img/btn_lang.png);
	background-position: -80px top;
	-o-transform: skew(31deg);
	-ms-transform: skew(31deg);
	-webkit-transform: skew(31deg);
	-moz-transform: skew(31deg);
	transform: skew(31deg);
}
#HeaderTop ul#BtnLanguage li a:hover {
	background-position: -80px -28px;
}
.ie8 #HeaderTop ul#BtnLanguage li a:hover {
	background-position: -80px top;
}


/*----- HeaderDayPlace -----*/

#HeaderDayPlace {
	width: 100%;
	height: 46px;
	margin-bottom: 3px;
	background: url(../img/bg_black.png) center top repeat;
}
#HeaderDayPlace dl {
	display: block;
	height: 46px;
	text-indent: -9999px;
	background: url(../img/overview.png) no-repeat;
}


/*----- HeaderNavi -----*/

#HeaderNavi {
	clear: both;
	width: 100%;
	height: 50px;
	margin-bottom: 13px;
	background: url(../img/bg_pink.png) center top repeat;
}
#HeaderNavi .CmnInner {
	position: relative;
}


/*----- GlobalNavi -----*/

#HeaderNavi #GlobalNavi {
	position: relative;
	left: 11px;
	top: 0px;
}
#HeaderNavi #GlobalNavi li {
	float: left;
	width: 149px;
	height: 50px;
}
#HeaderNavi #GlobalNavi li a {
	display: block;
	width: 150px;
	height: 50px;
	overflow: hidden;
	-o-transform: skew(-31deg);
	-ms-transform: skew(-31deg);
	-webkit-transform: skew(-31deg);
	-moz-transform: skew(-31deg);
	transform: skew(-31deg);
}
.ie8 #HeaderNavi #GlobalNavi li a {
	overflow: visible;
}
#HeaderNavi #GlobalNavi li.BtnDownload,
#HeaderNavi #GlobalNavi li.BtnDownload a {
	width: 194px;
}
#HeaderNavi #GlobalNavi li a span {
	display: block;
	position: relative !important;
	width: 120px !important;
	height: inherit !important;
	padding: 0px 20px 0px 40px;
	margin-left: -16px;
	overflow: hidden;
	text-indent: 150px;
	white-space: nowrap;
	background-image: url(../img/btn_globalnavi.png);
	background-position: left top;
	background-repeat: no-repeat;
	-o-transform: skew(31deg);
	-ms-transform: skew(31deg);
	-webkit-transform: skew(31deg);
	-moz-transform: skew(31deg);
	transform: skew(31deg);
}
#HeaderNavi #GlobalNavi li.BtnDownload a span {
	width: 164px !important;
	text-indent: 194px;
}

#HeaderNavi #GlobalNavi li.BtnExhibit a span {
	background-position: 1px 0px;
}
#HeaderNavi #GlobalNavi li.BtnExhibit a:hover span {
	background-position: 1px -50px;
}
.ie8 #HeaderNavi #GlobalNavi li.BtnExhibit a:hover span {
	background-position: 1px 0px;
}

#HeaderNavi #GlobalNavi li.BtnPress a span {
	background-position: -148px 0px;
}
#HeaderNavi #GlobalNavi li.BtnPress a:hover span {
	background-position: -148px -50px;
}
.ie8 #HeaderNavi #GlobalNavi li.BtnPress a:hover span {
	background-position: -148px 0px;
}

#HeaderNavi #GlobalNavi li.BtnPreview a span {
	background-position: -297px 0px;
}
#HeaderNavi #GlobalNavi li.BtnPreview a:hover span {
	background-position: -297px -50px;
}
.ie8 #HeaderNavi #GlobalNavi li#.BtnPreview a:hover span {
	background-position: -297px 0px;
}

#HeaderNavi #GlobalNavi li.BtnContact a span {
	background-position: -446px 0px;
}
#HeaderNavi #GlobalNavi li.BtnContact a:hover span {
	background-position: -446px -50px;
}
.ie8 #HeaderNavi #GlobalNavi li.BtnContact a:hover span {
	background-position: -446px 0px;
}

#HeaderNavi #GlobalNavi li.BtnDownload a span {
	background-position: -595px 0px;
}
#HeaderNavi #GlobalNavi li.BtnDownload a:hover span {
	background-position: -595px -50px;
}
.ie8 #HeaderNavi #GlobalNavi li.BtnDownload a:hover span {
	background-position: -595px 0px;
}

#HeaderNavi #GlobalNaviImg {
	display: none;
	position: relative;
	left: -4px;
	top: 0px;
	height: 50px;
	overflow: hidden;
}


/*----- GlobalNaviSub { DropDown } -----*/

#HeaderNavi #GlobalNaviSub {
	display: none;
	position: absolute;
	left: 0px;
	top: 50px;
	width: 260px;
	z-index: 1000;
}
#HeaderNavi #GlobalNaviSub li a,
#HeaderNavi #GlobalNaviSub li span {
	display: block;
	width: 260px;
	height: 38px;
	overflow: hidden;
	text-indent: 260px;
	white-space: nowrap;
	background-image: url(../img/btn_globalnavi_exhibit.png);
	background-position: left top;
	background-repeat: no-repeat;
}

#HeaderNavi #GlobalNaviSub li.BtnExhibit a {
	background-position: 0px 0px;
}
#HeaderNavi #GlobalNaviSub li.BtnExhibit a:hover {
	background-position: -260px 0px;
}
.ie8 #HeaderNavi #GlobalNaviSub li.BtnExhibit a:hover {
	background-position: 0px 0px;
}

#HeaderNavi #GlobalNaviSub li.BtnArea a {
	background-position: 0px -38px;
}
#HeaderNavi #GlobalNaviSub li.BtnArea a:hover {
	background-position: -260px -38px;
}
.ie8 #HeaderNavi #GlobalNaviSub li.BtnArea a:hover {
	background-position: 0px -38px;
}

#HeaderNavi #GlobalNaviSub li.BtnIndie_games span {
	height: 38px;
	background-position: -520px -76px;
}
#HeaderNavi #GlobalNaviSub li.BtnIndie_games a {
	height: 38px;
	background-position: 0px -76px;
}
#HeaderNavi #GlobalNaviSub li.BtnIndie_games a:hover {
	background-position: -260px -76px;
}
.ie8 #HeaderNavi #GlobalNaviSub li.BtnIndie_games a:hover {
	background-position: 0px -76px;
}

#HeaderNavi #GlobalNaviSub li.BtnSponsor a {
	background-position: 0px -114px;
}
#HeaderNavi #GlobalNaviSub li.BtnSponsor a:hover {
	background-position: -260px -114px;
}
.ie8 #HeaderNavi #GlobalNaviSub li.BtnSponsor a:hover {
	background-position: 0px -114px;
}

#HeaderNavi #GlobalNaviSub li.BtnSupport a {
	background-position: 0px -152px;
}
#HeaderNavi #GlobalNaviSub li.BtnSupport a:hover {
	background-position: -260px -152px;
}
.ie8 #HeaderNavi #GlobalNaviSub li.BtnSupport a:hover {
	background-position: 0px -152px;
}

#HeaderNavi #GlobalNaviSub li.BtnRule a {
	background-position: 0px -190px;
}
#HeaderNavi #GlobalNaviSub li.BtnRule a:hover {
	background-position: -260px -190px;
}
.ie8 #HeaderNavi #GlobalNaviSub li.BtnRule a:hover {
	background-position: 0px -190px;
}

/*SOWN*/
#HeaderNavi #GlobalNaviSub li.BtnSOWN a {
	background-position: 0px -228px;
}
#HeaderNavi #GlobalNaviSub li.BtnSOWN a:hover {
	background-position: -260px -228px;
}
.ie8 #HeaderNavi #GlobalNaviSub li.BtnSOWN a:hover {
	background-position: 0px -228px;
}


/*DL*/
#HeaderNavi #GlobalNaviSub li.BtnDownload a {
	background-position: 0px -266px;
}
#HeaderNavi #GlobalNaviSub li.BtnDownload a:hover {
	background-position: -260px -266px;
}
.ie8 #HeaderNavi #GlobalNaviSub li.BtnDownload a:hover {
	background-position: 0px -266px;
}


/*Report*/
#HeaderNavi #GlobalNaviSub li.BtnReport a {
	height: 37px;
	background-position: 0px -304px;
}
#HeaderNavi #GlobalNaviSub li.BtnReport a:hover {
	background-position: -260px -304px;
}
.ie8 #HeaderNavi #GlobalNaviSub li.BtnReport a:hover {
	background-position: 0px -304px;
}


/*----- HeaderPages -----*/

#HeaderPages {
	clear: both;
	width: 100%;
	height: 136px;
	margin-bottom: 13px;
	background: url(../img/bg_h1.jpg) center top no-repeat #000;
}
#HeaderPages .HeaderPagesInner {
	width: 860px;
	margin: 0px auto;
}
#HeaderPages h1 {
	display: table-cell;
	width: 860px;
	height: 136px;
	vertical-align: middle;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.3;
	color: #fff;
	/height: 56px;
	/padding: 50px 0px 30px;
}
#HeaderPages h1.H1Half {
	width: 430px;
	/float: left;
}
#HeaderPages .BtnDL {
	display: table-cell;
	width: 380px;
	height: 136px;
	padding-left: 20px;
	padding-right: 30px;
	text-align: left;
	vertical-align: middle;
	/float: right;
	/height: 106px;
	/padding-top: 30px;
}






/*===== Footer =====*/

/*----- Footer Items -----*/

.Foot_wrap{
	position: relative;
	width: 900px;
	height: 40px;
	margin: 0 auto;
}

address {
	position: absolute;
	top: 21px;
	left: 325px;
	width: 390px;
	text-align: left;
	line-height: 1;
	letter-spacing: 0.05em;
	font-size: 9px;
	color: #FFF;
}

#Footer strong {
	display: block;
	position: absolute;
	top:11px;
	left: 0;	
	width: 313px;
	height: 19px;
	text-align: center;
}

#Footer ul {
	display: block;
	position: absolute;
	top: 0px;
	left: 0;
	padding: 0px 0px 0px 250px;
	width: 225px;
}

#Footer ul li {
	float: left;
}

#Footer .f_b1{
	position:absolute; top:0;
	left:708px;
}

#Footer .f_b2{
	position:absolute;
	top:0px;
	left:787px;
}

#Footer .f_bnrbox{
	width:900px;
	text-align:center;
	margin:0 auto;
	position:relative;
	left:5px;
}

#Footer .f_bnrbox .invisibleBnr {
	display: inline-block;
	width: 300px;
	height: 90px;
}

#Footer .f_bnrbox #bnr_4 {
	margin-left: -13px;
}

#Footer .f_bnrbox img {
	display:inline;
}

#Footer .f_bnrbox a,
#Footer .f_bnrbox .invisible {
	margin-right:10px;
}

#Footer .f_bnrbox a img {
	margin-bottom: 14px;
}

#Footer .f_bnrbox a:hover{
	opacity:0.7;
}

#Footer .f_bnrbox_2{padding-left:41px; position:absolute; left:100px; top:80px}

#Footer .f_bnrbox_2 a{float:left; margin-right:10px;}






/*===== Common Items Setting =====*/

/*----- Foot Mark -----*/

p#FootMark {
	position: relative;
	z-index: 999;
	width: 860px;
	margin: 20px auto 30px;
	font-size: 13px;
}
p#FootMark a {
	background: url(../img/arrow_footmark.gif) no-repeat right 6px;
	padding: 3px 18px 3px 0px;
	text-decoration: none;
	color: #006ee3;
}
p#FootMark a:hover {
	text-decoration: underline;
}
p#FootMark span {
	padding: 0px 0px 0px 5px;
	color: #666666;
}


/*----- Page Top Button -----*/

.BtnPageTop {
	position: fixed;
	right: 30px;
	bottom: 90px;
	clear: both;
	z-index:999;
}
.BtnPageTop a {
	display: block;
	width: 52px;
	height: 52px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: url(../img/btn_pagetop.png);
}
.BtnPageTop a:hover {
	opacity: 0.60;
	-moz-opacity: 0.60;
	-khtml-opacity: 0.60;
}


/*----- Bottom Banner Area -----*/

#BtmBnrArea {
	clear: both;
	padding: 40px 0px;
}
#BtmBnrArea p {
	text-align: center;
	margin-bottom: 0px;
}
#BtmBnrArea ul {
	text-align: center;
	font-size: 0;
}
#BtmBnrArea ul li {
	display: inline;
	padding: 0px 15px;
}
#BtmBnrArea a:hover {
	opacity: 0.60;
	-moz-opacity: 0.60;
	-khtml-opacity: 0.60;
}


/*----- Title Setting -----*/

.TtlContents {
	margin-top: 40px;
	text-align: center;
}
.TtlSection {
	margin-top: 40px;
	text-align: center;
}
.TtlSection02 {
	text-align: center;
}
.TtlSection_a {
}

.TtlSectionSub {
	font-size: 180%;
	font-weight: bold;
	color: #d9227f;
}

.SectionTtl02 {
	padding-bottom: 8px;
	border-bottom: 1px dashed #929292;
	font-size: 129%;
	font-weight: bold;
}
.SectionTtl03 {
	font-size: 172%;
	font-weight: bold;
	color: #0068b4;
}


/*----- btn Setting -----*/

ul.Btn {
	clear: both;
	font-size: 0;
	text-align: center;
}
ul.Btn li {
	display: inline;
}

ul.Btn2 {
	clear: both;
	font-size: 0;
	text-align: center;
}
ul.Btn2 li {
	position: relative;
	display: inline-block;
}
ul.Btn2 li {
	margin-left: 0px;
}

ul.Btn2 li:nth-of-type(2){
	margin-left: -30px;
}


/*----- Indent Setting -----*/

p.caution,
ul.caution li,
.indent01 li {
	padding-left: 1em;
	text-indent: -1em;
}


/*----- Line Setting -----*/

.LineBtm {
	padding-bottom: 30px;
	border-bottom: 1px solid #d9227f;
}


/*----- PdfList -----*/

.PdfList {
	width: 840px;
	margin: 0px auto;
	overflow: hidden;
}
.PdfList ul {
	width: 844px;
	margin-top: 26px;
}
.PdfList li {
	float: left;
	width: 418px;
	height: 82px;
	margin: 4px 0px 0px 4px;
	background: url(../img/bg_list.png);
}
.PdfList li a {
	display: table-cell;
	width: 338px;
	height: 42px;
	padding: 20px 40px 20px 80px;
	vertical-align: middle;
	background: url(../img/icon_pdf.png) 40px center no-repeat;
}


/*----- SectionFoot -----*/

.SectionFoot {
	margin-top: 40px;
}
.SectionFoot dt {
	font-weight: bold;
}


/*----- CmnFurtherBox (For further information) -----*/

div.CmnFurtherBox {
}

div.CmnFurtherBox dl {
	margin-top: 10px;
	padding: 20px 30px;
}
div.CmnFurtherBox dl dd dl {
	margin-top: 0px;
	padding: 0px;
}

div.CmnFurtherBox dl dt {
	margin-bottom: 10px;
	font-weight: bold;
}
div.CmnFurtherBox dl dd dl dt {
	margin: 0px;
	font-weight: bold;
}

div.CmnFurtherBox dl dt span{
	margin-bottom: 20px;
	font-weight: normal;
}

div.CmnFurtherBox dl dd {
	margin-bottom: 15px;
	line-height: 1.5;
}



/*----- Clear Release Common Item -----*/

#GlobalNavi,
#HeaderPages .HeaderPagesInner,
#Contents,
.Section,
.DownloadPdfList ul,
#Footer ul,
#SideBox dl dd,
ul.BtnPageTop,
.SectionFoot .btn {
	/zoom: 1;
/*margin-right: 60px;*/
}

#GlobalNavi:after,
#HeaderPages .HeaderPagesInner:after,
#Contents:after,
.Section:after,
.DownloadPdfList ul:after,
#Footer ul:after,
#SideBox dl dd:after,
ul.BtnPageTop:after,
.SectionFoot .btn:after {
	content: '';
	display: block;
	clear: both;
}






/*===== ■7. Module Setting =====*/

/*---------------------------------------------
	Clearfix
---------------------------------------------*/

.clearfix:after {
	content:".";
	display:block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

.clearfix {
	zoom: 1;
}


/* ----------------------------------------------
	Layout
---------------------------------------------- */

/*	text-align
---------------------------------------------- */
.tal { text-align: left !important;}
.tar { text-align: right !important;}
.tac { text-align: center !important;}


/*	list-style
---------------------------------------------- */
ul.ListSquare {
}
ul.ListSquare li {
	margin-left: 20px !important;
	list-style-position: outside;
}
ul.ListSquare li {
	list-style-type: square;
}


/* ----------------------------------------------
 	 padding
---------------------------------------------- */

/*   padding right+left
---------------------------------------------- */
.prl00 { padding-right:  0px !important; padding-left:  0px !important;}
.prl05 { padding-right:  5px !important; padding-left:  5px !important;}
.prl10 { padding-right: 10px !important; padding-left: 10px !important;}
.prl15 { padding-right: 15px !important; padding-left: 15px !important;}
.prl20 { padding-right: 20px !important; padding-left: 20px !important;}
.prl25 { padding-right: 25px !important; padding-left: 25px !important;}
.prl30 { padding-right: 30px !important; padding-left: 30px !important;}
.prl35 { padding-right: 35px !important; padding-left: 35px !important;}
.prl40 { padding-right: 40px !important; padding-left: 40px !important;}
.prl45 { padding-right: 45px !important; padding-left: 45px !important;}
.prl50 { padding-right: 50px !important; padding-left: 50px !important;}


/*   padding top+bottom
---------------------------------------------- */
.ptb00 { padding-top:  0px !important; padding-bottom:  0px !important;}
.ptb05 { padding-top:  5px !important; padding-bottom:  5px !important;}
.ptb10 { padding-top: 10px !important; padding-bottom: 10px !important;}
.ptb15 { padding-top: 15px !important; padding-bottom: 15px !important;}
.ptb20 { padding-top: 20px !important; padding-bottom: 20px !important;}
.ptb25 { padding-top: 25px !important; padding-bottom: 25px !important;}
.ptb30 { padding-top: 30px !important; padding-bottom: 30px !important;}
.ptb35 { padding-top: 35px !important; padding-bottom: 35px !important;}
.ptb40 { padding-top: 40px !important; padding-bottom: 40px !important;}
.ptb45 { padding-top: 45px !important; padding-bottom: 45px !important;}
.ptb50 { padding-top: 50px !important; padding-bottom: 50px !important;}


/*   padding full
---------------------------------------------- */
.pf00 { padding:  0px !important;}
.pf05 { padding:  5px !important;}
.pf10 { padding: 10px !important;}
.pf12 { padding: 12px !important;}
.pf15 { padding: 15px !important;}
.pf20 { padding: 20px !important;}
.pf25 { padding: 25px !important;}
.pf30 { padding: 30px !important;}
.pf35 { padding: 35px !important;}
.pf40 { padding: 40px !important;}
.pf45 { padding: 45px !important;}
.pf50 { padding: 50px !important;}


/*   padding detail
---------------------------------------------- */
.pt00 { padding-top:  0px !important;}
.pt05 { padding-top:  5px !important;}
.pt10 { padding-top: 10px !important;}
.pt15 { padding-top: 15px !important;}
.pt20 { padding-top: 20px !important;}
.pt25 { padding-top: 25px !important;}
.pt30 { padding-top: 30px !important;}
.pt35 { padding-top: 35px !important;}
.pt40 { padding-top: 40px !important;}
.pt45 { padding-top: 45px !important;}
.pt50 { padding-top: 50px !important;}

.pr05 { padding-right:  5px !important;}
.pr10 { padding-right: 10px !important;}
.pr15 { padding-right: 15px !important;}
.pr20 { padding-right: 20px !important;}
.pr25 { padding-right: 25px !important;}
.pr30 { padding-right: 30px !important;}
.pr35 { padding-right: 35px !important;}
.pr40 { padding-right: 40px !important;}
.pr45 { padding-right: 45px !important;}
.pr50 { padding-right: 50px !important;}

.pb00 { padding-bottom:  0px !important;}
.pb05 { padding-bottom:  5px !important;}
.pb10 { padding-bottom: 10px !important;}
.pb15 { padding-bottom: 15px !important;}
.pb20 { padding-bottom: 20px !important;}
.pb25 { padding-bottom: 25px !important;}
.pb30 { padding-bottom: 30px !important;}
.pb35 { padding-bottom: 35px !important;}
.pb40 { padding-bottom: 40px !important;}
.pb45 { padding-bottom: 45px !important;}
.pb50 { padding-bottom: 50px !important;}

.pl00 { padding-left:  0px !important;}
.pl05 { padding-left:  5px !important;}
.pl10 { padding-left: 10px !important;}
.pl15 { padding-left: 15px !important;}
.pl20 { padding-left: 20px !important;}
.pl25 { padding-left: 25px !important;}
.pl30 { padding-left: 30px !important;}
.pl35 { padding-left: 35px !important;}
.pl40 { padding-left: 40px !important;}
.pl45 { padding-left: 45px !important;}
.pl50 { padding-left: 50px !important;}

/* mp00 */
.mp00 { padding: 0px !important; margin: 0px !important;}



/* ----------------------------------------------
 	 margin
---------------------------------------------- */

/*   margin right+left
---------------------------------------------- */
.mrl00 { margin-right:  0px !important; margin-left:  0px !important;}
.mrl05 { margin-right:  5px !important; margin-left:  5px !important;}
.mrl10 { margin-right: 10px !important; margin-left: 10px !important;}
.mrl15 { margin-right: 15px !important; margin-left: 15px !important;}
.mrl20 { margin-right: 20px !important; margin-left: 20px !important;}
.mrl25 { margin-right: 25px !important; margin-left: 25px !important;}
.mrl30 { margin-right: 30px !important; margin-left: 30px !important;}
.mrl35 { margin-right: 35px !important; margin-left: 35px !important;}
.mrl40 { margin-right: 40px !important; margin-left: 40px !important;}
.mrl45 { margin-right: 45px !important; margin-left: 45px !important;}
.mrl50 { margin-right: 50px !important; margin-left: 50px !important;}


/*   margin top+bottom
---------------------------------------------- */
.mtb00 { margin-top:  0px !important; margin-bottom:  0px !important;}
.mtb05 { margin-top:  5px !important; margin-bottom:  5px !important;}
.mtb10 { margin-top: 10px !important; margin-bottom: 10px !important;}
.mtb15 { margin-top: 15px !important; margin-bottom: 15px !important;}
.mtb20 { margin-top: 20px !important; margin-bottom: 20px !important;}
.mtb25 { margin-top: 25px !important; margin-bottom: 25px !important;}
.mtb30 { margin-top: 30px !important; margin-bottom: 30px !important;}
.mtb35 { margin-top: 35px !important; margin-bottom: 35px !important;}
.mtb40 { margin-top: 40px !important; margin-bottom: 40px !important;}
.mtb45 { margin-top: 45px !important; margin-bottom: 45px !important;}
.mtb50 { margin-top: 50px !important; margin-bottom: 50px !important;}


/*   margin 0 auto
---------------------------------------------- */
.m0a     { margin: 0 auto 0px !important;}
.m0a05mb { margin: 0 auto 5px !important;}
.m0a10mb { margin: 0 auto 10px !important;}
.m0a15mb { margin: 0 auto 15px !important;}
.m0a20mb { margin: 0 auto 20px !important;}
.m0a25mb { margin: 0 auto 25px !important;}
.m0a30mb { margin: 0 auto 30px !important;}
.m0a35mb { margin: 0 auto 35px !important;}
.m0a40mb { margin: 0 auto 40px !important;}
.m0a45mb { margin: 0 auto 45px !important;}
.m0a50mb { margin: 0 auto 50px !important;}
.m0r     { margin: 0 0 0 auto !important;}
.m0l     { margin: 0 auto 0 0!important;}


/*   margin detail
---------------------------------------------- */
.mt00 { margin-top:  0px !important;}
.mt05 { margin-top:  5px !important;}
.mt10 { margin-top: 10px !important;}
.mt15 { margin-top: 15px !important;}
.mt20 { margin-top: 20px !important;}
.mt25 { margin-top: 25px !important;}
.mt30 { margin-top: 30px !important;}
.mt35 { margin-top: 35px !important;}
.mt40 { margin-top: 40px !important;}
.mt45 { margin-top: 45px !important;}
.mt50 { margin-top: 50px !important;}

.mr00 { margin-right:  0px !important;}
.mr05 { margin-right:  5px !important;}
.mr10 { margin-right: 10px !important;}
.mr15 { margin-right: 15px !important;}
.mr20 { margin-right: 20px !important;}
.mr25 { margin-right: 25px !important;}
.mr30 { margin-right: 30px !important;}
.mr35 { margin-right: 35px !important;}
.mr40 { margin-right: 40px !important;}
.mr45 { margin-right: 45px !important;}
.mr50 { margin-right: 50px !important;}

.mb00 { margin-bottom:  0px !important;}
.mb05 { margin-bottom:  5px !important;}
.mb10 { margin-bottom: 10px !important;}
.mb15 { margin-bottom: 15px !important;}
.mb20 { margin-bottom: 20px !important;}
.mb25 { margin-bottom: 25px !important;}
.mb30 { margin-bottom: 30px !important;}
.mb35 { margin-bottom: 35px !important;}
.mb40 { margin-bottom: 40px !important;}
.mb45 { margin-bottom: 45px !important;}
.mb50 { margin-bottom: 50px !important;}

.ml00 { margin-left:  0px !important;}
.ml05 { margin-left:  5px !important;}
.ml10 { margin-left: 10px !important;}
.ml15 { margin-left: 15px !important;}
.ml20 { margin-left: 20px !important;}
.ml25 { margin-left: 25px !important;}
.ml30 { margin-left: 30px !important;}
.ml35 { margin-left: 35px !important;}
.ml40 { margin-left: 40px !important;}
.ml45 { margin-left: 45px !important;}
.ml50 { margin-left: 50px !important;}


#messageIE {
	background-color: #f5f5f5;
	color: #363636;
	padding: 0.5em 0;
	text-align: center;
}

#messageIE a {
	color: #363636;
	text-decoration: underline;
}

#tmp001 #Contents p,
#tmp001 #Contents h2 {
	margin-bottom: 1.5em;
}

#tmp001 #Contents h2 {
	display: block;
	background-color: #6b57a3;
	color: #FFFFFF;
	height: 38px;
	padding: 0 1em;
	font-size: 123.1%;
	line-height: 38px;
}

#tmp001 #Contents ol {
	padding-left: 3em;
	list-style-type: decimal;
}

#tmp001 #Contents ol li {
}

#tmp001 #Contents ol li strong {
	display: block;
	margin-bottom: 1.5em;
}

#tmp001 #Contents ol li li {
	padding-left: 1em;
}

#tmp001 #Contents .btn {
	display: block;
	background-color: #fff;
	color: #000;
	width: 200px;
	margin: 0 auto;
	padding: 0.5em 1em;
	text-align: center;
}
