@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    Index
---------------------------------------- */

section a,
section a:hover {
	color: #00b4dc;
}

section h2 {
    color: #fff;
    border-bottom: none;
    font-size: 1.1em;
}

h2 p {
	font-weight: bold;
	margin-bottom: 0;
}

section h3 {
	margin-bottom: 5px;
	margin-top: 2%;
	color: #5AB400;
	font-size: 18px;
}

section div {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #00b4dc;
}

section tr div {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

section tr .more_info {
    width: 71.42%;
    text-align: right;
    display: block;
    float: right;
    margin-top: 7px;
}

section tr .more_info:after {
	clear: both;
}

section p {
	margin-top: 0;
}

section span {
	color: #00b4dc;
	line-height: 1.7em;
    font-size: 12px;
}

section li img {
    margin-top: 2%;
    width: 100%;
}

.title {
    border-left: 7.5px solid #00b4dc;
    min-height: 25px;
}

.title p {
	padding: 1px 0 0 15px ;
	color: #00b4dc;
	font-weight: bold;
}

.noborder {
	border-bottom: none;
	margin-bottom: 0;
   padding-bottom: 0;
}

.colorPink {
	color: #ff5064;
}

.bottomspace {
	margin-bottom: 3%;
}

#campaign_info p {
	color: #969696;
	margin: 0;
	padding-left: 1em;
	text-indent: -1em;
}
.campaign-icon {
	margin-top: 20px;
}

.campaign-icon dt {
	float: left;
	width: 55px;
	padding-right: 15px;
}

.campaign-icon dd {
	margin-left: 70px;
	line-height: 1.5em;
}

.campaignContent {
	padding-bottom: 0;
	border-bottom: 0px solid #00b4dc;
}

.campaignContent tr {
	border-bottom: 1px solid #e6e6e6;
}

.campaignContent th {
	padding: 10px 0;
	width: 10%;
	vertical-align: top;
	font-size: 13px;
	text-align: left;
}

.campaignContent td {
	position: relative;
	padding: 10px 10px 10px 0;
	width: 45%;
	vertical-align: top;
	color: #0eb1fc;
	border-bottom: 0px solid #00b4dc;
}

.campaignContent td:nth-of-type(2) {
	width: 40%;
	text-align: right;
}

.campaignInfo {
    margin-bottom: 5%;
    padding: 6px;
    background: #e6e6e6;
    border-radius: 5px;
    color: #00b4dc;
	border-bottom: 0px solid #00b4dc;
}

.campaignInfo div {
	border-bottom: 0px solid #00b4dc;
}

.campaignInfo span {
	color: #969696;
}

.company-name {
	margin: 0;
	padding: 2% 2% 4%;
	font-weight: normal;
	font-size: 1em;
}

.campaignInfo .company-name span {
	padding-right: 20px;
	font-weight: bold;
	color: #3c3c3c;
}

.info {
    padding: 3%;
	margin-bottom: 0;
    background: #fff;
    color: #000;
}
.info dt {
    float: none;
    width: 100%;
    font-weight: bold;
}
.info dd {
    float: none;
    width: 100%;
}

#noborder {
    border-bottom: 0px solid #00b4dc;
}

.campaignContent tr {
    border-bottom: 1px solid #e6e6e6;
}


.bordergraybottom {
	padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

article .comingsoon {
    width: 80%;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    border-bottom: none;
}
article .comingsoon p {
	color: #00b4dc;
	font-weight: bold;
}

.imgsize {
	width: 70%;
}

.campaignInfo span
{
	padding: 70px 0 15px;
    margin: -70px 0 20px;
	color: red;
}

.page_link {
	position: absolute;
	top: -50px;
}

#campaign {
	margin-top: -50px;
	padding-top: 50px;
}
