@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    Index
---------------------------------------- */

body {
    color: #000;
    font-size: 13px;
    width: 100%;
    line-height: 1.6;
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background-image: url(../img/common/kv.jpg), url(../img/common/bg_toy.jpg);
    background-repeat: no-repeat, repeat-y;
    background-position: 0 91px, center;
    background-size: 100%;
    background-color: #fff578;
}
a{
	color: #ffa000;
}

#sekai-kodomohaku {
    position: absolute;
    top: -22%;
    right: -2%;
    width: 25%;
}
section p.notice {
	border: 1px solid #ffa000;
	margin: 3% 0 0;
	padding: 3%;
	color: #ffa000;
	text-align: center;
	font-weight: bold;
}

.coming_soon {
	display: block;
	width: 70%;
	margin: auto;
	padding: 28% 0;
	text-align: center;
	border: none;
}

#container nav ul.language li a{
	color:#000;
	margin-right: 0%;
}

#container nav li.english {
	background: #ffa000;
}



/* article
---------------------------------------- */

section h2.bdr {
	border-left: solid 0.5em #ffa000;
   border-bottom: none;
	color: #ffa000;
	padding-left: 3%;
}

section dd {
    padding-bottom: 2%;
    margin-bottom: 3%;
    border-bottom: solid 1px #e6e6e6;
    font-size: 90%;
}

span.public {
	color: #ff5064;
	font-weight: bold;
}

span.buyer {
	color: #00b4dc;
	font-weight: bold;
}

dl dl dt {
	position: absolute;
	border: none;
	padding: 0;
	margin: 0;
}

dl dl dd {
	border: none;
	padding: 0;
	padding-left: 3em;
	margin: 0;
}

#from_abroad, #hotels {
    padding-top: 4.3%;
    padding-bottom: 4.3%;
    border-top: solid 1px #ffa000;
}

#from_abroad h3 {
	margin-bottom: 6%;
	color: #ffa000;
}

#from_abroad .btn img{
	margin: 4% 0;
}

#from_abroad p,
#hotels p {
	margin-bottom: 5%;
}

#hotels {
	margin-bottom: 0;
	padding-bottom: 0;
}

#hotels dt {
	font-weight: bold;
	color: #000;
}

#hotels dd {
    display: block;
    border-bottom: none;
    padding-left: 0;
    padding-bottom: 10px;
    margin-bottom: 13px;
}

#hotels li a{
	color: #ff9600;
	text-decoration: underline;
}

.none_bdr{
	border: none;
}

section .none_bdr h2 {
    position: relative;
    padding: 0 0 0 1.1em;
    border-bottom: none;
    background: none;
    color: #ff9600;
    text-align: left;
}
section .none_bdr h2:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 100%;
	background: #ff9600;

}

span.public {
	color: #ff5064;
	font-weight: bold;
}

span.buyer {
	color: #00b4dc;
	font-weight: bold;
}

section.outline dd:last-child {
  border-bottom: none;
}

.date_indent {
    padding-left: 30px;
    text-indent: -30px;
	margin-bottom: 0;
}


.sp_sidebar {
    display: block;
    height: auto;
    background: #fff;
}
.sp_sidebar li {
    width: 93.5%;
    float: left;
    margin: 3.125% 3.25% 0;
}
.sp_sidebar li:last-child {
	margin-bottom: 3.125%;
}
.sp_sidebar li img {
	display: block;
    width: 100%;
}
