@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    press
---------------------------------------- */

section a,
section a:hover {
	color: #5AB400;
}

section h2 {
    color: #fff;
}

section h3 {
	margin-top: 2%;
	color: #5AB400;
	font-size: 16px;
}

section>div {
    margin: 8% 0px;
}

section p {
	margin-top: 0;
}

section div {
    border-bottom: 1px solid #5AB400;
}
section>div:last-child {
	border-bottom: none;
}
.title {
    border-left: 7.5px solid #5AB400;
    min-height: 25px;
    padding-left: 10px;
    margin-bottom: 3%;
}