@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    
---------------------------------------- */

section a {
	color: #ff5064;
}

section h3 {
	margin-top: 2%;
	color: #ff5064;
	font-size: 16px;
}

section p {
	margin-top: 0;
}

section div {
    border-bottom: 1px solid #ff5064;
}

h2.public_attention{
	 padding-bottom: 15px;
    border-bottom: 1px solid #ff5064;
}


/* #public_attention
---------------------------------------- */

.link_area {
    padding: 3% 0;
}

#public_attention h2.outline {
    color: #fff;
}

.buyer_link{
	margin: 0;
	border: none;
	padding-bottom: 0;
}

.buyer_link a{
	color: #00b4cc;
}

.bdr_header {
    margin-top: 5%;
    border-left: solid 7.5px #ff5064;
    padding-left: 7.5px;
}

section h3 span{
	color: #ff5064;
	font-weight: bold;
	font-size: 18px;
}

section div.sub_nav {
	border-top: 1px solid #003c78;
    border-bottom: 1px solid #003c78;
}
.notice{
	margin: 0;
	padding: 0;
	border: none;
	text-align: left;
	color: #969696;
}

.notice p{
	margin-bottom: 6.2%;
}

.check{
	margin-bottom: 2%;
}

#public_menu {
    background-color: #fff;
    padding: 3%;
    border-radius: 5px;
    margin-bottom: 3%;
}
#guide {
    padding-bottom: 5%;
}


/* #event_check
---------------------------------------- */

#event_check dt{
	margin-bottom: 1.5%;
}

#event_check dd{
	margin-bottom: 7.8%;
}

#event_check img{
	margin-bottom: 3.12%;
}

#event_check .info_event{
	margin-top: -8%;
}
#event_check dd:last-child {
	margin-bottom: 1%;
}
.info_event {
	margin-bottom: 0;
}

/* #attendance
---------------------------------------- */

#attendance {
	border-bottom: none;
}
#attendance dl{
	margin-top: 2%;
}

#attendance dt{
	font-size: 16px;
	color: #ff5064;
}

#attendance dd{
	margin-bottom: 6.2%;
}
#attendance dd:last-child {
	margin-bottom: 0;
}

#attendance dd span {
    color: #ff5064;
}

#attendance .other_list li{
	padding-left: 1em;
	text-indent: -1em;
}










