@charset "utf-8";

body{
	background: #fff;
}



*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	line-height: 1.0;
	font-family: "ＭＳ Ｐゴシック"
}

div,h1,h2,h3,h4,h5,h6,{
	
	margin: 0;
	padding: 0;
}

ul,ol,li{

	list-style: none;

}

#site{
	width:600px;
	border: 1px solid #a82219;
	margin: 0 10px 0 0 ;
	border-bottom: 10px solid #a82219;
}

#site .text {
	padding: 0 20px 0 10px;
	margin: 10px 0;
}

#site .text  p{
	line-height: 1.6;
	font-size: 12px;
}

#site .text strong{
	display: block;
	margin: 10px 0;
	font-weight: bold;
}

#site a{

	color: #a82219;
	font-size: 12px;

}


a a:link{

	color: #a82219;
	font-weight: bold;
	font-size: 12px;
}

a a:visited{
	
	color: #a82219;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;

}

#site a a:hover{

	color: #a82219;
	font-weight: bold;
	font-size: 12px;
	text-decoration: underline;

}

a a:active{
	color: #a82219;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

.PageTop{
	text-align: right;
	margin: 20px 128px 20px 0;
	font-size: 12px;
}

.text dt{
	color: #a82219;
	background: url(image/cap.gif) no-repeat;
	padding: 3px 0 0 35px;
	font-weight: bold;
	height: 21px;
	font-size: 14px;
	margin: 20px 0 -10px 0;

}

.text dd{

	font-size: 12px;
	line-height: 1.6;
	margin: 10px 0;
}

.text li{
	font-size: 10px;
	color: #666666;
	
}

.text span{
	font-size: 10px;
	color: #666666;
}

#site h3{
	margin: 30px auto;
	text-align: center;
}