/********************************Side Menu**********************************/


#side_menu{
	float: left;
	width: 243px;
}


#side_title{

	background-image:url(../images/side_top_s.gif);
	width: 243px;
	height: 88px;
	display: block;
	text-decoration: none;
}


.bts_t{

	background-image:url(../images/s_bt_top.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}

.bts_t_v{

	background-image:url(../images/s_bt_top_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}



.bts_t_1{

	background-image:url(../images/s_bt_top_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;

}



.bts_t a:hover{
	background-image:url(../images/s_bt_top_on.gif); 
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
}

.bts_1{

	background-image: url(../images/s_bt_1.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_1_1{

	background-image: url(../images/s_bt_1_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


.bts_1 a:hover{
	background-image: url(../images/s_bt_1_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


.bts_2{

	background-image: url(../images/no_link_2.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_2_1{

	background-image: url(../images/s_bt2.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_2 a:hover{

	background-image: url(../images/s_bt2.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_3{

	background-image: url(../images/no_link_3.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_3_1{

	background-image: url(../images/s_bt3.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}



.bts_3 a:hover{

	background-image: url(../images/s_bt3.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_4{

	background-image: url(../images/s_bt_4.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_4_1{

	background-image: url(../images/s_bt_4_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_4 a:hover{

	background-image: url(../images/s_bt_4_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_5{

	background-image: url(../images/no_link_4.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_6{

	background-image: url(../images/no_link_5.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_7{

	background-image: url(../images/s_bt_7.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_7_1{

	background-image: url(../images/s_bt_7_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}

.bts_7 a:hover{

	background-image: url(../images/s_bt_7_on.gif);
	background-repeat: no-repeat;
	width: 243px;
	height: 46px;
	display: block;
	text-decoration: none;
}


#side_bottom{

	background-image: url(../images/side_bottom_en.gif);
	width: 243px;
	height: 88px;
	display: block;
	text-decoration: none;
}

#side_bottom_bg{

	background-image: url(../images/side_bottom_bg.gif);
	width: 243px;
	height: 244px;
	display: block;
	text-decoration: none;
}
#side_info{
	margin: 10px 0px 0px 55px;
	width: 148px;
	height: 44px;
}

#side_b_mail a:link a:visited a:hover a:active{

	text-decoration: none;
	color: #000000;
	border: none;

}

.bts_t a:link,a:visited,a:active,.bts_1 a:link,.bts_2 a:link,a:visited,a:active,.bts_3 a:link,.bts_4 a:link,.bts_5 a:link,.bts_6 a:link{	

	text-decoration: none;
	border: none;
}


#contents_footer{
	background-image:url(../../images/page_footer.gif);
	width: 637px;
	height: 49px;
}

#top_bt{
	float: right;
	
	margin: 26px 0px 0px 0px;

}

/******************** overview **********************/


#contents_area{
	
	float: right;
	width: 657px;
	height: auto;
	
}

#contents_overview{

	background-image:  url(../images/page_bg.gif);
	width: 637px;
	height: auto;
	min-height: 400px;
	padding: 20px 0px 100px 0px;

}

#title{
	background-image: url(../images/page_title.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}

#title_2{
	background-image: url(../images/page_title_2.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}

#title_3{
	background-image: url(../images/page_title_3.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}

#title_4{
	background-image: url(../images/page_title_4.gif);
	width: 637px;
	height: 44px;
	background-repeat: no-repeat;

}


#midashi_0{
	background-image: url(../images/en_title.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	width: 319px;
	height: 40px;


}


#midashi_1{
	background-image: url(../images/en_title_1.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	width: 319px;
	height: 19px;
	clear: both;


}

#midashi_2{
	background-image: url(../images/en_title_2.gif);
	background-repeat: no-repeat;
	margin: 10px 0px 0px 20px;
	width: 319px;
	height: 40px;
	clear: both;


}

#midashi_3{
	background-image: url(../images/en_title_3.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	width: 319px;
	height: 40px;
	


}

#midashi_4{
	background-image: url(../images/en_title_4.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	width: 319px;
	height: 40px;


}

#midashi_5{
	background-image: url(../images/en_title_5.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	width: 319px;
	height: 40px;


}


#midashi_7{
	background-image: url(../../attendee_info/images/en_title_2.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	width: 319px;
	height: 40px;


}


#midashi_forum{
	background-image: url(../images/en_title_forum.gif);
	background-repeat: no-repeat;
	margin: 20px 0px 0px 20px;
	width: 319px;
	height: 40px;
}


.hyou_1{
	margin: 0px 0px 0px 30px;
}


.hyou_2{
	margin: 0px 0px 20px 30px;
	float: left;
	


}


.forum_p{
	float: right;
	padding: 0px 50px 0px 0px;
	
}

.t{
	
	color:#009900;
	font-size: 14px;
	padding: 2px;
	font-weight: bolder;
}

.tp{

	font-size:12px;
	padding: 2px;

}

.naiyou{

	margin: 20px 0px 10px 30px;

}

.cap{
	margin: 0px 5px 0px 0px;
}

.ten{
	width: 10px;
}

/********************************* Travel ***************************************/


.tra_p{
	margin: 0px 0px 0px 30px;
	color: #003333;
	font-weight: bold;
	font-size: 14px;

}

.tra_p_2{
	margin: 0px 0px 0px 20px;
	color: #003333;
	font-weight: bold;
	font-size: 14px;

}


.tra_p_s{
	margin: 0px 0px 10px 25px;
	font-size: 12px;
	
}

.tra_p_a{
	margin: 0px 0px 0px 30px;
	font-size: 12px;
	
}


.pdf2{
	margin: 80px 0px 0px 50px;
	font-size: 14px;
	margin-bottom: 50px;

}

#pdf{
	vertical-align: middle;
}

#p_pdf{

	vertical-align: sub; 
}



/********************************* 5/8 kousin ***************************************/
#contents_area .p{

	margin: 15px 0 0 30px;
	font-size: 12px;
	font-weight: bold;
		
}

#contents_area a{
	text-decoration: underline !important;
}


#contents_area .pdf {

	margin: 0 5px 0 5px;
	vertical-align: middle;

}

#contents_area .p2{

	font-size: 12px;
	font-weight: bold;
	text-align: left;
	font-size: 12px;
	margin: 180px auto 0 35px !important;
	clear: both;
		
}



