@charset "UTF-8";


#mainL p{
	padding:0 0 0 11px;
}

#mainL p.subTitle{
	padding-bottom:5px;
	font-size:16px;
}

#mainL .formArea{
	padding:15px;
	border:1px solid #d1d1d1;
}

#mainL .formArea .contactForm a{
	display:block;
	width:194px;
	height:33px;
	background:url(img/form_btn.gif) 0 0 no-repeat;
}

#mainL .formArea .contactForm a:hover{
	background:url(img/form_btn.gif) 0 -33px no-repeat;
}

#mainL address{
	padding:15px;
	border:1px solid #d1d1d1;
}

#mainL .section{
	margin:0 15px 25px 15px;
	width:685px;
}

a.form_btn:hover {
background:url(img/form_btn.gif) 0 -23px no-repeat;
}
a.form_btn {
display: block;
margin-left:-15px;
width: 155px;
height: 23px;
background: url(img/form_btn.gif)  0 0 no-repeat;
}
.form_btn{
text-indent:-2000px;
}

address {
	font-style: normal;
	border: solid 1px #333;
}

.anchorArea {
	border: solid 2px #ccc;
	margin: 0 0 20px;
	padding: 0 15px 15px !important;
}

.anchorArea p {
	border-top: 1px dotted #CCC;
	margin: 15px 0 0 !important;
	padding: 15px 0 5px !important;
}

.anchorArea a {
	background: url(../common/img/ic_pagelink.gif) 0 50% no-repeat !important;
}


#mainL .formArea .contactForm a{
	display:block;
	width:194px;
	height:33px;
	background:url(img/form_btn.gif) 0 0 no-repeat;
}

#mainL .formArea .contactForm a:hover{
	background:url(img/form_btn.gif) 0 -33px no-repeat;
}



#mainL .formArea .Operators a{
	display:block;
	width:250px;
	height:33px;
	background:url(img/Operators_btn.gif) 0 0 no-repeat;
}

#mainL .formArea .Operators a:hover{
	background:url(img/Operators_btn.gif) 0 -33px no-repeat;
}

