@charset "utf-8";
/* CSS Document */

.post{
	margin: 0 8px 0 0;
	width: 450px;
	height: auto;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 5px;

}

.post dl{
	margin: 0;
	padding: 0;
}

.post dt{
	font-size: 10px;
	color: #666;
}

.post dd{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7F5346;
}

.post p{
	font-size: 12px;
	padding: 0px;
	line-height: 160%;
	margin-top: -10px;
}

.post .btn{
	margin: 5px 0 0 0;
	width: auto;
	height: 23px;
}

.post .btn a{
	display: block;
	margin: 0;
	height: 0;
	padding-top: 23px;
	width: 76px;
	background-image: url(../images/top/news/detail_btn.gif);
	background-repeat: no-repeat;
	background-position: top;
	overflow:hidden;
	float: right;
}

.post .btn a:hover{ background-position: 0 -24px;}

.post .line{
	margin: 15px 0 0 0;
	padding: 0;
	width: 449px;
}