@charset "utf-8";
/* CSS Document */

section {
    border-bottom: 1px solid #ffa000;
}
.annotation {
    color: #ffa000;
    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 30px;
    border-top: 1px solid #ffa000;
}
.annotation p {
	margin-bottom: 0;
    padding: 0;
	text-indent: -1em;
	padding-left: 1em;
}
section h2>img {
	width: 154px;
	margin: auto;
}
section h3>img  {
	width: auto;
}
section img {
	width: 100%;
}
section p {
    padding: 0;
}
section .frame {
    margin-bottom: 30px;
}