@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    kidslife
---------------------------------------- */

section h3 {
	border-bottom: 0;
}
section h3 {
	margin-top: 20px;
	color: #ff9600;
	font-size: 18px;
	font-weight: bold;
}

section a,
section a:hover {
	color: #ff9600;
}

section p {
	margin-top: 0;
}

section div {
    
}
section h3 {
	margin: 33px 0 28px;
}
.title {
    border-left: 7.5px solid #ff9600;
    min-height: 25px;
}
.title p {
	padding: 1px 0 0 15px ;
	color: #00b4dc;
	font-weight: bold;
}

article h2 img {
    width: 232px;
}

.intro img {
	width: 581px;
}
.intro img.titlekids {
	width: 456px;
}

article h3 img {
	width: 311px;
}

.hallmap {
    margin: 20px 0 0;
    padding-bottom: 30px;
    text-align: center;
}

.hallmap a {
    display: block;
    width: 530px;
    height: 60px;
    margin: auto;
}

section ul {
    border-bottom: 1px solid #e6e6e6;
    width: 650px;
}

section li {
    float: left;
    margin-top: 0;
    margin-right: 0;
}

.id {
    font-weight: bold;
    width: 70px;
}
.id, .name, .category {
    padding: 30px 0 25px;
}
.name {
    width: 170px;
    padding-right: 35px;
}

.category {
    width: 355px;
}
.category img {
	margin-right: 10px;
    width: 140px;
}

.hallmap-sp {
    display: none;
}

.titlekids {
	padding-top: 15px;
}


