@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
    public_event.html
---------------------------------------- */

section h3 {
    margin-top: 20px;
    margin-bottom: 0;
    color: #ff5064;
    font-size: 18px;
    font-weight: bold;
}

section a,
section a:hover {
	color: #ff5064;
}

.commingsoon {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    border-bottom: none;
}
.commingsoon p {
    padding: 10px;
    color: #ff5064;
    font-weight: bold;
}

section p {
	padding: 0;
}

section div {
	border-bottom: 0 solid #ff5064;
	margin-bottom: 0;
	padding-bottom: 10px;
}

article h2 img {
	height: 23px;
}

/* #public_event
---------------------------------------- */

section h4 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #ff5064;
}

#guide p {
	margin-top: 20px;
}
#guide p span {
	color: #ff5064;
}

#public_event h2.outline {
    padding-bottom: 15px;
    border-bottom: 1px solid #ff5064;
}

section {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

section.event {
    padding-top: 120px;
    margin-top: -120px;
}
section.event .inner {
	width: 628px;
	margin-top: 0;
	margin-bottom: 30px;
	padding: 6px;
	background: #ff5064;
	border-radius: 10px;
}
section.event .inner> .company-name {
    margin: 0;
    padding: 5px 15px 14px;
    color: #fff;
    font-weight: normal;
    font-size: 1em;
}
section.event .inner> .company-name span {
    padding-right: 10px;
    font-weight: bold;
}
section.event .inner> .company-name a {
    color: #fff;
}
section.event .info {
    padding: 20px;
    background: #fff;
    color: #000;
}
section.event .info dd {
    padding: 20px 0 20px 50px;
    border-bottom: 1px solid #e6e6e6;
}
section.event .info dl {
    position: relative;
}
section.event .info dt {
    padding-top: 20px;
    position: absolute;
    left: 0;
    font-weight: bold;
}
section.event .info h4 {
    margin: 0;
    font-size: 1.2em;
}

.imgbox {
	float: left;
	width: 160px;
	font-size: 0.8em;
	padding: 0;
}
.imgbox img {
	max-width: 100%;
}

.rightbox {
	float: right;
    width: 410px;
	padding: 0;
}
section.event .info dd:last-child {
    border-bottom: none;
}

.margin_bottom {
	margin-bottom: 7px;
}

#k11_copy {
	padding-left: 0px;
}


.sp_only {
	display:none;
}

