.Footer {
  padding: 40px 0px 40px;
  background: #000; }
  @media screen and (max-width: 400px) {
    .Footer {
      padding: 40px 20px; } }
  .Footer-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px; }
    .Footer-inner .logo-sega {
      margin: 0 auto 20px;
      width: 114px; }
      .Footer-inner .logo-sega img {
        width: 100%; }
    .Footer-inner .credit {
      font-size: 12px;
      line-height: 1.6;
      font-weight: normal;
      color: #fff;
      text-align: center; }
      .Footer-inner .credit a {
        color: #fccf06; }
      @media screen and (max-width: 400px) {
        .Footer-inner .credit {
          line-height: 1.6;
          text-align: left; } }
