.Links {
  background: #fff;
  padding: 40px 0px; }
  @media screen and (max-width: 400px) {
    .Links {
      padding: 20px 0px;
      margin-top: -2px; } }
  .Links-lineupbnr {
    opacity: 0;
    transform: translateY(50px);
    transition: 300ms;
    display: block;
    width: 480px;
    margin: 0 auto; }
    .Links-lineupbnr.show {
      opacity: 1;
      transform: translateY(0); }
    @media screen and (max-width: 400px) {
      .Links-lineupbnr {
        width: 370px; } }
    .Links-lineupbnr img {
      width: 100%;
      height: auto; }
      .Links-lineupbnr img:hover {
        filter: brightness(120%); }
  .Links-sns-share-links {
    opacity: 0;
    transform: translateY(50px);
    transition: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px; }
    .Links-sns-share-links.show {
      opacity: 1;
      transform: translateY(0); }
    .Links-sns-share-links li a {
      background: url("../images/sns_icon.png");
      background-size: 300% 100%;
      width: 50px;
      height: 50px;
      display: block;
      cursor: pointer;
      font-size: 0px;
      margin-right: 10px; }
      .Links-sns-share-links li a:hover {
        filter: brightness(120%); }
    .Links-sns-share-links li.fb a {
      background-position: -300% 0; }
    .Links-sns-share-links li.tw a {
      background-position: -100% 0; }
    .Links-sns-share-links li.line a {
      background-position: -200% 0;
      margin-right: 0px; }
