@charset "utf-8";
/* CSS Document */

/***************************************
Flash Area
***************************************/

#flashArea{
	width: auto;
	height: 470px;
	background-image: url(../images/common/f_area_bg.jpg);
	background-repeat: repeat-x;
}

#flashCont{
	margin: 0 auto;
	width: 1000px;
	height: 470px;
}

#flashCont #noFlash p{
	padding: 200px 0 0 0;
	text-align: center;
	font-size: 1.2em;
	color: #C00;
	font-weight: bold;
}

/***************************************
Main Contents Area
***************************************/

#mainWrap{
	margin: 5px auto;
	padding: 0;
	width: 980px;
}

#mainWrap #LCWrap{
	padding: 0;
	width: auto;
	height: auto;
	display: inline;
	float: right;
}

/*---LEFT-----------------------------*/

#mainWrap #leftWrap{
	width: 249px;
	float: left;
}

#mainWrap #leftWrap .sub,
#LCWrap2 .sub,
#mainWrap #centerWrap .sub{
	margin: 0;
	padding: 0;
	height: 20px;
	float: left;
}

#LCWrap2 .sub img,
#mainWrap #leftWrap .sub img,
#mainWrap #centerWrap .sub img{
	padding: 0;
}

#mainWrap #leftCont{
	clear: left;
	margin: 0;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	
}

#mainWrap #centerCont{
	clear: left;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

#mainWrap #leftCont ul{
	margin: 0;
	padding: 0 0 30px 0;
	border-bottom: 1px solid #CCC;
}

#mainWrap #leftCont li{
	line-height: 20px;
	width: 245px;
	font-size: 0.9em;
}

#mainWrap #leftCont li.logo{
	margin: 5px 0;
	padding: 5px 0;
	width: 240px;
	height: 25px;
	border-bottom: 1px dotted #CCC;
}



/*---CENTER-----------------------------*/

#mainWrap #centerWrap{
	display: inline;
	margin: 0 8px 0 0;
	width: 464px;
	float: left;
}

#mainWrap #centerCont{
}

#mainWrap #centerCont .newsbox{
	margin: 10px 0 0 0;
	padding: 0 10px 0 5px;
	width: auto;
	height: auto;
	
}

#mainWrap #centerCont .newsbox dl{
	margin: 0;
	padding: 0;
}

#mainWrap #centerCont .newsbox dt{
	font-size: 0.9em;
	color: #666;
}

#mainWrap #centerCont .newsbox dd{
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7F5346;
}

#mainWrap #centerCont .newsbox p{
	padding: 0;
	line-height: 16px;
}

#mainWrap #centerCont .btn{
	margin: 5px 0 0 0;
	width: auto;
	height: 23px;
}

#mainWrap #centerCont .btn a{
	display: block;
	margin: 0;
	height: 0;
	padding-top: 23px;
	width: 76px;
	background-image: url(../images/top/news/detail_btn.gif);
	background-repeat: no-repeat;
	background-position: top;
	overflow:hidden;
	float: right;
}

#mainWrap #centerCont .btn a:hover{ background-position: 0 -24px;}

#mainWrap #centerCont .line{
	margin: 15px 0 0 0;
	padding: 0;
	width: 449px;
	border-top: 1px dotted #CCC;
}

/*---RIGHT-----------------------------*/

#mainWrap #rightCont{
	margin: 20px 0 0 0;
	width: 250px;
	height: auto;
	float: left;
}

#mainWrap #rightCont ul{ margin: 0; padding: 0; }
#mainWrap #rightCont li img{
	margin: 0 0 3px 0;
	display: inline;
	border: 1px solid #CCC;
}
