@charset "UTF-8";

.bold{
font-weight:bold;
font-size:120%;
}

/* 入場パス */

.section h4{
	margin:0 0 5px 0;
	font-weight:bold;
	font-size:12px;
}

.section .subTxt{
	padding:0 0 0 15px;
}

.section ul.businessList{
	list-style-type:disc;
	margin:0 0 10px 20px;
}

.section ul.businessList li{
	padding:0 0 8px 0;
}

.section .businessList ol.mini{
	margin:0 0 0 20px;
}

.section .businessList ol.mini li{
	padding:0 0 2px 0;
}

a.businessBtn {
display: block;
margin:0 auto;
width: 273px;
height: 33px;
background: url(img/businessbtn.gif)  0 0 no-repeat;
}

a.businessBtn:hover {
background:url(img/businessbtn.gif) 0 -33px no-repeat;
}


/* TGSフォーラム */

.forumArea{
	margin:0 0 35px 0;
	width:720px;
	background:url(img/forumtop.jpg) 0 0 no-repeat;
}

.forumArea p{
	padding:61px 20px 0 197px;
	font-size:11px;
	line-height:1.5em;
}

#mainL .anchorArea{
	padding:0 15px 10px 15px;
}

.forumAttention{
	margin:7px 0 0 0;	
	font-size:10px;
}

h3.programTitle{
	width:720px;
	padding-bottom:25px;
}

.programDate{
	margin:0 0 5px 0;
	color:#434082;
	font-size:16px;
	font-weight:bold;
}

.listHead{
	padding:5px;
	font-weight:bold;
}

.sessionTitle{
	padding:10px 15px;
	color:#fff;
	background:#7373b5;
}

.sessionTitle .sName{
	float:left;
	display:block;
	font-size:15px;
	font-weight:bold;
	padding: 10px 10px 0 0;
}

.sessionTitle .sPlace{
	float:right;
	padding:10px 0 0 0;
	display:block;
	font-size:11px;
	font-weight:bold;
}

.sessionTitle .sPlace2{
	float:right;
	padding:10px 0 0 0;
	display:block;
	font-size:10px;
	font-weight:bold;
}


.sessionDate{
	margin:0 0 15px 0;
	padding:10px 15px;
	background:#f1f1f1;
	border-bottom:1px solid #7373b5;
}

.sessionDate .sDate{
	float:left;
	display:block;
	font-size:14px;
}

.sessionDate .sPlaceDetail{
	float:right;
	display:block;
	font-size:14px;
}

.sessionArea{
}

.sessionArea .content{
	margin:0 0 15px 0;
	padding:0 15px;
}

.sessionArea .speaker{
	padding:0 15px;
}

.sessionArea .dena{
	padding:0 0 0 175px;
	background:url(img/com_dena.gif) 0 0 no-repeat;
}

.sessionArea .cia{
	padding:0 0 0 175px;
	background:url(img/com_cia.gif) 0 0 no-repeat;
}

.sessionArea .speaker .spName,
.sessionArea .dena .spName,
.sessionArea .cia .spName{
	font-size:14px;
	font-weight:bold;
}

.sessionArea .speaker .spCom,
.sessionArea .dena .spCom,
.sessionArea .cia .spCom{
	font-size:11px;
}

.programList{
	padding:1px;
	border:1px solid #908eb2;
}

.programList strong{
	display:inline-block;
	margin:0 0 8px 0;
}

.programList table{
	border-collapse: collapse;
}

.programList table th{
	width:100px;
	padding:8px 15px;
  text-align: left;
	font-size:12px;
	font-weight:normal;
	background:#e3e0f0;
  border-bottom:1px solid #fff;
}

.programList table td{
	padding:8px 15px;
	font-size:12px;
	background:#fff;
  border-bottom:1px solid #dedaed;
}

.programList table td.link{
	width:63px;
}
	
.icFree{
	display:inline-block;
	padding:3px 5px;
	margin:0 0 0 10px;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	background:#4788ff;
}

.icPay{
	display:inline-block;
	padding:3px 5px;
	margin:0 0 0 10px;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	background:#cc1010;
}




.icFree2{
	display:inline-block;
	padding:3px 5px;
	margin:0 0 0 10px;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	background:#4788ff;
}

.icPay2{
	display:inline-block;
	padding:3px 5px;
	margin:0 0 0 10px;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	background:#cc1010;
}





.icInterpreter2{
	display:inline-block;
	padding:3px 5px;
	margin:0 0 0 10px;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	background:#a751d4;
}

.icSpecial{
	display:inline-block;
	padding:3px 5px;
	margin:0 0 0 10px;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	background:#ffa126;
}

a.detailBtn{
	margin:0 0 5px 0;
	display:block;
	width:86px;
	height:23px;
	overflow:hidden;
	background:url(img/b_detail.gif) 0 0 no-repeat;
}

a.detailBtn:hover{
	background:url(img/b_detail.gif) 0 -23px no-repeat;
}



a.detailBtn2{
	margin:0 0 5px 167px;
	display:block;
	width:86px;
	height:23px;
	overflow:hidden;
	background:url(img/b_detail.gif) 0 0 no-repeat;
}

a.detailBtn2:hover{
	background:url(img/b_detail.gif) 0 -23px no-repeat;
}


a.detailBtn3{
	margin:0 0 5px 0px;
	display:block;
	width:86px;
	height:23px;
	overflow:hidden;
	background:url(img/b_detail.gif) 0 0 no-repeat;
}

a.detailBtn3:hover{
	background:url(img/b_detail.gif) 0 -23px no-repeat;
}



.appBtn2{
	padding:15px 0;
	text-align:center;
}
.appBtn2 a{
	margin:0 auto;
	display:block;
	width:213px;
	height:33px;
	background:url(img/b_app2.gif) 0 0 no-repeat;
}
.appBtn2 a:hover{
	background:url(img/b_app2.gif) 0 -33px no-repeat;
}

.appBtn3{
	padding:15px 0;
	text-align:center;
}
.appBtn3 a{
	margin:0 auto;
	display:block;
	width:213px;
	height:33px;
	background:url(img/b_app3.gif) 0 0 no-repeat;
}
.appBtn3 a:hover{
	background:url(img/b_app3.gif) 0 -33px no-repeat;
}

.appBtn4{
	padding:15px 0;
	text-align:center;
}
.appBtn4 a{
	margin:5px auto;
	display:block;
	width:220px;
	height:33px;
	background:url(img/b_app4.gif) 0 0 no-repeat;
}
.appBtn4 a:hover{
	background:url(img/b_app4.gif) 0 -33px no-repeat;
}

.appDeadBtn{
	padding:15px 0;
	text-align:center;
}
.appDeadBtn p{
	margin:0 auto;
	display:block;
	width:213px;
	height:33px;
	background:url(img/b_app_dead.gif) 0 0 no-repeat;
}




.appBtnsDie{
	margin:0 0 5px 0;
	display:block;
	width:63px;
	height:23px;
	overflow:hidden;
	background:url(img/b_application_die.gif) 0 0 no-repeat;
}

.appBtn2die{
	padding:15px 0;
	text-align:center;
}

.appBtn2die p{
	margin:0 auto;
	display:block;
	width:213px;
	height:33px;
	background:url(img/b_app2_die.gif) 0 0 no-repeat;
}





/* アジア・ゲーム・ビジネス・サミット */

#agbsHead{
	margin:0 0 30px 0;
}

.list1 .mainTheme{
	padding:0 0 5px 0;
	color:#cc086b;
	font-size:14px;
	font-weight:bold;
}

.list1 .sub{
	padding:15px 0 3px 0;
	font-weight:bold;
}

.list1 .theme{
	color:#03af7a;
	font-size:14px;
	font-weight:bold;
}

.appBtn{
	padding:15px 0;
	text-align:center;
}
.appBtn a{
	margin:0 auto;
	display:block;
	width:253px;
	height:33px;
	background:url(img/b_app.gif) 0 0 no-repeat;
}
.appBtn a:hover{
	background:url(img/b_app.gif) 0 -33px no-repeat;
}

.optionList{
	list-style-type:disc;
	margin:0 0 0 15px;
}

/* マッチング */
.section ol.matchList{
	list-style-type:decimal;
	margin:0 0 10px 25px;
}

.section ol.matchList li{
	padding:0 0 5px 0;
}

.section ol.matchListComment{
	list-style-type:decimal;
	margin:0 0 10px 20px;
	padding:0 0 0 1px;
}

.section ol.matchListComment li{
	font-size:10px;
}

.businessNavi{
	text-align:center;
}

a.matchingBtn {
display: block;
margin:0 auto;
width: 470px;
height: 33px;
background: url(img/matching_btn.gif)  0 0 no-repeat;
}

a.matchingBtn:hover {
background:url(img/matching_btn.gif) 0 -33px no-repeat;
}

.agbsTodan{
	margin:0 0 5px 10px;
	float:right;
	}
		
.agbstodanArea{
	margin:0 0 5px 0;
	border-bottom:solid 1px #DDD;
	overflow:hidden;
	_zoom:1;
	}	
	
.agbsKuni{
	display:inline-block;
	padding:2px 25px;
	margin:0 0 7px 0;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	background:#cc086b;
	}
		
.agbsName{
	font:16px bold;
	}
		
/* 国際ビジネス相談コーナー */
.intlBnr{
	margin:0 10px 0 0;
	float:left;
	}
	
.intlbnrArea{
	overflow:hidden;
	_zoom:1;
	}	
		
.intlMap{
	margin:0 auto;
	display:block;
	text-align:center;
	}	
		
.intlNavi{
	text-align:left;
}

.intlBtnarea{
	margin:0;
	}

.intlBtn{
	padding:10px 0 5px 0;
	text-align:center;
}
.intlBtn a{
	margin:0 auto;
	display:block;
	width:274px;
	height:33px;
	background:url(img/matching_btn.gif) 0 0 no-repeat;
}
.intlBtn a:hover{
	background:url(img/matching_btn.gif) 0 -33px no-repeat;
}


.intlTime{
	margin:0 0 10px 0;
}

.intlTime table{
	border-collapse: collapse;
}

.intlTime table th{
	width:130px;
	padding:10px;
  text-align: left;
	font-size:12px;
	font-weight:normal;
  border:1px solid #ddd;
  background-color:#f1f1f1;
}

.intlTime table td{
	padding:10px;
	font-size:12px;
  border:1px solid #ddd;
}



.intltimeTittle{
	margin:0 0 3px 0;
}

.intltimeTittle table th{
	width:130px;
	padding:10px 10px 0 10px;
  text-align: left;
	font-size:13px;
	font-weight:bold;
}

.intltimeTittle table td{
	padding:10px 10px 0 10px;
	font-size:13px;
	font-weight:bold;
}



#mainL p.intlsubTitle{
	padding-bottom:5px;
	font-size:16px;
}

#mainL .intlsection{
	margin:0 15px 25px 15px;
	width:685px;
}


#mainL address{
	padding:15px;
	border:1px solid #d1d1d1;
}


.spDeadline{
	font-size:14px;
	color:#F00;
	}

.spDeadlinemain{
	margin:5px 0 0 0;
	font-size:14px;
	font-weight:bold;
	color:#F00;
	}



/* サイドバナー */
#sideBnrBusinessArea{
	position:relative;
}


/* 入場パス追加分 */
.passcoutionGuide{
	color:#f00;
	border: solid 1px #FF0000;
}
	

/* 終了後追加分 */	
.btmkichouNew a{
	display:block;
	margin:5px 0 0 5px;
	float:left;
	width:213px;
	height:33px;
	background:url(img/b_kichounew.gif) 0 0 no-repeat;
	}
	
.btmkichouNew a:hover{
	background:url(img/b_kichounew.gif) 0 -33px no-repeat;
	}	

#mainL p.subTitlefin{
	display:block;
	float:left;
	margin:0 0 10px 0;
	padding:12px 5px;
	font-size:14px;
	line-height:1.5em;
	border-left:6px solid #d1d1d1;
}

.sessionAreanew{
	padding:0 0 5px 0;
	overflow:hidden;
	_zoom:1;
	}

/* 20120806追加 */
.forum_btn_all {
	margin: 0px 0px;
}
.forum_btn_select {
	width: 720px;
	margin-bottom: 20px;
}
.forum_btn_select li {
	margin-left: 0;
	margin-right: 0;
	float: left;
}


/* 20120807追加 */
.sessionTitle .sName2{
	float:left;
	display:block;
	font-size:16px;
	font-weight:bold;
	padding: 0;
}
.sessionTitle .sPlace2{
	float:right;
	padding:0;
	display:block;
	font-size:10px;
	font-weight:bold;
}

.sessionTitle_bule{
	padding:10px 15px;
	color:#fff;
	background: #F60;
}

.sessionTitle_bule .sName{
	float:left;
	display:block;
	font-size:15px;
	font-weight:bold;
}

.sessionTitle_bule .sPlace{
	float:right;
	padding:4px 0 0 0;
	display:block;
	font-size:12px;
	font-weight:bold;
}
.sessionTitle_bule .sPlace2{
	float:right;
	padding:0;
	display:block;
	font-size:12px;
	font-weight:bold;
}


.sessionTitle_bule .sPlace3{
	float:right;
	padding:4px 0 0 0;
	display:block;
	font-size:10px;
	font-weight:bold;
}

.sessionArea .speaker_photo{
	width: 120px;
	float: left;
}

.sessionTitle_yellow{
	padding:10px 15px;
	color:#fff;
	background: #EDC112;
}
.sessionTitle_yellow .sName{
	float:left;
	display:block;
	font-size:15px;
	font-weight:bold;
}

.sessionTitle_yellow .sPlace{
	float:right;
	padding:4px 0 0 0;
	display:block;
	font-size:12px;
	font-weight:bold;
}
.sessionTitle_yellow .sPlace2{
	float:right;
	padding:0;
	display:block;
	font-size:12px;
	font-weight:bold;
}

.clear {
	clear: both;
}

.flag{
	display:inline-block;
	padding:10px 0px 0px 0px;
	margin:0 0 0 0;
	color:#fff;
}
.agbsKuni2{
	vertical-align: text-bottom;
	display: inline-block;
	padding: 2px 25px;
	margin:0 0 7px 0;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	background:#cc086b;
}

a.appBtnS{
	margin:0 0 5px 0;
	display:block;
	width:253px;
	height:33px;
	overflow:hidden;
	background:url(img/b_app.gif) 0 0 no-repeat;
}

a.appBtnS:hover{
	background:url(img/b_app.gif) 0 -33px no-repeat;
}



.programList2{
	padding:1px;
	border:1px solid #908eb2;
}

.programList2 strong{
	display:inline-block;
	margin:0 0 8px 0;
}

.programList2 table{
	border-collapse: collapse;
}

.programList2 table th{
	width:100px;
	padding:8px 15px;
  text-align: left;
	font-size:12px;
	font-weight:normal;
	background:#e3e0f0;
  border-bottom:1px solid #fff;
}

.programList2 table td.nor{
	padding:8px 15px;
	font-size:12px;
	background:#fff;
  border-bottom:1px solid #dedaed;
}


td.nor2{
	padding:0px 15px;
	font-size:12px;
	background:#fff;
	border-left:1px solid #dedaed!important;

}

.programList2 table td.link{
	width:63px;
}



