@charset "utf-8";

/* ========================================================
	base.css => 共通基本CSS
======================================================== */

@import url(../../../../../../../fonts.googleapis.com/earlyaccess/notosanssc.css);
.notoSansSC{
    font-family: 'Noto Sans SC', sans-serif;
}

/* reset
============================================================================================================ */
*{
	font-feature-settings : "palt";

}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td, main, figure {
	margin: 0;
	padding: 0;
}
table {
	font-size: 100%;
	font-family: inherit;
}
fieldset, img {
	border: 0;
}
img {
	vertical-align: middle;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}
select, input, textarea {
	font-size: 100%;
}
header,footer,nav,main,section,article,figure,aside {
	display: block;
}

i{font-style:normal;}


/* ClearFix
============================================================================================================ */
.clearfix,
.row {
	zoom: 1;
}
.clearfix:after,
.row:after {
	content: "."; display: block; height: 0; clear: both; visibility: hidden; line-height: 0; overflow: hidden;
}


/* float
============================================================================================================ */
.fl {float: left;}
.fr {float: right;}


/* text-align
============================================================================================================ */
.tal {text-align: left;}
.tac {text-align: center;}
.tar {text-align: right;}


/* margin
============================================================================================================ */
.m00 {margin: 0 !important;}
/*.mb {margin-bottom: 1.5em !important;}*/
.mb00 {margin-bottom: 0 !important;}
.mb05 {margin-bottom: 5px !important;}
.mb08 {margin-bottom: 8px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb35 {margin-bottom: 35px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb45 {margin-bottom: 45px !important;}
.mb50 {margin-bottom: 50px !important;}
/*.mt {margin-top: 1.5em !important;}*/
.mt00 {margin-top: 0 !important;}
.mt05 {margin-top: 5px !important;}
.mt08 {margin-top: 8px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}

/* padding
============================================================================================================ */
.p00 {padding: 0 !important;}
/*.pb {padding-bottom: 1.3em !important;}*/
.pb00 {padding-bottom: 0 !important;}
.pb05 {padding-bottom: 5px !important;}
.pb08 {padding-bottom: 8px !important;}
.pb10 {padding-bottom: 10px !important;}
.pb15 {padding-bottom: 15px !important;}
.pb20 {padding-bottom: 20px !important;}
.pb25 {padding-bottom: 25px !important;}
.pb30 {padding-bottom: 30px !important;}
.pb35 {padding-bottom: 35px !important;}
.pb40 {padding-bottom: 40px !important;}
.pb45 {padding-bottom: 45px !important;}
.pb50 {padding-bottom: 50px !important;}
.pt00 {padding-top: 0 !important;}
.pt05 {padding-top: 5px !important;}
.pt08 {padding-top: 8px !important;}
.pt10 {padding-top: 10px !important;}
.pt15 {padding-top: 15px !important;}
.pt20 {padding-top: 20px !important;}
.pt25 {padding-top: 25px !important;}
.pt30 {padding-top: 30px !important;}
.pt35 {padding-top: 35px !important;}
.pt40 {padding-top: 40px !important;}
.pt45 {padding-top: 45px !important;}
.pt50 {padding-top: 50px !important;}


/* font size
============================================================================================================ */
.fz10 {font-size: 10px; font-size: 1.0rem;}
.fz11 {font-size: 11px; font-size: 1.1rem;}
.fz12 {font-size: 12px; font-size: 1.2rem;}
.fz13 {font-size: 13px; font-size: 1.3rem;}
.fz14 {font-size: 14px; font-size: 1.4rem;}
.fz15 {font-size: 15px; font-size: 1.5rem;}
.fz16 {font-size: 16px; font-size: 1.6rem;}
.fz17 {font-size: 17px; font-size: 1.7rem;}
.fz18 {font-size: 18px; font-size: 1.8rem;}
.fz19 {font-size: 19px; font-size: 1.9rem;}
.fz20 {font-size: 20px; font-size: 2.0rem;}






/* common
============================================================================================================ */
html {

}

img {
    max-width: 100%;
    height: auto;
}


@font-face {
	 font-family: "Noto Sans SC";
}

@font-face {
	 font-family: "Noto Sans SC";
font-weight: bold ;
}
body {
    background-color: #fff;
    font-size: 14px;

    color: #000;
    font-family: "Noto Sans SC";
    -webkit-text-size-adjust: 100%;
	line-height:1.4;
}
strong,.b{
	font-family: "Noto Sans SC";
font-weight: bold ;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
	opacity: 0.7;
}
a.deadlink:hover {
	opacity: 1;
}
a:hover img {
    opacity: 0.9;
}

.pc {
    display: block;
}

br.pc,
span.pc,
img.pc{
    display: inline;
}

.sp {
    display: none;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 0;
}

.table {
    display: table;
}

.table > .cell {
    display: table-cell;
    vertical-align: top;
}

.right{
	
	float:right;
}

.left{
	
	float:left;
}

.t_center{
	text-align:center;
	
}





@media screen and (max-width: 768px) {
	

.sp{
display:block;	
}
br.sp,span.sp,img.sp{
display:inline!important;	
}
.pc{
display:none!important;		
}
img{width:100%;}



}
