@charset "UTF-8";
#sub_column ul {
			padding-bottom:360px;
		
		}
html*#sub_column ul {
			padding-bottom:351px;
		
		}
		
#main_column .com_list_box h3{
		text-indent:-9999px;
		width:210px;
		height:25px;
		margin-bottom:25px;
		
	

}
		

#main_column .com_list_box #boy{
		background: url(../images/t_boy.gif) no-repeat;
	

}

#main_column .com_list_box #girl{
		background: url(../images/t_girl.gif) no-repeat;
	

}

#main_column .com_list_box #baby{
		background: url(../images/t_baby.gif) no-repeat;
	

}

#main_column .com_list_box #plushie{
		background: url(../images/t_plushie.gif) no-repeat;
	

}

#main_column .com_list_box #game{
		background: url(../images/t_game.gif) no-repeat;
	

}

#main_column .com_list_box #hobby{
		background: url(../images/t_hobby.gif) no-repeat;
	

}

#main_column .com_list_box #season{
		background: url(../images/t_season.gif) no-repeat;
	

}

#main_column .com_list_box #zaka{
		background: url(../images/t_zaka.gif) no-repeat;
	

}

#main_column .com_list_box #other{
		background: url(../images/t_other.gif) no-repeat;
	

}