

/*   /contact/index.html
/*	 お問い合わせページ
------------------------*/

.dtlBox{
padding:0px 10px 40px 10px;
width:872px;
}
p.cntTtl{
font-size:14px;
font-weight:bold;
margin:0px;
padding:0px;
}
p.contactTxt{
font-size:14px;
font-weight:bold;
margin:0px;
padding:0px;
padding-left:15px;
}

.pagetop{
margin:0px 20px 20px 0px;
}