@charset "utf-8";

@import url("setting.css");  

/* ----------------------------------------
	common
---------------------------------------- */

html {
	min-width: 980px;
}
body{
	color: #3c3c3c;
	background: #fff;
	min-width: 980px;
	font-size: 12px;
	line-height: 1.8;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.sp {
	display: none !important;
}

a {
	cursor: pointer;
	color: #ff9600;
	text-decoration: underline;
}

.inner {
	position: relative;
	margin: auto;
	width: 980px;
}

/* ----------------------------------------
    Header
---------------------------------------- */
header {
	background: #FFF001;
	z-index: 1;
}
header h1 {
	width: 630px;
    height: 75px;
    margin: auto;
	background: url(../img/common/logo.svg) no-repeat;
	background-size: 100%;
	text-indent: -100000px;
}
header h1 a {
	display: block;
	width: 630px;
    height: 75px;
}
header .inner {
    width: 1100px;
	padding: 20px 0;
}

.font-sizing {
    display: table;
    position: absolute;
	top: 20px;
    right: 0;
    line-height: 1;
}
.font-sizing li {
	color: #969696;
}
.font-sizing li a {
	text-decoration: none;
	color: #969696;
}

.sns {
    position: absolute;
    right: 0;
}
header .sns {
    bottom: 20px;
}
footer .sns {
	top: 0;
	right: 100%;
	width: 80px;
	margin-top: 2px;
	margin-right: 13px;
}
.sns img {
	margin-left: 10px;
	width: 30px;
}
.sns a {
	display: inline-block;
}

#menu {
	display: none;
}

.font-sizing li {
	display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
.font-sizing li:first-child {
    margin-left: 10px;
}
.font-sizing li a {
		display: table-cell;
		color: #3c3c3c;
		background: #fff;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		text-align: center;
		vertical-align: middle;
}
.font-sizing li a:hover {
	color: #ffffff;
    background: #3c3c3c;
}
.font-sizing li.small {
	font-size: 12px;
}
.font-sizing li.medium {
	font-size: 14px;
}
.font-sizing li.large {
	font-size: 16px;
}

.language {
    position: absolute;
    right: 37px;
    top: 15px;
    width: 155px;
}
.language .en,
.language .ja {
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top, #e5e5e5 0%, #c7c7c7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#c7c7c7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e5e5e5 0%,#c7c7c7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#c7c7c7',GradientType=0 ); /* IE6-9 */
}
.language a {
    display: inline-block;
    margin: 0;
    padding: 6px 0 3px;
    width: 75px;
    height: 24px;
    text-align: center;
	color: #000;text-decoration: none;
}
.language .en {
	border-radius: 6px 0 0 6px;
}
.language .ja {
	border-radius: 0 6px 6px 0;
}
.language .on {
	background: #999;
	color: #fff;
}

.pc_language {
	position: fixed;
	top: 0;
	right: 0;
	width: 61px;
	height: 187px;
	margin-top: 240px;
	background: url(../img/common/nav_language.png) no-repeat;
	background-size: contain;
	z-index: 2;
}
.pc_language li {
    position: absolute;
    right: 9px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	width: 30px;
}
.pc_language li.ja {
	height: 60px;
    top: 21px;
}
.pc_language li.ja.on a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
	overflow: hidden;
	background: url("../img/common/nav_language_jp.png") no-repeat;
	background-size: contain;
	background-position: top;
}
.pc_language li.en {
	height: 80px;
    bottom: 21px;
}
.pc_language li.en a,
.pc_language li.ja a {
	display: block;
	width: 100%;
	height: 100%;
}
.pc_language li.en.on a {
	display: block;
	width: 100%;
	height: 100%;
	background: url("../img/common/nav_language_en.png") no-repeat;
	background-size: contain;
	background-position: top;
}

.pc_pagetop {
	position: fixed;
	bottom: 40px;
	right: 0;
	background: url("../img/common/btn_top.png") no-repeat;
	background-size: contain;
	z-index: 2;
}
.pc_pagetop a {
	display: block;
	width: 30px;
	height: 80px;
}

#gnav {
	position: relative;
	width: 100%;
	color: #fff;
	background: #3C3C3C;
	padding: 10px 0;
	box-shadow: 0px 0px 6px -3px rgb(0 0 0 / 40%);
	-moz-box-shadow: 0px 6px 7px -3px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 6px 7px -3px rgb(0 0 0 / 40%);
	z-index: 1;
}
.en #gnav li a, .en #gnav li a:hover {
	position: relative;
    padding: 12px;
    height: auto;
    vertical-align: middle;
}
#gnav.fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	margin-top: 0;
	padding: 5px 0;
	border-radius: 0;
	background: #fff;
}
.en #gnav.fixed {
	padding: 15px 0;
}
#gnav #logo {
    display: none;
	position: fixed;
	top: 9px;
	left: 50%;
	margin-left: -490px;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
#gnav.fixed #logo {
    display: block;
	opacity: 1;
}
#gnav #logo img {
    display: block;
    width: 65px;
    height: 70px;
}
#gnav ul.en li {
	font-size: 15px;
	vertical-align: middle;
}
#gnav ul {
	margin: auto;
	display: table;
	width: 970px;
    border-collapse: separate;
	border-spacing: 10px 5px;
	transition: 0.2s;
}
#gnav ul:first-child li {
	width: 25%;
}
#gnav ul:nth-child(2) li {
	width: 30%;
}
#gnav.fixed ul {
    width: 915px;
    padding-left: 75px;
}
#gnav li {
    position: relative;
    display: table-cell;
    text-align: center;
    border-radius: 4px;
    line-height: 1;
    font-size: 14px;
    font-weight: bold;
	vertical-align: middle;
	height: 100%;
}
#gnav li span {
    font-size: 12px;
}
#gnav li a,
#gnav li a:hover {
	display: block;
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
#gnav.fixed li a,
#gnav.fixed li a:hover {
	padding: 8px 0;
}
#gnav li.outline {
	background: #ffa000;
}
#gnav li.public {
	background: #ff5064;
}
#gnav li.buyer {
	background: #00b4dc;
}
#gnav li.press {
	background: #5ab400;
}
#gnav li.comingsoon {
    background: #c1c1c1;
    font-weight: normal;
}
#gnav li.comingsoon a {
    cursor: default;
}

#main {
	margin: auto;
	position: relative;
	width: 100%;
	height: 310px;
	background: url(../img/common/kv_sub.jpg) no-repeat center top / auto #fff;
	background-size: 1260px;
}
#main h2 {
    width: 450px;
    height: 60px;
		position: absolute;
		top: 30px;
    left: 0;
}
#main #place {
	position: absolute;
	left: -15px;
	bottom: 0;
}
#main .kodomohaku {
	position: absolute;
	bottom: 25px;
	right: 0;
}
#main .kodomohaku img{
	width: 100px;
}

#datePc {
	width: 100%;
	height: 50px;
	margin-bottom: 0;
	padding-top: 13px;
	text-align: center;
	box-sizing: border-box;
	background: #3C3C3C;
}

#container {
	padding: 30px 0 270px;
	background: url(../img/common/container_bg.png) top center / auto repeat-y;
	background-color: #FFF0FA;
}

/* ----------------------------------------
    sidebar
---------------------------------------- */

#sidebar {
	float: right;
	width: 260px;
}
#sidebar .official-ad,
#sidebar .topics,
#sidebar .banner {
	border-radius: 10px;
	background: #fff;
	padding: 10px;
	margin-bottom: 20px;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
}
#sidebar .official-ad li,
#sidebar .banner li {
	display: block;
	margin-bottom: 10px;
}
#sidebar .official-ad li:last-child,
#sidebar .banner li:last-child {
    margin-bottom: 0;
}
#sidebar .official-ad li img {
	width: 240px;
}
#sidebar .official-ad li:last-child {
	margin-bottom: 0;
}
#sidebar h3 {
	padding: 8px 0;
	margin-bottom: 10px;
	border-radius: 5px;
	background: #3c3c3c;
	color: #fff;
	line-height: 30px;
	text-align: center;
}
#sidebar ul {
	color: #3c3c3c;
	line-height: 1.5;
	text-align: left;
}

#sidebar .topics ul li {
    margin-bottom: 10px;
    padding: 0 10px 10px;
    font-size: 14px;
    border-bottom: 1px solid #d2d2d2;
}
#sidebar .topics ul li:last-child {
    padding: 0 10px;
    margin-bottom: 0;
    border-bottom: none;
}
#sidebar .topics ul .date {
	font-weight: bold;
}

#sidebar .banner p {
	margin-top: 10px;
	text-align: right;
	font-size: 12px;
}


/* ----------------------------------------
    sub_date
---------------------------------------- */

#sub_date {
    float: left;
    width: 690px;
    background: #3c3c3c;
    margin: 0 auto 30px;
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
}
#sub_date div {
	display: inline-block;
	width: 327px;
}
#sub_date div:last-child {
    margin-left: 20px;
	width: 300px;
}
#sub_date img {
	width: 100%;
	height: 100%;
}


/* ----------------------------------------
    article
---------------------------------------- */

article {
    float: left;
    padding: 30px;
    margin: 0 auto 30px;
    border-radius: 10px;
    width: 630px;
    background: #fff;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
}
section {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e6e6e6;
}
section h2 {
    margin-bottom: 30px;
    width: 630px;
	text-align: center;
}
section h3 {
	margin-bottom: 30px;
}
section.buyer a {
	color: #00b4dc;
}

section.public a {
	color: #ff5064;
}
section p {
	margin-bottom: 30px;
}
section .frame {
    position: relative;
    padding: 10px 9px 10px 70px;
    color: #fff;
    font-weight: normal;
    text-align: left;
    background: #ff5064;
    border-radius: 5px;
    font-size: 14px;
}
section .frame:before {
    position: absolute;
    left: 15px;
    top: 50%;
    content: '';
    width: 46px;
    height: 40px;
    margin-top: -20px;
    background: url(../img/common/icon_caution.svg) no-repeat;
    background-size: contain;
    background-position: center;
}
section .frame a {
	color: #fff;
}
section .frame2 {
    margin: 30px auto 0;
    padding: 10px 0;
    font-weight: bold;
    border: solid 1px #ff9600;
    border-radius: 5px;
    text-align: center;
}
section .frame3 {
    color: #ff8200;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    border: solid 1px #ff8200;
    border-radius: 5px;
}
section .frame3 p {
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 0;
}

section .aomi {
    background: #ff8200;
    margin: 0 auto 30px;
    padding: 9px 0;
    border-radius: 5px;
    text-align: center;
}
section .aomi img {
    /* width: 590px; */
}
 
section.buyer .link {
    padding: 5px 5px 5px 20px;
	margin-top: 20px;
	background: #00b4dc;
	border-radius: 5px;
}
section.public .link {
    padding: 5px 5px 5px 20px;
	margin-top: 20px;
	background: #ff5064;
	border-radius: 5px;
}
section .link {
	color: #fff;
}
.link dt,
.link dd {
	display: table-cell;
}
.link dt {
	width: 120px;
}
.link dd {
    padding: 5px 15px;
    width: 460px;
	background: #fff;
}
section.buyer .link dd {
	color: #00b4dc;
}
section.public .link dd {
	color: #ff5064;
}
.indent {
    padding-left: 1em;
    text-indent: -1em;
    margin: 0;
}

.hallmap_buyer, .hallmap_public {
		float: none;
		display: block;
		width: 100%;
		margin-bottom: 30px;
		padding: 10px;
		border-bottom: none;
		border-radius: 10px;
		text-align: center;
		background: #f0f0ee;
		background-size: 100%;
		box-sizing: border-box;
}
.hallmap_buyer {
    margin-right: 0;
}
.hallmap_buyer img,
.hallmap_public img {
	width: auto;
}
.hallmap_buyer dt,
.hallmap_public dt {
	padding: 0 0 10px;
}
.hallmap_buyer dt img,
.hallmap_public dt img {
	height: 23px;
}
.hallmap_buyer dd,
.hallmap_public dd {
	width: 100%;
	margin: auto;
	padding: 20px 0;
	background: #fff;
	border-radius: 5px;
}
.hallmap_buyer dd > a {
	display: block;
	width: 95%;
	margin: 0 auto 20px;
	height: 40px;
	background: #00b4dc;
	border-radius: 40px;
}
.hallmap_buyer dd > a:last-child {
	margin-bottom: 0;
}
.hallmap_buyer dd a img,
.hallmap_public dd a img {
    width: 245px;
}
.hallmap_buyer dd a:first-child img,
.hallmap_public dd a:first-child img {
	margin-bottom: 20px;
}
section:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

/* ----------------------------------------
    Footer
---------------------------------------- */


footer {
	position: relative;
	background: url("../img/common/footer_bg.png") top center no-repeat;
    background-size: cover; 
	padding: 90px 0 0;
    margin: -90px auto 0;
}
footer #chara {
    background: url(../img/common/footer_chara.png) top center no-repeat;
    background-size: 1222px;
    width: 100%;
    height: 245px;
    margin-top: -250px;
}
footer #footer_nav {
	position: relative;
    box-shadow:0px 6px 9px -3px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 6px 9px -3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 6px 9px -3px rgba(0,0,0,0.4);
}

footer #footer_nav>ul {
	position: relative;
	margin: auto;
	display: table;
	width: 1000px;
    padding-bottom: 45px;
}
footer #footer_nav>ul>li {
	display: table-cell;
}
footer #footer_nav>ul>li:first-child {
	width: 150px;
}
footer #footer_nav>ul>li:nth-child(2) {
	width: 220px;
}
footer #footer_nav>ul>li:nth-child(3) {
	width: auto;
}
footer li a {
	display: block;
	color: #000;
	text-decoration: none;
	line-height: 2;
}
footer #footer_nav>ul>li a.btn {
    padding: 9px 12px;
	margin-bottom: 15px;
	color: #3c3c3c !important;
	background: #fff;
    border-radius: 15px;
	line-height: 1;
}
footer #footer_nav>ul>li>a:before {
	content: '';
	display: inline-block;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	margin-right: 5px;
	background: #fff;
	background: url("../img/common/arrow_gray.svg") no-repeat;
	background-size: 100%;
}
footer #footer_nav>ul>li a.btn:before {
	content: '';
	display: inline-block;
	border-radius: 0;
	width: 14px;
	height: 12px;
	margin-right: 5px;
	background: url("../img/common/link.svg") no-repeat;
	background-size: 100%;
}

footer #footer_nav>ul>li#archive {
	position: relative;
	width: 240px;
	vertical-align: bottom;
}
footer li#archive a {
	text-decoration: none;
	color: #3c3c3c !important;
}
footer li#archive ul {
	display: none;
	position: absolute;
	bottom: 94px;
	right: 0;
	padding: 15px 0 10px;
}
footer li#archive li {
	width: 264px;
	height: 25px;
    color: #3c3c3c;
	background: #dcdddd;
	margin-bottom: 2px;
	text-align: center;
	line-height: 25px;
}
footer li#archive a:hover {
	color: #ff9600;
}
footer.en #archive .btn {
	width: 250px;
	margin-left: 600px;
}

.copyright {
    background: #fff;
    padding: 13px 0;
    text-align: center;
}


/* ----------------------------------------
	bnr
---------------------------------------- */

body.lock {
	overflow-y: hidden;
}

.popWrap,
.cosWrap,
.popBg {
	overflow-x: hidden;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100000;
	display: none;
    overflow-y: scroll;
	width: 100%;
	height: 100%;
}

.popBg {
	background: rgba(0,0,0,0.8);
	z-index: 1;
	display: block;
}

.popWrap h2.save {
    display: block;
    padding-bottom: 20px;
    border-bottom: solid 1px #ff9600;
}
.popWrap  h2.save img {
	width: 144px;
}

.popMain {
	position: relative; 
	z-index: 2;
	width: 690px;
	margin: 40px auto;
	padding: 30px;
	background: #fff;
	border-radius: 8px;
	font-size: 14px;
}
.popMain p {
    margin: 30px 0;
}
.popMain p.link {
    text-align: center;
}
.popMain a {
	color: #ffa000;
}
.popMain .bnr_cnt {
	margin-bottom: 20px;
	padding: 8px;
	background: #E6E6E6;
	border-radius: 8px;
}
.popMain h3 {
	font-weight: bold;
    padding-left: 20px;
    margin-bottom: 8px;
}
.popMain .bnr_area {
	padding: 10px;
	background: #fff;
}
.popMain .bnr_area img {
    display: block;
    margin: 10px auto;
}

.popMain .bnr_area2 {
	padding: 10px;
	background: #fff;
    text-align: center;
}
.popMain .bnr_area2 img {
    display: inline-block;
    margin: 10px;
}
.popMain .mt50 {
	margin-top: 35px;
}

#popNews .popMain {
    width: 490px;
    top: 50%;
    margin-top: -147px;
}
#popNews h2 {
    text-align: center;
}
#popNews h2 img {
    width: auto;
    height: 33px;
}
.popClose {
    width: 300px;
    color: #fff;
    background: #ffa000;
    margin: auto;
    padding: 8px 0;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
}

#session-sp {
	display: none;
}

@media (min-width: 768px) {
  body {
    min-width: 1100px;
}}

