.text
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    LINE-HEIGHT: 15px;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.pagehead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
.head
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #004aa0;
    LINE-HEIGHT: 18px;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
.subhead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #0d1f69;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}

.subhead2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #006e93;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}

.callout
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #004aa0;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}

.orange_callout
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #CC3300;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}

.exhibdir
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #0d1f69;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
.register
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #cc0033;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
.search
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #006e93;
    LINE-HEIGHT: 15px;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.details
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #004aa0;
    LINE-HEIGHT: 15px;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
.required
{
    FONT-SIZE: 10pt;
    COLOR: #cc0000
}
.formidentifier
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
.forminstruction
{
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
.formerror
{
    FONT-SIZE: 10pt;
    COLOR: #CC0000;
    FONT-FAMILY: sans-serif
}
.confhead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #2f58b9;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A
{
    COLOR: #0d1f69
}
A:visited
{
    COLOR: #0d1f69
}
A:link
{
    COLOR: #0d1f69
}
A.register:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #CC3300;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.register:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #CC3300;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.register
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #CC3300;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.register:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #0d1f69;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.shoppingcart:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #CC3300;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.shoppingcart:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #CC3300;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.shoppingcart
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #CC3300;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.shoppingcart:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #0d1f69;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.headerconstants
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #0d1f69;
    FONT-FAMILY: sans-serif;
    TEXT-DECORATION: none
}
A.headerconstants:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #0d1f69;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.headerconstants:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #0d1f69;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.headerconstants:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.tabsubnav
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.tabsubnav:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.tabsubnav:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.internationalnav
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #004aa0;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.internationalnav:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #004aa0;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.internationalnav:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #004aa0;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
/*A.internationalnav:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #006e93;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}*/
A.inpagenav
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #0d1f69;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.inpagenav:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #0d1f69;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_main
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_main:visited
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_main:link
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_main_active
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_main_active:visited
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_main_active:link
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_press
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_press:visited
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_press:link
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_press_active
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_press_active:visited
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_press_active:link
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_exhibitors
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_exhibitors:visited
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_exhibitors:link
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_exhibitors_active
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_exhibitors_active:visited
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.leftsubnav_exhibitors_active:link
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.search
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.search:visited
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.search:link
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.footerconstants
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.footerconstants:visited
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.footerconstants:link
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.footerconstants:hover
{
    FONT-SIZE: 8pt;
    COLOR: #0d1f69;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-DECORATION: none
}
A.toplink
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.toplink:visited
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.toplink:link
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.ledgerLink
{
    FONT-SIZE: 9pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.ledgerLink:visited
{
    FONT-SIZE: 9pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
A.ledgerLink:link
{
    FONT-SIZE: 9pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
UL
{
    MARGIN-TOP: 0em;
    LIST-STYLE-IMAGE: url(/global_images/bullet.gif);
    MARGIN-BOTTOM: 0em;
    MARGIN-LEFT: 1.5em;
    VERTICAL-ALIGN: top
}
TD
{
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
TD.header
{
    BACKGROUND-REPEAT: no-repeat
}
TD.headerconstants
{
    FONT-SIZE: 8pt;
    COLOR: #0d1f69;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
TD.subtab_main
{
    FONT-SIZE: 4pt;
    BACKGROUND-COLOR: #0c1d5f
}
TD.subtab_press
{
    FONT-SIZE: 4pt;
    BACKGROUND-COLOR: #483278
}
TD.subtab_exhibitors
{
    FONT-SIZE: 4pt;
    BACKGROUND-COLOR: #024593
}
TD.subtab_speakers
{
    FONT-SIZE: 4pt;
    BACKGROUND-COLOR: #399909
}
TD.tabsubnav
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
TD.internationalnav
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #004aa0;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
TR.leftsubnav
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
TD.leftsubnav
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
TR.leftsubnav_main
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #0d1f69
}
TD.leftsubnav_main
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #0d1f69
}
TR.leftsubnav_main_active
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #4c658e
}
TD.leftsubnav_main_active
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #4c658e
}
TR.leftsubnav_press
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #4e3582
}
TD.leftsubnav_press
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #4e3582
}
TR.leftsubnav_press_active
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #8571ac
}
TD.leftsubnav_press_active
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #8571ac
}
TR.leftsubnav_exhibitors
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #1256a5
}
TD.leftsubnav_exhibitors
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #1256a5
}
TR.leftsubnav_exhibitors_active
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #5481b5
}
TD.leftsubnav_exhibitors_active
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #5481b5
}
TR.leftsubnav_speakers_active
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #b1db9c
}
TD.leftsubnav_speakers_active
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #b1db9c
}
TD.exhibitor_login_constant
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
TD.search
{
    FONT-SIZE: 8pt
}
TD.addedvalue
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    LINE-HEIGHT: 12px;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
TD.avshadowmain
{
    FONT-SIZE: 8pt;
    COLOR: #0d1f69;
    LINE-HEIGHT: 12px;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #d9dfe8
}
TD.avshadowpress
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    LINE-HEIGHT: 12px;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #e4e1ec
}
TD.avshadowspeak
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    LINE-HEIGHT: 12px;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #deead2
}
TD.avshadowexh
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    LINE-HEIGHT: 12px;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #dae8f0
}
TD.ceasponsorship
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
TD.footer
{
    BACKGROUND-COLOR: #999999
}
TD.footerconstants
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: sans-serif
}
TD.ledgershadow
{
    BACKGROUND-COLOR: #eeeeee
}
TR.ledgershadow
{
    BACKGROUND-COLOR: #eeeeee
}
TD.ledgernoshadow
{
    BACKGROUND-COLOR: #ffffff
}
TR.ledgernoshadow
{
    BACKGROUND-COLOR: #ffffff
}
TR.tablehead
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #eeeeee
}
TD.tablehead
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #eeeeee
}
TR.columnlabel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    BACKGROUND-COLOR: #eeeeee
}
TD.rowlabel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: top;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-ALIGN: right
}
TD.confrowlabel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: top;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-ALIGN: right
}
TD.rowdata
{
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: top;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-ALIGN: left
}
TD.formidentifier
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif;
    TEXT-ALIGN: right
}
TR.confheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: sans-serif;
    BACKGROUND-COLOR: #5670b1
}
TD.confheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: sans-serif;
    BACKGROUND-COLOR: #5670b1
}
INPUT.formdata
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
SELECT.formdata
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
TEXTAREA.formdata
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, Geneva, Sans-serif
}
.helpheader
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11pt;
    COLOR: white;
    BACKGROUND-COLOR: #113c7b
}
A.helpheader
{
    FONT-SIZE: 8pt;
    COLOR: white;
    BACKGROUND-COLOR: #113c7b
}
A.helpheader:visited
{
    FONT-SIZE: 8pt;
    COLOR: white;
    BACKGROUND-COLOR: #113c7b
}
