@charset "utf-8";
/* CSS Document */
#common-contents{
	width:100%;
	background:url(../images/backgroundimage.jpg) no-repeat center top;
	height:675px;
	margin:0;
	padding:0;
	position:relative;
	opacity:0;
}
#common-contents h1{
	margin:0px auto 0;
	padding:305px 0 0;
	width:504px;
	height:87px;
	display:none;
}

#contents-hardware{
	width:100%;
	z-index:10;
	margin:80px 0 0;
	height:95px;
	z-index:10;
	position:relative;
	display:none;
	text-align:center;
}

#contents-hardware h2{
	padding:10px 0 0;
}

#contents-hardware ul li{
	padding:0 15px 0;
	display:inline;
}

#hardware-after{
	background:#fff;
	display:block;
	width:100%;
	height:95px;
	position:absolute;
	top:472px;
	z-index:2;
	opacity:0.68;
	display:none;
}