@charset "UTF-8";
#contents {
	position:relative;

}

#contents #sub_column {
	position:absolute;
	width:210px;
	_top:0px;

}

#sub_column ul {
			border-right: none;
			padding-bottom:0px;
		
		}

	

#contents #main_column {
	padding:4px 1px 20px 4px;
	border-left:#80CAEC solid 2px;
	min-height:584px;
	_height:584px;
	
}

/*ie7*/
html*#contents #main_column {
	min-height:584px;
}


#contents #main_column {
	padding:4px 1px 10px 4px;
}


#main_column #atmosphere{
	width:584px;
	background:#0095D9  url(../images/t_atmosphere.gif) no-repeat 14px 14px;

}

	#main_column h2{
		text-indent:-9999px;
		height:50px;
		width:580px;
		margin-bottom:16px;

	}
	
	
/*-----------------------------------------------------------------*/
#main_column  .tab {
	

}

#main_column  .tab li{
	float:left;
	text-decoration:none;
	display:block;
	position:relative;
	

}

#main_column  .tab .check_l{
	display:block;
	width:182px;
	height:25px;
	padding-top:6px;
	border:#80CAEC solid 2px;
	text-align:center;
	
	
	}
	
#main_column  .tab .check_s{
	display:block;
	width:182px;
	height:18px;
	padding-top:4px;
	text-align:center;
	margin-top:9px;
	border:#80CAEC solid 2px;

	
	
	}
	
#main_column  .tab .line_out_l{
	border-left:none;
	
	
	}
	
#main_column  .tab .line_out_r{
	border-right:none;
	
	
	}

#main_column .tab li a{
display:block;
width:182px;
height:18px;
cursor:pointer;

}

#main_column .tab li a:hover,
#main_column .tab li a:active{
	display:block;
	background:#BFE4F5;
	width:182px;
	height:18px;
	padding-top:4px;
	position:absolute;
	top:0px;
	left:0px;

	
	



	

}







/*-----------------------------------------------------------------*/

#main_column .col_box {
	padding:0px 0px 0px 17px;
	color:#666666;

}

	
	
		#main_column .col_box .banner_col{
		line-height:1.5em;
		padding:0px 0px 8px 0px;
	
		}
			#main_column .col_box .banner_col .title{
				font-size:14px;
				background:url(../../shared/images/icon_blue.gif) no-repeat 0px 4px;
				padding-left:19px;
				padding-bottom:10px;
				color:#0095D9;
				font-weight:bold;
				
			}
			
			#main_column .col_box .banner_col .lead{
				padding-left:19px;
				padding-bottom:10px;
				line-height:1.5;
				
			}
			#main_column .col_box .banner_col .lead_t{
				padding-bottom:28px;
				
			}
			
			#main_column .col_box .banner_col .lead_t dl{
				width:550px;
				display:block;
				
			}
			
			#main_column .col_box .banner_col .lead_t dt{
				float:left;
				margin:0px 10px 0px 18px;
				_margin:0px 10px 0px 9px;
			}
			
			#main_column .col_box .banner_col .lead_t dd{
				float:left;
				
			}
			
			#main_column .col_box .banner_col .img_box .paragraph{
				padding-left:19px;
				padding-bottom:10px;
				line-height:1.5;
				
			}
			
			#main_column .col_box .banner_col .img_box dl {
				width:550px;
			
			}		
		
			#main_column .col_box .banner_col .img_box dt {
				float:left;
			
			}
			
			#main_column .col_box .banner_col .img_box dd {
				float:right;
				width:480px;
				padding-bottom:20px;
				
			
			}
		

		
		#main_column .col_box .banner_col h4 {
			margin:20px 0px 20px 0px;
			font-size:14px;
			color:#0095D9;
			width:550px;
			text-align:center;
		} 
		
		
	
		#main_column .col_box .r_line{
			background:url(../../shared/images/line_b_dot.gif) repeat-x bottom;
			height:1px;
			width:550px;
		}
		
			#main_column .col_box .banner_col .img {
			margin-bottom:10px;
			text-align:center;
			width:550px;
	
			}
			
				
			
		
	
	
/*-----------------------------------------------------------------*/	
	#main_column .col_box .banner_col .table_box {
		width:550px;
		padding-bottom:20px;
		padding-top:50px;
	
	}
	
	
	
	#main_column .col_box .banner_col table {
		color:#000000;
	}
	
	#main_column .col_box .banner_col th {
		width:158px;
		font-weight:normal;
		
	}
	
	#main_column .col_box .banner_col th,
	#main_column .col_box .banner_col td {
		padding:1px 9px;
		text-align:center;
	
	}
	

	
	#main_column .col_box .banner_col .name {
		text-align:left;
		background:#BFE8E3;
	
	}
	
	#main_column .col_box .banner_col .number {
		text-align:right;
	
	}
	
	#main_column .col_box .banner_col .top{
		text-align:center;
		vertical-align:middle;
		background:#7FD0C7;
	
	}
	
/*-----------------------------------------------------------------*/		
	
	
	
	
	
	#main_column .col_box .banner_col #buy_t table{
		border-top:fff solid 1px;
		border-left:#fff solid 1px;
		
	
	}
	
	#main_column .col_box .banner_col #buy_t th,
	#main_column .col_box .banner_col #buy_t td{
		border-bottom:#fff solid 1px;
		border-right:#fff solid 1px;
		
		
	
	}
	

	
	
	
	#main_column .col_box .banner_col .thanks {
		font-size:20px;
		font-weight:bold;
		color:#0099FF;
		text-align:center;
		padding-top:20px;
	
	}



	


/*-----------------------------------------------------------------*/	


#sub_column .bt_f a{
	background: url(../../shared/images/bt_invitation_letter.gif) no-repeat;

}

#sub_column .bt_f a:hover,
#sub_column .bt_f a:active{
	background: url(../../shared/images/bt_invitation_letter_on.gif) no-repeat;

}


