@charset "UTF-8";

/* Cosplay Collection Night@TGS */

.ccnmainArea{
	margin:0 0 25px 0;
	width:720px;
	height:170px;
	background:url(img/ccn_mainimage.gif) 0 0 no-repeat;
	}

.ccnmainArea p{
	padding:20px 25px 0 240px;
	font-size:12px;
	color:#0b7bd6;
	line-height:1.75em;
	}
	
.ccnplyaerArea{
	margin:0 0 15px 0;
	display:block;
	text-align:center;
	}
		
.sessionArea .ccntxtSub{
	margin:0 0 15px 0;
	padding:0 15px;
}

/* 主催者企画 */

.hall{
	margin:0 0 10px 0;
}

h3.projectTitle{
	margin:0 0 15px 0;
}

.sectionL{
	margin:0 0 20px 0;
}

.sectionL p{
	margin:0 3px;
}

.section2column{
	margin:0 0 20px 0;
}

.section2column .leftColumn{
	float:left;
	width:551px;
}

.section2column .rightColumn{
	margin-top:20px;
	float:right;
	width:143px;
}


.column2 p.hallTxt{
	margin-right:20px;
	float:left;
	width:484px;
	_width:474px;
}

.column2 img{
	float:left;
	display:block;
	width:210px;
}


.column3 p.hallTxt{
	margin-right:20px;
	float:left;
	width:344px;
	_width:334px;
}

.column3 img{
	float:left;
	display:block;
	width:350px;
}


.column4 p.hallTxt{
	margin-right:20px;
	float:left;
	width:214px;
	_width:204px;
}

.column4 img{
	float:left;
	display:block;
	width:480px;
}



