@charset "utf-8";

/* ----------------------------------------
	access.html
---------------------------------------- */

#railmap {
	padding: 30px 0 0;
	text-align: center;
}
#railmap img {
	margin-bottom: 20px;
}

#route {
	border-top: #B4B4B4 solid 1px;
	padding: 30px 0 0;
}

#means .accessSection {
	margin-top: 30px;
}
#means .accessSection img{
	margin-top: 20px;
}

#means .notes {
	padding: 20px 0 0;
	color: #333333;
}

a {
	color: #f57606;
}