@charset "utf-8";

/* ----------------------------------------
	buyer_campaign.html
---------------------------------------- */

strong {
	color: #834eb4;
	font-weight: normal;
}

#campaign_logo {
	float: left;
	margin-right: 10px;
}


/* ----------------------------------------
	campaignContent
---------------------------------------- */

.campaignContent {
	padding: 0 0 45px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e6e6e6;
}
.campaignContent p span {
	color: #0eb1fc;
}
.campaignContent p.indent {
	text-indent: -1em;
	margin: 5px 0;
}

.campaignContent dl {
	margin: 20px 0;
}
.campaignContent dt {
	float: left;
	margin-right: 5px;
}
.campaignContent dd {
	float: left;
}

.campaignContent dl.info {
	margin: 20px 0;
	padding: 15px 10px;
}
.campaignContent dl.info dt {
	float: left;
	margin-right: 2%;
	padding-bottom: 15px;
	width: 20%;
	font-weight: bold;
}
.campaignContent dl.info dd {
	float: left;
	padding-bottom: 15px;
	width: 78%;
}

.campaignContent table {
	margin: 30px 0 0;
}
.campaignContent tr {
}
.campaignContent th {
	padding: 15px 0;
	width: 14.5%;
	vertical-align: top;
	text-align: left;
	font-weight: bold;
}
.campaignContent td {
	padding: 15px 2.6% 15px;
	width: 55.4%;
	vertical-align: top;
	color: #0eb1fc;
}
.campaignContent td.link {
	padding: 15px 0;
	vertical-align: top;
}

.campaignContent h4 {
	margin: 30px 0 10px;
	padding: 10px 20px;
	background: #0eb1fc;
	color: #fff;
}
.campaignContent h4 b {
	margin-right: 25px;
	font-weight: bold;
}
.campaignContent h4 a,
.campaignContent h4 a:visited {
	color: #fff;
}

/* ----------------------------------------
	campaign_booth
---------------------------------------- */

#campaign_booth td {
	padding: 10px 10px 0 0;
	vertical-align: top;
}


/* ----------------------------------------
	campaign_info
---------------------------------------- */

#campaign_info dl {
	margin-top: 20px;
}
#campaign_info dt {
	background: #834eb4;
	padding: 5px 10px;
	color: #fff;
}
#campaign_info dt h4 {
	display: inline;
}
#campaign_info dt a {
	color: #fff;
}
#campaign_info dd {
	padding: 10px 5px;
}
#campaign_info h5 {
	font-weight: bold;
}
#campaign_info p {
	padding: 0 10px;
}