@charset "UTF-8";
/* ===========================================================

	slideshow
	
=========================================================== */
#slideshow {
	margin: 0 0 10px;
	width: 100%;
	text-align: left;
	z-index: 0;
	background: #333;
	display: block; zoom: 100%;
}
#slideshow:after { display: block; clear: both; content: " "; }
#slideshow div#slideshowMain {
	width: 100%;
	width: 200px;
	overflow: hidden;
	position: relative;
	z-index: 0;
}
#slideshow div#slideshowMain img {
	max-width: 100%;
}
#slideshow div div {
	position: absolute;
	width: 100%;
	padding: 5px;
	display: block;
	overflow: hidden;
	z-index: 0;
	background: #ccc;
	text-align: center;
}

#slideshow ul {
	z-index: 0;
	background: #333;
	width: 100%;
	
}
#slideshow ul:after { display: block; clear: both; content: " "; }
#slideshow ul li {
	float: left;
	z-index: 0;
	margin: 0;
}
#slideshow .active {
	filter:alpha(opacity=100)!important;
	-moz-opacity: 1!important;
	opacity: 1!important;
	z-index: 0;
}
#slideshow ul li img {
	z-index: 0;
}
#slideshow .active img {
	z-index: 0;
}
#slideshow ul li a { display: block; width: 178px; height: 39px;}
#slideshow ul li a.mn01 { background: url(img/mn01.html) 0 0 no-repeat; width: 179px;}
#slideshow ul li a.mn02 { background: url(img/mn02.html) 0 0 no-repeat;}
#slideshow ul li a.mn03 { background: url(img/mn03.html) 0 0 no-repeat;}
#slideshow ul li a.mn04 { background: url(img/mn04.html) 0 0 no-repeat;}

#slideshow ul li a.mn01:hover { background: url(img/mn01_o.html) 0 0 no-repeat; width: 179px;}
#slideshow ul li a.mn02:hover { background: url(img/mn02_o.html) 0 0 no-repeat;}
#slideshow ul li a.mn03:hover { background: url(img/mn03_o.html) 0 0 no-repeat;}
#slideshow ul li a.mn04:hover { background: url(img/mn04_o.html) 0 0 no-repeat;}

#slideshow ul li.active a.mn01 { background: url(img/mn01_o.html) 0 0 no-repeat; width: 179px;}
#slideshow ul li.active a.mn02 { background: url(img/mn02_o.html) 0 0 no-repeat;}
#slideshow ul li.active a.mn03 { background: url(img/mn03_o.html) 0 0 no-repeat;}
#slideshow ul li.active a.mn04 { background: url(img/mn04_o.html) 0 0 no-repeat;}


