.sow_link{
	float: right ;
}

.sow_link>p{
	background:url(../../images/arrow.svg);
    color: #e74388;
    font-size: 12px;
    padding: 2px 4px 2px 22px;
}

.sow_premain{
	width:100%;
	display:block;
	overflow: hidden ;
	margin-top: 20px ;
}
.sow_premain dt{
	width:100%;
	display:block;
	overflow: hidden ;
}

.sow_premain dd{
	width:100%;
	display:block;
	overflow: hidden ;
}

.sow_pre_ul1{
	width: 100% ;
}

.sow_pre_ul1>li{
	float:left;
}

.sow_pre_ul1>li:nth-of-type(1){
	width: 59.9% ;
}

.sow_pre_ul1>li:nth-of-type(2){
	width: 39.9% ;
	height: 100% ;
	display: inline-block ;
	overflow: hidden ;
	text-align: right;
}

.sow_pre_ul1>li:nth-of-type(2)>img{
	width: 80% ;
}





.sow_pre_ul2>p{
	font-size: 16px ;
}

.sow_pre_ul2>li:nth-of-type(1){
	float: left ;
	width: 100% ;
}

.sow_pre_ul2>li:nth-of-type(2){
	float: right ;
	padding-bottom: 20px ;
}


.sow_pre_ul1>li>ul>li:nth-of-type(3)>p{
	padding-left: 70px ;
	padding-top: 10px ;
	height: 50px ;
}

.ca{
	background-image: url(../../event/sown/images/ca.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
	padding-left: 50px ;
	padding-top: 10px ;
}

.sg{
	background-image: url(../../event/sown/images/sg.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
	padding-left: 50px ;
	padding-top: 10px ;
}

.ar{
	background-image: url(../../event/sown/images/ar.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
	padding-left: 50px ;
	padding-top: 10px ;
}

.fra{
	background-image: url(../../event/sown/images/fr.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
	padding-left: 50px ;
	padding-top: 10px ;
}

.jp{
	background-image: url(../../event/sown/images/jp.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
	padding-left: 50px ;
	padding-top: 10px ;
}

.tw{
	background-image: url(../../event/sown/images/tw.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
	padding-left: 50px ;
	padding-top: 10px ;
}

.uk{
	background-image: url(../../event/sown/images/uk.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
	padding-left: 50px ;
	padding-top: 10px ;
}

.us{
	background-image: url(../../event/sown/images/us.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
	padding-left: 50px ;
	padding-top: 10px ;
}

.sow_pre_i{
	margin-top: 20px ;

}

.sow_pre_i>iframe{
	margin-top: 20px ;
	width: 100%  ;
	height: 500px; ;
	display: inline-block ;
	overflow: hidden ;
}

<!--------------------プレゼン------------->



.sow_pre{
	margin-top: 20px ;
	border: solid 3px ;
}


<!---------------------プレゼン　受賞者メッセージ----------------------------------------------->
.kaisaidl > dd > p:nth-of-type(3){
	padding-left: 50px ;
}
