@charset "utf-8";
/* CSS Document */

.overview_dl{}

.overview_dl a{
	text-decoration: underline;
	color: #263b52;
}

.overview_dl .large_text{
	font-size: 17px !important;
	 font-family: "FOT-ニューロダン Pro B";
}



.sponsor .s_navi{
	width:910px;
	position:absolute;
	top:50%;
	margin-top:-17px;
}
.s_navi img{
	width:35px;
}
.s_left{float:left;}
.s_right{float:right;}



 .sponsor{
	color:#263b52;
}
.s_navi{
	width:863px;
	position:absolute;
	top:50%;
	margin-top:-17px;
}

.s_navi img{
	width:35px;
}
.s_left{float:left;}
.s_right{float:right;}

.slide_wrap{
	position: relative;
}

.slide_title{
	font-size:29px;
}
.h_inner{
	padding-left:0
		;
}
.slide{
	padding:10px 10px;
background-color: #d9d9d9;
	width:862px;
	
}

.slide li{
	float:left;
	
}

.btnbox{
	width:417px;
	padding-left: 0px ;
	margin-left:290px;
	margin-top:50px;
	margin-bottom:40px;
	
}
@media screen and (max-width: 768px) {

	.slide_title {
    font-size: 16px;
	}
	
	.s_navi{
	width:100%;
	}
	

	.slide li{
	 width:50%;
	
	}
	
	.slide li img{
		 width:90%;

	}
	.h_inner {
		padding-left: 0px;
		width: 90%;
		margin: 0 auto;
	}
	.slide {
    padding: 5px;
    background-color: #d9d9d9;
    width:100%;
	}
	
	.slide li{
	 width:50%;
	
	}
	
	.slide li img{
		 width:90%;

	}
	
	
}