@charset "utf-8";
/* CSS Document */

.pc_only{
	display:block;
}

.smp_only{
	display:none;
}

#breadcrumb div:nth-of-type(3){
}

#breadcrumb div:nth-of-type(4){
	width: 300px ;
}

#breadcrumb div:nth-of-type(5){
	margin-left: 30px ;
}



#breadcrumb .slash{
	display: none ;
}


@media screen and (max-width: 768px) {
.pc_only{
	display:none;
}

.smp_only{
	display:none;
}

#breadcrumb div:nth-of-type(3){
	margin-left: 30px ;
}

#breadcrumb div:nth-of-type(4){
	display: none ;
}

#breadcrumb div:nth-of-type(5){
	margin-left: 30px ;
}

#breadcrumb .slash{
	display: inline-block ;
}

}

#breadcrumb{
	margin-bottom:0 !important;


}

.sow_main_div{
	margin: 0 auto;
	width: 980px;
	position: relative;

}

.sow_main_div  .logo_div{
	position: absolute;
	top: 26px;
	left:50%;
	width: 220px;
	margin-left: -110px;
    opacity : 0;
}


.in_page .logo_div{
	position: absolute;
	top: 26px;
	left:50%;
	width: 140px;
	margin-left: -70px;
    opacity : 0;
}


.sow_main_div  .logo_div > img{
	width: 100%;
}

.sow_main_div > img{
	width: 100%;
}

menu{
	margin: 0;
}

menu > div{
	position: absolute;
	height: 100px;
	width: 100px;
	line-height: 1.2;
	color: #fff;
	display: table;
	vertical-align: middle;
	    opacity : 0;
}

menu  a{
	color: #fff;
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	height: 100px;
	width: 100px;
	text-align: center;


}




.sow_main_div  .menu_num1{
	left: 14%;
	top: 77px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: rgba(59,255 ,186,0.5);
}

.sow_main_div  .menu_num2{
	right: 14%;
	top: 77px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: rgba(59,255 ,186,0.5);
}
.sow_main_div  .menu_num3{
	left: 3%;
	top: 183px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: rgba(0,208 ,255,0.5);}

.sow_main_div  .menu_num4{
	right: 3%;
	top: 183px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: rgba(0,208 ,255,0.5);}

.sow_main_div  .menu_num5{
	left: 1%;
	top: 317px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: rgba(131,59 ,255,0.5);}

.sow_main_div  .menu_num6{
	right: 1%;
	top: 317px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: rgba(131,59 ,255,0.5);}







.in_page menu > div{
	position: absolute;
	height: 70px;
	width: 70px;
	line-height: 1.2;
	color: #fff;
	display: table;
	vertical-align: middle;
	    opacity : 0;
}

.in_page menu a{
	color: #fff;
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	height: 70px;
	width: 70px;
	text-align: center;


}


.in_page .menu_num1{
	left: 25%;
	top: 71px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: rgba(59,255 ,186,0.5);
}

.in_page .menu_num2{
	right: 25%;
	top: 71px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: rgba(59,255 ,186,0.5);
}
.in_page  .menu_num3{
	left: 18%;
	top: 136px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: rgba(0,208 ,255,0.5);}

.in_page .menu_num4{
	right: 18%;
	top: 136px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: rgba(0,208 ,255,0.5);}

.in_page  .menu_num5{
	left: 15%;
	top: 228px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: rgba(131,59 ,255,0.5);}

.in_page  .menu_num6{
	right: 15%;
	top: 228px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: rgba(131,59 ,255,0.5);}








.sow_content{
	margin: 0 auto ;
	width: 980px;
	background: #fff;
	overflow: hidden;
	padding: 30px 0 78px 0;
}

.h2_wrap{
	background: #000 url(../../images/sow/h2.png) no-repeat !important;
	height: 72px;
	display: table;
	vertical-align: middle;
	text-align: center;
	width: 1000px;
	margin-left: -10px;
}

.h2_wrap + *{
	width: 812px;
	margin: 35px auto 0;
}


.h2_wrap h2{
	width: 980px;
	background: none;
	height: 72px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 23px;
	color: #fff;
	padding-left: 0 !important;
	background-image : none !important;
	background : none !important;
		font-family: "FOT-ニューロダン Pro B"!important;
}

.sowimg{
    opacity : 0;

}

.rot_p{
    opacity : 0;
    transform : translate(0, 50px);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    transition : all 800ms;
}

.rot_m_p{
    opacity : 0;
    transform : translate(0, 50px);
    -moz-transform: rotate(-0);
    -webkit-transform: rotate(-0);
    -o-transform: rotate(-0);
    -ms-transform: rotate(-0);
    transform: rotate(-0);
    transition : all 800ms;
}
.rot_p.scrollin{
    opacity : 1;
    transform : translate(0, 0);
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}
.rot_m_p.scrollin{
    opacity : 1;
    transform : translate(0, 0);
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

/* 画面外にいる状態 */
.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition : all 500ms;
    }

/* 画面内に入った状態 */
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
    }

@media screen and (max-width: 768px) {
	.sow_main_div{
	margin: 0 auto;
	width: 100%;
	position: relative;
		overflow: hidden;

}


.sow_main_div  .logo_div{
	position: absolute;
	top: 26px;
	left:50%;
	width: 40%;
	margin-left: -20%;
}

.in_page  .logo_div{
	position: absolute;
	top: 15px;
	left:50%;
	width: 26%;
	margin-left: -13%;
}

menu{
	margin: 0;
	padding: 0;
	width: 100%;
	}

menu > div{
	position: relative;
	height: auto;
	width: 100%;
	line-height: 1.2;
	color: #fff;
	display: table;
	vertical-align: middle;
	margin-top: 2px;

}

menu  a{
	color: #003;
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	height: auto;
	width: 100%;
	padding: 5px;
	text-align: left;
	background: url(../images/arrow_gray.svg) 10px center no-repeat;
	background-size: auto 60%;
	padding-left: 30px;
	}

.sow_main_div  .menu_num1{
	left: auto;
	top: auto;
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;

}

.sow_main_div  .menu_num2{
	right: auto;
	top: auto;
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
.sow_main_div  .menu_num3{
	left: auto;
	top: auto;
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.sow_main_div  .menu_num4{
	right: auto;
	top: auto;
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.sow_main_div  .menu_num5{
	left: auto;
	top: auto;
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.sow_main_div  .menu_num6{
	right: auto;
	top: auto;
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}



.sow_content{
	margin: 0 auto ;
	width: 100%;
	background: #fff;
	overflow: hidden;
	padding: 19px 0;
}

.h2_wrap{
	background: #000 url(../../images/sow/h2.png) no-repeat !important;
	height: 72px;
	display: table;
	vertical-align: middle;
	text-align: center;
	width: 102%;
	margin-left: -1%;
}

.h2_wrap + *{
	width: 90%;
	margin: 35px auto 0;
}


.h2_wrap h2{
	width: 980px;
	background: none;
	height: 72px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 23px;
	color: #fff;
	background-image : none !important;
	background : none !important;
		font-family: "FOT-ニューロダン Pro B"!important;
}


.h2_wrap h2{
	height: 72px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	color: #fff;
	padding-left: 0 !important;
	background-image : none !important;
	background : none !important;
		font-family: "FOT-ニューロダン Pro B"!important;
}

#contents section{
	width: 100% ;
}
}





@media screen and (max-width: 768px) {



.in_page menu > div{
	position: relative;
	height: auto;
	width: 100%;
	line-height: 1.2;
	color: #fff;
	display: table;
	vertical-align: middle;
	margin-top: 2px;

}

.in_page menu a{
	color: #003;
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	height: auto;
	width: 100%;
	padding: 5px;
	text-align: left;
	background: url(../images/arrow_gray.svg) 10px center no-repeat;
	background-size: auto 60%;
	padding-left: 30px;

}


.in_page  .menu_num1{
	left: auto;
	top: auto;
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.in_page .menu_num2{
	right: auto;
	top: auto;
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
.in_page  .menu_num3{
	left: auto;
	top: auto;
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;	}

.in_page .menu_num4{
	right: auto;
	top: auto;
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;}

.in_page  .menu_num5{
	left: auto;
	top: auto;
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;}

.in_page  .menu_num6{
	right: auto;
	top: auto;
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;}



}


/*---------------TOPページ-----------------
---------------------------------------------------*/

#sense{
	font-size: 16px ;
	line-height: 1.8 ;
}

#sense img{
	width: 100% ;
}


#sense .new{
	width: 812px ;
}

#sense dl{
	display: inline-block ;
	overflow: hidden ;
	width: 100% ;
}

#sense dt{
	display: inline-block ;
	float: left ;
	width: 15% ;
}

#sense dd{
	display: inline-block ;
	float: left ;
	border-left: 3px solid ;
	width: 82% ;
	padding-left: 20px ;
	margin-left: 20px ;
}

#sense h3{
	text-align: center ;
	background-image: url(../../exhibit/img/sen/mark_purple.png) ;
	background-repeat: no-repeat ;
	background-position: center 20px ;
	background-size: 80px ;
	padding-top: 120px ;
	font-size: 18px ;

}

#sense .purpose{
	width: 812px ;
}

#sense .purpose p:nth-of-type(1){
	padding-top: 26px ;
}

#sense .purpose_box{
	border: 4px solid ;
	background-color: #f7f7f7 ;
	margin-top: 30px ;
	padding: 20px ;
}

#sense h4{
	font-size: 34px ;
}

@media screen and (max-width: 768px) {

#sense{
	font-size: 14px ;
	line-height: 1.6 ;
}

#sense h3{
	text-align: center ;
	background-image: url(../../exhibit/img/sen/mark_purple.png) ;
	background-repeat: no-repeat ;
	background-position: center 0px ;
	background-size: 50px ;
	padding-top: 80px ;
	font-size: 14px ;

}

#sense .new{
	width: 90% ;
}

#sense .purpose{
	width: 90% ;
}

#sense dt{
	float: none ;
	width: 100% ;
}

#sense dd{
	float: none ;
	border-left: none ;
	padding-left: 0px ;
	margin-left: 0px ;
	width: 100% ;
}



#sense h4{
	font-size: 30px ;
}


}



/*---------------募集要項ページ-----------------
---------------------------------------------------*/

#senseform{
	font-size: 16px ;
}


#senseform .sow_content{
	font-size: 16px ;
}

#senseform dl{
	display: inline-block ;
	width: 100% ;
	padding-top: 20px ;
	width: 100% ;
	overflow: hidden ;
}

#senseform dl:first-child{
	padding-top: 0px ;
}


#senseform dd{
	display: inline-block ;
	width: 30% ;
	overflow: hidden ;
	text-align: center ;
	float: left ;
}

#senseform dt{
	line-height: 1.8 ;
	padding-left: 20px ;
	display: inline-block ;
	width: 69% ;
	overflow: hidden ;
	float: left ;
	border-left: 3px solid ;
}

#senseform  dl a{
	color: #00D0ff ;
}

#senseform .block{
	display: block ;
	overflow: hidden ;
	margin-top: 30px ;
}

#senseform .orange_form{
	display: block ;
	overflow: hidden ;
	background: #FA843C;
	width: 341px ;
	height: auto ;
	margin: 50px auto 0px auto ;
	padding: 5px 23px 15px;
	border-radius: 3px;
}

#senseform .orange_form a{
	background: url(../images/arrow_white.svg) no-repeat;
	background-position: 0 11px;
	background-size: auto 58%;
	font-size: 29px;
	color: #fff;
	padding-left: 34px;
	line-height: 2;
}

@media screen and (max-width: 768px) {

#senseform{
	font-size: 14px ;
}

#senseform .sow_content{
	font-size: 16px ;
}

#senseform dl{
	width: 100% ;
	padding-top: 20px ;
	overflow: hidden ;
	float: none ;
}




#senseform dd{
	display: inline-block ;
	width: 30% ;
	overflow: hidden ;
	text-align: center ;
	float: left ;
}

#senseform dt{
	line-height: 1.4 ;
	padding-left: 10px ;
	display: inline-block ;
	width: 69% ;
	overflow: hidden ;
	float: left ;
	border-left: 3px solid ;
}

#senseform  dl a{
	color: #00D0ff ;
}

#senseform .block{
	display: inline-block ;
	width: 90% ;
	margin-left: 5% ;
	margin-top: 30px ;
}

#senseform .press_dl a{
	font-size: 16px ;
	padding-left: 15px ;
}

#senseform .orange_form{
	display: block ;
	overflow: hidden ;
	background: #FA843C;
	width: 90% ;
	height: auto ;
	margin: 50px auto 0px auto ;
	padding: 10px 10px 15px;
	border-radius: 3px;
}

#senseform .orange_form a{
	background: url(../images/arrow_white.svg) no-repeat;
	background-position: 0 11px;
	background-size: auto 58%;
	font-size: 20px;
	color: #fff;
	padding-left: 25px;
	padding-top: 5px ;
	line-height: 2;
}

}


/*---------------選考委員ページ-----------------
---------------------------------------------------*/

#senseselection p{
	font-size: 14px ;
	text-align: center ;
}

#senseselection img{
	width: 100% ;
}

#senseselection span{
	font-size: 16px ;
}

#senseselection ul{
	line-height: 1.8 ;
	margin-top: 20px ;
	margin-left: 2.5% ;
	width: 95% ;
	background-color: #f7f7f7 ;
	padding: 30px 20px ;
	display: inline-block ;
}

#senseselection ul:nth-of-type(1){
	margin-top: 50px ;
}

#senseselection ul li:nth-of-type(1){
	float: left ;
	overflow: hidden ;
	width: 20% ;
	display: inline-block
}

#senseselection ul li:nth-of-type(2){
	float: left ;
	overflow: hidden ;
	width: 77% ;
	display: inline-block ;
	margin-left: 20px ;
}

#senseselection ul p{
	text-align: left ;
	margin-top: 20px ;
}


#senseselection dd{
	font-size: 22px ;
	line-height: 1.2 ;
}

#senseselection dt{
	font-size: 13px ;
}

@media screen and (max-width: 768px) {

#senseselection ul li:nth-of-type(1){
	float: none ;
	overflow: hidden ;
	width: 50% ;
	display: block ;
	margin: 0 auto ;
}

#senseselection ul li:nth-of-type(2){
	float: none ;
	overflow: hidden ;
	width: 100% ;
	display: inline-block ;
	margin-top: 20px ;
	margin-left: 0px ;
}
}



/*---------------プレゼンページ-----------------
---------------------------------------------------*/

#sensepresen{
	font-size: 16px ;
}

#sensepresen img{
	width: 100% ;
}

#sensepresen .smp{
	display: none ;
}

#sensepresen .presen dl{
	width: 100% ;
	padding-top: 20px ;
	width: 100% ;
	overflow: hidden ;
	float: left ;
}

#sensepresen .presen dl:first-child{
	padding-top: 0px ;
}


#sensepresen .presen dd{
	display: inline-block ;
	width: 30% ;
	overflow: hidden ;
	text-align: left ;
	float: left ;
}

#sensepresen .presen dt{
	line-height: 1.8 ;
	padding-left: 20px ;
	display: inline-block ;
	width: 69% ;
	overflow: hidden ;
	float: left ;
	border-left: 3px solid ;
}

#sensepresen .presen p{
	display: inline-block ;
	line-height: 1.8 ;
	margin-top: 20px ;
	font-size: 14px;
}

#sensepresen .blue_box{
	display: inline-block ;
	width: 50% ;
	background-color: #008ead ;
	margin-top: 30px ;
}

#sensepresen .blue_box2{
	display: inline-block ;
	width: 20% ;
	background-color: #008ead ;
	margin-top: 30px ;
	padding-top: 10px ;
	padding-bottom: 10px ;
}

#sensepresen h3{
	text-align: center ;
	font-size: 20px ;
	color: #fff ;
}

#sensepresen .movie h3{
	text-align: left ;
	font-size: 22px ;
	color: #000 ;
}


#sensepresen .pre-award{
	line-height: 1.8 ;
	width: 100% ;
	background-color: #f7f7f7 ;
	padding: 30px 40px 30px 20px ;
	display: inline-block ;
}

#sensepresen .pre-award:nth-of-type(1){
	margin-top: 0px ;
}

#sensepresen .pre-award > li:nth-of-type(1){
	float: none ;
	width: 100% ;
}

#sensepresen .pre-award > li:nth-of-type(2){
	float: none ;
	width: 100% ;
	margin-left: 0px !important;
}




#sensepresen .pre-award dd{
	font-size: 40px ;
	border-bottom: 2px dotted ;
	padding-bottom: 5px ;
	width: 100% ;
	line-height: 1.2 ;
}

#sensepresen .pre-award dt{
	margin-top: 20px ;
}

#sensepresen .movie{
	margin-top: 20px ;
	padding: 20px 30px ;
	background-color: #f7f7f7 ;
	overflow: hidden ;
	display: inline-block ;
	width: 100% ;
}

#sensepresen iframe{
	margin-top: 20px ;
	width: 100%  ;
	height: 500px; ;
	display: inline-block ;
	overflow: hidden ;
}

#sensepresen .pre-game h3{
	margin-top: 40px ;
	color: #000 ;
}

#sensepresen .pre-game-ul > li{
	width: 100% ;
	display: block ;
	overflow: hidden ;
	border: 2px solid #008ead ;
	background-color: #f7f7f7 ;
	padding: 5px ;
	margin-top: 10px ;
	border-radius: 5px ;
}

#sensepresen .pre-game-ul > li a{
	width: 100% ;
	display: inline-block ;
}


#sensepresen .pre-game-ul2 > li:nth-of-type(1){
	float: left ;
	width: 100px ;
}

#sensepresen .pre-game-ul2 > li:nth-of-type(2){
	float: left ;
	width: 49% ;
	margin-left: 10px ;
	padding-top: 15px ;
	font-size: 20px ;
	font-family: "FOT-ニューロダン Pro B"!important;
}

#sensepresen .pre-game-ul2 > li:nth-of-type(3){
	float: right ;
	display: block ;
	width: 30px ;
	padding-top: 1.8% ;
	margin-left: 10px ;
}

#sensepresen .pre-game-ul2 i{
	vertical-align: middle;
	background-image: url(../../exhibit/img/area/icon_shita.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 30px ;
	height: 30px ;
	display: inline-block ;
}

#sensepresen .pre-game-ul2 > li:nth-of-type(4){
	float: right ;
	width: 40px ;
	display: block ;
	padding-top: 1% ;
	margin-left: 5px ;
}

#sensepresen .pre-game-ul2 > li:nth-of-type(5){
	float: right ;
	width: 40px ;
	display: block ;
	padding-top: 1% ;
	margin-left: 5px ;
}

#sensepresen .pre-game-ul2 > li:nth-of-type(6){
	float: right ;
	width: 40px ;
	display: block ;
	padding-top: 1% ;
}

#sensepresen .pre-award-main-a1 p:nth-of-type(1){
	font-size: 40px ;
	line-height: 1.2;
}

#sensepresen .pre-award-main-a1 p:nth-of-type(2){
	font-size: 18px ;
	line-height: 1.2;
	margin-top: 5px ;
}

#sensepresen .pre-award-main-a1 p:nth-of-type(3){
	padding-left: 60px ;
	margin-top: 10px ;
}

#sensepresen .pre-award-main-a2 p:nth-of-type(1){
	font-size: 40px ;
	line-height: 1.2;
	margin-top: 5px ;
}

#sensepresen .pre-award-main-a2 p:nth-of-type(2){
	font-size: 18px ;
	line-height: 1.2;
	margin-top: 5px ;
}

#sensepresen .pre-award-main-a2 p:nth-of-type(3){
	padding-left: 60px ;
	margin-top: 10px ;
}



#sensepresen .ca{
	background-image: url(../../exhibit/img/sen/presen/ca.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#sensepresen .sg{
	background-image: url(../../exhibit/img/sen/presen/sg.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#sensepresen .ar{
	background-image: url(../../exhibit/img/sen/presen/ar.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#sensepresen .fra{
	background-image: url(../../exhibit/img/sen/presen/fr.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#sensepresen .jp{
	background-image: url(../../exhibit/img/sen/presen/jp.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#sensepresen .tw{
	background-image: url(../../exhibit/img/sen/presen/tw.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#sensepresen .uk{
	background-image: url(../../exhibit/img/sen/presen/uk.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#sensepresen .us{
	background-image: url(../../exhibit/img/sen/presen/us.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#sensepresen .pre-award-main-a1{
	width: 100% ;
	border-bottom: 2px dotted ;
	padding-bottom: 10px ;
	display: inline-block ;
}

.pre-award-main-a3 > li{
	width: 100% !important;
	margin-left: 0 !important;

}


#sensepresen .pre-award-main-a2{
	width: 100% ;
	border-bottom: 2px dotted ;
	padding-bottom: 10px ;
	display: inline-block ;
}

#sensepresen .pre-award-main-a1 > li:nth-of-type(1){
	float: left ;
	width: 60% ;
}

#sensepresen .pre-award-main-a1 > li:nth-of-type(2){
	float: left ;
	width: 30% ;
}

#sensepresen .pre-award-main-a2 > li:nth-of-type(1){
	float: left ;
	width: 100% ;
}

#sensepresen .pre-award-main-a3 li:nth-of-type(2){
	margin-top: 5px ;
}

#sensepresen .pre-award-main-a3 li:nth-of-type(3){
	margin-top: 5px ;
}

#sensepresen .pre-award-main-b > p:nth-of-type(1){
	width: 100% ;
}

#sensepresen .pre-award-main-b > p:nth-of-type(2){
	float: right ;
	margin-left: 10px ;
}

#sensepresen .pre-award-main-b > p:nth-of-type(3){
	float: none ;
	width: 100% ;
}


#sensepresen .award_orange{
	float: right ;
	background: #FA843C;
	width: auto;
	border-radius: 3px;
	padding: 4px 17px;
	overflow: hidden;
	margin-top: 20px;
}


#sensepresen .award_mark{
	background: url(../images/arrow_white.svg) no-repeat;
	background-position: 0 center;
	background-size: auto 58%;
	color: #fff;
	font-size: 18px;
	padding-left: 20px;
	padding-bottom: 4px ;
	display: inline-block ;
	width: 100% ;
}

#sensepresen .mab{
	margin-bottom: 20px ;
}

@media screen and (max-width: 768px) {

#sensepresen .smp{
	display: block ;
}

#sensepresen{
	font-size: 14px ;
}

#sensepresen .blue_box{
	display: block ;
	width: 90% ;
	background-color: #008ead ;
	margin-top: 30px ;
}

#sensepresen .blue_box2{
	display: inline-block ;
	width: 90% ;
	background-color: #008ead ;
	margin-top: 30px ;
	padding-top: 10px ;
	padding-bottom: 10px ;
}

#sensepresen .blue_box h3{
	text-align: left ;
	margin-left: 30px ;
}

#sensepresen .pre-award{
	padding: 10px 10px ;
}

#sensepresen .pre-award dd{
	font-size: 30px ;
}


#sensepresen .pre-award li:nth-of-type(2){
	float: none ;
	overflow: hidden ;
	width: 100% ;
	display: inline-block ;
	margin-left: 0px ;
}

#sensepresen iframe{
	margin-top: 20px ;
	width: 100%  ;
	height: auto ;
	display: inline-block ;
	overflow: hidden ;
}

#sensepresen h3{
	font-size: 16px ;
}

#sensepresen .movie h3{
	font-size: 16px ;
}

#sensepresen .pre-award dd{
	font-size: 22px ;
}

#sensepresen .pre-award{
	line-height: 1.2 ;

}

#sensepresen .movie{
	margin-top: 20px ;
	padding: 20px 5px ;
	background-color: #f7f7f7 ;
	overflow: hidden ;
	display: inline-block ;
	width: 100% ;
}

#sensepresen .ca{
	line-height: 2.5 ;
	display: block ;
	height: 32px ;
}

#sensepresen .sg{
	line-height: 2.5 ;
	display: block ;
	height: 32px ;
}

#sensepresen .ar{
	line-height: 2.5 ;
	display: block ;
	height: 32px ;
}

#sensepresen .fra{
	line-height: 2.5 ;
	display: block ;
	height: 32px ;
}

#sensepresen .jp{
	line-height: 2.5 ;
	display: block ;
	height: 32px ;
}

#sensepresen .tw{
	line-height: 2.5 ;
	display: block ;
	height: 32px ;
}

#sensepresen .uk{
	line-height: 2.5 ;
	display: block ;
	height: 32px ;
}

#sensepresen .us{
	line-height: 2.5 ;
	display: block ;
	height: 32px ;
}

#sensepresen .pre-award-main-a1 > li:nth-of-type(1){
	float: none ;
	width: 100% ;
}

#sensepresen .pre-award-main-a2 > li:nth-of-type(1){
	float: none ;
	width: 100% ;
}

#sensepresen .pre-game-ul > li a{
	width: 100% ;
}

#sensepresen .pre-game-ul2 > li:nth-of-type(1) {
	width: 45% ;
	height: 56px ;
}

#sensepresen .pre-game-ul2 > li:nth-of-type(1) img{
	width: auto ;
	height: 100% ;
}

#sensepresen .pre-game-ul2 > li:nth-of-type(2) {
	width: 50% ;
	font-size: 16px ;
	padding-top: 0px ;
	min-height: 56px ;
}

#sensepresen .pre-game-ul2 > li:nth-of-type(3) {
	margin-top: 10px ;
}

#sensepresen .pre-game-ul2 > li:nth-of-type(4) {
	margin-top: 10px ;
}

#sensepresen .pre-game-ul2 > li:nth-of-type(5) {
	margin-top: 10px ;
}

#sensepresen .pre-game-ul2 > li:nth-of-type(6) {
	margin-top: 10px ;
}

#sensepresen .pre-award-main-a1 p:nth-of-type(1) {
    font-size: 20px;
	font-family: "FOT-ニューロダン Pro B"!important;
}

#sensepresen .pre-award-main-a2 p:nth-of-type(1) {
    font-size: 20px;
	font-family: "FOT-ニューロダン Pro B"!important;
}

#sensepresen .pre-award-main-a1 p:nth-of-type(2) {
    font-size: 16px;
}

#sensepresen .pre-award-main-a1 p:nth-of-type(2) {
	margin-top: 5px ;
}

#sensepresen .pre-award-main-a1 p:nth-of-type(3) {
	margin-top: 5px ;
}

#sensepresen .pre-award li img{
	width: 60% ;
}

#sensepresen .pre-award li:nth-of-type(2) {
	margin-top: 5px ;
}

#sensepresen .pre-award-main-b{
	margin-top: 5px ;
	line-height: 1.4;
}

#sensepresen .pre-award-main-b > p:nth-of-type(2) {
	margin-top: 5px ;
	margin-left: 0px ;
	float: none ;
}

#sensepresen .pre-award-main-b > p:nth-of-type(3) {
	margin-top: 5px ;
}

#sensepresen .pre-award-main-b > p img {
    margin-left: 0px;
}

#sensepresen .mab{
	margin-bottom: 0px ;
}

#sensepresen .award_orange{
	float: none ;
}

}

/*---------------2016年のプレゼンテーション作品ページ-----------------
---------------------------------------------------*/


#presen_2016 .fadein{
	width: 95% ;
}

#presen_2016 img{
	width: 100% ;
}

#presen_2016 .deatail_pic{
	display: block ;
	margin: 30px auto 0px auto ;
}

#presen_2016 .award_box{
	display: block ;
	margin-top: 20px ;
	margin-left: 10px ;
	width: 50% ;
}

#presen_2016 .award_box:nth-of-type(1){
	margin-top: 0px ;
}

#presen_2016 .blue{
	background-color: #008ead ;
}

#presen_2016 .green{
	background-color: #00ad7c ;
}

#presen_2016 .award_box h3{
	text-align: center ;
	overflow: hidden ;
	color: #fff ;
	font-size: 20px ;
	padding-top: 10px ;
	padding-bottom: 10px ;
}

#presen_2016 .gray_box{
	width: 100% ;
	padding: 20px 20px 60px 20px;
	display: inline-block ;
	background-color: #f7f7f7 ;
	line-height: 1.5;
}

#presen_2016 .gray_box h4 span:nth-of-type(1){
	font-size: 40px;
	line-height: 1.2;
}

#presen_2016 .gray_box h4 span:nth-of-type(2){
	font-size: 18px;
	line-height: 1.2;
	margin-top: 5px;
}

#presen_2016 .gray_box h4 span:nth-of-type(3){
	font-size: 16px ;
	padding-left: 60px;
	margin-top: 10px;
}

#presen_2016 .ca{
	background-image: url(../../exhibit/img/sen/presen/ca.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 .sg{
	background-image: url(../../exhibit/img/sen/presen/sg.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 .ar{
	background-image: url(../../exhibit/img/sen/presen/ar.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 .fra{
	background-image: url(../../exhibit/img/sen/presen/fr.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 .jp{
	background-image: url(../../exhibit/img/sen/presen/jp.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 .tw{
	background-image: url(../../exhibit/img/sen/presen/tw.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 .uk{
	background-image: url(../../exhibit/img/sen/presen/uk.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 .us{
	background-image: url(../../exhibit/img/sen/presen/us.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 ul{
	width: 100% ;
	display: inline-block ;
	line-height: 1.8 ;
}




#presen_2016 .award_orange{
	float: right ;
	background: #FA843C;
	width: auto;
	border-radius: 3px;
	padding: 4px 17px;
	overflow: hidden;
	margin-top: 20px;
}

#presen_2016 .award_mark{
	background: url(../images/arrow_white.svg) no-repeat;
	background-position: 0 center;
	background-size: auto 58%;
	color: #fff;
	font-size: 18px;
	padding-left: 20px;
}

#presen_2016 iframe{
	margin: 30px auto 0 auto ;
	width: 80%  ;
	height: 500px ;
	display: block ;
	overflow: hidden ;
}

#presen_2016 .winner_box{
	padding: 10px 15px 10px 50px ;
}

#presen_2016 .winner_box p{
	color: #fff ;
	font-size: 24px ;
}

#presen_2016 .gray_box p{
	font-size: 16px ;
}

#presen_2016 .bottom_line p{
	padding-bottom: 30px ;
	border-bottom: 2px dotted ;
}

#presen_2016 .orange{
	color: #FA843C ;
}

#presen_2016 .award_orange{
	float: right ;
	background: #FA843C;
	width: auto;
	border-radius: 3px;
	padding: 4px 17px;
	overflow: hidden;
	margin-top: 20px;
}


#presen_2016 .award_mark{
	background: url(../images/arrow_white.svg) no-repeat;
	background-position: 0 center;
	background-size: auto 58%;
	color: #fff;
	font-size: 18px;
	padding-left: 20px;
	padding-bottom: 4px ;
	display: inline-block ;
	width: 100% ;
}

#presen_2016 .smp{
	display: none ;
}

@media screen and (max-width: 768px) {

#presen_2016 .smp{
	display: block ;
}

#presen_2016 .award_box{
	background-color: #008ead ;
	display: block ;
	margin-left: 10px ;
	width: 90% ;
}

#presen_2016 .award_box h3{
	text-align: left ;
	overflow: hidden ;
	color: #fff ;
	font-size: 16px ;
	padding-top: 10px ;
	padding-bottom: 10px ;
	margin-left: 30px ;
}



#presen_2016 .award_orange{
	float: none ;
	background: #FA843C;
	width: auto;
	border-radius: 3px;
	padding: 4px 17px;
	overflow: hidden;
	margin-top: 20px;
}

#presen_2016 iframe{
	margin-top: 20px ;
	width: 100%  ;
	height: auto ;
	display: inline-block ;
	overflow: hidden ;
}

#presen_2016 .winner_box{
	padding: 10px 30px 10px 30px ;
}

#presen_2016 .winner_box p{
	color: #fff ;
	font-size: 16px ;
}

#presen_2016 .gray_box p{
	font-size: 14px ;
}

#presen_2016 .bottom_line p{
	padding-bottom: 30px ;
	border-bottom: 2px dotted ;
}

#presen_2016 .gray_box h4 span:nth-of-type(1){
	font-size: 20px;
	font-family: "FOT-ニューロダン Pro B" !important;
	line-height: 1.2;
}

#presen_2016 .gray_box h4 span:nth-of-type(2){
	font-size: 16px;
	line-height: 1.2;
	margin-top: 5px;
}

#presen_2016 .gray_box h4 span:nth-of-type(3){
	font-size: 14px ;
	padding-left: 60px;
	margin-top: 10px;
}

#presen_2016 .ca{
	background-image: url(../../exhibit/img/sen/presen/ca.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 .sg{
	background-image: url(../../exhibit/img/sen/presen/sg.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 .ar{
	background-image: url(../../exhibit/img/sen/presen/ar.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 .fra{
	background-image: url(../../exhibit/img/sen/presen/fr.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 .jp{
	background-image: url(../../exhibit/img/sen/presen/jp.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 .tw{
	background-image: url(../../exhibit/img/sen/presen/tw.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 .uk{
	background-image: url(../../exhibit/img/sen/presen/uk.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

#presen_2016 .us{
	background-image: url(../../exhibit/img/sen/presen/us.png);
	background-size: 50px ;
	background-repeat: no-repeat ;
	display: inline-block ;
}

}


/*---------------ゲームページ-----------------
---------------------------------------------------*/

#sensegame .fadein{
	width: 95% ;
}

#sensegame .comment_blue{
	background-color: #008ead ;
	border-radius: 10px ;
	padding-top: 20px ;
	padding-bottom: 20px ;
	margin: 0 auto ;
	display: block ;
	position: relative ;
}

#sensegame .comment_blue p{
	text-align: center ;
	font-size: 22px ;
	color: #fff ;
}

#sensegame .comment_blue:after{
width: 0;
height: 0;
border-top: 21px solid #008ead ;
border-right: 21px solid transparent;
border-bottom: 0px solid transparent;
border-left: 21px solid transparent;
content: "";
bottom: -20px ;
position: absolute;
margin-left: -21px ;
left: 50%;
right: auto ;
top: auto;
}

#sensegame .comment_green{
	background-color: #00ad88 ;
	border-radius: 10px ;
	padding-top: 20px ;
	padding-bottom: 20px ;
	margin: 30px auto 0 auto ;
	display: block ;
	position: relative ;
}

#sensegame .comment_green p{
	text-align: center ;
	font-size: 22px ;
	color: #fff ;
}

#sensegame .comment_green p span{
	font-size: 33px ;
}

#sensegame .comment_green:after{
width: 0;
height: 0;
border-top: 21px solid #00ad88 ;
border-right: 21px solid transparent;
border-bottom: 0px solid transparent;
border-left: 21px solid transparent;
content: "";
bottom: -20px ;
margin-left: -21px ;
position: absolute;
left: 50%;
right: auto ;
top: auto;
}

#sensegame .blue_box ul{
	background-color: #f7f7f7 ;
	background-image: url(../../exhibit/img/sen/mark_blue.png) ;
	background-repeat: no-repeat ;
	background-position: center 20px ;
	background-size: 50px ;
	padding: 90px 30px 30px 30px ;
	margin: 40px auto  0px auto;
}

#sensegame .green_box ul{
	background-color: #f7f7f7 ;
	background-image: url(../../exhibit/img/sen/mark_green.png) ;
	background-repeat: no-repeat ;
	background-position: center 20px ;
	background-size: 50px ;
	padding: 90px 30px 30px 30px ;
	margin: 40px auto  0px auto;
}


#sensegame ul li:nth-of-type(1){
	font-size: 22px ;
	font-family: "FOT-ニューロダン Pro B"!important;
}

#sensegame ul li:nth-of-type(2){
	margin-top: 20px ;
	font-size: 16px ;
}

#sensegame .gray_box{
	border: 3px solid  #f7f7f7 ;
	margin-top: 30px ;
	padding: 30px ;
}

#sensegame .gray_box p{
	font-size: 16px ;
}

@media screen and (max-width: 768px) {

#sensegame .blue_box ul{
	background-color: #f7f7f7 ;
	background-image: url(../../exhibit/img/sen/mark_blue.png) ;
	background-repeat: no-repeat ;
	background-position: center 20px ;
	background-size: 50px ;
	padding: 90px 10px 30px 10px ;
	margin: 40px auto  0px auto;
}

#sensegame .green_box ul{
	background-color: #f7f7f7 ;
	background-image: url(../../exhibit/img/sen/mark_green.png) ;
	background-repeat: no-repeat ;
	background-position: center 20px ;
	background-size: 50px ;
	padding: 90px 10px 30px 10px ;
	margin: 40px auto  0px auto;
}

#sensegame .gray_box{
	border: 3px solid  #f7f7f7 ;
	margin-top: 30px ;
	padding: 30px 10px ;
}

#sensegame .comment_blue p{
	text-align: center ;
	font-size: 12px ;
	color: #fff ;
}

#sensegame .comment_green p{
	text-align: center ;
	font-size: 12px ;
	color: #fff ;
}

#sensegame .comment_green p span{
	font-size: 25px ;
}

#sensegame ul li:nth-of-type(2){
	margin-top: 20px ;
	font-size: 12px ;
}

#sensegame .gray_box p{
	font-size: 14px ;
}

}



/*---------------アワードページ-----------------
---------------------------------------------------*/

#award .fadein{
	width: 95% ;
}

#award img{
	width: 100% ;
	max-width: none ;
}


#award .award_box{
	display: block ;
	margin-top: 20px ;
	margin-left: 10px ;
	width: 20% ;
}

#award .award_box:nth-of-type(1){
	margin-top: 0px ;
}

#award .blue{
	background-color: #008ead ;
}

#award .green{
	background-color: #00ad7c ;
}

#award .award_box p{
	text-align: center ;
	overflow: hidden ;
	color: #fff ;
	font-size: 19px ;
	padding-top: 10px ;
	padding-bottom: 10px ;
}

#award .gray_box{
	padding: 20px ;
	display: inline-block ;
	background-color: #f7f7f7 ;
	width: 100% ;
}

#award ul{
	display: block ;
	line-height: 1.6 ;
}

#award .gif{

}

#award ul li:nth-of-type(1){
	float: left ;
	width: 20% ;
}

#award ul li:nth-of-type(2){
	float: left !important;
	width: 77% ;
	margin-left: 20px ;
}


#award ul li span:nth-of-type(1){
	font-size: 22px ;

}

#award ul li span:nth-of-type(2){
	font-size: 13px ;
}

#award .type2 ul li span:nth-of-type(2){
	margin-left: 5px ;
}

#award .type1 ul li span:nth-of-type(3){
	font-size: 16px ;
}

#award .type2 ul li span:nth-of-type(3){
	font-size: 13px ;
	padding-left: 5px ;
	border-left: 2px solid ;
	margin-left: 5px ;
}

#award .type2 ul li span:nth-of-type(4){
	font-size: 16px ;
}

#award .award_orange{
	float: right ;
	background: #FA843C;
	width: auto;
	border-radius: 3px;
	padding: 4px 17px;
	overflow: hidden;
	margin-top: 20px;
}


#award .award_mark{
	background: url(../images/arrow_white.svg) no-repeat;
	background-position: 0 center;
	background-size: auto 58%;
	color: #fff;
	font-size: 18px;
	padding-left: 20px;
	padding-bottom: 4px ;
	display: inline-block ;
}

#sensegame ul li:nth-of-type(1){
	font-size: 16px ;
}

#award a{
	width: 100% ;
	display: block ;
}

@media screen and (max-width: 768px) {

#award .award_box{
	display: block ;
	margin-left: 10px ;
	width: 90% ;
}

#award ul li:nth-of-type(1){
	float: none ;
	width: 40% ;
}

#award ul li:nth-of-type(2){
	float: none ;
	width: 100% ;
	margin-left: 0px ;
}

#award .award_orange{
	float: none ;
	background: #FA843C;
	width: auto;
	border-radius: 3px;
	padding: 4px 17px;
	overflow: hidden;
	margin-top: 20px;
}

}

/*---------------アワード・各受賞者ページ-----------------
---------------------------------------------------*/

#award_winner .fadein{
	width: 95% ;
}

#award_winner img{
	width: 100% ;
}

#award_winner .deatail_pic{
	display: block ;
	margin: 30px auto 0px auto ;
}

#award_winner .award_box{
	display: block ;
	margin-top: 20px ;
	margin-left: 10px ;
	width: 20% ;
}

#award_winner .award_box:nth-of-type(1){
	margin-top: 0px ;
}

#award_winner .blue{
	background-color: #008ead ;
}

#award_winner .green{
	background-color: #00ad7c ;
}

#award_winner .award_box p{
	text-align: center ;
	overflow: hidden ;
	color: #fff ;
	font-size: 19px ;
	padding-top: 10px ;
	padding-bottom: 10px ;
}

#award_winner .gray_box{
	width: 100% ;
	padding: 20px 20px 30px 20px;
	display: inline-block ;
	background-color: #f7f7f7 ;
}

#award_winner ul{
	width: 100% ;
	display: inline-block ;
	line-height: 1.6 ;
}

#award_winner ul li:nth-of-type(1){
	float: left ;
	width: 20% ;
	display: inline-block ;
	overflow: hidden ;
}

#award_winner ul li:nth-of-type(2){
	float: left ;
	width: 77% ;
	margin-left: 20px ;
	display: inline-block ;
	overflow: hidden ;
}

#award_winner ul li span:nth-of-type(1){
	font-size: 22px ;
}

#award_winner ul li span:nth-of-type(2){
	font-size: 13px ;
}

#award_winner ul li span:nth-of-type(3){
	font-size: 16px ;
}

#award_winner .award_orange{
	float: right ;
	background: #FA843C;
	width: auto;
	border-radius: 3px;
	padding: 4px 17px;
	overflow: hidden;
	margin-top: 20px;
}

#award_winner .award_mark{
	background: url(../images/arrow_white.svg) no-repeat;
	background-position: 0 center;
	background-size: auto 58%;
	color: #fff;
	font-size: 18px;
	padding-left: 20px;
}

#award_winner iframe{
	margin: 30px auto 0 auto ;
	width: 80%  ;
	height: 500px ;
	display: block ;
	overflow: hidden ;
}

#award_winner .winner_box{
	padding: 10px 0px 10px 50px ;
}

#award_winner .winner_box p{
	color: #fff ;
	font-size: 24px ;
}

#award_winner .gray_box p{
	font-size: 16px ;
}

#award_winner .bottom_line p{
	padding-bottom: 30px ;
	border-bottom: 2px dotted ;
}

#award_winner .orange{
	color: #FA843C ;
}

@media screen and (max-width: 768px) {

#award_winner .award_box{
	background-color: #008ead ;
	display: block ;
	margin-left: 10px ;
	width: 90% ;
}

#award_winner ul li:nth-of-type(1){
	float: none ;
	width: 40% ;
}

#award_winner ul li:nth-of-type(2){
	float: none ;
	width: 100% ;
	margin-left: 0px ;
}

#award_winner .award_orange{
	float: none ;
	background: #FA843C;
	width: auto;
	border-radius: 3px;
	padding: 4px 17px;
	overflow: hidden;
	margin-top: 20px;
}

#award_winner iframe{
	margin-top: 20px ;
	width: 100%  ;
	height: auto ;
	display: inline-block ;
	overflow: hidden ;
}

#award_winner .winner_box{
	padding: 10px 30px 10px 30px ;
}

#award_winner .winner_box p{
	color: #fff ;
	font-size: 16px ;
}

#award_winner .gray_box p{
	font-size: 14px ;
}

#award_winner .bottom_line p{
	padding-bottom: 30px ;
	border-bottom: 2px dotted ;
}

}
.deadlink{
	background: #aaa !important;
	color: #555 !important;
}

.deadlink a{
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
}
