@charset "UTF-8";

/* base layout setting ===================================================== */
#contents-navigation h2{
	background:url("contents-navigation/h2.gif") no-repeat;
}

/* block layout setting ===================================================== */
#contents-navigation p{
	display:block;
	width:230px;
	height:40px;
	padding:0;
	margin:0 auto;
	text-decoration:none;
	text-indent:-9999px;
	overflow:hidden;
	line-height:0em;
	font-size:0;
	background:url("contents-navigation/p.gif") no-repeat left top;
}


#contents-navigation p a{
	display:block;
	width:230px;
	height:40px;
	padding:0;
	margin:0;
}


/* btn_bg ================================================================= */
/* active page */
li#navigation-post a,
#year2005 li#navl-2005 a,
#year2006 li#navl-2006 a,
#year2007 li#navl-2007 a,
#year2008 li#navl-2008 a,
#year2009 li#navl-2009 a,
#year2010 li#navl-2010 a,
#year2011 li#navl-2011 a,
#year2012 li#navl-2012 a,
#year2013 li#navl-2013 a,
#year2014 li#navl-2014 a{
	background:url(/SonicChannel/common/css/contents-navigation/a.gif) 218px center;
	border:1px solid #a60303;	
	border-bottom:1px dotted #a60303;
	color:#ffea29;
	border:1px solid #f00;
}


#fanart-index div#contents-navigation li#navigation-index a,
#fanart-oubo div#contents-navigation li#navigation-oubo a,
#fanart-201406 div#contents-navigation li#navigation-index a{
	background:url(../../../common/css/contents-navigation/a.gif) 218px center;
	border:1px solid #a60303;	
	border-bottom:1px dotted #a60303;
	color:#ffea29;
}
