@charset "utf-8";
/*----------リセット-------------*/

body {
	font-size:16px;
	color:#000;
	line-height:1.8em;
	font-family:'Noto Sans JP', sans-serif,"メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	 -webkit-text-size-adjust: none;
	background-color:#000;
	width:100%;
	height:100%;
	overflow-x:hidden;
}

a{
  opacity: 1.0;
	transition: 0.4s ;
}

a:hover{
  opacity: 0.7;
}


img{
	margin: 0;
	padding: 0;
	vertical-align:bottom;
	width: 100%;
}	


/*--------------------------------------
loading
----------------------------------------*/

.layout-loading{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	z-index:9999;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-pack:center;
	justify-content:center;
	-ms-flex-align:center;
	align-items:center;
	transition:.2s cubic-bezier(.39,.575,.565,1);
}

#loading_img{
	position:absolute;
	z-index:-1;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:177.777777vh; /* (横2048 / 縦1152)*100 */
	height:56.25vw; /* (縦1152 / 横2048)*100 */
	min-height:100%;
	min-width:100%;
}

#loading_img video{
	width:100%;
	height:100%;
}

#loading_txt{
	width:100%;
	height:100%;
	position:relative;
}

#loading_txt_inner{
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
}

#loading_txt_inner svg{
	width:100%;
	position:absolute;
	bottom:0;
}

.is_loaded .layout-loading{
	opacity:0;
	visibility:hidden;
}

.container {
	width: 1000px;
	margin:0 auto;
	position:relative;
}

/*--------------------------------------
bg_movie
----------------------------------------*/
#bg_movie{
	width:100%;
	min-width:1200px;
	height:100vh;
	line-height:0;
	position:fixed;
	z-index:-2;
	overflow:hidden;
	transition: 0.4s ;
	opacity:0;
}

.bg_fade #bg_movie{
	opacity:1.0;
}

#bg_video{
	position:absolute;
	z-index:-1;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:177.777777vh;
	height:56.25vw;
	min-height:100%;
	min-width:100%;
}

#bg_video video{
	width:100%;
	height:100%;
}

#dot{
	width:100%;
	min-width:1300px;
	height:100vh;
	line-height:0;
	position:fixed;
	z-index:-1;
	background: url(../images/dot.png);
}

/*--------------------------------------
contents
----------------------------------------*/
#visual{
	width:100%;
	min-width: 1100px;
	min-height:750px;
	height:100vh;
	position:absolute;
	z-index:1;
	overflow:hidden;
}

#visual_inner{
	width:100%;
	min-width: 1100px;
	min-height:750px;
	height:100vh;
	position:absolute;
	background: url(../images/mainvisual.jpg) no-repeat center top;
	background-size:cover;
}

#main_container {
	width:100%;
	min-width: 1100px;
  justify-content: start;
  align-items: start;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	min-height:750px;
	height:100vh;
	position:relative;
	z-index:9000;
	overflow:hidden;
}

#logo_block{
	width: 27.29166% !important;
	margin:5.5% auto 0;
	position:relative;
}

#catch{
	width:18%;
	position:absolute;
	left:0;
	right:0;
	top:60px;
	margin:auto;
}

#logo_block #logo_shadow,
#logo_block #logo_mission{
	width:100%;
	position:absolute;
	left:0;
	top:0;
}

#logo_block #logo_x{
	width:13.8888%;
	position:absolute;
	left:43%;
	top:36%;
}

#logo_block h2{
	width:80%;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}

.blur {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto;
  height: 100%;
}

.blur2 {
  position: absolute;
  top: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  width: auto;
  height: 100%;
}

.blur img,
.blur2 img {
  width: auto !important;
  height: 100% !important;
  position: relative;
  z-index: -1;
}

#contents h3 #poster{
	width:130px;
	height:170px;
	position:absolute;
	left:-95px;
	top:-35px;
}

#btn ul { 
  width: 435px;
	height:48px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

#btn ul li{ 
  width: 214px;
	height:48px;
	position:absolute;
}

#btn ul li:nth-child(1){ 
	left:0;
	top:0;
}

#btn ul li:nth-child(2){ 
	right:0;
	top:0;
}

#btn a:hover { 
  opacity:1.0;
}

.navi_block{
	position:relative;
  width: 214px;
	height:48px;
	/*overflow:hidden;*/
}

.navi_block a:hover{
  opacity: 1.0;
}

.btn_base,
.btn_hover{
	position:absolute;
  width: 214px;
	height:48px;
	top:0;
	left:0;
}

.btn_base img,
.btn_hover img{ 
	transition: 0.4s ;
}

.btn_hover img{
  opacity: 0;
}

.navi_block:hover{
	cursor:pointer;
}

.navi_block:hover .btn_base img{
  opacity: 0;
}

.navi_block:hover .btn_hover img{
  opacity: 1.0;
	filter: drop-shadow(0 0 10px rgba(67, 189, 250, 1.0));
}

#banner{
	width:350px;
	position:absolute;
	bottom:40px;
	left:0;
}

#banner ul{
	width:350px;
	position:relative;
}

#banner ul li:nth-child(1){
	width:327px;
	position:relative;
	margin-left:23px;
	margin-bottom:10px;
}

#banner ul li:nth-child(2){
	width:327px;
	position:relative;
	margin-bottom:10px;
	margin-left:23px;
	transition: 0.4s ;
}

#banner ul li:nth-child(2):hover{
  opacity: 0.7;
	cursor:pointer;
}

#banner ul li:nth-child(3){
	width:327px;
	position:relative;
	margin-left:23px;
}

#credit1{
	width:110px;
	position:absolute;
	bottom:0;
	left:0;
}

#credit2{
	width:100px;
	position:absolute;
	bottom:0;
	right:0;
}

#policy{
	width:110px;
	position:absolute;
	bottom:10px;
	right:110px;
}

#policy a{
	display:block;
	color:#b2b2b2;
	font-size:10px;
	text-decoration:none;
}

#navi{
	width:100%;
	min-width: 1100px;
	height:50px;
	background-color:rgba(0,0,0,0.8);
	position:fixed;
	left:0;
	top:0;
	z-index:5000;
}

#navi_inner ul{
	width:680px;
	height:50px;
  justify-content: space-between;
  align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	position:absolute;
	left:20px;
	top:0;
}

#navi_inner ul li:nth-child(1){
	width:40px;
	background: url(../images/navi1_o.png) no-repeat 0 0;
}

#navi_inner ul li:nth-child(2){
	width:59px;
	background: url(../images/navi2_o.png) no-repeat 0 0;
}

#navi_inner ul li:nth-child(3){
	width:88px;
	background: url(../images/navi3_o.png) no-repeat 0 0;
}

#navi_inner ul li:nth-child(4){
	width:156px;
	background: url(../images/navi4_o.png) no-repeat 0 0;
}

#navi_inner ul li:nth-child(5){
	width:68px;
	background: url(../images/navi5_o.png) no-repeat 0 0;
}

#navi_inner ul li:nth-child(6){
	width:55px;
	background: url(../images/navi6_o.png) no-repeat 0 0;
}

#navi_inner ul li:nth-child(7){
	width:96px;
	background: url(../images/navi7_o.png) no-repeat 0 0;
}

#navi_inner ul li a{
	transition: 0 ;
	display:block;
}

#navi_inner ul li a:hover{
  opacity: 1.0;
}

#navi_inner ul li a img,
#navi_inner ul li:nth-child(1) img,
#navi_inner ul li:nth-child(3) img,
#navi_inner ul li:nth-child(4) img,
#navi_inner ul li:nth-child(5) img,
#navi_inner ul li:nth-child(6) img{
	transition: 0.4s ;
}

#navi_inner ul li a:hover img,
#navi_inner ul li:nth-child(1):hover img,
#navi_inner ul li:nth-child(3):hover img,
#navi_inner ul li:nth-child(4):hover img,
#navi_inner ul li:nth-child(5):hover img,
#navi_inner ul li:nth-child(6):hover img{
  opacity: 0;
	cursor:pointer;
}

#sns{
/*	width:242px;*/
	width:300px;
	height:50px;
	position:absolute;
	right:20px;
	top:11px;
	z-index:300;
}

#sns ul{
	width:222px;
  justify-content: start;
  align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	position:absolute;
	right:0;
	top:0;
}

#sns ul li{
	position:relative;
	margin-right:13px;
}

#sns ul li:nth-child(1){
	width:22px;
}

#sns ul li:nth-child(2){
	width:19px;
}

#sns ul li:nth-child(3){
	width:22px;
}

#sns ul li:nth-child(4){
	width:30px;
}

#sns ul li:nth-child(5){
	width:25px;
}

#sns ul li:nth-child(6){
	width:21px;
	margin-right:0;
}

#nav_toggle{
	width:21px;
	position:relative;
	transition: 0.4s ;
}

#nav_toggle img{
	width:21px;
}

#nav_toggle:hover{
	cursor:pointer;
  opacity: 0.7;
}

#sns ul li a{
	transition: 0.4s ;
}

#sns ul li a:hover{
  opacity: 0.7;
}

#share{
	width:340px !important;
	position:absolute;
	top:40px !important;
	right:-15px !important;
  justify-content: start !important;
  align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size:0;
	line-height:0;
	opacity:0;
	pointer-events:none;
	transition:opacity .2s cubic-bezier(.39,.575,.565,1)
}

#share.is-show{
	opacity:1;
	pointer-events:auto;
}

#share li:nth-child(1){
	width:100px !important;
}

#share li:nth-child(2){
	width:90px !important;
}

#share li:nth-child(3){
	width:110px !important;
}

/*--------------------------------------
menu
----------------------------------------*/
#btn_open{
	right:20px;
	top:20px;
	position:fixed;
	z-index:1000;
	width:60px;
	transition: 0.4s ;
}

#btn_open img{

}

#btn_open:hover{
	cursor:pointer;
  opacity: 0.8;
}

#menu{
	width:500px;
	position: fixed;
	right: calc(100vw*-1);
	top:0;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	z-index:5000;
	-webkit-transition: all .8s ease;
	 transition: all .8s ease;
}

.open {
	overflow: hidden;
}

.open #menu{
  opacity: 1.0;
	-webkit-transform: translate3d(calc(100vw*-1),0,0);
	transform: translate3d(calc(100vw*-1),0,0);
}

#btn_close{
	width:60px;
	position:absolute;
	right:20px;
	top:20px;
	-webkit-transition: all 0.6s ease-out 3.6s;
  transition: all 0.6s ease-out 3.6s;
}

#btn_close:hover{
	cursor:pointer;
}

#btn_close img{
	transition: 0.4s ;
}

#btn_close:hover img{
  opacity: 0.8;
}


#menu ul{
	width:200px;
	padding:130px 0 0 0;
	margin:0 auto;
  justify-content: space-between;
  align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

#menu ul li{
	margin-bottom:65px;
}

#menu ul li:last-child{
	margin-bottom:0;
}

#menu ul li:nth-child(2) img,
#menu ul li:nth-child(4) img{
	transition: 0.4s ;
}

#menu ul li:nth-child(2):hover img,
#menu ul li:nth-child(4):hover img{
  opacity: 0.8;
	cursor:pointer;
}

/*--------------------------------------
mvtkWidget
----------------------------------------*/
#mvtk{
	width:100%;
	min-width: 1100px;
	margin:0 auto;
	padding:60px 0;
	background-color:#000;
}

#mvtkWidget{
	position:relative;
	z-index:10;
}

#mvtk-widgets-container{
	margin:0 auto;
}

#mvtk ul{
	width:588px;
	margin:20px auto 0;
  justify-content: space-between;
  align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

#mvtk ul li{
	width:186px;
}

#mvtk #bottom_bnr ul{
	width:280px;
	margin:20px auto 0;
  justify-content: space-between;
  align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

#mvtk #bottom_bnr ul li{
	width:280px;
}

/*--------------------------------------
movie
----------------------------------------*/
#movie{
	width:100%;
	min-width: 1100px;
	margin:0 auto;
	position:relative;
	background-color:#000000;
}

#trailer_title{
	width:11.14%;
	position:relative;
	margin:0 auto;
	padding:100px 0 40px;
}

#movie .swiper-container {
	overflow: hidden;
	width: 100%;
	height:20vw;
	margin: 0 auto;
}

#movie .swiper-slide {
	width:100%;
	position:relative;
	transition: 0.4s ;
}

#movie .swiper-slide p{
	position:relative;
}

#movie .swiper-slide:after{
	max-width:100px;
	max-height:100px;
	width:6vw;
	height:6vw;
	position:absolute;
	top:calc(50% - 50px);
	right:0;
	left:0;
	margin:auto;
	content:'';
	background: url(../images/btn.png) no-repeat left bottom;
	background-size:100% auto;
}

#movie .swiper-button-next::after, 
#movie .swiper-container-rtl .swiper-button-prev::after {
  content: '' !important;
}

#movie .swiper-button-prev::after, 
#movie .swiper-container-rtl .swiper-button-next::after {
  content: '' !important;
}

#movie .swiper-button-next{
	max-width:50px;
	max-height:50px;
	width: 4vw;
	height: 4vw;
	position: absolute;
	top: 50%;
  right:28.6%;
}

#movie .swiper-button-prev{
	max-width:50px;
	max-height:50px;
	width: 4vw;
	height: 4vw;
	position: absolute;
	top: 50%;
  left:28.6%;
}

#movie .swiper-button-next.swiper-button-disabled,
#movie .swiper-button-prev.swiper-button-disabled {
  opacity:0 !important;
  cursor:auto;
  pointer-events:none
}

#movie .swiper-slide:hover{
	cursor:pointer;
	opacity:0.6;
}

#movie .swiper-pagination-bullet{
	width: 10px;
	height: 10px;
	margin: 0 4px!important; 
	bottom: 0;
	background-color: #fff;
	box-sizing:border-box;
	opacity:1.0;
}

#movie .swiper-pagination-bullet-active{
	background-color: #00a0e9;
}

.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction {
    bottom: 0 !important;
    left: 0;
    width: 100%
}

.swiper-pagination{
	position:relative !important;
}

@media screen and (max-width: 1000px) {
	#movie .swiper-container {
		height:200px;
	}

	#movie .swiper-slide:after{
		width:60px;
		height:60px;
	}

	#movie .swiper-button-next{
		width: 40px;
		height: 40px;
	  right:300px;
	}

	#movie .swiper-button-prev{
		width: 40px;
		height: 40px;
	  left:300px;
	}

}

/*--------------------------------------
introduction
----------------------------------------*/
#introduction{
	width:100%;
	min-width: 1100px;
	margin:0 auto;
	position:relative;
	background-color:#000000;
}

#introduction #intro_title{
	width:19.27%;
	position:relative;
	margin:0 auto;
	padding:140px 0 0;
}

#introduction #intro_txt{
	width:48.43%;
	position:relative;
	margin:2% auto 0;
}

#introduction #intro_txt ul li{
	width:100%;
	position:relative;
}

#introduction #intro_txt ul li:nth-child(2){
	position:absolute;
	left:0;
	top:0;
}

#introduction ul li:nth-child(1){
	transform-origin: 50% 30%;
}

#introduction ul li:nth-child(2){
	transform-origin: 50% 60%;
}

/*--------------------------------------
about
----------------------------------------*/
#about{
	width:100%;
	min-width: 1100px;
	margin:0 auto;
	position:relative;
}

#about_bg{
	position:relative;
	z-index:10;
	overflow: hidden;
}

#about #about_title{
	width:8.854%;
	position:absolute;
	right:0;
	left:0;
	top:6%;
	margin:auto;
	z-index:20;
}

#about #about_txt{
	width:57.29%;
	position:absolute;
	right:0;
	left:0;
	top:10%;
	margin:auto;
	z-index:20;
}

#about #about_txt ul li{
	width:100%;
	position:relative;
}

#about #about_txt ul li:nth-child(2),
#about #about_txt ul li:nth-child(3){
	position:absolute;
	left:0;
	top:0;
}

#about #about_txt ul li:nth-child(1){
	transform-origin: 50% 20%;
}

#about #about_txt ul li:nth-child(2){
	transform-origin: 50% 50%;
}

#about #about_txt ul li:nth-child(3){
	transform-origin: 50% 80%;
}

#about_block1{
	width:100%;
	position:absolute;
	right:0;
	left:0;
	top:87%;
	margin:auto;
	z-index:20;
	height:28vw;
	overflow: hidden;
}

#block1_img{
	width:70.833%;
	position:absolute;
	right:0;
	top:0;
}

#about_block1 ul{
	width:29.1666%;
	position:absolute;
	left:7%;
	top:34%;
}

#about_block1 ul li,
#about_block2 ul li{
	width:100%;
	position:absolute;
	left:0;
	top:0;
}

#about_block2{
	width:100%;
	min-width: 1100px;
	margin:19% auto 0;
	position:relative;
	height:32vw;
	overflow: hidden;
}

#block2_img{
	width:56.25%;
	position:absolute;
	left:0;
	top:0;
}

#about_block2 ul{
	width:29.687%;
	position:absolute;
	left:50%;
	top:25%;
}

@media screen and (max-width: 1020px) {
	#about_block1{
		height:282px;
	}

	#about_block2{
		margin:190px auto 0;
		height:318px;
	}
}

/*--------------------------------------
cast
----------------------------------------*/
#cast{
	width:100%;
	min-width: 1100px;
	margin:0 auto 70px;
	position:relative;
	overflow:hidden;
}

#cast_title{
	width:6.77%;
	position:relative;
	margin:0 auto;
	padding:5% 0 2%;
}

#thum{
	width:56%;
	margin:0 auto 1%;
	position:relative;
}

#thum ul{
	width:100%;
	margin:0 auto;
	position:relative;
  justify-content: space-between;
  align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

#thum ul li{
	width:11.1111%;
	position:relative;
	padding:0.8vw 0;
	z-index:1;
}

#thum ul li:hover{
	z-index:10;
	cursor:pointer;
}

#thum ul li img{
	transform: scale(0.8);
	transition: 0.4s ;
}

#thum ul li:hover img,
#thum ul li.active img{
	transform: scale(1.0);
}

#thum ul li:nth-child(1):hover img,
#thum ul li:nth-child(1).active img {
	filter:drop-shadow(0 0 0.4rem #0c8ad1) drop-shadow(0 0 0.4rem #0c8ad1);
}

#thum ul li:nth-child(2):hover img,
#thum ul li:nth-child(2).active img {
	filter:drop-shadow(0 0 0.4rem #e71f19) drop-shadow(0 0 0.4rem #e71f19);
}

#thum ul li:nth-child(3):hover img,
#thum ul li:nth-child(3).active img {
	filter:drop-shadow(0 0 0.4rem #e60012) drop-shadow(0 0 0.4rem #e60012);
}

#thum ul li:nth-child(4):hover img,
#thum ul li:nth-child(4).active img {
	filter:drop-shadow(0 0 0.4rem #d69a00) drop-shadow(0 0 0.4rem #d69a00);
}

#thum ul li:nth-child(5):hover img,
#thum ul li:nth-child(5).active img {
	filter:drop-shadow(0 0 0.4rem #ea5504) drop-shadow(0 0 0.4rem #ea5504);
}

#thum ul li:nth-child(6):hover img,
#thum ul li:nth-child(6).active img {
	filter:drop-shadow(0 0 0.4rem #008cd6) drop-shadow(0 0 0.4rem #008cd6);
}

#thum ul li:nth-child(7):hover img,
#thum ul li:nth-child(7).active img {
	filter:drop-shadow(0 0 0.4rem #008cd6) drop-shadow(0 0 0.4rem #008cd6);
}

#thum ul li:nth-child(8):hover img,
#thum ul li:nth-child(8).active img {
	filter:drop-shadow(0 0 0.4rem #ea5504) drop-shadow(0 0 0.4rem #ea5504);
}

#thum ul li:nth-child(9):hover img,
#thum ul li:nth-child(9).active img {
	filter:drop-shadow(0 0 0.4rem #ea5504) drop-shadow(0 0 0.4rem #ea5504);
}

#cast_comment{
	width:63%;
	margin:0 auto;
	position:relative;
	height:26vw;
}

#cast_comment .img_cast{
	width:92%;
	position:absolute;
	left:-18%;
	top:0;
}

#cast_comment .comment{
	width:57%;
	margin:12% 0 0 43%;
	position:relative;
	height:16vw;
}

#cast_comment .comment p{
	color:#fff;
	width:94%;
	font-size:0.9vw;
	line-height:1.7;
	font-weight:600;
	letter-spacing:0.06em;
}


@media screen and (max-width: 1020px) {
	#thum ul li{
		padding:2% 0;
	}

	#cast_comment{
		height:270px;
	}

	#cast_comment .comment{
		height:156px;
	}

	#cast_comment .comment p{
		font-size:9.2px;
	}
}



/* simplebar用 */
.simplebar-track {
	border-radius: 0 !important;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible::before{
  opacity:1;
}

.simplebar-track .simplebar-scrollbar::before{
  background: #fff;
}

.simplebar-scrollbar:before {
	border-radius: 0 !important;
}


#cast_comment ul{
	width:100%;
	position:relative;
}

#cast_comment ul li{
	width:100%;
	height:100%;
	position:absolute;
	left:100%;
	top:0;
	opacity:0;
	z-index:1;
}

#cast_comment ul li.active{
	left:0;
	opacity:0;
	z-index:10;
}

@keyframes commentSlide {
	0% { transform: translateX(100%) ; opacity:0;}
	100% { transform: translateX(0) ; opacity:1;}
}

#cast_comment ul li.active{
  animation: commentSlide 0.4s cubic-bezier(.01,.6,.19,.97) 0.1s forwards;
}



/*--------------------------------------
scroll
----------------------------------------*/
#scroll{
	width:100%;
	min-width: 1100px;
	height:800px;
	position:relative;
	z-index:100;
}

#scroll_top{
	width:120%;
	min-width: 1100px;
	height:400px;
	position:absolute;
	top:0;
	left:-20px;
	z-index:0;
	transform: rotate(-4.0deg);
}

#scroll_bottom{
	width:120%;
	min-width: 1100px;
	height:400px;
	position:absolute;
	bottom:0;
	left:-20px;
	z-index:0;
	transform: rotate(-4.0deg);
}


.scroll_img{
	background-size: auto 100%;
	width: 100%;
	height:400px;
	position: absolute;
	left: 0;
	z-index: 6;
	pointer-events: none;
}

#scroll_top .scroll_img{
	background: url(../images/scroll1.jpg) repeat-x left; bottom:0;
	background-size:auto 100%;
	-webkit-background-size: auto 100%;
	-webkit-animation: imgscroll1 20s linear infinite;
	animation: imgscroll1 20s linear infinite;
}

#scroll_bottom .scroll_img{
	background: url(../images/scroll2.jpg) repeat-x left; bottom:0;
	background-size:auto 100%;
	-webkit-background-size: auto 100%;
	-webkit-animation: imgscroll2 20s linear infinite;
	animation: imgscroll2 20s linear infinite;
}

@-webkit-keyframes imgscroll1 {
 0% {background-position: 0 0;}
 100% {background-position: -2233px 0;}
}

@keyframes imgscroll1 {
 0% {background-position: 0 0;}
 100% {background-position: -2233px 0;}
}

@-webkit-keyframes imgscroll2 {
 0% {background-position: 0 0;}
 100% {background-position: 2233px 0;}
}

@keyframes imgscroll2 {
 0% {background-position: 0 0;}
 100% {background-position: 2233px 0;}
}

.check_btn{
	width:100%;
}

.check_btn img{
	transform: scale(1.0);
}

#check_btn1{
	width:12.5%;
	position:absolute;
	right:17%;
	top:34%;
	z-index:10;
}

#check_btn2{
	width:12.5%;
	position:absolute;
	right:17%;
	top:14%;
	z-index:10;
}

/*--------------------------------------
modal
----------------------------------------*/
#cast01, #cast02 {
	width: 100%;
	min-width: 1100px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	background:rgba(0,0,0,0.9);
	overflow:hidden;
}

.cast_main{
  margin: 0 auto;
	width:100%;
	height:100%;
	position: relative;
	overflow-y:auto;
  justify-content: center;
  align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.cast_main .btn_close,
.poster_main .btn_close{
	width:5%;
	position: absolute;
	right:0;
	top:0;
}

#cast01 .cast_main .cast_inner{
	width:52%;
	max-width:1000px;
	height:59vw;
	max-height:1150px;
	position: relative;
}

#cast02 .cast_main .cast_inner{
	width:52%;
	max-width:1000px;
	height:39vw;
	max-height:760px;
	position: relative;
}

#cast01 .cast_img{
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	top:6%;
	z-index:0;
	width:100%;
}

#cast02 .cast_img{
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	top:8%;
	z-index:0;
	width:100%;
}

#cast01 .cast_main .cast_inner ul{
	width:70%;
	margin:60% auto 0;
	position: relative;
}

#cast02 .cast_main .cast_inner ul{
	width:80%;
	margin:51.5% auto 0;
	position: relative;
}

#cast01 .cast_main .cast_inner ul li,
#cast02 .cast_main .cast_inner ul li{
	width:100%;
	position: absolute;
	left:0;
	top:0;
}

#cast01 .cast_main .cast_inner #actor{
	width:53.8%;
	margin:85% auto 0;
	position: relative;
}

#poster {
	width: 100%;
	min-width: 1100px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	background:rgba(0,0,0,0.9);
	overflow:hidden;
}

.poster_main{
	width:100%;
	height:100%;
	position: relative;
  justify-content: center;
  align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.poster_main_inner{
	width:636px;
  margin: 0 auto;
	position: relative;
}

.poster_main .poster_main_inner .btn_close{
	width:50px;
	position: absolute;
	right:-60px;
	top:0;
}



@media screen and (max-width: 1020px) {
	#cast01 .cast_main .cast_inner{
		height:600px;
	}

	#cast02 .cast_main .cast_inner{
		height:400px;
	}
}

/*--------------------------------------
youtube
----------------------------------------*/
.yt-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
}

.yt-overlay:after {
  position: relative;
}

.yt-bg {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.90);
  position: absolute;
  top: 0;
  left: 0;
}

.yt-close {
  display: none;
  position: absolute;
  top: -100px;
  right: -100px;
  cursor: pointer;
  z-index: 300;
}

.yt-videoWrap {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.yt-video {
  z-index: 1500;
  width: 100%;
  max-width: 960px;
  position: relative;
}

@media screen and (max-height: 700px) {
  .yt-video {
    max-width: 137.14286vh;
  }
}

.yt-playerWrap {
  clear: both;
  z-index: 2000;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 56.25%;
  height: 0px;
  position: relative;
  background: #000;
}

.yt-playerWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.yt-loader {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  width: 128px;
  height: 128px;
  z-index: 0;
}

.yt-tabs {
	width:100%;
	margin:30px auto 0;
  justify-content: center;
  align-items: stretch;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.yt-tab {
  width: 310px;
	margin:0 5px;
  background: #000;
  color: #e72410;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  border: solid 1px #e72410;
	box-sizing:border-box;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.yt-tab:nth-child(n+4) {
  margin-top: 10px;
}

.yt-tab.active, .yt-tab:hover {
  background: #e72410;
  color: #fff;
}

.yt-tab.active {
  cursor: default;
}

/*--------------------------------------
animation
----------------------------------------*/

#catch,
#btn_open img,
#banner,
#logo_block h2,
#logo_x,
#visual_inner,
.base img,
.blur img,
.blur2 img,
#btn ul li,
#contents h3 #poster{
	opacity:0;
}

.is_loaded .base img:nth-of-type(1) {
  -webkit-animation: speed__base .1s both;
          animation: speed__base .1s both;
}

.is_loaded .blur img:nth-of-type(1) {
  -webkit-animation: speed__blur .2s both;
          animation: speed__blur .2s both;
}

.is_loaded .blur2 img:nth-of-type(1) {
  -webkit-animation: speed__blur2 .2s both;
          animation: speed__blur2 .2s both;
}

@-webkit-keyframes speed__base {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes speed__base {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes speed__blur {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes speed__blur {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
}

@-webkit-keyframes speed__blur2 {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
}

@keyframes speed__blur2 {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
}

@keyframes fade {
  0% {
		opacity:0;
  }
  100% {
		opacity:1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.0);
    transform:scale(1.0);
  }
}

.is_loaded #logo_block h1 img {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.is_loaded #logo_block #logo_shadow img {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.is_loaded #logo_block #logo_mission img {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.is_loaded #logo_block #logo_x {
  animation: logoX 0.8s cubic-bezier(.01,.6,.19,.97) 1.8s forwards;
}

.is_loaded #catch{
  animation: slideDown 0.8s cubic-bezier(.01,.6,.19,.97) 1.8s forwards;
}

.is_loaded #logo_block h2{
  animation: slideUp 1.4s cubic-bezier(.01,.6,.19,.97) 2.4s forwards;
}

.is_loaded #visual_inner{
  animation: visual_In 0.4s cubic-bezier(.01,.6,.19,.97) 2.8s forwards;
}

.is_loaded #btn_open img{
  animation: slideMenu 0.4s cubic-bezier(.01,.6,.19,.97) 3.2s forwards;
}


@keyframes posterIn {
  0% {
		transform: translate(-200px , 60px) rotate(-60deg);
    opacity: 0;
  }
  100% {
		transform: translate(0px , 0px) rotate(0);
    opacity: 1;
  }
}

.is_loaded #banner {
  animation: posterIn 0.8s cubic-bezier(.01,.6,.19,.97) 4.0s forwards;
}


.is_loaded #btn ul li:nth-child(1) {
  animation: slideY 0.8s cubic-bezier(.01,.6,.19,.97) 1.8s forwards;
}

.is_loaded #btn ul li:nth-child(2) {
  animation: slideY 0.8s cubic-bezier(.01,.6,.19,.97) 2.2s forwards;
}

@keyframes slideShine {
	0% { left: -50px;opacity:0;}
	20% { opacity:0;}
	50% { opacity:0.6;}
	65% { opacity:0;}
	100% { left: 120%;opacity:0;}
}

@keyframes logoX {
	0% { transform:rotate(120deg) scale(1.5);opacity:0;}
	100% { transform:rotate(0) scale(1.0);opacity:1;}
}

@keyframes visual_In {
	0% { transform:rotate(15deg) scale(1.5);opacity:0;}
	100% { transform:rotate(0) scale(1.0);opacity:1;}
}

#sns ul li img{
	position:absolute;
	transition: 0.4s ;
	top:0;
	opacity:0;
	transform: translateY(-100px);
}


.is_loaded #sns ul li:nth-child(1) img{
  animation: slideDown 0.5s ease 1.5s forwards;
}

.is_loaded #sns ul li:nth-child(2) img{
  animation: slideDown 0.5s ease 1.6s forwards;
}

.is_loaded #sns ul li:nth-child(3) img{
  animation: slideDown 0.5s ease 1.7s forwards;
}

.is_loaded #sns ul li:nth-child(4) img{
  animation: slideDown 0.5s ease 1.8s forwards;
}

.is_loaded #sns ul li:nth-child(5) img{
  animation: slideDown 0.5s ease 1.9s forwards;
}

.is_loaded #sns ul li:nth-child(6) img{
  animation: slideDown 0.5s ease 2.0s forwards;
}

.is_loaded #sns ul li:nth-child(7) img{
  animation: slideDown 0.5s ease 2.1s forwards;
}

@keyframes slideDown {
	0% { transform: translateY(-100px) ; opacity:0;}
	100% { transform: translateY(0) ; opacity:1;}
}

@keyframes slideUp {
	0% { transform: translateY(50px) ; opacity:0;}
	100% { transform: translateY(0) ; opacity:1;}
}

@keyframes slideMenu {
	0% { transform: translateX(200px) ; opacity:0;}
	100% { transform: translateX(0) ; opacity:1;}
}

#bnr img{
	position:absolute;
	transition: 0.4s ;
	top:0;
	opacity:0;
	transform: translateX(-300px);
}

.is_loaded #bnr img{
  animation: slideX 0.5s ease 2.0s forwards;
}

@keyframes slideX {
	0% { transform: translateX(-300px) ; opacity:0;}
	100% { transform: translateX(0) ; opacity:1;}
}

@keyframes slideY {
	0% { transform: translateY(50px) ; opacity:0;}
	100% { transform: translateY(0) ; opacity:1;}
}


#mvtkWidget,
#mvtk ul{
	opacity: 0;
}


.is_loaded #mvtkWidget{
  animation: fade 1.0s cubic-bezier(0.77, 0, 0.175, 1) 4.6s forwards;
}

.is_loaded #mvtk ul{
  animation: fade 1.0s cubic-bezier(0.77, 0, 0.175, 1) 4.8s forwards;
}


@keyframes title {
  0% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes about_img {
	0% { transform:rotate(-20deg) scale(1.6);opacity:1;}
	100% { transform:rotate(0) scale(1.0);opacity:1;}
}

@keyframes loop_btn {
	0% { transform:rotate(-360deg);}
	100% { transform:rotate(0);}
}

@keyframes scaleChange {
	0% { transform:scale(1);}

	10% { transform:scale(1);}
	12% { transform:scale(1.1);}
	14% { transform:scale(1);}
	16% { transform:scale(1);}
	18% { transform:scale(1.1);}
	20% { transform:scale(1);}

	60% { transform:scale(1);}
	62% { transform:scale(1.1);}
	64% { transform:scale(1);}
	66% { transform:scale(1);}
	68% { transform:scale(1.1);}
	70% { transform:scale(1);}

	100% { transform:scale(1);}
}


#about #about_title,
/*#about #about_txt,*/
#about #about_bg img,
#about #check_btn1,
#about_block1 #block1_img,
#about_block1 ul li,
#about_block2 #block2_img,
#about_block2 ul li,
#check_btn2{
	opacity:0;
}

#about.is_loaded #about_bg img{
  animation: about_img 0.8s cubic-bezier(.01,.6,.19,.97) 0.4s forwards;
}

#about.is_loaded #about_title{
  animation: title 0.2s cubic-bezier(.01,.6,.19,.97) 1.4s both;
}

/*#about.is_loaded #about_txt{
  animation: slideUp 1.4s cubic-bezier(.01,.6,.19,.97) 1.8s forwards;
}*/


#about.is_loaded #check_btn1{
  animation: fade 1.0s cubic-bezier(0.77, 0, 0.175, 1) 2.2s forwards;
}

.check_btn{
  animation: loop_btn 5.0s linear infinite;
}

.check_btn img{
  animation: scaleChange 5.0s linear infinite;
}


@keyframes block1_img {
  0% {
    -webkit-transform: translateX(100%) translateY(-200px);
            transform: translateX(100%) translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@keyframes block1_txt{
  0% {
    -webkit-transform: translateX(-100%) translateY(50px);
            transform: translateX(-100%) translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

#about_block1.is_loaded #block1_img{
  animation: block1_img 0.2s cubic-bezier(.01,.6,.19,.97) 0.4s forwards;
}

#about_block1.is_loaded ul li:nth-child(1){
  animation: block1_txt 0.2s cubic-bezier(.01,.6,.19,.97) 0.8s forwards;
}

#about_block1.is_loaded ul li:nth-child(2){
  animation: block1_txt 0.2s cubic-bezier(.01,.6,.19,.97) 0.9s forwards;
}

@keyframes block2_img {
  0% {
    -webkit-transform: translateX(-100%) translateY(200px);
            transform: translateX(-100%) translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@keyframes block2_txt{
  0% {
    -webkit-transform: translateX(100%) translateY(-50px);
            transform: translateX(100%) translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

#about_block2.is_loaded #block2_img{
  animation: block2_img 0.2s cubic-bezier(.01,.6,.19,.97) 0.8s forwards;
}

#about_block2.is_loaded ul li:nth-child(1){
  animation: block2_txt 0.2s cubic-bezier(.01,.6,.19,.97) 1.2s forwards;
}

#about_block2.is_loaded ul li:nth-child(2){
  animation: block2_txt 0.2s cubic-bezier(.01,.6,.19,.97) 1.3s forwards;
}

#about_block2.is_loaded #check_btn2{
  animation: fade 1.0s cubic-bezier(0.77, 0, 0.175, 1) 2.2s forwards;
}

#scroll #scroll_top,
#scroll #scroll_bottom{
	opacity:0;
}

#scroll.is_loaded #scroll_top{
  animation: fade 1.0s cubic-bezier(0.77, 0, 0.175, 1) 0.4s forwards;
}

#scroll.is_loaded #scroll_bottom{
  animation: fade 1.0s cubic-bezier(0.77, 0, 0.175, 1) 0.8s forwards;
}


.cast_img,
.cast_inner ul li,
.cast_inner #actor{
	opacity:0;
}

@keyframes modalScale {
	0% { transform:scale(0.4); opacity:0;}
	100% { transform:scale(1); opacity:1;}
}

@keyframes modalScale2 {
	0% { transform:scale(1.2); opacity:0;}
	100% { transform:scale(1); opacity:1;}
}

.modal1 .cast_img{
  animation: modalScale 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.3s forwards;
}

.modal1 .cast_inner ul li:nth-child(1){
  animation: slideUp 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0.8s forwards;
}

.modal1 .cast_inner ul li:nth-child(2){
  animation: slideUp 0.8s cubic-bezier(0.77, 0, 0.175, 1) 1.0s forwards;
}

.modal1 .cast_inner ul li:nth-child(3){
  animation: slideUp 0.8s cubic-bezier(0.77, 0, 0.175, 1) 1.2s forwards;
}

.modal1 .cast_inner #actor{
  animation: modalScale2 1.0s cubic-bezier(0.77, 0, 0.175, 1) 1.8s forwards;
}

.modal2 .cast_img{
  animation: modalScale 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.3s forwards;
}

.modal2 .cast_inner ul li:nth-child(1){
  animation: slideUp 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0.8s forwards;
}

.modal2 .cast_inner ul li:nth-child(2){
  animation: slideUp 0.8s cubic-bezier(0.77, 0, 0.175, 1) 1.0s forwards;
}

#cast #cast_title,
#cast #thum,
#cast #cast_comment{
	opacity:0;
}

#cast.is_loaded #cast_title{
  animation: title 0.2s cubic-bezier(.01,.6,.19,.97) 0.4s both;
}

#cast.is_loaded #thum{
  animation: slideUp 1.4s cubic-bezier(.01,.6,.19,.97) 0.8s forwards;
}

#cast.is_loaded #cast_comment{
  animation: slideUp 1.4s cubic-bezier(.01,.6,.19,.97) 1.4s forwards;
}


#movie #trailer_title,
#movie .swiper-container,
#movie .swiper-pagination{
	opacity:0;
}

#movie.is_loaded #trailer_title{
  animation: title 0.2s cubic-bezier(.01,.6,.19,.97) 0.4s both;
}

#movie.is_loaded .swiper-container,
#movie.is_loaded .swiper-pagination{
  animation: slideUp 1.4s cubic-bezier(.01,.6,.19,.97) 0.8s forwards;
}

#introduction #intro_title,
#introduction #intro_txt ul li,
#about #about_txt ul li{
	opacity:0;
}

#introduction.is_loaded #intro_title{
  animation: title 0.2s cubic-bezier(.01,.6,.19,.97) 0.4s both;
}

#introduction.is_loaded #intro_txt ul li:nth-child(1){
  animation: zoomIn 1.4s cubic-bezier(.01,.6,.19,.97) 0.8s forwards;
}

#introduction.is_loaded #intro_txt ul li:nth-child(2){
  animation: zoomIn 1.4s cubic-bezier(.01,.6,.19,.97) 1.2s forwards;
}


#about.is_loaded #about_txt ul li:nth-child(1){
  animation: zoomIn 1.4s cubic-bezier(.01,.6,.19,.97) 1.8s forwards;
}

#about.is_loaded #about_txt ul li:nth-child(2){
  animation: zoomIn 1.4s cubic-bezier(.01,.6,.19,.97) 2.2s forwards;
}

#about.is_loaded #about_txt ul li:nth-child(3){
  animation: zoomIn 1.4s cubic-bezier(.01,.6,.19,.97) 2.6s forwards;
}

