@charset "utf-8";
/*----------リセット-------------*/

body {
	font-size:16px;
	color:#000;
	line-height:1.8em;
	font-family:"メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	 -webkit-text-size-adjust: none;
	background-color:#000;
	width:100%;
	height:100%;
}

a{
  opacity: 1.0;
	transition: 0.4s ;
}

a:hover{
  opacity: 0.7;
}


img{
	margin: 0;
	padding: 0;
	vertical-align:bottom;
	width: 100%;
}	


/*--------------------------------------
loading
----------------------------------------*/

.layout-loading{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	z-index:8000;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-pack:center;
	justify-content:center;
	-ms-flex-align:center;
	align-items:center;
	transition:.2s cubic-bezier(.39,.575,.565,1);
}

.layout-loading .loader{
	width:76px;
	height:76px;
	border-radius:100%;
	position:relative;
	/*border:4px solid #008def;*/
	box-shadow:0 0 30px 2px rgba(10,146,217,.8);
}

.layout-loading .loader:before{
	width:84px;
	height:84px;
	border-radius:100%;
	position:absolute;
	top:-4px;
	left:-4px;
	display:block;
	content:'';
	background:linear-gradient(to right,#ca161d 0,rgba(10,68,217,1.0) 90%);
	transform:translateZ(0);
	animation:spin 0.2s infinite linear;
}

.layout-loading .loader:after{
	width:76px;
	height:76px;
	border-radius:100%;
	position:absolute;
	top:0;
	left:0;
	display:block;
	content:'';
	background:#000;
	/*box-shadow:0 0 10px 4px rgba(24,55,135,.9) inset;*/
}

@keyframes spin{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

.is_loaded .layout-loading{
	opacity:0;
	visibility:hidden;
}




/*--------------------------------------
contents
----------------------------------------*/
#visual{
	width:100%;
	min-width: 1000px;
	min-height:750px;
	height:100vh;
	position:absolute;
	z-index:1;
	overflow:hidden;
}

#visual_inner{
	width:100%;
	min-width: 1000px;
	min-height:750px;
	height:100vh;
	position:absolute;
	background: url(../images/mainvisual.jpg) no-repeat center top;
	background-size:cover;
}

#container {
	width:100%;
	min-width: 1000px;
  justify-content: start;
  align-items: start;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	min-height:750px;
	height:100vh;
	position:relative;
	z-index:100;
	overflow:hidden;
}

#logo_block{
	width: 29.6875%;
	margin:0 auto;
	position:relative;
}

#logo_block #logo_shadow,
#logo_block #logo_mission{
	width:100%;
	position:absolute;
	left:0;
	top:0;
}

#logo_block #logo_x{
	width:13.8888%;
	position:absolute;
	left:43%;
	top:36%;
}

#logo_block h2{
	width:55.555%;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}

.blur {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto;
  height: 100%;
}

.blur2 {
  position: absolute;
  top: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  width: auto;
  height: 100%;
}

.blur img,
.blur2 img {
  width: auto !important;
  height: 100% !important;
  position: relative;
  z-index: -1;
}

#contents h3 #poster{
	width:130px;
	height:170px;
	position:absolute;
	left:-95px;
	top:-35px;
}

#btn ul { 
  width: 435px;
	height:48px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

#btn ul li{ 
  width: 214px;
	height:48px;
	position:absolute;
}

#btn ul li:nth-child(1){ 
	left:0;
	top:0;
}

#btn ul li:nth-child(2){ 
	right:0;
	top:0;
}

#btn a:hover { 
  opacity:1.0;
}

.navi_block{
	position:relative;
  width: 214px;
	height:48px;
	/*overflow:hidden;*/
}

.navi_block a:hover{
  opacity: 1.0;
}

.btn_base,
.btn_hover{
	position:absolute;
  width: 214px;
	height:48px;
	top:0;
	left:0;
}

.btn_base img,
.btn_hover img{ 
	transition: 0.4s ;
}

.btn_hover img{
  opacity: 0;
}

.navi_block:hover{
	cursor:pointer;
}

.navi_block:hover .btn_base img{
  opacity: 0;
}

.navi_block:hover .btn_hover img{
  opacity: 1.0;
	filter: drop-shadow(0 0 10px rgba(67, 189, 250, 1.0));
}

#advance_sale{
	width:350px;
	position:absolute;
	bottom:40px;
	left:0;
}

#credit1{
	width:110px;
	position:absolute;
	bottom:0;
	left:0;
}

#credit2{
	width:100px;
	position:absolute;
	bottom:0;
	right:0;
}

#sns{
/*	width:242px;*/
	width:320px;
	height:60px;
	position:absolute;
	right:100px;
	top:34px;
	z-index:300;
}

#sns ul{
	width:242px;
  justify-content: start;
  align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	position:absolute;
	right:0;
	top:0;
}

#sns ul li{
	position:relative;
	margin-right:13px;
}

#sns ul li:nth-child(1){
	width:25px;
}

#sns ul li:nth-child(2){
	width:22px;
}

#sns ul li:nth-child(3){
	width:19px;
}

#sns ul li:nth-child(4){
	width:22px;
}

#sns ul li:nth-child(5){
	width:30px;
}

#sns ul li:nth-child(6){
	width:25px;
}

#sns ul li:nth-child(7){
	width:21px;
	margin-right:0;
}

#nav_toggle{
	width:21px;
	position:relative;
	transition: 0.4s ;
}

#nav_toggle img{
	width:21px;
}

#nav_toggle:hover{
	cursor:pointer;
  opacity: 0.7;
}

#sns ul li a{
	transition: 0.4s ;
}

#sns ul li a:hover{
  opacity: 0.7;
}

#share{
	width:340px !important;
	position:absolute;
	top:40px !important;
	right:-15px !important;
  justify-content: start !important;
  align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size:0;
	line-height:0;
	opacity:0;
	pointer-events:none;
	transition:opacity .2s cubic-bezier(.39,.575,.565,1)
}

#share.is-show{
	opacity:1;
	pointer-events:auto;
}

#share li:nth-child(1){
	width:100px !important;
}

#share li:nth-child(2){
	width:90px !important;
}

#share li:nth-child(3){
	width:110px !important;
}

/*--------------------------------------
menu
----------------------------------------*/
#btn_open{
	right:20px;
	top:20px;
	position:fixed;
	z-index:1000;
	width:60px;
	transition: 0.4s ;
}

#btn_open img{

}

#btn_open:hover{
	cursor:pointer;
  opacity: 0.8;
}

#menu{
	width:500px;
	position: fixed;
	right: calc(100vw*-1);
	top:0;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	z-index:5000;
	-webkit-transition: all .8s ease;
	 transition: all .8s ease;
}

.open {
	overflow: hidden;
}

.open #menu{
  opacity: 1.0;
	-webkit-transform: translate3d(calc(100vw*-1),0,0);
	transform: translate3d(calc(100vw*-1),0,0);
}

#btn_close{
	width:60px;
	position:absolute;
	right:20px;
	top:20px;
	-webkit-transition: all 0.6s ease-out 3.6s;
  transition: all 0.6s ease-out 3.6s;
}

#btn_close:hover{
	cursor:pointer;
}

#btn_close img{
	transition: 0.4s ;
}

#btn_close:hover img{
  opacity: 0.8;
}


#menu ul{
	width:180px;
	padding:130px 0 0 0;
	margin:0 auto;
  justify-content: space-between;
  align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

#menu ul li{
	margin-bottom:65px;
}

#menu ul li:last-child{
	margin-bottom:0;
}

#menu ul li:nth-child(2) img,
#menu ul li:nth-child(3) img{
	transition: 0.4s ;
}

#menu ul li:nth-child(2):hover img,
#menu ul li:nth-child(3):hover img{
  opacity: 0.8;
	cursor:pointer;
}

/*--------------------------------------
animation
----------------------------------------*/

#btn_open img,
#advance_sale,
#logo_block h2,
#logo_x,
#visual_inner,
.base img,
.blur img,
.blur2 img,
#btn ul li,
#contents h3 #poster{
	opacity:0;
}

.is_loaded .base img:nth-of-type(1) {
  -webkit-animation: speed__base .1s both;
          animation: speed__base .1s both;
}

.is_loaded .blur img:nth-of-type(1) {
  -webkit-animation: speed__blur .2s both;
          animation: speed__blur .2s both;
}

.is_loaded .blur2 img:nth-of-type(1) {
  -webkit-animation: speed__blur2 .2s both;
          animation: speed__blur2 .2s both;
}

@-webkit-keyframes speed__base {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes speed__base {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes speed__blur {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes speed__blur {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
}

@-webkit-keyframes speed__blur2 {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
}

@keyframes speed__blur2 {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
}

.is_loaded #logo_block h1 img {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.is_loaded #logo_block #logo_shadow img {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.is_loaded #logo_block #logo_mission img {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.is_loaded #logo_block #logo_x {
  animation: logoX 0.8s cubic-bezier(.01,.6,.19,.97) 1.8s forwards;
}

.is_loaded #logo_block h2{
  animation: slideUp 1.4s cubic-bezier(.01,.6,.19,.97) 2.2s forwards;
}

.is_loaded #visual_inner{
  animation: visual_In 0.4s cubic-bezier(.01,.6,.19,.97) 2.8s forwards;
}

.is_loaded #btn_open img{
  animation: slideMenu 0.4s cubic-bezier(.01,.6,.19,.97) 3.2s forwards;
}


@keyframes posterIn {
  0% {
		transform: translate(-200px , 60px) rotate(-60deg);
    opacity: 0;
  }
  100% {
		transform: translate(0px , 0px) rotate(0);
    opacity: 1;
  }
}

.is_loaded #advance_sale {
  animation: posterIn 0.8s cubic-bezier(.01,.6,.19,.97) 4.0s forwards;
}


.is_loaded #btn ul li:nth-child(1) {
  animation: slideY 0.8s cubic-bezier(.01,.6,.19,.97) 1.8s forwards;
}

.is_loaded #btn ul li:nth-child(2) {
  animation: slideY 0.8s cubic-bezier(.01,.6,.19,.97) 2.2s forwards;
}

@keyframes slideShine {
	0% { left: -50px;opacity:0;}
	20% { opacity:0;}
	50% { opacity:0.6;}
	65% { opacity:0;}
	100% { left: 120%;opacity:0;}
}

@keyframes logoX {
	0% { transform:rotate(120deg) scale(1.5);opacity:0;}
	100% { transform:rotate(0) scale(1.0);opacity:1;}
}

@keyframes visual_In {
	0% { transform:rotate(15deg) scale(1.5);opacity:0;}
	100% { transform:rotate(0) scale(1.0);opacity:1;}
}

#sns ul li img{
	position:absolute;
	transition: 0.4s ;
	top:0;
	opacity:0;
	transform: translateY(-100px);
}


.is_loaded #sns ul li:nth-child(1) img{
  animation: slideDown 0.5s ease 1.5s forwards;
}

.is_loaded #sns ul li:nth-child(2) img{
  animation: slideDown 0.5s ease 1.6s forwards;
}

.is_loaded #sns ul li:nth-child(3) img{
  animation: slideDown 0.5s ease 1.7s forwards;
}

.is_loaded #sns ul li:nth-child(4) img{
  animation: slideDown 0.5s ease 1.8s forwards;
}

.is_loaded #sns ul li:nth-child(5) img{
  animation: slideDown 0.5s ease 1.9s forwards;
}

.is_loaded #sns ul li:nth-child(6) img{
  animation: slideDown 0.5s ease 2.0s forwards;
}

.is_loaded #sns ul li:nth-child(7) img{
  animation: slideDown 0.5s ease 2.1s forwards;
}

@keyframes slideDown {
	0% { transform: translateY(-100px) ; opacity:0;}
	100% { transform: translateY(0) ; opacity:1;}
}

@keyframes slideUp {
	0% { transform: translateY(50px) ; opacity:0;}
	100% { transform: translateY(0) ; opacity:1;}
}

@keyframes slideMenu {
	0% { transform: translateX(200px) ; opacity:0;}
	100% { transform: translateX(0) ; opacity:1;}
}





#bnr img{
	position:absolute;
	transition: 0.4s ;
	top:0;
	opacity:0;
	transform: translateX(-300px);
}

.is_loaded #bnr img{
  animation: slideX 0.5s ease 2.0s forwards;
}

@keyframes slideX {
	0% { transform: translateX(-300px) ; opacity:0;}
	100% { transform: translateX(0) ; opacity:1;}
}

@keyframes slideY {
	0% { transform: translateY(50px) ; opacity:0;}
	100% { transform: translateY(0) ; opacity:1;}
}

/*--------------------------------------
youtube
----------------------------------------*/
.yt-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
}

.yt-overlay:after {
  position: relative;
}

.yt-bg {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.90);
  position: absolute;
  top: 0;
  left: 0;
}

.yt-close {
  display: none;
  position: absolute;
  top: -100px;
  right: -100px;
  cursor: pointer;
  z-index: 300;
}

.yt-videoWrap {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.yt-video {
  z-index: 1500;
  width: 100%;
  max-width: 960px;
  position: relative;
}

@media screen and (max-height: 700px) {
  .yt-video {
    max-width: 137.14286vh;
  }
}

.yt-playerWrap {
  clear: both;
  z-index: 2000;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 56.25%;
  height: 0px;
  position: relative;
  background: #000;
}

.yt-playerWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.yt-loader {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  width: 128px;
  height: 128px;
  z-index: 0;
}

.yt-tabs {
	width:330px;
	margin:0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 20px;


  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.yt-tab {
  width: 330px;
  background: #fff;
  color: #e60012;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  border: solid 1px #e71a1e;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  padding: 10px 0;
}

.yt-tab:nth-child(n+3) {
  margin-top: 10px;
}

.yt-tab.active, .yt-tab:hover {
  background: #e71a1e;
  color: #fff;
}

.yt-tab.active {
  cursor: default;
}