/* all-header     ===================================================== */
#all-header{
	background:url(all-header/all-header_bg.jpg) repeat-x;
	height:385px;
}

#all-header h1{
	background:url(all-header/h1_bg.jpg) no-repeat center top;
}

#all-header h1{
	margin:0px auto;
	width:800px;
	height:325px;
}

#all-header h1 a{
	display:block;
	height:300px;

	font-size:0px;
	font-family: sans-serif;
	line-height:0;
	text-decoration:none;
	text-indent:-5000px;
}