@charset "utf-8";
/* CSS Document */

.awesome{  
background: #222 url(../common/img/alert-overlay.png) repeat-x;
width: 170px;
display: inline-block;  
padding: 5px;
margin: 10px 5px 20px 0 ;
color: #fff;  
text-decoration: none;  
text-align: center;
font-weight: bold;  
line-height: 1;  
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;  
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);  
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);  
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);  
border-bottom: 1px solid rgba(0,0,0,0.25);  
position: relative;  
cursor: pointer;  
}  
.awesome:link , .awesome:hover , .awesome:visited {  
background-color: #111;  
color: #fff;  
}  
/* 大きさ ---------- */  
.small.awesome {  
font-size: 11px;  
}  
.medium.awesome {  
font-size: 14px;   
line-height: 1.5;
}  
.large.awesome {  
font-size: 16px;  
padding: 8px 14px 9px;
line-height: 1.5; 
}  
.small.awesome, .small.awesome:visited {  
font-size: 11px;  
padding: ;  
}  
.awesome, .awesome:visited,  
.medium.awesome, .medium.awesome:visited {  
font-size: 14px;  
font-weight: bold;  
line-height: 1.5; 
text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 

}  
.large.awesome, .large.awesome:visited{  
font-size: 16px;  
padding: 8px 14px 9px;  
line-height: 1.5;
}  
/* 緑 ---------- */  
.green.awesome, .green.awesome:visited{  
background-color: #91bd09;  
}  
.green.awesome:hover {  
background-color: #749a02;  
}  
/* 青 ---------- */  
.blue.awesome, .blue.awesome:visited {  
background: url(../common/img/bg-btn-blue.png) repeat-x center;
border: solid 1px #39C\9; /* IE8 and below */
}  
.blue.awesome:hover {  
background-color: #069;
border: solid 1px #FC3\9; /* IE8 and below */
color: #FF9;
}  
/* 赤 ---------- */  
.red.awesome, .red.awesome:visited {  
background-color: #e33100;  
}  
.red.awesome:hover {  
background-color: #872300;  
}  
/* 赤紫 ---------- */  
.magenta.awesome, .magenta.awesome:visited {  
background-color: #a9014b;  
}  
.magenta.awesome:hover  {  
background-color: #630030;  
}  
/* 橙 ---------- */  
.orange.awesome, .orange.awesome:visited {  
background-color: #ff5c00;  
}  
.orange.awesome:hover {  
background-color: #d45500;  
}  
/* 黄 ---------- */  
.yellow.awesome, .yellow.awesome:visited {  
background-color: #ffb515;  
}  
.yellow.awesome:hover {  
background-color: #fc9200;  
} 

/* グレー ---------- */  
.gray.awesome, .gray.awesome:visited {  
background-color: #DDD;  
}  
.gray.awesome:hover {  
background-color: #FAFAFA;  
} 


