body {
	margin:0px;
	padding:0px;
	background-color:#333333;
}

#Wrapper {
	width:789px;
	margin:0px;
	padding:0px;
	background-image:url(../images/back.gif);
	background-repeat:repeat-y;
}

h1 {
	margin:0px;
	padding:0px;
	clear:both;
}

#Title  {
	width:580px;
	margin:0px;
	padding:13px 26px 10px;
}

h2 {
	margin:0px;
	padding:0px 7px;
	border-left:4px solid #FFFFFF;
	font-size:14px;
	color:#FFFFFF;
	letter-spacing:2px;
}

h3 {
	margin:0px;
	padding:0px 0px 20px;
	font-size:14px;
	color:#002157;
	text-align:center;
	line-height:120%;
	clear:both;
}

h4 {
	margin:0px;
	padding:0px 0px 20px;
	font-size:14px;
	color:#002157;
	line-height:120%;
	clear:both;
}

h5 {
	margin:0px 0px 5px;
	padding:0px;
	font-size:12px;
	color:#534741;
	font-weight:bold;
	line-height:140%;
	text-align:left;
}

h6 {
	margin:0px 0px 15px;
	padding:1px 10px 0px;
	background-color:#4F7282;
	font-size:12px;
	color:#FFFFFF;
	line-height:140%;
	text-align:center;
	clear:both;
}



/* リンク */
a:link {
	color:#FE6F60;
}

a:visited {
	color:#002157;
	text-decoration:none;
}

a:hover {
	color:#999999;
	text-decoration:underline;
}



/* 画像 */
img {
	border:none;
	margin:0px;
	padding:0px;
}



hr{
	margin:0px;
	padding:0px;
	display:none;
	clear:both;
}

.clear{
	font-size:1px;
	height:1px;
	clear:both;
}



/* フッター */
#footer {
	margin:0px 0px -5px;
	padding:0px;
	clear:both;
}
