#menu {
	width:154px;
	margin:0px;
	padding:0px;
	background:url(../images/menu_back.gif) repeat-x;
	text-align:center;
	float:left;
}

#menu p {
	margin:0px;
	padding:0px;
}

#menu ol {
	list-style:none;
	list-style-type:none;
	margin:0px 0px 13px;
	padding:0px;
}
/* macIE‚©‚ç‰B‚· \*/
#menu ol {
	list-style:none;
	list-style-type:none;
	margin:-4px 0px 9px;
	padding:0px;
}
/* */

#menu ol li {
	margin:0px;
	padding:0px;
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;
	display:inline;
}
/* macIE‚©‚ç‰B‚· \*/
#menu ol li {
	margin:0px;
	padding:0px;
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;
	vertical-align:middle;
	display:inline;
}
/* */

#menu ol li a {
	text-direction:none;
}

#menu dl {
	list-style:none;
	list-style-type:none;
	margin:0px;
	padding:0px 0px 50px;
}

#menu dt {
	margin:0px;
	padding:0px;
}
/* macIE‚©‚ç‰B‚· \*/
#menu dt {
	margin:0px 0px -4px;
	padding:0px;
}
/* */

#menu dd {
	margin:0px;
	padding:0px;
}
/* macIE‚©‚ç‰B‚· \*/
#menu dd {
	margin:0px 0px -4px;
	padding:0px;
}
/* */

#menu ul {
	list-style:none;
	list-style-type:none;
	margin:0px;
	padding:0px;
}

#menu ul li {
	margin:0px;
	padding:0px 0px 30px;
}


#menu ul li .info {
	margin:0px;
	padding:0px;
	font-size:10px;
	color:#FFFFFF;
}
#menu ul li .info a:link           { color: #FE6F60; text-decoration: none;}
#menu ul li .info a:link:hover     { color: #FF0000; text-decoration: none;}
#menu ul li .info a:link:active    { color: #FE6F60; text-decoration: none;}
#menu ul li .info a:visited        { color: #FE6F60; text-decoration: none;}
#menu ul li .info a:visited:hover  { color: #FF0000; text-decoration: none;}
#menu ul li .info a:visited:active { color: #FE6F60; text-decoration: none;}


#MenuLine {
	width:2px;
	height:661px;
	margin:0px;
	padding:0px;
	background:url(../images/menu_line.gif) no-repeat;
	float:left;
}
