@charset "utf-8";

/* ----------------------------------------
	public_stageshow.html
---------------------------------------- */

.public_stageshow ul {
	width: 640px;
	margin: 14px 0 0 0;
}

.public_stageshow li {
	border-top: #B4B4B4 solid 1px;
	padding: 20px 0;
	line-height: 25px;
}

.public_stageshow li img {
	display: block;
	margin: 0 0 10px 0;
}

.public_stageshow li a {
	color: #E61E5A;
}

.colored{
	color: #e71d59;
}

#pastPhoto img{
	float:left;
	margin-right:10px;
}

#ssSchedule{
	margin-top:10px;
}