body { 
	background-image: url(../../common/img/bg_off04.jpg); 
	background-repeat: no-repeat; 
	background-position: center top; 
	background-attachment: fixed; 
}

#wrapper #contents #bodyBox {
	/*loat: left;*/
	width: 960px;
	position:relative;
	padding:0 0 45px 0;
}
#wrapper #contents #bodyBox h1 {
	padding:33px 0 0 0;
	margin:0 auto;
	width:906px;
}
#wrapper #contents #bodyBox .hopping {
	position:absolute;
	top:722px;
	width: 474px;
	right: 27px;
}
#wrapper #contents #bodyBox .horse {
	position:absolute;
	top:853px;
	width: 474px;
	left: 38px;
}
#wrapper #contents #bodyBox .discus {
	position:absolute;
	top:942px;
	width: 474px;
	right: 27px;
}
#wrapper #contents #bodyBox .hurdles {
	position:absolute;
	top:494px;
	width: 474px;
	right: 27px;
}
#wrapper #contents #bodyBox .rafting {
	position:absolute;
	left:38px;
	top:180px;
	width: 474px;
}

#wrapper #contents #bodyBox .sprint {
	position:absolute;
	top:407px;
	width: 474px;
	left: 38px;
}
#wrapper #contents #bodyBox .trampoline {
	position:absolute;
	top:630px;
	width: 474px;
	left: 38px;
}
#wrapper #contents #bodyBox .unevenbars {
	position:absolute;
	right:27px;
	top:268px;
	width: 474px;
}
#wrapper #contents #bodyBox .other {
	width: 323px;
	float:left;
	display:block;
	padding:929px 0 0 112px;
}
