@charset "utf-8";
/* CSS Document */



.ma0 {
    margin:0 !important;
}

.sp-indent {
    padding-left: 1em;
    text-indent: -1em;
}

.covid19 {
    display: block;
    margin: 25px auto 0px;
}

.covid19 img {
    width: 93.75%;
    margin: auto;
    display: block;
    height: auto;
}
/* ----------------------------------------
    Index
---------------------------------------- */

#main {
    padding-top: 112.4%;
    padding-bottom: 0;
    margin: auto;
    position: relative;
    width: 100%;
    background: url(../img/index/kv.jpg) #fff bottom center no-repeat;
    background-size: contain;
}
#main .kodomohaku {
    display: block;
    position: absolute;
    top: 32.875%;
    right: 1.5625%;
    width: 15.625%;
}
#main #place {
    display: block;
    position: absolute;
    left: 1.875%;
    bottom: 0;
    width: 44.53%;
}

#dateSp {
    margin-top: 20px;
}

.resultSp p {
	text-align: center;
    margin-bottom: 0;
}
.resultSp img {
    margin-top: 2%;
}

section.buyer h3 img {
    width: 78.02%;
    height: auto;
}
section.public h3 img {
    width: 80.44%;
    height: auto;
}

/*------------- Outline -------------*/ 

span.public {
	color: #ff5064;
	font-weight: bold;
}
span.buyer {
	color: #00b4dc;
	font-weight: bold;
}

section.outline dt {
    padding: 2% 2% 0;
    font-weight: bold;
}
section.outline dd {
    padding: 0 2% 2%;
}
section.outline dd p{
    margin: 0;
}
section.outline h2+dl dt:first-child {
    padding-top: 0;
}
section.outline .frame3 {
    margin: 2% 0;
}
section.outline .frame3+dl dd:last-child {
    padding-bottom: 2%;
    margin-bottom: 2%;
}
section.outline dt.gray,
section.outline dd.gray {
    background: #f0f0f0;
}

section li img {
	margin-bottom: 10px;
	display: block;
}

/*------------- Hallmap -------------*/ 

.hallmap_buyer,
.hallmap_public {
    border-bottom: none;
    margin-bottom: 3%;
    padding-top: 0;
    padding-bottom: 5%;
    text-align: center;
}
.hallmap_buyer img,
.hallmap_public img {
    width: 92.6%;
    margin: auto;
}
.hallmap_buyer dd,
.hallmap_public dd {
    text-align: center;
    background: #fff;
    margin: auto;
    padding: 5% 0;
}

/*------------- sp_sidebar -------------*/ 


.sp_sidebar {
    display: block;
    height: auto;
    background: #3c3c3c;
    padding: 6% 0;
}
.sp_sidebar li {
    width: 93.75%;
    margin: 0 auto 6%;
}
.sp_sidebar li:last-child {
	margin-bottom: 0;
}
.sp_sidebar li img {
	display: block;
    width: 100%;
}
