
/***************************************************

GENERAL STYLES:

***************************************************/

body {
  background: url(images/body_bg.gif) repeat-x #737373;
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, Tahoma, Helvetica, Sans-Serif;
  font-size: 100%;
  color: #555;
  text-align: center;  /* CENTERS A CONTAINER DIV IN IE */
}

p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd {
  margin: 0;
  padding: 0;
  text-align: left;
}

a img {
  border: none;
}

abbr, acronym {
  border-bottom: dotted 1px #999;
  cursor: help;
}

.strong {
  font-weight: bold;
}

.em {
  font-style: italic;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
  /*float: right;*/
}

.hide {
  display: none;
}

.highlight {
  color: #FF6B00; /* ORANGE */
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border: none;
  margin: 0;
  padding: 0;
}

/***************************************************

CONTAINER:

***************************************************/

#container {
  width: 780px;
  margin: 0 auto;
  position: relative;
}

/***************************************************

HEADER:

***************************************************/

#header h1 {
  display: none;
}

/***************************************************

MAIN NAV:

***************************************************/

#mainNav {
 background: #F7BF0F; /* GOLD */
 height: 29px;
 margin-top: 14px;
 position: relative;
}

#mainNav ul#nav {
  list-style-type: none;
}

#mainNav ul#nav li {
  display: inline;
}

#mainNav ul#nav li a {
  display: block;
  float: left;
  margin-right: 1em;
}

#mainNav ul#nav li a#conference {
  background: url(images/mainNav-conference.gif) no-repeat;
  background-position: 0 0;
  width: 152px;
  height: 29px;
}

#mainNav ul#nav li a#conference:hover {
  background-position: 0 -29px;
}

#mainNav ul#nav li a#exhibitors {
  background: url(images/mainNav-exhibitors.gif) no-repeat;
  background-position: 0 0;
  width: 101px;
  height: 29px;
}

#mainNav ul#nav li a#exhibitors:hover {
  background-position: 0 -29px;
}

#mainNav ul#nav li a#attendees {
  background: url(images/mainNav-attendees.gif) no-repeat;
  background-position: 0 0;
  width: 97px;
  height: 29px;
}

#mainNav ul#nav li a#attendees:hover {
  background-position: 0 -29px;
}

#mainNav ul#nav li a#media {
  background: url(images/mainNav-media.gif) no-repeat;
  background-position: 0 0;
  width: 97px;
  height: 29px;
}

#mainNav ul#nav li a#media:hover {
  background-position: 0 -29px;
}

#mainNav li a b {
  display: none;
}

/*
CONFERENCE PROGRAM
*/

#conferenceProgram-hover {
  background: #CFDA4B; /* GREEN */
  width: 100%;
  height: 175px;
  display: none;
}

#conferenceProgram-hover .feature-top {
  background: url(images/feature-boxTop-conference.gif) no-repeat;
  width: 342px;
  height: 9px;
}

#conferenceProgram-hover .feature ul.featureNav {
  border-left: solid 14px #CFDA4B; /* GREEN */
}

#mainNav ul#nav li #conferenceProgram-hover .feature ul.featureNav li a:hover {
  background: url(images/bullet-black.gif) no-repeat;
  background-position: center left;
  color: #CFDA4B; /* GREEN */
}

#conferenceProgram-hover .feature-bottom {
  background: url(images/feature-boxBottom-conferenc.gif) no-repeat;
  width: 342px;
  height: 9px;
}

#conferenceProgram-hover .home-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#conferenceProgram-hover .home-link h2 a {
  background: url(images/e3-logo-conference.gif) no-repeat;
  width: 123px;
  height: 37px;
  display: block;
}

#conferenceProgram-hover .home-link h2 a b {
  display: none;
}

/*
EXHIBITORS
*/

#exhibitors-hover {
  background: #9393FE; /* PURPLE */
  width: 100%;
  height: 175px;
  display: none;
}

#exhibitors-hover .feature-top {
  background: url(images/feature-boxTop-exhibitors.gif) no-repeat;
  width: 342px;
  height: 9px;
}

#exhibitors-hover .feature ul.featureNav {
  border-left: solid 14px #9393FE; /* PURPLE */
}

#mainNav ul#nav li #exhibitors-hover .feature ul.featureNav li a:hover {
  background: url(images/bullet-black.gif) no-repeat;
  background-position: center left;
  color: #9393FE; /* PURPLE */
}

#exhibitors-hover .feature-bottom {
  background: url(images/feature-boxBottom-exhibitor.gif) no-repeat;
  width: 342px;
  height: 9px;
}

#exhibitors-hover .home-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#exhibitors-hover .home-link h2 a {
  background: url(images/e3-logo-exhibitors.gif) no-repeat;
  width: 123px;
  height: 37px;
  display: block;
}

#exhibitors-hover .home-link h2 a b {
  display: none;
}

/*
ATTENDEES
*/

#attendees-hover {
  background: #71ADF8; /* BLUE */
  width: 100%;
  height: 175px;
  display: none;
}

#attendees-hover .feature-top {
  background: url(images/feature-boxTop-attendees.gif) no-repeat;
  width: 342px;
  height: 9px;
}

#attendees-hover .feature ul.featureNav {
  border-left: solid 14px #71ADF8; /* BLUE */
}

#mainNav ul#nav li #attendees-hover .feature ul.featureNav li a:hover {
  background: url(images/bullet-black.gif) no-repeat;
  background-position: center left;
  color: #71ADF8; /* BLUE */
}

#attendees-hover .feature-bottom {
  background: url(images/feature-boxBottom-attendees.gif) no-repeat;
  width: 342px;
  height: 9px;
}

#attendees-hover .home-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#attendees-hover .home-link h2 a {
  background: url(images/e3-logo-attendees.gif) no-repeat;
  width: 123px;
  height: 37px;
  display: block;
}

#attendees-hover.home-link h2 a b {
  display: none;
}

/*
MEDIA
*/

#media-hover {
  background: #61DCFF; /* BRIGHT BLUE */
  width: 100%;
  height: 175px;
  display: none;
}

#media-hover .feature-top {
  background: url(images/feature-boxTop-media.gif) no-repeat;
  width: 342px;
  height: 9px;
}

#media-hover .feature ul.featureNav {
  border-left: solid 14px #61DCFF; /* LIGHT BLUE */
}

#mainNav ul#nav li #media-hover .feature ul.featureNav li a:hover {
  background: url(images/bullet-black.gif) no-repeat;
  background-position: center left;
  color: #61DCFF; /* LIGHT BLUE */
}

#media-hover .feature-bottom {
  background: url(images/feature-boxBottom-media.gif) no-repeat;
  width: 342px;
  height: 9px;
}

#media-hover .home-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#media-hover .home-link h2 a {
  background: url(images/e3-logo-media.gif) no-repeat;
  width: 123px;
  height: 37px;
  display: block;
}

#media-hover .home-link h2 a b {
  display: none;
}

/*
DISPLAY HOVER STATE
*/

#mainNav li:hover #conferenceProgram-hover, #mainNav li:hover #exhibitors-hover, #mainNav li:hover #attendees-hover, #mainNav li:hover #media-hover {
  display: block;
  position: absolute;
  top: 29px;
  left: 0;
  z-index: 10;
}

#mainNav ul#nav li:hover a#conference,#mainNav ul#nav li:hover a#exhibitors, #mainNav ul#nav li:hover a#attendees, #mainNav ul#nav li:hover a#media {
  background-position: 0 -29px;
}


/*
HOVER NAV LIST STYLES
*/

#mainNav ul#nav li div ul.left, #mainNav li div ul.right {
  list-style-type: none;
  font-size: 70%;
  margin: 1.5em 1em;
}

#mainNav ul#nav li div ul.left {
  width: 180px;
  float: left;
}

#mainNav ul#nav li div ul.right {
  width: 180px;
  float: left;
  padding-left: 1.5em;
  margin-left: -2em;
  border-left: dotted 1px #737373;
}

#mainNav ul#nav li div li {
  display: block;
}

#mainNav ul#nav li div .left li a, #mainNav ul#nav li div .right li a {
  background: url(images/bullet-black.gif) no-repeat;
  background-position: center left;
  padding-left: 15px;
  color: #000;
  text-decoration: none;
  float: none;
  _height: 15px;
}

#mainNav ul#nav li div li a:hover {
  background: url(images/bullet-white.gif) no-repeat;
  background-position: center left;
}

#mainNav ul#nav li div li a.member {
  background: url(images/lock.gif) no-repeat;
  background-position: center left;
  padding-left: 15px;
  color: #666;
  text-decoration: none;
  float: none;
  _height: 10px;
}

#mainNav ul#nav li div li a.member:hover {
  background: url(images/lock-hover.gif) no-repeat;
  background-position: center left;
  color: #000;
}

/*
FEATURED NAV BOX
*/

.feature-container {
  width: 342px;
  margin-left: 420px;
  margin-top: 10px;
}

.feature {
  background: #000;
  width: 342px;
  _margin-top: -9px;
}

.feature ul.featureNav {
  list-style-type: none;
  font-size: 70%;
  _font-size: 65%;
  margin-left: 5px;
}

#mainNav ul#nav li div .feature ul.featureNav li {
  display: block;
  float: none;
  margin-left: -10px;
  margin-right: 5px;
  _margin-bottom: 0;
  _height: 30px;
}

#mainNav ul#nav li div .feature ul.featureNav li.spacer {
  background: none;
  width: 80%;
  margin-left: 15px;
  height: 1px;
  margin: 3px 0;
  margin-left: 15px;
  _margin-top: -15px;
  _margin-bottom: 5px;
  border-bottom: dotted 1px #FFF;
}

#mainNav ul#nav li div .feature ul.featureNav li a {
  background: url(images/bullet-white.gif) no-repeat;
  background-position: center left;
  color: #FFF;
  float: none;
  text-decoration: none;
  padding-left: 20px;
  _margin: 0;
}

/***************************************************

SEARCH:

***************************************************/

#mainNav #search {
  position: absolute;
  right: 0;
  top: 3px;
}

#mainNav #search p {
  font-weight: bold;
  font-size: 70%;
  text-transform: uppercase;
  color: #000;
}

#search .submitButton {
  width: 14px;
  height: 20px;
  padding: 0;
  border: 0;
  background: url(images/search_btn.gif) no-repeat;
  text-indent: -1000em;
  cursor: pointer;
  cursor: hand; /* for IE 5.x */
}

#search .formField {
  font-family: "Lucida Console", "Lucida Sans", Arial, Verdana, Sans-Serif;
  border: solid 1px #000;
}

/***************************************************

SUBNAV:

***************************************************/

#subNav {
  background: #F7BF0F; /* GOLD */
  width: 100%;
  height: 25px;
  position: relative;
  z-index: 5;
}

#subNav #navTab {
  background: url(images/subNav-tab.gif) no-repeat;
  width: 26px;
  height: 25px;
  float: right;
}

#subNav ul {
  background: #000;
  list-style-type: none;
  float: right;
  text-transform: uppercase;
  font-size: 70%;
  height: 22px;
  padding-top: 3px;
  padding-right: 26px;
}

#subNav li {
  display: inline;
  margin-left: 1em;
}

#subNav li a {
  background: url(images/bullet-white.gif) no-repeat;
  background-position: center left;
  padding-left: 10px;
  color: #FFF;
  text-decoration: none;
}

#subNav li a:hover {
  background: url(images/bullet-orange.gif) no-repeat;
  background-position: center left;
}

#subNav li a.japanese {
  _background-position: 0 3px;
}

#subNav li a.japanese:hover {
  _background-position: 0 3px;
}

#subNav li a.japanese b {
  background: url(images/japanese.gif) no-repeat;
  padding: 9px 20px;
  color: #000;
  font-size: 1px;
}

/***************************************************

UNEVEN TAB FIX (TOP):

***************************************************/

/*
#unevenTab-container-top {
  background: #FFF;
  position: absolute;
  top: 218px;
  left: 0;
  width: 100%;
  height: 25px;
  _height: 28px;
  z-index: 1;
}

#unevenTab-container-top .gray {
  background: #737373;
  width: 50%;
  _width: 49.99%;
  height: 25px;
  _height: 28px;
  float:left;
  position: relative;
  z-index: 2;
}

#unevenTab-container-top .black {
  background: #000;
  width: 50%;
  _width: 50%;
  height: 25px;
  _height: 28px;
  float:left;
  position: relative;
  z-index: 2;
}
*/

/***************************************************

HEADER IMAGE CONTAINER:

***************************************************/

#headerImg {
  width: 780px;
  height: 181px;
  border-bottom: solid 1px #616161;
}

/***************************************************

MAIN CONTENT AREA:

***************************************************/

#mainContent-container {
  background: url(images/mainContent-container-bg.gif) repeat-y;
  width: 780px;
}

#mainContent-container table {
  margin-top: -1px;
}

#mainContent-container td {
  vertical-align: top;
}

#mainContent-container td#main {
  background: url(images/footer-tab.gif) no-repeat;
  background-position: bottom left;
}

#mainContent {
  font-size: smaller;
  line-height: 1.5;
  padding: 14px 50px;
  width: 442px;
  text-align:justify
}

#mainContent p {
  margin: 15px 0;
  text-align: justify;
}

#mainContent h2 {
  color: #FF6B00; /* ORANGE */
  font-size: larger;
  margin-top: 2em;
}

/***************************************************

SIDEBAR:

***************************************************/

#sidebar {
  width: 235px;
  color: #000;
  text-transform: uppercase;
}

/*
PRETERTIARY NAV
*/

#sidebar #pretertiaryNav {
  background: #FF6B00; /* ORANGE */
  padding: 20px 10px;
  border-bottom: solid 1px #FFD552; /* PALE YELLOW */
  _position: relative;
}

#sidebar #pretertiary-top {
  background: url(images/preterNav-top.gif) no-repeat;
  width: 203px;
  height: 5px;
  _position: absolute;
  _top: 26px;
  _left: -101px;
  _z-index: 0;
}

#sidebar #pretertiaryNav ul {
  list-style-type: none;
  font-size: 65%;
  border-left: solid 14px #FFD552; /* PALE YELLOW */
  _margin-left: 6px;
  _margin-top: 10px;
}

#sidebar #pretertiaryNav li {
  margin-left: -10px;
  _position: relative;
  _z-index: 10;
}

#sidebar #pretertiaryNav li a {
  background: url(images/bullet-black.gif) no-repeat;
  background-position: center left;
  padding-left: 15px;
  color: #FFF;
  text-decoration: none;
}

#sidebar #pretertiaryNav li a:hover {
  background: url(images/bullet-white.gif) no-repeat;
  background-position: center left;
}

#sidebar #pretertiaryNav li.spacer {
  background: none;
  width: 80%;
  margin: 10px 5px;
  _margin: 0 5px;
  height: 1px;
  border-bottom: dotted 1px #737373;
  _visibility: hidden;
}

#sidebar #pretertiary-bottom {
  background: url(images/preterNav-bottom.gif) no-repeat;
  width: 203px;
  height: 5px;
}

/*
REG FORM
*/

#sidebar #regForm-top {
  background: url(images/regForm-top.gif) no-repeat;
  width: 203px;
  height: 5px;
  margin: 15px;
  margin-bottom: 0;
  _margin-bottom: -13px;
}

#sidebar #registrationForm {
  background: #FFD552; /* PALE YELLOW */
  width: 203px;
  margin-left: 15px;
  _margin-left: 0;
  font-size: 65%;
}

#sidebar #registrationForm div {
  margin: 0 10px;
  padding: 10px 0;
}

#sidebar #registrationForm p {
  margin: 5px 0;
}

#sidebar #registrationForm .submitButton {
  width: 57px;
  height: 20px;
  padding: 0;
  border: 0;
  background: url(images/regForm-login.gif) no-repeat;
  cursor: pointer;
  cursor: hand; /* for IE 5.x */
}

#sidebar #registrationForm .submitButtonLogout {
  width: 73px;
  height: 20px;
  padding: 0;
  border: 0;
  background: url(images/regForm-logout.gif) no-repeat;
  cursor: pointer;
  cursor: hand; /* for IE 5.x */
}


#sidebar #registrationForm .formField {
  font-family: "Lucida Console", "Lucida Sans", Arial, Verdana, Sans-Serif;
  font-size: 110%;
  font-weight: bold;
  border: solid 1px #000;
}

#sidebar .loggedin {
  padding: 5px 0;
}

#sidebar .loggedin p {
  padding: 0 20px;
  text-transform: none;
  font-size: 1.2em;
}

#sidebar .loggedin a {
  width: 73px;
  height: 20px;
  padding: 0;
  border: 0;
  background: url(images/regForm-logout.gif) no-repeat;
  display: block;
}


#sidebar .loggedin a b {
  display: none;
}

#sidebar #regForm-bottom {
  background: url(images/regForm-bottom.gif) no-repeat;
  width: 203px;
  height: 5px;
  margin-left: 15px;
  _margin-left: 0;
  margin-top: 0;
}

/*
TERTIARY NAV
*/

#sidebar #tertiaryNav {
  padding: 20px 10px;
}

#sidebar #tertiary-top {
  background: url(images/tertiaryNav-top.gif) no-repeat;
  width: 203px;
  height: 5px;
  _margin-bottom: -13px;
}

#sidebar #tertiaryNav ul {
  list-style-type: none;
  font-size: 65%;
  border-left: solid 14px #FFD552; /* PALE YELLOW */
  _margin-left: 6px;
}

#sidebar #tertiaryNav li {
  margin-left: -10px;
}

#sidebar #tertiaryNav li a {
  background: url(images/bullet-black.gif) no-repeat;
  background-position: center left;
  padding-left: 15px;
  color: #000;
  text-decoration: none;
}

#sidebar #tertiaryNav li a:hover {
  background: url(images/bullet-white.gif) no-repeat;
  background-position: center left;
}

#sidebar #tertiaryNav li.spacer {
  background: none;
  width: 80%;
  margin: 10px 5px;
  _margin: 0 5px;
  height: 1px;
  border-bottom: dotted 1px #FFD552;
  _visibility: hidden;
}

#sidebar #tertiary-bottom {
  background: url(images/tertiaryNav-bottom.gif) no-repeat;
  width: 203px;
  height: 5px;
}

#sidebar .adContainer {
  width: 125px;
  height: 125px;
  margin: 10px auto 30px;
  border: solid 0px #000;
}

/***************************************************

UNEVEN TAB FIX (BOTTOM):

***************************************************/

#unevenTab-container-bottom {
  background: #FFF;
  margin-top: -23px;
  width: 100%;
  height: 23px;
  z-index: 1;
}

#unevenTab-container-bottom .gray {
  background: #737373;
  width: 50%;
  _width: 49.99%;
  height: 23px;
  float:left;
}

#unevenTab-container-bottom .black {
  background: #000;
  width: 50%;
  _width: 50%;
  height: 23px;
  float:left;
}

/***************************************************

FOOTER:

***************************************************/

#footer {
  background: #000;
  width: 100%;
  clear: both;
  font-size: x-small;
  color: #BBB;
  position: relative;
  text-align: center;  
}

#footer a {
  color: #BBB;
}

#footer #footer-center {
  width: 780px;
  margin: 0 auto;
}

#footer .adSpace {
  padding: 20px 0 100px;
}

#footer .adContainer {
  width: 234px;
  height: 60px;
  margin: 12px;
  _margin: 10px;
  float: left;
  border: solid 0px #FFF;
}

#footer #fineprint {
  margin-left: 12px;
  padding-bottom: 20px;
  text-align: center; 
}

/*

E3 EXPO | HOME

*/


/***************************************************

BANNER:

***************************************************/

#banner {
  background: url(images/tagline.gif) no-repeat;
  background-position: right;
  width: 780px;
  height: 155px;
  text-align: left;
}

/***************************************************

LOGO:

***************************************************/

#logo h2 a {
  background: url(images/e3-logo.gif) no-repeat;
  width: 123px;
  height: 37px;
  margin-top: 20px;
  _margin-top: 10px;
  display: block;
}

#logo h2 a b {
  display: none;
}

/***************************************************

NEWSBOX:

***************************************************/

#newsBox-container {
  margin-top: 10px;
  _margin-top: 5px;
}

#newsBox-top {
  background: url(images/newsBox-top.gif) no-repeat;
  width: 472px;
  height: 8px;
}

#newsBox {
  border-left: solid 2px #616161;
  border-right: solid 2px #616161;
  width: 467px;
  margin-left: 1px;
  _margin-top: -10px;
}

#newsBox ul {
  list-style-type: none;
  color: #FFF;
  font-weight: bold;
  font-size: 80%;
  margin-left: 5px;
  border-left: solid 14px #737373;
}

#newsBox li {
  background: url(images/bullet-black.gif) no-repeat;
  background-position: center left;
  padding-left: 15px;
  margin-left: -10px;
}

#newsBox li.spacer {
  background: none;
  width: 80%;
  margin-left: 15px;
  height: 1px;
  padding: 2px 0;
  border-bottom: dotted 1px #666;
  _visibility: hidden;
}

#newsBox li i {
  color: #F7BF0F; /* GOLD */
  font-style: normal;
}

#newsBox li b {
  color: #F7BF0F; /* GOLD */
  text-transform: uppercase;
}

#newsBox-bottom {
  background: url(images/newsBox-bottom.gif) no-repeat;
  width: 472px;
  height: 8px;
}

