/*

E3 EXPO | SUB-PAGES | MEDIA

*/

/***************************************************

MAIN CONTENT AREA:

***************************************************/

#mainContent h2 {
  color: #61DCFF; /* LIGHT BLUE */
  font-size: larger;
}

/*
DISPLAY HOVER STATE
*/

#mainNav ul#nav li.active a#media {
  background-position: 0 -29px;
}

#mainNav li.active #media-hover {
  display: block;
  position: absolute;
  top: 29px;
  left: 0;
  z-index: 1;
}