@charset "UTF-8";
header {
  border-bottom: 5px solid #5F84C0; }

#buttons {
  margin-bottom: 15px;
  overflow: hidden; }
  #buttons li {
    width: 207px;
    float: left;
    margin-right: 14px; }
    #buttons li:last-child {
      margin-right: 0; }
      @media only screen and (max-width: 640px) {
        #buttons li:last-child {
          margin-bottom: 0px; } }
    @media only screen and (max-width: 640px) {
      #buttons li {
        width: 100%;
        margin-bottom: 5px; } }
  #buttons li a {
    width: auto;
    display: block;
    background-color: #5fbac0;
    border-bottom: 5px #488e94 solid;
    color: #fff;
    font-size: 12px;
    background-image: url(../../visitor/images/mark01.png);
    background-repeat: no-repeat;
    background-position: center left 7px;
    height: 54px;
    line-height: 50px;
    padding-left: 25px; }
    #buttons li a:hover {
      text-decoration: none; }
  #buttons li:last-child a {
    line-height: 1.4;
    padding-top: 8px; }

.grd-box .title {
  margin-top: 20px;
  font-size: 24px;
  color: #00557f;
  line-height: 1.4;
  border-bottom: 3px solid #5fbac0;
  display: inline-block; }

.grd-box .text {
  margin-top: 15px; }

.grd-box .map {
  margin-top: 30px;
  margin-bottom: 30px; }
  @media only screen and (max-width: 640px) {
    .grd-box .map img {
      width: 100%; } }

.grd-box .small {
  font-size: 12px; }

.grd-box .fleft {
  float: left;
  width: 260px;
  display: inline-block;
  margin-right: 10px; }

.grd-box .white-box {
  width: auto;
  padding: 21px;
  background-color: #fff;
  font-size: 14px;
  margin-top: 15px; }
  .grd-box .white-box a {
    background-image: none;
    color: #00557f !important;
    border-bottom: 0; }

.grd-box table.ticket {
  margin-top: 20px;
  font-size: 12px; }
  .grd-box table.ticket th {
    text-align: center;
    padding: 10px;
    background-color: #5fbac0;
    color: #fff;
    border: 1px solid #becdd3; }
  .grd-box table.ticket td {
    border-bottom: 1px solid #becdd3;
    background-color: #fff;
    padding: 10px; }
    .grd-box table.ticket td p.line {
      padding-top: 5px;
      border-top: 1px solid #becdd3; }
  .grd-box table.ticket td.clm {
    border-right: 1px solid #becdd3;
    background-color: #f3ffff; }

.grd-box.greeting.g01 .image {
  background-image: url(../../visitor/images/greeting01.jpg); }

.grd-box.greeting.g02 {
  margin-top: 30px; }
  .grd-box.greeting.g02 .image {
    background-image: url(../../visitor/images/greeting02.jpg); }
    .grd-box.greeting.g02 .image p {
      padding-top: 70px; }

.grd-box.greeting .image {
  margin-top: 36px;
  width: 590px;
  height: 209px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 15px; }
  @media only screen and (max-width: 640px) {
    .grd-box.greeting .image {
      width: 100%; } }
  .grd-box.greeting .image p {
    padding-top: 56px;
    padding-left: 180px; }
    @media only screen and (max-width: 640px) {
      .grd-box.greeting .image p {
        padding-left: 0; } }
  .grd-box.greeting .image .name {
    padding-left: 180px; }
    @media only screen and (max-width: 640px) {
      .grd-box.greeting .image .name {
        padding-left: 0; } }
    .grd-box.greeting .image .name span {
      font-size: 20px;
      display: inline-block;
      padding-left: 10px; }

.grd-box dl.white-box dt {
  border-bottom: #e2e8eb solid 1px;
  font-weight: bold; }

.grd-box dl.white-box dd {
  margin-bottom: 00px; }

.grd-box .red-box {
  border: 5px solid #ff0000;
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
  text-align: center;
  color: #ff0000;
  margin-top: 20px;
  margin-bottom: 20px; }

.grd-box .dot li {
  text-indent: -1em;
  padding-left: 1em;
  margin-bottom: 10px;
  line-height: 1.4; }

.gbox-title {
  font-size: 12px; }

.white-box {
  width: auto;
  padding: 21px;
  background-color: #fff;
  font-size: 14px;
  margin-top: 15px; }

.normal-box {
  padding-top: 20px; }

.n_link {
  padding: 2px 4px 2px 17px;
  background: url(../images/arrow.svg) no-repeat 0px center;
  background-size: auto 50%; }

.b_link {
  padding: 2px 4px 2px 17px;
  background: url(../images/blank.svg) no-repeat 0px center;
  background-size: auto 50%; }

#greeting > div:nth-of-type(2) {
  margin-top: 30px; }

#greeting > div:nth-of-type(3) {
  margin-top: 30px; }

#greeting .white-box2 {
  margin-top: 20px;
  background: transparent -webkit-gradient(linear, left top, right top, from(#e3ebff), color-stop(88%, #e3fefe)) repeat scroll 0 0;
  background: transparent -webkit-linear-gradient(left, #e3ebff 0%, #e3fefe 88%) repeat scroll 0 0;
  background: transparent -o-linear-gradient(left, #e3ebff 0%, #e3fefe 88%) repeat scroll 0 0;
  background: transparent linear-gradient(to right, #e3ebff 0%, #e3fefe 88%) repeat scroll 0 0;
  padding: 30px; }
  @media only screen and (max-width: 640px) {
    #greeting .white-box2 {
      padding: 10px; } }
  #greeting .white-box2 > dl {
    width: 100%;
    display: block;
    overflow: hidden;
    padding-bottom: 30px;
    border-bottom: 1px dotted #707070; }
    @media only screen and (max-width: 640px) {
      #greeting .white-box2 > dl {
        padding-bottom: 10px; } }
    #greeting .white-box2 > dl > dd {
      width: 50%;
      float: left;
      margin-left: 30px; }
      @media only screen and (max-width: 640px) {
        #greeting .white-box2 > dl > dd {
          width: 100%;
          margin-left: 0; } }
      #greeting .white-box2 > dl > dd > dl {
        width: 100%; }
        #greeting .white-box2 > dl > dd > dl > dt {
          width: 100%; }
          #greeting .white-box2 > dl > dd > dl > dt > p {
            font-weight: 500;
            color: #8d8d8d;
            font-size: 13px; }
        #greeting .white-box2 > dl > dd > dl > dd {
          width: 100%;
          margin-top: 30px; }
          @media only screen and (max-width: 640px) {
            #greeting .white-box2 > dl > dd > dl > dd {
              margin-top: 10px; } }
          #greeting .white-box2 > dl > dd > dl > dd > p:nth-of-type(1) {
            font-weight: 500;
            color: #8d8d8d;
            font-size: 13px; }
          #greeting .white-box2 > dl > dd > dl > dd > p:nth-of-type(2) {
            font-weight: 500;
            color: #5a5a5a;
            font-size: 30px;
            line-height: 1; }
            @media only screen and (max-width: 640px) {
              #greeting .white-box2 > dl > dd > dl > dd > p:nth-of-type(2) {
                font-size: 30px; } }
    #greeting .white-box2 > dl > dt {
      width: 30%;
      float: left; }
      @media only screen and (max-width: 640px) {
        #greeting .white-box2 > dl > dt {
          width: 100%; } }
      #greeting .white-box2 > dl > dt > img {
        width: 100%; }
  #greeting .white-box2 > div {
    margin-top: 30px;
    font-weight: 100;
    color: #000;
    font-size: 11px;
    text-align: justify; }
    @media only screen and (max-width: 640px) {
      #greeting .white-box2 > div {
        margin-top: 10px; } }

.sup-h2 {
  font-size: 22px; }

#supporter {
  background-color: #e2e8eb;
  border-radius: 10px;
  padding: 35px;
  margin-top: 20px;
  text-align: justify; }
  @media only screen and (max-width: 640px) {
    #supporter {
      padding: 10px;
      margin-top: 10px; } }
  #supporter > dl {
    width: 100%;
    overflow: hidden;
    display: block;
    margin-top: 20px; }
    @media only screen and (max-width: 640px) {
      #supporter > dl {
        margin-top: 10px; } }
    #supporter > dl > dt {
      font-size: 13px;
      color: #4f4552;
      font-family: "A-OTF UD新ゴ Pro DB", sans-serif; }
    #supporter > dl > dd {
      margin-top: 10px;
      font-size: 13px;
      color: #4f4552;
      font-family: "A-OTF UD新ゴ Pro R", sans-serif; }
  #supporter > dl:nth-of-type(1) {
    margin-top: 0; }
    #supporter > dl:nth-of-type(1) > dt {
      font-size: 15px;
      padding-bottom: 5px;
      border-bottom: 2px #fff solid; }
      @media only screen and (max-width: 640px) {
        #supporter > dl:nth-of-type(1) > dt {
          font-size: 13px; } }
    #supporter > dl:nth-of-type(1) > dd {
      font-size: 13px; }
  #supporter > div {
    width: 100%;
    margin-top: 20px; }
    @media only screen and (max-width: 640px) {
      #supporter > div {
        margin-top: 10px; } }
    #supporter > div img {
      width: 100%; }
