@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;400;500;700;800&display=swap");
body::before {
  background: none;
}

@media screen and (max-width: 768px) {
  #under header .inner {
    text-align: left;
  }
  #under header .sclogoimg.topKvlogo {
    max-width: 391px;
    width: 38%;
    padding: 2% 4%;
  }
}

@media screen and (min-width: 769px) {
  #under header .headerNavi:not(.scrollOn) .topMainlogo {
    max-width: 391px;
    width: 12.5%;
  }
}

@media screen and (max-width: 768px) {
  #under #contents .title {
    margin-bottom: 8%;
  }
}

#under #contents .title::after {
  bottom: -30px;
}

@media screen and (max-width: 768px) {
  #under #contents .title::after {
    bottom: -22%;
  }
}

#under #contents .inner {
  max-width: 1920px;
  min-width: 1280px;
}

@media screen and (min-width: 1920px) {
  #under #contents .inner {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #under #contents .inner {
    max-width: inherit;
    min-width: inherit;
    width: 100%;
  }
}

#under #contents .overviewWrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #under #contents .overviewWrap {
    width: 96%;
  }
}

#under #contents .overviewWrap.-two {
  margin-top: 100px;
}

#under #contents .overviewWrap .ovTitle {
  margin-bottom: 2%;
  font-size: 4.6rem;
}

@media screen and (max-width: 768px) {
  #under #contents .overviewWrap .ovTitle {
    font-size: 6.0rem;
    text-align: center;
  }
}

#under #contents .overviewWrap .ovTxt {
  font-size: 2.5rem;
  text-align: left;
  text-shadow: 0px 0px 18px #00076a;
}

@media screen and (max-width: 768px) {
  #under #contents .overviewWrap .ovTxt {
    font-size: 4rem;
  }
}

.modeWrap .modeslickbox {
  /*position: relative;
  @include defwsize;*/
}

.modeWrap .modeslickbox h3 {
  position: relative;
  z-index: 10;
  max-width: 1030px;
  margin: auto;
  font-size: 5rem;
}

.modeWrap .modeslickbox h3 > span {
  display: block;
  max-width: 857px;
  width: 84%;
  background: url(../images/mode/mode-title-bg.png) left center no-repeat;
  background-size: 100% auto;
  text-align: center;
  font-weight: 800;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .modeWrap .modeslickbox h3 {
    font-size: 6.5rem;
  }
  .modeWrap .modeslickbox h3 > span {
    width: 100%;
  }
}

.modeWrap .modeslickbox .modeTxtbox {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1%;
  max-width: 1160px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .modeWrap .modeslickbox .modeTxtbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
}

.modeWrap .modeslickbox .modeTxtbox .boxside-txt,
.modeWrap .modeslickbox .modeTxtbox .boxside-img {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .modeWrap .modeslickbox .modeTxtbox .boxside-txt {
    margin-top: 12vw;
  }
}

.modeWrap .modeslickbox .modeTxtbox .boxside-txt .rotateInner {
  width: 80%;
  margin: auto;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .modeWrap .modeslickbox .modeTxtbox .boxside-txt .rotateInner {
    width: 95%;
  }
}

.modeWrap .modeslickbox .modeTxtbox .boxside-txt .rotateInner.deg01 {
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.modeWrap .modeslickbox .modeTxtbox .boxside-txt .rotateInner.deg02 {
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}

.modeWrap .modeslickbox .modeTxtbox .boxside-txt .txtBox {
  padding: 3% 4% !important;
  margin-bottom: 4%;
  height: 94%;
}

.modeWrap .modeslickbox .modeTxtbox .boxside-txt .txtBox p {
  -webkit-font-smoothing: antialiased;
  /* font */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.modeWrap .modeslickbox .modeTxtbox .boxside-img .thumBox {
  position: relative;
  padding-top: 2%;
  padding-bottom: 19%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .modeWrap .modeslickbox .modeTxtbox .boxside-img .thumBox {
    padding-bottom: 0;
  }
}

.modeWrap .modeslickbox .modeTxtbox .boxside-img .thumBox .thumimg {
  position: relative;
  display: inline-block;
  max-width: 346px;
  width: 62%;
}

.modeWrap .modeslickbox .modeTxtbox .boxside-img .thumBox .thumimg:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.8;
}

.modeWrap .modeslickbox .modeTxtbox .boxside-img .thumBox .thumimg.thumimg01 {
  left: -12%;
  display: block;
  margin-bottom: -19%;
}

.modeWrap .modeslickbox .modeTxtbox .boxside-img .thumBox .thumimg.thumimg02 {
  left: 43%;
}

@media screen and (max-width: 768px) {
  .modeWrap .modeslickbox .modeTxtbox .boxside-img .thumBox .thumimg {
    max-width: unset;
    width: 51%;
  }
  .modeWrap .modeslickbox .modeTxtbox .boxside-img .thumBox .thumimg.thumimg01, .modeWrap .modeslickbox .modeTxtbox .boxside-img .thumBox .thumimg.thumimg02 {
    display: inline-block;
  }
  .modeWrap .modeslickbox .modeTxtbox .boxside-img .thumBox .thumimg.thumimg01 {
    left: 0;
    margin-right: -3%;
  }
  .modeWrap .modeslickbox .modeTxtbox .boxside-img .thumBox .thumimg.thumimg02 {
    left: initial;
    right: 0;
    position: absolute;
    top: 15vw;
  }
}

.modeWrap .modeslickbox .modeTxtbox .boxside-img.clmOnly .thumBox .thumimg {
  max-width: 655px;
  width: 100%;
}

.modeWrap .modeslickbox.modeslickbox02 h3 > span {
  margin-left: 164px;
}

@media screen and (max-width: 1920px) {
  .modeWrap .modeslickbox.modeslickbox02 h3 > span {
    margin-left: 17%;
  }
}

@media screen and (max-width: 1280px) {
  .modeWrap .modeslickbox.modeslickbox02 h3 > span {
    margin-left: 94px;
  }
}

@media screen and (max-width: 768px) {
  .modeWrap .modeslickbox.modeslickbox02 h3 > span {
    margin-left: 0px;
  }
}

.modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-txt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
}

.modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-img .thumBox {
  text-align: right;
}

.modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-img .thumBox .thumimg.thumimg01 {
  left: initial;
  right: -50%;
  margin-bottom: -17%;
  z-index: 9;
}

.modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-img .thumBox .thumimg.thumimg02 {
  left: initial;
  right: 43%;
  z-index: 8;
}

.modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-img .thumBox .thumimg.thumimgOnly {
  right: -12%;
}

@media screen and (max-width: 768px) {
  .modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-img .thumBox .thumimg:not(.thumimgOnly) {
    max-width: unset;
    width: 51%;
  }
  .modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-img .thumBox .thumimg.thumimg01, .modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-img .thumBox .thumimg.thumimg02 {
    display: inline-block;
  }
  .modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-img .thumBox .thumimg.thumimg01 {
    left: 0;
    margin-right: -3%;
  }
  .modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-img .thumBox .thumimg.thumimg02 {
    left: initial;
    right: 0;
    position: absolute;
    top: 15vw;
  }
}

@media screen and (max-width: 768px) {
  .modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-txt.clmOnly {
    margin-top: -1vw;
  }
  .modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-img .thumBox {
    text-align: left;
  }
  .modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-img .thumBox .thumimg a {
    display: block;
  }
  .modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-img .thumBox .thumimg.thumimg01 {
    right: initial;
    margin-bottom: 0;
  }
  .modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-img .thumBox .thumimg.thumimg02 {
    left: initial;
    right: 0;
  }
  .modeWrap .modeslickbox.modeslickbox02 .modeTxtbox.modeTxtbox02 .boxside-img .thumBox .thumimg.thumimgOnly {
    right: 0;
    max-width: unset;
    text-align: center;
  }
}

.modeWrap .modeSlickslider {
  position: relative;
}

.modeWrap .modeSlickslider .slick-prev, .modeWrap .modeSlickslider .slick-next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 10;
}

.modeWrap .modeSlickslider .slick-prev {
  left: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modeWrap .modeSlickslider .slick-next {
  right: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .modeWrap .modeSlickslider .slick-prev, .modeWrap .modeSlickslider .slick-next {
    width: 8%;
    top: 60%;
  }
  .modeWrap .modeSlickslider .slick-prev {
    left: 0;
  }
  .modeWrap .modeSlickslider .slick-next {
    right: 0;
  }
}

.modeWrap .modeSlickslider .slide-dots {
  max-width: 900px;
  width: 86%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .modeWrap .modeSlickslider .slide-dots {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .modeWrap .modeSlickslider .slide-dots {
    width: 80%;
  }
}

.modeWrap .modeSlickslider .slide-dots li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 20px;
  text-indent: -99999px;
  background: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modeWrap .modeSlickslider .slide-dots li {
    width: 20px;
    height: 20px;
  }
}

.modeWrap .modeSlickslider .slide-dots li:last-child {
  margin-right: 0;
}

.modeWrap .modeSlickslider .slide-dots li button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  -moz-appearance: none;
}

.modeWrap .modeSlickslider .slide-dots li.slick-active {
  z-index: 10;
  position: relative;
}

.modeWrap .modeSlickslider .slide-dots li.slick-active::after {
  content: "";
  background: #eb1214;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  z-index: 15;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .modeWrap .modeSlickslider .slide-dots li.slick-active::after {
    width: 14px;
    height: 14px;
  }
}

.aboutWrap .rotateInner {
  width: 80%;
  margin: auto;
}

@media screen and (min-width: 769px) {
  .aboutWrap .rotateInner .txtBox p {
    height: 9em;
    line-height: 1.5;
  }
}

@media screen and (max-width: 768px) {
  .aboutWrap .rotateInner {
    width: 95%;
  }
}

.aboutWrap .rotateInner.deg01 {
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.aboutWrap .rotateInner.deg02 {
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSliderNavWrap {
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.aboutWrap .stitleSliderNav {
  background: url(../images/about/about-nav-bg.png) bottom center no-repeat;
  background-size: 100% auto;
  padding: 0 4%;
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSliderNav {
    width: 170%;
  }
}

.aboutWrap .stitleSliderNav li {
  cursor: pointer;
  display: inline-block;
  width: calc(100% / 4);
}

.aboutWrap .stitleSlickslider .slick-list {
  position: relative;
  z-index: 9;
}

.aboutWrap .stitleSlickslider .stitleslickboxBg {
  position: relative;
}

.aboutWrap .stitleSlickslider .stitleslickboxBg::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background-image: url(../images/about/about-line-h.png), url(../images/about/about-line-f.png), url(../images/ichimatsu-cover.png);
  background-position: top center,bottom center,center center;
  background-repeat: no-repeat,no-repeat,repeat;
  background-size: 100% auto,100% auto,60px 60px;
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSlickslider .stitleslickboxBg::before {
    background-size: 200% auto,200% auto,60px 60px;
  }
}

.aboutWrap .stitleSlickslider .stitleslickbox.stitleslickbox01 .stitleslickboxBg .youtubeWrap {
  background-image: url(../images/about/about-titlebg-sonic.jpg);
}

.aboutWrap .stitleSlickslider .stitleslickbox.stitleslickbox02 .stitleslickboxBg .youtubeWrap {
  background-image: url(../images/about/about-titlebg-soniccd.jpg);
}

.aboutWrap .stitleSlickslider .stitleslickbox.stitleslickbox03 .stitleslickboxBg .youtubeWrap {
  background-image: url(../images/about/about-titlebg-sonic2.jpg);
}

.aboutWrap .stitleSlickslider .stitleslickbox.stitleslickbox04 .stitleslickboxBg .youtubeWrap {
  background-image: url(../images/about/about-titlebg-sonic3.jpg);
}

.aboutWrap .stitleSlickslider .stitleslickbox .stitleslickboxInner {
  position: relative;
  max-width: 1280px;
  margin: auto;
  padding: 5% 0;
  z-index: 6;
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSlickslider .stitleslickbox .stitleslickboxInner {
    overflow: hidden;
  }
}

.aboutWrap .stitleSlickslider .stitleslickbox h3 {
  position: relative;
  z-index: 9;
  max-width: 517px;
  width: 40%;
  background: url(../images/about/about-logo.bg.png) center center no-repeat;
  background-size: 100% auto;
  background-position: 0 70%;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSlickslider .stitleslickbox h3 {
    max-width: 517px;
    width: 74%;
    margin: 0 auto -11%;
  }
}

.aboutWrap .stitleSlickslider .stitleslickbox .stitleThumimg {
  position: relative;
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSlickslider .stitleslickbox .stitleThumimg {
    display: block;
    width: 97%;
    margin: auto;
  }
  .aboutWrap .stitleSlickslider .stitleslickbox .stitleThumimg.deg01 {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  .aboutWrap .stitleSlickslider .stitleslickbox .stitleThumimg.deg02 {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

.aboutWrap .stitleSlickslider .stitleslickbox .stitleThumimg a {
  background: black;
}

.aboutWrap .stitleSlickslider .stitleslickbox .stitleThumimg a:hover .movieThumimg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.5;
}

.aboutWrap .stitleSlickslider .stitleslickbox .stitleThumimg .moviePlayimg {
  position: absolute;
  width: 20%;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.aboutWrap .stitleSlickslider .stitleslickbox .stitleThumimg .movieThumimg {
  position: relative;
  z-index: 5;
}

.aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  z-index: 4;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox {
    margin-top: 25vw;
  }
}

.aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox .charaimg {
  top: 0;
  bottom: 0;
  margin: auto;
}

.aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox .chara-eggman {
  position: absolute;
  top: 10%;
  left: 0;
  right: -2%;
  max-width: 565px;
  width: 44%;
  -webkit-transform: translateX(-49%);
          transform: translateX(-49%);
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox .chara-eggman {
    top: -27vw;
    left: -13vw;
    width: 81%;
    right: initial;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

.aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox .chara-sonic {
  position: absolute;
  left: 0;
  right: 0;
  top: -21%;
  max-width: 339px;
  width: 27%;
  -webkit-transform: translateX(39%);
          transform: translateX(39%);
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox .chara-sonic {
    top: -86vw;
    right: 3vw;
    width: 47%;
    left: initial;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

.aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox .chara-msonic {
  position: absolute;
  top: -1%;
  left: 0;
  right: 0;
  max-width: 565px;
  width: 23%;
  -webkit-transform: translateX(-87%);
          transform: translateX(-87%);
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox .chara-msonic {
    top: -58vw;
    left: 6vw;
    right: initial;
    width: 40%;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

.aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox .chara-amy {
  position: absolute;
  left: 0;
  right: 0;
  top: -18%;
  max-width: 299px;
  width: 24%;
  -webkit-transform: translateX(39%);
          transform: translateX(39%);
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox .chara-amy {
    top: -91vw;
    left: initial;
    right: 4vw;
    width: 40%;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

.aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox .chara-tails {
  position: absolute;
  top: -12%;
  left: 0;
  right: 5%;
  max-width: 433px;
  width: 34%;
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox .chara-tails {
    top: -35vw;
    width: 61%;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

.aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox .chara-knuckles {
  position: absolute;
  left: 0;
  right: 0;
  top: -10%;
  max-width: 372px;
  width: 30%;
  -webkit-transform: translateX(-14%);
          transform: translateX(-14%);
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSlickslider .stitleslickbox .stitleCharabox .chara-knuckles {
    top: -66vw;
    width: 52%;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

.aboutWrap .stitleSlickslider .stitleslickbox .rotateInner {
  pointer-events: none;
  position: relative;
  z-index: 5;
  padding-top: 25%;
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSlickslider .stitleslickbox .rotateInner {
    padding-top: 54vw;
  }
}

.aboutWrap .stitleSlickslider .slick-prev, .aboutWrap .stitleSlickslider .slick-next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 10;
}

.aboutWrap .stitleSlickslider .slick-prev {
  left: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.aboutWrap .stitleSlickslider .slick-next {
  right: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .aboutWrap .stitleSlickslider .slick-prev, .aboutWrap .stitleSlickslider .slick-next {
    width: 8%;
    top: 55%;
  }
  .aboutWrap .stitleSlickslider .slick-prev {
    left: 0;
  }
  .aboutWrap .stitleSlickslider .slick-next {
    right: 0;
  }
}

.videoWrap #contents .title {
  margin: 0 auto 8%;
}

.videoWrap .videoListWrap .inner {
  max-width: 1280px !important;
}

.videoWrap .videoListWrap .videoList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 1%;
}

.videoWrap .videoListWrap .videoList li {
  width: calc(84% / 3);
  margin-right: 8%;
  margin-bottom: 6%;
}

@media screen and (min-width: 769px) {
  .videoWrap .videoListWrap .videoList li:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .videoWrap .videoListWrap .videoList li {
    width: calc(95.5% / 2);
    margin-right: 4%;
    margin-bottom: 6%;
  }
  .videoWrap .videoListWrap .videoList li:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (max-width: 414px) {
  .videoWrap .videoListWrap .videoList li {
    font-size: 3.2rem;
  }
}

.videoWrap .videoListWrap .videoList li a {
  border: 5px solid #ffffff;
  -webkit-box-shadow: 6px 6px 0 #000000;
          box-shadow: 6px 6px 0 #000000;
  background: black;
  position: relative;
}

@media screen and (max-width: 768px) {
  .videoWrap .videoListWrap .videoList li a {
    border: 3px solid #ffffff;
    -webkit-box-shadow: 3px 3px 0 #000000;
            box-shadow: 3px 3px 0 #000000;
  }
}

.videoWrap .videoListWrap .videoList li a:hover .movieThumimg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.5;
}

.videoWrap .videoListWrap .videoList li .moviePlayimg {
  position: absolute;
  width: 26%;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.videoWrap .videoListWrap .videoList li .movieThumimg {
  position: relative;
  z-index: 5;
}

.videoWrap .videoListWrap .videoList li p {
  font-weight: 500;
  line-height: 1.8;
  margin-top: 3%;
}

@media screen and (max-width: 768px) {
  .videoWrap .videoListWrap .videoList li p {
    line-height: 1.6;
  }
}

.videoWrap .videoListWrap .videoList li p span {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, #000000));
  background: linear-gradient(transparent 0%, #000000 0%);
}

.guideWrap .inner {
  max-width: 1280px !important;
}

.guideWrap .guideContWrap {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 980px;
  margin: auto;
  position: relative;
}

.guideWrap .guideContWrap .side-l {
  width: 42%;
}

.guideWrap .guideContWrap .side-l > div {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.guideWrap .guideContWrap .side-l img {
  width: 90%;
}

.guideWrap .guideContWrap .side-r {
  width: 58%;
}

@media screen and (max-width: 768px) {
  .guideWrap .guideContWrap {
    display: block;
  }
  .guideWrap .guideContWrap .side-l {
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 3%;
  }
  .guideWrap .guideContWrap .side-l > div {
    position: relative;
  }
  .guideWrap .guideContWrap .side-l img {
    position: relative;
    top: 0;
    width: 90%;
    margin: auto;
  }
  .guideWrap .guideContWrap .side-r {
    position: relative;
    width: 100%;
    padding: 0 4%;
  }
}

.guideWrap .guideContWrap .packageDetail section {
  margin: auto;
  background: #000000;
  margin-top: 2%;
}

.guideWrap .guideContWrap .packageDetail section .sectionInner {
  margin: 0 3%;
  padding: 3% 0 5%;
}

.guideWrap .guideContWrap .packageDetail section .sectionInner:nth-of-type(n + 2) {
  margin-top: 6%;
  border-top: 1px solid #ffffff;
  padding-top: 3%;
}

.guideWrap .guideContWrap .packageDetail h3 {
  font-size: 148%;
  font-weight: 900;
  padding: 4px;
  letter-spacing: -0.1rem;
  text-shadow: 4px 3px 0 #000000;
  background: url(../images/guide/guide-title-bg.png) top center no-repeat;
  background-size: 100% auto;
}

@media screen and (max-width: 768px) {
  .guideWrap .guideContWrap .packageDetail h3 {
    padding: 0 1%;
    background-repeat: repeat-y;
  }
}

.guideWrap .guideContWrap .packageDetail .ovview {
  color: #ffd250;
  font-size: 132%;
}

.guideWrap .guideContWrap .packageDetail .ovview .price {
  color: #ffffff;
  display: block;
  font-size: 80%;
}

.guideWrap .guideContWrap .packageDetail .package {
  margin: 5% 0;
  padding: 8% 0;
  background-image: url(../images/guide/giza-line-l.png), url(../images/guide/giza-line-l.png);
  background-position: top center,bottom center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.guideWrap .guideContWrap .packageDetail .shopList ul {
  width: 70%;
  margin: auto;
}

.guideWrap .guideContWrap .packageDetail .shopList ul li {
  background: #003cb4;
  text-align: center;
  margin-bottom: 2%;
}

.guideWrap .guideContWrap .packageDetail .shopList ul li.cs {
  background: #999999;
}

.guideWrap .guideContWrap .packageDetail .shopList ul li.cs a {
  pointer-events: none;
}

.guideWrap .guideContWrap .packageDetail .shopList ul li a {
  display: block;
  padding: 3%;
  background: url(../images/guide/btn-arrow.png) right 5% center no-repeat;
}
/*# sourceMappingURL=sub.css.map */