@charset "UTF-8";

/* ===================================
	File Name   : project.css
	Description : Contact Page Layout CSS
	Editors     : NS Sakamoto
	Create Date : 2012/02/15

	Update Description :
		2012/02/14 Append - Basic Styles [Sakurai]
		2012/02/14 File Create
====================================== */

/*========== Style Contents ==========

	1. Individual Redefinition
	2. Project
	3. Asia
	4. Forum2012
	5. Sense2012
	6. AEC
	7. Download Button
	8.  
	*. Clear Release
	
====================================== */





/*===== ■1. Individual Redefinition =====*/
/* Global Navigation */
#GlobalNavi li#BtnExhibit a,
#GlobalNavi li#BtnExhibit a:hover {background-position: -600px -51px;}


/* Title Setting */
h1 em {
	background: url(img/project/ttl_project.jpg) no-repeat;
	width: 851px;
	height: 30px;
}






/*===== ■2. Project =====*/
#Project {
	padding: 0;
}
#Project .btn {
	padding: 20px 0px 30px 0;
	clear: both;
}
#Project .btn li {
	float: left;
	margin-right: 5px;
}
#Project .btn .small {
	padding-top: 10px;
}





/*===== ■3. Asia =====*/
#Asia h2 {
	background: url(img/project/ttl_project_01.jpg) no-repeat;
	width: 881px;
	height: 38px;
}
#Asia p {
	margin: 10px 0px 20px 0px;
}
#Asia .results {
	float: left;
	width: 881px;
	margin: 0;
}
#Asia .results dt{
	float: right;
	width: 272px;
}
#Asia .results dd{
	margin: 0;
	float: left;
	border: 1px solid #B8A6CE;
	padding: 10px;
	width: 560px;
}
#Asia .results dd span{
	margin: 0 0 5px 0;
	display: block;
	padding-top: 0px;
	color: #6B57A3;
	font-weight: bold;
	width: 560px;
}



/*===== ■4. Forum2012 =====*/
#Forum2012 h2 {
	background: url(img/project/ttl_project_02.jpg) no-repeat;
	width: 881px;
	height: 38px;
	margin: 50px 0px 0 0px;
}
#Forum2012 p {
	margin: 10px 0px 20px 0px;
}
#Forum2012 .results {
	float: left;
	width: 881px;
	margin: 0;
}
#Forum2012 .results dt{
	float: right;
	width: 272px;
}
#Forum2012 .results dd{
	margin: 0;
	float: left;
	border: 1px solid #B8A6CE;
	padding: 10px;
	width: 560px;
}
#Forum2012 .results dd span{
	margin: 0 0 5px 0;
	display: block;
	padding-top: 0px;
	color: #6B57A3;
	font-weight: bold;
	width: 560px;
}




/*===== ■5. Sense2012 =====*/
#Sense2012 h2 {
	background: url(img/project/ttl_project_03.jpg) no-repeat;
	width: 881px;
	height: 38px;
	margin: 50px 0px 0 0px;
}
#Sense2012 .results {
	float: left;
	width: 881px;
	margin: 0;
}
#Sense2012 .results dt{
	float: right;
	width: 272px;
	margin: 10px 0 0 0;
}
#Sense2012 .results dd{
	margin: 0;
	float: left;
	padding: 10px 0 0 0;
	width: 580px;
}
#Sense2012 .results dd span{
	margin: 0 20px 5px 0;
	padding-top: 0px;
	width: 177px;
	float: left;
}





/*===== ■6. AEC =====*/
#AEC h2 {
	background: url(img/project/ttl_project_04.jpg) no-repeat;
	width: 881px;
	height: 38px;
	margin: 50px 0px 0 0px;
}
#AEC .results {
	float: left;
	width: 881px;
	margin: 0;
}

#AEC .results dt{
	margin: 0;
	float: left;
	padding: 10px 0 0 0;
	width: 100%;
}
#AEC .results dt span{
	margin: 0 20px 5px 0;
	padding-top: 0px;
	width: 177px;
	float: left;
}
#AEC .results dt strong{
	margin: 0 auto;
	width: 130px;
	padding: 40px 0 0 0;
	display: block;
}
#AEC .results dt em{
	margin: 20px 0 0 0;
	float: right;
	border: 1px solid #B8A6CE;
	padding: 10px;
	width: 660px;
}
#AEC table th{
	margin: 10px 0 0 0;
	width: 200px;
	vertical-align: top;
}
#AEC table td{
	margin: 10px 0 0 0;
	vertical-align: top;
	padding: 0 0 10px 0;
	width: 550px;
}





/*===== ■7. Download Button =====*/
#BtnDownload {
	padding: 0px 0px 0px 40px;
}





/*===== ■8.  =====*/





/*===== ■*.Clear Release  =====*/
#********************** {
	/zoom: 1;
}

#**********************:after {
	content: '';
	display: block;
	clear: both;
}
