@charset "UTF-8";

/* ===================================
	File Name   : rule.css
	Description : Contact Page Layout CSS
	Editors     : NS Sakamoto
	Create Date : 2012/02/15

	Update Description :
		2012/02/14 Append - Basic Styles [Sakurai]
		2012/02/14 File Create
====================================== */

/*========== Style Contents ==========

	1. Individual Redefinition
	2. Rule
	3. Rule Schedule
	4. Rule Guide
	5. Rule Regulation
	6. Download Button
	7.  
	*. Clear Release
	
====================================== */





/*===== ■1. Individual Redefinition =====*/
/* Global Navigation */
#GlobalNavi li#BtnExhibit a,
#GlobalNavi li#BtnExhibit a:hover {background-position: -600px -51px;}


/* Title Setting */
h1 em {
	background: url(img/rule/ttl_rule.jpg) no-repeat;
	width: 851px;
	height: 30px;
}






/*===== ■2. Rule =====*/
#Rule h2 {
	background: url(img/rule/ttl_rule_01.jpg) no-repeat;
	width: 881px;
	height: 38px;
}
#Rule p {
	margin: 10px 0px 20px 0px;
}

#Rule ul#pdf_list {
	background: none;
	margin: 0px 0px 20px 20px;
	padding: 5px 0px 20px;
}

#Rule ul#pdf_list li {
	float: left;
	padding: 0px 4px 0px 25px;
	display: block;
	background: url(img/rule/pdf_icon.jpg) no-repeat 0px 0px;
	width: 810px;
	border-bottom: 1px dotted #eeeeee;
	height: 25px;
	margin: 0 0 10px 0;
}


/*===== ■3. Rule Schedule =====*/
#RuleSchedule h2 {
	background: url(img/rule/ttl_rule_02.jpg) no-repeat;
	width: 881px;
	height: 38px;
}

#RuleSchedule p {
	margin: 10px 0px 20px 0px;
}





/*===== ■4. Rule Guide =====*/
#RuleGuide h2 {
	background: url(img/rule/ttl_rule_03.jpg) no-repeat;
	width: 881px;
	height: 38px;
}

#RuleGuide p {
	margin: 10px 0px 20px 0px;
}
#RuleGuide p span{
	color: #005898;
	font-weight: bold;
}
#RuleGuide p img {
	margin: 10px 0 0 0;
}
#RuleGuide dl{
	margin: 0;
	padding: 10px;
	width: 880px;
	background-color: #F3F3F3;
}
#RuleGuide dt{
	margin: 0;
	padding: 10px 10px 5px 10px;
}
#RuleGuide dt span{
	margin: 0 0 7px 0;
	display: block;
	padding-top: 0px;
	width: 560px;
}
#RuleGuide dt ul{
	margin: 0;
	padding-top: 0px;
}
#RuleGuide dt ul li{
	margin: 0 0 5px 0;
	padding-top: 0px;
	width: 800px;
}
#RuleGuide dt li span{
	margin: 0 0 3px 0;
	width: 800px;
	background-image: url(img/rule/kaitei_icon.jpg);
	background-repeat: no-repeat;
	padding: 0 0 5px 50px;
	border-bottom: 1px dotted #cccccc;
	color: #FF0000;
}





/*===== ■5. Rule Regulation =====*/
#RuleRegulation h2 {
	background: url(img/rule/ttl_rule_04.jpg) no-repeat;
	width: 881px;
	height: 38px;
}

#RuleRegulation p {
	margin: 10px 0px 20px 0px;
}
#RuleRegulation p span{
	color: #005898;
	font-weight: bold;
}



/*===== ■6. Download Button =====*/
#BtnDownload {
	padding: 0px 0px 0px 40px;
}





/*===== ■7.  =====*/
#RuleKikaku dl {
	margin: 10px 0px 0 0;
	padding: 10px 14px;
	width: 880px;
	font-size: 108%;
	background-color: #F3F3F3;
}




/*===== ■*.Clear Release  =====*/
#********************** {
	/zoom: 1;
}

#**********************:after {
	content: '';
	display: block;
	clear: both;
}
