@charset "utf-8";

/* ----------------------------------------------------
作成日: 2015.01.22
最終更新日: 2015.02.03

mobile.css： 共通設定(スマートフォン版)
---------------------------------------------------- */
html{
	height:100%;
	background:#0093ff;
}

body{
	height:100%; 
	font-size:10px!important;
	font-family:"メイリオ", "ＭＳ Ｐゴシック", sans-serif;
	-webkit-text-size-adjust: 100%;
	line-height:1.6;
	color:#ffffff;
}



header{
	background:#003399;
	width:100%;
	height:21px;
	border-bottom: 2px solid #0093ff;
}

#header_inner{
	width:320px;
	margin: 0 auto;
}

#header_inner p{
	padding:6px 0 0 15px;
	line-height: 1;
}

article{
	position: static;
}

.bg{
	background:url(../images/common/bg_sp.jpg) no-repeat top center;
	background-size: 100%;
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:50%;
	margin-left:-50%;
	z-index:-1;
}

.wrapper,.about .wrap_h2{
	background:rgba(255,255,255,0.5);
	width:320px;
	margin:0 auto;
}

.about .wrap_h2{
	position: relative;
}


.top_vid{
	background:url(../images/jp/img_video_sp.jpg) no-repeat;
	background-size: contain;
	position: relative;
	width:320px;
	height:160px;
	margin-bottom:5px;
}

.en .top_vid{
	background:url(../images/en/img_video_sp.jpg) no-repeat;
	background-size: contain;
}

.top_vid a{
	position: absolute;
	top:89px;
	left:249px;
	display: block;
}

.top_vid a img{
	width:59px;
	height:65px;

}

.en .top_vid a{
	top:88px;
	left:224px;
}

.en .top_vid a img{
	width:89px;
	height:65px;
}

h1{
	line-height:0;
}

h1,h2,h3{
	text-indent:-9999px;
}

.social {
	margin:0 auto;
	padding-bottom:10px;
	width:300px;
	height:25px;
}

.social li{
	float:left;
	padding-bottom: 5px;
	height:20px;
	width:100px;
}

.social li.facebook,.social li.twitter{
	width:105px;
}

.social li.line{
	width:90px;
}
.catch span{
	display:block;
	background:url(../images/jp/txt_catch_sp.png) no-repeat;
	background-size: contain;
	text-indent:-9999px;
	width:310px;
	height:63px;
	margin:0 auto 5px;
}

.en .catch span{
	background:url(../images/en/txt_catch_sp.png) no-repeat;
	background-size: contain;
	width:323px;
	height:35px;
}

.pre_register{
	position: relative;
	background:url(../images/common/bg_pre_register_sp.png) no-repeat;
	background-size:contain;
	width:310px;
	height:282px;
	margin:0 auto;
	padding-bottom:10px;
}

.pre_register h2{
	position: absolute;
	background:url(../images/jp/title_pre_register_sp_01.png) no-repeat;
	background-size:contain;
	width:223px;
	height:70px;
	top:2px;
	left:49px;
}
.pre_register h3{
	position: absolute;
	background:url(../images/jp/title_pre_register_sp_02.png) no-repeat;
	background-size:contain;
	width:181px;
	height:32px;
	top:76px;
	left:63px;
	z-index:1;
}

.pre_register .item img{
	position: absolute;
	width:198px;
	height:198px;
	top:70px;
	left:60px;

}

.pre_register .item .badge{
	width:87px;
	height:87px;
	top:115px;
	left:211px;
	z-index:1;
}

.pre_register .btn_pre img{
	position: absolute;
	display:block;
	width:150px;
	height:46px;
	top:217px;
	left:77px;
}

.pre_register .caution p{
	position: absolute;
	background:url(../images/jp/txt_caution_sp.png) no-repeat;
	background-size:contain;
	display: block;
	text-indent: -9999px;
	width:207px;
	height:11px;
	top:265px;
	left:49px;
}


.app_info{
	background:#ffffff;
	font-size: 12px;
	font-weight: bold;
	color:#000000;
}

.app_info a{
	color:#0033cc;
	text-decoration: none;
}

.app_info .inner{
	width:300px;
	margin:0 auto;
	padding:10px;
}

.app_info h2{
	color:#0033cc;
	line-height: 1.5;
	text-indent:0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin:0 auto 15px;
}

.app_info .info{
	margin-bottom:15px;
}

.app_info dl{
	margin-left:50px;
}

.app_info dt,.app_info dd{
	float:left;
	display:block;
}
.app_info dt{
	margin-left:8px;
	width:54px;
}

.app_info dd{
	width:165px;
}
.en .app_info dl{
	margin-left:20px;
}

.en .app_info dt{
	margin-left:4px;
	width:100px;
}

footer{
	background:#000099;
}

footer a{
	color:#00ffff;
	text-decoration: none;
}

.footer_wrapper{
	width:300px;
	margin:0 auto;
	padding:12px 10px 15px;
}

.footer_wrapper .logo{
	margin-bottom:10px;
}

.footer_wrapper .logo li{
	display:inline-block;
	margin-right:10px;
}
.footer_wrapper .txt{
	line-height:1.5;
	margin-bottom:10px
}

.footer_wrapper .alink{
	margin-bottom:10px;
}

.footer_wrapper .alink li{
	display:inline-block;
	margin-right:2px;
}


/* 404 403 unsupported*/
.others .wrapper {
	padding-bottom:22px;
}

.others .message{
	padding:10px 0 15px;
	color:#000;
	text-align: center;
	font-size:12px;
}

.others .message h2{
	text-indent:0;
	font-size: 20px
}

.others .message a{
	color:#000099;
}

.others .message ul{
	margin-top:10px;
	line-height: 2;
}

.others footer{
	position: static;
	z-index:2;
	background:url(../images/common/bg_foot.gif) repeat-x top center;
	background-size:45px;
	margin-top:-22px;
	padding-top:22px;
	bottom:0;
}

.others .footer_wrapper{
	background-color:#000099;
	width:100%;
	margin:0;
	padding:0;
}

.others .footer_inner{
	width:300px;
	margin:0 auto;
	padding:12px 10px 15px;
}

.others .logo_sega{
	width:60px;
	height:20px;
}

.others .logo_sonic{
	width:52px;
	height:18px;
}