@charset "Shift_JIS";

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ページの基本デザイン用CSS                             */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body {/* ページ全体の設定 */
	background-color: #FFFEFD;
	color: #000000;
	font-family: "Verdana","MS ゴシック","osaka";
}

img  {
    border: none;
    vertical-align: middle;
}

h1   {/* ヘッダー */
	margin: 0px;
	height: 100px;
}	

h2   {
	font-size: 12px;
	text-align:right;
	margin:1em 0px;
}

h3   {/* 各項目見出し部分 */
	color: #FF0066;
	font-size: 14px;
	margin: 10px;
	padding: 10px;
	border-left:solid 10px #225588;
	border-bottom: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	background: url(../img/bg_midashi.html);
	text-align: left;
	clear:both;
	width: 30%;
}

h4   {/* チケBOO用見出し */
	font-size: 14px;
	margin: 10px;
	padding: 10px;
	text-align: left;
	clear:both;
	width: 50%;
	color: #0000FF;
}

p    {/* 本文 */
	font-size: 12px;
	line-height: 150%;
}

em   {
    color: #FF0000;
    font-size: 11px;
    font-style: normal;
}

ul {/* リスト基本 */
   margin: 0px;
   padding: 2px 15px 2px 25px;
   text-align: left;
   font-size: 1em;
   line-height: 160%;
}

li {/* リスト詳細 */
   list-style-type:square;
   color:#000000;
}

hr   {
    border: 1px dotted #C0C0C0;
    margin-bottom: 3px;
}

address {/* フッター */
	font-size: 80%;
	font-style: normal;
	text-align:center;
	border-top: solid 1px #C0C0C0;
	padding-top: 5px;
	margin-top: 15px;
	clear: both;
	line-height: 170%;
}

p img {/* 本文内の画像ファイルに対する指定 */
	margin-right:5px;
}

/* ↓↓リンクの設定↓↓ */

A:link		{color: #225588; text-decoration:none;}
A:visited	{color: #225588; text-decoration:none;}
A:active	{color: #6699FF; text-decoration:underline;}
A:hover		{color: #6699FF; text-decoration:underline;}

/* ↓↓span（文字色やサイズ）設定↓↓ */

span.f10    {
    font-size: 10px;
    color: #000000;
    font-weight: normal;
}

span.f11    {
    font-size: 11px;
    color: #0000FF;
    font-weight: normal;
}

span.red    {
    color: #FF0000;
}

span.red2   {
    color: #FF0000;
    font-size: 14px;
    font-weight: bold;
}

span.blue   {
    color: #0000FF;
    size: 14px;
}

span.orange   {
    color: #FF9900;
}