@charset "utf-8";

/* ****************************************************************** 

	@This stylesheet Information{
		ファイル：base-layout.css
		最終更新：2009年03月06日
		主な内容：基本レイアウト
			1: 基本レイアウト
			2: ナビゲーションメニュー
			3: JS拡張
			3-1: メニュー
			3-1: ツールチップ
			4. ユーティリティ
	}

****************************************************************** */

/*===================================================================
	1: 基本レイアウト
===================================================================*/

.wrapper {
	width: 990px; margin:0 auto;
	/* background: #fff url(../image/common/bg.png) repeat-y top center; */
}
.wrapper_btm {
	width: 990px; height: 10px; margin:0 auto;
	/* background: url(../image/common/bg_btm.png) no-repeat; */
	background: url(../image/common/bg_btm2.png) repeat-x;
}

#header, #nav, #content, #footer {
	width: 970px;
	margin: 0 auto;
}

#header {
	width: 966px; height: 240px;
	/* background: url(../image/common/header.png) no-repeat;*/
	position: relative;
}

#header #superbanner {
	position: absolute;
	top: 43px; left: 121px;
}

#header div.lang {
	width: 100%; height: 1em;
	position: absolute;
	bottom: 10px; text-align: right;
}
#header div.lang a { color:#06b; font-size:14px; padding-right: 0.5em; }
body.ja #header div.lang a.ja,
body.en #header div.lang a.en,
body.ko #header div.lang a.ko,
body.zh #header div.lang a.zh { color: #666; }
#header a.backtohome {
	width: 690px; height: 45px;
	text-indent: -100em; overflow:hidden;
	position: absolute; bottom: 40px; left: 0;
}

#content {
	padding-bottom: 10px;
}

#cmain {
	width: 750px;
	position: relative;
	float: left;
	margin-left: 5px;
	display: inline; /* IE */
/*	background:red; height: 200px; */
}

#csub {
	width: 200px;
	position: relative;
	float: left;
	margin-left: 10px;
	display: inline; /* IE */
/*	background:blue; height: 200px; */
}

#footer {
	font-size: 12px;
	/* border-top: 3px solid #f7f2cd; */
	padding:2px 0 10px 0;
}
#footer span {
	float: left;
	height: 22px; line-height: 22px;
	margin-left: 10px;
	display: inline; /* IE6 */
}
#footer span img {
	position:relative;
	top:8px;
}
#footer span.logo {
	width: 120px; height: 22px;
	background: url(../image/common/icons.png) no-repeat 0 -203px;
}

/* ユーティリティ */
.clinks {
	font-size:12px;
	margin-bottom: 0.5em;
}

.clinks.r {
	text-align: right;
	margin: 0.8em 0;
}

.clinks a {
	color: #900 !important;
	background: url(../image/common/icons.png) no-repeat -96px -291px;
	padding-left: 14px;
	padding-right: 12px;
}

.clinks.r a {
	background-position: -96px -259px;
}

/*===================================================================
	2: ナビゲーションメニュー (content内)
===================================================================*/

#nav {
	width: 970px; height: 80px;
	position: relative;
	z-index: 500;
	margin-bottom: 20px;
	/* background: url(../image/common/nav_notice.png) no-repeat left bottom; */
}

#nav ul.select {
	list-style: none; 
}

#nav ul.select li {
	float: left;
}

#nav ul.select a {
	display: block; 
	height: 42px;
	float: left; 
	background:url(../image/common/menu.png);
	text-indent: -100em;
	overflow: hidden;
}

#nav ul.select li#ni_h {
	width: 16px; height: 42px;
	background:url(../image/common/menu.png) no-repeat 0 0;
}
#nav ul.select li#ni_p {
	width: 54px; height: 42px;
	background:url(../image/common/menu.png) no-repeat -809px 0;
}
#nav ul.select li#ni_f {
	width: 14px; height: 42px;
	background:url(../image/common/menu.png) no-repeat -956px 0;
}

	/* 個別指定 */
	#nav ul.select li#ni01 a { width: 61px;  background-position:  -16px 0; }
	#nav ul.select li#ni02 a { width: 109px; background-position:  -77px 0; }
	#nav ul.select li#ni03 a { width: 122px; background-position: -186px 0; }
	#nav ul.select li#ni04 a { width: 150px; background-position: -308px 0; }
	#nav ul.select li#ni05 a { width: 110px; background-position: -458px 0; }
	#nav ul.select li#ni06 a { width: 133px; background-position: -568px 0; }
	#nav ul.select li#ni07 a { width: 108px; background-position: -701px 0; }
	#nav ul.select li#ni08 a { width:  93px; background-position: -863px 0; }

	#nav ul.select li a:hover {
		cursor:pointer; 
	}
	#nav ul.select li#ni01 a:hover,
	#nav ul.select li#ni01:hover a,
	#nav ul.select li#ni01.active a { background-position:  -16px  -42px; }
	#nav ul.select li#ni02 a:hover,
	#nav ul.select li#ni02:hover a,
	#nav ul.select li#ni02.active a { background-position:  -77px  -42px; }
	#nav ul.select li#ni03 a:hover,
	#nav ul.select li#ni03:hover a,
	#nav ul.select li#ni03.active a { background-position: -186px -42px; }
	#nav ul.select li#ni04 a:hover,
	#nav ul.select li#ni04:hover a,
	#nav ul.select li#ni04.active a { background-position: -308px -42px; }
	#nav ul.select li#ni05 a:hover,
	#nav ul.select li#ni05:hover a,
	#nav ul.select li#ni05.active a { background-position: -458px -42px; }
	#nav ul.select li#ni06 a:hover,
	#nav ul.select li#ni06:hover a,
	#nav ul.select li#ni06.active a { background-position: -568px -42px; }
	#nav ul.select li#ni07 a:hover,
	#nav ul.select li#ni07:hover a,
	#nav ul.select li#ni07.active a { background-position: -701px -42px; }
	#nav ul.select li#ni08 a:hover,
	#nav ul.select li#ni08:hover a  { background-position: -863px -42px; }

	/* disabled items */
	#nav ul.select li#ni02.disabled a { background-position:   -77px -84px; }
	/* #nav ul.select li#ni04.disabled  a { background-position: -308px -84px; } */
	#nav ul.select li#ni06.disabled  a { background-position: -568px -84px; }


#nav ul.sub { display: none; }
#nav ul ul { display: none; }

/* IE6 only */
#nav table {
	border-collapse: collapse; 
	margin: -1px; 
	font-size: 1em; 
	width:0;  height:0;
}

#nav ul.sub {
	list-style: none;
}
#nav ul.sub li {
	background: transparent;
}

#nav ul.select :hover ul.sub,
#nav ul.select li.active ul.sub {
	height: 38px;
	display: block; 
	position: absolute;
	float: left;
	width: 970px;
	top: 42px; 
	left: 0; 
	text-align: center;
	background: #ffd3b3 url(../image/common/submenu_bg.png) repeat-x;
}

#nav ul.select :hover ul.sub li a,
#nav ul.select li.active ul.sub li a {
	float: left;
	width: auto !important; height: 38px;
	line-height: 38px;
	background: url(../image/common/submenu_mark.png) no-repeat left center !important;
	padding: 0 0 0 10px;
	margin: 0 0 0 15px;
	white-space: nowrap;
	color: #333;
	font-size: 14px;
	text-indent: 0em;
	overflow: visible;
	display: inline; /* IE */
}
#nav ul.select :hover ul.sub { z-index: 600; }
#nav ul.select li.active ul.sub { z-index: 550; }


#nav ul.select :hover ul.sub li a:hover,
#nav ul.select :hover ul.sub li:hover,
#nav ul.select li.active ul.sub li.active a {
	color: #c00;
}

/*===================================================================
	3: 拡張
===================================================================*/
/*-------------------------------------------------------------------
	3-1: メニュー (未実装)
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
	3-2: ツールチップ
	class="tips" title="タイトル"
-------------------------------------------------------------------*/

.tooltip {
	font-size: 75%;
	z-index: 13000;
	border: 1px solid #ddd;
	outline: 1px solid #666;
}
 
.tip-title {
	margin: 0;
	color: #ffc;
	padding: 5px 8px;
	background: #333;
}

.tip-title * {
	line-height:1.6;
}

.tip-text {
	display: none;
}


/*===================================================================
	4: ユーティリティ
===================================================================*/
.mt5  { margin-top:  5px; }
.mt10 { margin-top: 10px; }
.mb20 { margin-bottom: 20px; }