@charset "UTF-8";


.dtlBox{
	padding:0;
}


#newsArea dt{
	float:left;
	display:block;
	width:90px;
	padding:15px 0;
	font-weight:bold;
}

#newsArea dd{
	display:block;
	padding:15px 0 15px 112px;
	border-bottom:1px dotted #ccc;
}


ul.downloadList{
	margin:0;
	padding:0;
	list-style:none;
}

ul.downloadList li{
	font-size:12px;
	padding:15px 0;
	font-weight:bold;
	overflow:hidden;
	_zoom:1;
	border-bottom:1px dotted #ccc;
}

ul.downloadList li span.date{
	float:left;
	display:block;
	width:90px;
}

ul.downloadList li span.content{
	float:left;
	display:block;
	width:578px;
	padding:0 0 0 10px;
	font-weight:normal;
}

ul.downloadList li span.me_news{
	float:left;
	display:block;
	width:578px;
	font-weight:normal;
}

.dlBox{
padding:0px;
margin:0px;
text-align:center;
vertical-align:bottom;
}
.dlBox p{
font-size:12px;
font-weight:bold;
padding:0px;
margin:0px;
line-height:150%;
}
.dlBox p span{
padding:0 0 0 10px;
margin:0;
vertical-align:middle;
}

.dlBox p span a{
text-decoration:none;
padding:0;
}

.dlBox p span a img{
position:relative;
top:5px;
}

.contactBox{
background:#f8f8f8;
margin: 0 0 15px;
padding:10px 15px;
border: solid 1px #CCC;
}

.contactBoxTtl{
padding-bottom:5px;
}

.contactBoxTxt{
}
.contactBoxTxt span{
}

#sideBnrArea{
	position:relative;
	padding:8px;
	border:1px solid #d1d1d1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#sideBnrArea a.bwLink{
	display:block;
	padding:0 0 8px 0;
}

#sideBnrArea a.listLink{
	display:block;
	padding:0 0 0 12px;
	background:url(img/ic_sArrow.gif) 0 2px no-repeat;
}

/* メディア登録について */
.mediatopArea{
	margin:0 15px 25px 15px;
	width:690px;
}

.pressArea{
	margin:3px 0 0 0;
	padding:10px 20px 10px 20px;
	background-color:#f1f1f1;
	}
	
.pressTxt{
	padding:0 0 0 0;
	}	
	
.prenoteTxt{
	padding:5px 0 0 0;
	font-size:10px;
	}	
	
.pressMessage{
	color:#cc086b;
	}
	
	
	
	
	
/* プレスリリース追加分 */
ul.downloadListSub{
	margin:0;
	padding:0;
	list-style:none;
}

ul.downloadListSub li{
	font-size:12px;
	padding:5px 0;
	overflow:hidden;
	_zoom:1;
	border-bottom:0;
}

.pressUnder{
	border-bottom:1px dotted #ccc;
}

ul.downloadListSub li span.date{
	float:left;
	display:block;
	width:90px;
}

ul.downloadListSub li span.content{
	float:left;
	display:block;
	width:578px;
	padding:0 0 0 0;
	/*background:url(../common/img/pdficon_small.gif) 0 0 no-repeat;*/
	font-weight:normal;
}
	
	
	
/* 宿泊ページ */
.accLink{
	margin: 20px 0;
	padding:0;
}
	
	
