@charset "utf-8";

/*
===========================================================================

	Title : title.css

===========================================================================
*/


/* *********************************************
*
*	PC view
*	
********************************************* */

#wrapper .cntBox{
	width: 100%;	
}

/*見出し*/

body:not(#index) #wrapper .mainCont h2 span{
	padding: 12px 0 15px 40px;
	background: url(/tgs/2016/business/common/images/ico_h2.png) no-repeat left center;
	background-size: 32px;
	display: inline-block;
}
body:not(#index) #wrapper .mainCont h2:after{
	content:"▼";
	position: absolute;
	left: 480px;
	bottom: -18px;
	display: block;
	font-size: 30px;
	transform: scale( 1 , 0.7 );
	color: #005697;
}

.infoTop{
	width: 100%;
	margin: 20px auto;
	border-bottom: 2px solid #e73351;
	display: table;	
}
.exhibitor{
	font-size: 20px;
	font-weight: bold;
	color: #e73351;	
	display: table-cell;
	vertical-align: bottom;	
}
.category{
	text-align: right;
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
}
.area{
	width: 130px;
	padding: 5px 10px;
	background: #eee;
	position: relative;
	top: 6px;
	display: table-cell;
	vertical-align: bottom;	
	position: relative;
	top: 0px;
	text-align: center;
	font-weight: bold;
}
.area:before{
	content: "小間番号:";	
}

/*ロゴエリア*/

.logo{
	width: 218px;
	margin-right: 20px;	
}
.logo span {
	width: 218px;
	display: block;
}

.logo span img{
    /*border: 1px solid #eee;*/
    display:block;
    margin: 0 auto 20px;
	text-align: center;
}
.copy{
	font-size: 10px;
	line-height: 1.2;
}
.detail{
	width: 700px;	
}

#wrapper .cntBox .boxInner table th{
	padding: 10px 16px;
	text-align: center;
	background:#aaa;
	font-weight: bold;
	color: #fff;
}

#wrapper .cntBox .boxInner table th.ttl { width:268px}
#wrapper .cntBox .boxInner table th.genre { width:117px}
#wrapper .cntBox .boxInner table th.date { width:144px}
#wrapper .cntBox .boxInner table th.platform { width:150px}
#wrapper .cntBox .boxInner table th.vr { width:121px}
#wrapper .cntBox .boxInner table th.other { width:115px}

#wrapper .cntBox .boxInner table {
	margin-bottom: 30px;
}


#wrapper .cntBox .boxInner table tr.pcBlc{
	display: table-row;
}

	

#wrapper .mainCont .title {
	overflow:hidden;
}

#wrapper .mainCont .title h3{
	border-left: 4px solid #e73351;
	float:left;
	color:#e73351;
}
#wrapper .mainCont .title a{
	padding: 14px 14px 14px 26px;
	background: #eee url(/tgs/2016/business/common/images/arrow_bk.png) no-repeat 11px center;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0 2px 0 0 #bfbfbf;
	background-size:4%;
	float: right;
	font-weight:bold;
}

#wrapper .cntBox .boxInner table .bgGr {
	background:#f5f5f5;
}

/*table*/


/*ブース別イベントプログラム*/
#wrapper .cntBox .boxInner ul.program {
	border-bottom: 1px solid #ddd;
}

#wrapper .cntBox .boxInner ul.program li {
	font-size: 15px;
	font-weight: bold;
	border-top :1px solid #ddd;
	padding-top: 20px;
	margin-bottom: 20px;
}


#wrapper .cntBox .boxInner ul.program li dl {
	overflow: hidden;
}

#wrapper .cntBox .boxInner ul.program li dl dt {
	font-size:13px;
	font-weight:bold;
	background: #eee;
	float: left;
	margin-right: 13px;
	width: 68px;
	text-align: center;
}

#wrapper .cntBox .boxInner ul.program li dl.date {
	margin-bottom: 8px;
	margin-top: 15px;
}

#wrapper .cntBox .boxInner ul.program li dl.date dt {
	width: 105px;
	padding: 4px 13px; 
}


#wrapper .cntBox .boxInner ul.program li dl.performer dt {
	width: 105px;
	padding: 4px 13px; 
}


#wrapper .cntBox .boxInner ul.program li dl dd {
	max-width: 810px;
	float: left;
	font-weight: normal;
	padding-top: 3px;
}



.address{
	width: 442px;
}
.tel{
	width: 123px;
}
.fax{
	width: 123px;
}
.mail{
	width: 252px;
}


/* *********************************************
*
*	SP view
*	
********************************************* */

@media screen and (max-width:769px) {

.exhibitor {
	display: block;
	vertical-align: bottom;
	width: 100%;
	margin-top: 2%
}

.category {
	text-align: left;
	display: block;
	vertical-align: bottom;
	font-weight: bold;
	width: 100%;
	margin-bottom: 1%;
}

.area {
	width: auto;
	background: #eee;
	position: static;
	top: 0;
	display: table-header-group;
	margin-bottom: 2%;
}



.detail {
    width: auto;
}

	
#wrapper .cntBox .boxInner table tr td {
	width: 100%;
}
	
#wrapper .cntBox .boxInner table tr td .gr_box{	
	background: #eee;
	padding: 1%;
	width: auto;
	font-weight: bold;
	text-align: center;
	margin-bottom: 2%;
	display: block;
}

#wrapper .cntBox .boxInner table tr {
	margin-bottom: 6%;
	padding-bottom: 2%;
	border-bottom: 1px solid #eee;
	display: block;
}

#wrapper .cntBox .boxInner table tr.pcBlc{
	display:none;
}

#wrapper .mainCont .title {
    overflow: inherit;
}


#wrapper .mainCont .title h3{
	float:none;
	display:block;
}
#wrapper .mainCont .title a{
	float: none;
	display: block;
	width: 95%;
	margin: 0 auto 4%;
	background: #eee url(/tgs/2016/business/common/images/arrow_bk.png) no-repeat 23% center;
	background-size: 2%;
	padding: 4% 4% 4% 7%;
	text-align: center;
}

#wrapper .cntBox .boxInner table .bgGr {
	background:#fff;
}

.detail {
    width: 100%;
	display:block;
}


/*ロゴエリア*/

.logo{
	width:100%;
	margin-right: 0px;	
}

.logo span {
	width: 100%;
}

.logo span img{
    /*border: 1px solid #eee;*/
    margin: 0 auto 20px;
	display: block;
	width: 60%;
}

#wrapper .cntBox .boxInner ul.program li dl.date dt,
#wrapper .cntBox .boxInner ul.program li dl.performer dt,
#wrapper .cntBox .boxInner ul.program li dl dd{
	width: 100%;	
}


/*.address,
.tel,
.fax,
.mail {
	width: auto;
}*/



}



