@charset "UTF-8";
/* contents-movie  ===================================================== */
#contents-action{

}

#contents-action h2{
	font-weight:bolder;
	line-height:1.2em;
	margin:0 0 1em;
	padding:0.5em 10px;
	border-top:#ff0 solid 3px;
	border-bottom:#ff0 solid 3px;
	background:#ffe;
}


#contents-action section div div#act-one{
	background:url(contents-action/act-one.png) no-repeat center top;
	padding:90px 0 0;
}


#contents-action section div div#act-two{
	background:url(contents-action/act-two.png) no-repeat center top;
	padding:90px 0 0;
}

#contents-action section div div{
	margin:0 0 25px;
}
#contents-action section div div div{
	margin:0 10px;
}
