.my_img
{
	max-width: 100px; /* Resize the image for IE6 */
	width: expression(this.width > 500 ? 500: true);
}
.sessionItem
{
	font-family: Arial;
	font-size: 0.8em;
}
.speakerList
{
	padding-top: 50px;
}
.listNav
{
	margin: 0 0 10px 0;
}

.ln-letters
{
	overflow: hidden;
}
.ln-letters a
{
	font-size: 0.9em;
	display: block;
	float: left;
	padding: 2px 6px;
	border: 1px solid silver;
	border-right: none;
	text-decoration: none;
	color: #2ca7c2;
}
.ln-letters a.ln-last
{
	border-right: 1px solid silver;
}
.ln-letters a:hover, .ln-letters a.ln-selected
{
	background-color: #eaeaea;
	color: #2ca7c2;
}
.ln-letters a.ln-disabled
{
	color: #ccc;
}
.ln-letter-count
{
	text-align: center;
	font-size: 0.8em;
	line-height: 1;
	margin-bottom: 3px;
	color: #336699;
}
.listNav li
{
	list-style: none;
	margin-left: -35px;
	margin-left: -35px\9;
	*margin-left: 0px;
}
#selectSpeakers, #selectCompanies
{
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	border: solid 1px #333;
	display: inline-block;
	margin: 5px 0 5px 0;
	color: #333;
	font-weight: bold;
	cursor: pointer;
}
.pointer
{
	cursor: pointer;
}
.dateList
{
	font-weight: bold;
}
.expand
{
	padding: 10px;
}
.center
{
	text-align: center;
}
.border
{
	border: solid 1px #333;
	padding: 10px;
}
.sessionList
{
	margin: 0 0 20px 0px;
	margin: 0 0 20px 0px\9;
	*margin: 0 0 20px 0;
	width: 680px;
}
.companyList .speakerListItem
{
	margin-left: -45px;
}
.companyList .showItem
{
	margin-left: -80px;
}
.companyList .showItem .speakerListItem
{
	margin-left: 0px;
}