@charset "UTF-8";

#Outline {
	background-color: #fff;
	color: #000;
	width: 100%;
}

#Outline dl {
	padding: 2em;
}


#Outline dt {
	width: 200px;
	float: left;
	padding: 0 32px;
}

#Outline dt img {
	width: 80%;
	height: auto;
	padding-bottom: 0.5em;
}

#Outline dt span {
	display: block;
	font-size: 70%;
	line-height: 1.4;
}

#Outline dt span > span {
	padding-left: 3em;
	font-size: 130%;
	text-indent: -3em;
}

#Outline dd {
	border-bottom: 1px solid #aaa;
	min-height: 14em;
	padding: 0 48px 14px 260px;
	font-size: 90%;
}

#Outline dd p.more {
	margin-top: 1.5em;
	text-align: right;
}

#Outline dd p.more a {
	background-color: #0e53a5;
	color: #fff;
	padding: 0.5em 1em;
}

#Outline dt,
#Outline dd {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}