@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size:12px;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", Osaka, "ƒqƒ‰ƒMƒmŠpƒS Pro W3";
	text-align:center;
	border-top:#0095DF solid 6px;
}
ul,ol {
	list-style: none;
}
h1,h2,h3,h4,li,th,td,input,h4 {
	font-size:100%;
}
table {
	width:100%;
}
th,td {
	text-align:left;
	vertical-align:top;
}
input.text {
	border:none;
	padding:2px;
	background:#FFF;
}
textarea {
	font-size:100%;
	padding:2px;
}
.clear {
	clear: both;
	height:0px;
	font-size:0px;
	line-height:0px;
	display: block;
}
label {
	white-space:nowrap;
}
caption {
	text-align:left;
	font-weight:bold;
}
a img {
	border:0px;
}

a {
	text-decoration:none;
	color:#000;
}


