.homepageFlooredContent
{ 
	font-family:arial,verdana,sans-serif;
	font-size:13px;
	color:#000000; 
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;

}

.homepagePhotoPacksContent
{ 
	font-family:arial,verdana,sans-serif;
	font-size:11px;
	color:#dddddd; 
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;

}

.homepageInsideE3Content
{ 
	font-family:arial,verdana,sans-serif;
	font-size:11px;
	color:#dddddd; 
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}

.footerText
{ 
	font-family:arial,verdana,sans-serif;
	font-size:11px;
	color:#9999CC; 
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}

.navigationFloored
{
	font-family:arial,verdana,sans-serif;
	font-size:10px;
	color:#333333;
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}

.navigationFlooredInactive
{
	font-family:arial,verdana,sans-serif;
	font-size:10px;
	color:#747373;
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}

.navigationFlooredDivider
{ 
	font-family:arial,verdana,sans-serif;
	font-size:10px;
	color:#ffffff; 
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}

.flooredContent
{ 
	font-family:arial,verdana,sans-serif;
	font-size:13px;
	color:#000000; 
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;

}

.flooredPhotoCaption
{
	font-family:arial,verdana,sans-serif;
	font-size:11px;
	color:#333366;
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}

.flooredPollHeader
{
	font-family:arial,verdana,sans-serif;
	font-size:11px;
	color:#666666;
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}

.flooredPollContent
{
	font-family:arial,verdana,sans-serif;
	font-size:11px;
	color:#666666;
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}


.fullSizeCaption
{
	font-family:arial,verdana,sans-serif;
	font-size:11px;
	color:#ffffff;
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;

}

.newsroomContent
{ 
	font-family:arial,verdana,sans-serif;
	font-size:13px;
	color:#000000; 
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;

}

.insideE3Content
{ 
	font-family:arial,verdana,sans-serif;
	font-size:13px;
	color:#000000; 
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}

.aboutUsContent
{ 
	font-family:arial,verdana,sans-serif;
	font-size:13px;
	color:#000000; 
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;

}

.contactUsContent
{ 
	font-family:arial,verdana,sans-serif;
	font-size:13px;
	color:#000000; 
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;

}

.navigationInsideE3
{
	font-family:arial,verdana,sans-serif;
	font-size:10px;
	color:#333333;
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}

.navigationInsideE3Inactive
{
	font-family:arial,verdana,sans-serif;
	font-size:10px;
	color:#747373;
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}

.navigationInsideE3Divider
{ 
	font-family:arial,verdana,sans-serif;
	font-size:10px;
	color:#ffffff; 
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}

.videoTitle
{
	font-family:verdana,arial,sans-serif;
	font-size:11px;
	color:#000000;
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}

.videoHosts
{
	font-family:verdana,arial,sans-serif;
	font-size:10px;
	color:#333333;
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}

.enterToWinHeader
{ 
	font-family:verdana,arial,sans-serif;
	font-size:11px;
	color:#111111; 
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}

.enterToWinField
{ 
	font-family:verdana,arial,sans-serif;
	font-size:11px;
	color:#111111; 
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
	background-color : #cccccc;	
}

.sendAnAgent
{ 
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	color:#666666; 
	font-variant : normal;
	letter-spacing : 0px;
	text-decoration:none;
}