P,UL,TD,BODY,OL, BLOCKQUOTE {
	font-family : Arial, Geneva;
	font-size : 9pt;

}

B.small {
	font-family : Arial, Geneva;
	font-size : 8pt;
	font-weight: bold;
}


small {
	font-family : Arial, Geneva;
	font-size : 8pt;
}

.headline2 {
	font-family : Arial, Geneva;
	font-size : 11pt;
	font-weight: bold;
	color : #000000;
	text-decoration : none;
}

.headline {
	font-family : Arial, Geneva;
	font-size : 10pt;
	font-weight: bold;
	color : #000000;
	text-decoration : none;
}

.subnav {
	font-family : Arial, Geneva;
	font-size : 9pt;
	font-weight: bold;
	color : #FFFFFF;
	text-decoration : none;
}

.redbold {
	font-family : Arial, Geneva;
	font-size : 9pt;
	color : #660000;
	text-decoration : bold;
	font-weight: bold;
}

.rednotbold {
	font-family : Arial, Geneva;
	font-size : 9pt;
	color : #CC0000;
}

.ccredbold {
	font-family : Arial, Geneva;
	font-size : 9pt;
	color : #CC0000;
	font-weight: bold;
}


A.small {
	font-family : Arial, Geneva;
	font-size : 8pt;
	color : #660000;
}

A.small:visited {
	font-family : Arial, Geneva;
	font-size : 8pt;
	color : #333333;
}

A.small:active {
	font-family : Arial, Geneva;
	font-size : 8pt;
	color : #ffcc00;
}


A {
	font-family : Arial, Geneva;
	font-size : 9pt;
	color : #660000;
}

A.red {
	font-family : Arial, Geneva;
	font-size : 9pt;
	color : #CC0000;
	font-weight: bold;
}


A.visited {
	font-family : Arial, Geneva;
	font-size : 9pt;
	color : #333333;
}

A.active {
	font-family : Arial, Geneva;
	font-size : 9pt;
	color : #ffcc00;
}

A.tableheader{
	font-family : Arial, Geneva;
	font-size : 9pt;
	color : #ffffff;
}
A.table {
	font-family : Arial, Geneva;
	font-size : 9pt;
	color : #660000;
}
A.black {
	font-family : Arial, Geneva;
	font-size : 9pt;
	color : #000000;
}
.white {
	color:#ffffff;
}

.whitebold {
	color:#ffffff;
	font-weight: bold;
	font-size: 9pt;
	font-family: Arial, Geneva;
	text-decoration: none;
}

.alert {
	font-size : 8pt;
	color: #CC0000;
}

TH {
	background-color: #660000;
	color:#FFFFFF;
	font-family : Arial, Geneva;
	font-size : 9pt;
	font-weight : bold;
}

TH.orange {
	background-color: #FF9900;
	color:#000000;
	font-family : Arial, Geneva;
	font-size : 9pt;
	font-weight : bold;
}

TH.red {
	background-color: #660000;
	color:#FFFFFF;
	font-family : Arial, Geneva;
	font-size : 10pt;
	font-weight : bold;
}

TD.light {
	background-color: #CCCCCC;
	color:#333333;
	font-family : Arial, Geneva;
	font-size : 9pt;
	font-weight : bold;
}

A.light {
	background-color: #CCCCCC;
	color:#660000;
	font-family : Arial, Geneva;
	font-size : 9pt;
	font-weight : bold;
}

TD.lightunbold {
	background-color: #CCCCCC;
	color:#333333;
	font-family : Arial, Geneva;
	font-size : 9pt;
	font-weight : normal;
}

TD.gray {
	background-color: #CCCCCC;
	color:#333333;
	font-family : Arial, Geneva;
	font-size : 9pt;
	font-weight : normal;
	font-style : italic;
}

TD.dark {
	background-color: #666666;
	color:#ffffff;
	font-family : Arial, Geneva;
	font-size : 9pt;
	font-weight : bold;
}

A.dark {
	background-color: #666666;
	color:#ff9900;
	font-family : Arial, Geneva;
	font-size : 9pt;
	font-weight : bold;
}

.error {
	font-family : Arial, Geneva;
	font-size : 9pt;
	color: #CC0000;
	font-weight: bold;
}

.required {
	font-family : Arial, Geneva;
	font-size : 9pt;
	color: #000099;
	font-weight: bold;
}
