/*
/////////////////////////////////////
BASE
/////////////////////////////////////
*/

body {
	margin:0px;
	padding:0px;
	background-color:#FFFFFF;
	text-align:center;
}

/* +++++++++++contents+++++++++++ */

#Wrapper {
	width:800px;
	margin:0px auto;
	padding:0px;
	background-image:url(../images/back_main.gif);
	background-repeat:repeat-y;
	text-align:center;
}

/* å©èoÇµ */
h1 {
	margin:0px;
	padding:0px;
}

h2 {
	display:block;
	width:551px;
	height:34px;
	margin:0px 0px 17px;
	padding:0px;
	text-indent:-9999px;
}

h3 {
	margin:0px 0px 3px;
	padding:0px 0px 0px 12px;
	background:url(../images/arrow.gif) no-repeat 0px 6px;
	font-size:13px;
	font-weight:bold;
	line-height:140%;
}

h4 {
	margin:0px 0px 5px;
	padding:0px;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	line-height:140%;
}

/* ÉäÉìÉN */
a:link {
	color:#000000;
	text-decoration:underline;
}

a:visited {
	color:#333333;
	text-decoration:underline;
}

a:hover {
	color:#999999;
	text-decoration:underline;
}

a:active {
	color:#666666;
	text-decoration:none;
}

/* âÊëú */
img {
	border:none;
	margin:0px;
	padding:0px;
}

alt {
	position:absolute;
	top:-5000px;
	left:-999px;
}

/* floatè¡ãé */
hr {
	display:none;
	clear:both;
}

/* floatè¡ãé */
.Clear {
	margin:0px;
	padding:0px;
	font-size:1px;
	text-indent:-9999px;
	clear:both;
}
/* MacIEÇ©ÇÁâBÇ∑ \*/
.Clear {
	font-size:0px;
}
/* */
