body { 
	background-image: url(../../common/img/bg_off01.jpg); 
	background-repeat: no-repeat; 
	background-position: center top; 
	background-attachment: fixed; 
}

#wrapper #contents #bodyBox {
	/*loat: left;*/
	width: 960px;
	position:relative;
	padding:0 0 45px 0;
}
#wrapper #contents #bodyBox h1 {
	position:relative;
	padding:33px 0 0 0;
	margin:0 0 0 40px;
	width:400px;
	float: left;
}


#wrapper #contents #bodyBox .tvcm {
	float: left;
	width: 274px;
}
#wrapper #contents #bodyBox .intro {
	width: 274px;
	float: left;
}
#wrapper #contents #bodyBox .opening {
	width: 274px;
	float: left;
}

/*
#wrapper #contents #bodyBox .tvcm {
	position:absolute;
	left:71px;
	top:181px;
	width: 275px;
}
#wrapper #contents #bodyBox .intro {
	position:absolute;
	left:344px;
	top:181px;
	width: 275px;
}
#wrapper #contents #bodyBox .opening {
	position:absolute;
	left:617px;
	top:181px;
	width: 275px;
}
*/

#wrapper #contents #bodyBox #btn_gotop {
	padding-top: 61px;
	width: 143px;
	padding-bottom: 30px;
	float: right;
	padding-right: 85px;
}
#wrapper #contents #bodyBox #thumbBox {
	position: relative;
	clear: both;
	padding-bottom: 10px;
}
#wrapper #contents #bodyBox .setBox {
	padding-left: 72px;
}

#wrapper #contents #bodyBox .rightBox {
	padding:0 0 0 75px;
}

#wrapper #contents #bodyBox .rightBox p.intro {
	padding-top:15px;
}

#wrapper #contents #bodyBox .rightBox p.opening {
	padding:15px 0 0 30px;
}



#wrapper #contents #bodyBox .setBox .title_in {
	padding-bottom: 17px;
}
#wrapper #contents #bodyBox noscript #non_js {
	padding-bottom: 25px;
	padding-left: 80px;
}


p#cation{
	width: 445px;
	line-height:16px;
	color:#0057a1;
	font-size:13px;
	padding-top: 45px;
	padding-left: 200px;
}
