@charset "utf-8";

/* ----------------------------------------------------
作成日: 2015.01.22
最終更新日: 2015.03.27

common.css： イースター設定(PC版)
---------------------------------------------------- */
.wrapper{
	padding-top:0;
}

.main{
	padding-bottom:64px;
}

.main h2,.main h3,.main h4{
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	width:864px;
	height:211px;
	background:url(../images/jp/title_windyhill_01.jpg) no-repeat;
	margin:0 auto;
	border-radius: 0;
}

.en .main h2{
	background:url(../images/en/title_windyhill_01.jpg) no-repeat;
}

.main h3.h3_01{
	background:url(../images/jp/title_windyhill_02.jpg) no-repeat;
	height:63px;
}

.en .main h3.h3_01{
	background:url(../images/en/title_windyhill_02.jpg) no-repeat;
}

.main h3.h3_02{
	background:url(../images/jp/title_windyhill_03.jpg) no-repeat;
	height:63px;
}

.en .main h3.h3_02{
	background:url(../images/en/title_windyhill_03.jpg) no-repeat;
}

.main h3.h3_03{
	background:url(../images/jp/title_windyhill_04.jpg) no-repeat;
	height:102px;
}

.en .main h3.h3_03{
	background:url(../images/en/title_windyhill_04.jpg) no-repeat;
}

.main h3.h3_04{
	background:url(../images/jp/title_windyhill_05.jpg) no-repeat;
	height:63px;
}

.en .main h3.h3_04{
	background:url(../images/en/title_windyhill_05.jpg) no-repeat;
}

.main h4.h4_01{
	background:url(../images/jp/title_windyhill_06.jpg) no-repeat;
	height:43px;
}

.en .main h4.h4_01{
	background:url(../images/en/title_windyhill_06.jpg) no-repeat;
}

.main h4.h4_02{
	background:url(../images/jp/title_windyhill_07.jpg) no-repeat;
	height:43px;
}

.en .main h4.h4_02{
	background:url(../images/en/title_windyhill_07.jpg) no-repeat;
}

.main img {
	width:864px;
	display:block;
	margin:0 auto;
}

.main img.img_01 {
	height:80px;
}

.main img.img_02 {
	height:252px;
}

.main img.img_03 {
	height:456px;
}

.main img.img_04 {
	height:414px;
}

.main img.img_05 {
	height:397px;
}

.main img.img_06 {
	height:374px;
}

.main img.img_07 {
	height:119px;
}

.main img.img_08 {
	height:973px;
}

.main img.img_09 {
	height:188px;
}