@charset "UTF-8";

body{
	margin:0px;
	padding:0px;
	color:#000000;
	font-size:12px;
	line-height:1.6em;
	font-family: "メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	background:#B8E1DD;
}

div, form, input, h1, h2, h3, h4, h5, h6, p, ul, li, ol, li, dl, dt, dd, hr{
	margin:0px;
	padding:0px;
}

ul{
	list-style:none;
}

img{
	border:none;
}

a:link, a:visited{
	color:#01a7d9;
	text-decoration:none;
}

a:hover, a:active{
	color:#01a7d9;
	text-decoration:underline;
}


#header {
	padding: 20px 0px 0px;
	text-align: center;
}

h1 {
	position: relative;
	padding: 8px 0px 0px 22px;
	height: 20px;
	line-height: 1.1;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
}

#DetailGeneral h1 { background: url(../../img/bg_general.jpg) no-repeat; }
#DetailSales h1 { background: url(../../img/bg_sales.jpg) no-repeat; }
#DetailSchool h1 { background: url(../../img/bg_school.jpg) no-repeat; }
#DetailFamily h1 { background: url(../../img/bg_family.jpg) no-repeat; }
#DetailSmartSocial h1 { background: url(../../img/bg_smart.jpg) no-repeat; }
#DetailPC h1 { background: url(../../img/bg_pc.jpg) no-repeat; }
#DetailDevice h1 { background: url(../../img/bg_device.jpg) no-repeat; }
#DetailAsia h1 { background: url(../../img/bg_business.jpg) no-repeat; }
#DetailSolution h1 { background: url(../../img/bg_business.jpg) no-repeat; }
#DetailCloud h1 { background: url(../../img/bg_business.jpg) no-repeat; }
#DetailMeeting h1 { background: url(../../img/bg_business.jpg) no-repeat; }


h1 span {
	position: absolute;
	display: block;
	right: 5px;
	top: 5px;
	line-height: 1.1;
	text-align: right;
	font-weight: normal;
	font-size: 10px;
}

h1 span em {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 14px;
}


h2 {
	padding: 3px 0px 3px 22px;
	font-weight: bold;
	font-size: 12px;
}

#DetailGeneral h2 { background: #FDEAF0; }
#DetailSales h2 { background: #FDE5E1; }
#DetailSchool h2 { background: #E1F2CF; }
#DetailFamily h2 { background: #CDEDF4; }
#DetailSmartSocial h2 { background: #DEDEDE; }
#DetailPC h2 { background: #FBF1D7; }
#DetailDevice h2 { background: #96EDE4; }
#DetailAsia h2 { background: #ECDEF2; }
#DetailSolution h2 { background: #ECDEF2; }
#DetailCloud h2 { background: #ECDEF2; }
#DetailMeeting h2 { background: #ECDEF2; }

.alt{
	position:absolute;
	top:-3000px;
	left:-3000px;
}

.clear{
	overflow:hidden;
}


#container{
	width:530px;
}

#mainArea{
	margin:0 10px 10px 10px;
	padding:12px;
	background:#fff url(../img/bg_list-popup-end.jpg) no-repeat center bottom;
}

h3 {
	margin: 5px 0px 12px;
	padding: 5px 0px 10px 22px;
	border-bottom:1px dotted #666;
	font-weight: bold;
	font-size: 14px;
}

p {
	border-bottom:1px dotted #666;
	padding: 0px 22px 10px;
	font-size: 12px;
}

ul {
	border-bottom:1px dotted #666;
	background: url(../../img/arrow_right-blue.jpg) no-repeat 10px 16px;
	margin: 0px 0px 10px;
	padding: 10px 22px 10px;
	font-size: 12px;
}

table {
	margin: 0px 0px 20px;
}

table th {
	background: url(../img/mark_circle-black.jpg) no-repeat 18px 8px;
	padding: 5px 5px 5px 28px;
	line-height: 1.1;
	text-align: left;
	width: 80px;
}

table td {
	padding: 5px 0px;
	line-height: 1.1;
	text-align: left;
}

#mainArea #footer{
	overflow:hidden;
	_zoom:1;
}

#mainArea #footer #copy{
	float:left;
	width:355px;
	font-size:11px;
	line-height:1.4em;
}

#mainArea #footer #link{
	float:left;
	width:131px;
}

#navi{
	width:530px;
	text-align:center;
	padding-bottom:10px;
}

#navi a{
	margin:0 auto;
	display:block;
	width:122px;
	height:26px;
	background:url(../img/b_close.gif) 0 0 no-repeat;
}

#navi a:hover{
	background:url(../img/b_close.gif) 0 -26px no-repeat;
}
