@charset "UTF-8";
/* contents-movie  ===================================================== */
#contents-stage{

}

#contents-stage #slideLink{
	display:none;
}

#contents-stage #slideTarget{
	margin:0 auto;
	padding:0;
	width:310px;
}


#contents-stage #slideTarget li{
	margin:0 0 1em;
	padding:3px;
	
}

#contents-stage #slideTarget li h2,
#contents-stage #slideTarget li p{
	margin:0;
	padding:0;
}

#contents-stage #slideTarget div.bgP{
	margin:0 0 1em;
	padding:5px;
	background:url(../../../../common/css/mobile/common-contents/bgP.gif);
	border-radius: 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
	border:2px solid #000;
}


#contents-stage #slideTarget div.bgP .originalStage{
	float:right;
}

#contents-stage #slideTarget div.bgP h3{
	width:auto;
	float:none;
	font-weight:bold;
	background:#feff03;
	border-left:#f00 solid 5px;
	border-radius: 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
	padding:0 1em;
	margin:0 0 0.5em;
}

#contents-stage #slideTarget li dl dt{
	clear:both;
	color:#fff;
	background:#000;
	border-radius: 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
	padding:0 1em;
	margin:0 0 0.5em;
}

#contents-stage #slideTarget li dl dd{
	float:left;
	padding:0;
	margin:0;
}