/* all-header     ===================================================== */
#all-header{
	background:url(all-header/all-header_bg.png) repeat-x top center;
	height:385px;
}

* html #all-header{ /* IE6 PNG ALPHA */
	behavior: expression(IEPNGFIX.fix(this));
} 

#all-header h1{
	background:url(all-header/h1_bg.jpg) no-repeat center top;
}