@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
	contents
---------------------------------------- */

a {
	color: #00b4dc;
}

#gnav {
    background: url(../img/buyer_attention/gnav_bg.png) repeat-x;
}

#bnr {
	background: #00b4dc;
}

#container {
    background: url(../img/buyer_attention/container_bg_body.gif) repeat;
}

section {
	border-bottom: 1px solid #00b4dc;
}
section:last-child {
	border-bottom: none;
}

section h3 {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5;
	color: #00b4dc;
}
section h3.sp {
	display: none;
}

section ul {
    width: 650px;
}
section li {
    margin-top: 20px;
    margin-right: 8px;
    float: left;
}

section p {
	text-indent: -1em;
	padding-left: 1em;
}
section .content-image {
	margin: 20px 0;
	text-align: center;
}

.colorBlue {
	color: #00b4dc;
	font-weight: bold;
}
.colorPink {
	color: #ff5064;
}