@charset "utf-8";
/* CSS Document */

/* ----------------------------------------
	contents
---------------------------------------- */
a {
	color: #ff9600;
}

#gnav {
    background: url(../img/hallmap/gnav_bg.png) repeat-x;
}

#container {
    background: url(../img/index/container_bg_body.gif) repeat;
}

#bnr {
	background: #ff9600;
}

section dl {
	position: relative;
}
section dt {
	position: absolute;
	left: 30px;
}
section dd {
	display: block;
	padding: 0 0 10px 147px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;
}

.day {
	font-weight: bold;
}
.day dt {
	left: 0;
	width: 125px;
    text-align: right;
}
.day dd {
	padding-left: 160px;
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

section dd:last-child {
	padding-bottom: 0;
	border: none;
}

span.colorBlue {
	color: #00b4dc;
	font-weight: bold;
}
span.colorPink {
	color: #ff5064;
	font-weight: bold;
}

section > p {
	margin: 20px 0;
}

section.index_1 > p span {
	color: #FF9600;
	font-size: 18px;
	display: block;
}

section .button_area {
		width: 400px;
		margin: 20px auto;
}

section .button_area img {
	margin-bottom: 10px;
}

section.index_2 > p span {
	font-weight: bold;
	display: block;
}