body { 
	background-image: url(../../common/img/bg_off01.jpg); 
	background-repeat: no-repeat; 
	background-position: center top; 
	background-attachment: fixed; 
}

#wrapper #contents #bodyBox {
	/*loat: left;*/
	width: 851px;
	position:relative;
	padding:0 0 20px 0;
	margin:0 auto;
}
/*img {
	vertical-align: baseline;
	display: block;
}*/
#wrapper #contents #bodyBox h1 {
	float:left;
	display:block;
	margin: 0px;
	padding: 63px 0 56px 0;
}
#wrapper #contents #bodyBox .main-img {
	float:right;
	display:block;
	margin: 0px;
	padding: 59px 0 0 0;
	width:365px;
}
#wrapper #contents #bodyBox .section {
	width:825px;
	margin: 0px;
	padding: 0 0 0 12px;
}
#wrapper #contents #bodyBox ul {
	width:auto;
	padding:0;
	margin:0;
}
#wrapper #contents #bodyBox li {
	float:left;
	display:block;
}