body {
	font-family:"‚l‚r ƒSƒVƒbƒN", "Osaka|“™•";
	margin: 0px;
	color:#666666;
	background:url(../img/bg.jpg) repeat-x center top;
}

td {
	text-align:center;
	font-size:8pt;
}

.now {
	color:#333333;
}


td a:link {
	color: #666666;
}
td a:visited {
	color: #666666;
}
td a:hover {
	color: #0099cc;
}
td a:active {
	color: #0099cc;
}