body,h1{margin:0;	padding:0; color:#333;}
p{
	margin:0 0 1em 1em;
	font-size:small;
}
textarea{margin:0 0 1em 1em;}
form{ margin:0 0 1em 0;}
h2{
	margin:0 0 0.5em 1em;
	font-size:small;
	font-weight:normal;
}

.box-blue{
	margin:1em;
	padding:0.5em;
	background:#9FD0F4;
}
.box-blue p{
	margin:0 0 0.5em 0;
}
.txt-xsmall {
	font-size: 73%;
}
.txt-orange {font-size: 80%; color: #F90; }
.txt-center {text-align:center;}

a {
	color: #0080F8;
	font-weight: bold;
}
a:link {
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #0080F8;
}
a:hover {
	font-weight: bold;
	text-decoration: underline;
	color: #00A5FA;
}
a:active {
	font-weight: bold;
	text-decoration: none;
	color: #0080F8;
}