/* CSS Document */

.list_text {
padding-left:8px;
line-height:22px;
font-size:12px;
color:#444444;
}

.list_text a:link,
.list_text a:visited,
.list_text a:hover {
    color: #444444;
}

div.list_text a:link,
div.list_text a:visited,
.list_text a:hover {
    color: #008cd6;
}

.list_text a:link,
.list_text a:visited {
    text-decoration: none;
}
.list_text a:hover {
    text-decoration:underline;
}

.list_title {
	color: #FFFFFF;
	font-size: 16px;
	line-height:24px;
	font-weight: bold;	
}

.left_table {
    background-color:#e7f6ff;
	text-align:center;
	vertical-align:top;
	color: #023894;
	font-size: 12px;
	line-height:16px;
	padding-top:10px;
	font-weight: bold;	
}

.right_table {
     color:#000000;
	 font-size:12px;
	 line-height:16px;
	 padding-left:10px;
	 padding-bottom:10px;
	 padding-top:10px;
}

.access_text {
     color: #000000;
	 font-size:11px;
	 line-height:15px;
}

.ippan_text_red {
	font-size: 10px;
	color: #ff3333;
}

.ippan_event_title {
	color: #ff6c2b;
	font-size: 14px;
	font-weight: bold;
	line-height:18px;
}

.ippan_event_booth {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	line-height:28px;
}
.ippan_event_booth a:link{color:#FFFFFF;text-decoration:underline;}
.ippan_event_booth a:visited{color:#FFFFFF;text-decoration:underline;}
.ippan_event_booth a:hover{color:#FFFFFF;text-decoration:underline;}

.ippan_link {
font-size:12px;
color:#3366ff;
text-decoration:underline;
}
.ippan_link a:link{color:#3366ff;text-decoration:underline}
.ippan_link a:visited{color:#3366ff;text-decoration:underline;}
.ippan_link a:hover{color:#3366ff;text-decoration:underline;}

.ippan_header_padding {
padding-left:15px;
padding-top:15px;
padding-right:16px; 
}

.leftparts {
	background-image:url(../img2009/access/left_parts2.gif);
	background-repeat:repeat-y;
}

.rightparts {
	background-image:url(../img2009/access/right_parts2.gif);
	background-repeat:repeat-y;
}

.outline_subtitle {
	margin:60px 0 12px 0
}
.outline_btn {
	margin-right:4px;
}

.red_text {color:#FF0000;}

div.quotation_outline {
	color:#FF0000;
	font-size:12px;
	padding:5px 0 50px 0;
}

td.outline_intitle {
	color:#023894;
	font-size:14px;
	padding:15px 19px 15px 19px;
}

td.outline_contents {
	color:#000000;
	font-size:12px;
	padding:0 19px 19px 19px;
}

td.outline_contents2_left {
	color:#000000;
	font-size:12px;
	padding:14px 0 0 14px;
}

td.outline_contents2_right {
	color:#000000;
	font-size:12px;
	padding-top:14px;
}

table.outline_en a:link{color:#3366ff;text-decoration:underline}
table.outline_en a:visited{color:#3366ff;text-decoration:underline;}
table.outline_en a:hover{color:#3366ff;text-decoration:underline;}

table.hold_contents {
	color:#000000;
	font-size:12px;
	line-height:1.6;
}
