/* Begin Side Navigation Area*/
    /* Arrow Column */
    #RightSideNavigation {
	width:203px;
	}    
    #RightSideNavigationArrows {
	width:28px;
	}        
    #SideNavCorner1{
    position:absolute;
    padding-bottom:10px;
    background-color:#57666F;
	top:0px;  
    }         
    #SideNavCorner2{
    position:absolute;
    background-color:#ED6003;
    padding-bottom:109px;
	top:57px;  
    }
    #SideNavCorner3{
    position:absolute;
	top:186px;  
    }   
    #E3NewsArrrow{
    position:absolute;
    padding-left:11px;
	top:38px;
    background-color:#57666F;  
    }      
    #LoginArrrow{
    position:absolute;
    padding-left:11px;
	top:184px;  
    } 
    #LinkArrow1{
    position:absolute;
    padding-left:11px;
	top:231px;  
    }
    #LinkArrow2{
    position:absolute;
    padding-left:11px;
	top:266px;  
    }
    #LinkArrow3{
    position:absolute;
    padding-left:11px;
	top:301px;  
    }
    #LinkArrow4{
    position:absolute;
    padding-left:11px;
	top:336px;  
    }  
    
    /* Primary Column */
   #GreyHeader{
    position:absolute;
	height:28px;
    width:203px;
    background-color:#718893;  
    }
   #SideNavOrangeBackground{
    position:absolute;
    margin-top:88px;
	height:137px;
    width:203px;
    background-color:#ED6003;  
    }        
   #E3News{
    position:absolute;
    padding-left:23px;
    padding-top:38px;
    padding-right:89px;
    padding-bottom:17px;    
    background-color:#57666F;  
    }
   #LoginTitle{
    position:absolute;
    margin-left:23px;
    margin-top:97px;   
    background-color:#ED6003;  
    }     
    #UserNameLabel{
    position:absolute;
    margin-left:24px;
    margin-top:126px;
    width:80px;
    font-family:verdana; 
    font-size:9px; 
    font-weight:normal;
    background-color:#ED6003;
    letter-spacing:1px; 
    color:#303A41;
  }     
    #PasswordLabel{
    position:absolute;
    margin-left:24px;
    margin-top:162px;
    background-color:#ED6003;
    font-family:verdana; 
    font-size:9px; 
    font-weight:normal;
    letter-spacing:1px;     
    color:#303A41;
  }  
    #LoginUserName{
    position:absolute;
    top:140px;
    width:108px;
    height:13px;
    margin-left: 24px;
    font-family:verdana; 
    font-size:9px; 
    font-weight:normal;     
    color:#303A41;    
  }   
    #LoginPassword{
    position:absolute;
    top:176px;
    width:108px;
    height:13px;
    margin-left: 24px;
    font-family:verdana; 
    font-size:9px; 
    font-weight:normal;     
    color:#303A41;    
  }  
      
    #Login{
    position:absolute;
    margin-left:23px;
    margin-top:203px;
  } 
    #SideLink1{
    position:absolute;
    margin-left:23px;
    margin-top:240px;
  }   
    #SideLink2{
    position:absolute;
    margin-left:23px;
    margin-top:275px;    
  }                       
    #SideLink3{
    position:absolute;
    margin-left:23px;
    margin-top:310px;
  }   
  
    #SideLink4{
    position:absolute;
    margin-left:23px;
    margin-top:345px;    
  } 
  
    #Divider1{
    position:absolute;
    margin-left:23px;
    margin-top:262px;   
  }
    #Divider2{
    position:absolute;
    margin-left:23px;
    margin-top:297px;    
  }
    #Divider3{
    position:absolute;
    margin-left:23px;
    margin-top:333px;   
  }      
  
  a.SideLink{
    font-family:verdana; 
    font-size:10px; 
    font-weight:normal;     
    color:#ffffff;
    text-decoration:none;
    vertical-align:top;
    text-transform: uppercase;
  }
    
  a.SideLink:Hover{
    font-family:verdana; 
    font-size:10px; 
    font-weight:normal;     
    color:#FFD000; 
    text-decoration:none;
    vertical-align:top;
    text-transform: uppercase;
  }
       
  /* End Side Navigation Area*/ 